<section>
    <div class="row">
        <div class="col-md-9">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h1 style="font-size: xx-large;"><b>Eventos Realizados el Mes de Septiembre 2017</b></h1>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            <article>
                                <div class="panel panel-success">
                                    <div class="panel-heading">
                                        <b>4ta. Reunión de Cultura Regional .:. H. Ayuntamiento de San Lucas, Mich.</b>
                                    </div>
                                    <time datetime="2017-09-01" style="color:grey;text-align:justify;">
                                        publicado el viernes, 1 de septiembre de 2017.
                                    </time>
                                    <div class="panel-body">
                                        <div class="col-lg-4" style="padding:20px;">
                                            <figure>
                                                <a href="Libreria/img/2017/sep/cultura/img1.jpg" target="_blank">
                                                    <img src="Libreria/img/2017/sep/cultura/img1.jpg" class="thumbnail img-responsive" alt="img" />
                                                </a>
                                            </figure>
                                        </div>
                                        <div class="col-lg-4" style="padding:20px;">
                                            <figure>
                                                <a href="Libreria/img/2017/sep/cultura/img2.jpg" target="_blank">
                                                    <img src="Libreria/img/2017/sep/cultura/img2.jpg" class="thumbnail img-responsive" alt="img" />
                                                </a>
                                            </figure>
                                        </div>
                                        <div class="col-lg-4">
                                        <p style="padding:20px; text-align:justify;">
                                            <b>
                                                Participación en 4ta. Reunión Regional de Cultura, realizada en Pista "Las Camelinas", donde asistieron diferentes ubicaciones de Casas de la Cultura de la Región VIII de Tierra Caliente.
                                            </b>
                                        </p>
                                        </div>
                                    </div>
                                </div>
                            </article>
                            <article>
                                <div class="panel panel-success">
                                    <div class="panel-heading">
                                        <b>Cumplimiento del Plan de Desarrollo Municipal.:. H. Ayuntamiento de San Lucas, Mich.</b>
                                    </div>
                                    <time datetime="2017-09-01" style="color:grey;text-align:justify;">
                                        publicado el viernes 1 de septiembre de 2017.
                                    </time>
                                    <div class="panel-body">
                                        <div class="col-lg-3" style="padding:20px;">
                                            <figure>
                                                <a href="Libreria/img/2017/sep/desarrollo/img1.jpg" target="_blank">
                                                    <img src="Libreria/img/2017/sep/desarrollo/img1.jpg" class="thumbnail img-responsive" alt="img" />
                                                </a>
                                            </figure>
                                            <figure>
                                                <a href="Libreria/img/2017/sep/desarrollo/img2.jpg" target="_blank">
                                                    <img src="Libreria/img/2017/sep/desarrollo/img2.jpg" class="thumbnail img-responsive" alt="img" />
                                                </a>
                                            </figure>
                                        </div>
                                        <div class="col-lg-6">
                                        <p style="padding:20px; text-align:justify;">
                                            <b>
                                                En la disposición de dar cumplimiento a lo establecido en el Plan de Desarrollo Municipal en su eje rector relativo al Desarrollo Social en el rubro de apoyos institucionales, se esta apoyando con transporte para estudiantes de los niveles superior, medio superior y escuela especial, ateniendo un aproximado de 200 jovenes de las comunidades de Corral Viejo, Terrero Prieto, Angao, Tirinchicuas, La Estancia, La Cuchilla y Las Paredes. El C. Arturo Torres Aguirre Presidente Municipal de San Lucas realiza previas reuniones con padres de familia definiendo intereses comunitarios.
                                            </b>
                                        </p>
                                        </div>
                                        <div class="col-lg-3" style="padding:20px;">
                                            <figure>
                                                <a href="Libreria/img/2017/sep/desarrollo/img3.jpg" target="_blank">
                                                    <img src="Libreria/img/2017/sep/desarrollo/img3.jpg" class="thumbnail img-responsive" alt="img" />
                                                </a>
                                            </figure>
                                            <figure>
                                                <a href="Libreria/img/2017/sep/desarrollo/img4.jpg" target="_blank">
                                                    <img src="Libreria/img/2017/sep/desarrollo/img4.jpg" class="thumbnail img-responsive" alt="img" />
                                                </a>
                                            </figure>
                                        </div>
                                    </div>
                                </div>
                            </article>
                            <article>
                                <div class="panel panel-success">
                                    <div class="panel-heading">
                                        <b>Banderazo de Arranque de Obra en Loc. de Salguero .:. H. Ayuntamiento de San Lucas, Mich.</b>
                                    </div>
                                    <time datetime="2017-09-01" style="color:grey;text-align:justify;">
                                        publicado el viernes 1 de septiembre de 2017.
                                    </time>
                                    <div class="panel-body">
                                        <div class="col-lg-4">
                                        <p style="padding:20px; text-align:justify; font-size: 17px;">
                                            <b>
                                                El presidente municipal de San Lucas, C. Arturo Torres Aguirre, en compañía de equipo de trabajo encabezó el arranque de obra en construcción de concreto asfáltico en Calle Miguel Hidalgo de localidad de Salguero, beneficiando más de 890 personas, entre alumnos de la comunidad.
                                            </b>
                                        </p>
                                        </div>
                                        <div class="col-lg-4" style="padding:20px;">
                                            <figure>
                                                <a href="Libreria/img/2017/sep/obra_salguero/img1.jpg" target="_blank">
                                                    <img src="Libreria/img/2017/sep/obra_salguero/img1.jpg" class="thumbnail img-responsive" alt="img" />
                                                </a>
                                            </figure>
                                            <figure>
                                                <a href="Libreria/img/2017/sep/obra_salguero/img2.jpg" target="_blank">
                                                    <img src="Libreria/img/2017/sep/obra_salguero/img2.jpg" class="thumbnail img-responsive" alt="img" />
                                                </a>
                                            </figure>
                                        </div>
                                        <div class="col-lg-4" style="padding:20px;">
                                            <figure>
                                                <a href="Libreria/img/2017/sep/obra_salguero/img3.jpg" target="_blank">
                                                    <img src="Libreria/img/2017/sep/obra_salguero/img3.jpg" class="thumbnail img-responsive" alt="img" />
                                                </a>
                                            </figure>
                                            <figure>
                                                <a href="Libreria/img/2017/sep/obra_salguero/img4.jpg" target="_blank">
                                                    <img src="Libreria/img/2017/sep/obra_salguero/img4.jpg" class="thumbnail img-responsive" alt="img" />
                                                </a>
                                            </figure>
                                        </div>
                                    </div>
                                </div>
                            </article>
                            <article>
                                <div class="panel panel-success">
                                    <div class="panel-heading">
                                        <b>Banderazo de Arranque de Obra en Loc. El Cuajilote .:. H. Ayuntamiento de San Lucas, Mich.</b>
                                    </div>
                                    <time datetime="2017-09-01" style="color:grey;text-align:justify;">
                                        publicado el viernes 1 de septiembre de 2017.
                                    </time>
                                    <div class="panel-body">
                                        <div class="col-lg-4">
                                        <figure>
                                                <a href="Libreria/img/2017/sep/obra_cuajilote/img1.jpg" target="_blank">
                                                    <img src="Libreria/img/2017/sep/obra_cuajilote/img1.jpg" class="thumbnail img-responsive" alt="img" />
                                                </a>
                                            </figure>
                                        </div>
                                        <div class="col-lg-4">
                                            <figure>
                                                <a href="Libreria/img/2017/sep/obra_cuajilote/img2.jpg" target="_blank">
                                                    <img src="Libreria/img/2017/sep/obra_cuajilote/img2.jpg" class="thumbnail img-responsive" alt="img" />
                                                </a>
                                            </figure>
                                        </div>
                                        <div class="col-lg-4">
                                            <figure>
                                                <a href="Libreria/img/2017/sep/obra_cuajilote/img3.jpg" target="_blank">
                                                    <img src="Libreria/img/2017/sep/obra_cuajilote/img3.jpg" class="thumbnail img-responsive" alt="img" />
                                                </a>
                                            </figure>
                                        </div>
                                        <p style="padding:20px; text-align:justify;">
                                            <b>
                                                En compañía de vecinos de localidad de El Cuajilote, Regidores y el C. Arturo Torres Aguirre presidente municipal de San Lucas, dío banderazo de arranque de obra en construcción de concreto asfáltico en calle 2017/sep.
                                            </b>
                                        </p>
                                    </div>
                                </div>
                            </article>
                            <article>
                                <div class="panel panel-success">
                                    <div class="panel-heading">
                                        <b>Al Servicio de Familias Afectadas por las Fuertes Lluvias .:. H. Ayuntamiento de San Lucas, Mich.</b>
                                    </div>
                                    <time datetime="2017-09-05" style="color:grey;text-align:justify;">
                                        publicado el martes 5 de septiembre de 2017.
                                    </time>
                                    <div class="panel-body">
                                    <div class="row">
                                        <div class="col-lg-6">
                                          <p style="padding:20px; text-align:justify; font-size: 22px;">
                                            <b>
                                                Ante contingencia por lluvias y apertura de las compuertas de la Presa "El Caracol" el presidente de San Lucas C. Arturo Torres Aguirre realizo recorrido por colonias afectadas en la cabecera municipal, externando su apoyo y recomendado precuación.
                                            </b>
                                        </p>  
                                        </div>
                                        <div class="col-lg-6">
                                        <figure>
                                                <a href="Libreria/img/2017/sep/alerta_lluvia/img1.jpg" target="_blank">
                                                    <img src="Libreria/img/2017/sep/alerta_lluvia/img1.jpg" class="thumbnail img-responsive" alt="img" />
                                                </a>
                                            </figure>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <figure>
                                                <a href="Libreria/img/2017/sep/alerta_lluvia/img2.jpg" target="_blank">
                                                    <img src="Libreria/img/2017/sep/alerta_lluvia/img2.jpg" class="thumbnail img-responsive" alt="img" />
                                                </a>
                                            </figure>
                                        </div>
                                        <div class="col-lg-6">
                                            <figure>
                                                <a href="Libreria/img/2017/sep/alerta_lluvia/img3.jpg" target="_blank">
                                                    <img src="Libreria/img/2017/sep/alerta_lluvia/img3.jpg" class="thumbnail img-responsive" alt="img" />
                                                </a>
                                            </figure>
                                        </div>
                                    </div>
                                    </div>
                                </div>
                            </article>
                            <article>
                                <div class="panel panel-success">
                                    <div class="panel-heading">
                                        <b>Recorrido a Localidades Afectadas por las Fuertes Lluvias  .:. H. Ayuntamiento de San Lucas, Mich.</b>
                                    </div>
                                    <time datetime="2017-09-05" style="color:grey;text-align:justify;">
                                        publicado el martes 5 de septiembre de 2017.
                                    </time>
                                    <div class="panel-body">
                                    <div class="row">
                                        <div class="col-lg-8">
                                        <figure>
                                                <a href="Libreria/img/2017/sep/recorrido/img1.jpg" target="_blank">
                                                    <img src="Libreria/img/2017/sep/recorrido/img1.jpg" class="thumbnail img-responsive" alt="img" />
                                                </a>
                                            </figure>
                                        </div>
                                        <div class="col-lg-4">
                                          <p style="padding:20px; text-align:justify; font-size: 20px;">
                                            <b>
                                                Realiza el C. Arturo Torres Aguirre Presidente Municipal de San Lucas un recorrido a las comunidades, localidades que fueron afectadas por reciente contingencia de lluvia.
                                            </b>
                                        </p>  
                                        </div>
                                    </div>
                                    
                                        <div class="row">
                                        <div class="col-lg-4">
                                            <figure>
                                                <a href="Libreria/img/2017/sep/recorrido/img2.jpg" target="_blank">
                                                    <img src="Libreria/img/2017/sep/recorrido/img2.jpg" class="thumbnail img-responsive" alt="img" />
                                                </a>
                                            </figure>
                                        </div>
                                        <div class="col-lg-4">
                                            <figure>
                                                <a href="Libreria/img/2017/sep/recorrido/img3.jpg" target="_blank">
                                                    <img src="Libreria/img/2017/sep/recorrido/img3.jpg" class="thumbnail img-responsive" alt="img" />
                                                </a>
                                            </figure>
                                        </div>
                                        <div class="col-lg-4">
                                            <figure>
                                                <a href="Libreria/img/2017/sep/recorrido/img4.jpg" target="_blank">
                                                    <img src="Libreria/img/2017/sep/recorrido/img4.jpg" class="thumbnail img-responsive" alt="img" />
                                                </a>
                                            </figure>
                                        </div>
                                    </div>
                                    </div>
                                </div>
                            </article>
                            <article>
                                <div class="panel panel-success">
                                    <div class="panel-heading">
                                        <b>Entrega de Paquetes de Jardineria .:. H. Ayuntamiento de San Lucas, Mich.</b>
                                    </div>
                                    <time datetime="2017-09-08" style="color:grey;text-align:justify;">
                                        publicado el viernes 8 de septiembre de 2017.
                                    </time>
                                    <div class="panel-body">
                                        
                                        <div class="col-lg-12">
                                        <p style="padding:20px; text-align:justify;">
                                            <b>
                                                Presidente Municipal de San Lucas, C. Arturo Torres Aguirre hace entrega de 85 paquetes de jardinería y albañilería, apoyo gestionado a través de Departamento de Desarrollo Rural.
                                            </b>
                                        </p><center>
                                            <figure>
                                                <a href="Libreria/img/2017/sep/paquete/img1.jpg" target="_blank">
                                                    <img src="Libreria/img/2017/sep/paquete/img1.jpg" class="thumbnail img-responsive" alt="img" />
                                                </a>
                                            </figure></center>
                                        </div>
                                    </div>
                                </div>
                            </article>
                            <article>
                                <div class="panel panel-success">
                                    <div class="panel-heading">
                                        <b>Obra de Construcción en Loc. Cuauhtemoc .:. H. Ayuntamiento de San Lucas, Mich.</b>
                                    </div>
                                    <time datetime="2017-09-08" style="color:grey;text-align:justify;">
                                        publicado el viernes 8 de septiembre de 2017.
                                    </time>
                                    <div class="panel-body">
                                        <div class="row">
                                        <div class="col-lg-4">
                                            <figure>
                                                <a href="Libreria/img/2017/sep/obra_cuauhtemoc/img1.jpg" target="_blank">
                                                    <img src="Libreria/img/2017/sep/obra_cuauhtemoc/img1.jpg" class="thumbnail img-responsive" alt="img" />
                                                </a>
                                            </figure>
                                        </div>
                                        <div class="col-lg-4">
                                            <p style="padding:20px; text-align:justify;">
                                            <b>
                                                Presidente Municipal de San Lucas, C. Arturo Torres Aguirre
                                                acompañado de Regidores y Directores, llevó a cabo
                                                el corte del listón inaugural de la construcción de la cancha
                                                de fútbol en localidad de Cuauhtèmoc.
                                            </b>
                                        </div>
                                        <div class="col-lg-4">
                                            <figure>
                                                <a href="Libreria/img/2017/sep/obra_cuauhtemoc/img2.jpg" target="_blank">
                                                    <img src="Libreria/img/2017/sep/obra_cuauhtemoc/img2.jpg" class="thumbnail img-responsive" alt="img" />
                                                </a>
                                            </figure>
                                        </div>
                                    </div>
                                    </div>
                                </div>
                            </article>
                            <article>
                                <div class="panel panel-success">
                                    <div class="panel-heading">
                                        <b>Supervisión de Obras en Diferentes Localidades .:. H. Ayuntamiento de San Lucas, Mich.</b>
                                    </div>
                                    <time datetime="2017-09-11" style="color:grey;text-align:justify;">
                                        publicado el lunes, 11 de septiembre de 2017.
                                    </time>
                                    <div class="panel-body">
                                        <div class="row">
                                        <p style="padding:20px; text-align:justify; font-size: 20px;">
                                            <b>
                                                Presidente Municipal de San Lucas C. Arturo Torres Aguirre hace recorrido, supervisando obras en las localidades de Salguero, San Nicolas y El Cuajilote, visita viviendas que sufrieron daños por recientes inundaciones.
                                            </b>
                                        </p>
                                        <div class="col-lg-4">
                                            <figure>
                                                <a href="Libreria/img/2017/sep/supervision/img1.jpg" target="_blank">
                                                    <img src="Libreria/img/2017/sep/supervision/img1.jpg" class="thumbnail img-responsive" alt="img" />
                                                </a>
                                            </figure>
                                        </div>
                                        <div class="col-lg-4">
                                            <figure>
                                                <a href="Libreria/img/2017/sep/supervision/img2.jpg" target="_blank">
                                                    <img src="Libreria/img/2017/sep/supervision/img2.jpg" class="thumbnail img-responsive" alt="img" />
                                                </a>
                                            </figure>
                                        </div>
                                        <div class="col-lg-4">
                                            <figure>
                                                <a href="Libreria/img/2017/sep/supervision/img3.jpg" target="_blank">
                                                    <img src="Libreria/img/2017/sep/supervision/img3.jpg" class="thumbnail img-responsive" alt="img" />
                                                </a>
                                            </figure>
                                        </div>
                                    </div>
                                    </div>
                                </div>
                            </article>
                            <article>
                                <div class="panel panel-success">
                                    <div class="panel-heading">
                                        <b>Entrega de Apoyos para Transporte de Estudiantes .:. H. Ayuntamiento de San Lucas, Mich.</b>
                                    </div>
                                    <time datetime="2017-09-12" style="color:grey;text-align:justify;">
                                        publicado el martes, 12 de septiembre de 2017.
                                    </time>
                                    <div class="panel-body">
                                        <div class="row">
                                        <p style="padding:20px; text-align:justify; font-size: 20px;">
                                            <b>
                                                Presidente de San Lucas C. Arturo Torres Aguirre, hace entrega de apoyo para transporte a estudiantes de los niveles superior, medio superior y escuela especial, a jóvenes de las comunidades de Corral Viejo, Terrero Prieto, Angao, Tirinchicuas, La Estancia, La Cuchilla y Las Paredes.
                                            </b>
                                        </p>  
                                        <div class="col-lg-4">
                                            <figure>
                                                <a href="Libreria/img/2017/sep/estudiantes/img1.jpg" target="_blank">
                                                    <img src="Libreria/img/2017/sep/estudiantes/img1.jpg" class="thumbnail img-responsive" alt="img" />
                                                </a>
                                            </figure>
                                        </div>
                                        <div class="col-lg-4">
                                            <figure>
                                                <a href="Libreria/img/2017/sep/estudiantes/img2.jpg" target="_blank">
                                                    <img src="Libreria/img/2017/sep/estudiantes/img2.jpg" class="thumbnail img-responsive" alt="img" />
                                                </a>
                                            </figure>
                                        </div>
                                        <div class="col-lg-4">
                                            <figure>
                                                <a href="Libreria/img/2017/sep/estudiantes/img3.jpg" target="_blank">
                                                    <img src="Libreria/img/2017/sep/estudiantes/img3.jpg" class="thumbnail img-responsive" alt="img" />
                                                </a>
                                            </figure>
                                        </div>
                                    </div>
                                    </div>
                                </div>
                            </article>
                            <article>
                                <div class="panel panel-success">
                                    <div class="panel-heading">
                                        <b>Banderazo de Arranque de la Construcción de Sanitarios .:. H. Ayuntamiento de San Lucas, Mich.</b>
                                    </div>
                                    <time datetime="2017-09-12" style="color:grey;text-align:justify;">
                                        publicado el martes, 12 de septiembre de 2017.
                                    </time>
                                    <div class="panel-body">
                                        <div class="row">
                                        <p style="padding:20px; text-align:justify; font-size: 20px;">
                                            <b>
                                                En localidad de San Nicolas, presidente municipal de San Lucas, C. Arturo Torres Aguirre dio banderazo de construcción de sanitarios en Esc. Primaria Adolfo Lopez Mateos.
                                            </b>
                                        </p>
                                        <div class="col-lg-6">
                                            <figure>
                                                <a href="Libreria/img/2017/sep/sanitarios/img1.jpg" target="_blank">
                                                    <img src="Libreria/img/2017/sep/sanitarios/img1.jpg" class="thumbnail img-responsive" alt="img" />
                                                </a>
                                            </figure>
                                        </div>
                                        <div class="col-lg-6">
                                            <figure>
                                                <a href="Libreria/img/2017/sep/sanitarios/img2.jpg" target="_blank">
                                                    <img src="Libreria/img/2017/sep/sanitarios/img2.jpg" class="thumbnail img-responsive" alt="img" />
                                                </a>
                                            </figure>
                                        </div>
                                    </div>
                                    </div>
                                </div>
                            </article>
                            <article>
                                <div class="panel panel-success">
                                    <div class="panel-heading">
                                        <b>Evento del 170 Aniversario del Castillo de Chapultepec .:. H. Ayuntamiento de San Lucas, Mich.</b>
                                    </div>
                                    <time datetime="2017-09-13" style="color:grey;text-align:justify;">
                                        publicado el miércoles, 13 de septiembre de 2017.
                                    </time>
                                    <div class="panel-body">
                                        <div class="row">
                                        <p style="padding:20px; text-align:justify; font-size: 20px;">
                                            <b>
                                                Con motivo del 170 Aniversario de la Heroica Defensa del Castillo de Chapultepec, se llevó a cabo un acto cívico en la explanada de H.Ayuntamiento de San Lucas. En el evento, se contó con la presencia de grupos representativos de distintas instituciones educativas.
                                            </b>
                                        </p>  
                                        <div class="col-lg-3">
                                            <figure>
                                                <a href="Libreria/img/2017/sep/aniversario/img1.jpg" target="_blank">
                                                    <img src="Libreria/img/2017/sep/aniversario/img1.jpg" class="thumbnail img-responsive" alt="img" />
                                                </a>
                                            </figure>
                                        </div>
                                        <div class="col-lg-3">
                                            <figure>
                                                <a href="Libreria/img/2017/sep/aniversario/img2.jpg" target="_blank">
                                                    <img src="Libreria/img/2017/sep/aniversario/img2.jpg" class="thumbnail img-responsive" alt="img" />
                                                </a>
                                            </figure>
                                        </div>
                                        <div class="col-lg-3">
                                            <figure>
                                                <a href="Libreria/img/2017/sep/aniversario/img3.jpg" target="_blank">
                                                    <img src="Libreria/img/2017/sep/aniversario/img3.jpg" class="thumbnail img-responsive" alt="img" />
                                                </a>
                                            </figure>
                                        </div>
                                        <div class="col-lg-3">
                                            <figure>
                                                <a href="Libreria/img/2017/sep/aniversario/img4.jpg" target="_blank">
                                                    <img src="Libreria/img/2017/sep/aniversario/img4.jpg" class="thumbnail img-responsive" alt="img" />
                                                </a>
                                            </figure>
                                        </div>
                                    </div>
                                    </div>
                                </div>
                            </article>
                            <article>
                                <div class="panel panel-success">
                                    <div class="panel-heading">
                                        <b>Entrega de Obra realizada de Pozo Noria  .:. H. Ayuntamiento de San Lucas, Mich.</b>
                                    </div>
                                    <time datetime="2017-09-13" style="color:grey;text-align:justify;">
                                        publicado el miércoles, 13 de septiembre de 2017.
                                    </time>
                                    <div class="panel-body">
                                        <div class="row">
                                        <p style="padding:20px; text-align:justify; font-size: 20px;">
                                            <b>
                                                Entrega Presidente Municipal de San Lucas, C. Arturo Torres Aguirre, Pozo noria en la localidad de Los Brasiles.          
                                            </b>
                                        </p>
                                        <div class="col-lg-6">
                                            <figure>
                                                <a href="Libreria/img/2017/sep/pozo_noria/img1.jpg" target="_blank">
                                                    <img src="Libreria/img/2017/sep/pozo_noria/img1.jpg" class="thumbnail img-responsive" alt="img" />
                                                </a>
                                            </figure>
                                        </div>
                                        <div class="col-lg-6">
                                            <figure>
                                                <a href="Libreria/img/2017/sep/pozo_noria/img2.jpg" target="_blank">
                                                    <img src="Libreria/img/2017/sep/pozo_noria/img2.jpg" class="thumbnail img-responsive" alt="img" />
                                                </a>
                                            </figure>
                                        </div>
                                    </div>
                                    </div>
                                </div>
                            </article>
                            <article>
                                <div class="panel panel-success">
                                    <div class="panel-heading">
                                        <b>Entrega de Despensas del Programa "SI ALIMENTA" .:. H. Ayuntamiento de San Lucas, Mich.</b>
                                    </div>
                                    <time datetime="2017-09-15" style="color:grey;text-align:justify;">
                                        publicado el viernes, 15 de septiembre de 2017.
                                    </time>
                                    <div class="panel-body">
                                        <div class="row">
                                        <p style="padding:20px; text-align:justify; font-size: 20px;">
                                            <b>
                                               En coordinación con DIF San Lucas, y a través de departamento de Política Social, el presidente municipal de San Lucas C. Arturo Torres Aguirre hizo entrega de despensas del Programa "SI ALIMENTA", atendiendo la vulnerabilidad económica de las localidades como La Estancia, La Lajita, La Angostura, El Plan y El Machuque. 
                                            </b>
                                        </p>
                                        <div class="col-lg-4">
                                            <figure>
                                                <a href="Libreria/img/2017/sep/despensa/img1.jpg" target="_blank">
                                                    <img src="Libreria/img/2017/sep/despensa/img1.jpg" class="thumbnail img-responsive" alt="img" />
                                                </a>
                                            </figure>
                                        </div>
                                        <div class="col-lg-4">
                                            <figure>
                                                <a href="Libreria/img/2017/sep/despensa/img2.jpg" target="_blank">
                                                    <img src="Libreria/img/2017/sep/despensa/img2.jpg" class="thumbnail img-responsive" alt="img" />
                                                </a>
                                            </figure>
                                        </div>
                                        <div class="col-lg-4">
                                            <figure>
                                                <a href="Libreria/img/2017/sep/despensa/img3.jpg" target="_blank">
                                                    <img src="Libreria/img/2017/sep/despensa/img3.jpg" class="thumbnail img-responsive" alt="img" />
                                                </a>
                                            </figure>
                                        </div>
                                    </div>
                                    </div>
                                </div>
                            </article>
                            <article>
                                <div class="panel panel-success">   
                                    <div class="panel-heading">
                                        <b>¡Viva México! Tradicional Grito de Independencia .:. H. Ayuntamiento de San Lucas, Mich.</b>
                                    </div>
                                    <time datetime="2017-09-18" style="color:grey;text-align:justify;">
                                        publicado el lunes, 18 de septiembre de 2017.
                                    </time>
                                    <div class="panel-body">
                                        <div class="row">
                                        <p style="padding:20px; text-align:justify; font-size: 20px;">
                                            <b>
                                                Tradicional Grito de Independencia dió el C. Arturo Torres Aguirre, Presidente Municipal de San Lucas, en compañía de cuerpo de regidores y en presencia de pueblo. Durante la tarde del 15 de septiembre se llevó a acabo carrera atlética, al finalizar se entregó la premiación por la cantidad de 13 mil pesos distribuidos en 42 lugares en sus dos ramas de las categorías participantes.
                                            </b>
                                        </p>
                                        <div class="col-lg-12">
                                            <center>
                                            <figure>
                                                <a href="Libreria/img/2017/sep/independencia/img1.jpg" target="_blank">
                                                    <img src="Libreria/img/2017/sep/independencia/img1.jpg" class="thumbnail img-responsive" alt="img" />
                                                </a>
                                            </figure>
                                            </center>
                                        </div>
                                        </div>
                                        <div class="row">
                                        <div class="col-lg-3">
                                            <figure>
                                                <a href="Libreria/img/2017/sep/independencia/img2.jpg" target="_blank">
                                                    <img src="Libreria/img/2017/sep/independencia/img2.jpg" class="thumbnail img-responsive" alt="img" />
                                                </a>
                                            </figure>
                                        </div>
                                        <div class="col-lg-3">
                                            <figure>
                                                <a href="Libreria/img/2017/sep/independencia/img3.jpg" target="_blank">
                                                    <img src="Libreria/img/2017/sep/independencia/img3.jpg" class="thumbnail img-responsive" alt="img" />
                                                </a>
                                            </figure>
                                        </div>
                                        <div class="col-lg-3">
                                            <figure>
                                                <a href="Libreria/img/2017/sep/independencia/img4.jpg" target="_blank">
                                                    <img src="Libreria/img/2017/sep/independencia/img4.jpg" class="thumbnail img-responsive" alt="img" />
                                                </a>
                                            </figure>
                                        </div>
                                        <div class="col-lg-3">
                                            <figure>
                                                <a href="Libreria/img/2017/sep/independencia/img4.jpg" target="_blank">
                                                    <img src="Libreria/img/2017/sep/independencia/img4.jpg" class="thumbnail img-responsive" alt="img" />
                                                </a>
                                            </figure>
                                        </div>
                                    </div>
                                    </div>
                                </div>
                            </article>
                            <article>
                                <div class="panel panel-success">
                                    <div class="panel-heading">
                                        <b>El CCVII Aniversario del Inicio de Independencia .:. H. Ayuntamiento de San Lucas, Mich.</b>
                                    </div>
                                    <time datetime="2017-09-18" style="color:grey;text-align:justify;">
                                        publicado el lunes, 18 de septiembre de 2017.
                                    </time>
                                    <div class="panel-body">
                                        <div class="row">
                                        <p style="padding:20px; text-align:justify; font-size: 20px;">
                                            <b>
                                                Acto civico presedido por C. Arturo Torres Aguirre presidente municipal de San Lucas, conmemorando el CCVII aniversario del inicio de Independencia de Mexico.
                                            </b>
                                        </p>  
                                        <div class="col-lg-4">
                                            <figure>
                                                <a href="Libreria/img/2017/sep/acto/img1.jpg" target="_blank">
                                                    <img src="Libreria/img/2017/sep/acto/img1.jpg" class="thumbnail img-responsive" alt="img" />
                                                </a>
                                            </figure>
                                        </div>
                                        <div class="col-lg-4">
                                            <figure>
                                                <a href="Libreria/img/2017/sep/acto/img2.jpg" target="_blank">
                                                    <img src="Libreria/img/2017/sep/acto/img2.jpg" class="thumbnail img-responsive" alt="img" />
                                                </a>
                                            </figure>
                                        </div>
                                        <div class="col-lg-4">
                                            <figure>
                                                <a href="Libreria/img/2017/sep/acto/img3.jpg" target="_blank">
                                                    <img src="Libreria/img/2017/sep/acto/img3.jpg" class="thumbnail img-responsive" alt="img" />
                                                </a>
                                            </figure>
                                        </div>
                                    </div>
                                    </div>
                                </div>
                            </article>
                            <article>
                                <div class="panel panel-success">
                                    <div class="panel-heading">
                                        <b>Festibidad de las Fiestas Patrias .:. H. Ayuntamiento de San Lucas, Mich.</b>
                                    </div>
                                    <time datetime="2017-09-26" style="color:grey;text-align:justify;">
                                        publicado el martes, 26 de septiembre de 2017.
                                    </time>
                                    <div class="panel-body">
                                        <div class="row">
                                        <p style="padding:20px; text-align:justify; font-size: 20px;">
                                            <b>
                                                Señorita Reyna de la Fiesta Patria, las autoridades llevó acabo un acto como símbolo de las festibidades de las Fiestas Patrias, se realizó evento socio-cultural en la pista "Las Camelinas" donde el C. Arturo Torres Aguirre Presidente Municipal de San Lucas acompañado de su esposa la Sra. Josefina Osorio, coronaron como Reina de las Fiestas Patrias 2017 a Jeimy Maldonado Rosas de la comunidad de Santa Cruz de Villagomez. 
                                            </b>
                                        </p>  
                                        <div class="col-lg-4">
                                            <figure>
                                                <a href="Libreria/img/2017/sep/reyna/img1.jpg" target="_blank">
                                                    <img src="Libreria/img/2017/sep/reyna/img1.jpg" class="thumbnail img-responsive" alt="img" />
                                                </a>
                                            </figure>
                                        </div>
                                        <div class="col-lg-4">
                                            <figure>
                                                <a href="Libreria/img/2017/sep/reyna/img2.jpg" target="_blank">
                                                    <img src="Libreria/img/2017/sep/reyna/img2.jpg" class="thumbnail img-responsive" alt="img" />
                                                </a>
                                            </figure>
                                        </div>
                                        <div class="col-lg-4">
                                            <figure>
                                                <a href="Libreria/img/2017/sep/reyna/img3.jpg" target="_blank">
                                                    <img src="Libreria/img/2017/sep/reyna/img3.jpg" class="thumbnail img-responsive" alt="img" />
                                                </a>
                                            </figure>
                                        </div>
                                        <div class="col-lg-4">
                                            <figure>
                                                <a href="Libreria/img/2017/sep/reyna/img4.jpg" target="_blank">
                                                    <img src="Libreria/img/2017/sep/reyna/img4.jpg" class="thumbnail img-responsive" alt="img" />
                                                </a>
                                            </figure>
                                        </div>
                                        <div class="col-lg-4">
                                            <figure>
                                                <a href="Libreria/img/2017/sep/reyna/img5.jpg" target="_blank">
                                                    <img src="Libreria/img/2017/sep/reyna/img5.jpg" class="thumbnail img-responsive" alt="img" />
                                                </a>
                                            </figure>
                                        </div>
                                        <div class="col-lg-4">
                                            <figure>
                                                <a href="Libreria/img/2017/sep/reyna/img6.jpg" target="_blank">
                                                    <img src="Libreria/img/2017/sep/reyna/img6.jpg" class="thumbnail img-responsive" alt="img" />
                                                </a>
                                            </figure>
                                        </div>
                                    </div>
                                    </div>
                                </div>
                            </article>
                            <article>
                                <div class="panel panel-success">
                                    <div class="panel-heading">
                                        <b>Arranque de Obra Localidad de Riva Palacio .:. H. Ayuntamiento de San Lucas, Mich.</b>
                                    </div>
                                    <time datetime="2017-09-26" style="color:grey;text-align:justify;">
                                        publicado el martes, 26 de septiembre de 2017.
                                    </time>
                                    <div class="panel-body">
                                        <div class="row">
                                        <p style="padding:20px; text-align:justify; font-size: 20px;">
                                            <b>
                                                Presidente Municipal de San Lucas, C. Arturo Torres Aguirre, en compañía de Regidores y Vecinos, realizó Banderazo de inicio de obra "Pavimentacón de Calle Hidalgo" en Localidad de Riva Palacio.  
                                            </b>
                                        </p>  
                                        <div class="col-lg-4">
                                            <figure>
                                                <a href="Libreria/img/2017/sep/hidalgo/img1.jpg" target="_blank">
                                                    <img src="Libreria/img/2017/sep/hidalgo/img1.jpg" class="thumbnail img-responsive" alt="img" />
                                                </a>
                                            </figure>
                                        </div>
                                        <div class="col-lg-4">
                                            <figure>
                                                <a href="Libreria/img/2017/sep/hidalgo/img2.jpg" target="_blank">
                                                    <img src="Libreria/img/2017/sep/hidalgo/img2.jpg" class="thumbnail img-responsive" alt="img" />
                                                </a>
                                            </figure>
                                        </div>
                                        <div class="col-lg-4">
                                            <figure>
                                                <a href="Libreria/img/2017/sep/hidalgo/img3.jpg" target="_blank">
                                                    <img src="Libreria/img/2017/sep/hidalgo/img3.jpg" class="thumbnail img-responsive" alt="img" />
                                                </a>
                                            </figure>
                                        </div>
                                    </div>
                                    </div>
                                </div>
                            </article>
                            <article>
                                <div class="panel panel-success">
                                    <div class="panel-heading">
                                        <b>Supervisión de Obras en Acción .:. H. Ayuntamiento de San Lucas, Mich.</b>
                                    </div>
                                    <time datetime="2017-09-26" style="color:grey;text-align:justify;">
                                        publicado el martes, 26 de septiembre de 2017.
                                    </time>
                                    <div class="panel-body">
                                        <div class="row">
                                        <p style="padding:20px; text-align:justify; font-size: 20px;">
                                            <b>
                                                El Alcalde de San Lucas, C. Arturo Torres supervisa rehabilitación de caminos en las localidades de Urerio, Terrero Salado y El Cuajilote.
                                            </b>
                                        </p>  
                                        <div class="col-lg-4">
                                            <figure>
                                                <a href="Libreria/img/2017/sep/revision/img1.jpg" target="_blank">
                                                    <img src="Libreria/img/2017/sep/revision/img1.jpg" class="thumbnail img-responsive" alt="img" />
                                                </a>
                                            </figure>
                                        </div>
                                        <div class="col-lg-4">
                                            <figure>
                                                <a href="Libreria/img/2017/sep/revision/img2.jpg" target="_blank">
                                                    <img src="Libreria/img/2017/sep/revision/img2.jpg" class="thumbnail img-responsive" alt="img" />
                                                </a>
                                            </figure>
                                        </div>
                                        <div class="col-lg-4">
                                            <figure>
                                                <a href="Libreria/img/2017/sep/revision/img3.jpg" target="_blank">
                                                    <img src="Libreria/img/2017/sep/revision/img3.jpg" class="thumbnail img-responsive" alt="img" />
                                                </a>
                                            </figure>
                                        </div>
                                    </div>
                                    </div>
                                </div>
                            </article>
                            <article>
                                <div class="panel panel-success">
                                    <div class="panel-heading">
                                        <b>Fondo de Apoyo de Atención al Migrante .:. H. Ayuntamiento de San Lucas, Mich.</b>
                                    </div>
                                    <time datetime="2017-09-26" style="color:grey;text-align:justify;">
                                        publicado el martes, 26 de septiembre de 2017.
                                    </time>
                                    <div class="panel-body">
                                        <div class="row">
                                        <p style="padding:20px; text-align:justify; font-size: 20px;">
                                            <b>
                                                A través del Programa FAMI (Fondo de Apoyo de Atención al Migrante) de Secretaria de Migrante, el C. Arturo Torres Aguirre entregó apoyo a personas migrantes que retornaron a su lugar de origen para que emprendan su propio negocio, y de esta manera tengan un mejor nivel de vida.  
                                            </b>
                                        </p>  
                                        <div class="col-lg-6">
                                            <figure>
                                                <a href="Libreria/img/2017/sep/fami/img1.jpg" target="_blank">
                                                    <img src="Libreria/img/2017/sep/fami/img1.jpg" class="thumbnail img-responsive" alt="img" />
                                                </a>
                                            </figure>
                                        </div>
                                        <div class="col-lg-6">
                                            <figure>
                                                <a href="Libreria/img/2017/sep/fami/img2.jpg" target="_blank">
                                                    <img src="Libreria/img/2017/sep/fami/img2.jpg" class="thumbnail img-responsive" alt="img" />
                                                </a>
                                            </figure>
                                        </div>
                                    </div>
                                    </div>
                                </div>
                            </article>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3"><!-- Barra lateral -->
            <aside>
                <?php 
                    include "Vista/main.phtml";
                    include "Vista/submenu.phtml";
                ?>
            </aside>
        </div><!-- end BL -->
    </div>
</section>
