<section>
    <div id="centro">
        <a href="?fp=principal"><i class="fa fa-fw fa-home"></i>Home</a>
        <img src="Libreria/img/login.png" alt="Home" /><b>Comisiones</b>  
    </div>
    <hr />
    <div class="row">
        <div class="col-md-9">
            <article>
                <div class="panel panel-default">
					<div class="panel-heading">
                        <h1 style="font-size: xx-large;"><b>Comisiones</b></h1>
                    </div>
					<div class="panel-body">
                        <p style="font-size: x-large;"><b>Comisiones del Departamento 2015-2018</b></p>
                        <hr />
                        <div class="row">
                            <div class="col-md-1"></div>
                            <div class="col-md-10" style="text-align: justify;">
                                <p><a onclick="alert('Se está trabajando en la construcción de la pagina');">I. DE GOBERNACIÓN, TRABAJO, SEGURIDAD PÚBLICA Y PROTECCIÓN CIVIL</a></p>
                                <p>C. Arturo Torres Aguirre</p>
                                <br /><br />
                                <p><a onclick="alert('Se está trabajando en la construcción de la pagina');">III. DE PLANEACIÓN, PROGRAMACIÓN Y DESARROLLO</a></p>
                                <p>C. PROFA. Otilia González Cayetano</p>
                                <br /><br />
                                <p><a onclick="alert('Se está trabajando en la construcción de la pagina');">V. DE LA MUJER, JUVENTUD Y EL DEPORTE</a></p>
                                <p>C. Sergio Arturo Mercado Paniagua</p>
                                <p>Tec. Yazmin Macedo Luviano</p>
                                <br /><br />
                                <p><a onclick="alert('Se está trabajando en la construcción de la pagina');">VII. DE ECOLOGÍA</a></p>
                                <p>C. Casimiro Pineda Avianeda</p>
                                <br /><br />
                                <p><a onclick="alert('Se está trabajando en la construcción de la pagina');">IX. DE FOMENTO INDUSTRIAL Y COMERCIO</a></p>
                                <p>C. PROFA. Rosa Isela Peralta Estrada</p>
                                <br /><br />
                                <p><a onclick="alert('Se está trabajando en la construcción de la pagina');">XI. DE ASUNTOS INDÍGENAS</a></p>
                                <p>C. Nereyda Estrada Salgado</p>
                                <br /><br />
                                <p><a onclick="alert('Se está trabajando en la construcción de la pagina');">XIII. DE ASUNTOS MIGRATORIOS</a></p>
                                <p>Lic. Avilene Cisneros Nava</p>
                                <a onclick="alert('Se está trabajando en la construcción de la pagina');">DEPARTAMENTO DE SEGURIDAD P&Uacute;BLICA</a></p>
                                <p>C. Rolando Carlos Santamar&iacute;a</p>
                                <p>C. J. Santos Almazan Venancio</p>
                                <p>C. Isidro Palacio Avellaneda</p>
                                <p>C. Mayra Garc&iacute;a G&oacute;mez</p>
                                <br /><br />
                                <p><a>DEPARTAMENTO DE SINDICATURA</a></p>
                                <p>C. Bolivar Lopez Renteria</p>
                                <p>Lic. Saul Solis Aguilar</p>
                                <br /><br />
                                <p><a>DEPARTAMENTO DE OFICIAL&iacute;A MAYOR</a></p>
                                <p>C. Mar&iacute;a Gozafat Betancourt Arrieta</p>
                                <p>Aux. Mart&iacute;n Ch&aacute;vez Almaz&aacute;n</p>
                                <br /><br />
                                <p><a onclick="alert('Se está trabajando en la construcción de la pagina');">DEPARTAMENTO DE POL&Iacute;TICA SOCIAL</a></p>
                                <p>C. Juan Jos&eacute; Mariano Narciso</p>
                                <p>C. Alma D&iacute;az Torres</p>
                                <br /><br />
                                <p><a onclick="alert('Se está trabajando en la construcción de la pagina');">OFICINA DE OAPAS</a></p>
                                <p>C. Humberto Sandoval Luviano</p>
                                <p>C. Mariela Barrio Melchor</p>
                                <p>C. Alba Arroyo S&aacute;chez</p>
                                <p>C. Jos&eacute; Luis Avellaneda Jaimes</p>
                                <br /><br />
                                <p><a onclick="alert('Se está trabajando en la construcción de la pagina');">DEPARTAMENTO SALA DE CABILDO(DIRECCI&oacute;n de Educaci&oacute;n y Salud)</a></p>
                                <p>Profr. Santiago Diaz Perez</p>
                                <p>Auxiliar Doc. Raul Bautista Alquicira</p>
                                <br /><br />
                                <p><a onclick="alert('Se está trabajando en la construcción de la pagina');">DEPARTAMENTO SALA DE CABILDO(Driecci&oacute;n de Comunicaci&oacute;n Social)</a></p>
                                <p>Encargada Lic. Avilene Cisneros Nava</p>
                                <br/><br/> <p><a onclick="alert('Se está trabajando en la construcción de la pagina');">ENLACE DE TRANSPARENCIA</a></p>
                                 <p>Ing. Karla Yesenia Macedonio Aburto</p>
                                <br />

                                <br />
                                <p><a onclick="alert('Se está trabajando en la construcción de la pagina');">DEPARTAMENTO DE DESARROLLO RURAL</a></p>
                                <p>C. Arnoldo Rodr&iacute;guez Baza </p>
                                <p>C. Rosa Isela Sosa G&oacute;mez</p>
                            </div>
                            <div class="col-md-1"></div>
                        </div>
                        <hr />
                        <div class="row">
                            <div class="col-md-1"></div>
                            <div class="col-md-10">
                                <p style="text-align: center;">
                                    * Importante señalar que cada miembro del cabildo es titular de una comisión y participa en las 
                                    demás como auxiliar.
                                </p>
                                <p style="text-align: center;">
                                    <strong>Capítulo III</strong>
                                </p>
                                <p style="text-align: center;">
                                    <strong>De las Atribuciones de los Regidores</strong>
                                </p>
                                <div style="text-align: justify;">
                                    <p>Artículo 52. En su carácter de representantes de la comunidad en el Ayuntamiento, 
                                    los Regidores tendrán las siguientes atribuciones:</p>
                                    <p>I. Acudir con derecho de voz y voto a las sesiones del Ayuntamiento y vigilar el 
                                    cumplimiento de sus acuerdos</p>
                                    <p>II. Desempeñar las comisiones que le encomiende el Ayuntamiento y presentar un 
                                    informe anual de actividades durante la segunda quincena del mes de noviembre de cada año</p>
                                    <p>III. Vigilar que el Ayuntamiento cumpla con las disposiciones que le establecen las 
                                    disposiciones aplicables y con los planes y programas municipales</p>
                                    <p>IV. Proponer la formulación, expedición, modificación o reforma, de los reglamentos 
                                    municipales y demás disposiciones administrativas</p>
                                    <p>V. Analizar, discutir y votar los asuntos que se sometan a acuerdo al Ayuntamiento en las sesiones</p>
                                    <p>VI. Participar en las ceremonias cívicas que realice el Ayuntamiento</p>
                                    <p>VII. Participar en la supervisión de los estados financiero y patrimonial del Municipio y 
                                    de la situación en general del Ayuntamiento</p>
                                    <p>VIII. Las demás que le señale la Constitución Política de los Estados Unidos Mexicanos, la</p>
                                    <p>Constitución Política del Estado, las leyes que de estas emanen, esta Ley, sus reglamentos 
                                    y otras disposiciones del orden municipal.</p>
                                </div>
                            </div>
                            <div class="col-md-1"></div>
                        </div>
                    </div>
				</div>
            </article>
        </div>
        <div class="col-md-3">
            <aside>
                <?php include "Vista/submenu.phtml"; ?>
            </aside>
        </div>
    </div>
</section>
