<section>
    <div id="centro">
        <a href="?fp=principal"><i class="fa fa-fw fa-home"></i>Home</a>
        <img src="Libreria/img/login.png" /><b>Códigos Postales</b>
    </div>
    <hr />
    <div class="row">
        <div class="col-md-9">
            <article>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h1 style="font-size: xx-large;"><b>Códigos Postales</b></h1>
                    </div>
                    <div class="panel-body">
                        <h3>Códigos Postales</h3>
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <td><span class="badge" style="font-size: 20px;">#</span></td>
                                        <th><span class="badge" style="font-size: 20px;">Colonia</span></th>
                                        <th><span class="badge" style="font-size: 20px;">Municipio</span></th>
                                        <th><span class="badge" style="font-size: 20px;">Estado</span></th>
                                        <th><span class="badge" style="font-size: 20px;">Código Postal</span></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>Angao de los Herrera</td>
                                        <td>San Lucas</td>
                                        <td>Michoacán</td>
                                        <td>61980</td>
                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td>Ceiba Seca</td>
                                        <td>San Lucas</td>
                                        <td>Michoacán</td>
                                        <td>61985</td>
                                    </tr>
                                    <tr>
                                        <td>3</td>
                                        <td>Ceibas Altas</td>
                                        <td>San Lucas</td>
                                        <td>Michoacán</td>
                                        <td>61997</td>
                                    </tr>
                                    <tr>
                                        <td>4</td>
                                        <td>Characharando</td>
                                        <td>San Lucas</td>
                                        <td>Michoacán</td>
                                        <td>61994</td>
                                    </tr>
                                    <tr>
                                        <td>5</td>
                                        <td>Chumbitaro</td>
                                        <td>San Lucas</td>
                                        <td>Michoacán</td>
                                        <td>61990</td>
                                    </tr>
                                    <tr>
                                        <td>6</td>
                                        <td>El Cuajilote</td>
                                        <td>San Lucas</td>
                                        <td>Michoacán</td>
                                        <td>61990</td>
                                    </tr>
                                    <tr>
                                        <td>7</td>
                                        <td>El Cueramo</td>
                                        <td>San Lucas</td>
                                        <td>Michoacán</td>
                                        <td>61995</td>
                                    </tr>
                                    <tr>
                                        <td>8</td>
                                        <td>El Huizachal</td>
                                        <td>San Lucas</td>
                                        <td>Michoacán</td>
                                        <td>61993</td>
                                    </tr>
                                    <tr>
                                        <td>9</td>
                                        <td>El Limón de Montegrande</td>
                                        <td>San Lucas</td>
                                        <td>Michoacán</td>
                                        <td>61996</td>
                                    </tr>
                                    <tr>
                                        <td>10</td>
                                        <td>El Naranjo</td>
                                        <td>San Lucas</td>
                                        <td>Michoacán</td>
                                        <td>61995</td>
                                    </tr>
                                    <tr>
                                        <td>11</td>
                                        <td>El Tamarindo</td>
                                        <td>San Lucas</td>
                                        <td>Michoacán</td>
                                        <td>61998</td>
                                    </tr>
                                    <tr>
                                        <td>12</td>
                                        <td>Huariche</td>
                                        <td>San Lucas</td>
                                        <td>Michoacán</td>
                                        <td>61990</td>
                                    </tr>
                                    <tr>
                                        <td>13</td>
                                        <td>La Estancia</td>
                                        <td>San Lucas</td>
                                        <td>Michoacán</td>
                                        <td>61980</td>
                                    </tr>
                                    <tr>
                                        <td>14</td>
                                        <td>La Laja</td>
                                        <td>San Lucas</td>
                                        <td>Michoacán</td>
                                        <td>61985</td>
                                    </tr>
                                    <tr>
                                        <td>15</td>
                                        <td>La Tejería</td>
                                        <td>San Lucas</td>
                                        <td>Michoacán</td>
                                        <td>61993</td>
                                    </tr>
                                    <tr>
                                        <td>16</td>
                                        <td>Las Paredes</td>
                                        <td>San Lucas</td>
                                        <td>Michoacán</td>
                                        <td>61984</td>
                                    </tr>
                                    <tr>
                                        <td>17</td>
                                        <td>Los Bancos</td>
                                        <td>San Lucas</td>
                                        <td>Michoacán</td>
                                        <td>61995</td>
                                    </tr>
                                    <tr>
                                        <td>18</td>
                                        <td>Los Brasiles</td>
                                        <td>San Lucas</td>
                                        <td>Michoacán</td>
                                        <td>61997</td>
                                    </tr>
                                    <tr>
                                        <td>19</td>
                                        <td>Monte Granden</td>
                                        <td>San Lucas</td>
                                        <td>Michoacán</td>
                                        <td>61996</td>
                                    </tr>
                                    <tr>
                                        <td>20</td>
                                        <td>Ojo de Agua</td>
                                        <td>San Lucas</td>
                                        <td>Michoacán</td>
                                        <td>61980</td>
                                    </tr>
                                    <tr>
                                        <td>21</td>
                                        <td>Paso de Corupo</td>
                                        <td>San Lucas</td>
                                        <td>Michoacán</td>
                                        <td>61997</td>
                                    </tr>
                                    <tr>
                                        <td>22</td>
                                        <td>Pinzan Colorado</td>
                                        <td>San Lucas</td>
                                        <td>Michoacán</td>
                                        <td>61996</td>
                                    </tr>
                                    <tr>
                                        <td>23</td>
                                        <td>Rincón de San Francisco</td>
                                        <td>San Lucas</td>
                                        <td>Michoacán</td>
                                        <td>61992</td>
                                    </tr>
                                    <tr>
                                        <td>24</td>
                                        <td>Riva Palacio</td>
                                        <td>San Lucas</td>
                                        <td>Michoacán</td>
                                        <td>61992</td>
                                    </tr>
                                    <tr>
                                        <td>25</td>
                                        <td>Salguero</td>
                                        <td>San Lucas</td>
                                        <td>Michoacán</td>
                                        <td>61991</td>
                                    </tr>
                                    <tr>
                                        <td>26</td>
                                        <td>San Jerónimo</td>
                                        <td>San Lucas</td>
                                        <td>Michoacán</td>
                                        <td>61993</td>
                                    </tr>
                                    <tr>
                                        <td>27</td>
                                        <td>San Lucas</td>
                                        <td>San Lucas</td>
                                        <td>Michoacán</td>
                                        <td>61980</td>
                                    </tr>
                                    <tr>
                                        <td>28</td>
                                        <td>San Pedrito</td>
                                        <td>San Lucas</td>
                                        <td>Michoacán</td>
                                        <td>61997</td>
                                    </tr>
                                    <tr>
                                        <td>29</td>
                                        <td>San Pedro</td>
                                        <td>San Lucas</td>
                                        <td>Michoacán</td>
                                        <td>61998</td>
                                    </tr>
                                    <tr>
                                        <td>30</td>
                                        <td>Santa Cruz de Villagomez</td>
                                        <td>San Lucas</td>
                                        <td>Michoacán</td>
                                        <td>61991</td>
                                    </tr>
                                    <tr>
                                        <td>31</td>
                                        <td>Tacupa</td>
                                        <td>San Lucas</td>
                                        <td>Michoacán</td>
                                        <td>61990</td>
                                    </tr>
                                    <tr>
                                        <td>32</td>
                                        <td>Terrero Prieto</td>
                                        <td>San Lucas</td>
                                        <td>Michoacán</td>
                                        <td>61998</td>
                                    </tr>
                                    <tr>
                                        <td>33</td>
                                        <td>Tiringueo de Abajo</td>
                                        <td>San Lucas</td>
                                        <td>Michoacán</td>
                                        <td>61998</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </article>
        </div>
        <div class="col-md-3">
            <aside>
                <?php include "Vista/submenu.phtml"; ?>
            </aside>
        </div>
    </div>
</section>