<section>
    <div class="row">
        <div class="col-md-9">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h1 style="font-size: xx-large;"><b>Eventos Realizados el Mes de Ocubre 2016</b></h1>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            <article><!-- Art 7-->
                                <div class="panel panel-success">
                                    <div class="panel-heading">
                                        <p>
                                            <b>Desazolve de presa Comunidad de Corral Viejo - H. Ayuntamiento de San Lucas, Mich.</b>
                                        </p>
                                    </div>
                                    <time datetime="2016-10-03" pubdate="" style="color: grey; text-align: justify;">
                                        Publicado  lunes, 3 de octubre de 2016.
                                    </time>
                                    <div class="panel-body">
                                        <div class="row" >
                                            <div class="col-md-4">
                                                <figure>
                                                    <a href="Libreria/img/2016/oct/corral_viejo/img1.jpg" target="_blank" >
                                                        <img src="Libreria/img/2016/oct/corral_viejo/img1.jpg" class="thumbnail img-responsive" alt="img" />
                                                    </a>
                                                </figure>
                                            </div>
                                            <div class="col-md-4">
                                                <figure>
                                                    <a href="Libreria/img/2016/oct/corral_viejoviejo/img2.jpg" target="_blank" >
                                                        <img src="Libreria/img/2016/oct/corral_viejo/img2.jpg" class="thumbnail img-responsive" alt="img" />
                                                    </a>
                                                </figure>
                                            </div>
                                            <div class="col-md-4">
                                                <figure>
                                                    <a href="Libreria/img/2016/oct/corral_viejo/img3.jpg" target="_blank" >
                                                        <img src="Libreria/img/2016/oct/corral_viejo/img3.jpg" class="thumbnail img-responsive" alt="img" />
                                                    </a>
                                                </figure>
                                            </div>
                                            
                                        </div>
                                        <p style="text-align:justify;">
                                            <b>Trabajo de limpieza y desazolve de represa en comunidad Corral Viejo, para facilitar el almacenamiento de aguas pluviales.</b>
                                        </p>
                                    </div>
                                </div>
                            </article>
                            <article><!-- Art 6-->
                                <div class="panel panel-success">
                                    <div class="panel-heading">
                                        <p>
                                            <b>Entrega de pollitos - H. Ayuntamiento de San Lucas, Mich.</b>
                                        </p>
                                    </div>
                                    <time datetime="2016-10-03" pubdate="" style="color: grey; text-align: justify;">
                                            Publicado lunes, 3 de octubre de 2016.
                                        </time>
                                    <div class="panel-body">
                                        <div class="row" >
                                            <div class="col-md-4">
                                                <figure>
                                                    <a href="Libreria/img/2016/oct/pollos/img1.jpg" target="_blank" >
                                                        <img src="Libreria/img/2016/oct/pollos/img1.jpg" class="thumbnail img-responsive" alt="img" />
                                                    </a>
                                                </figure>
                                            </div>
                                            <div class="col-md-4">
                                                <figure>
                                                    <a href="Libreria/img/2016/oct/pollos/img2.jpg" target="_blank" >
                                                        <img src="Libreria/img/2016/oct/pollos/img2.jpg" class="thumbnail img-responsive" alt="img" />
                                                    </a>
                                                </figure>
                                            </div>
                                            <div class="col-md-4">
                                                <figure>
                                                    <a href="Libreria/img/2016/oct/pollos/img3.jpg" target="_blank" >
                                                        <img src="Libreria/img/2016/oct/pollos/img3.jpg" class="thumbnail img-responsive" alt="img" />
                                                    </a>
                                                </figure>
                                            </div>
                                            
                                        </div>
                                        <p style="text-align:justify;">
                                            <b>3er. Entrega de pollos en Pista Las Camelinas, programa que fue facilitado por el Diputado Juan Bernardo Corona Martinez, coordinado con Departamento Desarrollo Rural y Regidora de Asuntos Agropecuarios C. Nereyda Estrada.</b>
                                        </p>
                                    </div>
                                </div>
                            </article>
                            <article><!-- Art 5-->
                                <div class="panel panel-success">
                                    <div class="panel-heading">
                                        <p>
                                            <b>Arranque de Obra en la comunidad de Characharando - H. Ayuntamiento de San Lucas, Mich.</b>
                                        </p>
                                    </div>
                                    <time datetime="2016-10-07" pubdate="" style="color: grey; text-align: justify;">
                                            Publicado jueves, 6 de octubre de 2016.
                                        </time>
                                    <div class="panel-body">
                                        <div class="row" >
                                            <div class="col-md-3">
                                                <figure>
                                                    <a href="Libreria/img/2016/oct/obra_characharando/img1.jpg" target="_blank" >
                                                        <img src="Libreria/img/2016/oct/obra_characharando/img1.jpg" class="thumbnail img-responsive" alt="img" />
                                                    </a>
                                                </figure>
                                            </div>
                                            <div class="col-md-3">
                                                <figure>
                                                    <a href="Libreria/img/2016/oct/obra_characharando/img2.jpg" target="_blank" >
                                                        <img src="Libreria/img/2016/oct/obra_characharando/img2.jpg" class="thumbnail img-responsive" alt="img" />
                                                    </a>
                                                </figure>
                                            </div>
                                            <div class="col-md-3">
                                                <figure>
                                                    <a href="Libreria/img/2016/oct/obra_characharando/img3.jpg" target="_blank" >
                                                        <img src="Libreria/img/2016/oct/obra_characharando/img3.jpg" class="thumbnail img-responsive" alt="img" />
                                                    </a>
                                                </figure>
                                            </div>
                                            <div class="col-md-3">
                                                <figure>
                                                    <a href="Libreria/img/2016/oct/obra_characharando/img4.jpg" target="_blank" >
                                                        <img src="Libreria/img/2016/oct/obra_characharando/img4.jpg" class="thumbnail img-responsive" alt="img" />
                                                    </a>
                                                </figure>
                                            </div>
                                        </div>
                                        <p style="text-align:justify;">
                                            <b>El alcalde C. Arturo Torres Aguirre da banderazo de arranque de obra, en compañia de Regidores, Secretario y trabajadores de H. Ayuntamiento, dicha pavimetacion de 1 km con concreto aslfaltico se realizara en tramo salida de comunidad Characharando.</b>
                                        </p>
                                    </div>
                                </div>
                            </article>
                            <article><!-- Art 4-->
                                <div class="panel panel-success">
                                    <div class="panel-heading">
                                        <p>
                                            <b>Entrega de Apoyos a Productores - H. Ayuntamiento de San Lucas, Mich.</b>
                                        </p>
                                    </div>
                                    <time datetime="2016-10-07" pubdate="" style="color: grey; text-align: justify;">
                                            Publicado viernes, 7 de octubre de 2016.
                                        </time>
                                    <div class="panel-body">
                                        <div class="row" >
                                            <div class="col-md-6">
                                                <figure>
                                                    <a href="Libreria/img/2016/oct/evento_productores/img1.jpg" target="_blank" >
                                                        <img src="Libreria/img/2016/oct/evento_productores/img1.jpg" class="thumbnail img-responsive" alt="img" />
                                                    </a>
                                                </figure>
                                            </div>
                                            <div class="col-md-6">
                                                <figure>
                                                    <a href="Libreria/img/2016/oct/evento_productores/img2.jpg" target="_blank" >
                                                        <img src="Libreria/img/2016/oct/evento_productores/img2.jpg" class="thumbnail img-responsive" alt="img" />
                                                    </a>
                                                </figure>
                                            </div>
                                            
                                        <div class="row">
                                            <div class="col-md-4">
                                                <figure>
                                                    <a href="Libreria/img/2016/oct/evento_productores/img3.jpg" target="_blank" >
                                                        <img src="Libreria/img/2016/oct/evento_productores/img3.jpg" class="thumbnail img-responsive" alt="img" />
                                                    </a>
                                                </figure>
                                            </div>
                                            <div class="col-md-4">
                                                <figure>
                                                    <a href="Libreria/img/2016/oct/evento_productores/img4.jpg" target="_blank" >
                                                        <img src="Libreria/img/2016/oct/evento_productores/img4.jpg" class="thumbnail img-responsive" alt="img" />
                                                    </a>
                                                </figure>
                                            </div>
                                            <div class="col-md-4">
                                                <figure>
                                                    <a href="Libreria/img/2016/oct/evento_productores/img5.jpg" target="_blank" >
                                                        <img src="Libreria/img/2016/oct/evento_productores/img5.jpg" class="thumbnail img-responsive" alt="img" />
                                                    </a>
                                                </figure>
                                            </div>
                                        </div>
                                        </div>
                                        <p style="text-align:justify;">
                                            <b>En cierre de evento de dia de hoy se beneficia a mas de 1,700 productores,de localidades del municipio con 6,940 hectareas ,en total $10,410,060, a traves de programa de contingencia por sequia,relativo al ciclo Prim-Ver 2015,que implemento el Gobierno Federa,a traves de Sagarpa, Sedrua y de forma coordinada con gobierno municipal de San Lucas representado por presidente municipal C. Arturo Torres Aguirre</b>
                                        </p>
                                    </div>
                                </div>
                            </article>
                            <article><!-- Art 3-->
                                <div class="panel panel-success">
                                    <div class="panel-heading">
                                        <p>
                                            <b>Seguro de Vida para Mujeres Jefas de Familia - H. Ayuntamiento de San Lucas, Mich.</b>
                                        </p>
                                    </div>
                                    <time datetime="2016-10-11" pubdate="" style="color: grey; text-align: justify;">
                                            Publicado Martes, 11 de octubre de 2016.
                                        </time>
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-md-1"></div>
                                            <div class="col-md-10">
                                                <center>
                                                <figure>
                                                    <a href="Libreria/img/2016/oct/mama_jefa/img1.jpg" target="_blank" >
                                                        <img src="Libreria/img/2016/oct/mama_jefa/img1.jpg" class="thumbnail img-responsive" alt="img" />
                                                    </a>
                                                </figure>
                                                </center>
                                                <p style="text-align:justify;">
                                                    <b>A todas las mamás que son jefas de familia, el Gobierno de la República las respalda con el Seguro de Vida para Mujeres Jefas de Familia, favor de acudir H. Ayuntamiento de San Lucas para mas informacion. Yazmin Macedo.</b>
                                                </p>
                                            </div>
                                            <div class="col-md-1"></div>
                                        </div>
                                    </div>
                                </div>
                            </article>
                            <article><!-- Art 2-->
                                <div class="panel panel-success">
                                    <div class="panel-heading">
                                        <p>
                                            <b>Desazolve de represa en localidad de Los Limones- H. Ayuntamiento de San Lucas, Mich.</b>
                                        </p>
                                    </div>
                                    <time datetime="2016-10-11" pubdate="" style="color: grey; text-align: justify;">
                                            Publicado martes , 11 de octubre de 2016.
                                        </time>
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <figure>
                                                    <a href="Libreria/img/2016/oct/presa_limones/img1.jpg" target="_blank" >
                                                        <img src="Libreria/img/2016/oct/presa_limones/img1.jpg" class="thumbnail img-responsive" alt="img" />
                                                    </a>
                                                </figure>
                                            </div>
                                            <div class="col-md-4">
                                                <figure>
                                                    <a href="Libreria/img/2016/oct/presa_limones/img2.jpg" target="_blank" >
                                                        <img src="Libreria/img/2016/oct/presa_limones/img2.jpg" class="thumbnail img-responsive" alt="img" />
                                                    </a>
                                                </figure>
                                            </div>
                                            <div class="col-md-4">
                                                <figure>
                                                    <a href="Libreria/img/2016/oct/presa_limones/img3.jpg" target="_blank" >
                                                        <img src="Libreria/img/2016/oct/presa_limones/img3.jpg" class="thumbnail img-responsive" alt="img" />
                                                    </a>
                                                </figure>
                                            </div>
                                        </div>
                                        <p style="text-align:justify;">
                                            <b>Trabajo de limpieza y desazolve de represa en localidad de Los Limones, municipio de San Lucas.</b>
                                        </p>
                                    </div>
                                </div>
                            </article>
                            <article><!-- Art 1-->
                                <div class="panel panel-success">
                                    <div class="panel-heading">
                                        <p>
                                            <b>Tercera Campaña de Salud, evento coordinado por Secretaria de Salud - H. Ayuntamiento de San Lucas, Mich.</b>
                                        </p>
                                    </div>
                                    <time datetime="2016-10-11" pubdate="" style="color: grey; text-align: justify;">
                                        Publicado martes, 11 de octubre de 2016.
                                    </time>
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <figure>
                                                    <a href="Libreria/img/2016/oct/secretaria_salud/img1.jpg" target="_blank" >
                                                        <img src="Libreria/img/2016/oct/secretaria_salud/img1.jpg" class="thumbnail img-responsive" alt="img" />
                                                    </a>
                                                </figure>
                                            </div>
                                            <div class="col-md-4">
                                                <figure>
                                                    <a href="Libreria/img/2016/oct/secretaria_salud/img2.jpg" target="_blank" >
                                                        <img src="Libreria/img/2016/oct/secretaria_salud/img2.jpg" class="thumbnail img-responsive" alt="img" />
                                                    </a>
                                                </figure>
                                            </div>
                                            <div class="col-md-4">
                                                <figure>
                                                    <a href="Libreria/img/2016/oct/secretaria_salud/img3.jpg" target="_blank" >
                                                        <img src="Libreria/img/2016/oct/secretaria_salud/img3.jpg" class="thumbnail img-responsive" alt="img" />
                                                    </a>
                                                </figure>
                                            </div>
                                        <p style="text-align:justify;">
                                            <b>En Esc. Prim. Lazaro Cardenas se dio inicio la 3er Campaña de Salud, evento coordinado por Secretaria de Salud con participacion de Directora de DIF Sra. Josefina Osorio Mondragon,Regidor de Salud y asistencia social de la juventud y el deporte,C. Sergio Arturo Mercado Paniagua,Secretario,Contralor,Departamento de Educacion y Salud de H. Ayuntamiento de San Lucas.</b>
                                        </p>
                                    </div>
                                </div>
                            </article>
                            <article><!-- Art 10-->
                                <div class="panel panel-success">
                                    <div class="panel-heading">
                                        <p>
                                            <b>Apoyo para la localidad de Monte Grande - H. Ayuntamiento de San Lucas, Mich.</b>
                                        </p>
                                    </div>
                                    <time datetime="2016-10-13" pubdate="" style="color: grey; text-align: justify;">
                                        Publicado jueves, 13 de octubre de 2016.
                                    </time>
                                    <div class="panel-body">
                                        <div class="row">
                                        <p style="padding:20px;text-align:justify;">
                                            <b>Apoya el Presidente C. Arturo Torres Aguirre, en localidad de Monte Grande: pavimentación de calle 2016/oct,con material de construcción y maquinaria que facilita el trabajo que realizan los propios habitantes de la localidad.</b>
                                        </p>
                                            <div class="col-md-4">
                                                <figure>
                                                    <a href="Libreria/img/2016/oct/apoyo_monte_grande/img1.jpg" target="_blank" >
                                                        <img src="Libreria/img/2016/oct/apoyo_monte_grande/img1.jpg" class="thumbnail img-responsive" alt="img" />
                                                    </a>
                                                </figure>
                                            </div>
                                            <div class="col-md-4">
                                                <figure>
                                                    <a href="Libreria/img/2016/oct/apoyo_monte_grande/img2.jpg" target="_blank" >
                                                        <img src="Libreria/img/2016/oct/apoyo_monte_grande/img2.jpg" class="thumbnail img-responsive" alt="img" />
                                                    </a>
                                                </figure>
                                            </div>
                                            <div class="col-md-4">
                                                <figure>
                                                    <a href="Libreria/img/2016/oct/apoyo_monte_grande/img3.jpg" target="_blank" >
                                                        <img src="Libreria/img/2016/oct/apoyo_monte_grande/img3.jpg" class="thumbnail img-responsive" alt="img" />
                                                    </a>
                                                </figure>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <figure>
                                                    <a href="Libreria/img/2016/oct/apoyo_monte_grande/img4.jpg" target="_blank" >
                                                        <img src="Libreria/img/2016/oct/apoyo_monte_grande/img4.jpg" class="thumbnail img-responsive" alt="img" />
                                                    </a>
                                                </figure>
                                            </div>
                                            <div class="col-md-4">
                                                <figure>
                                                    <a href="Libreria/img/2016/oct/apoyo_monte_grande/img5.jpg" target="_blank" >
                                                        <img src="Libreria/img/2016/oct/apoyo_monte_grande/img5.jpg" class="thumbnail img-responsive" alt="img" />
                                                    </a>
                                                </figure>
                                            </div>
                                            <div class="col-md-4">
                                                <figure>
                                                    <a href="Libreria/img/2016/oct/apoyo_monte_grande/img6.jpg" target="_blank" >
                                                        <img src="Libreria/img/2016/oct/apoyo_monte_grande/img6.jpg" class="thumbnail img-responsive" alt="img" />
                                                    </a>
                                                </figure>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </article>
                            <article><!-- Art 9-->
                                <div class="panel panel-success">
                                    <div class="panel-heading">
                                        <p>
                                            <b>Natalicio de Vicente Riva Palacio - H. Ayuntamiento de San Lucas, Mich.</b>
                                        </p>
                                    </div>
                                    <time datetime="2016-10-16" pubdate="" style="color: grey; text-align: justify;">
                                        Publicado domingo, 16 de octubre de 2016.
                                    </time>
                                    <div class="panel-body">
                                        <div class="row">
                                        <p style="padding:20px;text-align:justify;">
                                            <b>Desfile y acto civico-social, en Tenencia Riva Palacio, con presencia de presidente C.Arturo Torres Aguirre, su esposa Sra. Josefina Osorio presidenta de Dif San Lucas, entidades educativas, Dif Municipal San Lucas, Regidores y trabajadores de H. Ayuntamiento, conmemorando Natalicio de Vicente Riva Palacio.</b>
                                        </p>
                                            <div class="col-md-4">
                                                <figure>
                                                    <a href="Libreria/img/2016/oct/tenencia_riva_palacio/img1.jpg" target="_blank" >
                                                        <img src="Libreria/img/2016/oct/tenencia_riva_palacio/img1.jpg" class="thumbnail img-responsive" alt="img" />
                                                    </a>
                                                </figure>
                                            </div>
                                            <div class="col-md-4">
                                                <figure>
                                                    <a href="Libreria/img/2016/oct/tenencia_riva_palacio/img2.jpg" target="_blank" >
                                                        <img src="Libreria/img/2016/oct/tenencia_riva_palacio/img2.jpg" class="thumbnail img-responsive" alt="img" />
                                                    </a>
                                                </figure>
                                            </div>
                                            <div class="col-md-4">
                                                <figure>
                                                    <a href="Libreria/img/2016/oct/tenencia_riva_palacio/img3.jpg" target="_blank" >
                                                        <img src="Libreria/img/2016/oct/tenencia_riva_palacio/img3.jpg" class="thumbnail img-responsive" alt="img" />
                                                    </a>
                                                </figure>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <figure>
                                                    <a href="Libreria/img/2016/oct/tenencia_riva_palacio/img4.jpg" target="_blank" >
                                                        <img src="Libreria/img/2016/oct/tenencia_riva_palacio/img4.jpg" class="thumbnail img-responsive" alt="img" />
                                                    </a>
                                                </figure>
                                            </div>
                                            <div class="col-md-4">
                                                <figure>
                                                    <a href="Libreria/img/2016/oct/tenencia_riva_palacio/img5.jpg" target="_blank" >
                                                        <img src="Libreria/img/2016/oct/tenencia_riva_palacio/img5.jpg" class="thumbnail img-responsive" alt="img" />
                                                    </a>
                                                </figure>
                                            </div>
                                            <div class="col-md-4">
                                                <figure>
                                                    <a href="Libreria/img/2016/oct/tenencia_riva_palacio/img6.jpg" target="_blank" >
                                                        <img src="Libreria/img/2016/oct/tenencia_riva_palacio/img6.jpg" class="thumbnail img-responsive" alt="img" />
                                                    </a>
                                                </figure>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </article>
                            <article><!-- Art 8-->
                                <div class="panel panel-success">
                                    <div class="panel-heading">
                                        <p><b>
                                            46° Aniversario del General Lázaro Cárdenas del Río - H. Ayuntamiento de San Lucas, Mich.
                                        </b></p>
                                    </div>
                                    <time datetime="2016-10-19" pubdate="" style="color: grey; text-align: justify;">
                                        Publicado miercoles, 19 de octubre de 2016.
                                    </time>
                                    <div class="panel-body">
                                        <div class="row">
                                        <p style="padding:20px;text-align:justify;">
                                            <b>Conmemoran el 46 aniversario luctuoso de General Lázaro Cárdenas del Río, en Escuela Primaria Lázaro Cárdenas de San Lucas Mich.</b>
                                        </p>
                                            <div class="col-md-4">
                                                <figure>
                                                    <a href="Libreria/img/2016/oct/aniversario_lazaro/img1.jpg" target="_blank" >
                                                        <img src="Libreria/img/2016/oct/aniversario_lazaro/img1.jpg" class="thumbnail img-responsive" alt="img" />
                                                    </a>
                                                </figure>
                                            </div>
                                            <div class="col-md-4">
                                                <figure>
                                                    <a href="Libreria/img/2016/oct/aniversario_lazaro/img.jpg" target="_blank" >
                                                        <img src="Libreria/img/2016/oct/aniversario_lazaro/img.jpg" class="thumbnail img-responsive" alt="img" />
                                                    </a>
                                                </figure>
                                            </div>
                                            <div class="col-md-4">
                                                <figure>
                                                    <a href="Libreria/img/2016/oct/aniversario_lazaro/img3.jpg" target="_blank" >
                                                        <img src="Libreria/img/2016/oct/aniversario_lazaro/img3.jpg" class="thumbnail img-responsive" alt="img" />
                                                    </a>
                                                </figure>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </article>
                            <article><!-- Art 7-->
                                <div class="panel panel-success">
                                    <div class="panel-heading">
                                        <p><b>
                                            Bnderazo para Construcción de Aula Telebachilleres - H. Ayuntamiento de San Lucas, Mich.
                                        </b></p>
                                    </div>
                                    <time datetime="2016-10-21" pubdate="" style="color: grey; text-align: justify;">
                                        Publicado viernes, 21 de octubre de 2016.
                                    </time>
                                    <div class="panel-body">
                                        <div class="row">
                                            <p style="padding: 20px; text-align: justify;">
                                                <b>
                                                    Banderazo para construcción de plataforma de aula en Telebachilleres de la comunidad de Chumbitaro.
                                                </b>
                                            </p>
                                            <div class="col-md-4">
                                                <figure>
                                                    <a href="Libreria/img/2016/oct/telebachilleres_chumbitaro/img1.jpg" target="_blank" >
                                                        <img src="Libreria/img/2016/oct/telebachilleres_chumbitaro/img1.jpg" class="thumbnail img-responsive" alt="img" />
                                                    </a>
                                                </figure>
                                            </div>
                                            <div class="col-md-4">
                                                <figure>
                                                    <a href="Libreria/img/2016/oct/telebachilleres_chumbitaro/img2.jpg" target="_blank" >
                                                        <img src="Libreria/img/2016/oct/telebachilleres_chumbitaro/img2.jpg" class="thumbnail img-responsive" alt="img" />
                                                    </a>
                                                </figure>
                                            </div>
                                            <div class="col-md-4">
                                                <figure>
                                                    <a href="Libreria/img/2016/oct/telebachilleres_chumbitaro/img3.jpg" target="_blank" >
                                                        <img src="Libreria/img/2016/oct/telebachilleres_chumbitaro/img3.jpg" class="thumbnail img-responsive" alt="img" />
                                                    </a>
                                                </figure>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </article>
                            <article><!-- Art 6-->
                                <div class="panel panel-success">
                                    <div class="panel-heading">
                                        <p><b>
                                           Arranque de Construcción de Corredor para el Comercio - H. Ayuntamiento de San Lucas, Mich. 
                                        </b></p>
                                    </div>
                                    <time datetime="2016-10-21" pubdate="" style="color: grey; text-align: justify;">
                                        Publicado viernes, 21 de octubre de 2016.
                                    </time>
                                    <div class="panel-body">
                                        <div class="row">
                                            <p style="padding: 20px; text-align: justify;">
                                                <b>
                                                   En localidad de Chumbitaro asistieron Regidores y Directores de H. Ayuntamiento de San Lucas, acompañando al C. Presidente Municipal de San Lucas Arturo Torres Aguirre, para dar arranque de obra para construcción de corredor de comercio en la comunidad de Chumbitaro.
                                                </b>
                                            </p>
                                            <div class="col-md-6">
                                                <figure>
                                                    <a href="Libreria/img/2016/oct/corredor_turistico/img1.jpg" target="_blank" >
                                                        <img src="Libreria/img/2016/oct/corredor_turistico/img1.jpg" class="thumbnail img-responsive" alt="img" />
                                                    </a>
                                                </figure>
                                            </div>
                                            <div class="col-md-6">
                                                <figure>
                                                    <a href="Libreria/img/2016/oct/corredor_turistico/img1.jpg" target="_blank" >
                                                        <img src="Libreria/img/2016/oct/corredor_turistico/img1.jpg" class="thumbnail img-responsive" alt="img" />
                                                    </a>
                                                </figure>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </article>
                            <article><!-- Art 5-->
                                <div class="panel panel-success">
                                    <div class="panel-heading">
                                        <p><b>
                                            Entrega de Ambulancia Equipada al DIF Municipal - H. Ayuntamiento de San Lucas, Mich.
                                        </b></p>
                                    </div>
                                    <time datetime="2016-10-21" pubdate="" style="color: grey; text-align: justify;">
                                        Publicado viernes, 21 de octubre de 2016.
                                    </time>
                                    <div class="panel-body">
                                        <div class="row">
                                            <p style="padding: 20px; text-align: justify;">
                                                <b>
                                                    La gestión que realizó el C. Arturo Torres Aguirre al Diputado local del Distrito de Charo, Raul Prieto, se hace entrega de ambulancia equipada a DIF San Lucas a través del gobierno municipal de San Lucas, el propio presidente hace entrega oficial que estara dando servicio de forma indistinta a cualquier parte de la República, beneficiando los problemas de salud en carácter de emergencia.
                                                <b>
                                            </p>
                                            <div class="col-md-4">
                                                <figure>
                                                    <a href="Libreria/img/2016/oct/ambulancia_equipada/img1.jpg" target="_blank" >
                                                        <img src="Libreria/img/2016/oct/ambulancia_equipada/img1.jpg" class="thumbnail img-responsive" alt="img" />
                                                    </a>
                                                </figure>
                                            </div>
                                            <div class="col-md-4">
                                                <figure>
                                                    <a href="Libreria/img/2016/oct/ambulancia_equipada/img2.jpg" target="_blank" >
                                                        <img src="Libreria/img/2016/oct/ambulancia_equipada/img2.jpg" class="thumbnail img-responsive" alt="img" />
                                                    </a>
                                                </figure>
                                            </div>
                                            <div class="col-md-4">
                                                <figure>
                                                    <a href="Libreria/img/2016/oct/ambulancia_equipada/img3.jpg" target="_blank" >
                                                        <img src="Libreria/img/2016/oct/ambulancia_equipada/img3.jpg" class="thumbnail img-responsive" alt="img" />
                                                    </a>
                                                </figure>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </article>
                            <article><!-- Art 4-->
                                <div class="panel panel-success">
                                    <div class="panel-heading">
                                        <p><b>
                                            Banderazo de Arranque - H. Ayuntamiento de San Lucas, Mich.
                                        </b></p>
                                    </div>
                                    <time datetime="2016-10-24" pubdate="" style="color: grey; text-align: justify;">
                                        Publicado lunes, 24 de octubre de 2016.
                                    </time>
                                    <div class="panel-body">
                                        <div class="row">
                                            <p style="padding: 20px; text-align: justify;">
                                                <b>
                                                    Banderazo de arranque: Obra de drenaje en Col. El Progreso en San Lucas Mich
                                                <b>
                                            </p>
                                            <div class="col-md-4">
                                                <figure>
                                                    <a href="Libreria/img/2016/oct/obra_sanlucas/img1.jpg" target="_blank" >
                                                        <img src="Libreria/img/2016/oct/obra_sanlucas/img1.jpg" class="thumbnail img-responsive" alt="img" />
                                                    </a>
                                                </figure>
                                            </div>
                                            <div class="col-md-4">
                                                <figure>
                                                    <a href="Libreria/img/2016/oct/obra_sanlucas/img2.jpg" target="_blank" >
                                                        <img src="Libreria/img/2016/oct/obra_sanlucas/img2.jpg" class="thumbnail img-responsive" alt="img" />
                                                    </a>
                                                </figure>
                                            </div>
                                            <div class="col-md-4">
                                                <figure>
                                                    <a href="Libreria/img/2016/oct/obra_sanlucas/img3.jpg" target="_blank" >
                                                        <img src="Libreria/img/2016/oct/obra_sanlucas/img3.jpg" class="thumbnail img-responsive" alt="img" />
                                                    </a>
                                                </figure>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </article>
                            <article><!-- Art 3-->
                                <div class="panel panel-success">
                                    <div class="panel-heading">
                                        <p><b>
                                            Coordial invitación de Arranque de Obra en Cd. Altamirano Gro. - H. Ayuntamiento de San Lucas, Mich.
                                        </b></p>
                                    </div>
                                    <time datetime="2016-10-26" pubdate="" style="color: grey; text-align: justify;">
                                        Publicado martes, 25 de octubre de 2016.
                                    </time>
                                    <div class="panel-body">
                                        <div class="row">
                                            <p style="padding: 20px; text-align: justify;">
                                                <b>
                                                    El C. Arturo Torres Aguirre Asistió a la Coordial invitación de Arranque de Obra de la Rehabilitación de la avenida Lazaro cardenas en Cd. Altamirano, acompañando al Presidente Municipal de Pungarabato el Lic. Daniel Basulto De Nova.
                                                <b>
                                            </p>
                                            <div class="col-md-4">
                                                <figure>
                                                    <a href="Libreria/img/2016/oct/altamirano/img1.jpg" target="_blank" >
                                                        <img src="Libreria/img/2016/oct/altamirano/img1.jpg" class="thumbnail img-responsive" alt="img" />
                                                    </a>
                                                </figure>
                                            </div>
                                            <div class="col-md-4">
                                                <figure>
                                                    <a href="Libreria/img/2016/oct/altamirano/img2.jpg" target="_blank" >
                                                        <img src="Libreria/img/2016/oct/altamirano/img2.jpg" class="thumbnail img-responsive" alt="img" />
                                                    </a>
                                                </figure>
                                            </div>
                                            <div class="col-md-4">
                                                <figure>
                                                    <a href="Libreria/img/2016/oct/altamirano/img3.jpg" target="_blank" >
                                                        <img src="Libreria/img/2016/oct/altamirano/img3.jpg" class="thumbnail img-responsive" alt="img" />
                                                    </a>
                                                </figure>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </article>
                            <article><!-- Art 2-->
                                <div class="panel panel-success">
                                    <div class="panel-heading">
                                        <p><b>
                                            Visita a escuela Ignacio Zaragoza del municipio - H. Ayuntamiento de San Lucas, Mich.
                                        </b></p>
                                    </div>
                                    <time datetime="2016-10-26" pubdate="" style="color: grey; text-align: justify;">
                                        Publicado miércoles, 26 de octubre de 2016.
                                    </time>
                                    <div class="panel-body">
                                        <div class="row">
                                            <p style="padding: 20px; text-align: justify;">
                                                <b>
                                                    El día miércoles 26 de octubre, el C. Arturo Torres Aguirre visito la escuela primaria Ignacio Zaragoza de la Comunidad el cuajilote. 
                                                <b>
                                            </p>
                                            <div class="col-md-4">
                                                <figure>
                                                    <a href="Libreria/img/2016/oct/ignacio_zaragoza/img1.jpg" target="_blank" >
                                                        <img src="Libreria/img/2016/oct/ignacio_zaragoza/img1.jpg" class="thumbnail img-responsive" alt="img" />
                                                    </a>
                                                </figure>
                                            </div>
                                            <div class="col-md-4">
                                                <figure>
                                                    <a href="Libreria/img/2016/oct/ignacio_zaragoza/img2.jpg" target="_blank" >
                                                        <img src="Libreria/img/2016/oct/ignacio_zaragoza/img2.jpg" class="thumbnail img-responsive" alt="img" />
                                                    </a>
                                                </figure>
                                            </div>
                                            <div class="col-md-4">
                                                <figure>
                                                    <a href="Libreria/img/2016/oct/ignacio_zaragoza/img3.jpg" target="_blank" >
                                                        <img src="Libreria/img/2016/oct/ignacio_zaragoza/img3.jpg" class="thumbnail img-responsive" alt="img" />
                                                    </a>
                                                </figure>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </article>
                            <article><!-- Art 1-->
                                <div class="panel panel-success">
                                    <div class="panel-heading">
                                       Construcción de vivienda de familia de bajos recursos - H. Ayuntamiento de San Lucas, Mich.
                                    </div>
                                    <time datetime="2016-10-28" pubdate="" style="color: grey; text-align: justify;">
                                        Publicado viernes, 28 de octubre de 2016.
                                    </time>
                                    <div class="panel-body">
                                        <div class="row">
                                            <p style="padding: 20px; text-align: justify;">
                                                <b>
                                                    El día viernes 28 de Octubre del 2016, el C. Arturo Torres Aguirre hace presencia en la comunidad de Corral Viejo para revisión de la construcción de apoyo a la vivienda para familia de bajo recursos.
                                                <b>
                                            </p>
                                            <div class="col-md-4">
                                                <figure>
                                                    <a href="Libreria/img/2016/oct/obra_corral_viejo/img1.jpg" target="_blank" >
                                                        <img src="Libreria/img/2016/oct/obra_corral_viejo/img1.jpg" class="thumbnail img-responsive" alt="img" />
                                                    </a>
                                                </figure>
                                            </div>
                                            <div class="col-md-4">
                                                <figure>
                                                    <a href="Libreria/img/2016/oct/obra_corral_viejo/img2.jpg" target="_blank" >
                                                        <img src="Libreria/img/2016/oct/obra_corral_viejo/img2.jpg" class="thumbnail img-responsive" alt="img" />
                                                    </a>
                                                </figure>
                                            </div>
                                            <div class="col-md-4">
                                                <figure>
                                                    <a href="Libreria/img/2016/oct/obra_corral_viejo/img3.jpg" target="_blank" >
                                                        <img src="Libreria/img/2016/oct/obra_corral_viejo/img3.jpg" class="thumbnail img-responsive" alt="img" />
                                                    </a>
                                                </figure>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </article>
                            <article><!-- Art 1-->
                                <div class="panel panel-success">
                                    <div class="panel-heading">
                                       Inauguración de Calles en la comunidad de San Jerónimo - H. Ayuntamiento de San Lucas, Mich.
                                    </div>
                                    <time datetime="2016-10-29" pubdate="" style="color: grey; text-align: justify;">
                                        Publicado sábado, 29 de octubre de 2016.
                                    </time>
                                    <div class="panel-body">
                                        <div class="row">
                                            <p style="padding: 20px; text-align: justify;">
                                                <b>
                                                    El día sábado 29 de Octubre del 2016, integrantes del H. Ayuntamiento encabezados por el C. Arturo Torres Aguirre brindan mejores condisiones a dos calles vías públicas de la comunidad de San Jerónimo (Calle 18 de Marzo y Calle Moctezuma). Vecinos y público en general presenciaron la inaguración de las calles antes citadas en favor de la localidad ya mencionada.
                                                <b>
                                            </p>
                                            <div class="col-md-4">
                                                <figure>
                                                    <a href="Libreria/img/2016/oct/obra_san_jeronimo/img1.jpg" target="_blank" >
                                                        <img src="Libreria/img/2016/oct/obra_san_jeronimo/img1.jpg" class="thumbnail img-responsive" alt="img" />
                                                    </a>
                                                </figure>
                                            </div>
                                            <div class="col-md-4">
                                                <figure>
                                                    <a href="Libreria/img/2016/oct/obra_san_jeronimo/img2.jpg" target="_blank" >
                                                        <img src="Libreria/img/2016/oct/obra_san_jeronimo/img2.jpg" class="thumbnail img-responsive" alt="img" />
                                                    </a>
                                                </figure>
                                            </div>
                                            <div class="col-md-4">
                                                <figure>
                                                    <a href="Libreria/img/2016/oct/obra_san_jeronimo/img3.jpg" target="_blank" >
                                                        <img src="Libreria/img/2016/oct/obra_san_jeronimo/img3.jpg" class="thumbnail img-responsive" alt="img" />
                                                    </a>
                                                </figure>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </article>
                            <article><!-- Art 1-->
                                <div class="panel panel-success">
                                    <div class="panel-heading">
                                        Construcción de Unidad Deportiva en San Jerónimo- H. Ayuntamiento de San Lucas, Mich.
                                    </div>
                                    <time datetime="2016-10-31" pubdate="" style="color: grey; text-align: justify;">
                                        Publicado lunes, 31 de octubre de 2016.
                                    </time>
                                    <div class="panel-body">
                                        <div class="row">
                                            <p style="padding: 20px; text-align: justify;">
                                                <b>
                                                    El día domingo de 31 de Octubre de 2016 El C. Arturo Torres Aguirre dio banderazo para el inicio de arranque de obra para Construccion de Unidad Deportiva, en compañia de Regidores, Secretario y trabajadores del H. Ayuntamiento, la construcción se llevara acabo en la comunidad de San Jeronimo, dicha Obra Beneficiara aproximadamente a 1200 Personas. Obra Gestionada por el Diputado Federal Fidel Rueda TorreBlanca.
                                                <b>
                                            </p>
                                            <div class="col-md-4">
                                                <figure>
                                                    <a href="Libreria/img/2016/oct/deportiva_san_jeronimo/img1.jpg" target="_blank" >
                                                        <img src="Libreria/img/2016/oct/deportiva_san_jeronimo/img1.jpg" class="thumbnail img-responsive" alt="img" />
                                                    </a>
                                                </figure>
                                            </div>
                                            <div class="col-md-4">
                                                <figure>
                                                    <a href="Libreria/img/2016/oct/deportiva_san_jeronimo/img2.jpg" target="_blank" >
                                                        <img src="Libreria/img/2016/oct/deportiva_san_jeronimo/img2.jpg" class="thumbnail img-responsive" alt="img" />
                                                    </a>
                                                </figure>
                                            </div>
                                            <div class="col-md-4">
                                                <figure>
                                                    <a href="Libreria/img/2016/oct/deportiva_san_jeronimo/img3.jpg" target="_blank" >
                                                        <img src="Libreria/img/2016/oct/deportiva_san_jeronimo/img3.jpg" class="thumbnail img-responsive" alt="img" />
                                                    </a>
                                                </figure>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </article>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3"><!-- Barra lateral -->
            <aside>
                <?php 
                    include "Vista/main.phtml";
                    include "Vista/submenu.phtml";
                ?>
            </aside>
        </div><!-- end BL -->
    </div>
</section>
