<section>
    <div style="text-align: center;">
        <a href="?fp=principal"><i class="fa fa-fw fa-home"></i>Home</a>
        <img src="Libreria/img/login.png" alt="Home"/><b>transparencia</b>
    </div>
    <hr />
    <div class="row">
        <div class="col-md-8">
            <article>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h1 style="font-size: xx-large;"><b>Transparencia <?php echo $_GET['data'];?></b></h1>
                    </div>
                    <div class="panel-body">
                        <h3 style="color: #000040;">
                            Fracción XXI.
                        </h3>
                        <hr />
                        <h3 style="color: #000040;">
                            Accesos directos a la información.
                        </h3>
                        <br />
                        <?php if($_GET['data'] == "2015"){?>
                            
                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <thead>
                                        <th style="text-align: center;">Descripción de Documento</th>
                                        <th style="text-align: center;">PDF</th>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Contratación Fuera de Estructura</td>
                                            <td><a href="Libreria\pdf\fracciones\veintiuno<?php echo $_GET['data']{strlen($_GET['data'])-2};?><?php echo $_GET['data']{strlen($_GET['data'])-1};?>\contratacion.pdf" target="_blank" ><img src="Libreria/img/fraccion/pdf.png" alt="img pdf" /></a></td>
                                        </tr>
                                        <tr>
                                            <td>Costos Integrales de Viajes <b style="color:red;">●</b></td>
                                            <td><a href="Libreria\pdf\fracciones\veintiuno<?php echo $_GET['data']{strlen($_GET['data'])-2};?><?php echo $_GET['data']{strlen($_GET['data'])-1};?>\costos.pdf" target="_blank">
                                            <img src="Libreria/img/fraccion/pdf.png" alt="img pdf" /></a></td>
                                        </tr>
                                        <tr>
                                            <td>Cricterios de Designación <b style="color:red;">●</b></td>
                                            <td><a href="Libreria\pdf\fracciones\veintiuno<?php echo $_GET['data']{strlen($_GET['data'])-2};?><?php echo $_GET['data']{strlen($_GET['data'])-1};?>\cricterios.pdf" target="_blank">
                                            <img src="Libreria/img/fraccion/pdf.png" alt="cricterios pdf" /></a></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        <?php } ?>
                        
                        <?php if($_GET['data'] == "2016"){?>
                        <div class="panel panel-info">
                            <div class="panel-heading"><b>PRIMER TRIMESTRE</b></div>
                            <div class="panel-body">
                                <div class="table-responsive">
                                    <table class="table table-hover">
                                        <thead>
                                            <th style="text-align: center;">Descripción de Documento</th>
                                            <th style="text-align: center;">PDF</th>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>Contratación Fuera de Estructura</td>
                                                <td><a href="Libreria\pdf\fracciones\veintiuno<?php echo $_GET['data']{strlen($_GET['data'])-2};?><?php echo $_GET['data']{strlen($_GET['data'])-1};?>\contratacion.pdf" target="_blank" ><img src="Libreria/img/fraccion/pdf.png" alt="img pdf" /></a></td>
                                            </tr>
                                            <tr>
                                                <td>Costos Integrales de Viajes <b style="color:red;">●</b></td>
                                                <td><a href="Libreria\pdf\fracciones\veintiuno<?php echo $_GET['data']{strlen($_GET['data'])-2};?><?php echo $_GET['data']{strlen($_GET['data'])-1};?>\costos.pdf" target="_blank">
                                                <img src="Libreria/img/fraccion/pdf.png" alt="img pdf" /></a></td>
                                            </tr>
                                            <tr>
                                                <td>Cricterios de Designación <b style="color:red;">●</b></td>
                                                <td><a href="Libreria\pdf\fracciones\veintiuno<?php echo $_GET['data']{strlen($_GET['data'])-2};?><?php echo $_GET['data']{strlen($_GET['data'])-1};?>\cricterios.pdf" target="_blank">
                                                <img src="Libreria/img/fraccion/pdf.png" alt="cricterios pdf" /></a></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-info">
                            <div class="panel-heading"><b>SEGUNDO TRIMESTRE</b></div>
                            <div class="panel-body">
                                <div class="table-responsive">
                                    <table class="table table-hover">
                                        <thead>
                                            <th style="text-align: center;">Descripción de Documento</th>
                                            <th style="text-align: center;">PDF</th>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>Contratación Fuera de Estructura</td>
                                                <td><a href="Libreria\pdf\fracciones\veintiuno<?php echo $_GET['data']{strlen($_GET['data'])-2};?><?php echo $_GET['data']{strlen($_GET['data'])-1};?>\contratacion.pdf" target="_blank" ><img src="Libreria/img/fraccion/pdf.png" alt="img pdf" /></a></td>
                                            </tr>
                                            <tr>
                                                <td>Costos Integrales de Viajes <b style="color:red;">●</b></td>
                                                <td><a href="Libreria\pdf\fracciones\veintiuno<?php echo $_GET['data']{strlen($_GET['data'])-2};?><?php echo $_GET['data']{strlen($_GET['data'])-1};?>\costos.pdf" target="_blank">
                                                <img src="Libreria/img/fraccion/pdf.png" alt="img pdf" /></a></td>
                                            </tr>
                                            <tr>
                                                <td>Cricterios de Designación <b style="color:red;">●</b></td>
                                                <td><a href="Libreria\pdf\fracciones\veintiuno<?php echo $_GET['data']{strlen($_GET['data'])-2};?><?php echo $_GET['data']{strlen($_GET['data'])-1};?>\cricterios.pdf" target="_blank">
                                                <img src="Libreria/img/fraccion/pdf.png" alt="cricterios pdf" /></a></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-info">
                            <div class="panel-heading"><b>TERCER TRIMESTRE</b></div>
                            <div class="panel-body">
                                <div class="table-responsive">
                                    <table class="table table-hover">
                                        <thead>
                                            <th style="text-align: center;">Descripción de Documento</th>
                                            <th style="text-align: center;">PDF</th>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>Contratación Fuera de Estructura</td>
                                                <td><a href="Libreria\pdf\fracciones\veintiuno<?php echo $_GET['data']{strlen($_GET['data'])-2};?><?php echo $_GET['data']{strlen($_GET['data'])-1};?>\contratacion.pdf" target="_blank" ><img src="Libreria/img/fraccion/pdf.png" alt="img pdf" /></a></td>
                                            </tr>
                                            <tr>
                                                <td>Costos Integrales de Viajes <b style="color:red;">●</b></td>
                                                <td><a href="Libreria\pdf\fracciones\veintiuno<?php echo $_GET['data']{strlen($_GET['data'])-2};?><?php echo $_GET['data']{strlen($_GET['data'])-1};?>\costos.pdf" target="_blank">
                                                <img src="Libreria/img/fraccion/pdf.png" alt="img pdf" /></a></td>
                                            </tr>
                                            <tr>
                                                <td>Cricterios de Designación <b style="color:red;">●</b></td>
                                                <td><a href="Libreria\pdf\fracciones\veintiuno<?php echo $_GET['data']{strlen($_GET['data'])-2};?><?php echo $_GET['data']{strlen($_GET['data'])-1};?>\cricterios.pdf" target="_blank">
                                                <img src="Libreria/img/fraccion/pdf.png" alt="cricterios pdf" /></a></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-info">
                            <div class="panel-heading"><b>CUARTO TRIMESTRE</b></div>
                            <div class="panel-body">
                                <div class="table-responsive">
                                    <table class="table table-hover">
                                        <thead>
                                            <th style="text-align: center;">Descripción de Documento</th>
                                            <th style="text-align: center;">PDF</th>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>Contratación Fuera de Estructura</td>
                                                <td><a href="Libreria\pdf\fracciones\veintiuno<?php echo $_GET['data']{strlen($_GET['data'])-2};?><?php echo $_GET['data']{strlen($_GET['data'])-1};?>\contratacion.pdf" target="_blank" ><img src="Libreria/img/fraccion/pdf.png" alt="img pdf" /></a></td>
                                            </tr>
                                            <tr>
                                                <td>Costos Integrales de Viajes <b style="color:red;">●</b></td>
                                                <td><a href="Libreria\pdf\fracciones\veintiuno<?php echo $_GET['data']{strlen($_GET['data'])-2};?><?php echo $_GET['data']{strlen($_GET['data'])-1};?>\costos.pdf" target="_blank">
                                                <img src="Libreria/img/fraccion/pdf.png" alt="img pdf" /></a></td>
                                            </tr>
                                            <tr>
                                                <td>Cricterios de Designación <b style="color:red;">●</b></td>
                                                <td><a href="Libreria\pdf\fracciones\veintiuno<?php echo $_GET['data']{strlen($_GET['data'])-2};?><?php echo $_GET['data']{strlen($_GET['data'])-1};?>\cricterios.pdf" target="_blank">
                                                <img src="Libreria/img/fraccion/pdf.png" alt="cricterios pdf" /></a></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <?php } ?>
                        <?php if($_GET['data'] == "2017"){?>
                            <div class="panel panel-info">
                                <div class="panel-heading"><b>PRIMER TRIMESTRE</b></div>
                                <div class="panel-body">
                                    <div class="table-responsive">
                                        <table class="table table-hover">
                                            <thead>
                                                <th style="text-align: center;">Descripción de Documento</th>
                                                <th style="text-align: center;">PDF</th>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td><b style="color: maroon;">Contratación Fuera de Estructura</b> <b style="color:red;">●</b></td>
                                                    <td><a href="Libreria\pdf\fracciones\veintiuno<?php echo $_GET['data']{strlen($_GET['data'])-2};?><?php echo $_GET['data']{strlen($_GET['data'])-1};?>\contratacion.pdf" target="_blank" ><img src="Libreria/img/fraccion/pdf.png" alt="img pdf" /></a></td>
                                                </tr>
                                                <tr>
                                                    <td><b style="color: maroon;">Costos Integrales de Viajes</b> <b style="color:red;">●</b></td>
                                                    <td><a href="Libreria\pdf\fracciones\veintiuno<?php echo $_GET['data']{strlen($_GET['data'])-2};?><?php echo $_GET['data']{strlen($_GET['data'])-1};?>\costos.pdf" target="_blank">
                                                    <img src="Libreria/img/fraccion/pdf.png" alt="img pdf" /></a></td>
                                                </tr>
                                                <tr>
                                                    <td><b style="color: maroon;">Cricterios de Designación</b> <b style="color:red;">●</b></td>
                                                    <td><a href="Libreria\pdf\fracciones\veintiuno<?php echo $_GET['data']{strlen($_GET['data'])-2};?><?php echo $_GET['data']{strlen($_GET['data'])-1};?>\cricterios.pdf" target="_blank">
                                                    <img src="Libreria/img/fraccion/pdf.png" alt="cricterios pdf" /></a></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        <?php } ?>  
                    </div>
                </div>
            </article>
        </div>
        <div class="col-md-4">
            <?php include "Vista/submenu.phtml"; ?>
        </div>
    </div>
</section>