﻿<section>
    <div style="text-align: center;">
        <a href="?fp=principal"><i class="fa fa-fw fa-home"></i>Home</a>
        <img src="Libreria/img/login.png" alt="Home"/><b>transparencia</b>
    </div>
    <hr />
    <div class="row">
        <div class="col-md-8">
            <article>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h1 style="font-size: xx-large;"><b>Transparencia <?php echo $_GET['data'];?></b></h1>
                    </div>
                    <div class="panel-body">
                        <h3 style="color: #000040;">
                            Fracción II.
                        </h3>
                        <hr />
                        <h3 style="color: #000040;">
                            Accesos directos a la información.
                        </h3>
                        <br />
                        <?php if($_GET['data'] == "2015"){?>
                        <div class="panel panel-info">
                            <div class="panel-heading"><b>PRIMER TRIMESTRE</b></div>
                            <div class="panel-body">
                                <div class="table-responsive">
                                    <table class="table table-hover">
                                        <thead>
                                            <th>Descripción de Documentos</th>
                                            <th>PDF</th>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>Estructura Organica</td>
                                                <td><a href="Libreria\pdf\fracciones\dos<?php echo $_GET['data']{strlen($_GET['data'])-2};?><?php echo $_GET['data']{strlen($_GET['data'])-1};?>\organica.pdf" target="_blank" >
                                                <img src="Libreria/img/fraccion/pdf.png" alt="img pdf" /></a></td>
                                            </tr>
                                            <tr>
                                                <td>Servicios Tesorería</td>
                                                <td><a href="Libreria\pdf\fracciones\dos<?php echo $_GET['data']{strlen($_GET['data'])-2};?><?php echo $_GET['data']{strlen($_GET['data'])-1};?>\tesoreria.pdf" target="_blank" >
                                               <img src="Libreria/img/fraccion/pdf.png" alt="img pdf" /></a></td>
                                                    </tr>
                                                    <tr>
                                                        <td>Servicios Sindicatura</td>
                                                        <td><a href="Libreria\pdf\fracciones\dos<?php echo $_GET['data']{strlen($_GET['data'])-2};?><?php echo $_GET['data']{strlen($_GET['data'])-1};?>\sindicatura.pdf" target="_blank" >
                                                        <img src="Libreria/img/fraccion/pdf.png" alt="img pdf" /></a></td>
                                                    </tr>
                                                    <tr>
                                                        <td>Servicios Secretaría</td>
                                                        <td><a href="Libreria\pdf\fracciones\dos<?php echo $_GET['data']{strlen($_GET['data'])-2};?><?php echo $_GET['data']{strlen($_GET['data'])-1};?>\secretaria.pdf" target="_blank" >
                                                        <img src="Libreria/img/fraccion/pdf.png" alt="img pdf" /></a></td>
                                                    </tr>
                                                    <tr>
                                                        <td>Servicios SEDESOL</td>
                                                        <td><a href="Libreria\pdf\fracciones\dos<?php echo $_GET['data']{strlen($_GET['data'])-2};?><?php echo $_GET['data']{strlen($_GET['data'])-1};?>\sedesol.pdf" target="_blank">
                                               <img src="Libreria/img/fraccion/pdf.png" alt="img pdf" /></a></td>
                                            </tr>
                                            <tr>
                                                <td>Servicios de Desarrollo Rural</td>
                                                <td><a href="Libreria\pdf\fracciones\dos<?php echo $_GET['data']{strlen($_GET['data'])-2};?><?php echo $_GET['data']{strlen($_GET['data'])-1};?>\rural.pdf" target="_blank">
                                                <img src="Libreria/img/fraccion/pdf.png" alt="img pdf" /></a></td>
                                            </tr>
                                            <tr>
                                                <td>Servicios Direccion de Urbanismo</td>
                                                <td><a href="Libreria\pdf\fracciones\dos<?php echo $_GET['data']{strlen($_GET['data'])-2};?><?php echo $_GET['data']{strlen($_GET['data'])-1};?>\urbanismo.pdf" target="_blank">
                                                <img src="Libreria/img/fraccion/pdf.png" alt="img pdf" /></a></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <?php } ?>
                        <?php if($_GET['data'] == "2016"){?>
                        <div class="panel panel-info">
                            <div class="panel-heading"><b>PRIMER TRIMESTRE</b></div>
                            <div class="panel-body">
                                <div class="table-responsive">
                                    <table class="table table-hover">
                                        <thead>
                                            <th style="text-align: center;">Descripción de Documentos</th>
                                            <th style="text-align: center;">PDF</th>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>Estructura Organica</td>
                                                <td><a href="Libreria\pdf\fracciones\dos<?php echo $_GET['data']{strlen($_GET['data'])-2};?><?php echo $_GET['data']{strlen($_GET['data'])-1};?>\organica.pdf" target="_blank" >
                                                <img src="Libreria/img/fraccion/pdf.png" alt="img pdf" /></a></td>
                                            </tr>
                                            <tr>
                                                <td>Servicios Tesorería</td>
                                                <td><a href="Libreria\pdf\fracciones\dos<?php echo $_GET['data']{strlen($_GET['data'])-2};?><?php echo $_GET['data']{strlen($_GET['data'])-1};?>\tesoreria.pdf" target="_blank" >
                                               <img src="Libreria/img/fraccion/pdf.png" alt="img pdf" /></a></td>
                                            </tr>
                                            <tr>
                                                <td>Servicios Sindicatura</td>
                                                <td><a href="Libreria\pdf\fracciones\dos<?php echo $_GET['data']{strlen($_GET['data'])-2};?><?php echo $_GET['data']{strlen($_GET['data'])-1};?>\sindicatura.pdf" target="_blank" >
                                                <img src="Libreria/img/fraccion/pdf.png" alt="img pdf" /></a></td>
                                            </tr>
                                            <tr>
                                                <td>Servicios Secretaría</td>
                                                <td><a href="Libreria\pdf\fracciones\dos<?php echo $_GET['data']{strlen($_GET['data'])-2};?><?php echo $_GET['data']{strlen($_GET['data'])-1};?>\secretaria.pdf" target="_blank" >
                                                <img src="Libreria/img/fraccion/pdf.png" alt="img pdf" /></a></td>
                                            </tr>
                                            <tr>
                                                <td>Servicios SEDESOL</td>
                                                <td><a href="Libreria\pdf\fracciones\dos<?php echo $_GET['data']{strlen($_GET['data'])-2};?><?php echo $_GET['data']{strlen($_GET['data'])-1};?>\sedesol.pdf" target="_blank">
                                               <img src="Libreria/img/fraccion/pdf.png" alt="img pdf" /></a></td>
                                            </tr>
                                            <tr>
                                                <td>Servicios de Desarrollo Rural</td>
                                                <td><a href="Libreria\pdf\fracciones\dos<?php echo $_GET['data']{strlen($_GET['data'])-2};?><?php echo $_GET['data']{strlen($_GET['data'])-1};?>\rural.pdf" target="_blank">
                                                <img src="Libreria/img/fraccion/pdf.png" alt="img pdf" /></a></td>
                                            </tr>
                                            <tr>
                                                <td>Servicios Direccion de Urbanismo</td>
                                                <td><a href="Libreria\pdf\fracciones\dos<?php echo $_GET['data']{strlen($_GET['data'])-2};?><?php echo $_GET['data']{strlen($_GET['data'])-1};?>\urbanismo.pdf" target="_blank">
                                                <img src="Libreria/img/fraccion/pdf.png" alt="img pdf" /></a></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-info">
                            <div class="panel-heading"><b>SEGUNDO TRIMESTRE</b></div>
                            <div class="panel-body">
                                <div class="table-responsive">
                                    <table class="table table-hover">
                                        <thead>
                                            <th style="text-align: center;">Descripción de Documentos</th>
                                            <th style="text-align: center;">PDF</th>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>Estructura Organica</td>
                                                <td><a href="Libreria\pdf\fracciones\dos<?php echo $_GET['data']{strlen($_GET['data'])-2};?><?php echo $_GET['data']{strlen($_GET['data'])-1};?>\organica2.pdf" target="_blank" >
                                                <img src="Libreria/img/fraccion/pdf.png" alt="img pdf" /></a></td>
                                            </tr>
                                            <tr>
                                                <td>Servicios Tesorería</td>
                                                <td><a href="Libreria\pdf\fracciones\dos<?php echo $_GET['data']{strlen($_GET['data'])-2};?><?php echo $_GET['data']{strlen($_GET['data'])-1};?>\tesoreria2.pdf" target="_blank" >
                                               <img src="Libreria/img/fraccion/pdf.png" alt="img pdf" /></a></td>
                                                    </tr>
                                            <tr>
                                                <td>Servicios Sindicatura</td>
                                                <td><a href="Libreria\pdf\fracciones\dos<?php echo $_GET['data']{strlen($_GET['data'])-2};?><?php echo $_GET['data']{strlen($_GET['data'])-1};?>\sindicatura2.pdf" target="_blank" >
                                                <img src="Libreria/img/fraccion/pdf.png" alt="img pdf" /></a></td>
                                            </tr>
                                            <tr>
                                                <td>Servicios Secretaría</td>
                                                <td><a href="Libreria\pdf\fracciones\dos<?php echo $_GET['data']{strlen($_GET['data'])-2};?><?php echo $_GET['data']{strlen($_GET['data'])-1};?>\secretaria2.pdf" target="_blank" >
                                                <img src="Libreria/img/fraccion/pdf.png" alt="img pdf" /></a></td>
                                            </tr>
                                            <tr>
                                                <td>Servicios SEDESOL</td>
                                                <td><a href="Libreria\pdf\fracciones\dos<?php echo $_GET['data']{strlen($_GET['data'])-2};?><?php echo $_GET['data']{strlen($_GET['data'])-1};?>\sedesol2.pdf" target="_blank">
                                               <img src="Libreria/img/fraccion/pdf.png" alt="img pdf" /></a></td>
                                            </tr>
                                            <tr>
                                                <td>Servicios de Desarrollo Rural</td>
                                                <td><a href="Libreria\pdf\fracciones\dos<?php echo $_GET['data']{strlen($_GET['data'])-2};?><?php echo $_GET['data']{strlen($_GET['data'])-1};?>\rural2.pdf" target="_blank">
                                                <img src="Libreria/img/fraccion/pdf.png" alt="img pdf" /></a></td>
                                            </tr>
                                            <tr>
                                                <td>Servicios Direccion de Urbanismo</td>
                                                <td><a href="Libreria\pdf\fracciones\dos<?php echo $_GET['data']{strlen($_GET['data'])-2};?><?php echo $_GET['data']{strlen($_GET['data'])-1};?>\urbanismo2.pdf" target="_blank">
                                                <img src="Libreria/img/fraccion/pdf.png" alt="img pdf" /></a></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-info">
                            <div class="panel-heading"><b>TERCER TRIMESTRE</b></div>
                            <div class="panel-body">
                                <div class="table-responsive">
                                    <table class="table table-hover">
                                        <thead>
                                            <th style="text-align: center;">Descripción de Documentos</th>
                                            <th style="text-align: center;">PDF</th>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>Estructura Organica</td>
                                                <td><a href="Libreria\pdf\fracciones\dos<?php echo $_GET['data']{strlen($_GET['data'])-2};?><?php echo $_GET['data']{strlen($_GET['data'])-1};?>\organica3.pdf" target="_blank" >
                                                <img src="Libreria/img/fraccion/pdf.png" alt="img pdf" /></a></td>
                                            </tr>
                                            <tr>
                                                <td>Servicios Tesorería</td>
                                                <td><a href="Libreria\pdf\fracciones\dos<?php echo $_GET['data']{strlen($_GET['data'])-2};?><?php echo $_GET['data']{strlen($_GET['data'])-1};?>\tesoreria3.pdf" target="_blank" >
                                               <img src="Libreria/img/fraccion/pdf.png" alt="img pdf" /></a></td>
                                            </tr>
                                            <tr>
                                                <td>Servicios Sindicatura</td>
                                                <td><a href="Libreria\pdf\fracciones\dos<?php echo $_GET['data']{strlen($_GET['data'])-2};?><?php echo $_GET['data']{strlen($_GET['data'])-1};?>\sindicatura3.pdf" target="_blank" >
                                                <img src="Libreria/img/fraccion/pdf.png" alt="img pdf" /></a></td>
                                            </tr>
                                            <tr>
                                                <td>Servicios Secretaría</td>
                                                <td><a href="Libreria\pdf\fracciones\dos<?php echo $_GET['data']{strlen($_GET['data'])-2};?><?php echo $_GET['data']{strlen($_GET['data'])-1};?>\secretaria3.pdf" target="_blank" >
                                                <img src="Libreria/img/fraccion/pdf.png" alt="img pdf" /></a></td>
                                            </tr>
                                            <tr>
                                                <td>Servicios SEDESOL</td>
                                                <td><a href="Libreria\pdf\fracciones\dos<?php echo $_GET['data']{strlen($_GET['data'])-2};?><?php echo $_GET['data']{strlen($_GET['data'])-1};?>\sedesol3.pdf" target="_blank">
                                               <img src="Libreria/img/fraccion/pdf.png" alt="img pdf" /></a></td>
                                            </tr>
                                            <tr>
                                                <td>Servicios de Desarrollo Rural</td>
                                                <td><a href="Libreria\pdf\fracciones\dos<?php echo $_GET['data']{strlen($_GET['data'])-2};?><?php echo $_GET['data']{strlen($_GET['data'])-1};?>\rural3.pdf" target="_blank">
                                                <img src="Libreria/img/fraccion/pdf.png" alt="img pdf" /></a></td>
                                            </tr>
                                            <tr>
                                                <td>Servicios Direccion de Urbanismo</td>
                                                <td><a href="Libreria\pdf\fracciones\dos<?php echo $_GET['data']{strlen($_GET['data'])-2};?><?php echo $_GET['data']{strlen($_GET['data'])-1};?>\urbanismo3.pdf" target="_blank">
                                                <img src="Libreria/img/fraccion/pdf.png" alt="img pdf" /></a></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-info">
                            <div class="panel-heading"><b>CUARTO TRIMESTRE</b></div>
                            <div class="panel-body">
                                <div class="table-responsive">
                                    <table class="table table-hover">
                                        <thead>
                                            <th style="text-align: center;">Descripción de Documentos</th>
                                            <th style="text-align: center;">PDF</th>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>Estructura Organica</td>
                                                <td><a href="Libreria\pdf\fracciones\dos<?php echo $_GET['data']{strlen($_GET['data'])-2};?><?php echo $_GET['data']{strlen($_GET['data'])-1};?>\organica4.pdf" target="_blank" >
                                                <img src="Libreria/img/fraccion/pdf.png" alt="img pdf" /></a></td>
                                            </tr>
                                            <tr>
                                                <td>Servicios Tesorería</td>
                                                <td><a href="Libreria\pdf\fracciones\dos<?php echo $_GET['data']{strlen($_GET['data'])-2};?><?php echo $_GET['data']{strlen($_GET['data'])-1};?>\tesoreria4.pdf" target="_blank" >
                                               <img src="Libreria/img/fraccion/pdf.png" alt="img pdf" /></a></td>
                                            </tr>
                                            <tr>
                                                <td>Servicios Sindicatura</td>
                                                <td><a href="Libreria\pdf\fracciones\dos<?php echo $_GET['data']{strlen($_GET['data'])-2};?><?php echo $_GET['data']{strlen($_GET['data'])-1};?>\sindicatura4.pdf" target="_blank" >
                                                <img src="Libreria/img/fraccion/pdf.png" alt="img pdf" /></a></td>
                                            </tr>
                                            <tr>
                                                <td>Servicios Secretaría</td>
                                                <td><a href="Libreria\pdf\fracciones\dos<?php echo $_GET['data']{strlen($_GET['data'])-2};?><?php echo $_GET['data']{strlen($_GET['data'])-1};?>\secretaria4.pdf" target="_blank" >
                                                <img src="Libreria/img/fraccion/pdf.png" alt="img pdf" /></a></td>
                                            </tr>
                                            <tr>
                                                <td>Servicios SEDESOL</td>
                                                <td><a href="Libreria\pdf\fracciones\dos<?php echo $_GET['data']{strlen($_GET['data'])-2};?><?php echo $_GET['data']{strlen($_GET['data'])-1};?>\sedesol4.pdf" target="_blank">
                                               <img src="Libreria/img/fraccion/pdf.png" alt="img pdf" /></a></td>
                                            </tr>
                                            <tr>
                                                <td>Servicios de Desarrollo Rural</td>
                                                <td><a href="Libreria\pdf\fracciones\dos<?php echo $_GET['data']{strlen($_GET['data'])-2};?><?php echo $_GET['data']{strlen($_GET['data'])-1};?>\rural4.pdf" target="_blank">
                                                <img src="Libreria/img/fraccion/pdf.png" alt="img pdf" /></a></td>
                                            </tr>
                                            <tr>
                                                <td>Servicios Direccion de Urbanismo</td>
                                                <td><a href="Libreria\pdf\fracciones\dos<?php echo $_GET['data']{strlen($_GET['data'])-2};?><?php echo $_GET['data']{strlen($_GET['data'])-1};?>\urbanismo4.pdf" target="_blank">
                                                <img src="Libreria/img/fraccion/pdf.png" alt="img pdf" /></a></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <?php } ?>  
                        <?php if($_GET['data'] == "2017"){?>
                        <div class="panel panel-info">
                            <div class="panel-heading"><b>PRIMER TRIMESTRE</b></div>
                            <div class="panel-body">
                                <div class="table-responsive">
                                    <table class="table table-hover">
                                        <thead>
                                            <th style="text-align: center;">Descripción de Documentos</th>
                                            <th style="text-align: center;">PDF</th>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td><b style="color: maroon;">Estructura Organica</b></td>
                                                <td><a href="Libreria\pdf\fracciones\dos<?php echo $_GET['data']{strlen($_GET['data'])-2};?><?php echo $_GET['data']{strlen($_GET['data'])-1};?>\organica.pdf" target="_blank" >
                                                <img src="Libreria/img/fraccion/pdf.png" alt="img pdf" /></a></td>
                                            </tr>
                                            <tr>
                                                <td><b style="color: maroon;">Servicios Tesorería</b></td>
                                                <td><a href="Libreria\pdf\fracciones\dos<?php echo $_GET['data']{strlen($_GET['data'])-2};?><?php echo $_GET['data']{strlen($_GET['data'])-1};?>\tesoreria.pdf" target="_blank" >
                					           <img src="Libreria/img/fraccion/pdf.png" alt="img pdf" /></a></td>
                                            </tr>
                                            <tr>
                                                <td><b style="color: maroon;">Servicios Sindicatura</b></td>
                                                <td><a href="Libreria\pdf\fracciones\dos<?php echo $_GET['data']{strlen($_GET['data'])-2};?><?php echo $_GET['data']{strlen($_GET['data'])-1};?>\sindicatura.pdf" target="_blank" >
                                                <img src="Libreria/img/fraccion/pdf.png" alt="img pdf" /></a></td>
                                            </tr>
                                            <tr>
                                                <td><b style="color: maroon;">Servicios Secretaría</b></td>
                                                <td><a href="Libreria\pdf\fracciones\dos<?php echo $_GET['data']{strlen($_GET['data'])-2};?><?php echo $_GET['data']{strlen($_GET['data'])-1};?>\secretaria.pdf" target="_blank" >
                                                <img src="Libreria/img/fraccion/pdf.png" alt="img pdf" /></a></td>
                                            </tr>
                                            <tr>
                                                <td><b style="color: maroon;">Servicios SEDESOL</b></td>
                                                <td><a href="Libreria\pdf\fracciones\dos<?php echo $_GET['data']{strlen($_GET['data'])-2};?><?php echo $_GET['data']{strlen($_GET['data'])-1};?>\sedesol.pdf" target="_blank">
            					           <img src="Libreria/img/fraccion/pdf.png" alt="img pdf" /></a></td>
                                            </tr>
                                            <tr>
                                                <td><b style="color: maroon;">Servicios de Desarrollo Rural</b></td>
                                                <td><a href="Libreria\pdf\fracciones\dos<?php echo $_GET['data']{strlen($_GET['data'])-2};?><?php echo $_GET['data']{strlen($_GET['data'])-1};?>\rural.pdf" target="_blank">
                                                <img src="Libreria/img/fraccion/pdf.png" alt="img pdf" /></a></td>
                                            </tr>
                                            <tr>
                                                <td><b style="color: maroon;">Servicios Direccion de Urbanismo</b></td>
                                                <td><a href="Libreria\pdf\fracciones\dos<?php echo $_GET['data']{strlen($_GET['data'])-2};?><?php echo $_GET['data']{strlen($_GET['data'])-1};?>\urbanismo.pdf" target="_blank">
                                                <img src="Libreria/img/fraccion/pdf.png" alt="img pdf" /></a></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div><?php } ?>
                    </div>
                </div>
            </article>
        </div>
        <div class="col-md-4">
            <?php include "Vista/submenu.phtml"; ?>
        </div>
    </div>
</section>