<section>
    <div style="text-align: center;">
        <a href="?fp=principal"><i class="fa fa-fw fa-home"></i>Home</a>
        <img src="Libreria/img/login.png" alt="Home"/><b>transparencia</b>
    </div>
    <hr />
    <div class="row">
        <div class="col-md-8">
            <article>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h1 style="font-size: xx-large;"><b>Transparencia <?php echo $_GET['data'];?></b></h1>
                    </div>
                    <div class="panel-body">
                        <h3 style="color: #000040;">
                            Fracción XXII.
                        </h3>
                        <hr />
                        <h3 style="color: #000040;">
                            Accesos directos a la información.
                        </h3>
                        <br />
                        <?php if($_GET['data'] == "2015"){?>
                            <p>En Construcción..</p>
                        <?php } ?>
                        
                        <?php if($_GET['data'] == "2016"){?>
                        <div class="panel panel-info">
                            <div class="panel-heading"><b>PRIMER TRIMESTRE</b></div>
                            <div class="panel-body">
                                <div class="table-responsive">
                                    <table class="table table-hover">
                                        <thead>
                                            <th style="text-align: center;">Descripción de Documentos</th>
                                            <th style="text-align: center;">PDF</th>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>Programas de Desarrollo Económico <b style="color:red;">●</b></td>
                                                <td><a href="Libreria\pdf\fracciones\veintidos<?php echo $_GET['data']{strlen($_GET['data'])-2};?><?php echo $_GET['data']{strlen($_GET['data'])-1};?>\prog_desarrollo_economico.pdf" target="_blank">
                                                <img src="Libreria/img/fraccion/pdf.png" alt="img pdf" /></a></td>
                                            </tr>
                                            <tr>
                                                <td colspan="2"><b style="font-size: 24px;">Programas de Desarrollo Social</b></td><td></td>
                                            </tr>
                                            <tr>
                                                <td>Dir. de Cultura</td>
                                                <td><a href="Libreria\pdf\fracciones\veintidos<?php echo $_GET['data']{strlen($_GET['data'])-2};?><?php echo $_GET['data']{strlen($_GET['data'])-1};?>\dir_cultura.pdf" target="_blank" >
                                                <img src="Libreria/img/fraccion/pdf.png" alt="img pdf" /></a></td>
                                            </tr>
                                            <tr>
                                                <td>SEDESOL</td>
                                                <td><a href="Libreria\pdf\fracciones\veintidos<?php echo $_GET['data']{strlen($_GET['data'])-2};?><?php echo $_GET['data']{strlen($_GET['data'])-1};?>\sedesol.pdf" target="_blank" >
                                                <img src="Libreria/img/fraccion/pdf.png" alt="img pdf" /></a></td>
                                            </tr>
                                            <tr>
                                                <td>Deportes</td>
                                                <td><a href="Libreria\pdf\fracciones\veintidos<?php echo $_GET['data']{strlen($_GET['data'])-2};?><?php echo $_GET['data']{strlen($_GET['data'])-1};?>\pds_deportes.pdf" target="_blank" >
                                                <img src="Libreria/img/fraccion/pdf.png" alt="img pdf" /></a></td>
                                            </tr>
                                            <tr>
                                                <td>Dir. de Educación</td>
                                                <td><a href="Libreria\pdf\fracciones\veintidos<?php echo $_GET['data']{strlen($_GET['data'])-2};?><?php echo $_GET['data']{strlen($_GET['data'])-1};?>\dir_educacion.pdf" target="_blank" >
                                                <img src="Libreria/img/fraccion/pdf.png" alt="img pdf" /></a></td>
                                            </tr>
                                            <tr>
                                                <td>Dir. de Instancia de la Mujer</td>
                                                <td><a href="Libreria\pdf\fracciones\veintidos<?php echo $_GET['data']{strlen($_GET['data'])-2};?><?php echo $_GET['data']{strlen($_GET['data'])-1};?>\dir_instancia.pdf" target="_blank" >
                                                <img src="Libreria/img/fraccion/pdf.png" alt="img pdf" /></a></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-info">
                            <div class="panel-heading"><b>SEGUNDO TRIMESTRE</b></div>
                            <div class="panel-body">
                                <div class="table-responsive">
                                    <table class="table table-hover">
                                        <thead>
                                            <th style="text-align: center;">Descripción de Documentos</th>
                                            <th style="text-align: center;">PDF</th>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>Programas de Desarrollo Económico <b style="color:red;">●</b></td>
                                                <td><a href="Libreria\pdf\fracciones\veintidos<?php echo $_GET['data']{strlen($_GET['data'])-2};?><?php echo $_GET['data']{strlen($_GET['data'])-1};?>\prog_desarrollo_economico.pdf" target="_blank">
                                                <img src="Libreria/img/fraccion/pdf.png" alt="img pdf" /></a></td>
                                            </tr>
                                            <tr>
                                                <td colspan="2"><b style="font-size: 24px;">Programas de Desarrollo Social</b></td><td></td>
                                            </tr>
                                            <tr>
                                                <td>Dir. de Cultura</td>
                                                <td><a href="Libreria\pdf\fracciones\veintidos<?php echo $_GET['data']{strlen($_GET['data'])-2};?><?php echo $_GET['data']{strlen($_GET['data'])-1};?>\dir_cultura.pdf" target="_blank" >
                                                <img src="Libreria/img/fraccion/pdf.png" alt="img pdf" /></a></td>
                                            </tr>
                                            <tr>
                                                <td>SEDESOL</td>
                                                <td><a href="Libreria\pdf\fracciones\veintidos<?php echo $_GET['data']{strlen($_GET['data'])-2};?><?php echo $_GET['data']{strlen($_GET['data'])-1};?>\sedesol.pdf" target="_blank" >
                                                <img src="Libreria/img/fraccion/pdf.png" alt="img pdf" /></a></td>
                                            </tr>
                                            <tr>
                                                <td>Deportes</td>
                                                <td><a href="Libreria\pdf\fracciones\veintidos<?php echo $_GET['data']{strlen($_GET['data'])-2};?><?php echo $_GET['data']{strlen($_GET['data'])-1};?>\pds_deportes.pdf" target="_blank" >
                                                <img src="Libreria/img/fraccion/pdf.png" alt="img pdf" /></a></td>
                                            </tr>
                                            <tr>
                                                <td>Dir. de Educación</td>
                                                <td><a href="Libreria\pdf\fracciones\veintidos<?php echo $_GET['data']{strlen($_GET['data'])-2};?><?php echo $_GET['data']{strlen($_GET['data'])-1};?>\dir_educacion.pdf" target="_blank" >
                                                <img src="Libreria/img/fraccion/pdf.png" alt="img pdf" /></a></td>
                                            </tr>
                                            <tr>
                                                <td>Dir. de Instancia de la Mujer</td>
                                                <td><a href="Libreria\pdf\fracciones\veintidos<?php echo $_GET['data']{strlen($_GET['data'])-2};?><?php echo $_GET['data']{strlen($_GET['data'])-1};?>\dir_instancia.pdf" target="_blank" >
                                                <img src="Libreria/img/fraccion/pdf.png" alt="img pdf" /></a></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-info">
                            <div class="panel-heading"><b>TERCER TRIMESTRE</b></div>
                            <div class="panel-body">
                                <div class="table-responsive">
                                    <table class="table table-hover">
                                        <thead>
                                            <th style="text-align: center;">Descripción de Documentos</th>
                                            <th style="text-align: center;">PDF</th>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>Programas de Desarrollo Económico <b style="color:red;">●</b></td>
                                                <td><a href="Libreria\pdf\fracciones\veintidos<?php echo $_GET['data']{strlen($_GET['data'])-2};?><?php echo $_GET['data']{strlen($_GET['data'])-1};?>\prog_desarrollo_economico.pdf" target="_blank">
                                                <img src="Libreria/img/fraccion/pdf.png" alt="img pdf" /></a></td>
                                            </tr>
                                            <tr>
                                                <td colspan="2"><b style="font-size: 24px;">Programas de Desarrollo Social</b></td><td></td>
                                            </tr>
                                            <tr>
                                                <td>Dir. de Cultura</td>
                                                <td><a href="Libreria\pdf\fracciones\veintidos<?php echo $_GET['data']{strlen($_GET['data'])-2};?><?php echo $_GET['data']{strlen($_GET['data'])-1};?>\dir_cultura.pdf" target="_blank" >
                                                <img src="Libreria/img/fraccion/pdf.png" alt="img pdf" /></a></td>
                                            </tr>
                                            <tr>
                                                <td>SEDESOL</td>
                                                <td><a href="Libreria\pdf\fracciones\veintidos<?php echo $_GET['data']{strlen($_GET['data'])-2};?><?php echo $_GET['data']{strlen($_GET['data'])-1};?>\sedesol.pdf" target="_blank" >
                                                <img src="Libreria/img/fraccion/pdf.png" alt="img pdf" /></a></td>
                                            </tr>
                                            <tr>
                                                <td>Deportes</td>
                                                <td><a href="Libreria\pdf\fracciones\veintidos<?php echo $_GET['data']{strlen($_GET['data'])-2};?><?php echo $_GET['data']{strlen($_GET['data'])-1};?>\pds_deportes.pdf" target="_blank" >
                                                <img src="Libreria/img/fraccion/pdf.png" alt="img pdf" /></a></td>
                                            </tr>
                                            <tr>
                                                <td>Dir. de Educación</td>
                                                <td><a href="Libreria\pdf\fracciones\veintidos<?php echo $_GET['data']{strlen($_GET['data'])-2};?><?php echo $_GET['data']{strlen($_GET['data'])-1};?>\dir_educacion.pdf" target="_blank" >
                                                <img src="Libreria/img/fraccion/pdf.png" alt="img pdf" /></a></td>
                                            </tr>
                                            <tr>
                                                <td>Dir. de Instancia de la Mujer</td>
                                                <td><a href="Libreria\pdf\fracciones\veintidos<?php echo $_GET['data']{strlen($_GET['data'])-2};?><?php echo $_GET['data']{strlen($_GET['data'])-1};?>\dir_instancia.pdf" target="_blank" >
                                                <img src="Libreria/img/fraccion/pdf.png" alt="img pdf" /></a></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-info">
                            <div class="panel-heading"><b>CUARTO TRIMESTRE</b></div>
                            <div class="panel-body">
                                <div class="table-responsive">
                                    <table class="table table-hover">
                                        <thead>
                                            <th style="text-align: center;">Descripción de Documentos</th>
                                            <th style="text-align: center;">PDF</th>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>Programas de Desarrollo Económico <b style="color:red;">●</b></td>
                                                <td><a href="Libreria\pdf\fracciones\veintidos<?php echo $_GET['data']{strlen($_GET['data'])-2};?><?php echo $_GET['data']{strlen($_GET['data'])-1};?>\prog_desarrollo_economico.pdf" target="_blank">
                                                <img src="Libreria/img/fraccion/pdf.png" alt="img pdf" /></a></td>
                                            </tr>
                                            <tr>
                                                <td colspan="2"><b style="font-size: 24px;">Programas de Desarrollo Social</b></td><td></td>
                                            </tr>
                                            <tr>
                                                <td>Dir. de Cultura</td>
                                                <td><a href="Libreria\pdf\fracciones\veintidos<?php echo $_GET['data']{strlen($_GET['data'])-2};?><?php echo $_GET['data']{strlen($_GET['data'])-1};?>\dir_cultura.pdf" target="_blank" >
                                                <img src="Libreria/img/fraccion/pdf.png" alt="img pdf" /></a></td>
                                            </tr>
                                            <tr>
                                                <td>SEDESOL</td>
                                                <td><a href="Libreria\pdf\fracciones\veintidos<?php echo $_GET['data']{strlen($_GET['data'])-2};?><?php echo $_GET['data']{strlen($_GET['data'])-1};?>\sedesol.pdf" target="_blank" >
                                                <img src="Libreria/img/fraccion/pdf.png" alt="img pdf" /></a></td>
                                            </tr>
                                            <tr>
                                                <td>Deportes</td>
                                                <td><a href="Libreria\pdf\fracciones\veintidos<?php echo $_GET['data']{strlen($_GET['data'])-2};?><?php echo $_GET['data']{strlen($_GET['data'])-1};?>\pds_deportes.pdf" target="_blank" >
                                                <img src="Libreria/img/fraccion/pdf.png" alt="img pdf" /></a></td>
                                            </tr>
                                            <tr>
                                                <td>Dir. de Educación</td>
                                                <td><a href="Libreria\pdf\fracciones\veintidos<?php echo $_GET['data']{strlen($_GET['data'])-2};?><?php echo $_GET['data']{strlen($_GET['data'])-1};?>\dir_educacion.pdf" target="_blank" >
                                                <img src="Libreria/img/fraccion/pdf.png" alt="img pdf" /></a></td>
                                            </tr>
                                            <tr>
                                                <td>Dir. de Instancia de la Mujer</td>
                                                <td><a href="Libreria\pdf\fracciones\veintidos<?php echo $_GET['data']{strlen($_GET['data'])-2};?><?php echo $_GET['data']{strlen($_GET['data'])-1};?>\dir_instancia.pdf" target="_blank" >
                                                <img src="Libreria/img/fraccion/pdf.png" alt="img pdf" /></a></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <?php } ?>
                        <?php if($_GET['data'] == "2017"){?>
                            <div class="panel panel-info">
                                <div class="panel-heading"><b>PRIMER TRIMESTRE</b></div>
                                <div class="panel-body">
                                    <div class="table-responsive">
                                        <table class="table table-hover">
                                            <thead>
                                                <th style="text-align: center;">Descripción de Documentos</th>
                                                <th style="text-align: center;">PDF</th>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td><b style="color: maroon;">Programas de Desarrollo Económico</b> <b style="color:red;">●</b></td>
                                                    <td><a href="Libreria\pdf\fracciones\veintidos<?php echo $_GET['data']{strlen($_GET['data'])-2};?><?php echo $_GET['data']{strlen($_GET['data'])-1};?>\prog_desarrollo_economico.pdf" target="_blank">
                                                    <img src="Libreria/img/fraccion/pdf.png" alt="img pdf" /></a></td>
                                                </tr>
                                                <tr>
                                                    <td><b style="font-size: 14px; color: grey;">Programas de Desarrollo Social</b></td><td></td>
                                                </tr>
                                                <tr>
                                                    <td><b style="color: maroon;">Dir. de Cultura</b></td>
                                                    <td><a href="Libreria\pdf\fracciones\veintidos<?php echo $_GET['data']{strlen($_GET['data'])-2};?><?php echo $_GET['data']{strlen($_GET['data'])-1};?>\dir_cultura.pdf" target="_blank" >
                                                    <img src="Libreria/img/fraccion/pdf.png" alt="img pdf" /></a></td>
                                                </tr>
                                                <tr>
                                                    <td><b style="color: maroon;">SEDESOL</b></td>
                                                    <td><a href="Libreria\pdf\fracciones\veintidos<?php echo $_GET['data']{strlen($_GET['data'])-2};?><?php echo $_GET['data']{strlen($_GET['data'])-1};?>\sedesol.pdf" target="_blank" >
                                                    <img src="Libreria/img/fraccion/pdf.png" alt="img pdf" /></a></td>
                                                </tr>
                                                <tr>
                                                    <td><b style="color: maroon;">Deportes</b></td>
                                                    <td><a href="Libreria\pdf\fracciones\veintidos<?php echo $_GET['data']{strlen($_GET['data'])-2};?><?php echo $_GET['data']{strlen($_GET['data'])-1};?>\pds_deportes.pdf" target="_blank" >
                                                    <img src="Libreria/img/fraccion/pdf.png" alt="img pdf" /></a></td>
                                                </tr>
                                                <tr>
                                                    <td><b style="color: maroon;">Dir. de Educación</b></td>
                                                    <td><a href="Libreria\pdf\fracciones\veintidos<?php echo $_GET['data']{strlen($_GET['data'])-2};?><?php echo $_GET['data']{strlen($_GET['data'])-1};?>\dir_educacion.pdf" target="_blank" >
                                                    <img src="Libreria/img/fraccion/pdf.png" alt="img pdf" /></a></td>
                                                </tr>
                                                <tr>
                                                    <td><b style="color: maroon;">Dir. de Instancia de la Mujer</b></td>
                                                    <td><a href="Libreria\pdf\fracciones\veintidos<?php echo $_GET['data']{strlen($_GET['data'])-2};?><?php echo $_GET['data']{strlen($_GET['data'])-1};?>\dir_instancia.pdf" target="_blank" >
                                                    <img src="Libreria/img/fraccion/pdf.png" alt="img pdf" /></a></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        <?php } ?>  
                    </div>
                </div>
            </article>
        </div>
        <div class="col-md-4">
            <?php include "Vista/submenu.phtml"; ?>
        </div>
    </div>
</section>