<section>
    <div class="row">
        <div class="col-md-9">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h1 style="font-size: xx-large;"><b>Eventos Más Recientes</b></h1>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                        <article>
                            <div class="panel panel-success">
                                <div class="panel-heading">
                                    <b style="font-size: 20px;">Revestimiento en la Localidad de San Nicolas .:. H. Ayuntamiento de San Lucas, Mich.</b>
                                </div>
                                <time datetime="2018-03-28" style="color:grey;text-align:justify;">
                                    publicado el miércoles, 28 de marzo de 2018.
                                </time>
                                <div class="panel-body">
                                    <div class="row">
                                        <p style="padding:20px; text-align:justify; font-size: 20px;">
                                            <b>
                                                El día martes, 20 de marzo del 2018., Comienzan trabajos de revestimiento de camino en localidad de San Nicolas.
                                            </b>
                                        </p>
                                        <div class="row">
                                            <div class="col-lg-3">
                                                <figure>
                                                    <a href="Libreria/img/principal/carretera/img1.jpg" target="_blank">
                                                        <img src="Libreria/img/principal/carretera/img1.jpg" class="thumbnail img-responsive" alt="img" />
                                                    </a>
                                                </figure>
                                            </div>
                                            <div class="col-lg-3">
                                                <figure>
                                                    <a href="Libreria/img/principal/carretera/img2.jpg" target="_blank">
                                                        <img src="Libreria/img/principal/carretera/img2.jpg" class="thumbnail img-responsive" alt="img" />
                                                    </a>
                                                </figure>
                                            </div>
                                            <div class="col-lg-3">
                                                <figure>
                                                    <a href="Libreria/img/principal/carretera/img3.jpg" target="_blank">
                                                        <img src="Libreria/img/principal/carretera/img3.jpg" class="thumbnail img-responsive" alt="img" />
                                                    </a>
                                                </figure>
                                            </div>
                                            <div class="col-lg-3">
                                                <figure>
                                                    <a href="Libreria/img/principal/carretera/img4.jpg" target="_blank">
                                                        <img src="Libreria/img/principal/carretera/img4.jpg" class="thumbnail img-responsive" alt="img" />
                                                    </a>
                                                </figure>
                                            </div>
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </article>
                        <article>
                            <div class="panel panel-success">
                                <div class="panel-heading">
                                    <b style="font-size: 20px;">Arroyo Principal de Cabecera Municipal .:. H. Ayuntamiento de San Lucas, Mich.</b>
                                </div>
                                <time datetime="2018-03-28" style="color:grey;text-align:justify;">
                                    publicado el miércoles, 28 de marzo de 2018.
                                </time>
                                <div class="panel-body">
                                    <div class="row">
                                        <p style="padding:20px; text-align:justify; font-size: 20px;">
                                            <b>
                                                El día lunes, 26 de marzo del 2018., Inician trabajos en obra: Construcción de colector general adyacente al arroyo principal de cabecera municipal, obra convenida con Comisión Nacional del Agua.
                                            </b>
                                        </p>
                                        <div class="row">
                                            <div class="col-lg-3">
                                                <figure>
                                                    <a href="Libreria/img/principal/comision/img.jpg" target="_blank">
                                                        <img src="Libreria/img/principal/comision/img1.jpg" class="thumbnail img-responsive" alt="img" />
                                                    </a>
                                                </figure>
                                            </div>
                                            <div class="col-lg-3">
                                                <figure>
                                                    <a href="Libreria/img/principal/comision/img2.jpg" target="_blank">
                                                        <img src="Libreria/img/principal/comision/img2.jpg" class="thumbnail img-responsive" alt="img" />
                                                    </a>
                                                </figure>
                                            </div>
                                            <div class="col-lg-3">
                                                <figure>
                                                    <a href="Libreria/img/principal/comision/img3.jpg" target="_blank">
                                                        <img src="Libreria/img/principal/comision/img3.jpg" class="thumbnail img-responsive" alt="img" />
                                                    </a>
                                                </figure>
                                            </div>
                                            <div class="col-lg-3">
                                                <figure>
                                                    <a href="Libreria/img/principal/comision/img4.jpg" target="_blank">
                                                        <img src="Libreria/img/principal/comision/img4.jpg" class="thumbnail img-responsive" alt="img" />
                                                    </a>
                                                </figure>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </article>
                        <article>
                            <div class="panel panel-success">
                                <div class="panel-heading">
                                    <b style="font-size: 20px;">Liga Municipal de Riva Palacio, Cumpliendo el Compromiso .:. H. Ayuntamiento de San Lucas, Mich.</b>
                                </div>
                                <time datetime="2018-03-28" style="color:grey;text-align:justify;">
                                    publicado el miércoles, 28 de marzo de 2018.
                                </time>
                                <div class="panel-body">
                                    <div class="row">
                                        <p style="padding:20px; text-align:justify; font-size: 20px;">
                                            <b>
                                                El día domingo, 25 de marzo del 2018., Cumpliendo el compromiso con jóvenes deportistas, el C. Arturo Torres Aguirre, entregó uniformes deportivos a equipos de las comunidades de Salguero, Santa Cruz, Tejería, Valladolid, Riva Palacio, Tacupa, Huizachal, San Jerónimo. Los Bancos de liga municipal Riva Palacio.
                                            </b>
                                        </p>
                                        <div class="row">
                                            <div class="col-lg-4">
                                                <figure>
                                                    <a href="Libreria/img/principal/deportistas/img1.jpg" target="_blank">
                                                        <img src="Libreria/img/principal/deportistas/img1.jpg" class="thumbnail img-responsive" alt="img" />
                                                    </a>
                                                </figure>
                                            </div>
                                            <div class="col-lg-4">
                                                <figure>
                                                    <a href="Libreria/img/principal/deportistas/img2.jpg" target="_blank">
                                                        <img src="Libreria/img/principal/deportistas/img2.jpg" class="thumbnail img-responsive" alt="img" />
                                                    </a>
                                                </figure>
                                            </div>
                                            <div class="col-lg-4">
                                                <figure>
                                                    <a href="Libreria/img/principal/deportistas/img3.jpg" target="_blank">
                                                        <img src="Libreria/img/principal/deportistas/img3.jpg" class="thumbnail img-responsive" alt="img" />
                                                    </a>
                                                </figure>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </article>
                        
                        
                        <article>
                            <div class="panel panel-success">
                                <div class="panel-heading">
                                    <b style="font-size: 20px;">Mejoramiento de Imagen Urbana .:. H. Ayuntamiento de San Lucas, Mich.</b>
                                </div>
                                <time datetime="2018-03-24" style="color:grey;text-align:justify;">
                                        publicado el sábado, 24 de marzo de 2018.
                                    </time>
                                    <div class="panel-body">
                                        <div class="row">
                                            <p style="padding:20px; text-align:justify; font-size: 20px;">
                                                <b>
                                                    El día martes, 20 de marzo del 2018., En el marco del eje estratégico de mejoramiento de imagen urbana, contemplado en el Plan de Desarrollo Municipal 2015-2018, el H. Ayuntamiento de San Lucas que encabeza el C. Arturo Torres Aguirre, está llevando a cabo la rehabilitación de calles principales en Tenencia Vicente Riva Palacio.
                                                </b>
                                            </p>
                                            <div class="row">
                                                <div class="col-lg-3">
                                                    <figure>
                                                        <a href="Libreria/img/principal/angao/img2.jpg" target="_blank">
                                                            <img src="Libreria/img/principal/angao/img2.jpg" class="thumbnail img-responsive" alt="img" />
                                                        </a>
                                                    </figure>
                                                </div>
                                                <div class="col-lg-3">
                                                    <figure>
                                                        <a href="Libreria/img/principal/angao/img1.jpg" target="_blank">
                                                            <img src="Libreria/img/principal/angao/img1.jpg" class="thumbnail img-responsive" alt="img" />
                                                        </a>
                                                    </figure>
                                                </div>
                                                <div class="col-lg-3">
                                                    <figure>
                                                        <a href="Libreria/img/principal/angao/img4.jpg" target="_blank">
                                                            <img src="Libreria/img/principal/angao/img4.jpg" class="thumbnail img-responsive" alt="img" />
                                                        </a>
                                                    </figure>
                                                </div>
                                                <div class="col-lg-3">
                                                    <figure>
                                                        <a href="Libreria/img/principal/angao/img3.jpg" target="_blank">
                                                            <img src="Libreria/img/principal/angao/img3.jpg" class="thumbnail img-responsive" alt="img" />
                                                        </a>
                                                    </figure>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                            </div>
                        </article>
                        <article>
                            <div class="panel panel-success">
                                <div class="panel-heading">
                                    <b style="font-size: 20px;">Pavimentación de Concreto Hidráulico .:. H. Ayuntamiento de San Lucas, Mich.</b>
                                </div>
                                <time datetime="2018-03-17" style="color:grey;text-align:justify;">
                                    publicado el sábado, 17 de marzo de 2018.
                                </time>
                                <div class="panel-body">
                                    <div class="row">
                                        <p style="padding:20px; text-align:justify; font-size: 20px;">
                                            <b>
                                                El día viernes 16 de marzo del 2018., el C. Arturo Torres Aguirre en compañía de vecinos y autoridades municipales, dió banderazo de arranque de obra: Pavimentación de concreto hidráulico en calle Ignacio Zaragoza salida Angao.
                                            </b>
                                        </p>
                                        <div class="row">
                                            <div class="col-lg-4">
                                                <figure>
                                                    <a href="Libreria/img/principal/calle_ignacio/img1.jpg" target="_blank">
                                                        <img src="Libreria/img/principal/calle_ignacio/img1.jpg" class="thumbnail img-responsive" alt="img" />
                                                    </a>
                                                </figure>
                                            </div>
                                            <div class="col-lg-4">
                                                <figure>
                                                    <a href="Libreria/img/principal/calle_ignacio/img2.jpg" target="_blank">
                                                        <img src="Libreria/img/principal/calle_ignacio/img2.jpg" class="thumbnail img-responsive" alt="img" />
                                                    </a>
                                                </figure>
                                            </div>
                                            <div class="col-lg-4">
                                                <figure>
                                                    <a href="Libreria/img/principal/calle_ignacio/img3.jpg" target="_blank">
                                                        <img src="Libreria/img/principal/calle_ignacio/img3.jpg" class="thumbnail img-responsive" alt="img" />
                                                    </a>
                                                </figure>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </article>
                        <article>
                            <div class="panel panel-success">
                                <div class="panel-heading">
                                    <b style="font-size: 20px;">Grandiosa Inauguran de "Feria".:. H. Ayuntamiento de San Lucas, Mich.</b>
                                </div>
                                <time datetime="2018-03-17" style="color:grey;text-align:justify;">
                                    publicado el sábado, 17 de marzo de 2018.
                                </time>
                                <div class="panel-body">
                                    <div class="row">
                                        <p style="padding:20px; text-align:justify; font-size: 20px;">
                                            <b>
                                                El día viernes 16 de marzo del 2018., Autoridades educativas de los planteles de nivel medio superior y superior, presididas por el C. Arturo Torres Aguirre, inauguran "Feria" se Orienta en Esc. Sec. Vicente Riva Palacio.
                                                En módulos de los diferentes expositores, escuelas brindaron orientación vocacional a los alumnos de tercer año de nivel secundaria y bachillerato.
                                            </b>
                                        </p>
                                        <div class="row">
                                            <div class="col-lg-3">
                                                <figure>
                                                    <a href="Libreria/img/principal/feria/img1.jpg" target="_blank">
                                                        <img src="Libreria/img/principal/feria/img1.jpg" class="thumbnail img-responsive" alt="img" />
                                                    </a>
                                                </figure>
                                            </div>
                                            <div class="col-lg-3">
                                                <figure>
                                                    <a href="Libreria/img/principal/feria/img2.jpg" target="_blank">
                                                        <img src="Libreria/img/principal/feria/img2.jpg" class="thumbnail img-responsive" alt="img" />
                                                    </a>
                                                </figure>
                                            </div>
                                            <div class="col-lg-3">
                                                <figure>
                                                    <a href="Libreria/img/principal/feria/img3.jpg" target="_blank">
                                                        <img src="Libreria/img/principal/feria/img3.jpg" class="thumbnail img-responsive" alt="img" />
                                                    </a>
                                                </figure>
                                            </div>
                                            <div class="col-lg-3">
                                                <figure>
                                                    <a href="Libreria/img/principal/feria/img4.jpg" target="_blank">
                                                        <img src="Libreria/img/principal/feria/img4.jpg" class="thumbnail img-responsive" alt="img" />
                                                    </a>
                                                </figure>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </article>
                        <article>
                            <div class="panel panel-success">
                                <div class="panel-heading">
                                    <b style="font-size: 20px;">Beneficio de Apoyo a la Economía a las Familias del Municipio .:. H. Ayuntamiento de San Lucas, Mich.</b>
                                </div>
                                <time datetime="2018-03-17" style="color:grey;text-align:justify;">
                                    publicado el sábado, 17 de marzo de 2018.
                                </time>
                                <div class="panel-body">
                                    <div class="row">
                                        <p style="padding:20px; text-align:justify; font-size: 20px;">
                                            <b>
                                                El día jueves 15 de marzo del 2018., Gobierno municipal que encabeza el C. Arturo Torres Aguirre, a través de Departamento de Desarrollo Rural, beneficia con molinos eléctricos, de gasolina, moto sierras, moto bombas, bombas fumigadoras de mochila, apoyando con un subsidio de 50% de su precio en el mercado.
                                                Dicha medida tiene como principal objetivo apoyar la economía de las familias del municipio.
                                                Ante la presencia de regidores, y autoridades municipales se hizo entrega de los implementos a ciudadanos beneficiados.
                                            </b>
                                        </p>
                                        <div class="row">
                                            <div class="col-lg-3">
                                                <figure>
                                                    <a href="Libreria/img/principal/economia/img1.jpg" target="_blank">
                                                        <img src="Libreria/img/principal/economia/img1.jpg" class="thumbnail img-responsive" alt="img" />
                                                    </a>
                                                </figure>
                                            </div>
                                            <div class="col-lg-3">
                                                <figure>
                                                    <a href="Libreria/img/principal/economia/img2.jpg" target="_blank">
                                                        <img src="Libreria/img/principal/economia/img2.jpg" class="thumbnail img-responsive" alt="img" />
                                                    </a>
                                                </figure>
                                            </div>
                                            <div class="col-lg-3">
                                                <figure>
                                                    <a href="Libreria/img/principal/economia/img3.jpg" target="_blank">
                                                        <img src="Libreria/img/principal/economia/img3.jpg" class="thumbnail img-responsive" alt="img" />
                                                    </a>
                                                </figure>
                                            </div>
                                            <div class="col-lg-3">
                                                <figure>
                                                    <a href="Libreria/img/principal/economia/img4.jpg" target="_blank">
                                                        <img src="Libreria/img/principal/economia/img4.jpg" class="thumbnail img-responsive" alt="img" />
                                                    </a>
                                                </figure>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </article>
                        <article>
                            <div class="panel panel-success">
                                <div class="panel-heading">
                                    <b style="font-size: 20px;">Ampliación de Red Eléctrica en Colonia San Rafael de la Cabecera Municipal .:. H. Ayuntamiento de San Lucas, Mich.</b>
                                </div>
                                <time datetime="2018-03-17" style="color:grey;text-align:justify;">
                                    publicado el sábado, 17 de marzo de 2018.
                                </time>
                                <div class="panel-body">
                                    <div class="row">
                                        <p style="padding:20px; text-align:justify; font-size: 20px;">
                                            <b>
                                                El día miércoles 14 de marzo del 2018., Atendiendo el mejoramiento de los servicios municipales como una de las principales competencias del municipio, el gobierno municipal que encabeza el C. Arturo Torres Aguirre en compañía de vecinos,regidores, y directores dio banderazo de arranque de obra: Ampliación de red eléctrica en colonia San Rafael de la cabecera municipal
                                            </b>
                                        </p>
                                        <div class="row">
                                            <div class="col-lg-4">
                                                <figure>
                                                    <a href="Libreria/img/principal/san_rafael/img1.jpg" target="_blank">
                                                        <img src="Libreria/img/principal/san_rafael/img1.jpg" class="thumbnail img-responsive" alt="img" />
                                                    </a>
                                                </figure>
                                            </div>
                                            <div class="col-lg-4">
                                                <figure>
                                                    <a href="Libreria/img/principal/san_rafael/img2.jpg" target="_blank">
                                                        <img src="Libreria/img/principal/san_rafael/img2.jpg" class="thumbnail img-responsive" alt="img" />
                                                    </a>
                                                </figure>
                                            </div>

                                            <div class="col-lg-4">
                                                <figure>
                                                    <a href="Libreria/img/principal/san_rafael/img3.jpg" target="_blank">
                                                        <img src="Libreria/img/principal/san_rafael/img3.jpg" class="thumbnail img-responsive" alt="img" />
                                                    </a>
                                                </figure>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </article>
                        <article>
                            <div class="panel panel-success">
                                <div class="panel-heading">
                                    <b style="font-size: 20px;">Entrega de Uniformes Deportivos de la Liga Municipal Futbol Soccer .:. H. Ayuntamiento de San Lucas, Mich.</b>
                                </div>
                                <time datetime="2018-03-17" style="color:grey;text-align:justify;">
                                    publicado el sábado, 17 de marzo de 2018.
                                </time>
                                <div class="panel-body">
                                    <div class="row">
                                        <p style="padding:20px; text-align:justify; font-size: 20px;">
                                            <b>
                                                El día domingo 11 de marzo del 2018., Con el objetivo de incentivar a los deportistas del municipio de San Lucas, el gobierno municipal, a través de la Comisión Municipal del Deporte, hizo entrega de uniformes deportivos a 21 equipos de la Liga Municipal Futbol Soccer "San Lucas".
                                            </b>
                                        </p>
                                        <div class="row">
                                            <div class="col-lg-4">
                                                <figure>
                                                    <a href="Libreria/img/principal/deporte/img1.jpg" target="_blank">
                                                        <img src="Libreria/img/principal/deporte/img1.jpg" class="thumbnail img-responsive" alt="img" />
                                                    </a>
                                                </figure>
                                            </div>
                                            <div class="col-lg-4">
                                                <figure>
                                                    <a href="Libreria/img/principal/deporte/img2.jpg" target="_blank">
                                                        <img src="Libreria/img/principal/deporte/img2.jpg" class="thumbnail img-responsive" alt="img" />
                                                    </a>
                                                </figure>
                                            </div>
                                            <div class="col-lg-4">
                                                <figure>
                                                    <a href="Libreria/img/principal/deporte/img3.jpg" target="_blank">
                                                        <img src="Libreria/img/principal/deporte/img3.jpg" class="thumbnail img-responsive" alt="img" />
                                                    </a>
                                                </figure>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </article>
                        <article>
                            <div class="panel panel-success">
                                <div class="panel-heading">
                                    <b style="font-size: 20px;">Arranque de Obra de “Drenaje sanitario” .:. H. Ayuntamiento de San Lucas, Mich.</b>
                                </div>
                                <time datetime="2018-03-17" style="color:grey;text-align:justify;">
                                    publicado el sábado, 17 de marzo de 2018.
                                </time>
                                <div class="panel-body">
                                    <div class="row">
                                        <p style="padding:20px; text-align:justify; font-size: 20px;">
                                            <b>
                                                El día viernes 09 de marzo del 2018., El presidente municipal de San Lucas, C. Arturo Torres Aguirre , acompañado de Regidores y directores del Ayuntamiento municipal, dio el banderazo del Arranque de Obra de “Drenaje sanitario” en la comunidad de San Jerónimo.
                                            </b>
                                        </p>
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <figure>
                                                    <a href="Libreria/img/principal/san_jeronimo/img1.jpg" target="_blank">
                                                        <img src="Libreria/img/principal/san_jeronimo/img1.jpg" class="thumbnail img-responsive" alt="img" />
                                                    </a>
                                                </figure>
                                            </div>
                                            <div class="col-lg-6">
                                                <figure>
                                                    <a href="Libreria/img/principal/san_jeronimo/img2.jpg" target="_blank">
                                                        <img src="Libreria/img/principal/san_jeronimo/img2.jpg" class="thumbnail img-responsive" alt="img" />
                                                    </a>
                                                </figure>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </article>
                        <article>
                            <div class="panel panel-success">
                                <div class="panel-heading">
                                    <b style="font-size: 20px;">Construccion de Colector General Adyacente al Arroyo .:. H. Ayuntamiento de San Lucas, Mich.</b>
                                </div>
                                <time datetime="2018-03-17" style="color:grey;text-align:justify;">
                                    publicado el sábado, 17 de marzo de 2018.
                                </time>
                                <div class="panel-body">
                                    <div class="row">
                                        <p style="padding:20px; text-align:justify; font-size: 20px;">
                                            <b>
                                                El día viernes 09 de marzo del 2018., Alcalde de San Lucas C. Arturo Torres Aguirre en compañia de regidores, directores y trabajdores de H. Ayuntamiento dió banderazo de arranque: Construccion de colector general adyacente al arroyo principal de cabecera municipal, obra convenida con Comision Nacional del Agua (CONAGUA).
                                            </b>
                                        </p>
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <figure>
                                                    <a href="Libreria/img/principal/conagua/img1.jpg" target="_blank">
                                                        <img src="Libreria/img/principal/conagua/img1.jpg" class="thumbnail img-responsive" alt="img" />
                                                    </a>
                                                </figure>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </article>
                        <article>
                            <div class="panel panel-success">
                                <div class="panel-heading">
                                    <b style="font-size: 20px;">El “8 de Marzo”, Día Internacional de las Mujeres .:. H. Ayuntamiento de San Lucas, Mich.</b>
                                </div>
                                <time datetime="2018-03-17" style="color:grey;text-align:justify;">
                                    publicado el sábado, 17 de marzo de 2018.
                                </time>
                                <div class="panel-body">
                                    <div class="row">
                                        <p style="padding:20px; text-align:justify; font-size: 20px;">
                                            <b>
                                                El día jueves 08 de marzo del 2018., Con motivo de la conmemoración del “8 de Marzo”, Día de las Mujeres, con la colaboración de alumnos del propio plantel, Secretaria de Salud e integrantes de H. Ayuntamiento de San Lucas, se realizó desfile desde Cecytem 08 San Lucas, hacia Salón de usos múltiples "Las Camelinas"donde se llevo a cabo ponencia alusiva al día.
                                            </b>
                                        </p>
                                        <div class="row">
                                            <div class="col-lg-3">
                                                <figure>
                                                    <a href="Libreria/img/principal/8_marzo/img1.jpg" target="_blank">
                                                        <img src="Libreria/img/principal/8_marzo/img1.jpg" class="thumbnail img-responsive" alt="img" />
                                                    </a>
                                                </figure>
                                            </div>
                                            <div class="col-lg-3">
                                                <figure>
                                                    <a href="Libreria/img/principal/8_marzo/img2.jpg" target="_blank">
                                                        <img src="Libreria/img/principal/8_marzo/img2.jpg" class="thumbnail img-responsive" alt="img" />
                                                    </a>
                                                </figure>
                                            </div>
                                            <div class="col-lg-3">
                                                <figure>
                                                    <a href="Libreria/img/principal/8_marzo/img3.jpg" target="_blank">
                                                        <img src="Libreria/img/principal/8_marzo/img3.jpg" class="thumbnail img-responsive" alt="img" />
                                                    </a>
                                                </figure>
                                            </div>
                                            <div class="col-lg-3">
                                                <figure>
                                                    <a href="Libreria/img/principal/8_marzo/img4.jpg" target="_blank">
                                                        <img src="Libreria/img/principal/8_marzo/img4.jpg" class="thumbnail img-responsive" alt="img" />
                                                    </a>
                                                </figure>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </article>
                        <article>
                            <div class="panel panel-success">
                                <div class="panel-heading">
                                    <b style="font-size: 20px;">Actividades de Revestimiento de Calles .:. H. Ayuntamiento de San Lucas, Mich.</b>
                                </div>
                                <time datetime="2018-03-17" style="color:grey;text-align:justify;">
                                    publicado el sábado, 17 de marzo de 2018.
                                </time>
                                <div class="panel-body">
                                    <div class="row">
                                        <p style="padding:20px; text-align:justify; font-size: 20px;">
                                            <b>
                                                El día viernes 05 de marzo del 2018., En atención a lo establecido en Plan de Desarrollo 2015-2018,en lo relativo al mejoramiento de imagen urbana, se esta llevando a cabo actividades de revestimiento de calles en localidad de Huizachal.
                                            </b>
                                        </p>
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <figure>
                                                    <a href="Libreria/img/principal/revestimiento/img1.jpg" target="_blank">
                                                        <img src="Libreria/img/principal/revestimiento/img1.jpg" class="thumbnail img-responsive" alt="img" />
                                                    </a>
                                                </figure>
                                            </div>
                                            <div class="col-lg-6">
                                                <figure>
                                                    <a href="Libreria/img/principal/revestimiento/img2.jpg" target="_blank">
                                                        <img src="Libreria/img/principal/revestimiento/img2.jpg" class="thumbnail img-responsive" alt="img" />
                                                    </a>
                                                </figure>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </article>
                        <article>
                            <div class="panel panel-success">
                                <div class="panel-heading">
                                    <b style="font-size: 20px;">Marco Conmemorativo de Eventos Deportivos .:. H. Ayuntamiento de San Lucas, Mich.</b>
                                </div>
                                <time datetime="2018-03-17" style="color:grey;text-align:justify;">
                                    publicado el sábado, 17 de marzo de 2018.
                                </time>
                                <div class="panel-body">
                                    <div class="row">
                                        <p style="padding:20px; text-align:justify; font-size: 20px;">
                                            <b>
                                                El día 05 de marzo del 2018., En el marco conmemorativo de eventos deportivos que de forma ordinaria cada ciclo escolar lleva acabo la Telesecundaria de Terrero Prieto, donde asistieron instituciones educativas de las comunidades de San Pedrito, Los Brasiles y Corupo, el C.Arturo Torres Aguirre hace entrega de material deportivo a los mismos, como una forma de apoyar y promover el deporte.
                                            </b>
                                        </p>
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <figure>
                                                    <a href="Libreria/img/principal/eventos/img1.jpg" target="_blank">
                                                        <img src="Libreria/img/principal/eventos/img1.jpg" class="thumbnail img-responsive" alt="img" />
                                                    </a>
                                                </figure>
                                            </div>
                                            <div class="col-lg-6">
                                                <figure>
                                                    <a href="Libreria/img/principal/eventos/img2.jpg" target="_blank">
                                                        <img src="Libreria/img/principal/eventos/img2.jpg" class="thumbnail img-responsive" alt="img" />
                                                    </a>
                                                </figure>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </article>
                        <article>
                            <div class="panel panel-success">
                                <div class="panel-heading">
                                    <b style="font-size: 20px;">Propósito para el Servicio de Agua Potable .:. H. Ayuntamiento de San Lucas, Mich.</b>
                                </div>
                                <time datetime="2018-03-17" style="color:grey;text-align:justify;">
                                    publicado el sábado, 17 de marzo de 2018.
                                </time>
                                <div class="panel-body">
                                    <div class="row">
                                        <p style="padding:20px; text-align:justify; font-size: 20px;">
                                            <b>
                                                El día lunes 05 de marzo del 2018., Con el propósito de mejorar el servicio de agua potable, la administración municipal que preside el C. Arturo Torres Aguirre, hace entrega de 1, 890 mts. de manguera a familias económicamente vulnerables en localidad de Los Brasiles, para aprovechar la inversión de la construcción previa de pozo noria, mejorando sus actividades domesticas, abriendo posibilidad de instalar huertos familiares y la explotación pecuaria de pequeñas especies, en dicha localidad.
                                            </b>
                                        </p>
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <figure>
                                                    <a href="Libreria/img/principal/huertos/img1.jpg" target="_blank">
                                                        <img src="Libreria/img/principal/huertos/img1.jpg" class="thumbnail img-responsive" alt="img" />
                                                    </a>
                                                </figure>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </article>
                        </div>
                    </div>
                </div>
            </div>
            <?php include "Vista/paginacion.phtml"; ?>
        </div>
        <div class="col-md-3"><!-- Barra lateral -->
            <aside>
                <?php 
                    include "Vista/main.phtml";
                    include "Vista/submenu.phtml";
                ?>
            </aside>
        </div><!-- end BL -->    
    </div>
</section>