<section>
    <div class="row">
        <div class="col-md-9">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                        <article>
                            <div class="panel panel-success">
                                <div class="panel-heading">
                                    <b style="font-size: 20px;">Proyecto de Terminación de Hospital de la Cabecera Municipal .:. H. Ayuntamiento de San Lucas, Mich.</b>
                                </div>
                                <time datetime="2018-02-06" style="color:grey;text-align:justify;">
                                    publicado el martes, 06 de febrero de 2018.
                                </time>
                                <div class="panel-body">
                                    <div class="row">
                                        <p style="padding:20px; text-align:justify; font-size: 20px;">
                                            <b>
                                                El día sábado, 3 de Febrero de 2018, En visita al municipio de San Lucas, el Secretario de salud, Dr. Elias Ibarra, en representación de Gobernador del Estado de Michoacán el Ing. Silvano Aureoles Conejo, en compañía de C. Arturo Torres Aguirre presidente municipal de San Lucas, visitan y retoman el proyecto de terminación de hospital de la cabecera municipal. Se anuncia presupuesto para terminar la infraestructura y amueblar el nosocomio, también estuvieron presentes el Dr. Jaime Garcia Arias jefe de la jurisdicción de Zitacuaro, la Dra. Alondra Garcén directora de centro de salud entre otras autoridades de salud y municipales, así como la agradable visita de Lic. Octavio Ocampo presidente municipal de Tuzantla.
                                                Se informó al representante constitucional de los sanluquences que en tres meses se da inicio con los trabajos de terminación del hospital. 
                                            </b>
                                        </p>
                                        <div class="row">  
                                            <div class="col-lg-3">
                                                <figure>
                                                    <a href="Libreria/img/principal/hospital/img1.jpg" target="_blank">
                                                        <img src="Libreria/img/principal/hospital/img1.jpg" class="thumbnail img-responsive" alt="img" />
                                                    </a>
                                                </figure>
                                            </div>
                                            <div class="col-lg-3">
                                                <figure>
                                                    <a href="Libreria/img/principal/hospital/img2.jpg" target="_blank">
                                                        <img src="Libreria/img/principal/hospital/img2.jpg" class="thumbnail img-responsive" alt="img" />
                                                    </a>
                                                </figure>
                                            </div>
                                            <div class="col-lg-3">
                                                <figure>
                                                    <a href="Libreria/img/principal/hospital/img3.jpg" target="_blank">
                                                        <img src="Libreria/img/principal/hospital/img3.jpg" class="thumbnail img-responsive" alt="img" />
                                                    </a>
                                                </figure>
                                            </div>
                                            <div class="col-lg-3">
                                                <figure>
                                                    <a href="Libreria/img/principal/hospital/img4.jpg" target="_blank">
                                                        <img src="Libreria/img/principal/hospital/img4.jpg" class="thumbnail img-responsive" alt="img" />
                                                    </a>
                                                </figure>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </article>
                        <article>
                            <div class="panel panel-success">
                                <div class="panel-heading">
                                    <b style="font-size: 20px;">Peregrinos en Cabalgata Fiesta de La Candelaria .:. H. Ayuntamiento de San Lucas, Mich.</b>
                                </div>
                                <time datetime="2018-02-02" style="color:grey;text-align:justify;">
                                    publicado el viernes, 02 de febrero de 2018.
                                </time>
                                <div class="panel-body">
                                    <div class="row">
                                        <p style="padding:20px; text-align:justify; font-size: 20px;">
                                            <b>
                                                El día jueves 1 de Febrero de 2018, el gobierno municipal de San Lucas que encabeza el C. Arturo Torres Aguirre, se dispone a recibir a los peregrinos en cabalgata que nos visitan de los estados de México, Guerrero y el propio municipio de San Lucas, a fiesta de La Candelaria 2018.
                                            </b>
                                        </p>
                                        <div class="row">  
                                            <div class="col-lg-4">
                                                <figure>
                                                    <a href="Libreria/img/principal/candelaria/img1.jpg" target="_blank">
                                                        <img src="Libreria/img/principal/candelaria/img1.jpg" class="thumbnail img-responsive" alt="img" />
                                                    </a>
                                                </figure>
                                            </div>
                                            <div class="col-lg-4">
                                                <figure>
                                                    <a href="Libreria/img/principal/candelaria/img2.jpg" target="_blank">
                                                        <img src="Libreria/img/principal/candelaria/img2.jpg" class="thumbnail img-responsive" alt="img" />
                                                    </a>
                                                </figure>
                                            </div>
                                            <div class="col-lg-4">
                                                <figure>
                                                    <a href="Libreria/img/principal/candelaria/img3.jpg" target="_blank">
                                                        <img src="Libreria/img/principal/candelaria/img3.jpg" class="thumbnail img-responsive" alt="img" />
                                                    </a>
                                                </figure>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </article>
                        <article>
                            <div class="panel panel-success">
                                <div class="panel-heading">
                                    <b style="font-size: 20px;">Programa Preventivo de Enfermedades en la Ganadería .:. H. Ayuntamiento de San Lucas, Mich.</b>
                                </div>
                                <time datetime="2018-02-02" style="color:grey;text-align:justify;">
                                    publicado el viernes, 02 de febrero de 2018.
                                </time>
                                <div class="panel-body">
                                    <div class="row">
                                        <p style="padding:20px; text-align:justify; font-size: 20px;">
                                            <b>
                                                De forma coordinada el gobierno del Estado a través de SEDRUA y el gobierno municipal que encabeza el C. Arturo Torres Aguirre mediante la dirección de Desarrollo Rural esta ejecutando programa preventivo de enfermedades en la ganadería del municipio: septicemia hemorragica, carbón sintomático, edema maligno, fiebre carbonosa y rabia paralitica bovina, con una cobertura de beneficio a la fecha de 1,644 cabezas de ganado bovino. Con esta política el sector ganadero incide de manera directa a proteger la economía familiar, toda vez que esta es la segunda actividad económica mas importante del municipio de San Lucas.
                                            </b>
                                        </p>
                                        <div class="row">  
                                            <div class="col-lg-4">
                                                <figure>
                                                    <a href="Libreria/img/principal/ganaderia/img1.jpg" target="_blank">
                                                        <img src="Libreria/img/principal/ganaderia/img1.jpg" class="thumbnail img-responsive" alt="img" />
                                                    </a>
                                                </figure>
                                            </div>
                                            <div class="col-lg-4">
                                                <figure>
                                                    <a href="Libreria/img/principal/ganaderia/img2.jpg" target="_blank">
                                                        <img src="Libreria/img/principal/ganaderia/img2.jpg" class="thumbnail img-responsive" alt="img" />
                                                    </a>
                                                </figure>
                                            </div>
                                            <div class="col-lg-4">
                                                <figure>
                                                    <a href="Libreria/img/principal/ganaderia/img3.jpg" target="_blank">
                                                        <img src="Libreria/img/principal/ganaderia/img3.jpg" class="thumbnail img-responsive" alt="img" />
                                                    </a>
                                                </figure>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </article>
                        <article>
                            <div class="panel panel-success">
                                <div class="panel-heading">
                                    <b style="font-size: 20px;">Transporte Saca Cosecha en La Chica- Tupiro .:. H. Ayuntamiento de San Lucas, Mich.</b>
                                </div>
                                <time datetime="2018-01-29" style="color:grey;text-align:justify;">
                                    publicado el lunes, 29 de enero de 2018.
                                </time>
                                <div class="panel-body">
                                    <div class="row">
                                        <p style="padding:20px; text-align:justify; font-size: 20px;">
                                            <b>
                                                Con cobertura de beneficio muy importante el C. Arturo Torres Aguirre realiza compromiso de trabajo en camino saca cosecha en La Chica- Tupiro(paraje norte de ejido en Santa Cruz), este permitirá explotar de mejor manera mas de 200 has. mejorando el transporte de cosecha y cultivo de las mismas y con una expectativa inmediata de extensión de camino para la comunicación de localidades de Salguero, Buena Vista San Nicolas y Santa Cruz de Villagomez.
                                            </b>
                                        </p>
                                        <div class="row">  
                                            <div class="col-lg-4">
                                                <figure>
                                                    <a href="Libreria/img/principal/cosecha/img1.jpg" target="_blank">
                                                        <img src="Libreria/img/principal/cosecha/img1.jpg" class="thumbnail img-responsive" alt="img" />
                                                    </a>
                                                </figure>
                                            </div>
                                            <div class="col-lg-4">
                                                <figure>
                                                    <a href="Libreria/img/principal/cosecha/img2.jpg" target="_blank">
                                                        <img src="Libreria/img/principal/cosecha/img2.jpg" class="thumbnail img-responsive" alt="img" />
                                                    </a>
                                                </figure>
                                            </div>
                                            <div class="col-lg-4">
                                                <figure>
                                                    <a href="Libreria/img/principal/cosecha/img3.jpg" target="_blank">
                                                        <img src="Libreria/img/principal/cosecha/img3.jpg" class="thumbnail img-responsive" alt="img" />
                                                    </a>
                                                </figure>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </article>
                        <article>
                            <div class="panel panel-success">
                                <div class="panel-heading">
                                    <b style="font-size: 20px;">Informacion para Adquirir Molino de Nixtamal .:. H. Ayuntamiento de San Lucas, Mich.</b>
                                </div>
                                <time datetime="2018-01-29" style="color:grey;text-align:justify;">
                                    publicado el lunes, 29 de enero de 2018.
                                </time>
                                <div class="panel-body">
                                    <div class="row">
                                        <p style="padding:20px; text-align:justify; font-size: 20px;">
                                            <b>
                                                El día viernes 26 de enero del 2018.</br>
                                                Por gestión extraordinaria el gobierno municipal que encabeza el C. Arturo Torres Aguirre y a través de la Dirección de Desarrollo Rural, informa a las familias del municipio que quieran adquirir molino de nixtamal (eléctrico y/o de gasolina), la ventanilla de recepción e informacion estará a su disposición en el mismo departamento a partir del lunes 29.El programa implica el apoyo de 50%, deberán presentar:</br>
                                                * Credencial de elector</br>
                                                * Curp</br>
                                                * Comprobante de domicilio</br>
                                            </b>
                                        </p>
                                        <div class="row">  
                                            <div class="col-lg-4">
                                                <figure>
                                                    <a href="Libreria/img/principal/molinos/img1.jpg" target="_blank">
                                                        <img src="Libreria/img/principal/molinos/img1.jpg" class="thumbnail img-responsive" alt="img" />
                                                    </a>
                                                </figure>
                                            </div>
                                            <div class="col-lg-4">
                                                <figure>
                                                    <a href="Libreria/img/principal/molinos/img2.jpg" target="_blank">
                                                        <img src="Libreria/img/principal/molinos/img2.jpg" class="thumbnail img-responsive" alt="img" />
                                                    </a>
                                                </figure>
                                            </div>
                                            <div class="col-lg-4">
                                                <figure>
                                                    <a href="Libreria/img/principal/molinos/img3.jpg" target="_blank">
                                                        <img src="Libreria/img/principal/molinos/img3.jpg" class="thumbnail img-responsive" alt="img" />
                                                    </a>
                                                </figure>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </article>
                        <article>
                            <div class="panel panel-success">
                                <div class="panel-heading">
                                    <b style="font-size: 20px;">Arranque de Banderazo de Pavimentaciòn que se LLeva a Cabo Corte de Listón .:. H. Ayuntamiento de San Lucas, Mich.</b>
                                </div>
                                <time datetime="2018-01-29" style="color:grey;text-align:justify;">
                                    publicado el lunes, 29 de enero de 2018.
                                </time>
                                <div class="panel-body">
                                    <div class="row">
                                        <p style="padding:20px; text-align:justify; font-size: 20px;">
                                            <b>
                                                El día viernes 19 de enero del 2018.</br>
                                                Después de dos meses de arranque de banderazo de pavimentación se lleva a cabo corte de listón, bajo la emotividad y gratitud de toda la comunidad de La Chica y familias de la Tenencia de Santa Cruz en virtud de que el propio camino es de beneficio para ambas comunidades, en su participación la C Maribel Orozco encargada del orden de la localidad agradeció y reconoce la capacidad de cumplimiento del gobierno que encabeza el C Arturo Torres Aguirre reiterando apoyo en el resto de su gestión.El presidente municipal agradeció el recibimiento y entrega la obra de forma oficial, subrayando que es para su beneficio y como tal deben cuidarla.La comunidad tambien agradecio al cabildo que aprobó la obra tan esperada en la historia de la comunidad.
                                            </b>
                                        </p>
                                        <div class="row">  
                                            <div class="col-lg-4">
                                                <figure>
                                                    <a href="Libreria/img/principal/pavimentacion/img1.jpg" target="_blank">
                                                        <img src="Libreria/img/principal/pavimentacion/img1.jpg" class="thumbnail img-responsive" alt="img" />
                                                    </a>
                                                </figure>
                                            </div>
                                            <div class="col-lg-4">
                                                <figure>
                                                    <a href="Libreria/img/principal/pavimentacion/img2.jpg" target="_blank">
                                                        <img src="Libreria/img/principal/pavimentacion/img2.jpg" class="thumbnail img-responsive" alt="img" />
                                                    </a>
                                                </figure>
                                            </div>
                                            <div class="col-lg-4">
                                                <figure>
                                                    <a href="Libreria/img/principal/pavimentacion/img3.jpg" target="_blank">
                                                        <img src="Libreria/img/principal/pavimentacion/img3.jpg" class="thumbnail img-responsive" alt="img" />
                                                    </a>
                                                </figure>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </article>
                        <article>
                            <div class="panel panel-success">
                                <div class="panel-heading">
                                    <b style="font-size: 20px;">Campaña de Limpieza del Tramo Carretero Federal .:. H. Ayuntamiento de San Lucas, Mich.</b>
                                </div>
                                <time datetime="2018-01-29" style="color:grey;text-align:justify;">
                                    publicado el lunes, 29 de enero de 2018.
                                </time>
                                <div class="panel-body">
                                    <div class="row">
                                        <p style="padding:20px; text-align:justify; font-size: 20px;">
                                            <b>
                                                El día viernes 19 de enero del 2018.</br>
                                                De forma coordinada con el gobierno municipal de San Lucas, que encabeza el C. Arturo Torres Aguirre,con instituciones educativas de nivel medio superior, de la cabecera municipal, se realizó campaña de limpieza del tramo carretero federal de Terrero Prieto a Salguero, en el marco conmemorativo de fiestas de La Candelaria 2018, a fin de propiciar y dar las condiciones de seguridad de los visitantes.Estas actividades van de la mano con otras de salud publica que realiza la jurisdicción sanitaria de Zitacuaro.
                                            </b>
                                        </p>
                                        <div class="row">  
                                            <div class="col-lg-4">
                                                <figure>
                                                    <a href="Libreria/img/principal/campaña/img1.jpg" target="_blank">
                                                        <img src="Libreria/img/principal/campaña/img1.jpg" class="thumbnail img-responsive" alt="img" />
                                                    </a>
                                                </figure>
                                            </div>
                                            <div class="col-lg-4">
                                                <figure>
                                                    <a href="Libreria/img/principal/campaña/img2.jpg" target="_blank">
                                                        <img src="Libreria/img/principal/campaña/img2.jpg" class="thumbnail img-responsive" alt="img" />
                                                    </a>
                                                </figure>
                                            </div>
                                            <div class="col-lg-4">
                                                <figure>
                                                    <a href="Libreria/img/principal/campaña/img3.jpg" target="_blank">
                                                        <img src="Libreria/img/principal/campaña/img3.jpg" class="thumbnail img-responsive" alt="img" />
                                                    </a>
                                                </figure>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </article>
                        <article>
                            <div class="panel panel-success">
                                <div class="panel-heading">
                                    <b style="font-size: 20px;">Acuerdo Interinstitucional Entre SAGARPA y Municipio en la Dirección de Desarrollo Rural .:. H. Ayuntamiento de San Lucas, Mich.</b>
                                </div>
                                <time datetime="2018-01-29" style="color:grey;text-align:justify;">
                                    publicado el lunes, 29 de enero de 2018.
                                </time>
                                <div class="panel-body">
                                    <div class="row">
                                        <p style="padding:20px; text-align:justify; font-size: 20px;">
                                            <b>
                                                El día viernes 12 de enero del 2018.</br>
                                                Por gestión de H. Ayuntamiento a través de C. Arturo Torres Aguirre y por acuerdo interinstitucional entre SAGARPA y el propio municipio en la dirección de Desarrollo Rural que atinadamente dirige Ing. Vanessa Baltazar Rodriguez, se apertura ventanilla Programa de Apoyo para productores de Maiz y Frijol (PIMAF).</br>
                                                Requisitos:</br> 
                                                * Copia de Credencial de elector </br>
                                                * Copia de Curp </br>
                                                * Copia de Certificado Parcelario (Apoyo 1-3 Has.)</br>
                                                * Estar registrado en padrón único de beneficiarios SAGARPA.</br></br>
                                                Los documentos se recibirán en el departamento de Desarrollo Rural de H. Ayuntamiento de San Lucas, a partir de lunes 15 de Enero 2018
                                            </b>
                                        </p>
                                        <div class="row">
                                            <div class="col-lg-1"></div>  
                                            <div class="col-lg-10">
                                                <figure>
                                                    <a href="Libreria/img/principal/cultivo/img1.jpg" target="_blank">
                                                        <img src="Libreria/img/principal/cultivo/img1.jpg" class="thumbnail img-responsive" alt="img" />
                                                    </a>
                                                </figure>
                                            </div>
                                            <div class="col-lg-1"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </article>
                        <article>
                            <div class="panel panel-success">
                                <div class="panel-heading">
                                    <b style="font-size: 20px;">Conmemorar El Gobierno Municipal a Preparar Eventos Deportivos, Culturales y Civico .:. H. Ayuntamiento de San Lucas, Mich.</b>
                                </div>
                                <time datetime="2018-01-29" style="color:grey;text-align:justify;">
                                    publicado el lunes, 29 de enero de 2018.
                                </time>
                                <div class="panel-body">
                                    <div class="row">
                                        <p style="padding:20px; text-align:justify; font-size: 20px;">
                                            <b>
                                                El día martes 9 de enero del 2018.</br>
                                                PREVIO AL DIA A CONMEMORAR EL GOBIERNO MUNICIPAL A PREPARADO EVENTOS DEPORTIVOS CULTURALES, CIVICO;</br>
                                                * EL DIA 11 DE ENERO SE REALIZAN TORNEOS DE VOLEY Y FUTBOL A PARTIR DE LAS 5 EN CANCHA DE FUTBOL RAPIDO DE LA CABECERA Y EN SALON DE USOS MULTIPLES LAS CAMELINAS</br> 
                                                *EL DIA 12 EVENTO CULTURAL A PARTIR DE LAS 6:00 PM EN TEATRO JUAN REYNOSO PORTILLO CON PARTICIPACION DE CASA DE CULTURA DE COYUCA DE CATALAN</br>
                                                * EL DIA 13 </br>
                                                8:00 AM ACTO CIVICO FRENTE A PALACIO MUNICIPAL
                                                2:00 PM COMIDA PARA PUBLICO EN GENERAL Y REPRESENTANTES DE LAS 53 COMUNIDADES EN H. AYUNTAMIENTO DE SAN LUCAS</br>
                                                A PARTIR DE LAS 6:00 PM JARIPEO-BAILE EN CORRAL DE TOROS EMILIO TOGORES.
                                            </b>
                                        </p>
                                        <div class="row"> 
                                            <div class="col-lg-1"></div> 
                                            <div class="col-lg-10">
                                                <figure>
                                                    <a href="Libreria/img/principal/invitacion/img1.png" target="_blank">
                                                        <img src="Libreria/img/principal/invitacion/img1.png" class="thumbnail img-responsive" alt="img" />
                                                    </a>
                                                </figure>
                                            </div>
                                            <div class="col-lg-1"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </article>
                        <article>
                            <div class="panel panel-success">
                                <div class="panel-heading">
                                    <b style="font-size: 20px;">Entrega de Techo Estructural en Esc. Primaria "Miguel Hidalgo" .:. H. Ayuntamiento de San Lucas, Mich.</b>
                                </div>
                                <time datetime="2018-01-29" style="color:grey;text-align:justify;">
                                    publicado el lunes, 29 de enero de 2018.
                                </time>
                                <div class="panel-body">
                                    <div class="row">
                                        <p style="padding:20px; text-align:justify; font-size: 20px;">
                                            <b>
                                                El día martes 9 de enero del 2018.</br>
                                                El presidente municipal de San Lucas Arturo Torres Aguirre inauguró y entregó techo estructural en Esc. Primaria "Miguel Hidalgo" en Santa Cruz de Villagomez,momentos después de haberse llevado a cabo la ceremonia de honores a la Bandera en el patio cívico, donde se construyó la obra que durante muchos años habían demandado maestros, directivos y padres de familia.
                                                Al término del saludo a la Bandera el alcalde acompañado por autoridades educativas y sus colaboradores, procedieron a realizar el tradicional corte de listón para inaugurar así la obra.
                                            </b>
                                        </p>
                                        <div class="row">  
                                            <div class="col-lg-4">
                                                <figure>
                                                    <a href="Libreria/img/principal/primaria/img1.jpg" target="_blank">
                                                        <img src="Libreria/img/principal/primaria/img1.jpg" class="thumbnail img-responsive" alt="img" />
                                                    </a>
                                                </figure>
                                            </div>
                                            <div class="col-lg-4">
                                                <figure>
                                                    <a href="Libreria/img/principal/primaria/img2.jpg" target="_blank">
                                                        <img src="Libreria/img/principal/primaria/img2.jpg" class="thumbnail img-responsive" alt="img" />
                                                    </a>
                                                </figure>
                                            </div>
                                            <div class="col-lg-4">
                                                <figure>
                                                    <a href="Libreria/img/principal/primaria/img3.jpg" target="_blank">
                                                        <img src="Libreria/img/principal/primaria/img3.jpg" class="thumbnail img-responsive" alt="img" />
                                                    </a>
                                                </figure>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </article>
                        <article>
                            <div class="panel panel-success">
                                <div class="panel-heading">
                                    <b style="font-size: 20px;">Grandiozo Día de Reyes!!! .:. H. Ayuntamiento de San Lucas, Mich.</b>
                                </div>
                                <time datetime="2018-01-29" style="color:grey;text-align:justify;">
                                    publicado el lunes, 29 de enero de 2018.
                                </time>
                                <div class="panel-body">
                                    <div class="row">
                                        <p style="padding:20px; text-align:justify; font-size: 20px;">
                                            <b>
                                                El día sábado 6 de enero del 2018.</br>
                                                De forma simultanea como los años anteriores el H Ayuntamiento de la Gestion 2015-2018 que encabeza el C Arturo Torres Aguirre, en las 53 comunidades, las tenencias y la cabecera municipal, de forma coordinada con regidores, directores de la funcion publica, encargados del orden y jefes de tenencia, se repartió juguetes, jugos, empanadas y piñatas a todos niños del municipio.
                                            </b>
                                        </p>
                                        <div class="row">  
                                            <div class="col-lg-4">
                                                <figure>
                                                    <a href="Libreria/img/principal/reyes/img1.jpg" target="_blank">
                                                        <img src="Libreria/img/principal/reyes/img1.jpg" class="thumbnail img-responsive" alt="img" />
                                                    </a>
                                                </figure>
                                            </div>
                                            <div class="col-lg-4">
                                                <figure>
                                                    <a href="Libreria/img/principal/reyes/img2.jpg" target="_blank">
                                                        <img src="Libreria/img/principal/reyes/img2.jpg" class="thumbnail img-responsive" alt="img" />
                                                    </a>
                                                </figure>
                                            </div>
                                            <div class="col-lg-4">
                                                <figure>
                                                    <a href="Libreria/img/principal/reyes/img3.jpg" target="_blank">
                                                        <img src="Libreria/img/principal/reyes/img3.jpg" class="thumbnail img-responsive" alt="img" />
                                                    </a>
                                                </figure>
                                            </div>
                                        </div>
                                        <div class="row">  
                                            <div class="col-lg-4">
                                                <figure>
                                                    <a href="Libreria/img/principal/reyes/img4.jpg" target="_blank">
                                                        <img src="Libreria/img/principal/reyes/img4.jpg" class="thumbnail img-responsive" alt="img" />
                                                    </a>
                                                </figure>
                                            </div>
                                            <div class="col-lg-4">
                                                <figure>
                                                    <a href="Libreria/img/principal/reyes/img5.jpg" target="_blank">
                                                        <img src="Libreria/img/principal/reyes/img5.jpg" class="thumbnail img-responsive" alt="img" />
                                                    </a>
                                                </figure>
                                            </div>
                                            <div class="col-lg-4">
                                                <figure>
                                                    <a href="Libreria/img/principal/reyes/img6.jpg" target="_blank">
                                                        <img src="Libreria/img/principal/reyes/img6.jpg" class="thumbnail img-responsive" alt="img" />
                                                    </a>
                                                </figure>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </article>
                        <article>
                            <div class="panel panel-success">
                                <div class="panel-heading">
                                    <b style="font-size: 20px;">Inauguracíon de la Construcción de Pozo Profundo .:. H. Ayuntamiento de San Lucas, Mich.</b>
                                </div>
                                <time datetime="2018-01-29" style="color:grey;text-align:justify;">
                                    publicado el lunes, 29 de enero de 2018.
                                </time>
                                <div class="panel-body">
                                    <div class="row">
                                        <p style="padding:20px; text-align:justify; font-size: 20px;">
                                            <b>
                                                El día viernes 5 de enero del 2018.</br>
                                                Habitantes de la localidad de Las Paredes acompañaron a C. Arturo Torres Aguirre Presidente Municipal de San Lucas con su cabildo a inaugurar la construcción de pozo profundo en dicha localidad.
                                            </b>
                                        </p>
                                        <div class="row">  
                                            <div class="col-lg-6">
                                                <figure>
                                                    <a href="Libreria/img/principal/pozo_profundo/img1.jpg" target="_blank">
                                                        <img src="Libreria/img/principal/pozo_profundo/img1.jpg" class="thumbnail img-responsive" alt="img" />
                                                    </a>
                                                </figure>
                                            </div>
                                            <div class="col-lg-6">
                                                <figure>
                                                    <a href="Libreria/img/principal/pozo_profundo/img2.jpg" target="_blank">
                                                        <img src="Libreria/img/principal/pozo_profundo/img2.jpg" class="thumbnail img-responsive" alt="img" />
                                                    </a>
                                                </figure>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </article>                           
                        <article>
                            <div class="panel panel-success">
                                <div class="panel-heading">
                                    <b style="font-size: 20px;">Continuidad del Gran Pozo Noria .:. H. Ayuntamiento de San Lucas, Mich.</b>
                                </div>
                                <time datetime="2017-12-28" style="color:grey;text-align:justify;">
                                    publicado el jueves, 28 de diciembre de 2017.
                                </time>
                                <div class="panel-body">
                                    <div class="row">
                                        <p style="padding:20px; text-align:justify; font-size: 20px;">
                                            <b>
                                                Continúan trabajos de equipamiento, instalación de bomba y lineas de conducción de pozo noria en Riva Palacio Mich.
                                            </b>
                                        </p>
                                        <div class="row">  
                                            <div class="col-lg-6">
                                                <figure>
                                                    <a href="Libreria/img/2017/dic/pozo/img1.jpg" target="_blank">
                                                        <img src="Libreria/img/2017/dic/pozo/img1.jpg" class="thumbnail img-responsive" alt="img" />
                                                    </a>
                                                </figure>
                                            </div>
                                            <div class="col-lg-6">
                                                <figure>
                                                    <a href="Libreria/img/2017/dic/pozo/img2.jpg" target="_blank">
                                                        <img src="Libreria/img/2017/dic/pozo/img2.jpg" class="thumbnail img-responsive" alt="img" />
                                                    </a>
                                                </figure>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </article>
                        <article>
                            <div class="panel panel-success">
                                <div class="panel-heading">
                                    <b style="font-size: 20px;">Puente Peatonal en Loc. de Corral Viejo .:. H. Ayuntamiento de San Lucas, Mich.</b>
                                </div>
                                <time datetime="2017-12-28" style="color:grey;text-align:justify;">
                                    publicado el jueves, 28 de diciembre de 2017.
                                </time>
                                <div class="panel-body">
                                    <div class="row">
                                        <p style="padding:20px; text-align:justify; font-size: 20px;">
                                            <b>
                                                El C. Arturo Torres Aguirre presidente municipal de San Lucas, entrega puente peatonal en localidad de Corral Viejo, obra que permitirá paso seguro ante temporal de lluvias.
                                            </b>
                                        </p>
                                        <div class="row">  
                                            <div class="col-lg-6">
                                                <figure>
                                                    <a href="Libreria/img/2017/dic/puente/img1.jpg" target="_blank">
                                                        <img src="Libreria/img/2017/dic/puente/img1.jpg" class="thumbnail img-responsive" alt="img" />
                                                    </a>
                                                </figure>
                                            </div>
                                            <div class="col-lg-6">
                                                <figure>
                                                    <a href="Libreria/img/2017/dic/puente/img2.jpg" target="_blank">
                                                        <img src="Libreria/img/2017/dic/puente/img2.jpg" class="thumbnail img-responsive" alt="img" />
                                                    </a>
                                                </figure>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </article>
                        <article>
                            <div class="panel panel-success">
                                <div class="panel-heading">
                                    <b style="font-size: 20px;">Participación en Expo Feria del Oro 2017 .:. H. Ayuntamiento de San Lucas, Mich.</b>
                                </div>
                                <time datetime="2017-12-28" style="color:grey;text-align:justify;">
                                    publicado el jueves, 28 de diciembre de 2017.
                                </time>
                                <div class="panel-body">
                                    <div class="row">
                                        <p style="padding:20px; text-align:justify; font-size: 20px;">
                                            <b>
                                                Excelente participación de Casa de la Cultura "Turipecuaro"de San Lucas en Expo Feria del Oro 2017 de Coyuca de Catalan.
                                                Agradecimiento especial a Ing. Abel Montufar Mendoza presidente municipal de Coyuca de Catalan por la invitación y reconocimiento otorgado, también a los participantes y padres de familia que acompañaron.
                                            </b>
                                        </p>
                                        <div class="row">  
                                            <div class="col-lg-4">
                                                <figure>
                                                    <a href="Libreria/img/2017/dic/cultura/img1.jpg" target="_blank">
                                                        <img src="Libreria/img/2017/dic/cultura/img1.jpg" class="thumbnail img-responsive" alt="img" />
                                                    </a>
                                                </figure>
                                            </div>
                                            <div class="col-lg-4">
                                                <figure>
                                                    <a href="Libreria/img/2017/dic/cultura/img2.jpg" target="_blank">
                                                        <img src="Libreria/img/2017/dic/cultura/img2.jpg" class="thumbnail img-responsive" alt="img" />
                                                    </a>
                                                </figure>
                                            </div>
                                            <div class="col-lg-4">
                                                <figure>
                                                    <a href="Libreria/img/2017/dic/cultura/img3.jpg" target="_blank">
                                                        <img src="Libreria/img/2017/dic/cultura/img3.jpg" class="thumbnail img-responsive" alt="img" />
                                                    </a>
                                                </figure>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </article>
                        </div>
                    </div>
                </div>
            </div>
            <?php include "Vista/paginacion.phtml"; ?>
        </div>
        <div class="col-md-3"><!-- Barra lateral -->
            <aside>
                <?php 
                    include "Vista/main.phtml";
                    include "Vista/submenu.phtml";
                ?>
            </aside>
        </div><!-- end BL -->
    </div>
</section>
