<section>
    <div class="row">
        <div class="col-md-9">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                        <article>
                            <div class="panel panel-success">
                                <div class="panel-heading">
                                    <b style="font-size: 20px;">Programa "PALOMAS MENSAJERAS" .:. H. Ayuntamiento de San Lucas, Mich.</b>
                                </div>
                                <time datetime="2018-03-17" style="color:grey;text-align:justify;">
                                    publicado el sábado, 17 de marzo de 2018.
                                </time>
                                <div class="panel-body">
                                    <div class="row">
                                        <p style="padding:20px; text-align:justify; font-size: 20px;">
                                            <b>
                                                El día viernes 02 de marzo del 2018., Programa "PALOMAS MENSAJERAS" en el municipio de San Lucas, para mayor información en dirección del Migrante en el H. Ayuntamiento de San Lucas.
                                            </b>
                                        </p>
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <figure>
                                                    <a href="Libreria/img/principal/palomas/img1.jpg" target="_blank">
                                                        <img src="Libreria/img/principal/palomas/img1.jpg" class="thumbnail img-responsive" alt="img" />
                                                    </a>
                                                </figure>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </article>
                        <article>
                            <div class="panel panel-success">
                                <div class="panel-heading">
                                    <b style="font-size: 20px;">Objetivo de Protección a los Productores Agrícolas.:. H. Ayuntamiento de San Lucas, Mich.</b>
                                </div>
                                <time datetime="2018-03-17" style="color:grey;text-align:justify;">
                                    publicado el sábado, 17 de marzo de 2018.
                                </time>
                                <div class="panel-body">
                                    <div class="row">
                                        <p style="padding:20px; text-align:justify; font-size: 20px;">
                                            <b>
                                                El día jueves 01 de marzo del 2018., Con el objetivo de generar protección a los productores agrícolas de nuestro municipio, el Honorable Ayuntamiento de San Lucas, encabezado por el C. Arturo Torres Aguirre, a través del Departamento de Desarrollo Rural, a cargo de Ing. Vanesa Baltazar Rodriguez, y en coordinación con el Gobierno del Estado, realizó la entrega de 200 pólizas de seguro de vida campesino a beneficiarios de las diversas comunidades del municipio.
                                            </b>
                                        </p>
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <figure>
                                                    <a href="Libreria/img/principal/agricolas/img1.jpg" target="_blank">
                                                        <img src="Libreria/img/principal/agricolas/img1.jpg" class="thumbnail img-responsive" alt="img" />
                                                    </a>
                                                </figure>
                                            </div>
                                            <div class="col-lg-6">
                                                <figure>
                                                    <a href="Libreria/img/principal/agricolas/img2.jpg" target="_blank">
                                                        <img src="Libreria/img/principal/agricolas/img2.jpg" class="thumbnail img-responsive" alt="img" />
                                                    </a>
                                                </figure>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </article>
                        <article>
                            <div class="panel panel-success">
                                <div class="panel-heading">
                                    <b style="font-size: 20px;">Edificación de Techo Elevado y Fachada en Telesecundaria .:. H. Ayuntamiento de San Lucas, Mich.</b>
                                </div>
                                <time datetime="2018-02-26" style="color:grey;text-align:justify;">
                                    publicado el lunes, 26 de febrero de 2018.
                                </time>
                                <div class="panel-body">
                                    <div class="row">
                                        <p style="padding:20px; text-align:justify; font-size: 20px;">
                                            <b>
                                                El día viernes, 23 de febrero de 2018., El Alcalde, C. Arturo Torres Aguirre dió, banderazo para arrancar la obra: edificación de techo elevado y fachada en Telesecundaria de localidad de Monte Grande, en compañía de autoridades municipales, educativas padres de familia y alumnos.
                                            </b>
                                        </p>
                                        <div class="row">
                                            <div class="col-lg-4">
                                                <figure>
                                                    <a href="Libreria/img/principal/telesecundaria/img1.jpg" target="_blank">
                                                        <img src="Libreria/img/principal/telesecundaria/img1.jpg" class="thumbnail img-responsive" alt="img" />
                                                    </a>
                                                </figure>
                                            </div>
                                            <div class="col-lg-4">
                                                <figure>
                                                    <a href="Libreria/img/principal/telesecundaria/img2.jpg" target="_blank">
                                                        <img src="Libreria/img/principal/telesecundaria/img2.jpg" class="thumbnail img-responsive" alt="img" />
                                                    </a>
                                                </figure>
                                            </div>

                                            <div class="col-lg-4">
                                                <figure>
                                                    <a href="Libreria/img/principal/telesecundaria/img3.jpg" target="_blank">
                                                        <img src="Libreria/img/principal/telesecundaria/img3.jpg" class="thumbnail img-responsive" alt="img" />
                                                    </a>
                                                </figure>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </article>
                        <article>
                            <div class="panel panel-success">
                                <div class="panel-heading">
                                    <b style="font-size: 20px;">Construcción de Colector Sanitario .:. H. Ayuntamiento de San Lucas, Mich.</b>
                                </div>
                                <time datetime="2018-02-26" style="color:grey;text-align:justify;">
                                    publicado el lunes, 26 de febrero de 2018.
                                </time>
                                <div class="panel-body">
                                    <div class="row">
                                        <p style="padding:20px; text-align:justify; font-size: 20px;">
                                            <b>
                                                El día viernes, 23 de febrero de 2018., En localidad de San Jerónimo, se dieron cita vecinos y gobierno municipal presidido por C. Arturo Torres Aguirre, para dar banderazo de arranque de obra: Construcción de colector sanitario, esta obra tiene como finalidad mejorar la calidad del ambiente y la salud de la población de esta zona.
                                            </b>
                                        </p>
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <figure>
                                                    <a href="Libreria/img/principal/sanitario/img1.jpg" target="_blank">
                                                        <img src="Libreria/img/principal/sanitario/img1.jpg" class="thumbnail img-responsive" alt="img" />
                                                    </a>
                                                </figure>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </article>
                        <article>
                            <div class="panel panel-success">
                                <div class="panel-heading">
                                    <b style="font-size: 20px;">Drenaje Sanitario en la Localidad de Tacupa .:. H. Ayuntamiento de San Lucas, Mich.</b>
                                </div>
                                <time datetime="2018-02-26" style="color:grey;text-align:justify;">
                                    publicado el lunes, 26 de febrero de 2018.
                                </time>
                                <div class="panel-body">
                                    <div class="row">
                                        <p style="padding:20px; text-align:justify; font-size: 20px;">
                                            <b>
                                                El día viernes, 23 de febrero de 2018., En compañía de autoridades municipales y vecinos, el C. Arturo Torres dio banderazo de arranque de obra: Construcción de drenaje sanitario en la localidad de Tacupa.
                                            </b>
                                        </p>
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <figure>
                                                    <a href="Libreria/img/principal/tacupa/img1.jpg" target="_blank">
                                                        <img src="Libreria/img/principal/tacupa/img1.jpg" class="thumbnail img-responsive" alt="img" />
                                                    </a>
                                                </figure>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </article>
                        <article>
                            <div class="panel panel-success">
                                <div class="panel-heading">
                                    <b style="font-size: 20px;">Construcción de Infraestructura de Conducción de Agua .:. H. Ayuntamiento de San Lucas, Mich.</b>
                                </div>
                                <time datetime="2018-02-26" style="color:grey;text-align:justify;">
                                    publicado el lunes, 26 de febrero de 2018.
                                </time>
                                <div class="panel-body">
                                    <div class="row">
                                        <p style="padding:20px; text-align:justify; font-size: 20px;">
                                            <b>
                                                El día viernes, 23 de febrero de 2018., En localidad de Chumbitaro, autoridades de SAGARPA, el C. Arturo Torres Aguirre. Presidente municipal así como el encargado y comité regulador, firmaron convenio para el inicio de construcción de infraestructura de conducción de agua desde la presa a las parcelas agrícolas de dicha localidad. Lo anterior permitirá una mejor rentabilidad en la explotación a los cultivos que de manera tradicional se explotan en la comunidad y que las distingue sobre otras, como son: la jicama, la flor de cempasúchil, la flor de nardo,la cebolla entre otros. Lo que se traducirá en el mejoramiento de la economía familiar de la comunidad principalmente.
                                            </b>
                                        </p>
                                        <div class="row">
                                            <div class="col-lg-4">
                                                    <figure>
                                                        <a href="Libreria/img/principal/presa/img2.jpg" target="_blank">
                                                            <img src="Libreria/img/principal/presa/img2.jpg" class="thumbnail img-responsive" alt="img" />
                                                        </a>
                                                    </figure>
                                                </div>
                                            <div class="col-lg-4">
                                                <figure>
                                                    <a href="Libreria/img/principal/presa/img1.jpg" target="_blank">
                                                        <img src="Libreria/img/principal/presa/img1.jpg" class="thumbnail img-responsive" alt="img" />
                                                    </a>
                                                </figure>
                                            </div>
                                            <div class="col-lg-4">
                                                <figure>
                                                    <a href="Libreria/img/principal/presa/img3.jpg" target="_blank">
                                                        <img src="Libreria/img/principal/presa/img3.jpg" class="thumbnail img-responsive" alt="img" />
                                                    </a>
                                                </figure>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </article>
                        <article>
                            <div class="panel panel-success">
                                <div class="panel-heading">
                                    <b style="font-size: 20px;">Nueva Construcción de Drenaje Adyacente .:. H. Ayuntamiento de San Lucas, Mich.</b>
                                </div>
                                <time datetime="2018-02-26" style="color:grey;text-align:justify;">
                                    publicado el lunes, 26 de febrero de 2018.
                                </time>
                                <div class="panel-body">
                                    <div class="row">
                                        <p style="padding:20px; text-align:justify; font-size: 20px;">
                                            <b>
                                                El día jueves, 22 de febrero de 2018., Bajo convenio entre gobierno federal a través de CONAGUA y el gobierno municipal que encabeza el C. Arturo Torres Aguirre, se realizó recorrido en arroyo principal que atraviesa la cabecera municipal del propio municipio, donde se construirá drenaje adyacente, el cual permitirá diminuir de forma importante los focos de contaminación que afectan a toda la población.
                                            </b>
                                        </p>
                                        <div class="row">
                                            <div class="col-lg-4">
                                                <figure>
                                                    <a href="Libreria/img/principal/drenaje/img1.jpg" target="_blank">
                                                        <img src="Libreria/img/principal/drenaje/img1.jpg" class="thumbnail img-responsive" alt="img" />
                                                    </a>
                                                </figure>
                                            </div>
                                            <div class="col-lg-4">
                                                <figure>
                                                    <a href="Libreria/img/principal/drenaje/img2.jpg" target="_blank">
                                                        <img src="Libreria/img/principal/drenaje/img2.jpg" class="thumbnail img-responsive" alt="img" />
                                                    </a>
                                                </figure>
                                            </div>
                                            <div class="col-lg-4">
                                                <figure>
                                                    <a href="Libreria/img/principal/drenaje/img3.jpg" target="_blank">
                                                        <img src="Libreria/img/principal/drenaje/img3.jpg" class="thumbnail img-responsive" alt="img" />
                                                    </a>
                                                </figure>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </article>
                        <article>
                            <div class="panel panel-success">
                                <div class="panel-heading">
                                    <b style="font-size: 20px;">Trabajando por la Prevención de Inundación a Cultivos .:. H. Ayuntamiento de San Lucas, Mich.</b>
                                </div>
                                <time datetime="2018-02-26" style="color:grey;text-align:justify;">
                                    publicado el lunes, 26 de febrero de 2018.
                                </time>
                                <div class="panel-body">
                                    <div class="row">
                                        <p style="padding:20px; text-align:justify; font-size: 20px;">
                                            <b>
                                                El día martes, 20 de febrero de 2018., El presidente municipal de San Lucas, C. Arturo Torres Aguirre, realizó recorrido en localidad de Characharando en compañía del encargado del orden Vidal Andres Noyola y el comisariado ejidal Ranferi Gurrustieta Noyola, para verificar la realización de la construcción de bordo de contención, para la prevención de inundación a los cultivos.
                                            </b>
                                        </p>
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <figure>
                                                    <a href="Libreria/img/principal/cultivos/img1.jpg" target="_blank">
                                                        <img src="Libreria/img/principal/cultivos/img1.jpg" class="thumbnail img-responsive" alt="img" />
                                                    </a>
                                                </figure>
                                            </div>
                                            <div class="col-lg-6">
                                                <figure>
                                                    <a href="Libreria/img/principal/cultivos/img2.jpg" target="_blank">
                                                        <img src="Libreria/img/principal/cultivos/img2.jpg" class="thumbnail img-responsive" alt="img" />
                                                    </a>
                                                </figure>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </article>
                        <article>
                            <div class="panel panel-success">
                                <div class="panel-heading">
                                    <b style="font-size: 20px;">Supervisión de Obra en Rehabilitación en San Nicolas  .:. H. Ayuntamiento de San Lucas, Mich.</b>
                                </div>
                                <time datetime="2018-02-26" style="color:grey;text-align:justify;">
                                    publicado el lunes, 26 de febrero de 2018.
                                </time>
                                <div class="panel-body">
                                    <div class="row">
                                        <p style="padding:20px; text-align:justify; font-size: 20px;">
                                            <b>
                                                El día martes, 20 de febrero de 2018., En la localidad de San Nicolas, del municipio de San Lucas, el presidente municipal C. Arturo Torres Aguirre supervisa obra en rehabilitación de camino en dicha localidad.
                                            </b>
                                        </p>
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <figure>
                                                    <a href="Libreria/img/principal/san_nicolas/img1.jpg" target="_blank">
                                                        <img src="Libreria/img/principal/san_nicolas/img1.jpg" class="thumbnail img-responsive" alt="img" />
                                                    </a>
                                                </figure>
                                            </div>
                                            <div class="col-lg-6">
                                                <figure>
                                                    <a href="Libreria/img/principal/san_nicolas/img2.jpg" target="_blank">
                                                        <img src="Libreria/img/principal/san_nicolas/img2.jpg" class="thumbnail img-responsive" alt="img" />
                                                    </a>
                                                </figure>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </article>
                        <article>
                            <div class="panel panel-success">
                                <div class="panel-heading">
                                    <b style="font-size: 20px;">Programa "Palabra de Mujer" Primera Etapa de Créditos .:. H. Ayuntamiento de San Lucas, Mich.</b>
                                </div>
                                <time datetime="2018-02-26" style="color:grey;text-align:justify;">
                                    publicado el lunes, 26 de febrero de 2018.
                                </time>
                                <div class="panel-body">
                                    <div class="row">
                                        <p style="padding:20px; text-align:justify; font-size: 20px;">
                                            <b>
                                                El día jueves, 23 de febrero de 2018., Por medio de programa "Palabra de Mujer" ,el Gobierno de Estado, a través de Secretaria de Igualdad Sustantiva y Desarrollo de las Mujeres, en coordinación con Gobierno Municipal, que encabeza el C. Arturo Torres Aguirre, mediante departamento de Instancia de la Mujer, entregan una primera etapa de créditos representada por 6 beneficiarias,otorgando la cantidad de $60,000.
                                            </b>
                                        </p>
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <figure>
                                                    <a href="Libreria/img/principal/etapa1/img1.jpg" target="_blank">
                                                        <img src="Libreria/img/principal/etapa1/img1.jpg" class="thumbnail img-responsive" alt="img" />
                                                    </a>
                                                </figure>
                                            </div>
                                            <div class="col-lg-6">
                                                <figure>
                                                    <a href="Libreria/img/principal/etapa1/img2.jpg" target="_blank">
                                                        <img src="Libreria/img/principal/etapa1/img2.jpg" class="thumbnail img-responsive" alt="img" />
                                                    </a>
                                                </figure>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </article>
                        <article>
                            <div class="panel panel-success">
                                <div class="panel-heading">
                                    <b style="font-size: 20px;">Programas para el Desarrollo del Campo .:. H. Ayuntamiento de San Lucas, Mich.</b>
                                </div>
                                <time datetime="2018-02-12" style="color:grey;text-align:justify;">
                                    publicado el lunes, 12 de febrero de 2018.
                                </time>
                                <div class="panel-body">
                                    <div class="row">
                                        <p style="padding:20px; text-align:justify; font-size: 20px;">
                                            <b>
                                                El Gobierno del Estado de Michoacan por conducto de la Secretaria de Desarrollo Rural y Agroalimentario (SEDRUA), el Gobierno Federal a través de la Delegación Estatal de la Secretaria de Agricultura, Ganadería, Desarrollo Rural, Pesca y Alimentación (SAGARPA) y el Gobierno municipal encabezado por el C. Arturo Torres Aguirre a través de departamento de Desarrollo Rural, convocan a personas físicas o morales que se dediquen a la producción agrícola, pecuaria, de pesca y acuicolas, a presentar solicitudes para acceder a los incentivos que otorgan los programas para el desarrollo del campo:<br/>
                                                1.- "Programa de Concurrencia con las Entidades Federativas 2018"<br/>
                                                2.- "Infraestructura Hidroagricola"<br/>
                                                3.- "Semillas Agrícolas Mejoradas"<br/>
                                                4.- "Agricultura por contrato"<br/>
                                                5.- "Nutrición animal"<br/>
                                                6.- "Repoblamiento y mejoramiento genético ganadero"<br/>
                                                7.- "Infraestructura ganadera"<br/>
                                                8.- "Fondo de protección y vida campesina"<br/>
                                                9.- "Desarrollo agroalimentario y de traspatio......<br/>
                                                Mayor información favor de acudir a departamento de Desarrollo Rural en H. Ayuntamiento de San Lucas.
                                            </b>
                                        </p>
                                        <div class="row">  
                                            <div class="col-lg-12">
                                                <figure>
                                                    <a href="Libreria/img/principal/agricola/img1.png" target="_blank">
                                                        <img src="Libreria/img/principal/agricola/img1.png" class="thumbnail img-responsive" alt="img" />
                                                    </a>
                                                </figure>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </article>
                        <article>
                            <div class="panel panel-success">
                                <div class="panel-heading">
                                    <b style="font-size: 20px;">Supervisión de Trabajo de Construcción .:. H. Ayuntamiento de San Lucas, Mich.</b>
                                </div>
                                <time datetime="2018-02-12" style="color:grey;text-align:justify;">
                                    publicado el lunes, 12 de febrero de 2018.
                                </time>
                                <div class="panel-body">
                                    <div class="row">
                                        <p style="padding:20px; text-align:justify; font-size: 20px;">
                                            <b>
                                                El C. Arturo Torres Aguirre presidente municipal de San Lucas supervisa trabajo de construcción de alumbrado de cancha deportiva", en colonia La Tejería, de la tenencia de Riva Palacio.
                                            </b>
                                        </p>
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <figure>
                                                    <a href="Libreria/img/principal/tejeria/img1.jpg" target="_blank">
                                                        <img src="Libreria/img/principal/tejeria/img1.jpg" class="thumbnail img-responsive" alt="img" />
                                                    </a>
                                                </figure>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </article>
                        <article>
                            <div class="panel panel-success">
                                <div class="panel-heading">
                                    <b style="font-size: 20px;">Programa Seguro de Vida para Madres Jefas de Familia .:. H. Ayuntamiento de San Lucas, Mich.</b>
                                </div>
                                <time datetime="2018-02-12" style="color:grey;text-align:justify;">
                                    publicado el lunes, 12 de febrero de 2018.
                                </time>
                                <div class="panel-body">
                                    <div class="row">
                                        <p style="padding:20px; text-align:justify; font-size: 20px;">
                                            <b>
                                                La Secretaria de Desarrollo Social (SEDESOL), y el Gobierno Municipal de San Lucas que preside el C. Arturo Torres Aguirre, a través de departamento de Instancia de la Mujer hace entrega a el Sr. Exaltación Sanchez Leandro de localidad de Riva Palacio la cantidad de $13,000 en retroactivos para sus hijos que quedaron en condición de orfandad materna, a través de Programa Seguro de Vida para Madres Jefas de Familia.
                                                A la fecha se han beneficiado 7 familias de 13 menores recibiendo apoyo bimestral para que continúen sus estudios.
                                            </b>
                                        </p>
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <figure>
                                                    <a href="Libreria/img/principal/seguro/img1.jpg" target="_blank">
                                                        <img src="Libreria/img/principal/seguro/img1.jpg" class="thumbnail img-responsive" alt="img" />
                                                    </a>
                                                </figure>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </article>
                        <article>
                            <div class="panel panel-success">
                                <div class="panel-heading">
                                    <b style="font-size: 20px;">Avanzan trabajos de desmonte de brecha en Las Tirinchicuas- Las Paredes .:. H. Ayuntamiento de San Lucas, Mich.</b>
                                </div>
                                <time datetime="2018-02-12" style="color:grey;text-align:justify;">
                                    publicado el lunes, 12 de febrero de 2018.
                                </time>
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <figure>
                                                    <a href="Libreria/img/principal/desmonte/img1.jpg" target="_blank">
                                                        <img src="Libreria/img/principal/desmonte/img1.jpg" class="thumbnail img-responsive" alt="img" />
                                                    </a>
                                                </figure>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </article>
                        <article>
                            <div class="panel panel-success">
                                <div class="panel-heading">
                                    <b style="font-size: 20px;">Programa Palabra de Mujer .:. H. Ayuntamiento de San Lucas, Mich.</b>
                                </div>
                                <time datetime="2018-02-08" style="color:grey;text-align:justify;">
                                    publicado el jueves, 08 de febrero de 2018.
                                </time>
                                <div class="panel-body">
                                    <div class="row">
                                        <p style="padding:20px; text-align:justify; font-size: 20px;">
                                            <b>
                                                El Gobierno Estatal a través de Secretaria de Igualdad Sustantiva y Desarrollo de las Mujeres,y Gobierno municipal que encabeza el C. Arturo Torres Aguirre, mediante Instancia de la Mujer de Ayuntamiento de San Lucas invita a participar en Programa Palabra de Mujer.
                                                La documentación se entregará en departamento de Instancia de la Mujer en Ayuntamiento de San Lucas el lunes 12 de Febrero a partir de 11:00 am.
                                            </b>
                                        </p>
                                        <div class="row">  
                                            <div class="col-lg-2"></div>
                                            <div class="col-lg-8">
                                                <figure>
                                                    <a href="Libreria/img/principal/palabra_mujer/img1.png" target="_blank">
                                                        <img src="Libreria/img/principal/palabra_mujer/img1.png" class="thumbnail img-responsive" alt="img" />
                                                    </a>
                                                </figure>
                                            </div>
                                            <div class="col-lg-2"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </article>
                        </div>
                    </div>
                </div>
            </div>
            <?php include "Vista/paginacion.phtml"; ?>
        </div>
        <div class="col-md-3"><!-- Barra lateral -->
            <aside>
                <?php 
                    include "Vista/main.phtml";
                    include "Vista/submenu.phtml";
                ?>
            </aside>
        </div><!-- end BL -->
    </div>
</section>
