<section>
	<div class="row">
		<div class="col-md-9">
			<div class="panel panel-default"><!--#DENTRO DE ESTE PANEL NO SE AGREGA ENCABEZADO-->
		        <div class="panel-body">
                <article>
                    <div class="panel panel-success">
                        <div class="panel-heading">
                            <b style="font-size: 20px;">Celebracíon de la Posada en Casa Hogar San Lucas .:. H. Ayuntamiento de San Lucas, Mich.</b>
                        </div>
                        <time datetime="2017-12-26" style="color:grey;text-align:justify;">
                            publicado el mastes, 26 de diciembre de 2017.
                        </time>
                        <div class="panel-body">
                            <div class="row">
                                <p style="padding:20px; text-align:justify; font-size: 20px;">
                                    <b>
                                        Celebran posada en Casa Hogar "Purisima Concepcion de Maria" de San Lucas, a el evento asistieron adultos mayores, los cuales fueron atendidos por encargadas del lugar en compañia de Presidenta de Dif Sra. Josefina Osorio.
                                    </b>
                                </p>
                                <div class="row">  
                                    <div class="col-lg-4">
                                        <figure>
                                            <a href="Libreria/img/2017/dic/casa_hogar/img1.jpg" target="_blank">
                                                <img src="Libreria/img/2017/dic/casa_hogar/img1.jpg" class="thumbnail img-responsive" alt="img" />
                                            </a>
                                        </figure>
                                    </div>
                                    <div class="col-lg-4">
                                        <figure>
                                            <a href="Libreria/img/2017/dic/casa_hogar/img2.jpg" target="_blank">
                                                <img src="Libreria/img/2017/dic/casa_hogar/img2.jpg" class="thumbnail img-responsive" alt="img" />
                                            </a>
                                        </figure>
                                    </div>
                                    <div class="col-lg-4">
                                        <figure>
                                            <a href="Libreria/img/2017/dic/casa_hogar/img3.jpg" target="_blank">
                                                <img src="Libreria/img/2017/dic/casa_hogar/img3.jpg" class="thumbnail img-responsive" alt="img" />
                                            </a>
                                        </figure>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
                <article>
                    <div class="panel panel-success">
                        <div class="panel-heading">
                            <b style="font-size: 20px;">.:. H. AYUNTAMIENTO DE SAN LUCAS LES DESEA FELICES FIESTAS .:.</b>
                        </div>
                        <time datetime="2017-12-15" style="color:grey;text-align:justify;">
                            publicado el viernes, 22 de diciembre de 2017.
                        </time>
                        <div class="panel-body">
                            <div class="row">
                                <div class="row">  
                                    <div class="col-lg-12">
                                        <figure><center>
                                            <a href="Libreria/img/2017/dic/fiestas/img1.jpg" target="_blank">
                                                <img src="Libreria/img/2017/dic/fiestas/img1.jpg" class="thumbnail img-responsive" alt="img" />
                                            </a></center>
                                        </figure>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
                <article>
                    <div class="panel panel-success">
                        <div class="panel-heading">
                            <b style="font-size: 20px;">Rehabilitación de Camino Rural de Localidad El Machuque Municipio de San Lucas .:. H. Ayuntamiento de San Lucas, Mich.</b>
                        </div>
                        <time datetime="2017-12-15" style="color:grey;text-align:justify;">
                            publicado el viernes, 22 de diciembre de 2017.
                        </time>
                        <div class="panel-body">
                            <div class="row">
                                <div class="row">  
                                    <div class="col-lg-6">
                                        <figure>
                                            <a href="Libreria/img/2017/dic/machuque/img1.jpg" target="_blank">
                                                <img src="Libreria/img/2017/dic/machuque/img1.jpg" class="thumbnail img-responsive" alt="img" />
                                            </a>
                                        </figure>
                                    </div>
                                    <div class="col-lg-6">
                                        <figure>
                                            <a href="Libreria/img/2017/dic/machuque/img2.jpg" target="_blank">
                                                <img src="Libreria/img/2017/dic/machuque/img2.jpg" class="thumbnail img-responsive" alt="img" />
                                            </a>
                                        </figure>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
                <article>
                    <div class="panel panel-success">
                        <div class="panel-heading">
                            <b style="font-size: 20px;">Construcción de Andador Peatonal en Tramo San Lucas- Cd. Altamirano .:. H. Ayuntamiento de San Lucas, Mich.</b>
                        </div>
                        <time datetime="2017-12-15" style="color:grey;text-align:justify;">
                            publicado el viernes, 22 de diciembre de 2017.
                        </time>
                        <div class="panel-body">
                            <div class="row">
                                <div class="row">  
                                    <div class="col-lg-6">
                                        <figure>
                                            <a href="Libreria/img/2017/dic/carretera/img1.jpg" target="_blank">
                                                <img src="Libreria/img/2017/dic/carretera/img1.jpg" class="thumbnail img-responsive" alt="img" />
                                            </a>
                                        </figure>
                                    </div>
                                    <div class="col-lg-6">
                                        <figure>
                                            <a href="Libreria/img/2017/dic/carretera/img2.jpg" target="_blank">
                                                <img src="Libreria/img/2017/dic/carretera/img2.jpg" class="thumbnail img-responsive" alt="img" />
                                            </a>
                                        </figure>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
                <article>
                    <div class="panel panel-success">
                        <div class="panel-heading">
                            <b style="font-size: 20px;">Trabajos de Desmonte en Apoyo al Sector Campesino de Localidad de Los Limones Municipio de San Lucas .:. H. Ayuntamiento de San Lucas, Mich.</b>
                        </div>
                        <time datetime="2017-12-15" style="color:grey;text-align:justify;">
                            publicado el viernes, 22 de diciembre de 2017.
                        </time>
                        <div class="panel-body">
                            <div class="row">
                                <div class="row">  
                                    <div class="col-lg-6">
                                        <figure>
                                            <a href="Libreria/img/2017/dic/limones/img1.jpg" target="_blank">
                                                <img src="Libreria/img/2017/dic/limones/img1.jpg" class="thumbnail img-responsive" alt="img" />
                                            </a>
                                        </figure>
                                    </div>
                                    <div class="col-lg-6">
                                        <figure>
                                            <a href="Libreria/img/2017/dic/limones/img2.jpg" target="_blank">
                                                <img src="Libreria/img/2017/dic/limones/img2.jpg" class="thumbnail img-responsive" alt="img" />
                                            </a>
                                        </figure>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
                <article>
                    <div class="panel panel-success">
                        <div class="panel-heading">
                            <b style="font-size: 20px;">Comedor Comunitario, Posada de Adultos Mayores .:. H. Ayuntamiento de San Lucas, Mich.</b>
                        </div>
                        <time datetime="2017-12-15" style="color:grey;text-align:justify;">
                            publicado el viernes, 22 de diciembre de 2017.
                        </time>
                        <div class="panel-body">
                            <div class="row">
                                <p style="padding:20px; text-align:justify; font-size: 20px;">
                                    <b>
                                        El C. Arturo Torres Aguirre y Sra.Josefina Osorio convivieron en posada organizada por Dif de San Lucas, con adultos mayores del comedor comunitario "Rosita" ubicado en tenencia de Riva Palacio, donde disfrutaron de un día muy ameno con música, comida y regalos.
                                    </b>
                                </p>
                                <div class="row">  
                                    <div class="col-lg-4">
                                        <figure>
                                            <a href="Libreria/img/2017/dic/posada_adulta/img1.jpg" target="_blank">
                                                <img src="Libreria/img/2017/dic/posada_adulta/img1.jpg" class="thumbnail img-responsive" alt="img" />
                                            </a>
                                        </figure>
                                    </div>
                                    <div class="col-lg-4">
                                        <figure>
                                            <a href="Libreria/img/2017/dic/posada_adulta/img2.jpg" target="_blank">
                                                <img src="Libreria/img/2017/dic/posada_adulta/img2.jpg" class="thumbnail img-responsive" alt="img" />
                                            </a>
                                        </figure>
                                    </div>
                                    <div class="col-lg-4">
                                        <figure>
                                            <a href="Libreria/img/2017/dic/posada_adulta/img3.jpg" target="_blank">
                                                <img src="Libreria/img/2017/dic/posada_adulta/img3.jpg" class="thumbnail img-responsive" alt="img" />
                                            </a>
                                        </figure>
                                    </div>
                                </div>
                                <div class="row">  
                                    <div class="col-lg-6">
                                        <figure>
                                            <a href="Libreria/img/2017/dic/posada_adulta/img4.jpg" target="_blank">
                                                <img src="Libreria/img/2017/dic/posada_adulta/img4.jpg" class="thumbnail img-responsive" alt="img" />
                                            </a>
                                        </figure>
                                    </div>
                                    <div class="col-lg-6">
                                        <figure>
                                            <a href="Libreria/img/2017/dic/posada_adulta/img5.jpg" target="_blank">
                                                <img src="Libreria/img/2017/dic/posada_adulta/img5.jpg" class="thumbnail img-responsive" alt="img" />
                                            </a>
                                        </figure>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
                <article>
                    <div class="panel panel-success">
                        <div class="panel-heading">
                            <b style="font-size: 20px;">Arranque de Obra "Construcción de Alumbrado" .:. H. Ayuntamiento de San Lucas, Mich.</b>
                        </div>
                        <time datetime="2017-12-15" style="color:grey;text-align:justify;">
                            publicado el viernes, 22 de diciembre de 2017.
                        </time>
                        <div class="panel-body">
                            <div class="row">
                                <p style="padding:20px; text-align:justify; font-size: 20px;">
                                    <b>
                                        En compañía de vecinos, y regidores el C. Arturo Torres Aguirre, dió banderazo de arranque de obra: "Construcción de alumbrado de cancha deportiva", en colonia La Tejería, de la tenencia de Riva Palacio.
                                    </b>
                                </p>  
                                <div class="col-lg-4">
                                    <figure>
                                        <a href="Libreria/img/2017/dic/alumbrado/img1.jpg" target="_blank">
                                            <img src="Libreria/img/2017/dic/alumbrado/img1.jpg" class="thumbnail img-responsive" alt="img" />
                                        </a>
                                    </figure>
                                </div>
                                <div class="col-lg-4">
                                    <figure>
                                        <a href="Libreria/img/2017/dic/alumbrado/img2.jpg" target="_blank">
                                            <img src="Libreria/img/2017/dic/alumbrado/img2.jpg" class="thumbnail img-responsive" alt="img" />
                                        </a>
                                    </figure>
                                </div>
                                <div class="col-lg-4">
                                    <figure>
                                        <a href="Libreria/img/2017/dic/alumbrado/img3.jpg" target="_blank">
                                            <img src="Libreria/img/2017/dic/alumbrado/img3.jpg" class="thumbnail img-responsive" alt="img" />
                                        </a>
                                    </figure>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
                <article>
                    <div class="panel panel-success">
                        <div class="panel-heading">
                            <b style="font-size: 20px;">Mejoramiento y Servicios Municipales .:. H. Ayuntamiento de San Lucas, Mich.</b>
                        </div>
                        <time datetime="2017-12-15" style="color:grey;text-align:justify;">
                            publicado el viernes, 22 de diciembre de 2017.
                        </time>
                        <div class="panel-body">
                            <div class="row">
                                <p style="padding:20px; text-align:justify; font-size: 20px;">
                                    <b>
                                        En el marco de mejoramiento de la imagen urbana, y eficiencia en los servicios municipales, se rehabilita el alumbrado publico en carretera 2017/dic en Tenencia V. Riva Palacio.
                                    </b>
                                </p>  
                                <div class="col-lg-6">
                                    <figure>
                                        <a href="Libreria/img/2017/dic/servicios/img1.jpg" target="_blank">
                                            <img src="Libreria/img/2017/dic/servicios/img1.jpg" class="thumbnail img-responsive" alt="img" />
                                        </a>
                                    </figure>
                                </div>
                                <div class="col-lg-6">
                                    <figure>
                                        <a href="Libreria/img/2017/dic/servicios/img2.jpg" target="_blank">
                                            <img src="Libreria/img/2017/dic/servicios/img2.jpg" class="thumbnail img-responsive" alt="img" />
                                        </a>
                                    </figure>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
                <article>
                    <div class="panel panel-success">
                        <div class="panel-heading">
                            <b style="font-size: 20px;"> Expo Feria de Huetamo 2017 .:. H. Ayuntamiento de San Lucas, Mich.</b>
                        </div>
                        <time datetime="2017-12-15" style="color:grey;text-align:justify;">
                            publicado el viernes, 15 de diciembre de 2017.
                        </time>
                        <div class="panel-body">
                            <div class="row">
                                <p style="padding:20px; text-align:justify; font-size: 20px;">
                                    <b>
                                        Participacion de H. Ayuntamiento de San Lucas, en desfile tradicional e inauguración de la Expo Feria Huetamo 2017, en carro alegórico Jeymi I, reina de Fiestas Patrias de San Lucas, realizó el recorrido del centro de Huetamo a las instalaciones de la Expo Feria.
                                    </b>
                                </p>  
                                <div class="col-lg-6">
                                    <figure>
                                        <a href="Libreria/img/2017/dic/expo_feria/img1.jpg" target="_blank">
                                            <img src="Libreria/img/2017/dic/expo_feria/img1.jpg" class="thumbnail img-responsive" alt="img" />
                                        </a>
                                    </figure>
                                </div>
                                <div class="col-lg-6">
                                    <figure>
                                        <a href="Libreria/img/2017/dic/expo_feria/img2.jpg" target="_blank">
                                            <img src="Libreria/img/2017/dic/expo_feria/img2.jpg" class="thumbnail img-responsive" alt="img" />
                                        </a>
                                    </figure>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
                <article>
                    <div class="panel panel-success">
                        <div class="panel-heading">
                            <b style="font-size: 20px;">Cumplimiento de Uno de los Ejes estratégicos del Plan de Desarrollo .:. H. Ayuntamiento de San Lucas, Mich.</b>
                        </div>
                        <time datetime="2017-12-15" style="color:grey;text-align:justify;">
                            publicado el viernes, 15 de diciembre de 2017.
                        </time>
                        <div class="panel-body">
                        <div class="row">
                            <p style="padding:20px; text-align:justify; font-size: 20px;">
                                <b>
                                    Recorrido físico en presa de Tiringueo de Arriba, realizada por comisión de SAGARPA, y departamento de Desarrollo Rural de H. Ayuntamiento de San Lucas, para dar cumplimiento de acuerdo sostenido entre el delegado de SAGARPA el Ing.Jaime Rodríguez López y el C.Arturo Torres Aguirre, presidente municipal de San Lucas. El 11 de los corrientes, en dicho lugar se construirá la presa de uso agropecuario en beneficio de los pueblos de Tiringueo de arriba, Tiringueo de abajo y San Pedro, con ello se dará cumplimiento a uno de los ejes estratégicos del plan de desarrollo municipal 2015-2018 para el desarrollo económico de esa parte del municipio.
                                </b>
                            </p>  
                            <div class="col-lg-6">
                                <figure>
                                    <a href="Libreria/img/2017/dic/presa/img1.jpg" target="_blank">
                                        <img src="Libreria/img/2017/dic/presa/img1.jpg" class="thumbnail img-responsive" alt="img" />
                                    </a>
                                </figure>
                            </div>
                            <div class="col-lg-6">
                                <figure>
                                    <a href="Libreria/img/2017/dic/presa/img2.jpg" target="_blank">
                                        <img src="Libreria/img/2017/dic/presa/img2.jpg" class="thumbnail img-responsive" alt="img" />
                                    </a>
                                </figure>
                            </div>
                        </div>
                        </div>
                    </div>
                </article>
                <article>
                    <div class="panel panel-success">
                        <div class="panel-heading">
                            <b style="font-size: 20px;">Reunión de SAGARPA con H. Ayuntamiento para Construcción de Proyectos .:. H. Ayuntamiento de San Lucas, Mich.</b>
                        </div>
                        <time datetime="2017-12-11" style="color:grey;text-align:justify;">
                            publicado el lunes, 11 de diciembre de 2017.
                        </time>
                        <div class="panel-body">
                            <div class="row">
                                <p style="padding:20px; text-align:justify; font-size: 20px;">
                                    <b>
                                        Reunión entre SAGARPA a través de Ing. Jaime Rodriguez Lopez delegado estatal, Cader 02 de San Lucas y Ayuntamiento de San Lucas mediante Sindico, Secretario y Directora de Desarrollo Rural, para atender asuntos de la realización de lineas de conducción y abrevaderos; la construcción de la presa de Tiringueo de Arriba; el desasolve de presa de Ceiba Seca y la revaloracion de la construcción de la presa de El Apartadero.
                                        En el transcurso de la semana se harán visitas técnicas por parte de SAGARPA para definiciones en favor del desarrollo municipal en este ámbito.
                                    </b>
                                </p>  
                                <div class="col-lg-6">
                                    <figure>
                                        <a href="Libreria/img/2017/dic/SAGARPA/img1.jpg" target="_blank">
                                            <img src="Libreria/img/2017/dic/SAGARPA/img1.jpg" class="thumbnail img-responsive" alt="img" />
                                        </a>
                                    </figure>
                                </div>
                                <div class="col-lg-6">
                                    <figure>
                                        <a href="Libreria/img/2017/dic/SAGARPA/img2.jpg" target="_blank">
                                            <img src="Libreria/img/2017/dic/SAGARPA/img2.jpg" class="thumbnail img-responsive" alt="img" />
                                        </a>
                                    </figure>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
                <article>
                    <div class="panel panel-success">
                        <div class="panel-heading">
                            <b style="font-size: 20px;">Reabilitación, Red de Agua Potable .:. H. Ayuntamiento de San Lucas, Mich.</b>
                        </div>
                        <time datetime="2017-12-11" style="color:grey;text-align:justify;">
                            publicado el lunes, 11 de diciembre de 2017.
                        </time>
                        <div class="panel-body">
                        <div class="row">
                            <p style="padding:20px; text-align:justify; font-size: 20px;">
                                <b>
                                    Trabajo de ampliación y rehabilitación de la red de agua potable, en Colonia el Mirador en localidad de San Lucas Mich.
                                </b>
                            </p>  
                            <div class="col-lg-4">
                                <figure>
                                    <a href="Libreria/img/2017/dic/rehabilitacion/img1.jpg" target="_blank">
                                        <img src="Libreria/img/2017/dic/rehabilitacion/img1.jpg" class="thumbnail img-responsive" alt="img" />
                                    </a>
                                </figure>
                            </div>
                            <div class="col-lg-4">
                                <figure>
                                    <a href="Libreria/img/2017/dic/rehabilitacion/img2.jpg" target="_blank">
                                        <img src="Libreria/img/2017/dic/rehabilitacion/img2.jpg" class="thumbnail img-responsive" alt="img" />
                                    </a>
                                </figure>
                            </div>
                            <div class="col-lg-4">
                                <figure>
                                    <a href="Libreria/img/2017/dic/rehabilitacion/img3.jpg" target="_blank">
                                        <img src="Libreria/img/2017/dic/rehabilitacion/img3.jpg" class="thumbnail img-responsive" alt="img" />
                                    </a>
                                </figure>
                            </div>
                        </div>
                    </div>
                    </div>
                </article>
                <article>
                    <div class="panel panel-success">
                        <div class="panel-heading">
                            <b style="font-size: 20px;">Entrega de Vales en Apoyar a los Productores .:. H. Ayuntamiento de San Lucas, Mich.</b>
                        </div>
                        <time datetime="2017-12-06" style="color:grey;text-align:justify;">
                            publicado el miércoles, 6 de diciembre de 2017.
                        </time>
                        <div class="panel-body">
                            <div class="row">
                                <p style="padding:20px; text-align:justify; font-size: 20px;">
                                    <b>
                                        Se llevo a cabo entrega de vales del Componente PIMAF 2017, cuyo objetivo es apoyar a los productores con incentivos para aumentar su productividad, dichos vales se entregaron a beneficiarios 865 del municipio de San Lucas, la entrega fue realizada por Ing. Jesús Ramón Torres Romero Subdelegado agropecuario de SAGARPA en Edo. de Michoacan en representación de Ing. Jaime Rodriguez Lopez Delegado federal de SAGARPA en el Edo, en compañía de personal de CADER 03 San Lucas y funcionarios de H.Ayuntamiento de San Lucas en representación de C. Arturo Torres Aguirre.
                                    </b>
                                </p>  
                                <div class="col-lg-6">
                                    <figure>
                                        <a href="Libreria/img/2017/dic/PIMAF/img1.jpg" target="_blank">
                                            <img src="Libreria/img/2017/dic/PIMAF/img1.jpg" class="thumbnail img-responsive" alt="img" />
                                        </a>
                                    </figure>
                                </div>
                                <div class="col-lg-6">
                                    <figure>
                                        <a href="Libreria/img/2017/dic/PIMAF/img2.jpg" target="_blank">
                                            <img src="Libreria/img/2017/dic/PIMAF/img2.jpg" class="thumbnail img-responsive" alt="img" />
                                        </a>
                                    </figure>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <figure>
                                        <a href="Libreria/img/2017/dic/PIMAF/img3.jpg" target="_blank">
                                            <img src="Libreria/img/2017/dic/PIMAF/img3.jpg" class="thumbnail img-responsive" alt="img" />
                                        </a>
                                    </figure>
                                </div>
                                <div class="col-lg-6">
                                    <figure>
                                        <a href="Libreria/img/2017/dic/PIMAF/img4.jpg" target="_blank">
                                            <img src="Libreria/img/2017/dic/PIMAF/img4.jpg" class="thumbnail img-responsive" alt="img" />
                                        </a>
                                    </figure>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
                <article>
                    <div class="panel panel-success">
                        <div class="panel-heading">
                            <b style="font-size: 20px;">Avance en Actividad de Trabajo de Obra .:. H. Ayuntamiento de San Lucas, Mich.</b>
                        </div>
                        <time datetime="2017-12-06" style="color:grey;text-align:justify;">
                            publicado el miércoles, 6 de diciembre de 2017.
                        </time>
                        <div class="panel-body">
                        <div class="row">
                            <p style="padding:20px; text-align:justify; font-size: 20px;">
                                <b>
                                    Avance de trabajo en obra: Construcción de drenaje sanitario en colonia Corral de Toros,en San Lucas Mich.
                                </b>
                            </p>  
                            <div class="col-lg-4">
                                <figure>
                                    <a href="Libreria/img/2017/dic/sanitario/img1.jpg" target="_blank">
                                        <img src="Libreria/img/2017/dic/sanitario/img1.jpg" class="thumbnail img-responsive" alt="img" />
                                    </a>
                                </figure>
                            </div>
                            <div class="col-lg-4">
                                <figure>
                                    <a href="Libreria/img/2017/dic/sanitario/img2.jpg" target="_blank">
                                        <img src="Libreria/img/2017/dic/sanitario/img2.jpg" class="thumbnail img-responsive" alt="img" />
                                    </a>
                                </figure>
                            </div>
                            <div class="col-lg-4">
                                <figure>
                                    <a href="Libreria/img/2017/dic/sanitario/img3.jpg" target="_blank">
                                        <img src="Libreria/img/2017/dic/sanitario/img3.jpg" class="thumbnail img-responsive" alt="img" />
                                    </a>
                                </figure>
                            </div>
                        </div>
                        </div>
                    </div>
                </article>
                <article>
                    <div class="panel panel-success">
                        <div class="panel-heading">
                            <b style="font-size: 20px;">Almacenamiento de Agua Pluvial .:. H. Ayuntamiento de San Lucas, Mich.</b>
                        </div>
                        <time datetime="2017-12-06" style="color:grey;text-align:justify;">
                            publicado el miércoles, 6 de diciembre de 2017.
                        </time>
                        <div class="panel-body">
                        <div class="row">
                            <p style="padding:20px; text-align:justify; font-size: 20px;">
                                <b>
                                    Trabajos de construcción de bordos de almacenamiento de agua pluvial en localidad de Barrio de las Flores.
                                </b>
                            </p>  
                            <div class="col-lg-6">
                                <figure>
                                    <a href="Libreria/img/2017/dic/almacenamiento/img1.jpg" target="_blank">
                                        <img src="Libreria/img/2017/dic/almacenamiento/img1.jpg" class="thumbnail img-responsive" alt="img" />
                                    </a>
                                </figure>
                            </div>
                            <div class="col-lg-6">
                                <figure>
                                    <a href="Libreria/img/2017/dic/almacenamiento/img2.jpg" target="_blank">
                                        <img src="Libreria/img/2017/dic/almacenamiento/img2.jpg" class="thumbnail img-responsive" alt="img" />
                                    </a>
                                </figure>
                            </div>
                        </div>
                    </div>
                </article>
                <article>
                    <div class="panel panel-success">
                        <div class="panel-heading">
                            <b style="font-size: 20px;">Estrategia de Fortalsimiento "Convoy de Salud" .:. H. Ayuntamiento de San Lucas, Mich.</b>
                        </div>
                        <time datetime="2017-12-04" style="color:grey;text-align:justify;">
                            publicado el lunes, 4 de diciembre de 2017.
                        </time>
                        <div class="panel-body">
                            <div class="row">
                                <p style="padding:20px; text-align:justify; font-size: 20px;">
                                    <b>
                                        El presidente jurisdiccional de la red de municipios por la salud, presidente municipal de Zitacuaro Ing. Carlos Herrera Tellez, el H. Ayuntamiento Constitucional de San Lucas, que preside C. Arturo Torres Aguirre, la Jurisdicción Sanitaria Número 03 de Zitacuaro, y Dif San Lucas realizaron el corte del listón inaugural del “Convoy de la Salud” que promueve el gobierno del Estado a través de la Secretaría de Salud, recorriendo diversos municipios del territorio municipal, llevando atenciones médicas priorizando de acuerdo al control estadístico que llevan en las clínicas de salud.
                                        <br/>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;■ 04 San Lucas<br/>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;■ 05 Tacupa<br/>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;■ 06 San Pedro, San Pedrito<br/>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;■ 07 Angao, Monte Grande<br/>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;■ 08 La Estancia, Riva Palacio<br/>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;■ 11 Riva Palacio<br/>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;■ 12 Santa Cruz, Salguero, La Chica, Buenavista San Nicolas<br/>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;■ 13 Cuajilote<br/>
                                    </b>
                                </p>  
                                <div class="col-lg-3">
                                    <figure>
                                        <a href="Libreria/img/2017/dic/estrategia/img1.jpg" target="_blank">
                                            <img src="Libreria/img/2017/dic/estrategia/img1.jpg" class="thumbnail img-responsive" alt="img" />
                                        </a>
                                    </figure>
                                </div>
                                <div class="col-lg-3">
                                    <figure>
                                        <a href="Libreria/img/2017/dic/estrategia/img2.jpg" target="_blank">
                                            <img src="Libreria/img/2017/dic/estrategia/img2.jpg" class="thumbnail img-responsive" alt="img" />
                                        </a>
                                    </figure>
                                </div>
                                <div class="col-lg-3">
                                    <figure>
                                        <a href="Libreria/img/2017/dic/estrategia/img3.jpg" target="_blank">
                                            <img src="Libreria/img/2017/dic/estrategia/img3.jpg" class="thumbnail img-responsive" alt="img" />
                                        </a>
                                    </figure>
                                </div>
                                <div class="col-lg-3">
                                    <figure>
                                        <a href="Libreria/img/2017/dic/estrategia/img4.jpg" target="_blank">
                                            <img src="Libreria/img/2017/dic/estrategia/img4.jpg" class="thumbnail img-responsive" alt="img" />
                                        </a>
                                    </figure>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
                <article>
                    <div class="panel panel-success">
                        <div class="panel-heading">
                            <b style="font-size: 20px;">Atención a la Salud "Convoy" .:. H. Ayuntamiento de San Lucas, Mich.</b>
                        </div>
                        <time datetime="2017-11-30" style="color:grey;text-align:justify;">
                            publicado el jueves, 30 de noviembre de 2017.
                        </time>
                        <div class="panel-body">
                        <div class="row">
                            <p style="padding:20px; text-align:justify; font-size: 20px;">
                                <b>
                                    Para dar cumplimiento al eje estratégico de atención a la salud del municipio contemplado en el Plan Municipal 2015-2018, se acordó una agenda de atención para la operación de campaña denominada: Convoy de la Salud, del 04 al 13 de Diciembre, con la coordinación de Gobierno municipal y estatal a través de la Jurisdicción 03 de Zitacuaro,Centro de Salud de San Lucas, y DIF Municipal. 
                                    En dicha campaña se realizaran:<br/>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;■ Ultrasonido mamario<br/>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;■ Ultrasonido ginecólogo y obstetrico<br/>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;■ Electrocardiograma<br/>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;■ Radiografía de tórax<br/>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;■ Densitometria<br/>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;■ Estudios de laboratorio<br/>
                                    Los beneficiarios de esta campaña se coordinaran con su clínica correspondiente para una mejor atención y aprovechamiento de esta jornada de salud.
                                </b>
                            </p>  
                            <div class="col-lg-6">
                                <figure>
                                    <a href="Libreria/img/2017/nov/convoy_salud/img1.jpg" target="_blank">
                                        <img src="Libreria/img/2017/nov/convoy_salud/img1.jpg" class="thumbnail img-responsive" alt="img" />
                                    </a>
                                </figure>
                            </div>
                            <div class="col-lg-6">
                                <figure>
                                    <a href="Libreria/img/2017/nov/convoy_salud/img2.jpg" target="_blank">
                                        <img src="Libreria/img/2017/nov/convoy_salud/img2.jpg" class="thumbnail img-responsive" alt="img" />
                                    </a>
                                </figure>
                            </div>
                        </div>
                        </div>
                    </div>
                </article>
                <article>
                    <div class="panel panel-success">
                        <div class="panel-heading">
                            <b style="font-size: 20px;">Jefatura de Tenencia Santa Cruz de Villagomez .:. H. Ayuntamiento de San Lucas, Mich.</b>
                        </div>
                        <time datetime="2017-11-29" style="color:grey;text-align:justify;">
                            publicado el miércoles, 29 de noviembre de 2017.
                        </time>
                        <div class="panel-body">
                            <div class="row">
                                <p style="padding:20px; text-align:justify; font-size: 20px;">
                                    <b>
                                        Participación de H.Ayuntamiento de San Lucas acompañando a los diferentes niveles educativos de la localidad,en desfile conmemorativo por el 111 Aniversario de elevacion a Jefatura de Tenencia Santa Cruz de Villagomez.
                                    </b>
                                </p>  
                                <div class="col-lg-4">
                                    <figure>
                                        <a href="Libreria/img/2017/nov/tenencia/img1.jpg" target="_blank">
                                            <img src="Libreria/img/2017/nov/tenencia/img1.jpg" class="thumbnail img-responsive" alt="img" />
                                        </a>
                                    </figure>
                                </div>
                                <div class="col-lg-4">
                                    <figure>
                                        <a href="Libreria/img/2017/nov/tenencia/img2.jpg" target="_blank">
                                            <img src="Libreria/img/2017/nov/tenencia/img2.jpg" class="thumbnail img-responsive" alt="img" />
                                        </a>
                                    </figure>
                                </div>
                                <div class="col-lg-4">
                                    <figure>
                                        <a href="Libreria/img/2017/nov/tenencia/img3.jpg" target="_blank">
                                            <img src="Libreria/img/2017/nov/tenencia/img3.jpg" class="thumbnail img-responsive" alt="img" />
                                        </a>
                                    </figure>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
                <article>
                    <div class="panel panel-success">
                        <div class="panel-heading">
                            <b style="font-size: 20px;">Entrega de Rollos de Apoyo a Ganaderos del Municipio  .:. H. Ayuntamiento de San Lucas, Mich.</b>
                        </div>
                        <time datetime="2017-11-29" style="color:grey;text-align:justify;">
                            publicado el miércoles, 29 de noviembre de 2017.
                        </time>
                        <div class="panel-body">
                            <div class="row">
                                <p style="padding:20px; text-align:justify; font-size: 20px;">
                                    <b>
                                        El Gobierno del Estado de Michoacan a través de la delegación 08 Región Huetamo, de forma coordinada con Gobierno Municipal de San Lucas por medio de Departamento de Desarrollo Rural hace entrega de rollos de alambre de púas y malla borreguera a ganaderos del municipio de San Lucas, para mejoramiento de su actividad económica.
                                    </b>
                                </p>  
                                <div class="col-lg-4">
                                    <figure>
                                        <a href="Libreria/img/2017/nov/economia/img1.jpg" target="_blank">
                                            <img src="Libreria/img/2017/nov/economia/img1.jpg" class="thumbnail img-responsive" alt="img" />
                                        </a>
                                    </figure>
                                </div>
                                <div class="col-lg-4">
                                    <figure>
                                        <a href="Libreria/img/2017/nov/economia/img2.jpg" target="_blank">
                                            <img src="Libreria/img/2017/nov/economia/img2.jpg" class="thumbnail img-responsive" alt="img" />
                                        </a>
                                    </figure>
                                </div>
                                <div class="col-lg-4">
                                    <figure>
                                        <a href="Libreria/img/2017/nov/economia/img3.jpg" target="_blank">
                                            <img src="Libreria/img/2017/nov/economia/img3.jpg" class="thumbnail img-responsive" alt="img" />
                                        </a>
                                    </figure>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
                <article>
                    <div class="panel panel-success">
                        <div class="panel-heading">
                            <b style="font-size: 20px;">Programa de Apoyo a Instancias de Mujeres .:. H. Ayuntamiento de San Lucas, Mich.</b>
                        </div>
                        <time datetime="2017-11-27" style="color:grey;text-align:justify;">
                            publicado el lunes, 27 de noviembre de 2017.
                        </time>
                        <div class="panel-body">
                        <div class="row">
                            <p style="padding:20px; text-align:justify; font-size: 20px;">
                                <b>
                                    En el marco de arranque de campaña de la capacitación de programa a apoyo a instancias de mujeres, el Gobierno del Estado y Gobierno Municipal encabezado por el C. Arturo Torres Aguirre,coordinan campaña de atención jurídica y psicológica, con horario de 10:00 a 3:00 pm frente a H. Ayuntamiento de San Lucas,donde intervienen expertos de Secretaria de Igualdad Sustantiva y Desarrollo de las Mujeres.
                                </b>
                            </p>  
                            <div class="col-lg-4">
                                <figure>
                                    <a href="Libreria/img/2017/nov/capacitacion/img1.jpg" target="_blank">
                                        <img src="Libreria/img/2017/nov/capacitacion/img1.jpg" class="thumbnail img-responsive" alt="img" />
                                    </a>
                                </figure>
                            </div>
                            <div class="col-lg-4">
                                <figure>
                                    <a href="Libreria/img/2017/nov/capacitacion/img2.jpg" target="_blank">
                                        <img src="Libreria/img/2017/nov/capacitacion/img2.jpg" class="thumbnail img-responsive" alt="img" />
                                    </a>
                                </figure>
                            </div>
                            <div class="col-lg-4">
                                <figure>
                                    <a href="Libreria/img/2017/nov/capacitacion/img3.jpg" target="_blank">
                                        <img src="Libreria/img/2017/nov/capacitacion/img3.jpg" class="thumbnail img-responsive" alt="img" />
                                    </a>
                                </figure>
                            </div>
                        </div>
                        </div>
                    </div>
                </article>
                <article>
                    <div class="panel panel-success">
                        <div class="panel-heading">
                            <b style="font-size: 20px;">Mantenimiento a Vías de Transporte .:. H. Ayuntamiento de San Lucas, Mich.</b>
                        </div>
                        <time datetime="2017-11-27" style="color:grey;text-align:justify;">
                            publicado el lunes, 27 de noviembre de 2017.
                        </time>
                        <div class="panel-body">
                            <div class="row">
                                <p style="padding:20px; text-align:justify; font-size: 20px;">
                                    <b>
                                        Trabajos de mantenimiento, desmonte y despeje de vías de transporte carretero en caminos de comunidades como lo es San Pedrito, San Pedro, Los Brasiles, Corupo y La Cuchilla.
                                    </b>
                                </p>  
                                <div class="col-lg-6">
                                    <figure>
                                        <a href="Libreria/img/2017/nov/carreteras/img1.jpg" target="_blank">
                                            <img src="Libreria/img/2017/nov/carreteras/img1.jpg" class="thumbnail img-responsive" alt="img" />
                                        </a>
                                    </figure>
                                </div>
                                <div class="col-lg-6">
                                    <figure>
                                        <a href="Libreria/img/2017/nov/carreteras/img2.jpg" target="_blank">
                                            <img src="Libreria/img/2017/nov/carreteras/img2.jpg" class="thumbnail img-responsive" alt="img" />
                                        </a>
                                    </figure>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
                <article>
                    <div class="panel panel-success">
                        <div class="panel-heading">
                            <b style="font-size: 20px;">Arranque de la Capacitación del Programa de Apoyo a las Mujeres .:. H. Ayuntamiento de San Lucas, Mich.</b>
                        </div>
                        <time datetime="2017-11-27" style="color:grey;text-align:justify;">
                            publicado el lunes, 27 de noviembre de 2017.
                        </time>
                        <div class="panel-body">
                            <div class="row">
                                <p style="padding:20px; text-align:justify; font-size: 20px;">
                                    <b>
                                        El gobierno estatal a través de Secretaria de Igualdad Sustantiva, que encabeza la Mtra. Fabiola Alanis Samano, de manera coordinada con el C. Arturo Torres Aguirre y por medio de la dirección de Instancia de la Mujer de Ayuntamiento de San Lucas, invita al arranque de la capacitación del programa de apoyo denominada:Genero, violencia, derechos humanos, salud emocional,con motivo del día internacional de la no violencia en contra de la mujer.
                                        Misma a realizarse el día 27 de Noviembre a partir de las 10:00 am en el salón de usos múltiples "Las Camelinas" en la cabecera municipal.
                                    </b>
                                </p>  
                                <div class="col-lg-1"></div>
                                <div class="col-lg-10">
                                    <figure>
                                        <a href="Libreria/img/2017/nov/igualdad/img1.jpg" target="_blank">
                                            <img src="Libreria/img/2017/nov/igualdad/img1.jpg" class="thumbnail img-responsive" alt="img" />
                                        </a>
                                    </figure>
                                </div>
                                <div class="col-lg-1"></div>
                            </div>
                        </div>
                    </div>
                </article>
                <article>
                    <div class="panel panel-success">
                        <div class="panel-heading">
                            <b style="font-size: 20px;">Inicia el Rastreo de Caminos en las Distintas Localidades del Municipio .:. H. Ayuntamiento de San Lucas, Mich.</b>
                        </div>
                        <time datetime="2017-11-27" style="color:grey;text-align:justify;">
                            publicado el lunes, 27 de noviembre de 2017.
                        </time>
                        <div class="panel-body">
                            <div class="row">
                                <p style="padding:20px; text-align:justify; font-size: 20px;">
                                    <b>
                                        Con el objetivo de garantizar condiciones de accesibilidad peatonal y vehicular, el alcalde de San Lucas, C. Arturo Torres Aguirre, puso en marcha el rastreo de caminos en las distintas localidades y comunidades del municipio. Dichas acciones se realizan en coordinación con los funcionarios de la Dirección de Obras Públicas, a través del cual se han beneficiado cientos de familias de las localidades de Ceibas Altas, Corupo, Brasiles, Monte Grande, Querutzeo, El Tule, San Pedrito, La Cuchilla, Huitzucatas, San Pedro, Terrero Prieto, brecha San Lucas - salida a Cuirindichapio, El Apartadero, Ceiba Seca y La Quiringucua.
                                    </b>
                                </p>  
                                <div class="col-lg-3">
                                    <figure>
                                        <a href="Libreria/img/2017/nov/rastreo/img1.jpg" target="_blank">
                                            <img src="Libreria/img/2017/nov/rastreo/img1.jpg" class="thumbnail img-responsive" alt="img" />
                                        </a>
                                    </figure>
                                </div>
                                <div class="col-lg-3">
                                    <figure>
                                        <a href="Libreria/img/2017/nov/rastreo/img2.jpg" target="_blank">
                                            <img src="Libreria/img/2017/nov/rastreo/img2.jpg" class="thumbnail img-responsive" alt="img" />
                                        </a>
                                    </figure>
                                </div>
                                <div class="col-lg-3">
                                    <figure>
                                        <a href="Libreria/img/2017/nov/rastreo/img3.jpg" target="_blank">
                                            <img src="Libreria/img/2017/nov/rastreo/img3.jpg" class="thumbnail img-responsive" alt="img" />
                                        </a>
                                    </figure>
                                </div>
                                <div class="col-lg-3">
                                    <figure>
                                        <a href="Libreria/img/2017/nov/rastreo/img4.jpg" target="_blank">
                                            <img src="Libreria/img/2017/nov/rastreo/img4.jpg" class="thumbnail img-responsive" alt="img" />
                                        </a>
                                    </figure>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
                <article>
                    <div class="panel panel-success">
                        <div class="panel-heading">
                            <b style="font-size: 20px;">Gestión del Proyecto de Manejo de Residuos Sólidos .:. H. Ayuntamiento de San Lucas, Mich.</b>
                        </div>
                        <time datetime="2017-11-22" style="color:grey;text-align:justify;">
                            publicado el miércoles, 22 de noviembre de 2017.
                        </time>
                        <div class="panel-body">
                            <div class="row">
                                <p style="padding:20px; text-align:justify; font-size: 20px;">
                                    <b>
                                        En el marco de la gestión del proyecto de manejo de residuos sólidos de forma integral en el municipio de San Lucas, se reunieron el C. Hector Torres Camacho,y Lic. Eva Barriga representando al Centro Estatal para el Desarrollo Municipal (CEDEMUN) con el C, Arturo Torres Aguirre presidente municipal de San Lucas,promoviendo también la gestión de planta tratadora de aguas residuales.
                                    </b>
                                </p>  
                                <div class="col-lg-6">
                                    <figure>
                                        <a href="Libreria/img/2017/nov/cedemun/img1.jpg" target="_blank">
                                            <img src="Libreria/img/2017/nov/cedemun/img1.jpg" class="thumbnail img-responsive" alt="img" />
                                        </a>
                                    </figure>
                                </div>
                                <div class="col-lg-6">
                                    <figure>
                                        <a href="Libreria/img/2017/nov/cedemun/img2.jpg" target="_blank">
                                            <img src="Libreria/img/2017/nov/cedemun/img2.jpg" class="thumbnail img-responsive" alt="img" />
                                        </a>
                                    </figure>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
                <article>
                    <div class="panel panel-success">
                        <div class="panel-heading">
                            <b style="font-size: 20px;">Entregaron de Becas a Personas con Discapacidad .:. H. Ayuntamiento de San Lucas, Mich.</b>
                        </div>
                        <time datetime="2017-11-22" style="color:grey;text-align:justify;">
                            publicado el miércoles, 22 de noviembre de 2017.
                        </time>
                        <div class="panel-body">
                            <div class="row">
                                <p style="padding:20px; text-align:justify; font-size: 20px;">
                                    <b>
                                        En compañía de C. Arturo Torres Aguirre, la presidenta de DIF San Lucas C. Josefina Osorio y el representante de DIF estatal Ing. Moises Albarran Gonzalez entregaron becas a personas con discapacidad.
                                    </b>
                                </p>
                                <div class="col-lg-4">
                                    <figure>
                                        <a href="Libreria/img/2017/nov/discapacidad/img1.jpg" target="_blank">
                                            <img src="Libreria/img/2017/nov/discapacidad/img1.jpg" class="thumbnail img-responsive" alt="img" />
                                        </a>
                                    </figure>
                                </div>
                                <div class="col-lg-4">
                                    <figure>
                                        <a href="Libreria/img/2017/nov/discapacidad/img2.jpg" target="_blank">
                                            <img src="Libreria/img/2017/nov/discapacidad/img2.jpg" class="thumbnail img-responsive" alt="img" />
                                        </a>
                                    </figure>
                                </div>
                                <div class="col-lg-4">
                                    <figure>
                                        <a href="Libreria/img/2017/nov/discapacidad/img3.jpg" target="_blank">
                                            <img src="Libreria/img/2017/nov/discapacidad/img3.jpg" class="thumbnail img-responsive" alt="img" />
                                        </a>
                                    </figure>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
                <article>
                    <div class="panel panel-success">
                        <div class="panel-heading">
                            <b style="font-size: 20px;">Arranque de Obra Parque Creativo.:. H. Ayuntamiento de San Lucas, Mich.</b>
                        </div>
                        <time datetime="2017-11-22" style="color:grey;text-align:justify;">
                            publicado el miércoles, 22 de noviembre de 2017.
                        </time>
                        <div class="panel-body">
                        <div class="row">
                            <p style="padding:20px; text-align:justify; font-size: 20px;">
                                <b>
                                    En localidad de Riva Palacio el C. Arturo Torres Aguirre y vecinos, dieron banderazo al arranque de obra: Construcción de parque recreativo 1era etapa en esta Tenencia.
                                </b>
                            </p>  
                            <div class="col-lg-6">
                                <figure>
                                    <a href="Libreria/img/2017/nov/parque/img1.jpg" target="_blank">
                                        <img src="Libreria/img/2017/nov/parque/img1.jpg" class="thumbnail img-responsive" alt="img" />
                                    </a>
                                </figure>
                            </div>
                            <div class="col-lg-6">
                                <figure>
                                    <a href="Libreria/img/2017/nov/parque/img2.jpg" target="_blank">
                                        <img src="Libreria/img/2017/nov/parque/img2.jpg" class="thumbnail img-responsive" alt="img" />
                                    </a>
                                </figure>
                            </div>
                        </div>
                        </div>
                    </div>
                </article>
                <article>
                    <div class="panel panel-success">
                        <div class="panel-heading">
                            <b style="font-size: 20px;">Banderazo de Arranque de Obra en Loc. Santa Cruz .:. H. Ayuntamiento de San Lucas, Mich.</b>
                        </div>
                        <time datetime="2017-11-21" style="color:grey;text-align:justify;">
                            publicado el martes, 21 de noviembre de 2017.
                        </time>
                        <div class="panel-body">
                            <div class="row">
                                <p style="padding:20px; text-align:justify; font-size: 20px;">
                                    <b>
                                        El C. Arturo Torres Aguirre dió banderazo de arranque de obra: Construcción de techo estructural en Primaria Miguel Hidalgo y Costilla en localidad de Santa Cruz de Villagomez.
                                    </b>
                                </p>
                                <div class="col-lg-12">
                                    <figure>
                                        <a href="Libreria/img/2017/nov/santa_cruz/img1.jpg" target="_blank">
                                            <img src="Libreria/img/2017/nov/santa_cruz/img1.jpg" class="thumbnail img-responsive" alt="img" />
                                        </a>
                                    </figure>
                                </div>
                            </div>
                            <div class="row">
                            <div class="col-lg-6">
                                <figure>
                                    <a href="Libreria/img/2017/nov/santa_cruz/img2.jpg" target="_blank">
                                        <img src="Libreria/img/2017/nov/santa_cruz/img2.jpg" class="thumbnail img-responsive" alt="img" />
                                    </a>
                                </figure>
                                </div>
                                <div class="col-lg-6">
                                    <figure>
                                        <a href="Libreria/img/2017/nov/santa_cruz/img3.jpg" target="_blank">
                                            <img src="Libreria/img/2017/nov/santa_cruz/img3.jpg" class="thumbnail img-responsive" alt="img" />
                                        </a>
                                    </figure>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
                <article>
                    <div class="panel panel-success">
                        <div class="panel-heading">
                            <b style="font-size: 20px;">Arranque de Obra Col. Corral de Toros en San Lucas .:. H. Ayuntamiento de San Lucas, Mich.</b>
                        </div>
                        <time datetime="2017-11-21" style="color:grey;text-align:justify;">
                            publicado el martes, 21 de noviembre de 2017.
                        </time>
                        <div class="panel-body">
                            <div class="row">
                                <p style="padding:20px; text-align:justify; font-size: 20px;">
                                    <b>
                                        El día lunes 20 de noviembre de 2017, el C.Arturo Torres Aguirre, acompañado de vecinos beneficiados diò, Banderazo de arranque de obra: Construccion de drenaje sanitario en colonia Corral de Toros en San Lucas, Mich.
                                    </b>
                                </p>  
                                <div class="col-lg-6">
                                    <figure>
                                        <a href="Libreria/img/2017/nov/drenaje/img1.jpg" target="_blank">
                                            <img src="Libreria/img/2017/nov/drenaje/img1.jpg" class="thumbnail img-responsive" alt="img" />
                                        </a>
                                    </figure>
                                </div>
                                <div class="col-lg-6">
                                    <figure>
                                        <a href="Libreria/img/2017/nov/drenaje/img2.jpg" target="_blank">
                                            <img src="Libreria/img/2017/nov/drenaje/img2.jpg" class="thumbnail img-responsive" alt="img" />
                                        </a>
                                    </figure>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
				</div>
			</div>
			<?php include "Vista/paginacion.phtml"; ?>
		</div>
		<div class="col-md-3">
			<aside>
				<?php 
					include "Vista/main.phtml";
					include "Vista/submenu.phtml";
				 ?>
			</aside>
		</div>
	</div>
</section>