<section>
    <div id="centro">
        <a href="?fp=principal"><i class="fa fa-fw fa-home"></i>Home</a>
        <img src="Libreria/img/login.png" /><b>Atención al Migrante</b>
    </div>
    <hr />
    <div class="row" style="margin-left: 1px;">
        <div class="col-md-9">
            <article>
                <div class="panel panel-default">
                    <div class="panel-heading" style="font-size: xx-large;">
                        <b>Atención al Migrante</b>
                    </div>
                    <cite><b>Lic. Avilene Cisneros Nava</b></cite>
                    <div class="panel-body">
                        <article>
                            <div class="row">
                                <div class="col-md-1"></div>
                                <div class="col-md-10">
                                    <figure>
                                        <a href="Libreria/img/construccion.jpg" target="_blank" >
                                            <img src="Libreria/img/construccion.jpg" class="thumbnail img-responsive" alt="img" />
                                        </a>
                                    </figure>
                                </div>
                                <div class="col-md-1"></div>
                            </div>
                        </article>
                    </div>
                </div>
            </article>    
        </div>
        <div class="col-md-3">
            <aside>
                <?php include "Vista/submenu.phtml"; ?>
            </aside>
        </div>
    </div>
</section>