<section>
    <div id="centro">
        <a href="?fp=principal"><i class="fa fa-fw fa-home"></i>Home</a>
        <img src="Libreria/img/login.png" /><b>Reporte Ciudadano</b>
    </div>
    <hr />
    <div class="row">
        <div class="col-md-9">
            <article>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h1 style="font-size: xx-large;"><b>Reporte Ciudadano</b></h1>
                    </div>
                    <div class="panel-body">
                        <h4 style="text-align: left;">Av. Servando Chávez Hernández  No. 01   Col. Centro,   San Lucas, 
                        Michoacán; C.P.61980<br /><br />     
                                         Teléfonos: 4356783005 y 4356783297</h4>
                        <br /><br />
            			<form class="form-horizontal" action="?fp=enviar" method="post" role="form">
            				<div class="form-group">
            					<label class="control-label col-sm-2" for="nombre">Nombre:</label>
            					<div class="col-sm-10">
            					    <input type="nombre" class="form-control" name="nombre" placeholder="Ingresar Nombre" 
                                    required="El nombre es requerido." />
            					</div>
            				</div>
                            <div class="form-group">
            					<label class="control-label col-sm-2" for="email">Correo Email:</label>
            					<div class="col-sm-10">
            					    <input type="email" class="form-control" name="email" placeholder="Ingresar email" 
                                    required="El correo es requerido." />
            					</div>
            				</div>
            				<div class="form-group">
            					<label class="control-label col-sm-2" for="mensaje">Mensaje:</label>
                                <div class="col-sm-10">
                                    <textarea style="margin-padding: 100px;" class="form-control" rows="5" name="mensaje" 
                                    placeholder="Ingresar comentario" required="El mensaje es requerido."></textarea>
                                </div>
            				</div>
            				<div class="form-group">        
            					<div class="col-sm-offset-2 col-sm-10">
            						<button type="submit" name="btsend" id="btsend" class="btn btn-success">Enviar</button>
            					</div>
            				</div>
            			</form>
                    </div>
                </div>
            </article>
        </div>
        <div class="col-md-3">
            <aside>
                <?php include "Vista/submenu.phtml"; ?>
            </aside>
        </div>
    </div>
</section>