    </div><!-- Content
    <a href="#masthead" id="scroll-up" style="display: block;"><i class="fa fa-arrow-up"></i></a>-->
    </div><!-- /content-wrap -->
    <footer class="footer"><!-- El pie de barra de barra Institucional -->
        <div class="container">
			<div class="col-md-12"><br />
                <div class="col-md-4">
                    <h3 style="color: aqua; margin-top: 0px;text-align: center;"><b>Misión</b></h3>
                    <p style="text-align: justify;">Tener como Columna Vertebral, para las Acciones de Gobierno, la Inclusión en Todas las Esferas del Desarrollo, con Equidad y Transparencía, Actuando Siempre con Responsabilidad.</p>
                </div>
                <div class="col-md-4">
                    <p style="color: lightblue;">N&uacute;mero de Tel&eacute;fono para Quejas, Dudas y Sugerencias.</p>
                    <p><cite style="color: aqua;">Tel. 435 - 678 - 3005</cite></p>
                    <p style="color: lightblue;">Correo: contraloria@transparenciasanlucas.gob.mx</p>
                    <div align="center">
                        <table bgcolor="#000000">
                            <tbody>
                                <tr>
                                    <td align="center" style="max-width: 100%;">
                                        <marquee scrollamount="3" direction="left" height="26" style="max-width: 100%;">
                                            <span style="color: aqua;">
                                                Copyright &copy; 2015-2018  H. Ayuntamiento, San Lucas Michoac&aacute;n.
                                            </span>
                                        </marquee>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <center>
                        <a href="http://www.websmultimedia.com/contador-de-visitas-gratis" title="Contador De Visitas Gratis">
                        <img style="border: 0px solid; display: inline;" alt="contador de visitas" src="http://www.websmultimedia.com/contador-de-visitas.php?id=217834" />
                        </a>
                        <br><a href='http://www.websmultimedia.com/contador-de-visitas-gratis'>visitas</a>
                                    <br><a href='http://www.websmultimedia.com/diseno-logotipos'></a>
                    </center>
                    <div style="text-align: center; color:lightblue"><b>
                        <form name="Reloj">Tiempo restante para finalizar el día:<br />
                            <input type="button" style="color: black; background: silver;" size="10" width="1000px" name="tiempo" value="mm:hh:ss" title="Tiempo restante para finalizar el día">
                            <script language="JavaScript">
                                var tiempoAtras; 
                                updateReloj();
                                function updateReloj() {
                                    var tiempo = new Date();
                                    var hora = 23-tiempo.getHours();
                                    var minutos = 59-tiempo.getMinutes();
                                    var segundos = 59-tiempo.getSeconds(); 
                                    tiempoAtras= (hora < 12) ? hora :hora;
                                    tiempoAtras+= ((minutos < 10) ? ":0" : ":") + minutos;
                                    tiempoAtras+= ((segundos < 10) ? ":0" : ":") + segundos; 
                                    document.Reloj.tiempo.value = tiempoAtras;
                                    setTimeout("updateReloj()",1000);
                                }
                            </script>
                        </form>
                    </div>
                    <p style="font-size: xx-small; margin-bottom: 0; color: teal; text-align: center;">
                        .:. Desarrollando: I.S.C. Omar Hernández Avellaneda .:.
                    </p>
                </div>
                <div class="col-md-4">
                    <h3 style="color: aqua;margin-top: 0px;text-align: center;"><b>Visión</b></h3>
                    <p style="text-align: justify;">Aspiramos a ser un Municipio que Construya una Situación de Corresponsabilidad entre Sociedad y Gobierno, Efecto de Superar el Rezago Social, Económico y Cultural, Donde la Comunión nos Permita Alcanzar Mejores Niveles de Vida con un Alto Sentido Humano.</p>
                </div>
    		</div>	
        </div>
    </footer>
    	<script src="Libreria/js/classie.js"></script>
    </body>
</html>