<article>
<center>
    <link rel=stylesheet href="Libreria/css/jquery.calendarPicker.css" type="text/css" media="screen">
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3/jquery.min.js"></script>
    <script type="text/javascript" src="Libreria/js/jquery.calendarPicker.js"></script>
    <script type="text/javascript" src="Libreria/js/jquery.mousewheel.js"></script>
    <div id="dsel1" style="width:240px"></div><br>
    <script type="text/javascript">
        var calendarPicker1 = $("#dsel1").calendarPicker({
            monthNames:["Ene", "Feb", "Mar", "Abr", "May", "Jun", "Jul", "Ago", "Sep", "Oct", "Nov", "Dic"],
            dayNames: ["Dom", "Lun", "Mar", "Mie", "Jue", "Vie", "Sab"],
            //useWheel:true,
            //callbackDelay:500,
            //years:1,
            //months:3,
            //days:4,
            //showDayArrows:false,
            callback:function(cal) {
            $("#wtf").html("Selected date: " + cal.currentDate);
        }});
    </script>
    </center>
</article>
<hr style="height:2px; background-color:lightgray;"/>
<article>
    <br />
    <b><!-- Búsqueda Google --> 
        <center>
            <FORM method=GET action="http://www.google.com/search">
                <TABLE bgcolor="#FFFFFF">
                    <tr>
                        <td>
                            <A HREF="http://www.google.com/" _fcksavedurl="http://www.google.com/">
                                <IMG SRC="http://www.google.com/logos/Logo_40wht.gif" _fcksavedurl="http://www.google.com/logos/Logo_40wht.gif" border="0" ALT="Google" align="absmiddle">
                            </A>
                            <INPUT TYPE="text" name="q" size="31" maxlength="255" value="" required="required" placeholder="Escribe tu busqueda"> 
                            <INPUT TYPE="hidden" name="hl" value="es" ><br/>
                            <INPUT type="submit" name="btnG" VALUE="Búsqueda Google" target="_blank">
                        </td>
                    </tr>
                </TABLE>
            </FORM>
        </center> <!-- Búsqueda Google -->
    </b>
    <br />
    <script type="text/javascript">
        window.onload = function(){
            document.onselectstart = function(){
                return true;// Para internet Explorer
            } 
            document.onmousedown = function(){
                return true;// Para Firefox
            }
        }
    </script>
</article><!--
<article>
    <hr style="height:2px; background-color:lightgray;"/>
    <ul class="nav nav-pills nav-stacked" style="text-align:left;">
    <li class="active" style="cursor: pointer;">
        <a href="?fp=liga_municipal"><b>.:. Liga Municipal de Futbol .:.</b></a>
    </li>
    </ul>
</article>-->
<article>
    <hr style="height:2px; background-color:lightgray;"/>
    <ul class="nav nav-pills nav-stacked" style="text-align:left;">
        <li class="active"><a><b>.:. Noticia Anual.:.</b></a></li>
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown"><b>.: Año 2016 :.</b>
                <span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a href="?fp=agt"><b>◄ Agosto</b></a></li>
                <li><a href="?fp=sep"><b>◄ Septiembre</b></a></li>
                <li><a href="?fp=oct"><b>◄ Octubre</b></a></li>
                <li><a href="?fp=nov"><b>◄ Noviembre</b></a></li>
                <li><a href="?fp=dic"><b>◄ Diciembre</b></a></li>
            </ul>
        </li>
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown"><b>.: Año 2017 :.</b>
                <span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a href="?fp=ene"><b>► Enero</b></a></li>
                <li><a href="?fp=feb"><b>► Febrero</b></a></li>
                <li><a href="?fp=mar"><b>► Marzo</b></a></li>
                <li><a href="?fp=abr"><b>► Abril</b></a></li>
                <li><a href="?fp=may"><b>► Mayo</b></a></li>
                <li><a href="?fp=jun"><b>► Junio</b></a></li>
                <li><a href="?fp=jul"><b>► Julio</b></a></li>
                <li><a href="?fp=ago"><b>► Agosto</b></a></li>
                <li><a href="?fp=sept"><b>► Septiembre</b></a></li>
                <li><a href="?fp=octu"><b>► Octubre</b></a></li>
                <li><a href="?fp=novi"><b>► Noviembre</b></a></li>
                <li><a href="?fp=dici"><b>► Diciembre</b></a></li>
            </ul>
        </li>
    </ul>
</article>
<article>
    <hr style="height:2px; background-color:lightgray;"/>
    <ul class="nav nav-pills nav-stacked" style="text-align:left;">
        <li class="active"><a><b>.:. Noticias del Mes .:.</b></a></li>
        <li><a href="#"><b>► Enero</b></a></li>
        <li><a href="#"><b>► Febrero</b></a></li>
        <li><a href="?fp=principal"><b>► Recientes</b></a></li>
    </ul> 
</article>
<article>
    <hr style="height:2px; background-color:lightgray;" />
    <ul class="nav nav-pills nav-stacked" style="text-align:left;">
        <li class="active"><a><b>.:. Documentaci&oacute;n .:.</b></a></li>
        <li><a href="Libreria\pdf\fraccion\diecisiete\primer_informe.pdf" target="_blank"><b>◄ Primer Informer de Gobierno</b></a></li>
        <li><a href="Libreria\pdf\principal\plan_desarrollo.pdf" target="_blank"><b>◄ Plan de Desarrollo Municipal</b></a></li>
    </ul>
</article>
<article>
    <hr style="height: 2px; background-color:lightgray;" />
    <ul class="nav nav-pills nav-stacked" style="text-align:left;">
        <li class="active"><a><b>.:. Informaci&oacute;n en Linea .:.</b></a></li>
        <li><a href="Libreria\pdf\principal\infomex.pdf" target="_blank"><b>◄ Como llenar la solicitud</b></a></li>
        <li><a href="http://www.plataformadetransparencia.org.mx/web/guest/sac" target="_blank"><b>◄ Solicitud de Informaci&oacute;n</b></a></li>
    </ul>
</article>
<article>
    <hr style="height: 2px; background-color:lightgray;" />
    <ul class="nav nav-pills nav-stacked" style="text-align:left;">
        <li class="active"><a><b>.:. Areas .:.</b></a></li>
        <li><a href="?fp=obras"><i class="fa fa-fw fa-wrench"></i><b>Obras P&uacute;blicas</b></a></li>
        <li><a href="?fp=atencion"><i class="fa fa-fw fa fa-tty"></i><b>Atenci&oacute;n al Migrante</b></a></li>
        <li><a href="?fp=juventud"><i class="fa fa-fw fa-group"></i><b>Direcci&oacute;n de Juventud</b></a></li>
        <li><a href="?fp=salud"><i class="fa fa-fw fa-user-md"></i><b>Dir. Servicios de Salud</b></a></li>    
        <li><a href="?fp=desarrollo"><i class="fa fa-fw fa-signal"></i><b>Dir. Desarrollo Rural</b></a></li>
    </ul>
</article>
