<section class="paginacion">
    <ul><?php $val = isset($_GET["fp"]) ? $_GET["fp"] : "principal"; ?>
        <li><a href="?fp=principal" <?php if($val == "principal"){ ?> class="active" <?php } ?> >1</a></li>
        <li><a href="?fp=principal2" <?php if($val == "principal2"){ ?> class="active" <?php } ?> >2</a></li>
        <li><a href="?fp=principal3" <?php if($val == "principal3"){ ?> class="active" <?php } ?> >3</a></li>
        <li><a href="?fp=principal4" <?php if($val == "principal4"){ ?> class="active" <?php } ?> >4</a></li>
    </ul>
</section>
<style type="text/css">
    .paginacion ul{
        list-style:none;
        text-align:center;
    }
    .paginacion ul li{
        display:inline-block;
        margin-left:10px;
    }
    .paginacion ul li a{
        display:block;
        padding:10px 20px;
        color:#fff;
        background:#024959;
        text-decoration:none;
    }
    .paginacion ul li a:hover{
        background:#037E8C;
    }
    .paginacion ul li .active{
        background:#0378EC;
        font-weight:bold; 
    }
</style>