    <hr style="height: 2px; background-color:lightgray;" />
    <ul class="nav nav-pills nav-stacked" style="text-align:left;">
        <li class="active"><a><b>.:. Municipio .:.</b></a></li>
        <li><a href="?fp=historia"><i class="fa fa-fw fa-history"></i><b>.:. Historia</b></a></li>
        <li><a href="?fp=estadisticas"><i class="fa fa-fw fa-line-chart"></i><b>.:. Estadisticas</b></a></li>
        <li><a href="?fp=datos"><i class="fa fa-fw fa-map-signs"></i><b>.:. Datos Geogr&aacute;ficos</b></a></li>
        <li><a href="?fp=mapa"><i class="fa fa-fw fa-map-o"></i><b>.:. Mapa de Municipio</b></a></li>
        <li><a href="?fp=escuelas"><i class="fa fa-fw fa-mortar-board"></i><b>.:. Escuelas del Municipio</b></a></li>
        <li><a href="?fp=codigos"><i class="fa fa-fw fa-map-pin"></i><b>.:. C&oacute;digo Postales</b></a></li>
        <li><a href="?fp=localidades"><i class="fa fa-fw fa-map-marker"></i><b>.:. Localidades</b></a></li>
        <li><a href="?fp=directorio"><i class="fa fa-fw fa-phone-square"></i><b>.:. Directorio Telef&aacute;nico</b></a></li>
    </ul>
    <hr style="height: 2px; background-color:lightgray;" />
    <figure>
        <a href="https://www.facebook.com/H-Ayuntamiento-Constitucional-San-Lucas-Comunicaci%C3%B3n-Social-1678362425821767/" target="_blank">
            <img src="Libreria/img/principal/facebook.png" class="img-responsive" />
        </a>
    </figure>
    <hr/>
    <figure>
        <a href="http://portal.itaimich.org.mx/" target="_blank">
            <img src="Libreria/img/principal/ita.png" class="img-responsive" />
        </a>
    </figure>
    <hr />
    <figure>
        <a href="http://inicio.ifai.org.mx/SitePages/ifai.aspx" target="_blank">
            <img src="Libreria/img/principal/indai.jpg" class="img-responsive" />
        </a>
    </figure>
    <hr />
    <figure>
        <a href="http://www.michoacan.gob.mx/" target="_blank">
            <img src="Libreria/img/principal/m.png" class="img-responsive" />
        </a>
    </figure>
    <figure>
        <a href="http://transparencia.congresomich.gob.mx/" target="_blank">
            <img src="Libreria/img/principal/cong.jpg" class="img-responsive" />
        </a>
    </figure>
    <hr />
    <hr />
    <figure>
        <a href="http://www.asm.gob.mx/" target="_blank">
            <img src="Libreria/img/principal/au.jpg" class="img-responsive" />
        </a>
    </figure>
    <hr />
    <figure>
        <a href="http://tarimbaro.gob.mx/imagenes/poder.jpg" target="_blank">
            <img src="Libreria/img/principal/poder.jpg" class="img-responsive"  />
        </a>
    </figure>