<section>
    <div id="centro">
        <a href="?fp=principal"><i class="fa fa-fw fa-home"></i>Home</a>
        <img src="Libreria/img/login.png" /><b>Envió</b>
    </div>
    <hr />
    <div class="row">
        <div class="col-md-9">
            <?php
             if ($_POST['email'] != "") {
             // email de destino
             $email = 'tesoreria_sanlucas1@hotmail.com';
            
            // asunto del email
             $subject = 'Contacto';
            
            // Cuerpo del mensaje
             $mensaje = "———————————"."\n";
             $mensaje.= "Contacto"."\n";
             $mensaje.= "———————————"."\n";
             $mensaje.= "NOMBRE: ".$_POST['nombre']."\n";
             $mensaje.= "EMAIL: ".$_POST['email']."\n";
             $mensaje.= "FECHA: ".date("d/m/Y")."\n";
             $mensaje.= "HORA: ".date("h:i:s a")."\n";
             $mensaje.= "IP: ".$_SERVER['REMOTE_ADDR']."\n\n";
             $mensaje.= "———————————- \n\n";
             $mensaje.= $_POST['mensaje']."\n\n";
             $mensaje.= "———————————- \n";
             $mensaje.= "Enviado desde http://transparenciasanlucas.gob.mx \n";
            
            // headers del email
             $headers = "From: ".$_POST['email']."\r\n";
            
            // Enviamos el mensaje
             if (mail($email, $subject, $mensaje, $headers)) {
             ?>
                <figure>
                    <center>
                    <a href="Libreria/img/envio/envio.png">
                        <img src="Libreria/img/envio/envio.png" class="thumbnail img-responsive" />
                    </a>
                    </center>
                </figure>
             <?php
             } else {
                ?>
                <figure>
                    <center>
                    <a href="Libreria/img/envio/envio.png">
                        <img src="Libreria/img/envio/error.png" class="thumbnail img-responsive" />
                    </a>
                    </center>
                </figure>
                
                <?php
             }
             }
            ?>
        </div>
        <div class="col-md-3">
            <aside>
                <?php include "Vista/submenu.phtml" ?>
            </aside>
        </div>
    </div>
</section>
