<section>
    <div id="centro">
        <a href="?fp=principal"><i class="fa fa-fw fa-home"></i>Home</a>
        <img src="Libreria/img/login.png" /><b>Fotos</b>
    </div>
    <hr />
    <div class="row" style="margin-left: 1px;">
        <article>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3><b>Nuestra Galer&iacute;a de Fotos</b></h3>
                </div>
                <div class="panel-body">
                    <h4>Entregas de regalos a los ranchos que conforman el municipio de San Lucas.</h4>
                    <div class="panel panel-info">
                        <div class="panel-heading" style="font-size: x-large;">Cuajilote</div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-4">
                                    <figure>
                                        <a href="Libreria/img/galeria/actividad/cuajilote/fc_1.jpg" class="thumbnail">
                        		             
                        					<img src="Libreria/img/galeria/actividad/cuajilote/fc_1.jpg" alt="foto galeria"/>
                        					<figcaption>
                                                <p>El juego del "Esplota el Globo"</p>
                                            </figcaption>
                                        </a>
                                    </figure>
                                </div>
                                <div class="col-md-4">
                                    <a href="Libreria/img/galeria/actividad/cuajilote/fc_2.jpg" class="thumbnail">
                                        <p>El juego de los costales</p>
                                        <img src="Libreria/img/galeria/actividad/cuajilote/fc_2.jpg" alt="foto galeria" />
                                    </a>
                                </div>
                                <div class="col-md-4">
                                    <a href="Libreria/img/galeria/actividad/cuajilote/fc_3.jpg" class="thumbnail">
                                        <p>Rompe la piñata</p>
                                        <img src="Libreria/img/galeria/actividad/cuajilote/fc_3.jpg" alt="foto galeria" />
                                    </a>
                                </div>  
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <a href="Libreria/img/galeria/actividad/cuajilote/fc_4.jpg" class="thumbnail">
                                        <img src="Libreria/img/galeria/actividad/cuajilote/fc_4.jpg" alt="foto galeria" />
                                    </a>
                                </div>
                                <div class="col-md-4">
                                    <a href="Libreria/img/galeria/actividad/cuajilote/fc_5.jpg" class="thumbnail">
                                        <img src="Libreria/img/galeria/actividad/cuajilote/fc_5.jpg" alt="foto galeria" />
                                    </a>
                                </div>
                                <div class="col-md-4">
                                    <a href="Libreria/img/galeria/actividad/cuajilote/fc_6.jpg" class="thumbnail">
                                        <img src="Libreria/img/galeria/actividad/cuajilote/fc_6.jpg" alt="foto galeria" />
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-success">
                        <div class="panel-heading" style="font-size: x-large;">El Naranjo</div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-3">
                                    <center>
                                        <a href="Libreria/img/galeria/actividad/naranjo/fn_1.jpg" class="thumbnail gal_ver">
                                            <p>Entrega de regalos</p>
                                            <img src="Libreria/img/galeria/actividad/naranjo/fn_1.jpg" alt="foto galeria" />
                                        </a>
                                    </center>
                                </div>
                                <div class="col-md-6">
                                    <a href="Libreria/img/galeria/actividad/naranjo/fn_3.jpg" class="thumbnail">
                                        <p>Bromeando con los niños</p>
                                        <img src="Libreria/img/galeria/actividad/naranjo/fn_3.jpg" alt="foto galeria" />
                                    </a>
                                </div>
                                <div class="col-md-3">
                                    <center>
                                        <a href="Libreria/img/galeria/actividad/naranjo/fn_2.jpg" class="thumbnail gal_ver">
                                            <p>Rompiendo la Piñata</p>
                                            <img src="Libreria/img/galeria/actividad/naranjo/fn_2.jpg" alt="foto galeria" />
                                        </a>
                                    </center>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-info">
                        <div class="panel-heading" style="font-size: x-large;">San Jeronimo</div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-4">
                                        <a href="Libreria/img/galeria/actividad/sn_jeronimo/fsj_1.jpg" class="thumbnail">
                                            <p>Eligiendo Regalos</p>
                                            <img src="Libreria/img/galeria/actividad/sn_jeronimo/fsj_1.jpg" alt="foto galeria" />
                                        </a>
                                </div>
                                <div class="col-md-4">
                                    <a href="Libreria/img/galeria/actividad/sn_jeronimo/fsj_2.jpg" class="thumbnail">
                                        <p>Entrega de Regalos a los niños</p>
                                        <img src="Libreria/img/galeria/actividad/sn_jeronimo/fsj_2.jpg" alt="foto galeria" />
                                    </a>
                                </div>
                                <div class="col-md-4">
                                        <a href="Libreria/img/galeria/actividad/sn_jeronimo/fsj_3.jpg" class="thumbnail">
                                            <p>Entrega de Vevidas</p>
                                            <img src="Libreria/img/galeria/actividad/sn_jeronimo/fsj_3.jpg" alt="foto galeria" />
                                        </a>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <a href="Libreria/img/galeria/actividad/sn_jeronimo/fsj_4.jpg" class="thumbnail">
                                        <img src="Libreria/img/galeria/actividad/sn_jeronimo/fsj_4.jpg" alt="foto galeria" />
                                    </a>
                                </div>
                                <div class="col-md-3">
                                    <a href="Libreria/img/galeria/actividad/sn_jeronimo/fsj_5.jpg" class="thumbnail">
                                        <img src="Libreria/img/galeria/actividad/sn_jeronimo/fsj_5.jpg" alt="foto galeria" />
                                    </a>
                                </div>
                                <div class="col-md-3">
                                        <a href="Libreria/img/galeria/actividad/sn_jeronimo/fsj_6.jpg" class="thumbnail">
                                            <img src="Libreria/img/galeria/actividad/sn_jeronimo/fsj_6.jpg" alt="foto galeria" />
                                        </a>
                                </div>
                                <div class="col-md-3">
                                        <a href="Libreria/img/galeria/actividad/sn_jeronimo/fsj_7.jpg" class="thumbnail">
                                            <img src="Libreria/img/galeria/actividad/sn_jeronimo/fsj_7.jpg" alt="foto galeria" />
                                        </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-success">
                        <div class="panel-heading" style="font-size: x-large;">Quiringucua</div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-4">
                                    <figure>
                                        <a href="Libreria/img/galeria/actividad/quiringucua/fq_1.jpg" class="thumbnail">
                                            <img src="Libreria/img/galeria/actividad/quiringucua/fq_1.jpg" />
                                        </a>
                                    </figure>
                                </div>
                                <div class="col-md-4">
                                    <figure>
                                        <a href="Libreria/img/galeria/actividad/quiringucua/fq_2.jpg" class="thumbnail">
                                            <img src="Libreria/img/galeria/actividad/quiringucua/fq_2.jpg" />
                                        </a>
                                    </figure>
                                </div>
                                <div class="col-md-4">
                                    <figure>
                                        <a href="Libreria/img/galeria/actividad/quiringucua/fq_3.jpg" class="thumbnail">
                                            <img src="Libreria/img/galeria/actividad/quiringucua/fq_3.jpg" />
                                        </a>
                                    </figure>
                                </div>
                                <p>Recuerdo Social de la Quiringucua</p>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-info">
                        <div class="panel-heading" style="font-size: x-large;">Pinzan Colorado</div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-4">
                                    <figure>
                                        <a href="Libreria/img/galeria/actividad/pinzan_c/fp_1.jpg" class="thumbnail">
                                            <img src="Libreria/img/galeria/actividad/pinzan_c/fp_1.jpg" />
                                            <figcaption>
                                                <p>Recuerdo Social del Pinzan Colorado</p>
                                            </figcaption>
                                        </a>
                                    </figure>
                                </div>
                                <div class="col-md-4">
                                    <figure>
                                        <a href="Librereia/img/galeria/actividad/pinzan_c/fp_2.jpg" class="thumbnail">
                                            <img src="Libreria/img/galeria/actividad/pinzan_c/fp_2.jpg" />
                                            <figcaption>
                                                <p>Actividad de Entrega de Juguetes</p>
                                            </figcaption>
                                        </a>
                                    </figure>
                                </div>
                                <div class="col-md-4">
                                    <figure>
                                        <a href="Libreria/img/galeria/actividad/pinzan_c/fp_3.jpg" class="thumbnail">
                                            <img src="Libreria/img/galeria/actividad/pinzan_c/fp_3.jpg" />
                                            <figcaption>
                                                <p>Recuerdo Social del Pinzan Colorado 2</p>
                                            </figcaption>
                                        </a>
                                    </figure>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <figure>
                                        <a href="Libreria/img/galeria/pinzan_c/fp_4.jpg" class="thumbnail">
                                            <img src="Libreria/img/galeria/actividad/pinzan_c/fp_4.jpg" />
                                        </a>
                                    </figure>
                                </div>
                                <div class="col-md-4">
                                    <figure>
                                        <a href="Libreria/img/galeria/actividad/pinzan_c/fp_5.jpg" class="thumbnail">
                                            <img src="Libreria/img/galeria/actividad/pinzan_c/fp_5.jpg" />
                                        </a>
                                    </figure>
                                </div>
                                <div class="col-md-4">
                                    <figure>
                                        <a href="Libreria/img/galeria/actividad/pinzan_c/fp_6.jpg" class="thumbnail">
                                            <img src="Libreria/img/galeria/actividad/pinzan_c/fp_6.jpg" />
                                        </a>
                                    </figure>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-success">
                        <div class="panel-heading" style="font-size: x-large;">San Pedro</div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-4">
                                    <figure>
                                        <a href="Libreria/img/galeria/sn_pedro/fs_1.jpg" class="thumbnail">
                                            <img src="Libreria/img/galeria/actividad/sn_pedro/fs_1.jpg" />
                                        </a>
                                    </figure>
                                </div>
                                <div class="col-md-4">
                                    <figure>
                                        <a href="Libreria/img/galeria/actividad/sn_pedro/fs_2.jpg" class="thumbnail">
                                            <img src="Libreria/img/galeria/actividad/sn_pedro/fs_2.jpg" />
                                        </a>
                                    </figure>
                                </div>
                                <div class="col-md-4">
                                    <figure>
                                        <a href="Libreria/img/galeria/actividad/sn_pedro/fs_3.jpg" class="thumbnail">
                                            <img src="Libreria/img/galeria/actividad/sn_pedro/fs_3.jpg" />
                                        </a>
                                    </figure>
                                </div>
                            </div>                        
                        </div>
                    </div>
                    <div class="panel panel-info">
                        <div class="panel-heading" style="font-size: x-large;">El Tamarindo</div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-4">
                                    <figure>
                                        <a href="Libreria/img/galeria/tamarindo/ft_1.jpg" class="thumbnail">
                                            <img src="Libreria/img/galeria/actividad/tamarindo/ft_1.jpg" />
                                        </a>
                                    </figure>
                                </div>
                                <div class="col-md-4">
                                    <figure>
                                        <a href="Libreria/img/galeria/actividad/tamarindo/ft_2.jpg" class="thumbnail">
                                            <img src="Libreria/img/galeria/actividad/tamarindo/ft_2.jpg" />
                                        </a>
                                    </figure>
                                </div>
                                <div class="col-md-4">
                                    <figure>
                                        <a href="Libreria/img/galeria/actividad/tamarindo/ft_3.jpg" class="thumbnail">
                                            <img src="Libreria/img/galeria/actividad/tamarindo/ft_3.jpg" />
                                        </a>
                                    </figure>
                                </div>
                            </div>       
                        </div>
                    </div>
                    <div class="panel panel-success">
                        <div class="panel-heading" style="font-size: x-large;">Monte Grande</div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-4">
                                    <figure>
                                        <a href="Libreria/img/galeria/actividad/monte_g/fm_1.jpg" class="thumbnail">
                                            <img src="Libreria/img/galeria/actividad/monte_g/fm_1.jpg" />
                                        </a>
                                    </figure>
                                </div>
                                <div class="col-md-4">
                                    <figure>
                                        <a href="Libreria/img/galeria/actividad/monte_g/fm_2.jpg" class="thumbnail">
                                            <img src="Libreria/img/galeria/actividad/monte_g/fm_2.jpg" />
                                        </a>
                                    </figure>
                                </div>
                                <div class="col-md-4">
                                    <figure>
                                        <a href="Libreria/img/galeria/actividad/monte_g/fm_3.jpg" class="thumbnail">
                                            <img src="Libreria/img/galeria/actividad/monte_g/fm_3.jpg" />
                                        </a>
                                    </figure>
                                </div>
                            </div>       
                        </div>
                    </div>
                    <div class="panel panel-info">
                        <div class="panel-heading" style="font-size: x-large;">Querutzeo</div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-4">
                                    <figure>
                                        <a href="Libreria/img/galeria/actividad/querutzeo/fq_1.jpg" class="thumbnail">
                                            <img src="Libreria/img/galeria/actividad/querutzeo/fq_1.jpg" />
                                        </a>
                                    </figure>
                                </div>
                                <div class="col-md-4">
                                    <figure>
                                        <a href="Libreria/img/galeria/actividad/querutzeo/fq_2.jpg" class="thumbnail">
                                            <img src="Libreria/img/galeria/actividad/querutzeo/fq_2.jpg" />
                                        </a>
                                    </figure>
                                </div>
                                <div class="col-md-4">
                                    <figure>
                                        <a href="Libreria/img/galeria/actividad/querutzeo/fq_3.jpg" class="thumbnail">
                                            <img src="Libreria/img/galeria/actividad/querutzeo/fq_3.jpg" />
                                        </a>
                                    </figure>
                                </div>
                            </div>       
                        </div>
                    </div>
                    <div class="panel panel-success">
                        <div class="panel-heading" style="font-size: x-large;">El Tule</div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-4">
                                    <figure>
                                        <a href="Libreria/img/galeria/actividad/tule/ft_1.jpg" class="thumbnail">
                                            <img src="Libreria/img/galeria/actividad/tule/ft_1.jpg" />
                                        </a>
                                    </figure>
                                </div>
                                <div class="col-md-4">
                                    <figure>
                                        <a href="Libreria/img/galeria/actividad/tule/ft_2.jpg" class="thumbnail">
                                            <img src="Libreria/img/galeria/actividad/tule/ft_2.jpg" />
                                        </a>
                                    </figure>
                                </div>
                                <div class="col-md-4">
                                    <figure>
                                        <a href="Libreria/img/galeria/actividad/tule/ft_3.jpg" class="thumbnail">
                                            <img src="Libreria/img/galeria/actividad/tule/ft_3.jpg" />
                                        </a>
                                    </figure>
                                </div>
                            </div>       
                        </div>
                    </div>
                </div>
            </div>
        </article>
    </div>
</section>