<section>
    <div id="centro">
        <a href="?fp=principal"><i class="fa fa-fw fa-home"></i>Home</a>
        <img src="Libreria/img/login.png" /><b>Escuelas del Municipio</b>
    </div>
    <hr />
    <div class="row">
        <div class="col-md-9">
            <article>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h1 style="font-size: xx-large;"><b>Escuelas</b></h1>
                    </div>
                    <div class="panel-body">
                        <div class="panel panel-primary">
                            <div class="panel-heading" style="font-size: x-large;">Colegio en San lucas, Michoacán</div>
                            <div class="panel-body"></div>
                        </div>
                        <div class="panel panel-info">
                            <div class="panel-heading" style="font-size: x-large;">Secundaria en San lucas, Michoacán</div>
                            <div class="panel-body">
                                <div class="table-responsive">
                                    <table class="table table-hover">
                                        <thead style="font-size:x-large;">
                                            <tr>
                                                <th><b>Nombre</b></th>
                                                <th><b>Clave</b></th>
                                                <th><b>Lugar</b></th>
                                            </tr>
                                        </thead>
                                        <tbody style="text-align: left;">
                                            <tr>
                                                <td>ESCUELA SECUNDARIA FEDERAL</td>
                                                <td>16DES0089K</td>
                                                <td>VICENTE RIVA PALACIO</td>
                                            </tr>
                                            <tr>
                                                <td>ESCUELA SECUNDARIA TECNICA NUM. 18</td>
                                                <td>16DST0018I</td>
                                                <td>SAN LUCAS</td>
                                            </tr>
                                            <tr>
                                                <td>GPO DE EXTENSION DE LA SEC TEC 18</td>
                                                <td>16DGA0012V</td>
                                                <td>LIMON DE MONTEGRANDE (EL LIMON)</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-success">
                            <div class="panel-heading" style="font-size: x-large;">Primaria en San lucas, Michoacán</div>
                            <div class="panel-body">
                                <div class="table-responsive">
                                    <table class="table table-hover">
                                        <thead>
                                            <tr>
                                                <th style="font-size: x-large;"><b>Nombre</b></th>
                                                <th style="font-size: x-large;"><b>Clave</b></th>
                                                <th style="font-size: x-large;"><b>Lugar</b></th>
                                            </tr>
                                        </thead>
                                        <tbody style="text-align: left;">
                                            <tr>
                                                <td>SOLIDARIDAD</td>
                                                <td>16DPR4839C</td>
                                                <td>BUENA VISTA, SAN LUCAS</td>
                                            </tr>
                                            <tr>
                                                <td>MA ELENA CERVANTES</td>
                                                <td>16DPR5071Z</td>
                                                <td>VICENTE RIVA PALACIO, SAN LUCAS</td>
                                            </tr>
                                            <tr>
                                                <td>ADOLFO LOPEZ MATEOS</td>
                                                <td>16DPR0002W</td>
                                                <td>EL MACHUQUE(PLAN DEL REPARO), SAN LUCAS</td>
                                            </tr>
                                            <tr>
                                                <td>BENITO JUAREZ</td>
                                                <td>16DPR0018X</td>
                                                <td>TIRINGUEO DE ARRIBA, SAN LUCAS</td>
                                            </tr>
                                            <tr>
                                                <td>VICENTE GUERREO</td>
                                                <td>16DPR0051E</td>
                                                <td>VICENTE RIVA PALACIO, SAN LUCAS</td>
                                            </tr>
                                            <tr>
                                                <td>LAZARO CARDENAS</td>
                                                <td>16DPR0479G</td>
                                                <td>LA HUIZACHERA (EL HUIZACHAL), SAN LUCAS</td>
                                            </tr>
                                            <tr>
                                                <td>JOSE MA MORELOS</td>
                                                <td>16DPR1299C</td>
                                                <td>LADO ORIENTE PLAZA PRINCIPAL, SAN LUCAS</td>
                                            </tr>
                                            <tr>
                                                <td>20 DE NOVIEMBRE</td>
                                                <td>16DPR1300B</td>
                                                <td>ANGAO (ANGAO DE LOS HERRERA), SAN LUCAS</td>
                                            </tr>
                                            <tr>
                                                <td>SIMON BOLIVAR</td>
                                                <td>16DPR1301A</td>
                                                <td>LOS BANCOS, SAN LUCAS</td>
                                            </tr>
                                            <tr>
                                                <td>SIMON BOLIVAR</td>
                                                <td>16DPR1302Z</td>
                                                <td>CEIBAS ALTAS</td>
                                            </tr>
                                            <tr>
                                                <td>NICOLAS BRAVO</td>
                                                <td>16DPR1303Z</td>
                                                <td>CEIBA SECA</td>
                                            </tr>
                                            <tr>
                                                <td>MIGUEL HIDALGO</td>
                                                <td>16DPR1304Y</td>
                                                <td>PASO DE CORUPO (CUIZILLO)</td>
                                            </tr>
                                            <tr>
                                                <td>IGNACIO ZARAGOZA</td>
                                                <td>16DPR1305X</td>
                                                <td>EL CUAJILOTE</td>
                                            </tr>
                                            <tr>
                                                <td>CONSTITUCIÓN</td>
                                                <td>16DPR1306W</td>
                                                <td>CHARACHARANDO</td>
                                            </tr>
                                            <tr>
                                                <td>MELCHOR OCAMPO</td>
                                                <td>16DPR1307V</td>
                                                <td>CHUMBÍTARO</td>
                                            </tr>
                                            <tr>
                                                <td>FRANCISCO I. MADERO</td>
                                                <td>16DPR1308U</td>
                                                <td>LA ESTANCIA</td>
                                            </tr>
                                            <tr>
                                                <td>FRANCISCO J. MUJICA</td>
                                                <td>16DPR1309T</td>
                                                <td>CUAUHTÉMOC (HUARICHI)</td>
                                            </tr>
                                            <tr>
                                                <td>VENUSTIANO CARRANZA</td>
                                                <td>16DPR1310I</td>
                                                <td>LA LAJA (LA LAJITA)</td>
                                            </tr>
                                            <tr>
                                                <td>NICOLAS BRAVO</td>
                                                <td>16DPR1311H</td>
                                                <td>MONTE GRANDE</td>
                                            </tr>
                                            <tr>
                                                <td>FRANCISCO VILLA</td>
                                                <td>16DPR1312G</td>
                                                <td>LAS PAREDES</td>
                                            </tr>
                                            <tr>
                                                <td>EMILIANO ZAPATA</td>
                                                <td>16DPR1313F</td>
                                                <td>PINZÁN COLORADO</td>
                                            </tr>
                                            <tr>
                                                <td>MIGUEL HIDALGO</td>
                                                <td>16DPR1314E</td>
                                                <td>SALGUERO</td>
                                            </tr>
                                            <tr>
                                                <td>FRAY BARTOLOME DE LAS CASAS</td>
                                                <td>16DPR1315D</td>
                                                <td>SAN JERÓNIMO</td>
                                            </tr>
                                            <tr>
                                                <td>MIGUEL HIDALGO</td>
                                                <td>16DPR1316C</td>
                                                <td>SANTA CRUZ DE VILLA GÓMEZ</td>
                                            </tr>
                                            <tr>
                                                <td>JOSE MA MORELOS</td>
                                                <td>16DPR1317B</td>
                                                <td>TACUPA</td>
                                            </tr>
                                            <tr>
                                                <td>BENITO JUAREZ</td>
                                                <td>16DPR1318A</td>
                                                <td>TERRERO PRIETO</td>
                                            </tr>
                                            <tr>
                                                <td>PDTE ADOLFO LOPEZ MATEOS</td>
                                                <td>16DPR2096O</td>
                                                <td>SAN NICOLÁS</td>
                                            </tr>
                                            <tr>
                                                <td>LAZARO CARDENAS</td>
                                                <td>16DPR2097N</td>
                                                <td>QUERUTZEO (QUERUSEO)</td>
                                            </tr>
                                            <tr>
                                                <td>VICENTE GUERRERO</td>
                                                <td>16DPR2428N</td>
                                                <td>VICENTE RIVA PALACIO</td>
                                            </tr>
                                            <tr>
                                                <td>BENITO JUAREZ</td>
                                                <td>16DPR2429M</td>
                                                <td>CORRAL VIEJO</td>
                                            </tr>
                                            <tr>
                                                <td>FRANCISCO I. MADERO</td>
                                                <td>16DPR2472A</td>
                                                <td>LOS LIMONES Y ANEXOS</td>
                                            </tr>
                                            <tr>
                                                <td>MIGUEL HIDALGO</td>
                                                <td>16DPR2556I</td>
                                                <td>SAN PEDRO EL GRANDE</td>
                                            </tr>
                                            <tr>
                                                <td>LAZARO CARDENAS</td>
                                                <td>16DPR2560V</td>
                                                <td>LIMÓN DE MONTE GRANDE</td>
                                            </tr>
                                            <tr>
                                                <td>MIGUEL HIDALGO</td>
                                                <td>16DPR2561U</td>
                                                <td>SAN PEDRITO</td>
                                            </tr>
                                            <tr>
                                                <td>JOSEFA ORTIZ DE DOMINGUEZ</td>
                                                <td>16DPR2902A</td>
                                                <td>EL TAMARINDO</td>
                                            </tr>
                                            <tr>
                                                <td>VICENTE GUERRERO</td>
                                                <td>16DPR3062E</td>
                                                <td>EL APARTADERO</td>
                                            </tr>
                                            <tr>
                                                <td>LAZARO CARDENAS</td>
                                                <td>16DPR3211W</td>
                                                <td>EL NARANJO</td>
                                            </tr>
                                            <tr>
                                                <td>LAZARO CARDENAS</td>
                                                <td>16DPR3380R</td>
                                                <td>AVENIDA SERVANDO CHAVEZ HERNANDEZ NUM. 29, SAN LUCAS</td>
                                            </tr>
                                            <tr>
                                                <td>JOSE MARIA MORELOS</td>
                                                <td>16DPR3617M</td>
                                                <td>LADO ORIENTE PLAZA PRINCIPAL, SAN LUCAS</td>
                                            </tr>
                                            <tr>
                                                <td>NIÑOS HEROES</td>
                                                <td>16DPR3752R</td>
                                                <td>EL CUERAMO</td>
                                            </tr>
                                            <tr>
                                                <td>MELCHOR OCAMPO</td>
                                                <td>16DPR3908B</td>
                                                <td> LA ANGOSTURA DEL CANJE</td>
                                            </tr>
                                            <tr>
                                                <td>VENUSTIANO CARRANZA</td>
                                                <td>16DPR4024I</td>
                                                <td>CAPIRE VERDE</td>
                                            </tr>
                                            <tr>
                                                <td>JOSEFA ORTIZ DE DOMINGUEZ</td>
                                                <td>16DPR4513Y</td>
                                                <td>LA MAGUEYERA (BARRIO DE LAS FLORES)</td>
                                            </tr>
                                            <tr>
                                                <td>NICOLAS BRAVO</td>
                                                <td>16DPR2098M</td>
                                                <td>TIRINCHICUAS</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-primary">
                            <div class="panel-heading" style="font-size: x-large;">Preescolar en San lucas, Michoacán</div>
                            <div class="panel-body">
                                <div class="table-responsive">
                                    <table class="table table-hover">
                                        <thead style="font-size: x-large;">
                                            <tr>
                                                <td><b>Nombre</b></td>
                                                <td><b>Clave</b></td>
                                                <td><b>Lugar</b></td>
                                            </tr>
                                        </thead>
                                        <tbody style="text-align: left;">
                                            <tr>
                                                <td>MIGUEL BUSTAMANTE Y SEPTIEN</td>
                                                <td>16DJN0466M</td>
                                                <td>SAN PEDRO EL GRANDE</td>
                                            </tr>
                                            <tr>
                                                <td>MANUEL BRIOSO Y CANDIANI</td>
                                                <td>16DJN0681C</td>
                                                <td>CHUMBÍTARO</td>
                                            </tr>
                                            <tr>
                                                <td>CARLOS MARIA DE BUSTAMANTE</td>
                                                <td>16DJN0682B</td>
                                                <td>CUAUHTÉMOC (HUARICHI)</td>
                                            </tr>
                                            <tr>
                                                <td>JOSEFA ORTIZ DE DOMINGUEZ</td>
                                                <td>16DJN0909Q</td>
                                                <td>PINZÁN COLORADO</td>
                                            </tr>
                                            <tr>
                                                <td>JEAN PIAGET</td>
                                                <td>16DJN0910F</td>
                                                <td>LA HUIZACHERA (EL HUIZACHAL)</td>
                                            </tr>
                                            <tr>
                                                <td>IZCALLI</td>
                                                <td>16DJN0101F</td>
                                                <td>VICENTE RIVA PALACIO</td>
                                            </tr>
                                            <tr>
                                                <td>PRIMAVERA</td>
                                                <td>16DJN0318D</td>
                                                <td>SANTA CRUZ DE VILLA GÓMEZ</td>
                                            </tr>
                                            <tr>
                                                <td>REFUGIO BARRAGAN DE TOSCANO</td>
                                                <td>16DJN0319C</td>
                                                <td>TACUPA</td>
                                            </tr>
                                            <tr>
                                                <td>LAZARO CARDENAS DEL RIO</td>
                                                <td>16DJN1398M</td>
                                                <td>MONTE GRANDE</td>
                                            </tr>
                                            <tr>
                                                <td>MARIA MONTESSORI</td>
                                                <td>16DJN1400K</td>
                                                <td>PASO DE CORUPO (CUIZILLO)</td>
                                            </tr>
                                            <tr>
                                                <td>JUANA INES DE LA CRUZ</td>
                                                <td>16DJN1402I</td>
                                                <td>LAS PAREDES</td>
                                            </tr>
                                            <tr>
                                                <td>NIÑOS HEROES</td>
                                                <td>16DJN1404G</td>
                                                <td>SALGUERO</td>
                                            </tr>
                                            <tr>
                                                <td>PLATON</td>
                                                <td>16DJN1405F</td>
                                                <td>SAN JERÓNIMO</td>
                                            </tr>
                                            <tr>
                                                <td>VASCO DE QUIROGA</td>
                                                <td>16DJN1406E</td>
                                                <td>SAN PEDRITO</td>
                                            </tr>
                                            <tr>
                                                <td>MARIANO MATAMOROS</td>
                                                <td>16DJN1407D</td>
                                                <td>TERRERO PRIETO</td>
                                            </tr>
                                            <tr>
                                                <td>FRANCISCO GABILONDO SOLER</td>
                                                <td>16DJN1941F</td>
                                                <td>LIMÓN DE MONTE GRANDE</td>
                                            </tr>
                                            <tr>
                                                <td>FERNANDO MONTES DE OCA</td>
                                                <td>16DJN1964Q</td>
                                                <td>EL CUAJILOTE</td>
                                            </tr>
                                            <tr>
                                                <td>ROSAURA ZAPATA</td>
                                                <td>16DJN2084T</td>
                                                <td>EL CUERAMO</td>
                                            </tr>
                                            <tr>
                                                <td>JUAN ENRIQUE PESTALIZZI</td>
                                                <td>16DJN2326Z</td>
                                                <td>SAN LUCAS</td>
                                            </tr>
                                            <tr>
                                                <td>GERTRUDIS BOCANEGRA</td>
                                                <td>16EJN0045C</td>
                                                <td>SAN LUCAS</td>
                                            </tr>
                                            <tr>
                                                <td>SIGMUND FREUD</td>
                                                <td>16DJN2454V</td>
                                                <td>ANGAO (ANGAO DE LOS HERRERA)</td>
                                            </tr>
                                            <tr>
                                                <td>JARDIN DE NIÑOS</td>
                                                <td>16DJN2455U</td>
                                                <td>SAN NICOLÁS</td>
                                            </tr>
                                            <tr>
                                                <td>PREESCOLAR COMUNITARIO LA ANGOSTURA DEL CANJE</td>
                                                <td>16KJN1166F</td>
                                                <td>LA ANGOSTURA DEL CANJE</td>
                                            </tr>
                                            <tr>
                                                <td>PREESCOLAR COMUNITARIO</td>
                                                <td>16KJN1167E</td>
                                                <td>TIRINGUEO DE ARRIBA</td>
                                            </tr>
                                            <tr>
                                                <td>PREESCOLAR COMUNITARIO CHARACHARANDO</td>
                                                <td>16KJN1169C</td>
                                                <td>CHARACHARANDO</td>
                                            </tr>
                                            <tr>
                                                <td>PREESCOLAR COMUNITARIO</td>
                                                <td>16KJN1171R</td>
                                                <td>EL MACHUQUE (PLAN DEL REPARO)</td>
                                            </tr>
                                            <tr>
                                                <td>PREESCOLAR COMUNITARIO LA ESTANCIA</td>
                                                <td>16KJN1492A</td>
                                                <td>LA ESTANCIA</td>
                                            </tr>
                                            <tr>
                                                <td>PREESCOLAR COMUNITARIO EL TAMARINDO</td>
                                                <td>16KJN1495Y</td>
                                                <td>EL TAMARINDO</td>
                                            </tr>
                                            <tr>
                                                <td>PREESCOLAR COMUNITARIO LA LAJA</td>
                                                <td>16KJN1497W</td>
                                                <td>LA LAJA (LA LAJITA)</td>
                                            </tr>
                                            <tr>
                                                <td>PREESCOLAR COMUNITARIO</td>
                                                <td>16KJN1805L</td>
                                                <td>CORRAL VIEJO</td>
                                            </tr>
                                            <tr>
                                                <td>PREESCOLAR COMUNITARIO TERRERO SALADO</td>
                                                <td>16KJN1806K</td>
                                                <td>TERRERO SALADO</td>
                                            </tr>
                                            <tr>
                                                <td>PREESCOLAR COMUNITARIO LA MAGUEYERA</td>
                                                <td>16KJN4872D</td>
                                                <td>LA MAGUEYERA (BARRIO DE LAS FLORES)</td>
                                            </tr>
                                            <tr>
                                                <td>JARDIN DE NI¥OS</td>
                                                <td>16KJN1494Z</td>
                                                <td>EL NARANJO</td>
                                            </tr>
                                            <tr>
                                                <td>JARDIN DE NI¥OS</td>
                                                <td>16KJN1496X</td>
                                                <td>QUERUTZEO (QUERUSEO)</td>
                                            </tr>
                                            <tr>
                                                <td>ESTEFANIA CASTA¥EDA</td>
                                                <td>16DJN1881H</td>
                                                <td>BANCOS</td>
                                            </tr>
                                            <tr>
                                                <td>ERIK H ERICKSON</td>
                                                <td>16DJN1399L</td>
                                                <td>CEIBAS ALTAS</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </div>
        <div class="col-md-3">
            <aside>
                <?php include "Vista/submenu.phtml"; ?>
            </aside>
        </div>
    </div>
</section>