<section>
    <div class="row">
        <div class="col-md-9">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h1 style="font-size: xx-large;"><b>Eventos Realizados el Mes de Marzo 2017</b></h1>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            <article>
                                <div class="panel panel-success">
                                    <div class="panel-heading">
                                        <b>Conmemoración Día Internacional de la Mujer .:. H. Ayuntamiento de San Lucas, Mich.</b>
                                    </div>
                                    <time datetime="2017-03-13" style="color:grey;text-align:justify;">
                                        publicado el lunes, 13 de marzo de 2017.
                                    </time>
                                    <div class="panel-body">
                                        <p style="padding:20px; text-align:justify;">
                                            <b>
                                                Usando como cedes, La Tenencia de Vicente Riva Palacio y La Cabecera Municipal de San Lucas, los Días 8 y 9 de Marzo, Respectivamente el Honorable Ayuntamiento de San Lucas a través de la Dirección de la Estancia de la Mujer que Dirige la C. Yazmin Macedo Luviano, de Forma Coordinada con la propia Jefatura de Tenencia de Vicente Riva Palacio quien dirige la Maestra Ofelia Santibañez Carbajal, Conmemoran otro Aniversario del Día Internacional de la Mujer.
                                                Poniendo en el Centro de estos Actos el Reconocimiento a los Logros que se han dado Gracias a las luchas y la Participación de la Mujer a través de la Historia, sin Cuyas Contribuciones no podemos Explicarnos el Progreso en todas las Esferas del Desarrollo Social Donde esta Presente la Intervención de la Mujer. En el Uso de la Palabra el C. Arturo Torres Aguirre como Presidente Municipal Reconoce y felicita a la Mujer del Municipio de San Lucas y Subraya la Importancia que tiene la Mujer en su Gobierno, a través de la inclusión Contemplé en su Estructura Administrativa para Dirigir el Rumbo del Municipio el 50% de las Direcciones esta Ocupado Por Mujeres y Exhorta a seguir Participando en la Lucha por Conquistar Mejores Espacios Por Parte de las Mujeres.    
                                            </b>
                                        </p>
                                        <div class="row">
                                            <div class="col-md-3">
                                                <figure>
                                                    <a href="Libreria/img/2017/mar/dia_internacional/img1.jpg" target="_blank">
                                                        <img src="Libreria/img/2017/mar/dia_internacional/img1.jpg" class="thumbnail img-responsive" alt="img" />
                                                    </a>
                                                </figure>
                                            </div>
                                            <div class="col-md-3">
                                                <figure>
                                                    <a href="Libreria/img/2017/mar/dia_internacional/img2.jpg" target="_blank">
                                                        <img src="Libreria/img/2017/mar/dia_internacional/img2.jpg" class="thumbnail img-responsive" alt="img" />
                                                    </a>
                                                </figure>
                                            </div>
                                            <div class="col-md-3">
                                                <figure>
                                                    <a href="Libreria/img/2017/mar/dia_internacional/img3.jpg" target="_blank">
                                                        <img src="Libreria/img/2017/mar/dia_internacional/img3.jpg" class="thumbnail img-responsive" alt="img" />
                                                    </a>
                                                </figure>
                                            </div>
                                            <div class="col-md-3">
                                                <figure>
                                                    <a href="Libreria/img/2017/mar/dia_internacional/img4.jpg" target="_blank">
                                                        <img src="Libreria/img/2017/mar/dia_internacional/img4.jpg" class="thumbnail img-responsive" alt="img" />
                                                    </a>
                                                </figure>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                                <figure>
                                                    <a href="Libreria/img/2017/mar/dia_internacional/img5.jpg" target="_blank">
                                                        <img src="Libreria/img/2017/mar/dia_internacional/img5.jpg" class="thumbnail img-responsive" alt="img" />
                                                    </a>
                                                </figure>
                                            </div>
                                        <div class="col-md-3">
                                            <figure>
                                                <a href="Libreria/img/2017/mar/dia_internacional/img6.jpg" target="_blank">
                                                    <img src="Libreria/img/2017/mar/dia_internacional/img6.jpg" class="thumbnail img-responsive" alt="img" />
                                                </a>
                                            </figure>
                                        </div>
                                        <div class="col-md-3">
                                            <figure>
                                                <a href="Libreria/img/2017/mar/dia_internacional/img7.jpg" target="_blank">
                                                    <img src="Libreria/img/2017/mar/dia_internacional/img7.jpg" class="thumbnail img-responsive" alt="img" />
                                                </a>
                                            </figure>
                                        </div>
                                        <div class="col-md-3">
                                            <figure>
                                                <a href="Libreria/img/2017/mar/dia_internacional/img8.jpg" target="_blank">
                                                    <img src="Libreria/img/2017/mar/dia_internacional/img8.jpg" class="thumbnail img-responsive" alt="img" />
                                                </a>
                                            </figure>
                                        </div>
                                        <div class="col-md-3">
                                                <figure>
                                                    <a href="Libreria/img/2017/mar/dia_internacional/img9.jpg" target="_blank">
                                                        <img src="Libreria/img/2017/mar/dia_internacional/img9.jpg" class="thumbnail img-responsive" alt="img" />
                                                    </a>
                                                </figure>
                                            </div>
                                        <div class="col-md-3">
                                            <figure>
                                                <a href="Libreria/img/2017/mar/dia_internacional/img10.jpg" target="_blank">
                                                    <img src="Libreria/img/2017/mar/dia_internacional/img10.jpg" class="thumbnail img-responsive" alt="img" />
                                                </a>
                                            </figure>
                                        </div>
                                        <div class="col-md-3">
                                            <figure>
                                                <a href="Libreria/img/2017/mar/dia_internacional/img11.jpg" target="_blank">
                                                    <img src="Libreria/img/2017/mar/dia_internacional/img11.jpg" class="thumbnail img-responsive" alt="img" />
                                                </a>
                                            </figure>
                                        </div>
                                        <div class="col-md-3">
                                            <figure>
                                                <a href="Libreria/img/2017/mar/dia_internacional/img12.jpg" target="_blank">
                                                    <img src="Libreria/img/2017/mar/dia_internacional/img12.jpg" class="thumbnail img-responsive" alt="img" />
                                                </a>
                                            </figure>
                                        </div>
                                    </div>
                                </div>
                            </article>
                            <article>
                                <div class="panel panel-success">
                                    <div class="panel-heading">
                                        <b>Entrega de Créditos "Palabra de Mujer" .:. H. Ayuntamiento de San Lucas, Mich.</b>
                                    </div>
                                    <time datetime="2017-03-14" style="color:grey;text-align:justify;">
                                        publicado el martes, 14 de marzo de 2017.
                                    </time>
                                    <div class="panel-body">
                                        <p style="padding:20px; text-align:justify;">
                                            <b>
                                                Segundo desembolso de la Entrega de Créditos "Palabra de Mujer" gestionado por el C. Arturo Torres Aguirre en coordinación de la Dirección de la Instancia de la Mujer quien dirige la C. Yazmin Macedo Luviano.
                                            </b>
                                        </p>
                                        <div class="col-md-3">
                                            <figure>
                                                <a href="Libreria/img/2017/mar/creditos/img1.jpg" target="_blank">
                                                    <img src="Libreria/img/2017/mar/creditos/img1.jpg" class="thumbnail img-responsive" alt="img" />
                                                </a>
                                            </figure>
                                        </div>
                                        <div class="col-md-3">
                                            <figure>
                                                <a href="Libreria/img/2017/mar/creditos/img2.jpg" target="_blank">
                                                    <img src="Libreria/img/2017/mar/creditos/img2.jpg" class="thumbnail img-responsive" alt="img" />
                                                </a>
                                            </figure>
                                        </div>
                                        <div class="col-md-3">
                                            <figure>
                                                <a href="Libreria/img/2017/mar/creditos/img3.jpg" target="_blank">
                                                    <img src="Libreria/img/2017/mar/creditos/img3.jpg" class="thumbnail img-responsive" alt="img" />
                                                </a>
                                            </figure>
                                        </div>
                                        <div class="col-md-3">
                                            <figure>
                                                <a href="Libreria/img/2017/mar/creditos/img4.jpg" target="_blank">
                                                    <img src="Libreria/img/2017/mar/creditos/img4.jpg" class="thumbnail img-responsive" alt="img" />
                                                </a>
                                            </figure>
                                        </div>
                                    </div>
                                </div>
                            </article>
                            <article>
                                <div class="panel panel-success">
                                    <div class="panel-heading">
                                        <b>Grata Visita del Gobernador del Estado de Michoacán .:. H. Ayuntamiento de San Lucas, Mich.</b>
                                    </div>
                                    <time datetime="2017-03-14" style="color:grey;text-align:justify;">
                                        publicado el martes, 14 de marzo de 2017.
                                    </time>
                                    <div class="panel-body">
                                        <p style="padding:20px; text-align:justify;">
                                            <b>
                                                El Día Domingo 12 de Marzo del 2017 a las 2:00 p.m. Visita el Gobernador del Estado el Ing. Silvano Aureoles Conejo a Riva Palacio Municipio de San Lucas Michoacán. En Banderazo de Arranque de Obra para la Pavimentación con Asfalto en la calle Morelos, Y da Inauguración de Obra; Pavimentación con Concreto Hidráulico de la Calle Venustiano Carranza. 
                                                En Materia Educativa Anuncia Silvano Aureoles que Durante este Año se Rehabilitarán 18 Escuelas del Municipio con una Inversión de 11 Millones de Pesos.
                                            </b>
                                        </p>
                                        <div class="col-md-3">
                                            <figure>
                                                <a href="Libreria/img/2017/mar/gobernador_visita_san_lucas/img1.jpg" target="_blank">
                                                    <img src="Libreria/img/2017/mar/gobernador_visita_san_lucas/img1.jpg" class="thumbnail img-responsive" alt="img" />
                                                </a>
                                            </figure>
                                        </div>
                                        <div class="col-md-3">
                                            <figure>
                                                <a href="Libreria/img/2017/mar/gobernador_visita_san_lucas/img2.jpg" target="_blank">
                                                    <img src="Libreria/img/2017/mar/gobernador_visita_san_lucas/img2.jpg" class="thumbnail img-responsive" alt="img" />
                                                </a>
                                            </figure>
                                        </div>
                                        <div class="col-md-3">
                                            <figure>
                                                <a href="Libreria/img/2017/mar/gobernador_visita_san_lucas/img3.jpg" target="_blank">
                                                    <img src="Libreria/img/2017/mar/gobernador_visita_san_lucas/img3.jpg" class="thumbnail img-responsive" alt="img" />
                                                </a>
                                            </figure>
                                        </div>
                                        <div class="col-md-3">
                                            <figure>
                                                <a href="Libreria/img/2017/mar/gobernador_visita_san_lucas/img4.jpg" target="_blank">
                                                    <img src="Libreria/img/2017/mar/gobernador_visita_san_lucas/img4.jpg" class="thumbnail img-responsive" alt="img" />
                                                </a>
                                            </figure>
                                        </div>
                                        <div class="col-md-3">
                                            <figure>
                                                <a href="Libreria/img/2017/mar/gobernador_visita_san_lucas/img5.jpg" target="_blank">
                                                    <img src="Libreria/img/2017/mar/gobernador_visita_san_lucas/img5.jpg" class="thumbnail img-responsive" alt="img" />
                                                </a>
                                            </figure>
                                        </div>
                                        <div class="col-md-3">
                                            <figure>
                                                <a href="Libreria/img/2017/mar/gobernador_visita_san_lucas/img6.jpg" target="_blank">
                                                    <img src="Libreria/img/2017/mar/gobernador_visita_san_lucas/img6.jpg" class="thumbnail img-responsive" alt="img" />
                                                </a>
                                            </figure>
                                        </div>
                                        <div class="col-md-3">
                                            <figure>
                                                <a href="Libreria/img/2017/mar/gobernador_visita_san_lucas/img7.jpg" target="_blank">
                                                    <img src="Libreria/img/2017/mar/gobernador_visita_san_lucas/img7.jpg" class="thumbnail img-responsive" alt="img" />
                                                </a>
                                            </figure>
                                        </div>
                                        <div class="col-md-3">
                                            <figure>
                                                <a href="Libreria/img/2017/mar/gobernador_visita_san_lucas/img8.jpg" target="_blank">
                                                    <img src="Libreria/img/2017/mar/gobernador_visita_san_lucas/img8.jpg" class="thumbnail img-responsive" alt="img" />
                                                </a>
                                            </figure>
                                        </div>
                                    </div>
                                </div>
                            </article>
                            <article>
                                <div class="panel panel-success">
                                    <div class="panel-heading">
                                        <b>Equipando el centro de Información Virtual en la Tenencia de Riva Palacio .:. H. Ayuntamiento de San Lucas, Mich.</b>
                                    </div>
                                    <time datetime="2017-03-14" style="color:grey;text-align:justify;">
                                        publicado el martes, 14 de marzo de 2017.
                                    </time>
                                    <div class="panel-body">
                                        <p style="padding:20px; text-align:justify;">
                                            <b>
                                                Se llevó acabo la Entrega de 10 Computadoras Gestionadas por el Ing. Silvano Aureoles Conejo, Equipos que se Instalaran para el Centro de Computo de la Tenencia Vicente Riva Palacio del Municipio de San Lucas, Mich.
                                            </b>
                                        </p>
                                        <div class="col-md-1"></div>
                                        <div class="col-md-10">
                                            <figure>
                                                <a href="Libreria/img/2017/mar/centro_informatico/img1.jpg" target="_blank">
                                                    <img src="Libreria/img/2017/mar/centro_informatico/img1.jpg" class="thumbnail img-responsive" alt="img" />
                                                </a>
                                            </figure>
                                        </div>
                                        <div class="col-md-1"></div>
                                    </div>
                                </div>
                            </article>
                            <article>
                                <div class="panel panel-success">
                                    <div class="panel-heading">
                                        <b>Inauguranción de 2 Desayunadores Comunitarios .:. H. Ayuntamiento de San Lucas, Mich.</b>
                                    </div>
                                    <time datetime="2017-03-14" style="color:grey;text-align:justify;">
                                        publicado el martes, 14 de marzo de 2017.
                                    </time>
                                    <div class="panel-body">
                                        <p style="padding:20px; text-align:justify;">
                                            <b>
                                                Por Gestión del Presidente Municipal el C. Arturo Torres Aguirre, Ante la secretaria del Desarrollo Social se Inauguran 2 Desayunadores Comunitarios, En la Tenencia de Angao y en la Comunidad de Salguero con una Inversión de 150 Mil pesos en equipo Material y 60 Mil pesos en Abasto de Alimentos que sera Cada Mes, En Beneficio de más de 120 Personas.
                                            </b>
                                        </p>
                                        <div class="col-md-12">
                                            <figure>
                                                <a href="Libreria/img/2017/mar/comedores/img1.jpg" target="_blank">
                                                    <img src="Libreria/img/2017/mar/comedores/img1.jpg" class="thumbnail img-responsive" alt="img" />
                                                </a>
                                            </figure>
                                        </div>
                                        <div class="col-md-4">
                                            <figure>
                                                <a href="Libreria/img/2017/mar/comedores/img2.jpg" target="_blank">
                                                    <img src="Libreria/img/2017/mar/comedores/img2.jpg" class="thumbnail img-responsive" alt="img" />
                                                </a>
                                            </figure>
                                        </div>
                                        <div class="col-md-4">
                                            <figure>
                                                <a href="Libreria/img/2017/mar/comedores/img3.jpg" target="_blank">
                                                    <img src="Libreria/img/2017/mar/comedores/img3.jpg" class="thumbnail img-responsive" alt="img" />
                                                </a>
                                            </figure>
                                        </div>
                                        <div class="col-md-4">
                                            <figure>
                                                <a href="Libreria/img/2017/mar/comedores/img4.jpg" target="_blank">
                                                    <img src="Libreria/img/2017/mar/comedores/img4.jpg" class="thumbnail img-responsive" alt="img" />
                                                </a>
                                            </figure>
                                        </div>
                                    </div>
                                </div>
                            </article>
                            <article>
                                <div class="panel panel-success">
                                    <div class="panel-heading">
                                        <b>Segunda Campaña de Mastografia .:. H. Ayuntamiento de San Lucas, Mich.</b>
                                    </div>
                                    <time datetime="2017-03-21" style="color:grey;text-align:justify;">
                                        publicado el martes 14 de marzo del 2017.
                                    </time>
                                    <div class="panel-body">
                                        <p style="padding:20px; text-align:justify;">
                                            <b>
                                                El día martes 21 De Marzo del año 2017 a las 9:00 a.m., El H. ayuntamiento municipal quien Dirige el C. Arturo Torres Aguirre, a través de la Dirección de la Instancia de la Mujer y en coordinación del Centro de Salud realizó la Inauguración a la segunda Campaña de Mastografia.
                                            </b>
                                        </p>
                                        <div class="col-md-4">
                                            <figure>
                                                <a href="Libreria/img/2017/mar/segunda_campaña/img1.jpg" target="_blank">
                                                    <img src="Libreria/img/2017/mar/segunda_campaña/img1.jpg" class="thumbnail img-responsive" alt="img" />
                                                </a>
                                            </figure>
                                        </div>
                                        <div class="col-md-4">
                                            <figure>
                                                <a href="Libreria/img/2017/mar/segunda_campaña/img2.jpg" target="_blank">
                                                    <img src="Libreria/img/2017/mar/segunda_campaña/img2.jpg" class="thumbnail img-responsive" alt="img" />
                                                </a>
                                            </figure>
                                        </div>
                                        <div class="col-md-4">
                                            <figure>
                                                <a href="Libreria/img/2017/mar/segunda_campaña/img3.jpg" target="_blank">
                                                    <img src="Libreria/img/2017/mar/segunda_campaña/img3.jpg" class="thumbnail img-responsive" alt="img" />
                                                </a>
                                            </figure>
                                        </div>
                                    </div>
                                </div>
                            </article>
                            <article>
                                <div class="panel panel-success">
                                    <div class="panel-heading">
                                        <b>Ratreo y Ampliación con Dirección San Lucas hacia El Apartadero .:. H. Ayuntamiento de San Lucas, Mich.</b>
                                    </div>
                                    <time datetime="2017-03-24" style="color:grey;text-align:justify;">
                                        publicado el jueves 24 de marzo del 2017 .
                                    </time>
                                    <div class="panel-body">
                                        <p style="padding:20px; text-align:justify;">
                                            <b>
                                                El día jueves 23 de Marzo del año 2017, Se llevó acabo el Rastreo y Ampliación de camino de San Lucas con Dirección a El Apartadero, Beneficiando de igual forma las localidades El Voladero y El Pará.
                                            </b>
                                        </p>
                                        <div class="col-md-4">
                                            <figure>
                                                <a href="Libreria/img/2017/mar/san_lucas-apartadero/img1.jpg" target="_blank">
                                                    <img src="Libreria/img/2017/mar/san_lucas-apartadero/img1.jpg" class="thumbnail img-responsive" alt="img" />
                                                </a>
                                            </figure>
                                        </div>
                                        <div class="col-md-4">
                                            <figure>
                                                <a href="Libreria/img/2017/mar/san_lucas-apartadero/img2.jpg" target="_blank">
                                                    <img src="Libreria/img/2017/mar/san_lucas-apartadero/img2.jpg" class="thumbnail img-responsive" alt="img" />
                                                </a>
                                            </figure>
                                        </div>
                                        <div class="col-md-4">
                                            <figure>
                                                <a href="Libreria/img/2017/mar/san_lucas-apartadero/img3.jpg" target="_blank">
                                                    <img src="Libreria/img/2017/mar/san_lucas-apartadero/img3.jpg" class="thumbnail img-responsive" alt="img" />
                                                </a>
                                            </figure>
                                        </div>
                                    </div>
                                </div>
                            </article>
                            <article>
                                <div class="panel panel-success">
                                    <div class="panel-heading">
                                        <b>Segunda Campaña de Mastografias, Loc. Riva Palacio .:. H. Ayuntamiento de San Lucas, Mich.</b>
                                    </div>
                                    <time datetime="2017-03-28" style="color:grey;text-align:justify;">
                                        publicado el martes 28 de marzo del 2017.
                                    </time>
                                    <div class="panel-body">
                                        <p style="padding:20px; text-align:justify;">
                                            <b>
                                                El Día martes 28 de Marzo del 2017, el C. Arturo Torres Aguirre en Compañía con la C. Josefina Osorio Mondragonla Presidenta del Dif Municipal, el Secretario, Regidores y Directores del H. Ayuntamiento Municipal de San Lucas, Inauguran la Segunda Campaña de Mastografias en la Comunidad de Riva palacio, a Través de la Dirección de la Instancia de la Mujer en coordinación con el Centro de Salud.
                                            </b>
                                        </p>
                                        <div class="col-md-4">
                                            <figure>
                                                <a href="Libreria/img/2017/mar/mastografias/img1.jpg" target="_blank">
                                                    <img src="Libreria/img/2017/mar/mastografias/img1.jpg" class="thumbnail img-responsive" alt="img" />
                                                </a>
                                            </figure>
                                        </div>
                                        <div class="col-md-4">
                                            <figure>
                                                <a href="Libreria/img/2017/mar/mastografias/img2.jpg" target="_blank">
                                                    <img src="Libreria/img/2017/mar/mastografias/img2.jpg" class="thumbnail img-responsive" alt="img" />
                                                </a>
                                            </figure>
                                        </div>
                                        <div class="col-md-4">
                                            <figure>
                                                <a href="Libreria/img/2017/mar/mastografias/img3.jpg" target="_blank">
                                                    <img src="Libreria/img/2017/mar/mastografias/img3.jpg" class="thumbnail img-responsive" alt="img" />
                                                </a>
                                            </figure>
                                        </div>
                                    </div>
                                </div>
                            </article>
                            <article>
                                <div class="panel panel-success">
                                    <div class="panel-heading">
                                        <b>Producción de Tilapia e Incrementar la Reproducción.:. H. Ayuntamiento de San Lucas, Mich.</b>
                                    </div>
                                    <time datetime="2017-03-28" style="color:grey;text-align:justify;">
                                        publicado el martes 28 de marzo del 2017.
                                    </time>
                                    <div class="panel-body">
                                        <p style="padding:20px; text-align:justify;">
                                            <b>
                                                El día miércoles 29 de marzo del 2017. Con el objetivo de Impulsar la Producción de Tilapia e Incrementar la Reproducción, el Presidente Municipal el C. Arturo Torres Aguirre, entregó en el Municipio de San Lucas y otros lugares, el apoyo de Programa Convenidos con la SAGARPA y COMPESCA para el cultivo de crías de 10,000 mil alvines de Manera Intensiva del Sector Acuicola, en Beneficio Directo de 800 Productores, y sus Familias, en las Diversas Comunidades de la Cabecera Municipal como Son;<br/><br/>La Presa de Ceiba Seca, Salguero, San Lucas, Riva Palacio y Los Bancos, donde estuvieron presentes diversas autoridades como son la regidora de asuntos agropecuarios, pesca y asuntos indígenas, la C. Nereyda Estrada, así como la presencia de la Tesorera Lic. Margarita Elia Olvera, la directora de desarrollo rural la Ing. Vanessa Baltazar Rodríguez y los productores beneficiados.<br/><br/>
                                                Asimismo, algunos de los productores beneficiados del municipio de San Lucas, Michoacán, expresaron su alegría y gratitud al obtener el apoyo de los alevines ya que será de suma importancia para producción de la región.<br/><br/>
                                                Un compromiso más cumplido por el C. Arturo Torres Aguirre.
                                            </b>
                                        </p>
                                        <div class="col-md-6">
                                            <figure>
                                                <a href="Libreria/img/2017/mar/produccion_tilapia/img1.jpg" target="_blank">
                                                    <img src="Libreria/img/2017/mar/produccion_tilapia/img1.jpg" class="thumbnail img-responsive" alt="img" />
                                                </a>
                                            </figure>
                                        </div>
                                        <div class="col-md-6">
                                            <figure>
                                                <a href="Libreria/img/2017/mar/produccion_tilapia/img2.jpg" target="_blank">
                                                    <img src="Libreria/img/2017/mar/produccion_tilapia/img2.jpg" class="thumbnail img-responsive" alt="img" />
                                                </a>
                                            </figure>
                                        </div>
                                    </div>
                                </div>
                            </article>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3"><!-- Barra lateral -->
            <aside>
                <?php 
                    include "Vista/main.phtml";
                    include "Vista/submenu.phtml";
                ?>
            </aside>
        </div><!-- end BL -->
    </div>
</section>
