<section>
    <div class="row">
        <div class="col-md-9">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h1 style="font-size: xx-large;"><b>Eventos Realizados el Mes de Diciembre 2016</b></h1>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            <article>
                                <div class="panel panel-success">
                                    <div class="panel-heading">
                                        <b>Banderazo de Arranque de Obra de Reencarpetamiento de Concreto .:. H. Ayuntamiento de San Lucas, Mich.</b>
                                    </div>
                                    <time datetime="2016-12-22" style="color: grey; text-align: justify;">
                                        publicado jueves, 22 de diciembre de 2016.
                                    </time>
                                    <div class="panel-body">
                                        <div class="row">
                                            <p style="padding: 20px; text-align: justify;">
                                                <b>El día Miércoles 21 de Diciembre de 2016, El C. Arturo Torres Aguirre Llevó a cabo el Banderazo de Arranque de Obra en la Comunidad de Santa Cruz para el Reencarpetamiento de Concreto Asfáltico en Carretera Federal - Santa Cruz de Villa Gómez, la Meta es de 1KM. Beneficiando Aproximadamente a 600 Personas.</b>
                                            </p>
                                            <div class="col-md-3">
                                                <figure>
                                                    <a href="Libreria/img/2016/dic/santa_cruz_reencarpetamiento/img1.jpg" target="_blank">
                                                        <img src="Libreria/img/2016/dic/santa_cruz_reencarpetamiento/img1.jpg" class="thumbnail img-responsive" alt="img" />
                                                    </a>
                                                </figure>
                                            </div>
                                            <div class="col-md-3">
                                                <figure>
                                                    <a href="Libreria/img/2016/dic/santa_cruz_reencarpetamiento/img2.jpg" target="_blank">
                                                        <img src="Libreria/img/2016/dic/santa_cruz_reencarpetamiento/img2.jpg" class="thumbnail img-responsive" alt="img" />
                                                    </a>
                                                </figure>
                                            </div>
                                            <div class="col-md-3">
                                                <figure>
                                                    <a href="Libreria/img/2016/dic/santa_cruz_reencarpetamiento/img3.jpg" target="_blank">
                                                        <img src="Libreria/img/2016/dic/santa_cruz_reencarpetamiento/img3.jpg" class="thumbnail img-responsive" alt="img" />
                                                    </a>
                                                </figure>
                                            </div>
                                            <div class="col-md-3">
                                                <figure>
                                                    <a href="Libreria/img/2016/dic/santa_cruz_reencarpetamiento/img4.jpg" target="_blank">
                                                        <img src="Libreria/img/2016/dic/santa_cruz_reencarpetamiento/img4.jpg" class="thumbnail img-responsive" alt="img" />
                                                    </a>
                                                </figure>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </article>
                            <article>
                                <div class="panel panel-success">
                                    <div class="panel-heading">
                                        <b>Congregación Mariana Trinitaria en Apoyo del Programa TECHUMBRE .:. H. Ayuntamiento de San Lucas, Mich.</b>
                                    </div>
                                    <time datetime="2016-12-29" style="color: grey; text-align: justify;">
                                        Publicado jueves, 29 de diciembre de 2016.
                                    </time>
                                    <div class="panel-body">
                                        <div class="row">
                                            <p style="padding: 20px; text-align: justify;">
                                                <b>Grupos de Localidades de El cuajilote y Characharando del Municipio de San Lucas Michoacán a Través de Gestión de C. Arturo Torres Aguirre, Realizan Solicitud ante Congregación Mariana Trinitaria para Apoyo del Programa TECHUMBRE en Beneficio de 60 Familias.</b>
                                            </p>
                                            <div class="col-md-4">
                                                <figure>
                                                    <a href="Libreria/img/2016/dic/mariana_trinitaria/img1.jpg" target="_blank">
                                                        <img src="Libreria/img/2016/dic/mariana_trinitaria/img1.jpg" class="thumbnail img-responsive" alt="img" />
                                                    </a>
                                                </figure>
                                            </div>
                                            <div class="col-md-4">
                                                <figure>
                                                    <a href="Libreria/img/2016/dic/mariana_trinitaria/img2.jpg" target="_blank">
                                                        <img src="Libreria/img/2016/dic/mariana_trinitaria/img2.jpg" class="thumbnail img-responsive" alt="img" />
                                                    </a>
                                                </figure>
                                            </div>
                                            <div class="col-md-4">
                                                <figure>
                                                    <a href="Libreria/img/2016/dic/mariana_trinitaria/img3.jpg" target="_blank">
                                                        <img src="Libreria/img/2016/dic/mariana_trinitaria/img3.jpg" class="thumbnail img-responsive" alt="img" />
                                                    </a>
                                                </figure>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </article>
                            <article>
                                <div class="panel panel-success">
                                    <div class="panel-heading">
                                        <b>Inauguración de Obra de Reencarpetamiento de Concreto .:. H. Ayuntamiento de San Lucas, Mich.</b>
                                    </div>
                                    <time datetime="2016-12-29" style="color: grey; text-align: justify;">
                                        publicado jueves, 29 de diciembre de 2016.
                                    </time>
                                    <div class="panel-body">
                                        <div class="row">
                                            <p style="padding: 20px; text-align: justify;">
                                                <b>El Día 29 de Diciembre de 2016 el C. Arturo Torres Aguirre Llevó acabo la Inauguración en la Comunidad de Santa Cruz de 1Km de la Carretera Federal - Santa Cruz de Villa Gomez.</b>
                                            </p>
                                            <div class="col-md-3">
                                                <figure>
                                                    <a href="Libreria/img/2016/dic/inauguracion_santa_cruz_reencarpetamiento/img1.jpg" target="_blank">
                                                        <img src="Libreria/img/2016/dic/inauguracion_santa_cruz_reencarpetamiento/img1.jpg" class="thumbnail img-responsive" alt="img" />
                                                    </a>
                                                </figure>
                                            </div>
                                            <div class="col-md-3">
                                                <figure>
                                                    <a href="Libreria/img/2016/dic/inauguracion_santa_cruz_reencarpetamiento/img2.jpg" target="_blank">
                                                        <img src="Libreria/img/principal/inauguracion_santa_cruz_reencarpetamiento/img2.jpg" class="thumbnail img-responsive" alt="img" />
                                                    </a>
                                                </figure>
                                            </div>
                                            <div class="col-md-3">
                                                <figure>
                                                    <a href="Libreria/img/2016/dic/inauguracion_santa_cruz_reencarpetamiento/img3.jpg" target="_blank">
                                                        <img src="Libreria/img/2016/dic/inauguracion_santa_cruz_reencarpetamiento/img3.jpg" class="thumbnail img-responsive" alt="img" />
                                                    </a>
                                                </figure>
                                            </div>
                                            <div class="col-md-3">
                                                <figure>
                                                    <a href="Libreria/img/2016/dic/inauguracion_santa_cruz_reencarpetamiento/img4.jpg" target="_blank">
                                                        <img src="Libreria/img/2016/dic/inauguracion_santa_cruz_reencarpetamiento/img4.jpg" class="thumbnail img-responsive" alt="img" />
                                                    </a>
                                                </figure>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </article>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3"><!-- Barra lateral -->
            <aside>
                <?php 
                    include "Vista/main.phtml";
                    include "Vista/submenu.phtml";
                ?>
            </aside>
        </div><!-- end BL -->
    </div>
</section>
