<section>
    <div class="row">
        <div class="col-md-9">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h1 style="font-size: xx-large;"><b>Eventos Realizados el Mes de Julio 2017</b></h1>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            <article>
                                <div class="panel panel-success">
                                    <div class="panel-heading">
                                        <b>Continúan Limpieza y Desbroce de Cunetas .:. H. Ayuntamiento de San Lucas, Mich.</b>
                                    </div>
                                    <time datetime="2017-07-05" style="color:grey;text-align:justify;">
                                        publicado el miércoles 5 de julio de 2017.
                                    </time>
                                    <div class="panel-body">
                                        <p style="padding:20px; text-align:justify;">
                                            <b>
                                                Continúan trabajos de limpieza y desbroce de cunetas y bacheo en carretera San Lucas- Angao.
                                            </b>
                                        </p>
                                        <div class="col-lg-4">
                                            <figure>
                                                <a href="Libreria/img/2017/jul/limpieza/img1.jpg" target="_blank">
                                                    <img src="Libreria/img/2017/jul/limpieza/img1.jpg" class="thumbnail img-responsive" alt="img" />
                                                </a>
                                            </figure>
                                        </div>
                                        <div class="col-lg-4">
                                            <figure>
                                                <a href="Libreria/img/2017/jul/limpieza/img2.jpg" target="_blank">
                                                    <img src="Libreria/img/2017/jul/limpieza/img2.jpg" class="thumbnail img-responsive" alt="img" />
                                                </a>
                                            </figure>
                                        </div>
                                        <div class="col-lg-4">
                                            <figure>
                                                <a href="Libreria/img/2017/jul/limpieza/img3.jpg" target="_blank">
                                                    <img src="Libreria/img/2017/jul/limpieza/img3.jpg" class="thumbnail img-responsive" alt="img" />
                                                </a>
                                            </figure>
                                        </div>
                                    </div>
                                </div>
                            </article>
                            <article>
                                <div class="panel panel-success">
                                    <div class="panel-heading">
                                        <b>Ciclo Escolar de Colectivo Pedagógico .:. H. Ayuntamiento de San Lucas, Mich.</b>
                                    </div>
                                    <time datetime="2017-07-05" style="color:grey;text-align:justify;">
                                        publicado el miércoles 5 de julio de 2017.
                                    </time>
                                    <div class="panel-body">
                                        <p style="padding:20px; text-align:justify;">
                                            <b>
                                                Asiste C. Arturo Torres Aguirre a Clausura de trabajos realizados durante ciclo escolar de Colectivo Pedagógico de zona 131 de Riva Palacio.
                                            </b>
                                        </p>
                                        <div class="col-lg-4">
                                            <figure>
                                                <a href="Libreria/img/2017/jul/ciclo/img1.jpg" target="_blank">
                                                    <img src="Libreria/img/2017/jul/ciclo/img1.jpg" class="thumbnail img-responsive" alt="img" />
                                                </a>
                                            </figure>
                                        </div>
                                        <div class="col-lg-4">
                                            <figure>
                                                <a href="Libreria/img/2017/jul/ciclo/img2.jpg" target="_blank">
                                                    <img src="Libreria/img/2017/jul/ciclo/img2.jpg" class="thumbnail img-responsive" alt="img" />
                                                </a>
                                            </figure>
                                        </div>
                                        <div class="col-lg-4">
                                            <figure>
                                                <a href="Libreria/img/2017/jul/ciclo/img3.jpg" target="_blank">
                                                    <img src="Libreria/img/2017/jul/ciclo/img3.jpg" class="thumbnail img-responsive" alt="img" />
                                                </a>
                                            </figure>
                                        </div>
                                    </div>
                                </div>
                            </article>
                            <article>
                                <div class="panel panel-success">
                                    <div class="panel-heading">
                                        <b>Vacunas Contra la Enfermedad de las Aves .:. H. Ayuntamiento de San Lucas, Mich.</b>
                                    </div>
                                    <time datetime="2017-07-05" style="color:grey;text-align:justify;">
                                        publicado el miércoles 5 de julio de 201    7.
                                    </time>
                                    <div class="panel-body">
                                        <p style="padding:20px; text-align:justify;">
                                            <b>
                                                H. Ayuntamiento de San Lucas a través del Departamento de Desarrollo Rural pone a disposición de publico en general de forma gratuita,Vacunas contra la enfermedad de Newcastle de las aves.
                                            </b>
                                        </p>
                                        <div class="col-lg-2"></div>
                                        <div class="col-lg-8">
                                            <figure>
                                                <a href="Libreria/img/2017/jul/vacunas/img1.jpg" target="_blank">
                                                    <img src="Libreria/img/2017/jul/vacunas/img1.jpg" class="thumbnail img-responsive" alt="img" />
                                                </a>
                                            </figure>
                                        </div>
                                        <div class="col-lg-2"></div>
                                    </div>
                                </div>
                            </article>
                            <article>
                                <div class="panel panel-success">
                                    <div class="panel-heading">
                                        <b>Se Hace Entrega de 80 Tons. para Productores .:. H. Ayuntamiento de San Lucas, Mich.</b>
                                    </div>
                                    <time datetime="2017-07-07" style="color:grey;text-align:justify;">
                                        publicado el viernes 7 de julio de 2017.
                                    </time>
                                    <div class="panel-body">
                                        <p style="padding:20px; text-align:justify;">
                                            <b>
                                                Se hace entrega de 80 Tons. de mejorador de suelo humificado,a productores de localidades de municipio de San Lucas. El C. Arturo Torres Aguirre,acompañado por Regidora de Asuntos Agropecuarios C. Nereyda Estrada y directora de Departamento de Desarrollo Rural, Ing. Vanessa Baltazar Rodriguez,resaltó que la entrega de apoyos se realiza con el fin de mejorar las cosechas de los productores y fortalecer al campo para que sea más competitivo, sano y generador de mayores ingresos económicos para las familias.
                                            </b>
                                        </p>
                                        <div class="col-lg-4">
                                            <figure>
                                                <a href="Libreria/img/2017/jul/desarrollo/img1.jpg" target="_blank">
                                                    <img src="Libreria/img/2017/jul/desarrollo/img1.jpg" class="thumbnail img-responsive" alt="img" />
                                                </a>
                                            </figure>
                                        </div>
                                        <div class="col-lg-4">
                                            <figure>
                                                <a href="Libreria/img/2017/jul/desarrollo/img2.jpg" target="_blank">
                                                    <img src="Libreria/img/2017/jul/desarrollo/img2.jpg" class="thumbnail img-responsive" alt="img" />
                                                </a>
                                            </figure>
                                        </div>
                                        <div class="col-lg-4">
                                            <figure>
                                                <a href="Libreria/img/2017/jul/desarrollo/img3.jpg" target="_blank">
                                                    <img src="Libreria/img/2017/jul/desarrollo/img3.jpg" class="thumbnail img-responsive" alt="img" />
                                                </a>
                                            </figure>
                                        </div>
                                    </div>
                                </div>
                            </article>
                            <article>
                                <div class="panel panel-success">
                                    <div class="panel-heading">
                                        <b>Corte de Liston de Techado Estructurado .:. H. Ayuntamiento de San Lucas, Mich.</b>
                                    </div>
                                    <time datetime="2017-07-07" style="color:grey;text-align:justify;">
                                        publicado el viernes 7 de julio de 2017.
                                    </time>
                                    <div class="panel-body">
                                        <p style="padding:20px; text-align:justify;">
                                            <b>
                                                Con emotivo acto se realizó el corte de liston de Techo estructural en Esc. Prim. Lazaro Cardenas de la localidad de El Huizachal, encabezado por C. Arturo Torres Aguirre acompañado por cuerpo de regidores, comunidad estudiantil, maestros y habitantes de la localidad.
                                            </b>
                                        </p>
                                        <div class="col-lg-4">
                                            <figure>
                                                <a href="Libreria/img/2017/jul/techado/img1.jpg" target="_blank">
                                                    <img src="Libreria/img/2017/jul/techado/img1.jpg" class="thumbnail img-responsive" alt="img" />
                                                </a>
                                            </figure>
                                        </div>
                                        <div class="col-lg-4">
                                            <figure>
                                                <a href="Libreria/img/2017/jul/techado/img2.jpg" target="_blank">
                                                    <img src="Libreria/img/2017/jul/techado/img2.jpg" class="thumbnail img-responsive" alt="img" />
                                                </a>
                                            </figure>
                                        </div>
                                        <div class="col-lg-4">
                                            <figure>
                                                <a href="Libreria/img/2017/jul/techado/img3.jpg" target="_blank">
                                                    <img src="Libreria/img/2017/jul/techado/img3.jpg" class="thumbnail img-responsive" alt="img" />
                                                </a>
                                            </figure>
                                        </div>
                                    </div>
                                </div>
                            </article>
                            <article>
                                <div class="panel panel-success">
                                    <div class="panel-heading">
                                        <b>Arranque de Obra en Cuauhtemoc .:. H. Ayuntamiento de San Lucas, Mich.</b>
                                    </div>
                                    <time datetime="2017-07-10" style="color:grey;text-align:justify;">
                                        publicado el lunes 10 de julio de 2017.
                                    </time>
                                    <div class="panel-body">
                                        <p style="padding:20px; text-align:justify;">
                                            <b>
                                                En localidad de Cuauhtemoc el C. Arturo Torres Aguirre dio banderazo de arranque de obra de Construcción de campo de Futbol Soccer, en compañia de regidores, directores y habitantes de dicha localidad.
                                            </b>
                                        </p>
                                        <div class="col-lg-4">
                                            <figure>
                                                <a href="Libreria/img/2017/jul/futbol_soccer/img1.jpg" target="_blank">
                                                    <img src="Libreria/img/2017/jul/futbol_soccer/img1.jpg" class="thumbnail img-responsive" alt="img" />
                                                </a>
                                            </figure>
                                        </div>
                                        <div class="col-lg-4">
                                            <figure>
                                                <a href="Libreria/img/2017/jul/futbol_soccer/img2.jpg" target="_blank">
                                                    <img src="Libreria/img/2017/jul/futbol_soccer/img2.jpg" class="thumbnail img-responsive" alt="img" />
                                                </a>
                                            </figure>
                                        </div>
                                        <div class="col-lg-4">
                                            <figure>
                                                <a href="Libreria/img/2017/jul/futbol_soccer/img3.jpg" target="_blank">
                                                    <img src="Libreria/img/2017/jul/futbol_soccer/img3.jpg" class="thumbnail img-responsive" alt="img" />
                                                </a>
                                            </figure>
                                        </div>
                                    </div>
                                </div>
                            </article>
                            <article>
                                <div class="panel panel-success">
                                    <div class="panel-heading">
                                        <b>Presentación del Responsable de Casa de Salud .:. H. Ayuntamiento de San Lucas, Mich.</b>
                                    </div>
                                    <time datetime="2017-07-10" style="color:grey;text-align:justify;">
                                        publicado el lunes 10 de julio de 2017.
                                    </time>
                                    <div class="panel-body">
                                        <p style="padding:20px; text-align:justify;">
                                            <b>
                                                Fue presentado en la comunidad de Salguero el Doc. Jexzael Sanchez como responsable de Casa de Salud, esto como respuesta a la exigencia de la localidad, toda vez que es la 3era población mas grande del municipio después de Riva Palacio y San Lucas, estos servicios serán cubiertos por gobierno municipal de San Lucas.
                                            </b>
                                        </p>
                                        <div class="col-lg-4">
                                            <figure>
                                                <a href="Libreria/img/2017/jul/salud/img1.jpg" target="_blank">
                                                    <img src="Libreria/img/2017/jul/salud/img1.jpg" class="thumbnail img-responsive" alt="img" />
                                                </a>
                                            </figure>
                                        </div>
                                        <div class="col-lg-4">
                                            <figure>
                                                <a href="Libreria/img/2017/jul/salud/img2.jpg" target="_blank">
                                                    <img src="Libreria/img/2017/jul/salud/img2.jpg" class="thumbnail img-responsive" alt="img" />
                                                </a>
                                            </figure>
                                        </div>
                                        <div class="col-lg-4">
                                            <figure>
                                                <a href="Libreria/img/2017/jul/salud/img3.jpg" target="_blank">
                                                    <img src="Libreria/img/2017/jul/salud/img3.jpg" class="thumbnail img-responsive" alt="img" />
                                                </a>
                                            </figure>
                                        </div>
                                    </div>
                                </div>
                            </article>
                            <article>
                                <div class="panel panel-success">
                                    <div class="panel-heading">
                                        <b>Informe Trimestral 2017 .:. H. Ayuntamiento de San Lucas, Mich.</b>
                                    </div>
                                    <time datetime="2017-07-14" style="color:grey;text-align:justify;">
                                        publicado el viernes 14 de julio de 2017.
                                    </time>
                                    <div class="panel-body">
                                        <p style="padding:20px; text-align:justify;">
                                            <b>
                                                Publicación de Informes Trimestrales de Obra Publica 2017, del Fondo de Aportaciones para Infraestructura Social.
                                            </b>
                                        </p>
                                        <div class="col-lg-6">
                                            <figure>
                                                <a href="Libreria/img/2017/jul/trimestral/img1.jpg" target="_blank">
                                                    <img src="Libreria/img/2017/jul/trimestral/img1.jpg" class="thumbnail img-responsive" alt="img" />
                                                </a>
                                            </figure>
                                        </div>
                                        <div class="col-lg-6">
                                            <figure>
                                                <a href="Libreria/img/2017/jul/trimestral/img2.jpg" target="_blank">
                                                    <img src="Libreria/img/2017/jul/trimestral/img2.jpg" class="thumbnail img-responsive" alt="img" />
                                                </a>
                                            </figure>
                                        </div>
                                    </div>
                                </div>
                            </article>
                            <article>
                                <div class="panel panel-success">
                                    <div class="panel-heading">
                                        <b>Reclutamiento de Gobierno del Estado de MIchoacan de Ocampo .:. H. Ayuntamiento de San Lucas, Mich.</b>
                                    </div>
                                    <time datetime="2017-07-19" style="color:grey;text-align:justify;">
                                        publicado el miércoles 19 de julio de 2017.
                                    </time>
                                    <div class="panel-body">
                                        <p style="padding:20px; text-align:justify;">
                                            <b>
                                                El Gobierno del Estado de MIchoacán de Ocampo convoca a través de la Secretaria de Seguridad Pública.
                                                Súmate a la nueva Policía Michoacán 
                                                Inicia reclutamiento para ingresar a Policía Michoacán en San Lucas.
                                                Para mayor información en modulo instalado en Zócalo 2017/jul.
                                                La Capacitación será en el Subcentro Región Huetamo. Edad 18 a 40 años, Candidatos ambos sexos.
                                            </b>
                                        </p>
                                        <div class="col-lg-6">
                                            <figure>
                                                <a href="Libreria/img/2017/jul/seguridad_publica/img1.jpg" target="_blank">
                                                    <img src="Libreria/img/2017/jul/seguridad_publica/img1.jpg" class="thumbnail img-responsive" alt="img" />
                                                </a>
                                            </figure>
                                        </div>
                                        <div class="col-lg-6">
                                            <figure>
                                                <a href="Libreria/img/2017/jul/seguridad_publica/img2.jpg" target="_blank">
                                                    <img src="Libreria/img/2017/jul/seguridad_publica/img2.jpg" class="thumbnail img-responsive" alt="img" />
                                                </a>
                                            </figure>
                                        </div>
                                    </div>
                                </div>
                            </article>
                            <article>
                                <div class="panel panel-success">
                                    <div class="panel-heading">
                                        <b>Culminación de Trabajo Asfáltico en Carretera .:. H. Ayuntamiento de San Lucas, Mich.</b>
                                    </div>
                                    <time datetime="2017-07-19" style="color:grey;text-align:justify;">
                                        publicado el miércoles 19 de julio de 2017.
                                    </time>
                                    <div class="panel-body">
                                        <p style="padding:20px; text-align:justify;">
                                            <b>
                                                Culminan trabajos de bacheo y tendido de carpeta asfáltica en carretera San Lucas - Corral Viejo - Tirinchicuas - Angao, con una inversion de $829,988.30 y una cobertura de beneficio de 11 comunidades de la region norte del municipio.
                                            </b>
                                        </p>
                                        <div class="col-lg-4">
                                            <figure>
                                                <a href="Libreria/img/2017/jul/asfaltico_carretero/img1.jpg" target="_blank">
                                                    <img src="Libreria/img/2017/jul/asfaltico_carretero/img1.jpg" class="thumbnail img-responsive" alt="img" />
                                                </a>
                                            </figure>
                                        </div>
                                        <div class="col-lg-4">
                                            <figure>
                                                <a href="Libreria/img/2017/jul/asfaltico_carretero/img2.jpg" target="_blank">
                                                    <img src="Libreria/img/2017/jul/asfaltico_carretero/img2.jpg" class="thumbnail img-responsive" alt="img" />
                                                </a>
                                            </figure>
                                        </div>
                                        <div class="col-lg-4">
                                            <figure>
                                                <a href="Libreria/img/2017/jul/asfaltico_carretero/img3.jpg" target="_blank">
                                                    <img src="Libreria/img/2017/jul/asfaltico_carretero/img3.jpg" class="thumbnail img-responsive" alt="img" />
                                                </a>
                                            </figure>
                                        </div>
                                    </div>
                                </div>
                            </article>
                            <article>
                                <div class="panel panel-success">
                                    <div class="panel-heading">
                                        <b>Entrega de Bombas Manuales de Fumigar .:. H. Ayuntamiento de San Lucas, Mich.</b>
                                    </div>
                                    <time datetime="2017-07-21" style="color:grey;text-align:justify;">
                                        publicado el viernes 21 de julio de 2017.
                                    </time>
                                    <div class="panel-body">
                                        <p style="padding:20px; text-align:justify;">
                                            <b>
                                                El día viernes 21 de julio de 2017, el C. Arturo Torres Aguirre en compañía de Regidores y Directores de H. Ayuntamiento de San Lucas, hace entrega de 385 Bombas manuales para fumigar, 10 y 15 lts, en atención a gestión realizada por Departamento Rural para beneficiar a productores del municipio.
                                            </b>
                                        </p>
                                        <div class="col-lg-4">
                                            <figure>
                                                <a href="Libreria/img/2017/jul/bombas_fumigar/img1.jpg" target="_blank">
                                                    <img src="Libreria/img/2017/jul/bombas_fumigar/img1.jpg" class="thumbnail img-responsive" alt="img" />
                                                </a>
                                            </figure>
                                        </div>
                                        <div class="col-lg-4">
                                            <figure>
                                                <a href="Libreria/img/2017/jul/bombas_fumigar/img2.jpg" target="_blank">
                                                    <img src="Libreria/img/2017/jul/bombas_fumigar/img2.jpg" class="thumbnail img-responsive" alt="img" />
                                                </a>
                                            </figure>
                                        </div>
                                        <div class="col-lg-4">
                                            <figure>
                                                <a href="Libreria/img/2017/jul/bombas_fumigar/img3.jpg" target="_blank">
                                                    <img src="Libreria/img/2017/jul/bombas_fumigar/img3.jpg" class="thumbnail img-responsive" alt="img" />
                                                </a>
                                            </figure>
                                        </div>
                                    </div>
                                </div>
                            </article>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3"><!-- Barra lateral -->
            <aside>
                <?php 
                    include "Vista/main.phtml";
                    include "Vista/submenu.phtml";
                ?>
            </aside>
        </div><!-- end BL -->
    </div>
</section>
