<section>
    <div class="row">
        <div class="col-md-9">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h1 style="font-size: xx-large;"><b>Eventos Realizados el Mes de Enero 2017</b></h1>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            <article>
                                <div class="panel-heading">
                                    <b>Festejo de Día del Niño en Localidades que conforman el municpio de San Lucas .:. H. Ayuntamiento de San Lucas, Mich.</b>
                                </div>
                                <time datetime="2017-01-09" style="color: grey; text-align: justify;">
                                    publicado lunes, 9 de enero de 2017.
                                </time>
                                <div class="panel-body">
                                    <div class="row">
                                        <p style="padding: 20px; text-align: justify;">
                                            <b>El Día 6 de Enero se Llevó acabo la Entrega de Juguetes y un Pequeño Refrigerio a Todos los Niños en las Distintas Comunidades del Municipio de San Lucas, Gracias al C. Arturo Torres Aguirre que en Coordinación con el Personal del H. Ayuntamiento se Realizó la Actividad de entrega de juguetes.</b>
                                        </p>
                                        <div class="col-md-4">
                                            <figure>
                                                <a href="Libreria/img/2017/ene/reyes_magos_2017/img1.jpg" target="_blank">
                                                    <img src="Libreria/img/2017/ene/reyes_magos_2017/img1.jpg" class="thumbnail img-responsive" alt="img" />
                                                </a>
                                            </figure>
                                        </div>
                                        <div class="col-md-4">
                                            <figure>
                                                <a href="Libreria/img/2017/ene/reyes_magos_2017/img2.jpg" target="_blank">
                                                    <img src="Libreria/img/2017/ene/reyes_magos_2017/img2.jpg" class="thumbnail img-responsive" alt="img" />
                                                </a>
                                            </figure>
                                        </div>
                                        <div class="col-md-4">
                                            <figure>
                                                <a href="Libreria/img/2017/ene/reyes_magos_2017/img3.jpg" target="_blank">
                                                    <img src="Libreria/img/2017/ene/reyes_magos_2017/img3.jpg" class="thumbnail img-responsive" alt="img" />
                                                </a>
                                            </figure>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <figure>
                                                <a href="Libreria/img/2017/ene/reyes_magos_2017/img4.jpg" target="_blank">
                                                    <img src="Libreria/img/2017/ene/reyes_magos_2017/img4.jpg" class="thumbnail img-responsive" alt="img" />
                                                </a>
                                            </figure>
                                        </div>
                                        <div class="col-md-4">
                                            <figure>
                                                <a href="Libreria/img/2017/ene/reyes_magos_2017/img5.jpg" target="_blank">
                                                    <img src="Libreria/img/2017/ene/reyes_magos_2017/img5.jpg" class="thumbnail img-responsive" alt="img" />
                                                </a>
                                            </figure>
                                        </div>
                                        <div class="col-md-4">
                                            <figure>
                                                <a href="Libreria/img/2017/ene/reyes_magos_2017/img6.jpg" target="_blank">
                                                    <img src="Libreria/img/2017/ene/reyes_magos_2017/img6.jpg" class="thumbnail img-responsive" alt="img" />
                                                </a>
                                            </figure>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <figure>
                                                <a href="Libreria/img/2017/ene/reyes_magos_2017/img7.jpg" target="_blank">
                                                    <img src="Libreria/img/2017/ene/reyes_magos_2017/img7.jpg" class="thumbnail img-responsive" alt="img" />
                                                </a>
                                            </figure>
                                        </div>
                                        <div class="col-md-4">
                                            <figure>
                                                <a href="Libreria/img/2017/ene/reyes_magos_2017/img8.jpg" target="_blank">
                                                    <img src="Libreria/img/2017/ene/reyes_magos_2017/img8.jpg" class="thumbnail img-responsive" alt="img" />
                                                </a>
                                            </figure>
                                        </div>
                                        <div class="col-md-4">
                                            <figure>
                                                <a href="Libreria/img/2017/ene/reyes_magos_2017/img9.jpg" target="_blank">
                                                    <img src="Libreria/img/2017/ene/reyes_magos_2017/img9.jpg" class="thumbnail img-responsive" alt="img" />
                                                </a>
                                            </figure>
                                        </div>
                                    </div>
                                </div>    
                            </article>
                            <article>
                                <div class="panel panel-success">
                                    <div class="panel-heading">
                                        <b>Evento de 92° Aniversario de San Lucas .:. H. Ayuntamiento de San Lucas, Mich.</b>
                                    </div>
                                    <time datetime="2016-01-13" style="color: grey; text-align: justify;">
                                        publicado viernes, 13 de enero de 2017.
                                    </time>
                                    <div class="panel-body">
                                        <div class="row">
                                            <p style="padding: 20px; text-align: justify;">
                                                <b>El Día Viernes 13 de Enero 2017, Se Realizó un Acto Cívico - Social con Motivo del 92 Aniversario en que la Tenencía de San lucas fue Elevada a Rango Constitucional de Municipio. Donde Asistieron Diferentes Entidades Educativas, Dif Municipal, Regidores, Sindico, Secretario y Trabajadores del H. Ayuntamiento.</b>
                                            </p>
                                            <div class="col-md-4">
                                                <figure>
                                                    <a href="Libreria/img/2017/ene/92_aniversario/img1.jpg" target="_blank">
                                                        <img src="Libreria/img/2017/ene/92_aniversario/img1.jpg" class="thumbnail img-responsive" alt="img" />
                                                    </a>
                                                </figure>
                                            </div>
                                            <div class="col-md-4">
                                                <figure>
                                                    <a href="Libreria/img/2017/ene/92_aniversario/img2.jpg" target="_blank">
                                                        <img src="Libreria/img/2017/ene/92_aniversario/img2.jpg" class="thumbnail img-responsive" alt="img" />
                                                    </a>
                                                </figure>
                                            </div>
                                            <div class="col-md-4">
                                                <figure>
                                                    <a href="Libreria/img/2017/ene/92_aniversario/img3.jpg" target="_blank">
                                                        <img src="Libreria/img/2017/ene/92_aniversario/img3.jpg" class="thumbnail img-responsive" alt="img" />
                                                    </a>
                                                </figure>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <figure>
                                                    <a href="Libreria/img/2017/ene/92_aniversario/img4.jpg" target="_blank">
                                                        <img src="Libreria/img/2017/ene/92_aniversario/img4.jpg" class="thumbnail img-responsive" alt="img" />
                                                    </a>
                                                </figure>
                                            </div>
                                            <div class="col-md-4">
                                                <figure>
                                                    <a href="Libreria/img/2017/ene/92_aniversario/img5.jpg" target="_blank">
                                                        <img src="Libreria/img/2017/ene/92_aniversario/img5.jpg" class="thumbnail img-responsive" alt="img" />
                                                    </a>
                                                </figure>
                                            </div>
                                            <div class="col-md-4">
                                                <figure>
                                                    <a href="Libreria/img/2017/ene/92_aniversario/img6.jpg" target="_blank">
                                                        <img src="Libreria/img/2017/ene/92_aniversario/img6.jpg" class="thumbnail img-responsive" alt="img" />
                                                    </a>
                                                </figure>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </article>
                            <article>
                                <div class="panel panel-success">
                                    <div class="panel-heading">
                                        <b>Arranque de Obra para Construcción de Auditorio Municipal .:. H. Ayuntamiento de San Lucas, Mich.</b>
                                    </div>
                                    <time datetime="2016-01-16" style="color: grey; text-align: justify;">
                                        publicado lunes, 16 de enero de 2017.
                                    </time>
                                    <div class="panel-body">
                                        <div class="row">
                                            <p style="padding: 20px; text-align: justify;">
                                                <b>El Día Viernes 13 de Enero de 2017, El C. Arturo Torres Aguirre Dió Banderazo de Arranque de Obra para la Construcción del Auditorio Municipal, En Compañía De secretario, Sindico, Regidores y Trabajadores del H. Ayuntamiento, Beneficiando aproximadamente 2,000 personas.</b>
                                            </p>
                                            <div class="col-md-3">
                                                <figure>
                                                    <a href="Libreria/img/2017/ene/auditorio_municipal/img1.jpg" target="_blank">
                                                        <img src="Libreria/img/2017/ene/auditorio_municipal/img1.jpg" class="thumbnail img-responsive" alt="img" />
                                                    </a>
                                                </figure>
                                            </div>
                                            <div class="col-md-3">
                                                <figure>
                                                    <a href="Libreria/img/2017/ene/auditorio_municipal/img2.jpg" target="_blank">
                                                        <img src="Libreria/img/2017/ene/auditorio_municipal/img2.jpg" class="thumbnail img-responsive" alt="img" />
                                                    </a>
                                                </figure>
                                            </div>
                                            <div class="col-md-3">
                                                <figure>
                                                    <a href="Libreria/img/2017/ene/auditorio_municipal/img3.jpg" target="_blank">
                                                        <img src="Libreria/img/2017/ene/auditorio_municipal/img3.jpg" class="thumbnail img-responsive" alt="img" />
                                                    </a>
                                                </figure>
                                            </div>
                                            <div class="col-md-3">
                                                <figure>
                                                    <a href="Libreria/img/2017/ene/auditorio_municipal/img4.jpg" target="_blank">
                                                        <img src="Libreria/img/2017/ene/auditorio_municipal/img4.jpg" class="thumbnail img-responsive" alt="img" />
                                                    </a>
                                                </figure>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </article>
                            <article>
                                <div class="panel panel-success">
                                    <div class="panel-heading">
                                        <b>Arranque de Obra en Localidad de Riva Palacio .:. H. Ayuntamiento de San Lucas, Mich.</b>
                                    </div>
                                    <time datetime="2016-01-20" style="color: grey; text-align: justify;">
                                        publicado viernes, 20 de enero de 2017.
                                    </time>
                                    <div class="panel-body">
                                        <div class="row">
                                            <p style="padding: 20px; text-align: justify;">
                                                <b>El Día Jueves 19 de Enero del 2017, El C. Arturo Torres Aguirre Junto con el Síndico, Secretario y trabajadores del H. Ayuntamiento, Dió Banderazo de Arranque de Obra por Nombre "Pavimentación de Concreto Asfaltico" en la Calle Venustiano Carranza en la Localidad de Riva Palacio. Meta 2,537 Metros Cuadrados. Beneficiando aproximadamente a 1,000 personas.</b>
                                            </p>
                                            <div class="col-md-4">
                                                <figure>
                                                    <a href="Libreria/img/2017/ene/obra_riva_palacio/img1.jpg" target="_blank">
                                                        <img src="Libreria/img/2017/ene/obra_riva_palacio/img1.jpg" class="thumbnail img-responsive" alt="img" />
                                                    </a>
                                                </figure>
                                            </div>
                                            <div class="col-md-4">
                                                <figure>
                                                    <a href="Libreria/img/2017/ene/obra_riva_palacio/img2.jpg" target="_blank">
                                                        <img src="Libreria/img/2017/ene/obra_riva_palacio/img2.jpg" class="thumbnail img-responsive" alt="img" />
                                                    </a>
                                                </figure>
                                            </div>
                                            <div class="col-md-4">
                                                <figure>
                                                    <a href="Libreria/img/2017/ene/obra_riva_palacio/img3.jpg" target="_blank">
                                                        <img src="Libreria/img/2017/ene/obra_riva_palacio/img3.jpg" class="thumbnail img-responsive" alt="img" />
                                                    </a>
                                                </figure>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </article>
                            <article>
                                <div class="panel panel-success">
                                    <div class="panel-heading">
                                        <b>Rehabilitación al Centro de Salud .:. H. Ayuntamiento de San Lucas, Mich.</b>
                                    </div>
                                    <time datetime="2016-01-23" style="color: grey; text-align: justify;">
                                        publicado lunes, 23 de enero de 2017.
                                    </time>
                                    <div class="panel-body">
                                        <div class="row">
                                            <p style="padding: 20px; text-align: justify;">
                                                <b>Por Iniciativa Del C. Arturo Torres Aguirre, Se da Inicio a la Rehabilitación del antiguo Centro de Salud En San Lucas Mich.</b>
                                            </p>
                                            <div class="col-md-4">
                                                <figure>
                                                    <a href="Libreria/img/2017/ene/centro_de_salud/img1.jpg" target="_blank">
                                                        <img src="Libreria/img/2017/ene/centro_de_salud/img1.jpg" class="thumbnail img-responsive" alt="img" />
                                                    </a>
                                                </figure>
                                            </div>
                                            <div class="col-md-4">
                                                <figure>
                                                    <a href="Libreria/img/2017/ene/centro_de_salud/img2.jpg" target="_blank">
                                                        <img src="Libreria/img/2017/ene/centro_de_salud/img2.jpg" class="thumbnail img-responsive" alt="img" />
                                                    </a>
                                                </figure>
                                            </div>
                                            <div class="col-md-4">
                                                <figure>
                                                    <a href="Libreria/img/2017/ene/centro_de_salud/img3.jpg" target="_blank">
                                                        <img src="Libreria/img/2017/ene/centro_de_salud/img3.jpg" class="thumbnail img-responsive" alt="img" />
                                                    </a>
                                                </figure>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </article>
                            <article>
                                <div class="panel panel-success">
                                    <div class="panel-heading">
                                        <b>Campaña de Limpieza Carretera Federal de San Lucas .:. H. Ayuntamiento de San Lucas, Mich.</b>
                                    </div>
                                    <time datetime="2016-01-24" style="color: grey; text-align: justify;">
                                        publicado martes, 24 de enero de 2017.
                                    </time>
                                    <div class="panel-body">
                                        <div class="row">
                                            <p style="padding: 20px; text-align: justify;">
                                                <b>El día Sábado 21 de Enero del 2017, Se Llevó Acabo la Segunda Campaña de Limpieza en la Carretera Federal de San Lucas - Salguero, Realizada por Todo el Personal de Trabajadores del H. Ayuntamiento De San lucas, Mich.</b>
                                            </p>
                                            <div class="col-md-4">
                                                <figure>
                                                    <a href="Libreria/img/2017/ene/campaña_de_limpieza/img1.jpg" target="_blank">
                                                        <img src="Libreria/img/2017/ene/campaña_de_limpieza/img1.jpg" class="thumbnail img-responsive" alt="img" />
                                                    </a>
                                                </figure>
                                            </div>
                                            <div class="col-md-4">
                                                <figure>
                                                    <a href="Libreria/img/2017/ene/campaña_de_limpieza/img2.jpg" target="_blank">
                                                        <img src="Libreria/img/2017/ene/campaña_de_limpieza/img2.jpg" class="thumbnail img-responsive" alt="img" />
                                                    </a>
                                                </figure>
                                            </div>
                                            <div class="col-md-4">
                                                <figure>
                                                    <a href="Libreria/img/2017/ene/campaña_de_limpieza/img3.jpg" target="_blank">
                                                        <img src="Libreria/img/2017/ene/campaña_de_limpieza/img3.jpg" class="thumbnail img-responsive" alt="img" />
                                                    </a>
                                                </figure>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </article>
                            <article>
                                <div class="panel panel-success">
                                    <div class="panel-heading">
                                        <b>Rehabilitación, Loc. de Tacupa .:. H. Ayuntamiento de San Lucas, Mich.</b>
                                    </div>
                                    <time datetime="2017-01-25" style="color: grey; text-align: justify;">
                                        publicado miércoles, 25 de enero de 2017.
                                    </time>
                                    <div class="panel-body">
                                        <div class="row">
                                            <p style="padding: 20px; text-align: justify;">
                                                <b>Rehabilitando las Calles de la Comunidad de Tacupa.</b>
                                            </p>
                                            <div class="col-md-6">
                                                <figure>
                                                    <a href="Libreria/img/2017/ene/rehabilitacion_tacupa/img1.jpg" target="_blank">
                                                        <img src="Libreria/img/2017/ene/rehabilitacion_tacupa/img1.jpg" class="thumbnail img-responsive" alt="img" />
                                                    </a>
                                                </figure>
                                            </div>
                                            <div class="col-md-6">
                                                <figure>
                                                    <a href="Libreria/img/2017/ene/rehabilitacion_tacupa/img2.jpg" target="_blank">
                                                        <img src="Libreria/img/2017/ene/rehabilitacion_tacupa/img2.jpg" class="thumbnail img-responsive" alt="img" />
                                                    </a>
                                                </figure>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </article>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3"><!-- Barra lateral -->
            <aside>
                <?php 
                    include "Vista/main.phtml";
                    include "Vista/submenu.phtml";
                ?>
            </aside>
        </div><!-- end BL -->
    </div>
</section>
