<section>
    <div id="centro">
        <a href="?fp=principal"><i class="fa fa-fw fa-home"></i>Home</a>
        <img src="Libreria/img/login.png" /><b>Directorio</b>
    </div>
    <hr />
    <div class="row">
        <div class="col-md-9">
            <article>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h1 style="font-size: xx-large;"><b>Directorio</b></h1>
                    </div>
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th colspan="2" style="font-size: x-large;">Teléfono de Emergencia de Michoacán</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody style="text-align: left;">
                                    <tr>
                                        <td>Alcohólicos Anónimos</td>
                                        <td>312-4488</td>
                                    </tr>
                                    <tr>
                                        <td>Banco de Sangre y Laboratorio</td>
                                        <td>315-7777 ext. 23</td>
                                    </tr>
                                    <tr>
                                        <td>Bomberos de Seguridad Pública</td>
                                        <td>320-1780</td>
                                    </tr>
                                    <tr>
                                        <td>Comisión Federal de Electricidad</td>
                                        <td>322-0000</td>
                                    </tr>
                                    <tr>
                                        <td>Cruz Roja Emergencias</td>
                                        <td>314-5151, 314-5025</td>
                                    </tr>
                                    <tr>
                                        <td>Cuerpo de Bomberos y Fugas de Gas</td>
                                        <td>324-0529, 312-1235, 324-1818 y 324-0500</td>
                                    </tr>
                                    <tr>
                                        <td>Emergencias</td>
                                        <td>066 y 070</td>
                                    </tr>
                                    <tr>
                                        <td>Emergencias por Intoxicación</td>
                                        <td>317-6146</td>
                                    </tr>
                                    <tr>
                                        <td>Oficinas de Información y Asistencia Turística</td>
                                        <td>317-2371</td>
                                    </tr>
                                    <tr>
                                        <td>Policía Auxiliar</td>
                                        <td>326-7726</td>
                                    </tr>
                                    <tr>
                                        <td>Policía Federal Preventiva</td>
                                        <td>316-3100 y 316-3515</td>
                                    </tr>
                                    <tr>
                                        <td>Policía y Tránsito</td>
                                        <td>326-8522</td>
                                    </tr>
                                    <tr>
                                        <td>Procuraduría Federal del Consumidor</td>
                                        <td>315-6202 y 315-6307</td>
                                    </tr>
                                    <tr>
                                        <td>Protección Civil</td>
                                        <td>060</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </article>
        </div>
        <div class="col-md-3">
            <aside>
                <?php include "Vista/submenu.phtml"; ?>
            </aside>
        </div>
    </div>
</section>