<section>
    <div id="centro">
        <a href="?fp=principal"><i class="fa fa-fw fa-home"></i>Home</a>
        <img src="Libreria/img/login.png" /><b>Mapa de Municipio</b>
    </div>
    <hr />
    <div class="row">
        <div class="col-md-9">
            <article>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h1 style="font-size: xx-large;"><b>Mapa de Municipio</b></h1>
                    </div>
                    <div class="panel-body">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d484056.45625977643!2d-101.0014165806697!3d18.58796165226506!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8432d6b1dfca78bd%3A0x5354796e34a0b109!2sSan+Lucas%2C+Mich.!5e0!3m2!1ses!2smx!4v1463426027420" 
                        frameborder="0" style="width: 100%; height: 450px; border:0" allowfullscreen></iframe>
                    </div>
                </div>
            </article>
        </div>
        <div class="col-md-3">
            <aside>
                <?php include "Vista/submenu.phtml"; ?>
            </aside>
        </div>
    </div>
</section>