<section>
    <div class="row">
        <div class="col-md-9">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h1 style="font-size: xx-large;"><b>Eventos Realizados el Mes de Agosto 2016</b></h1>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            <article>
                                <div class="panel panel-info">
                                    <div class="panel-heading">
                                        <p><b>Primer Informe de Gobierno. - H. Ayuntamiento de San Lucas, Mich.</b></p>
                                    </div>
                                    <time datetime="2016-08-15" pubdate="" style="color: grey; text-align: justify;">
                                        Publicado lunes, 15 de agosto de 2016.
                                    </time>
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <marquee scrolldelay="100" onmouseover="stop()" onmouseout="start()" direction="up" crollamount="8" height="300px">
                                                    <center>
                                                        <a href="Libreria/img/2016/agt/primer_informe/DSC01.JPG" target="_blank" >
                                                            <img src="Libreria/img/2016/agt/primer_informe/DSC01.JPG" class="thumbnail img-responsive" alt="foto" />
                                                        </a>
                                                    </center>
                                                </marquee>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <figure>
                                                    <a href="Libreria/img/2016/agt/primer_informe/DSC02.JPG" >
                                                        <img src="Libreria/img/2016/agt/primer_informe/DSC02.JPG" class="thumbnail img-responsive" alt="img" />
                                                    </a>
                                                </figure>
                                            </div>
                                            <div class="col-md-6">
                                                <figure>
                                                    <a href="Libreria/img/2016/agt/primer_informe/DSC03.JPG" >
                                                        <img src="Libreria/img/2016/agt/primer_informe/DSC03.JPG" class="thumbnail img-responsive" alt="img" />
                                                    </a>
                                                </figure>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <figure>
                                                    <a href="Libreria/img/2016/agt/primer_informe/DSC04.JPG" >
                                                        <img src="Libreria/img/2016/agt/primer_informe/DSC04.JPG" class="thumbnail img-responsive" alt="img" />
                                                    </a>
                                                </figure>
                                            </div>
                                            <div class="col-md-6">
                                                <figure>
                                                    <a href="Libreria/img/2016/agt/primer_informe/DSC05.JPG" >
                                                        <img src="Libreria/img/2016/agt/primer_informe/DSC05.JPG" class="thumbnail img-responsive" alt="img" />
                                                    </a>
                                                </figure>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </article>
                            <article>
                                <div class="panel panel-info">
                                    <div class="panel-heading">
                                        <p><b>Banderazo de Arranque de Obra. - H. Ayuntamiento de San Lucas, Mich.</b></p>
                                    </div>
                                    <time datetime="2016-08-24" pubdate="" style="color: grey; text-align: justify;">
                                        Publicado martes, 24 de agosto de 2016.
                                    </time>
                                    <p style="padding:30px;text-align:justify;">
                                        <b>Banderazo de arranque de obra: Pavimentaci&oacute;n con concreto asfaltico, dio Presidente C. Arturo Torres Aguirre en compañ&iacute;a de su equipo de trabajo, en calle Hidalgo de Vicente Riva Palacio Mich. "TRABAJAR PARA CONSTRUIR".</b>
                                    </p>
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <figure>
                                                    <a href="Libreria/img/2016/agt/banderazo/DSC01.JPG" >
                                                        <img src="Libreria/img/2016/agt/banderazo/DSC01.JPG" class="thumbnail img-responsive" alt="img" />
                                                    </a>
                                                </figure>
                                            </div>
                                            <div class="col-md-6">
                                                <figure>
                                                    <a href="Libreria/img/2016/agt/banderazo/DSC02.JPG" >
                                                        <img src="Libreria/img/2016/agt/banderazo/DSC02.JPG" class="thumbnail img-responsive" alt="img" />
                                                    </a>
                                                </figure>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </article>
                            <article>
                                <div class="panel panel-info">
                                    <div class="panel-heading">
                                        <p><b>Palabra de Mujer. - H. Ayuntamiento de San Lucas, Mich.</b></p>
                                    </div>
                                     <time datetime="2016-08-24" pubdate="" style="color: grey; text-align: justify;">
                                        Publicado martes, 24 de agosto de 2016.
                                    </time>
                                    <p style="padding:30px;text-align:justify;">
                                        <b>La Secretaria de Igualdad Sustantiva y Desarrollo de las Mujeres Michoacanas en coordinaci&oacute;n con Direcci&oacute;n de Instancia de la Mujer y Contraloría Social de H. Ayuntamiento de San Lucas, dio curso de empoderamiento a mujeres beneficiadas con crédito Palabra de Mujer.</b>
                                    </p>
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <figure>
                                                    <a href="Libreria/img/2016/agt/palabra_mujer/IMG-1.jpg" >
                                                        <img src="Libreria/img/2016/agt/palabra_mujer/IMG-1.jpg" class="thumbnail img-responsive" alt="img" />
                                                    </a>
                                                </figure>
                                            </div>
                                            <div class="col-md-6">
                                                <figure>
                                                    <a href="Libreria/img/2016/agt/palabra_mujer/IMG-2.jpg" >
                                                        <img src="Libreria/img/2016/agt/palabra_mujer/IMG-2.jpg" class="thumbnail img-responsive" alt="img" />
                                                    </a>
                                                </figure>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </article>
                            <article>
                                <div class="panel panel-info">
                                    <div class="panel-heading">
                                        <p>
                                            <b>Capaña de Salud - H. Ayuntamiento de San Lucas, Mich.</b>
                                        </p>
                                    </div>
                                     <time datetime="2016-08-26" pubdate="" style="color: grey; text-align: justify;">
                                        Publicado martes, 25 de agosto de 2016.
                                    </time>
                                    <p style="padding:30px;text-align:justify;">
                                        <b>Inicia la lucha contra el Zika, Dengue y chikungunya.</b>
                                    </p>
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <center>
                                                    <a href="Libreria/img/2016/agt/salud/WA0.jpg" target="_blank" >
                                                        <img src="Libreria/img/2016/agt/salud/WA0.jpg" class="thumbnail img-responsive" alt="foto" />
                                                    </a>
                                                </center>
                                            </div>
                                        </div>
                                        <div class="row"> 
                                            <div class="col-md-6">
                                                <a href="Libreria/img/2016/agt/salud/WA1.jpg" target="_blank">
                                                    <img src="Libreria/img/2016/agt/salud/WA1.jpg" class="thumbnail img-responsive" alt="Img" />
                                                </a>
                                            </div>
                                            <div class="col-md-6">
                                                <a href="Libreria/img/2016/agt/salud/WA2.jpg" target="_blank">
                                                    <img src="Libreria/img/2016/agt/salud/WA2.jpg" class="thumbnail img-responsive" alt="Img" />
                                                </a>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <a href="Libreria/img/2016/agt/salud/WA3.jpg" target="_blank">
                                                    <img src="Libreria/img/2016/agt/salud/WA3.jpg" class="thumbnail img-responsive" alt="Img" />
                                                </a>
                                            </div>
                                            <div class="col-md-6">
                                                <a href="Libreria/img/2016/agt/salud/WA4.jpg" target="_blank">
                                                    <img src="Libreria/img/2016/agt/salud/WA4.jpg" class="thumbnail img-responsive" alt="Img" />
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </article>
                            <article>
                                <div class="panel panel-success">
                                    <div class="panel-heading">
                                        <p><b>Firma UNIVIM - H. Ayuntamiento de San Lucas, Mich.</b></p>
                                    </div>
                                    <time datetime="2016-08-24" pubdate="" style="color: grey; text-align: justify;">
                                        Publicado martes, 24 de agosto de 2016.
                                    </time>
                                    <p style="padding:30px;text-align:justify;">
                                        <b>Firma UNIVIM convenio con Ayuntamiento de San Lucas para instalación de unidades virtuales.Con el objetivo de atender a los sectores m&aacute;s vulnerables del municipio y que estos cuenten con educaci&oacute;n de calidad y gratuita a través de la UNIVIM.</b>
                                    </p>
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <figure>
                                                    <a href="Libreria/img/2016/agt/virtual/CS1.jpg" target="_blank" >
                                                        <img src="Libreria/img/2016/agt/virtual/CS1.jpg" class="thumbnail img-responsive" alt="img" />
                                                    </a>
                                                </figure>
                                            </div>
                                            <div class="col-md-6">
                                                <figure>
                                                    <a href="Libreria/img/2016/agt/virtual/CS2.jpg" target="_blank" >
                                                        <img src="Libreria/img/2016/agt/virtual/CS2.jpg" class="thumbnail img-responsive" alt="img" />
                                                    </a>
                                                </figure>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </article>
                            <h3><b>Algunos Meses Anteriores</b></h3>
                            <article>
                                <div class="panel panel-info">
                                    <div class="panel-heading">
                                        <p><b>Activa participación en Reforestaciòn realizada por trabajadores de 
                                        H.Ayuntamiento de San Lucas, alumnos y maestros,en el plantel de 
                                        CECYTEM 21 de Riva Palacio Michoacán.</b></p>
                                    </div>
                                    <time datetime="2016-06-06" pubdate="" style="color: grey; text-align: justify;">
                                            Publicado Lunes, 6 de junio del 2016.
                                    </time>
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <figure>
                                                    <figcaption>
                                                        <p>
                                                            Fotografía de Recuerdo de Actividad
                                                        </p>
                                                    </figcaption>
                                                    <a href="Libreria/img/2016/agt/cecytem1_riva_palacio.jpg" >
                                                        <img src="Libreria/img/2016/agt/cecytem1_riva_palacio.jpg" class="thumbnail img-responsive" 
                                                        alt="img cecytem" />
                                                    </a>
                                                    
                                                </figure>
                                            </div>
                                            <div class="col-md-6">
                                                <figure>
                                                    <figcaption>
                                                        <p>
                                                           Ubicanción del Área para las Plantas 
                                                        </p>
                                                    </figcaption>
                                                    <a href="Libreria/img/2016/agt/cecytem2_riva_palacio.jpg" >
                                                        <img src="Libreria/img/2016/agt/cecytem2_riva_palacio.jpg" class="thumbnail img-responsive" 
                                                        alt="img cecytem" />
                                                    </a>
                                                    
                                                </figure>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <figure>
                                                    <a href="Libreria/img/2016/agt/cecytem_riva_palacio.jpg" >
                                                        <img src="Libreria/img/2016/agt/cecytem_riva_palacio.jpg" class="thumbnail img-responsive" 
                                                        alt="img cecytem" />
                                                    </a>
                                                    <figcaption>
                                                        <p>
                                                        
                                                        </p>
                                                    </figcaption>
                                                </figure>
                                            </div>
                                            <div class="col-md-6">
                                                <figure>
                                                    <a href="Libreria/img/2016/agt/cecytem3_riva_palacio.jpg" >
                                                        <img src="Libreria/img/2016/agt/cecytem3_riva_palacio.jpg" class="thumbnail img-responsive" 
                                                        alt="img cecytem" />
                                                    </a>
                                                    <figcaption>
                                                        <p>
                                                        
                                                        </p>
                                                    </figcaption>
                                                </figure>
                                            </div>
                                        </div>
                                        <div class="row">                            
                                            <div class="col-md-6">
                                                <figure>
                                                    <a href="Libreria/img/2016/agt/h_pungarabato.jpg">
                                                        <img src="Libreria/img/2016/agt/h_pungarabato.jpg" class="thumbnail img-responsive" 
                                                        alt="img Pungarabato" />
                                                    </a>
                                                    <time datetime="2016-05-25" pubdate="" style="color: grey; text-align: justify;">
                                                        publicado miercoles 25 de mayo del 2016.
                                                    </time>
                                                    <figcaption>
                                                        <p style="text-align: justify;">
                                                            Asisten Presidente C. Arturo Torres y Regidores a 
                                                            invitacion por parte de Ayuntamiento de Pungarabato, 
                                                            como testigos en Sesión Ordinaria de Cabildo para nombrar 
                                                            al puente nuevo "Eduardo Bahena Bahena" y en la develacion 
                                                            de la placa a este puente que nos comunica y colinda con 
                                                            el Estado vecino.
                                                        </p>
                                                    </figcaption>
                                                </figure>
                                            </div>
                                            <div class="col-md-6">
                                                <a href="Libreria/img/2016/agt/estancia.jpg">
                                                    <img src="Libreria/img/2016/agt/estancia.jpg" class="thumbnail img-responsive" alt="img La Estancia" />
                                                </a>
                                                <time datetime="2016-05-25" pubdate="" style="color: grey; text-align: justify;">
                                                    publicado miercoles 25 de mayo del 2016.
                                                </time>
                                                <figcaption>
                                                    <p style="text-align: justify;">
                                                        El presidente C. Arturo Torres, en compañía de regidores y gente 
                                                        de la localidad,dio banderazo de arranque a obra de pavimentación 
                                                        en la comunidad de La Estancia, San Lucas, Mich.
                                                    </p>
                                                </figcaption>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <figure>
                                                    <a>
                                                        <img src="Libreria/img/2016/agt/tacupa.jpg" class="thumbnail img-responsive" alt="img tacupa" />
                                                    </a>
                                                    <time datetime="2016-05-24" pubdate="" style="color: grey; text-align: justify;">
                                                        publicado miercoles 24 de mayo del 2016.
                                                    </time>
                                                    <figcaption>
                                                        <p style="text-align: justify;">
                                                            Compromiso de apoyo para la creación de espacio recretivo del Jardín 
                                                            de niños de la localidad de Tacupa, San Lucas, Mich.
                                                        </p>
                                                    </figcaption>
                                                </figure>
                                            </div>
                                            <div class="col-md-6">
                                                <figure>
                                                    <a>
                                                        <img src="Libreria/img/2016/agt/characharando.jpg" class="thumbnail img-responsive" alt="img characharando" />
                                                    </a>
                                                    <time datetime="2016-05-24" pubdate="" style="color: grey; text-align: justify;">
                                                        publicado miercoles 24 de mayo del 2016.
                                                    </time>
                                                    <figcaption>
                                                        <p style="text-align: justify;">
                                                            Compromiso de apoyo para la creación de espacio recretivo del Jardín 
                                                            de niños de la localidad de Tacupa Mich.
                                                        </p>
                                                    </figcaption>
                                                </figure>
                                            </div>
                                        </div>
                                    </div>                                   
                                </div>
                            </article>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3"><!-- Barra lateral -->
            <aside>
                <?php 
                    include "Vista/main.phtml";
                    include "Vista/submenu.phtml";
                ?>
            </aside>
        </div><!-- end BL -->
    </div>
</section>
