<section>
    <div id="centro">
        <a href="?fp=principal"><i class="fa fa-fw fa-home"></i>Home</a>
        <img src="Libreria/img/login.png" /><b>Historia</b>
    </div>
    <hr />
    <div class="row">
        <div class="col-md-9">
            <article>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h1 style="font-size: xx-large;"><b>Historia</b></h1>
                    </div>
                    <div class="panel-body">
                        <div class="panel panel-info">
                            <div class="panel-heading" style="font-size: x-large;">Nuestra Histórica</div>
                            <div class="panel-body">
                                <h3><b>Denominacón San Lucas</b></h3>
                                <p><b>Toponimia</b><br/>La denominación de San Lucas, data de la época colonial en honor
                                    de la Virgen de San Lucas.
                                </p>
                                <figure>
                                    <a href="Libreria/img/historia/jardin.jpg">
                                        <img src="Libreria/img/historia/jardin.jpg" alt="foto jardin" class="img-thumbnail img-responsive" />
                                        <br /><br />
                                        <figcaption>
                                            <p><b>Jardín Principal del Centro de San Lucas</b></p>
                                        </figcaption>
                                    </a>
                                </figure>
                                <br />
                                <h3><b>Reseña Histórica</b></h3>
                                <p style="text-align: justify;">
                                    Los primeros agustinos llegaron a esta región a predicar el evangelio y fue Fray Juan de Moya, en 1553, 
                                    quien congregó a los indios y fundó con ellos una doctrina, como entonces se llamaba a la reunión de 
                                    nuevos catecúmenos.
                                    En 1765, según la relación que hace el bachiller Don Joseph Marcelino Palomino, cura y juez eclesiástico 
                                    del Partido de Cutzio, el pueblo de San Lucas aparece como uno de los pueblos que integraban este partido 
                                    (los otros eran Cutzio que era la cabecera, San Juan Huetamo y Purechuchu).
                                    San Lucas se encontraba habitado en este tiempo por 50 familias naturales con un número de 186 feligreses. 
                                    El pueblo contaba con una parroquia de adobe, tejado de zacate y medía 30 varas de largo y 9 de ancho. 
                                    En 1763 un temblor afectó la construcción de la parroquia que se encontraba a punto de caer y "aunque 
                                    los naturales de dicho pueblo intentaron hacer otra, su pobreza no les dio lugar".
                                </p>
                                <center>
                                    <figure>
                                        <a href="Libreria/img/turismo/iglesia.jpg">
                                            <img src="Libreria/img/turismo/iglesia.jpg" alt="foto iglesia" class="thumbnail img-responsive" />
                                            <figcaption>
                                                <p><b>La Iglesia de la Inmaculada Concepción</b></p>
                                            </figcaption>
                                        </a>
                                    </figure>
                                </center>
                                <p style="text-align: left;">
                                    Por la Ley Territorial del 10 de diciembre de 1831, San Lucas aparece como Tenencia del Municipio de Huetamo. 
                                    Fue elevado al rango de municipio, el 13 de enero de 1925.
                                </p>
                                <br />
                                <h3><b>Personajes Ilustres</b></h3>
                                <div class="table-responsive">
                                    <table class="table table-hover">
                                        <thead style="font-size: x-large">
                                            <tr>
                                                <th>Nombre</th>
                                                <th>Apellidos</th>
                                                <th>Profesión</th>
                                            </tr>
                                        </thead>
                                        <tbody style="text-align: left">
                                            <tr>
                                                <td>Pedro</td>
                                                <td>Cruz Castillo</td>
                                                <td>Pintor</td>
                                            </tr>
                                            <tr>
                                                <td>Javier</td>
                                                <td>López Ferrer</td>
                                                <td>Escritor</td>
                                            </tr>
                                            <tr>
                                                <td>Servando</td>
                                                <td>Chávez Hernández</td>
                                                <td>Ex. Gobernador del Estado</td>
                                            </tr>
                                            <tr>
                                                <td>Ausencio</td>
                                                <td>Chávez Hernández</td>
                                                <td>Ex. Gobernador del Estado</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <br />
                                <h3><b>Cronología de Hechos Históricos</b></h3>
                                <div class="table-responsive">
                                    <table class="table table-hover">
                                        <thead style="font-size: x-large">
                                            <tr>
                                                <th>Año</th>
                                                <th>Acontecimiento</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>1553</td>
                                                <td>Fray Juan de Moya inicia la congregación de los indios de la
                                                    región para su evangelización
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>1763</td>
                                                <td>Se registró un fuerte temblor</td>
                                            </tr>
                                            <tr>
                                                <td>1765</td>
                                                <td>San Lucas aparece como un pueblo integrante del curato de Cutzio</td>
                                            </tr>
                                            <tr>
                                                <td>1831</td>
                                                <td>10 de diciembre, aparece como Tenencia del Municipio de Huetamo</td>
                                            </tr>
                                            <tr>
                                                <td>1925</td>
                                                <td>Es elevado al rango de municipio</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-info">
                            <div class="panel-heading" style="font-size: x-large;">Medio Físico</div>
                            <div class="panel-body">
                                <h3><b>Localización</b></h3>
                                <center>
                                    <figure>
                                        <a href="Libreria/img/historia/localizacion.jpg">
                                            <img src="Libreria/img/historia/localizacion.jpg" alt="foto localización" class="thumbnail img-responsive" />
                                            <figcaption>
                                                <p><b>Región VIII Tierra Caliente</b></p>
                                            </figcaption>
                                        </a>
                                    </figure>
                                </center>
                                <br />
                                <p style="text-align: justify">
                                    Se localiza al sureste del Estado, en las coordenadas 18º35' de latitud norte y
                                    100º47' de longitud oeste, a una altura de 300 metros sobre el nivel del mar.
                                    Limita al norte con Tiquicheo, al este y sur con el Estado de Guerrero, y al oeste
                                    con Huetamo. Su distancia a la capital del Estado es de 225 kms.
                                </p>
                                <h3><b>Extensión</b></h3>
                                <p style="text-align: justify">
                                    Su superficie es de 468.01 Km² y representa el 0.80 por ciento del total del Estado.
                                </p>
                                <h3><b>Orografía</b></h3>
                                <p style="text-align: justify">
                                    Su relieve los constituyen el sistema volcánico transversal, la depresión del Balsas
                                    y los cerros de la Silla, Cruz y Picacho.
                                </p>
                                <h3><b>Hidrografía</b></h3>
                                <p style="text-align: justify">
                                    Su hidrografía está constituida por los ríos de La Bolita, Cutzamala y Balsas y por
                                    los arroyos San Lucas y El Chumbítaro.
                                </p>
                                <h3><b>Clima</b></h3>
                                <p style="text-align: justify">
                                    Su clima es tropical y seco estepario. Tiene una precipitación pluvial anual de
                                    906.5 milímetros y temperaturas que oscilan entre 20.2 y 35.3º centígrados.
                                </p>
                                <h3><b>Principales Ecosistemas</b></h3>
                                <p style="text-align: justify">
                                    En el municipio dominan los bosques tropical espinoso con huisache, teteche, cardón,
                                    amolé, viejito y cuéramo, y el tropical deciduo con parota, ceiba y mezquite.
                                </p>
                                <h3><b>Recursos Naturales</b></h3>
                                <p style="text-align: justify">
                                    La superficie forestal maderable está ocupada por parota, en el caso de la no
                                    maderable, por matorral espinoso y selva baja. El municipio cuenta con yacimientos
                                    de mármol y caliza.
                                </p>
                                <h3><b>Características y Uso de Suelo</b></h3>
                                <p style="text-align: justify">
                                    Los suelos del municipio datan de los períodos mesozoico, y cretáceo inferior,
                                    corresponden principalmente a los del tipo de pradera. Su uso está destinado
                                    primordialmente a la actividad ganadera y en menor proporción a la agrícola.
                                </p>
                                <h3><b>Monumentos Históricos</b></h3>
                                <p style="text-align: justify">
                                    El municipio cuenta con diversos monumentos arquitectónicos como son: el Templo
                                    Parroquial donde se venera a la virgen de la Concepción, la Parroquia de San Lucas
                                    y La Parroquia de la virgen de los Remedios. Además de las esculturas como son: los
                                    Bustos de Lázaro Cárdenas que se encuentran en la plaza principal, el Busto de José
                                    Ma. Morelos, ubicado en la glorieta y la estatua del general Vicente Guerrero,
                                    ubicada en la tenencia del mismo nombre. Monumento a Vicente Riva Palacio, Glorieta
                                    en la comunidad de Riva Palacio.
                                </p>
                                <figure>
                                    <a href="Libreria/img/historia/vicente.jpg">
                                        <img src="Libreria/img/historia/vicente.jpg" alt="foto Riva Palacio" class="thumbnail img-responsive" />
                                        <figcaption>
                                            <p><b>Monumento Vicente Riva Palacio</b></p>
                                        </figcaption>
                                    </a>
                                </figure>
                                <h3><b>Museos</b></h3>
                                <p style="text-align: justify">
                                    En el municipio se encuentra el museo CECyTEM, la Casa de la Cultura.
                                </p>
                                <h3><b>Fiestas, Danzas y Tradicciones</b></h3>
                                <p style="text-align: justify">
                                    Febrero 2. Día de la Candelaria.<br />
                                    Agosto del 15 al 30. Festividades religiosas.<br />
                                    Marzo ó abril. Semana Santa.<br />
                                    Septiembre 30. Fiestas Patrias.
                                </p>
                                <h3><b>Música</b></h3>
                                <p style="text-align: justify">
                                    Tradicional (tríos, coplas, boleros con guitarra, banda, etc.).
                                </p>
                                <h3><b>Artesanías</b></h3>
                                <p style="text-align: justify">
                                    Sombreros de palma, huaraches, terracalenteños.
                                </p>
                                <h3><b>Gastronomía</b></h3>
                                <p style="text-align: justify">
                                    La comida típica del municipio es: aporreadillo, chorizo, mole, frito, tamales nejos.
                                </p>
                                <h3><b>Centros Turísticos</b></h3>
                                <p style="text-align: justify">
                                    Paisajes naturales y manantiales.
                                </p>
                            </div>
                        </div>
                        <div class="panel panel-info">
                            <div class="panel-heading" style="font-size: x-large;">Gobierno</div>
                            <div class="panel-body">
                                <h3><b>Principales Localidades</b></h3>
                                <p style="text-align: left;">
                                    <b>San Lucas</b><br />
                                    Es la cabecera municipal. Se localiza a 225 km. , de la Capital de Estado.
                                    <br /><br />
                                    <b>Angao</b><br />
                                    Su principal actividad es la agricultura y ganadería. Se localiza a 7 Km, de la
                                    cabecera municipal.<br /><br />
                                    <b>San Pedro</b><br />
                                    Su principal actividad es la agricultura y ganadería. Se localiza a 6 Km, de la
                                    cabecera municipal.<br /><br />
                                    <b>Tacupa</b><br />
                                    Su principal actividad es la agricultura y ganadería. Se localiza a 30 km., de la
                                    cabecera municipal.<br /><br />
                                    <b>Riva Palacio</b><br />
                                    Su principal actividad es la agricultura y ganadería. Se localiza a 38 km., de la
                                    cabecera municipal.<br /><br />
                                    <b>Tamarindo</b><br />
                                    Su principal actividad es la producción de mármol. Se localiza a 3 km., de la
                                    cabecera municipal.
                                </p>
                                <h3><b>Caracterización de Ayuntamiento</b></h3>
                                <p style="text-align: left;">
                                    Presidente Municipal<br />
                                    1 Síndico<br />
                                    4 Regidores de Mayoría Relativa<br />
                                    3 Regidores de Representación Proporcional<br /><br />
                                    <b>Principales Comisiones</b><br />
                                    De Actividades Agropecuarias y Pesca 1er Regidor<br />
                                    De Salubridad y Asistencia 2º Regidor<br />
                                    De Urbanismo y Obras Públicas 3er Regidor<br />
                                    De Planeación y Programación 4º Regidor<br />
                                    De Industria y Comercio 1er Regidor de Representación Proporcional<br />
                                    De Ecología 2º Regidor de Representación Proporcional<br />
                                    De Educación, Cultura y Turismo 3er Regidor de Representación Proporcional.

                                </p>
                                <h3><b>Organización y Estructura de la Administración Pública Municipal</b></h3>
                                <figure>
                                    <a href="Libreria/img/historia/organigrama.gif">
                                        <img src="Libreria/img/historia/organigrama.gif" alt="foto organigrama" class="thumbnail img-responsive" />
                                        <figcaption>
                                            <p><b>Organigrama</b></p>
                                        </figcaption>
                                    </a>
                                </figure>
                                <p style="text-align: left;">
                                    <b>Secretaría del Ayuntamiento</b><br />
                                    Sus funciones son: Secretario de Actas del Ayuntamiento, Atención de Audiencia,
                                    Asuntos Públicos, Junta Municipal de Reclutamiento, Acción Cívica, Jurídico y
                                    Aplicación de Reglamentos, Archivo y Correspondencia, Educación, Cultura, Deportes,
                                    Salud, Trabajo Social.
                                    <br/><br/>
                                    <b>Tesorería</b><br/>
                                    Sus funciones son: Ingresos, Egresos, Contabilidad, Auditorías Causantes,
                                    Coordinación Fiscal, Recaudación en Mercados, Recaudación en Rastros.
                                    <br/><br/>
                                    <b>Obras Públicas</b><br/>
                                    Sus funciones son: Parques y Jardines, Edificios Públicos, Urbanismo, Mercados,
                                    Transporte Público, Rastro, Alumbrado, Limpia.
                                    <br/><br/>
                                    <b>Desarrollo Social Municipal</b><br/>
                                    Sus funciones son: Planeación y Ejecución del Programa del Ramo 026, Deserción
                                    Escolar, Fondo de Desarrollo Social Municipal, Apoyo a la Producción, Reforestación.
                                    <br/><br/>
                                    <b>Seguridad Pública</b><br/>
                                    Sus funciones son: Policía, Tránsito, Centro de Readaptación Municipal.
                                    <br/><br/>
                                    <b>Oficialía Mayor</b><br/>
                                    Sus funciones son: Personal, Adquisiciones, Servicios Generales, Almacén, Talleres.
                                    <br/><br/>
                                    <b>D.I.F.</b><br/>
                                    Sus funciones son: Asistencia Social.
                                    <br/><br/>
                                    <b>S.A.P.A.</b><br />
                                    Sus funciones son: Agua Potable, Alcantarillado.
                                </p>
                                <h3><b>Autoridades Auxiliares</b></h3>
                                <p style="text-align: left;">
                                    La Administración Pública Municipal fuera de la Cabecera Municipal, esta a cargo de
                                    los Jefes de Tenencia o Encargados del Orden, quienes son electos en plebiscito,
                                    durando en su cargo 3 años en el municipio de San Lucas existen 3 Jefes de Tenencia
                                    y 50 Encargados del Orden, quienes ejercen principalmente las siguientes funciones:
                                    Avisar al Presidente Municipal, de cualquier alteración que adviertan en el orden
                                    público.
                                    Conforma el podium de habitantes de su demarcación.
                                    Cuidar de la limpieza y aseo de los sitios públicos y buen estado de los caminos
                                    vecinales y carreteros.
                                    Procura el establecimiento de escuelas.
                                    Dar parte de la aparición de siniestros y epidemias.
                                    Aprehender a los delincuentes, poniéndolos a disposición de las autoridades
                                    competentes.
                                </p>
                                <h3><b>Regionalización Política</b></h3>
                                <p style="text-align: left;">
                                    Pertenece al Distrito Federal XI con cabecera en Tacámbaro y al Distrito Local
                                    XVIII con cabecera en Huetamo.
                                </p>
                                <h3><b>Reglamentación Municipal</b></h3>
                                <p>
                                <ul style="text-align: left; padding-left: 20px;">
                                    <li>Reglamento Interior del Ayuntamiento </li>
                                    <li>Reglamento Interno de la Administración</li>
                                    <li>Reglamento del Organo de la Dirección de Policía y Tránsito</li>
                                    <li>Reglamento Interior de Trabajo</li>
                                    <li>Reglamento de Limpieza y Salud Pública</li>
                                    <li>Reglamento del Expendio de Bebidas Alcohólicas</li>
                                    <li>Reglamentos de Rastros y Expendios de Carne</li>
                                </ul>
                                </p>
                                <h3><b>Cronología de los Presidentes </b></h3>
                                 <div class="table-responsive">
                                    <table class="table table-hover">
                                        <thead style="font-size: x-large;">
                                            <tr>
                                                <th>Nombre</th>
                                                <th>Año</th>
                                            </tr>
                                        </thead>
                                        <tbody style="text-align: left">
                                            <tr><td><b>Arturo Torres Aguirre</b></td><td><b>2015 - 2018</b></td></tr>
                                            <tr><td>Miguel Rentería Galarza</td><td>2012 - 2015</td></tr>
                                            <tr><td>Servando Valle Maldonado</td><td>2008 - 2011</td></tr>
                                            <tr><td>Jorge Espinosa Cisneros</td><td>2005 - 2007</td></tr>
                                            <tr><td>Filogonio Delgado Masedonio</td><td>2002 - 2004</td></tr>
                                            <tr><td>Homero Vega Avellaneda</td><td>1999 - 2001</td></tr>
                                            <tr><td>J. Concepción Elizalde María</td><td>1996 - 1998</td></tr>
                                            <tr><td>Noé Pérez Pérez</td><td>1993 - 1995</td></tr>
                                            <tr><td>Humberto Serrato Díaz</td><td>1990 - 1992</td></tr>
                                            <tr><td>Sergio Martínez Castellanos</td><td>1987 - 1989</td></tr>
                                            <tr><td>Anselmo Flores Mendoza</td><td>1984 - 1986</td></tr>
                                            <tr><td>Leandro Avellaneda Borja</td><td>1981 - 1983</td></tr>
                                            <tr><td>Sergio Martínez Castellanos</td><td>1978 - 1980</td></tr>
                                            <tr><td>Miguel Flores Mendoza</td><td>1975 - 1977</td></tr>
                                            <tr><td>J. Cruz López Beltrán</td><td>1972 - 1974</td></tr>
                                            <tr><td>Adalberto Vázquez</td><td>1969 - 1971</td></tr>
                                            <tr><td>Antonio Peña flor</td><td>1966 - 1968</td></tr>
                                            <tr><td>J. Jesús López Montaño</td><td>1963 - 1965</td></tr>
                                            <tr><td>Isidoro Garrostieta Luviano</td><td>1960 - 1962</td></tr>
                                            <tr><td>Narciso Liberato Gama</td><td>1957 - 1959</td></tr>
                                            <tr><td>Héctor Rentería López</td><td>1954 - 1956</td></tr>
                                            <tr><td>Héctor Rentería López</td><td>1951 - 1953</td></tr>
                                            <tr><td>Alfonso Gómez Sotelo</td><td>1948 - 1950</td></tr>
                                            <tr><td>Froylán Sánchez López</td><td>1945 - 1947</td></tr>
                                            <tr><td>Agapito Vázquez</td><td>1942 - 1944</td></tr>
                                        </tbody>
                                    </table>
                                 </div>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </div>
        <div class="col-md-3">
            <aside>
                <?php include "Vista/submenu.phtml"; ?>
            </aside>
        </div>
    </div>
</section>