<section>
    <div id="centro">
        <a href="?fp=principal"><i class="fa fa-fw fa-home"></i>Home</a>
        <img src="Libreria/img/login.png" /><b>Estadistica</b>
    </div>
    <hr />
    <div class="row">
        <div class="col-md-9">
            <article>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h1 style="font-size: xx-large;"><b>Estadistica</b></h1>
                    </div>
                    <div class="panel-body">
                        <br />
                        <br />
                        <p style="text-align: justify;">
                            <b>San Lucas</b> tiene una población de 16,953 habitantessegún datos del INEGI 
                            (Instituto Nacional de Estadística y Geografía).
                            De los 16,953 habitantes de <b>San Lucas</b>, 8,744 son mujeres y 8,209 son hombres.
                            Por lo tanto, el 48,42 por ciento de la población son hombres y el 51,58 mujeres.
                            <br /><br />
                            Si comparamos los datos de <b>San Lucas</b> con los del estado de <b>Michoacán de Ocampo</b> 
                            concluimos que ocupa el puesto 56 de los 113 municipios que hay en el estado y representa un 0,4275% 
                            de la población total de éste.
                            <br /><br />
                            A nivel nacional,<b>San Lucas</b> ocuma elpuesto 961 de los 2,454 municipios que hay en Mexíco y representa 
                            un 0,0164% de la población total del país.
                        </p>
                        <br /><br />
                        <h3><b style="font-size: xx-large;">Resumen de San Lucas:</b></h3>
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th style="font-size: x-large;">Dato</th>
                                        <th style="font-size: x-large;">Valor</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Población</td>
                                        <td>16,953</td>
                                    </tr>
                                    <tr>
                                        <td>Hombres</td>
                                        <td>8,209</td>
                                    </tr>
                                    <tr>
                                        <td>Mujeres</td>
                                        <td>8,744</td>
                                    </tr>
                                    <tr>
                                        <td>%Hombres</td>
                                        <td>48,42</td>
                                    </tr>
                                    <tr>
                                        <td>%Mujeres</td>
                                        <td>51,58</td>
                                    </tr>
                                    <tr>
                                        <td>Ranking estatal</td>
                                        <td>56/113</td>
                                    </tr>
                                    <tr>
                                        <td>Ranking nacional</td>
                                        <td>961/2.454</td>
                                    </tr>
                                </tbody>                            
                            </table>                        
                        </div>
                    </div>
                </div>
            </article>
        </div>
        <div class="col-md-3">
            <aside>
                <?php include "Vista/submenu.phtml"; ?>
            </aside>
        </div>
    </div>
</section>