*{
	/* A universal CSS reset */
	margin:0;
	padding:0;
}
.marge{
    margin: 4px;
}
.row{
    text-align: center; 
    margin-left: 4px; 
    margin-right: 4px;
}
.formimg{
    width:200px;
    max-height: 200px;
}
ul li i {
    margin-right: 5px;
}
p i {
    margin-right: 5px;
}
#centro{
    text-align: center;
}
/* ===========================
--- Footer
============================ */
.footer {
    margin:0;
    margin-right: 0;
    background-color: black;
    width: 100%;
    height: auto;
    text-align: center;
}
footer p {
	color: white;
}
.gal_hor{
    
}
.gal_ver{
    width: 200px;
    height: auto;
}

/*
#scroll-up {
    bottom: 20px;
    position: fixed;
    right: 45%;
    display: none;
    background-color: #2c2c2c;
    opacity: 0.9;
    filter: alpha(opacity=90);
    padding: 3px 10px;
    border-radius: 2px;
    font-size: 20px;
}*/