<section>
    <div class="row">
        <div class="col-md-9">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h1 style="font-size: xx-large;"><b>Eventos Realizados el Mes de Mayo 2017</b></h1>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            <article>
                                <div class="panel panel-success">
                                    <div class="panel-heading">
                                        <b>Inauguración del Auditorio Municipal las Camelinas y Festejando el Día de las Madres</b>
                                    </div>
                                    <time datetime="2017-05-12" style="color:grey;text-align:justify;">
                                        publicado el viernes de 12 de mayo de 2017.
                                    </time>
                                    <div class="panel-body">
                                        <p style="padding:20px; text-align:justify;">
                                            <b>El día 10 de mayo de 2017., El antecedente de la construcción del Auditorio Municipal las camelinas, se dio el 13 de enero del 2017, como una forma de conmemorar el 92° aniversario en que San Lucas fue elevado a la categoría política de municipio e inaugurado el día 10 de mayo como un regalo de ofrecer un espacio digno a las madres del municipio en donde puedan tener toda la ciudadanía un espacio de encuentro para preservar los usos y costumbres a través de las tradiciones. El acto inaugural fue acompañado por la bendición del párroco Antonio Reynoso tranquilino.
                                        Juntamente después de la inauguración del Auditorio municipal se llevó acabo también el Festejo para celebrar a todas las Madres de la cabecera municipal. En organización con el H. Ayuntamiento Y Dif San Lucas.</b>
                                        </p>
                                        <div class="col-lg-4">
                                            <figure>
                                                <a href="Libreria/img/2017/may/10_de_mayo/img1.jpg" target="_blank">
                                                    <img src="Libreria/img/2017/may/10_de_mayo/img1.jpg" class="thumbnail img-responsive" alt="img" />
                                                </a>
                                            </figure>
                                        </div>
                                        <div class="col-lg-4">
                                            <figure>
                                                <a href="Libreria/img/2017/may/10_de_mayo/img2.jpg" target="_blank">
                                                    <img src="Libreria/img/2017/may/10_de_mayo/img2.jpg" class="thumbnail img-responsive" alt="img" />
                                                </a>
                                            </figure>
                                        </div>
                                        <div class="col-lg-4">
                                            <figure>
                                                <a href="Libreria/img/2017/may/10_de_mayo/img3.jpg" target="_blank">
                                                    <img src="Libreria/img/2017/may/10_de_mayo/img3.jpg" class="thumbnail img-responsive" alt="img" />
                                                </a>
                                            </figure>
                                        </div>
                                        <div class="col-lg-4">
                                            <figure>
                                                <a href="Libreria/img/2017/may/10_de_mayo/img4.jpg" target="_blank">
                                                    <img src="Libreria/img/2017/may/10_de_mayo/img4.jpg" class="thumbnail img-responsive" alt="img" />
                                                </a>
                                            </figure>
                                        </div>
                                        <div class="col-lg-4">
                                            <figure>
                                                <a href="Libreria/img/2017/may/10_de_mayo/img5.jpg" target="_blank">
                                                    <img src="Libreria/img/2017/may/10_de_mayo/img5.jpg" class="thumbnail img-responsive" alt="img" />
                                                </a>
                                            </figure>
                                        </div>
                                        <div class="col-lg-4">
                                            <figure>
                                                <a href="Libreria/img/2017/may/10_de_mayo/img6.jpg" target="_blank">
                                                    <img src="Libreria/img/2017/may/10_de_mayo/img6.jpg" class="thumbnail img-responsive" alt="img" />
                                                </a>
                                            </figure>
                                        </div>
                                        <div class="col-lg-4">
                                            <figure>
                                                <a href="Libreria/img/2017/may/10_de_mayo/img7.jpg" target="_blank">
                                                    <img src="Libreria/img/2017/may/10_de_mayo/img7.jpg" class="thumbnail img-responsive" alt="img" />
                                                </a>
                                            </figure>
                                        </div>
                                        <div class="col-lg-4">
                                            <figure>
                                                <a href="Libreria/img/2017/may/10_de_mayo/img8.jpg" target="_blank">
                                                    <img src="Libreria/img/2017/may/10_de_mayo/img8.jpg" class="thumbnail img-responsive" alt="img" />
                                                </a>
                                            </figure>
                                        </div>
                                        <div class="col-lg-4">
                                            <figure>
                                                <a href="Libreria/img/2017/may/10_de_mayo/img9.jpg" target="_blank">
                                                    <img src="Libreria/img/2017/may/10_de_mayo/img9.jpg" class="thumbnail img-responsive" alt="img" />
                                                </a>
                                            </figure>
                                        </div>
                                        <div class="col-lg-4">
                                            <figure>
                                                <a href="Libreria/img/2017/may/10_de_mayo/img10.jpg" target="_blank">
                                                    <img src="Libreria/img/2017/may/10_de_mayo/img10.jpg" class="thumbnail img-responsive" alt="img" />
                                                </a>
                                            </figure>
                                        </div>
                                        <div class="col-lg-4">
                                            <figure>
                                                <a href="Libreria/img/2017/may/10_de_mayo/img11.jpg" target="_blank">
                                                    <img src="Libreria/img/2017/may/10_de_mayo/img11.jpg" class="thumbnail img-responsive" alt="img" />
                                                </a>
                                            </figure>
                                        </div>
                                        <div class="col-lg-4">
                                            <figure>
                                                <a href="Libreria/img/2017/may/10_de_mayo/img12.jpg" target="_blank">
                                                    <img src="Libreria/img/2017/may/10_de_mayo/img12.jpg" class="thumbnail img-responsive" alt="img" />
                                                </a>
                                            </figure>
                                        </div>
                                    </div>
                                </div>
                            </article>
                            <article>
                                <div class="panel panel-success">
                                    <div class="panel-heading">
                                        <b>Entrega de Rehabilitación del Centro de Salud .:. H. Ayuntamiento de San Lucas, Mich.</b>
                                    </div>
                                    <time datetime="2017-05-18" style="color:grey;text-align:justify;">
                                        publicado el jueves 18 de mayo de 2017.
                                    </time>
                                    <div class="panel-body">
                                        <p style="padding:20px; text-align:justify;">
                                            <b>
                                                El Día de miércoles 17 de Mayo de 2017, se hizo entrega del antiguo Centro de Salud Rehabilitado por parte del C. Arturo Torres Aguirre, acompañado de la comuna municipal; a las Autoridades de Salud a través de la Doctora C. Alondra Garcen Chávez Directora del nosocomio de la cabecera municipal con una inversión presupuestal muy modesta, y con un impacto y rentabilidad social, toda vez que con esto se está respondiendo a una exigencia que por más de cuatro años las familias de la cabecera municipal y las comunidades aledañas adscritas a este espacio de Salud.
                                                Con esta acción se está dando cumplimiento a un ordenamiento de los ejes estratégicos que en materia de Salud, están establecidos en nuestro plan de desarrollo municipal 2015-2018. Ante la espera infructuosa del centro de salud inconcluso por parte de las gestiones del Gobierno del estado; en Sesión ordinaria I del día 13 de enero del 2017, el Cabildo acuerda, a propuesta del C. Arturo Torres Aguirre, llevar a cabo la rehabilitación en mención.
                                                En su participación de la Doctora Alondra Garcen Chávez Directora del Centro de Salud manifiesta su gratitud al Gobierno municipal por esta acción Que se verá reflejada en el mejoramiento de la atención médica a todas las familias adscritas a este espacio de salud, así como la coordinación de las clínicas rurales de las comunidades de la Estancia y Tacupa.
                                            </b>
                                        </p>
                                        <div class="col-lg-4">
                                            <figure>
                                                <a href="Libreria/img/2017/may/centro_de_salud/img1.jpg" target="_blank">
                                                    <img src="Libreria/img/2017/may/centro_de_salud/img1.jpg" class="thumbnail img-responsive" alt="img" />
                                                </a>
                                            </figure>
                                        </div>
                                        <div class="col-lg-4">
                                            <figure>
                                                <a href="Libreria/img/2017/may/centro_de_salud/img2.jpg" target="_blank">
                                                    <img src="Libreria/img/2017/may/centro_de_salud/img2.jpg" class="thumbnail img-responsive" alt="img" />
                                                </a>
                                            </figure>
                                        </div>
                                        <div class="col-lg-4">
                                            <figure>
                                                <a href="Libreria/img/2017/may/centro_de_salud/img3.jpg" target="_blank">
                                                    <img src="Libreria/img/2017/may/centro_de_salud/img3.jpg" class="thumbnail img-responsive" alt="img" />
                                                </a>
                                            </figure>
                                        </div>
                                        <div class="col-lg-4">
                                            <figure>
                                                <a href="Libreria/img/2017/may/centro_de_salud/img4.jpg" target="_blank">
                                                    <img src="Libreria/img/2017/may/centro_de_salud/img4.jpg" class="thumbnail img-responsive" alt="img" />
                                                </a>
                                            </figure>
                                        </div>
                                        <div class="col-lg-4">
                                            <figure>
                                                <a href="Libreria/img/2017/may/centro_de_salud/img5.jpg" target="_blank">
                                                    <img src="Libreria/img/2017/may/centro_de_salud/img5.jpg" class="thumbnail img-responsive" alt="img" />
                                                </a>
                                            </figure>
                                        </div>
                                        <div class="col-lg-4">
                                            <figure>
                                                <a href="Libreria/img/2017/may/centro_de_salud/img6.jpg" target="_blank">
                                                    <img src="Libreria/img/2017/may/centro_de_salud/img6.jpg" class="thumbnail img-responsive" alt="img" />
                                                </a>
                                            </figure>
                                        </div>
                                    </div>
                                </div>
                            </article>
                            <article>
                                <div class="panel panel-success">
                                    <div class="panel-heading">
                                        <b>Entrega de Uniforme a Seguridad pública .:. H. Ayuntamiento de San Lucas, Mich.</b>
                                    </div>
                                    <time datetime="2017-05-18" style="color:grey;text-align:justify;">
                                        publicado el jueves 18 de mayo de 2017.
                                    </time>
                                    <div class="panel-body">
                                        <p style="padding:20px; text-align:justify;">
                                            <b>
                                                El Día de miércoles 17 de Mayo de 2017, El C. Arturo Torres Aguirre Hizo entrega de Uniformes al equipo de elementos de Seguridad pública en el H. Ayuntamiento de San Lucas Mich.
                                            </b>
                                        </p>
                                        <div class="col-lg-3">
                                            <figure>
                                                <a href="Libreria/img/2017/may/uniformes_de_seguridad/img1.jpg" target="_blank">
                                                    <img src="Libreria/img/2017/may/uniformes_de_seguridad/img1.jpg" class="thumbnail img-responsive" alt="img" />
                                                </a>
                                            </figure>
                                        </div>
                                        <div class="col-lg-3">
                                            <figure>
                                                <a href="Libreria/img/2017/may/uniformes_de_seguridad/img2.jpg" target="_blank">
                                                    <img src="Libreria/img/2017/may/uniformes_de_seguridad/img2.jpg" class="thumbnail img-responsive" alt="img" />
                                                </a>
                                            </figure>
                                        </div>
                                        <div class="col-lg-3">
                                            <figure>
                                                <a href="Libreria/img/2017/may/uniformes_de_seguridad/img3.jpg" target="_blank">
                                                    <img src="Libreria/img/2017/may/uniformes_de_seguridad/img3.jpg" class="thumbnail img-responsive" alt="img" />
                                                </a>
                                            </figure>
                                        </div>
                                        <div class="col-lg-3">
                                            <figure>
                                                <a href="Libreria/img/2017/may/uniformes_de_seguridad/img4.jpg" target="_blank">
                                                    <img src="Libreria/img/2017/may/uniformes_de_seguridad/img4.jpg" class="thumbnail img-responsive" alt="img" />
                                                </a>
                                            </figure>
                                        </div>
                                    </div>
                                </div>
                            </article>
                            <article>
                                <div class="panel panel-success">
                                    <div class="panel-heading">
                                        <b>Construcción de Drenaje en Localidad de Vicente Riva Palacio .:. H. Ayuntamiento de San Lucas, Mich.</b>
                                    </div>
                                    <time datetime="2017-05-22" style="color:grey;text-align:justify;">
                                        publicado el lunes 22 de mayo de 2017.
                                    </time>
                                    <div class="panel-body">
                                        <p style="padding:20px; text-align:justify;">
                                            <b>
                                                El día viernes 19 de Mayo de 2017, El C. Arturo Torres Aguirre da banderazo de arranque de obra; Construcción de drenaje sanitario en la calle Encino de la localidad de Vicente Riva Palacio, en compañía de regidores, secretario del H. Ayuntamiento y de personas que habitan en dicha localidad. 
                                                Meta; 460 ML, con un costo de $676,681.79 pesos, en benefició de aproximadamente 1,000 personas.
                                            </b>
                                        </p>
                                        <div class="col-lg-3">
                                            <figure>
                                                <a href="Libreria/img/2017/may/drenaje_riva_palacio/img1.jpg" target="_blank">
                                                    <img src="Libreria/img/2017/may/drenaje_riva_palacio/img1.jpg" class="thumbnail img-responsive" alt="img" />
                                                </a>
                                            </figure>
                                        </div>
                                        <div class="col-lg-3">
                                            <figure>
                                                <a href="Libreria/img/2017/may/drenaje_riva_palacio/img2.jpg" target="_blank">
                                                    <img src="Libreria/img/2017/may/drenaje_riva_palacio/img2.jpg" class="thumbnail img-responsive" alt="img" />
                                                </a>
                                            </figure>
                                        </div>
                                        <div class="col-lg-3">
                                            <figure>
                                                <a href="Libreria/img/2017/may/drenaje_riva_palacio/img3.jpg" target="_blank">
                                                    <img src="Libreria/img/2017/may/drenaje_riva_palacio/img3.jpg" class="thumbnail img-responsive" alt="img" />
                                                </a>
                                            </figure>
                                        </div>
                                        <div class="col-lg-3">
                                            <figure>
                                                <a href="Libreria/img/2017/may/drenaje_riva_palacio/img4.jpg" target="_blank">
                                                    <img src="Libreria/img/2017/may/drenaje_riva_palacio/img4.jpg" class="thumbnail img-responsive" alt="img" />
                                                </a>
                                            </figure>
                                        </div>
                                    </div>
                                </div>
                            </article>
                            <article>
                                <div class="panel panel-success">
                                    <div class="panel-heading">
                                        <b>1° Entrega de Apoyo de Fertilizante .:. H. Ayuntamiento de San Lucas, Mich.</b>
                                    </div>
                                    <time datetime="2017-05-24" style="color:grey;text-align:justify;">
                                        publicado el miércoles 24 de mayo de 2017.
                                    </time>
                                    <div class="panel-body">
                                        <p style="padding:20px; text-align:justify;">
                                            <b>
                                                El día martes 23 de mayo de 2017, se realizó la primer entrega de Fertilizante Gestionado por el C. Arturo Torres Aguirre, se les entregó a los productores de La Estancia, La Lajita, El Para y el Machuque. Dichas comunidades que fueron beneficiadas con 70 de 800 Toneladas que se tienen como meta a entregar en el Municipio de San Lucas.
                                            </b>
                                        </p>
                                        <div class="col-lg-4">
                                            <figure>
                                                <a href="Libreria/img/2017/may/fertilizante/img1.jpg" target="_blank">
                                                    <img src="Libreria/img/2017/may/fertilizante/img1.jpg" class="thumbnail img-responsive" alt="img" />
                                                </a>
                                            </figure>
                                        </div>
                                        <div class="col-lg-4">
                                            <figure>
                                                <a href="Libreria/img/2017/may/fertilizante/img2.jpg" target="_blank">
                                                    <img src="Libreria/img/2017/may/fertilizante/img2.jpg" class="thumbnail img-responsive" alt="img" />
                                                </a>
                                            </figure>
                                        </div>
                                        <div class="col-lg-4">
                                            <figure>
                                                <a href="Libreria/img/2017/may/fertilizante/img3.jpg" target="_blank">
                                                    <img src="Libreria/img/2017/may/fertilizante/img3.jpg" class="thumbnail img-responsive" alt="img" />
                                                </a>
                                            </figure>
                                        </div>
                                    </div>
                                </div>
                            </article>
                            <article>
                                <div class="panel panel-success">
                                    <div class="panel-heading">
                                        <b>Inauguración del Puente "Crescencio Tamayo Hernandez" .:. H. Ayuntamiento de San Lucas, Mich.</b>
                                    </div>
                                    <time datetime="2017-05-30" style="color:grey;text-align:justify;">
                                        publicado el martes 30 de mayo de 2017.
                                    </time>
                                    <div class="panel-body">
                                        <p style="padding:20px; text-align:justify;">
                                            <b>
                                                El día lunes 29 de mayo de 2017, a las 4:00 p.m., Se llevó a cabo el Corte de listón inaugural del puente "Crescencio Tamayo Hernandez" en la comunidad de los Bancos. El nombre del puente como un reconocimiento a un ciudadano emblemático y productor ejemplar que siempre frente a los turnos de las gestiones gubernamentales persistió en la necesidad de construir este puente. Y que ahora después de su muerte quien da respuesta a ese anhelo, es la gestión 2015-2018 representada por el C. Arturo Torres Aguirre.
                                                Esta Obra representa un factor sumamente importante agrícola y ganadero de los productores del Cueramo, Tacupa y de los Bancos Principalmente. aunque muy modesta en su inversión pero con un alto impacto en su rentabilidad para los productores de dichas comunidades. Estuvieron presentes en la entrega oficial de esta obra el propio Presidente acompañado de su comuna, directores y auxiliares de la función publica municipal asi como los propios habitantes de los bancos.
                                            </b>
                                        </p>
                                        <div class="col-lg-3">
                                            <figure>
                                                <a href="Libreria/img/2017/may/puente_los_bancos/img1.jpg" target="_blank">
                                                    <img src="Libreria/img/2017/may/puente_los_bancos/img1.jpg" class="thumbnail img-responsive" alt="img" />
                                                </a>
                                            </figure>
                                        </div>
                                        <div class="col-lg-3">
                                            <figure>
                                                <a href="Libreria/img/2017/may/puente_los_bancos/img2.jpg" target="_blank">
                                                    <img src="Libreria/img/2017/may/puente_los_bancos/img2.jpg" class="thumbnail img-responsive" alt="img" />
                                                </a>
                                            </figure>
                                        </div>
                                        <div class="col-lg-3">
                                            <figure>
                                                <a href="Libreria/img/2017/may/puente_los_bancos/img3.jpg" target="_blank">
                                                    <img src="Libreria/img/2017/may/puente_los_bancos/img3.jpg" class="thumbnail img-responsive" alt="img" />
                                                </a>
                                            </figure>
                                        </div>
                                        <div class="col-lg-3">
                                            <figure>
                                                <a href="Libreria/img/2017/may/puente_los_bancos/img4.jpg" target="_blank">
                                                    <img src="Libreria/img/2017/may/puente_los_bancos/img4.jpg" class="thumbnail img-responsive" alt="img" />
                                                </a>
                                            </figure>
                                        </div>
                                    </div>
                                </div>
                            </article>
                            <article>
                                <div class="panel panel-success">
                                    <div class="panel-heading">
                                        <b>Campaña de Limpieza a Vías de Comunicación, Calles y Rio Cutzamala .:. H. Ayuntamiento de San Lucas, Mich.</b>
                                    </div>
                                    <time datetime="2017-06-01" style="color:grey;text-align:justify;">
                                        publicado el jueves 1 de junio de 2017.
                                    </time>
                                    <div class="panel-body">
                                        <p style="padding:20px; text-align:justify;">
                                            <b>
                                                El día miércoles 31 de mayo de 2017, Se realizó una campaña de limpieza a vías de comunicación calles y rio Cutzamala, en la tenencia de santa cruz de villa Gómez, promovido por el jefe de tenencia, el c. Santiago Macedo Albarrán; la cual es respaldada por el acompañamiento del c. Arturo torres Aguirre, presidente municipal de san Lucas, Michoacán; el Lic. Aristeo maya corona, En cuanto a regidor de desarrollo urbano y obra pública; así como las instituciones educativas y beneficiarias del programa prospera de la propia comunidad.
                                                El objetivo de la campaña es darle una mejor imagen a la tenencia, además se está contribuyendo a tener una población más saludable al retirar focos de infección que son generadores de enfermedades, algunas incluso mortales.
                                            </b>
                                        </p>
                                        <div class="col-lg-6">
                                            <figure>
                                                <a href="Libreria/img/2017/may/santa_cruz/img1.jpg" target="_blank">
                                                    <img src="Libreria/img/2017/may/santa_cruz/img1.jpg" class="thumbnail img-responsive" alt="img" />
                                                </a>
                                            </figure>
                                        </div>
                                        <div class="col-lg-6">
                                            <figure>
                                                <a href="Libreria/img/2017/may/santa_cruz/img2.jpg" target="_blank">
                                                    <img src="Libreria/img/2017/may/santa_cruz/img2.jpg" class="thumbnail img-responsive" alt="img" />
                                                </a>
                                            </figure>
                                        </div>
                                    </div>
                                </div>
                            </article>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3"><!-- Barra lateral -->
            <aside>
                <?php 
                    include "Vista/main.phtml";
                    include "Vista/submenu.phtml";
                ?>
            </aside>
        </div><!-- end BL -->
    </div>
</section>
