<section>
    <div class="row">
        <div class="col-md-9">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h1 style="font-size: xx-large;"><b>Eventos Realizados el Mes de Junio 2017</b></h1>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            <article>
                                <div class="panel panel-success">
                                    <div class="panel-heading">
                                        <b>Entrega Del Camión Recolector de Basura .:. H. Ayuntamiento de San Lucas, Mich.</b>
                                    </div>
                                    <time datetime="2017-06-05" style="color:grey;text-align:justify;">
                                        publicado el lunes 5 de junio de 2017.
                                    </time>
                                    <div class="panel-body">
                                        <p style="padding:20px; text-align:justify;">
                                            <b>
                                                El día lunes 5 de junio de 2017., El C. Arturo Torres Aguirre hace Entrega Del Camión Recolector de Basura al Conductor Nicolás Pineda, Con el Objetivo de mejorar la Infraestructura de Recolección Limpia y Traslado de Basura de la Tenencia Vicente Riva Palacio. En la entrega Del Camión Recolector de Basura estuvo Presente la Profesora Ofelia Santibañez Carbajal, así como La Regidora Nereida Estrada Salgado entre otros Funcionarios.
                                            </b>
                                        </p>
                                        <div class="col-lg-3">
                                            <figure>
                                                <a href="Libreria/img/2017/jun/camion_recolector/img1.jpg" target="_blank">
                                                    <img src="Libreria/img/2017/jun/camion_recolector/img1.jpg" class="thumbnail img-responsive" alt="img" />
                                                </a>
                                            </figure>
                                        </div>
                                        <div class="col-lg-3">
                                            <figure>
                                                <a href="Libreria/img/2017/jun/camion_recolector/img2.jpg" target="_blank">
                                                    <img src="Libreria/img/2017/jun/camion_recolector/img2.jpg" class="thumbnail img-responsive" alt="img" />
                                                </a>
                                            </figure>
                                        </div>
                                        <div class="col-lg-3">
                                            <figure>
                                                <a href="Libreria/img/2017/jun/camion_recolector/img3.jpg" target="_blank">
                                                    <img src="Libreria/img/2017/jun/camion_recolector/img3.jpg" class="thumbnail img-responsive" alt="img" />
                                                </a>
                                            </figure>
                                        </div>
                                        <div class="col-lg-3">
                                            <figure>
                                                <a href="Libreria/img/2017/jun/camion_recolector/img4.jpg" target="_blank">
                                                    <img src="Libreria/img/2017/jun/camion_recolector/img4.jpg" class="thumbnail img-responsive" alt="img" />
                                                </a>
                                            </figure>
                                        </div>
                                    </div>
                                </div>
                            </article>
                            <article>
                                <div class="panel panel-success">
                                    <div class="panel-heading">
                                        <b>Arranque de Obra para la Construcción de Techo .:. H. Ayuntamiento de San Lucas, Mich.</b>
                                    </div>
                                    <time datetime="2017-06-07" style="color:grey;text-align:justify;">
                                        publicado el miércoles 7 de junio de 2017.
                                    </time>
                                    <div class="panel-body">
                                        <p style="padding:20px; text-align:justify;">
                                            <b>
                                                El día miércoles 7 de junio de 2017., El C. Arturo Torres Aguirre Acompañado de su comuna, Da Banderazo de Arranque de Obra para la Construcción de Techo Estructural, en la Escuela Primaria "Lázaro Cárdenas" de la Localidad del Huizachal, la meta es; 572 Metros Cuadrados, el costo es de $525,000.00 en beneficio de aproximadamente 60 alumnos.
                                            </b>
                                        </p>
                                        <div class="col-lg-4">
                                            <figure>
                                                <a href="Libreria/img/2017/jun/construccion_techado/img1.jpg" target="_blank">
                                                    <img src="Libreria/img/2017/jun/construccion_techado/img1.jpg" class="thumbnail img-responsive" alt="img" />
                                                </a>
                                            </figure>
                                        </div>
                                        <div class="col-lg-4">
                                            <figure>
                                                <a href="Libreria/img/2017/jun/construccion_techado/img2.jpg" target="_blank">
                                                    <img src="Libreria/img/2017/jun/construccion_techado/img2.jpg" class="thumbnail img-responsive" alt="img" />
                                                </a>
                                            </figure>
                                        </div>
                                        <div class="col-lg-4">
                                            <figure>
                                                <a href="Libreria/img/2017/jun/construccion_techado/img3.jpg" target="_blank">
                                                    <img src="Libreria/img/2017/jun/construccion_techado/img3.jpg" class="thumbnail img-responsive" alt="img" />
                                                </a>
                                            </figure>
                                        </div>
                                    </div>
                                </div>
                            </article>
                            <article>
                                <div class="panel panel-success">
                                    <div class="panel-heading">
                                        <b>Avances Laborales .:. H. Ayuntamiento de San Lucas, Mich.</b>
                                    </div>
                                    <time datetime="2017-06-23" style="color:grey;text-align:justify;">
                                        publicado el viernes 23 de junio de 2017.
                                    </time>
                                    <div class="panel-body">
                                        <p style="padding:20px; text-align:justify;">
                                            <b>
                                                Avance de trabajo de adoquinamiento en calle Ignacio Muñoz, de la cabacera municipal de San Lucas.
                                            </b>
                                        </p>
                                        <div class="col-lg-4">
                                            <figure>
                                                <a href="Libreria/img/2017/jun/avance_trabajado/img1.jpg" target="_blank">
                                                    <img src="Libreria/img/2017/jun/avance_trabajado/img1.jpg" class="thumbnail img-responsive" alt="img" />
                                                </a>
                                            </figure>
                                        </div>
                                        <div class="col-lg-4">
                                            <figure>
                                                <a href="Libreria/img/2017/jun/avance_trabajado/img2.jpg" target="_blank">
                                                    <img src="Libreria/img/2017/jun/avance_trabajado/img2.jpg" class="thumbnail img-responsive" alt="img" />
                                                </a>
                                            </figure>
                                        </div>
                                        <div class="col-lg-4">
                                            <figure>
                                                <a href="Libreria/img/2017/jun/avance_trabajado/img3.jpg" target="_blank">
                                                    <img src="Libreria/img/2017/jun/avance_trabajado/img3.jpg" class="thumbnail img-responsive" alt="img" />
                                                </a>
                                            </figure>
                                        </div>
                                    </div>
                                </div>
                            </article>
                            <article>
                                <div class="panel panel-success">
                                    <div class="panel-heading">
                                        <b>Mejorando Servicios de Agua y Drenaje en Loc. de Riva Palacio .:. H. Ayuntamiento de San Lucas, Mich.</b>
                                    </div>
                                    <time datetime="2017-06-23" style="color:grey;text-align:justify;">
                                        publicado el viernes 23 de junio de 2017.
                                    </time>
                                    <div class="panel-body">
                                        <p style="padding:20px; text-align:justify;">
                                            <b>
                                                Para mejorar los servicios de agua y drenaje, se agilizan trabajos de drenaje sanitarios, en la Localidad de Riva Palacio, en calles General Anaya, Independencia, Nicolás Bravo y Juarez, con una suma de 500 mts. lineales y una inversión de alrededor de $75,741,521, beneficiando a más de 300 familias.
                                            </b>
                                        </p>
                                        <div class="col-lg-3">
                                            <figure>
                                                <a href="Libreria/img/2017/jun/mejora_de_servicios/img1.jpg" target="_blank">
                                                    <img src="Libreria/img/2017/jun/mejora_de_servicios/img1.jpg" class="thumbnail img-responsive" alt="img" />
                                                </a>
                                            </figure>
                                        </div>
                                        <div class="col-lg-3">
                                            <figure>
                                                <a href="Libreria/img/2017/jun/mejora_de_servicios/img2.jpg" target="_blank">
                                                    <img src="Libreria/img/2017/jun/mejora_de_servicios/img2.jpg" class="thumbnail img-responsive" alt="img" />
                                                </a>
                                            </figure>
                                        </div>
                                        <div class="col-lg-3">
                                            <figure>
                                                <a href="Libreria/img/2017/jun/mejora_de_servicios/img3.jpg" target="_blank">
                                                    <img src="Libreria/img/2017/jun/mejora_de_servicios/img3.jpg" class="thumbnail img-responsive" alt="img" />
                                                </a>
                                            </figure>
                                        </div>
                                        <div class="col-lg-3">
                                            <figure>
                                                <a href="Libreria/img/2017/jun/mejora_de_servicios/img4.jpg" target="_blank">
                                                    <img src="Libreria/img/2017/jun/mejora_de_servicios/img4.jpg" class="thumbnail img-responsive" alt="img" />
                                                </a>
                                            </figure>
                                        </div>
                                    </div>
                                </div>
                            </article>
                            <article>
                                <div class="panel panel-success">
                                    <div class="panel-heading">
                                        <b>Banderazo de Arranque a la Obra de Bacheo General .:. H. Ayuntamiento de San Lucas, Mich.</b>
                                    </div>
                                    <time datetime="2017-06-23" style="color:grey;text-align:justify;">
                                        publicado el viernes 23 de junio de 2017.
                                    </time>
                                    <div class="panel-body">
                                        <p style="padding:20px; text-align:justify;">
                                            <b>
                                                Atendiendo las necesidades de la población del municipio, la administración que encabeza C. Arturo Torres Aguirre, acompañado por integrantes del cabildo y vecinos beneficiarios, dieron el banderazo de arranque a la obra de bacheo general y aplicacion de carpeta asfaltica en Carr. Corral Viejo - Angao.
                                            </b>
                                        </p>
                                        <div class="col-lg-4">
                                            <figure>
                                                <a href="Libreria/img/2017/jun/obra_asfaltica/img1.jpg" target="_blank">
                                                    <img src="Libreria/img/2017/jun/obra_asfaltica/img1.jpg" class="thumbnail img-responsive" alt="img" />
                                                </a>
                                            </figure>
                                        </div>
                                        <div class="col-lg-4">
                                            <figure>
                                                <a href="Libreria/img/2017/jun/obra_asfaltica/img2.jpg" target="_blank">
                                                    <img src="Libreria/img/2017/jun/obra_asfaltica/img2.jpg" class="thumbnail img-responsive" alt="img" />
                                                </a>
                                            </figure>
                                        </div>
                                        <div class="col-lg-4">
                                            <figure>
                                                <a href="Libreria/img/2017/jun/obra_asfaltica/img3.jpg" target="_blank">
                                                    <img src="Libreria/img/2017/jun/obra_asfaltica/img3.jpg" class="thumbnail img-responsive" alt="img" />
                                                </a>
                                            </figure>
                                        </div>
                                    </div>
                                </div>
                            </article>
                            <article>
                                <div class="panel panel-success">
                                    <div class="panel-heading">
                                        <b>Supervisión de Obra de Techumbre y Apoyo.:. H. Ayuntamiento de San Lucas, Mich.</b>
                                    </div>
                                    <time datetime="2017-06-26" style="color:grey;text-align:justify;">
                                        publicado el lunes 26 de junio de 2017.
                                    </time>
                                    <div class="panel-body">
                                        <p style="padding:20px; text-align:justify;">
                                            <b>
                                               Visita C. Arturo Torres Aguirre, Esc. Primaria en El Huizachal, para supervisar obra de techumbre, y hacer entrega de balones a alumnos de dicha institución. 
                                            </b>
                                        </p>
                                        <div class="col-lg-4">
                                            <figure>
                                                <a href="Libreria/img/2017/jun/supervision/img1.jpg" target="_blank">
                                                    <img src="Libreria/img/2017/jun/supervision/img1.jpg" class="thumbnail img-responsive" alt="img" />
                                                </a>
                                            </figure>
                                        </div>
                                        <div class="col-lg-4">
                                            <figure>
                                                <a href="Libreria/img/2017/jun/supervision/img2.jpg" target="_blank">
                                                    <img src="Libreria/img/2017/jun/supervision/img2.jpg" class="thumbnail img-responsive" alt="img" />
                                                </a>
                                            </figure>
                                        </div>
                                        <div class="col-lg-4">
                                            <figure>
                                                <a href="Libreria/img/2017/jun/supervision/img3.jpg" target="_blank">
                                                    <img src="Libreria/img/2017/jun/supervision/img3.jpg" class="thumbnail img-responsive" alt="img" />
                                                </a>
                                            </figure>
                                        </div>
                                    </div>
                                </div>
                            </article>
                            <article>
                                <div class="panel panel-success">
                                    <div class="panel-heading">
                                        <b>Campo de Futbol Soccer .:. H. Ayuntamiento de San Lucas, Mich.</b>
                                    </div>
                                    <time datetime="2017-06-26" style="color:grey;text-align:justify;">
                                        publicado el lunes 26 de junio de 2017.
                                    </time>
                                    <div class="panel-body">
                                        <p style="padding:20px; text-align:justify;">
                                            <b>
                                                C. Arturo Torres Aguirre supervisa en comunidad de Characharando obra en proceso de campo de de Futbol Soccer.
                                            </b>
                                        </p>
                                        <div class="col-lg-4">
                                            <figure>
                                                <a href="Libreria/img/2017/jun/campo_deportivo/img1.jpg" target="_blank">
                                                    <img src="Libreria/img/2017/jun/campo_deportivo/img1.jpg" class="thumbnail img-responsive" alt="img" />
                                                </a>
                                            </figure>
                                        </div>
                                        <div class="col-lg-4">
                                            <figure>
                                                <a href="Libreria/img/2017/jun/campo_deportivo/img2.jpg" target="_blank">
                                                    <img src="Libreria/img/2017/jun/campo_deportivo/img2.jpg" class="thumbnail img-responsive" alt="img" />
                                                </a>
                                            </figure>
                                        </div>
                                        <div class="col-lg-4">
                                            <figure>
                                                <a href="Libreria/img/2017/jun/campo_deportivo/img3.jpg" target="_blank">
                                                    <img src="Libreria/img/2017/jun/campo_deportivo/img3.jpg" class="thumbnail img-responsive" alt="img" />
                                                </a>
                                            </figure>
                                        </div>
                                    </div>
                                </div>
                            </article>
                            <article>
                                <div class="panel panel-success">
                                    <div class="panel-heading">
                                        <b>Entrega de Programa de Apoyo a discapacitados .:. H. Ayuntamiento de San Lucas, Mich.</b>
                                    </div>
                                    <time datetime="2017-06-26" style="color:grey;text-align:justify;">
                                        publicado el lunes 26 de junio de 2017.
                                    </time>
                                    <div class="panel-body">
                                        <p style="padding:20px; text-align:justify;">
                                            <b>
                                                En DIF Municipal el C. Arturo Torres Aguirre hace entrega de becas para discapacitados,beneficiados por el programa "AvanzaDIFerente".
                                            </b>
                                        </p>
                                        <div class="col-lg-2"></div>
                                        <div class="col-lg-8">
                                            <figure>
                                                <a href="Libreria/img/2017/jun/beca_discapacitados/img1.jpg" target="_blank">
                                                    <img src="Libreria/img/2017/jun/beca_discapacitados/img1.jpg" class="thumbnail img-responsive" alt="img" />
                                                </a>
                                            </figure>
                                        </div>
                                        <div class="col-lg-2"></div>
                                    </div>
                                </div>
                            </article>
                            <article>
                                <div class="panel panel-success">
                                    <div class="panel-heading">
                                        <b>Terminado el Tramo Carretero Hacía los Yacimientos de Mármol .:. H. Ayuntamiento de San Lucas, Mich.</b>
                                    </div>
                                    <time datetime="2017-06-27" style="color:grey;text-align:justify;">
                                        publicado el martes 27 de junio de 2017.
                                    </time>
                                    <div class="panel-body">
                                        <p style="padding:20px; text-align:justify;">
                                            <b>
                                                Terminado el camino que comunica hacia los yacimientos de mármol del ejido de El Tamarindo, como una respuesta a una solicitud que hacen los ejidatarios al gobierno municipal que encabeza el C. Arturo Torres Aguirre, con ello se establece una clara convocatoria a la inversion por parte del gobierno federal y estatal, asi como a la iniciativa privada para invertir a través de programas que detonen el desarrollo económico de la región, y que paradójicamente esta riqueza natural se ubica en las comunidades tipificadas como muy alta marginación y extrema pobreza. Por lo que de surgir efecto esa iniciativa municipal se estaría en situación de generar cambios importantes en la vida económica de las familias del ejido del municipio y de la propia región de Tierra Caliente.
                                            </b>
                                        </p>
                                        <div class="col-lg-4">
                                            <figure>
                                                <a href="Libreria/img/2017/jun/marmol/img1.jpg" target="_blank">
                                                    <img src="Libreria/img/2017/jun/marmol/img1.jpg" class="thumbnail img-responsive" alt="img" />
                                                </a>
                                            </figure>
                                        </div>
                                        <div class="col-lg-4">
                                            <figure>
                                                <a href="Libreria/img/2017/jun/marmol/img2.jpg" target="_blank">
                                                    <img src="Libreria/img/2017/jun/marmol/img2.jpg" class="thumbnail img-responsive" alt="img" />
                                                </a>
                                            </figure>
                                        </div>
                                        <div class="col-lg-4">
                                            <figure>
                                                <a href="Libreria/img/2017/jun/marmol/img3.jpg" target="_blank">
                                                    <img src="Libreria/img/2017/jun/marmol/img3.jpg" class="thumbnail img-responsive" alt="img" />
                                                </a>
                                            </figure>
                                        </div>
                                    </div>
                                </div>
                            </article>
                            <article>
                                <div class="panel panel-success">
                                    <div class="panel-heading">
                                        <b>Culmina la Entrega de Fertilizante y Semilla Mejorada .:. H. Ayuntamiento de San Lucas, Mich.</b>
                                    </div>
                                    <time datetime="2017-06-27" style="color:grey;text-align:justify;">
                                        publicado el martes 27 de junio de 2017.
                                    </time>
                                    <div class="panel-body">
                                        <p style="padding:20px; text-align:justify;">
                                            <b>
                                                Culmina la entrega de fertilizante y semilla mejorada a productores del municipio, apoyo gestionado con el fin de seguir apoyando al desarrollo del campo y a mas de 450 productores de las comunidades del municipio.
                                            </b>
                                        </p>
                                        <div class="col-lg-3">
                                            <figure>
                                                <a href="Libreria/img/2017/jun/fertilizante/img1.jpg" target="_blank">
                                                    <img src="Libreria/img/2017/jun/fertilizante/img1.jpg" class="thumbnail img-responsive" alt="img" />
                                                </a>
                                            </figure>
                                        </div>
                                        <div class="col-lg-3">
                                            <figure>
                                                <a href="Libreria/img/2017/jun/fertilizante/img2.jpg" target="_blank">
                                                    <img src="Libreria/img/2017/jun/fertilizante/img2.jpg" class="thumbnail img-responsive" alt="img" />
                                                </a>
                                            </figure>
                                        </div>
                                        <div class="col-lg-3">
                                            <figure>
                                                <a href="Libreria/img/2017/jun/fertilizante/img3.jpg" target="_blank">
                                                    <img src="Libreria/img/2017/jun/fertilizante/img3.jpg" class="thumbnail img-responsive" alt="img" />
                                                </a>
                                            </figure>
                                        </div>
                                        <div class="col-lg-3">
                                            <figure>
                                                <a href="Libreria/img/2017/jun/fertilizante/img4.jpg" target="_blank">
                                                    <img src="Libreria/img/2017/jun/fertilizante/img4.jpg" class="thumbnail img-responsive" alt="img" />
                                                </a>
                                            </figure>
                                        </div>
                                    </div>
                                </div>
                            </article>
                            <article>
                                <div class="panel panel-success">
                                    <div class="panel-heading">
                                        <b>Mantenimiento en General de Sistema de Agua Potable .:. H. Ayuntamiento de San Lucas, Mich.</b>
                                    </div>
                                    <time datetime="2017-06-27" style="color:grey;text-align:justify;">
                                        publicado el martes 27 de junio de 2017.
                                    </time>
                                    <div class="panel-body">
                                        <p style="padding:20px; text-align:justify;">
                                            <b>
                                               Ayuntamiento de San Lucas de forma coordinada con departamento de Sistema de Agua Potable prioriza trabajos de limpieza, reparación de bombas, ampliación de tuberías, y clorado de agua, trabajando así de manera pronta y eficiente para cubrir las demandas sociales.
                                            </b>
                                        </p>
                                        <div class="col-lg-4">
                                            <figure>
                                                <a href="Libreria/img/2017/jun/agua_potable/img1.jpg" target="_blank">
                                                    <img src="Libreria/img/2017/jun/agua_potable/img1.jpg" class="thumbnail img-responsive" alt="img" />
                                                </a>
                                            </figure>
                                        </div>
                                        <div class="col-lg-4">
                                            <figure>
                                                <a href="Libreria/img/2017/jun/agua_potable/img2.jpg" target="_blank">
                                                    <img src="Libreria/img/2017/jun/agua_potable/img2.jpg" class="thumbnail img-responsive" alt="img" />
                                                </a>
                                            </figure>
                                        </div>
                                        <div class="col-lg-4">
                                            <figure>
                                                <a href="Libreria/img/2017/jun/agua_potable/img3.jpg" target="_blank">
                                                    <img src="Libreria/img/2017/jun/agua_potable/img3.jpg" class="thumbnail img-responsive" alt="img" />
                                                </a>
                                            </figure>
                                        </div>
                                    </div>
                                </div>
                            </article>
                            <article>
                                <div class="panel panel-success">
                                    <div class="panel-heading">
                                        <b>Productores de Campo Michoacano .:. H. Ayuntamiento de San Lucas, Mich.</b>
                                    </div>
                                    <time datetime="2017-06-27" style="color:grey;text-align:justify;">
                                        publicado el martes 27 de junio de 2017.
                                    </time>
                                    <div class="panel-body">
                                        <p style="padding:20px; text-align:justify;">
                                            <b>
                                                Con el objetivo de entregar tractores a productores del campo michoacano, la Secretaría de Desarrollo Rural y Agroalimentario (Sedrua) abre convocatoria 2017 para sus programas A Toda Máquina y Agricultura Protegida.
                                                "TRABAJAR PARA CONSTRUIR"
                                            </b>
                                        </p>
                                        <div class="col-lg-6">
                                            <figure>
                                                <a href="Libreria/img/2017/jun/productores/img1.jpg" target="_blank">
                                                    <img src="Libreria/img/2017/jun/productores/img1.jpg" class="thumbnail img-responsive" alt="img" />
                                                </a>
                                            </figure>
                                        </div>
                                        <div class="col-lg-6">
                                            <figure>
                                                <a href="Libreria/img/2017/jun/productores/img2.jpg" target="_blank">
                                                    <img src="Libreria/img/2017/jun/productores/img2.jpg" class="thumbnail img-responsive" alt="img" />
                                                </a>
                                            </figure>
                                        </div>
                                    </div>
                                </div>
                            </article>
                            <article>
                                <div class="panel panel-success">
                                    <div class="panel-heading">
                                        <b>Festejo del Día del Padre .:. H. Ayuntamiento de San Lucas, Mich.</b>
                                    </div>
                                    <time datetime="2017-06-29" style="color:grey;text-align:justify;">
                                        publicado el jueves 29 de junio de 2017.
                                    </time>
                                    <div class="panel-body">
                                        <p style="padding:20px; text-align:justify;">
                                            <b>
                                                El día domingo 18 de junio de 2017, Con motivo de festejo en Día del Padre, el C. Arturo Torres Aguirre, realizó una pequeña celebración donde padres de las localidades del Municipio, se dieron cita para festejar su día, recibiendo obsequios y pasando un rato agradable.
                                            </b>
                                        </p>
                                        <div class="col-lg-2"></div>
                                        <div class="col-lg-8">
                                            <figure>
                                                <a href="Libreria/img/2017/jun/festejo/img1.jpg" target="_blank">
                                                    <img src="Libreria/img/2017/jun/festejo/img1.jpg" class="thumbnail img-responsive" alt="img" />
                                                </a>
                                            </figure>
                                        </div>
                                        <div class="col-lg-2"></div>
                                    </div>
                                </div>
                            </article>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3"><!-- Barra lateral -->
            <aside>
                <?php 
                    include "Vista/main.phtml";
                    include "Vista/submenu.phtml";
                ?>
            </aside>
        </div><!-- end BL -->
    </div>
</section>
