
<?PHP
    $obra1 = "Reencarpentamiento Asfalto en TramoCarretero San Lucas - Angao";
    $obra2 = "Rehabilitación de Camino en Tramo San Lucas - Apartadero";
    $obra3 = "Rehabilitación de Camino en Tramo Tirinchicuas - Machuque";
    $obra4 = "Rehabilitación de Camino en Tramo Brasiles - San lucas";
    $obra5 = "Rehabilitación de Camino en Tramo Brasiles - San Pedrito";
    $obra6 = "Rehabilitación de Camino en Tramo Monte Grande - San Pedrito";
    $obra7 = "Rehabilitación de Camino en Tramo Carretera Federal - Cueramo";
    $obra8 = "Amoliación de Drenaje Sanitario el Cuajilote";
    $obra9 = "Rehabilitación de Drenaje Sanitario en Calle San Lucas S/N San Lucas";
    $obra10 = "Rehabilitación de Drenaje Sanitario en Calle San Lazaro, San Lucas";
    $obra11 = "Construcción de Puente Behicular los Bancos";
    $obra12 = "Construcción de Drenaje Sanitario en Calle Morelos Riva Palacio";
    $obra13 = "Construcción de Drenaje Sanitario Chumbitaro";
    $obra14 = "Reencarpetamiento Asfaltico 0.683 KM en Tramo Entronque Carretera Federal Huetamo - Riva Palacio";
    $obra15 = "Pavimentación de Concreto Hidraulico en Calle Principal la Estancia";
    $obra16 = "Construcción de Drenaje de Sanitario en Calle Riva Palacio, San Lucas";
    $obra17 = "Construcción de Drenaje de Sanitario en Salguero";
    $obra18 = "Construcción de Tanque para Almacenamiento de Agua el Plan de Carreras";
    $obra19 = "Construcción de Drenaje Sanitario en la Colonia el Nanche - Angao";
    $obra20 = "Construcción de Muro de Contención en las Tirinchicuas";
    $obra21 = "Construcción de Drenaje Sanitario en la Colonia de San Pedrito";
    $obra22 = "Construcción de Pozo Profundo y Red de Agua Potable";
    $obra23 = "Construcción de Drenaje Sanitario en Colonia San Rafael, Calle San Agustín";
    $obra24 = "Rehabilitación de Camino de Tramo los Brasiles-San Pedrito - La Cuchillas-Huitzucatas";
    $obra25 = "Pavimentación con Concreto Asfaltico Calle Morelos";
    $obra26 = "Pavimentación con Concreto Asfaltico, Puente Calle Hidalgo";
    $obra27 = "Construcción de Drenaje Sanitario en Calle Moctezuma";
    $obra28 = "Construcción del Pozo Noria";
    $obra29 = "Pavimentación con Concreto Hidraulico en Calle 18 de Marzo";
    $obra30 = "Pavimentación con Concreto Hidraulico en Calle Moctezuma";
?>
<section>
    <div id="centro">
        <a href="?fp=principal"><i class="fa fa-fw fa-home"></i>Home</a>
        <img src="Libreria/img/login.png" /><b>Obras</b>
    </div>
    <hr />
    <div class="row" style="margin-left: 1px;">
        <div class="col-md-9">
            <article>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3><b>Direcci&oacute;n de Obras Públicas</b></h3>
                    </div>
                    <cite><b>Téc. Eduardo Díaz Valle</b></cite>
                    <div class="panel-body">
                        <h4><b>Elaboración de Obras Terminadas en el Municipio de San Lucas, Michoacán.</b></h4>
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead >
                                    <tr>
                                        <th style="font-size:large;background-color:maroon;color:white;border:solid 1px white">#</th>
                                        <th style="font-size:large;background-color:maroon;color:white;border:solid 1px white">Localidad</th>
                                        <th style="font-size:large;background-color:maroon;color:white;border:solid 1px white">Nombre de la Obra</th>
                                        <th style="font-size:large;background-color:maroon;color:white;border:solid 1px white">Status</th>
                                        <th style="font-size:large;background-color:maroon;color:white;border:solid 1px white">Archivo Fotografico</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr style="background: #F7FBFB;">
                                        <td id="td"><p>1</p></td>
                                        <td id="td"><p><b>Corral Viejo - Angao</b></p></td>
                                        <td id="td"><p><?PHP echo $obra1; ?></p></td>
                                        <td id="td"><p>Terminada</p></td>
                                        <td><a href="?fp=obra&num=1&des=<?php echo $obra1; ?>"><p>Ver</p></a></td>
                                    </tr>
                                    <tr style="background: #F7FBFB;">
                                        <td id="td"><p>2</p></td>
                                        <td id="td"><p><b>El Apartadero</b></p></td>
                                        <td id="td"><p><?PHP echo $obra2; ?></p></td>
                                        <td id="td"><p>Terminada</p></td>
                                        <td><a href="?fp=obra&num=2&des=<?php echo $obra2; ?>"><p>Ver</p></a></td>
                                    </tr>
                                    <tr style="background: #F7FBFB;">
                                        <td id="td"><p>3</p></td>
                                        <td id="td"><p><b>Machuque</b></p></td>
                                        <td id="td"><p><?PHP echo $obra3; ?></p></td>
                                        <td id="td"><p>Terminada</p></td>
                                        <td><a href="?fp=obra&num=3&des=<?php echo $obra3; ?>"><p>Ver</p></a></td>
                                    </tr>
                                    <tr style="background: #F7FBFB;">
                                        <td id="td"><p>4</p></td>
                                        <td id="td"><p>San Pedrito</p></td>
                                        <td id="td"><p><?PHP echo $obra4; ?></p></td>
                                        <td id="td"><p>Terminada</p></td>
                                        <td><a href="?fp=obra&num=4&des=<?php echo $obra4; ?>"><p>Ver</p></a></td>
                                    </tr>
                                    <tr style="background: #F7FBFB;">
                                        <td id="td"><p>5</p></td>
                                        <td id="td"><p><b>Los Brasiles</b></p></td>
                                        <td id="td"><p><?PHP echo $obra5; ?></p></td>
                                        <td id="td"><p>Terminada</p></td>
                                        <td><a href="?fp=obra&num=5&des=<?php echo $obra5; ?>"><p>Ver</p></a></td>
                                    </tr>
                                    <tr style="background: #F7FBFB;">
                                        <td id="td"><p>6</p></td>
                                        <td id="td"><p>Monte Grande</p></td>
                                        <td id="td"><p><?PHP echo $obra6; ?></p></td>
                                        <td id="td"><p>Terminada</p></td>
                                        <td><a href="?fp=obra&num=6&des=<?php echo $obra6; ?>"><p>Ver</p></a></td>
                                    </tr>
                                    <tr style="background: #F7FBFB;">
                                        <td id="td"><p>7</p></td>
                                        <td id="td"><p><b>El Cueramo</b></p></td>
                                        <td id="td"><p><?PHP echo $obra7; ?></p></td>
                                        <td id="td"><p>Terminada</p></td>
                                        <td><a href="?fp=obra&num=7&des=<?php echo $obra7; ?>"><p>Ver</p></a></td>
                                    </tr>
                                    <tr style="background: #F7FBFB;">
                                        <td id="td"><p>8</p></td>
                                        <td id="td"><p><b>El Cuajilote</b></p></td>
                                        <td id="td"><p><?PHP echo $obra8; ?></p></td>
                                        <td id="td"><p>Terminada</p></td>
                                        <td><a href="?fp=obra&num=8&des=<?php echo $obra8; ?>"><p>Ver</p></a></td>
                                    </tr>
                                    <tr style="background: #F7FBFB;">
                                        <td id="td"><p>9</p></td>
                                        <td id="td"><p><b>San Lucas</b></p></td>
                                        <td id="td"><p><?PHP echo $obra9; ?></p></td>
                                        <td id="td"><p>Terminada</p></td>
                                        <td><a href="?fp=obra&num=9&des=<?php echo $obra9; ?>"><p>Ver</p></a></td>
                                    </tr>
                                    <tr style="background: #F7FBFB;">
                                        <td id="td"><p>10</p></td>
                                        <td id="td"><p><b>San Lucas</b></p></td>
                                        <td id="td"><p><?PHP echo $obra10; ?></p></td>
                                        <td id="td"><p>Terminada</p></td>
                                        <td><a href="?fp=obra&num=10&des=<?php echo $obra10; ?>"><p>Ver</p></a></td>
                                    </tr>
                                    <tr style="background: #F7FBFB;">
                                        <td id="td"><p>11</p></td>
                                        <td id="td"><p><b>Los Bancos</b></p></td>
                                        <td id="td"><p><?PHP echo $obra11; ?></p></td>
                                        <td id="td"><p>Terminada</p></td>
                                        <td><a href="?fp=obra&num=11&des=<?php echo $obra11; ?>"><p>Ver</p></a></td>
                                    </tr>
                                    <tr style="background: #F7FBFB;">
                                        <td id="td"><p>12</p></td>
                                        <td id="td"><p>Angao</p></td>
                                        <td id="td"><p><?PHP echo $obra12; ?></p></td>
                                        <td id="td"><p>Terminada</p></td>
                                        <td><a href="?fp=obra&num=12&des=<?php echo $obra12; ?>"><p>Ver</p></a></td>
                                    </tr>
                                    <tr style="background: #F7FBFB;">
                                        <td id="td"><p>13</p></td>
                                        <td id="td"><p><b>Chumbitaro</b></p></td>
                                        <td id="td"><p><?PHP echo $obra13; ?></p></td>
                                        <td id="td"><p>Terminada</p></td>
                                        <td><a href="?fp=obra&num=13&des=<?php echo $obra13; ?>"><p>Ver</p></a></td>
                                    </tr>
                                    <tr style="background: #F7FBFB;">
                                        <td id="td"><p>14</p></td>
                                        <td id="td"><p><b>Chumbitaro</b></p></td>
                                        <td id="td"><p><?PHP echo $obra14; ?></p></td>
                                        <td id="td"><p>Terminada</p></td>
                                        <td><a href="?fp=obra&num=14&des=<?php echo $obra14; ?>"><p>Ver</p></a></td>
                                    </tr>
                                    <tr style="background: #F7FBFB;">
                                        <td id="td"><p>15</p></td>
                                        <td id="td"><p><b>La Estancia</b></p></td>
                                        <td id="td"><p><?PHP echo $obra15; ?></p></td>
                                        <td id="td"><p>Terminada</p></td>
                                        <td><a href="?fp=obra&num=15&des=<?php echo $obra15; ?>"><p>Ver</p></a></td>
                                    </tr>
                                    <tr style="background: #F7FBFB;">
                                        <td id="td"><p>16</p></td>
                                        <td id="td"><p><b>San Lucas</b></p></td>
                                        <td id="td"><p><?PHP echo $obra16; ?></p></td>
                                        <td id="td"><p>Terminada</p></td>
                                        <td><a href="?fp=obra&num=16&des=<?php echo $obra16; ?>"><p>Ver</p></a></td>
                                    </tr>
                                    <tr style="background: #F7FBFB;">
                                        <td id="td"><p>17</p></td>
                                        <td id="td"><p><b>Salguero</b></p></td>
                                        <td id="td"><p><?PHP echo $obra17; ?></p></td>
                                        <td id="td"><p>Terminada</p></td>
                                        <td><a href="?fp=obra&num=17&des=<?php echo $obra17; ?>"><p>Ver</p></a></td>
                                    </tr>
                                    <tr style="background: #F7FBFB;">
                                        <td id="td"><p>18</p></td>
                                        <td id="td"><p><b>El Plan de las Carreras</b></p></td>
                                        <td id="td"><p><?PHP echo $obra18; ?></p></td>
                                        <td id="td"><p>Terminada</p></td>
                                        <td><a href="?fp=obra&num=18&des=<?php echo $obra18; ?>"><p>Ver</p></a></td>
                                    </tr>
                                    <tr style="background: #F7FBFB;">
                                        <td id="td"><p>19</p></td>
                                        <td id="td"><p><b>Angao</b></p></td>
                                        <td id="td"><p><?PHP echo $obra19; ?></p></td>
                                        <td id="td"><p>Terminada</p></td>
                                        <td><a href="?fp=obra&num=19&des=<?php echo $obra19; ?>" ><p>Ver</p></a></td>
                                    </tr>
                                    <tr style="background: #F7FBFB;">
                                        <td id="td"><p>20</p></td>
                                        <td id="td"><p><b>Las Tirinchicuas</b></p></td>
                                        <td id="td"><p><?PHP echo $obra20; ?></p></td>
                                        <td id="td"><p>Terminada</p></td>
                                        <td><a href="?fp=obra&num=20&des=<?php echo $obra20; ?>"><p>Ver</p></a></td>
                                    </tr>
                                    <tr style="background: #F7FBFB;">
                                        <td id="td"><p>21</p></td>
                                        <td id="td"><p><b>San Pedrito</b></p></td>
                                        <td id="td"><p><?PHP echo $obra21; ?></p></td>
                                        <td id="td"><p>Terminada</p></td>
                                        <td><a href="?fp=obra&num=21&des=<?php echo $obra21; ?>"><p>Ver</p></a></td>
                                    </tr>
                                    <tr style="background: #F7FBFB;">
                                        <td id="td"><p>22</p></td>
                                        <td id="td"><p><b>La Lajita</b></p></td>
                                        <td id="td"><p><?PHP echo $obra22; ?></p></td>
                                        <td id="td"><p>Terminada</p></td>
                                        <td><a href="?fp=obra&num=22&des=<?php echo $obra22; ?>"><p>Ver</p></a></td>
                                    </tr>
                                    <tr style="background: #F7FBFB;">
                                        <td id="td"><p>23</p></td>
                                        <td id="td"><p><b>San Lucas</b></p></td>
                                        <td id="td"><p><?PHP echo $obra23; ?></p></td>
                                        <td id="td"><p>Terminada</p></td>
                                        <td><a href="?fp=obra&num=23&des=<?php echo $obra23; ?>"><p>Ver</p></a></td>
                                    </tr>
                                    <tr style="background: #F7FBFB;">
                                        <td id="td"><p>24</p></td>
                                        <td id="td"><p>Los Brasiles-San Pedrito - La Cuchilla-Huitzucatas</p></td>
                                        <td id="td"><p><?PHP echo $obra24; ?></p></td>
                                        <td id="td"><p>Terminada</p></td>
                                        <td><a href="?fp=obra&num=24&des=<?php echo $obra24; ?>"><p>Ver</p></a></td>
                                    </tr>
                                    <tr style="background: #F7FBFB;">
                                        <td id="td"><p>25</p></td>
                                        <td id="td"><p><b>Vicente Riva Palacio</b></p></td>
                                        <td id="td"><p><?PHP echo $obra25; ?></p></td>
                                        <td id="td"><p>90%</p></td>
                                        <td><a href="?fp=obra&num=25&des=<?php echo $obra25; ?>"><p>Ver</p></a></td>
                                    </tr>
                                    <tr style="background: #F7FBFB;">
                                        <td id="td"><p>26</p></td>
                                        <td id="td"><p><b>Vicente Riva Palacio</b></p></td>
                                        <td id="td"><p><?PHP echo $obra26; ?></p></td>
                                        <td id="td"><p>Terminada</p></td>
                                        <td><a href="?fp=obra&num=26&des=<?php echo $obra26; ?>"><p>Ver</p></a></td>
                                    </tr>
                                    <tr style="background: #F7FBFB;">
                                        <td id="td"><p>27</p></td>
                                        <td id="td"><p><b>San Jeronimo</b></p></td>
                                        <td id="td"><p><?PHP echo $obra27; ?></p></td>
                                        <td id="td"><p>Terminada</p></td>
                                        <td><a href="?fp=obra&num=27&des=<?php echo $obra27; ?>"><p>Ver</p></a></td>
                                    </tr>
                                    <tr style="background: #F7FBFB;">
                                        <td id="td"><p>28</p></td>
                                        <td id="td"><p>Rincon de San Francisco</p></td>
                                        <td id="td"><p><?PHP echo $obra28; ?></p></td>
                                        <td id="td"><p>70%</p></td>
                                        <td><a href="?fp=obra&num=28&des=<?php echo $obra28; ?>"><p>Ver</p></a></td>
                                    </tr>
                                    <tr style="background: #F7FBFB;">
                                        <td id="td"><p>29</p></td>
                                        <td id="td"><p><b>San Jeronimo</b></p></td>
                                        <td id="td"><p><?PHP echo $obra29; ?></p></td>
                                        <td id="td"><p>Terminada</p></td>
                                        <td><a href="?fp=obra&num=29&des=<?php echo $obra29; ?>"><p>Ver</p></a></td>
                                    </tr>
                                    <tr style="background: #F7FBFB;">
                                        <td id="td"><p>30</p></td>
                                        <td id="td"><p><b>San Jeronimo</b></p></td>
                                        <td id="td"><p><?PHP echo $obra30; ?></p></td>
                                        <td id="td"><p>Terminada</p></td>
                                        <td><a href="?fp=obra&num=30&des=<?php echo $obra30; ?>"><p>Ver</p></a></td>
                                    </tr><!--
                                    <tr>
                                        <td><p>8</p></td>
                                        <td><p>Riva Palacio</p></td>
                                        <td><p>Techado Esc. Riva Palacio</p></td>
                                        <td><p>Terminada</p></td>
                                        <td><a href="?fp=obra&num=8"><p>Ver</p></a></td>
                                    </tr>-->
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </article>    
        </div>
        <div class="col-md-3">
            <aside>
                <?php include "Vista/submenu.phtml"; ?>
            </aside>
        </div>
    </div>
</section>