<section>
    <div class="row">
        <div class="col-md-9">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h1 style="font-size: xx-large;"><b>Eventos Realizados el Mes de Septiempre 2016</b></h1>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            <article>
                                <div class="panel panel-info">
                                    <div class="panel-heading">
                                        <p><b>Reunion de Encargados del Orden, Tema Frontera Agricola - H. Ayuntamiento de San Lucas, Mich.</b></p>
                                    </div>
                                    <time datetime="2016-09-01" pubdate="" style="color: grey; text-align: justify;">
                                        Publicado jueves, 1 de septiembre de 2016.
                                    </time>
                                    <p style="padding:20px;text-align:justify;">
                                        <b>Acuden Comisariados Ejidales,Encargados del Orden, Jefes de Tenencia del municipio de San Lucas, convocados por H. Ayuntamiento en coordinaci&oacute;n con Departamento de Desarrollo Rural, y SAGARPA,a reunion de trabajo de proyecto FRONTERA AGRICOLA.</b>
                                    </p>
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <figure>
                                                    <a href="Libreria/img/2016/sep/agricola/IM_1.jpg" target="_blank" >
                                                        <img src="Libreria/img/2016/sep/agricola/IM_1.jpg" class="thumbnail img-responsive" alt="img" />
                                                    </a>
                                                </figure>
                                            </div>
                                            <div class="col-md-4">
                                                <figure>
                                                    <a href="Libreria/img/2016/sep/agricola/IM_2.jpg" target="_blank" >
                                                        <img src="Libreria/img/2016/sep/agricola/IM_2.jpg" class="thumbnail img-responsive" alt="img" />
                                                    </a>
                                                </figure>
                                            </div>
                                            <div class="col-md-4">
                                                <figure>
                                                    <a href="Libreria/img/2016/sep/agricola/IM_3.jpg" target="_blank" >
                                                        <img src="Libreria/img/2016/sep/agricola/IM_3.jpg" class="thumbnail img-responsive" alt="img" />
                                                    </a>
                                                </figure>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </article>
                            <article><!-- Art.1-->
                                <div class="panel panel-info">
                                    <div class="panel-heading">
                                        <p><b>Firma de convenio de colaboraci&oacute;n interestatal de Gro. y Mich. - H. Ayuntamiento de San Lucas, Mich.</b></p>
                                    </div>
                                    <time datetime="2016-09-06" pubdate="" style="color: grey; text-align: justify;">
                                        Publicado martes, 6 de septiembre de 2016.
                                    </time>
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <figure>
                                                    <a href="Libreria/img/2016/sep/firma/fir1.jpg" target="_blank" >
                                                        <img src="Libreria/img/2016/sep/firma/fir1.jpg" class="thumbnail img-responsive" alt="img" />
                                                    </a>
                                                </figure>
                                            </div>
                                            <div class="col-md-4">
                                                <figure>
                                                    <a href="Libreria/img/2016/sep/firma/fir2.jpg" target="_blank" >
                                                        <img src="Libreria/img/2016/sep/firma/fir2.jpg" class="thumbnail img-responsive" alt="img" />
                                                    </a>
                                                </figure>
                                            </div>
                                            <di class="col-md-4">
                                                <figure>
                                                    <a href="Libreria/img/2016/sep/firma/fir3.jpg" target="_blank" >
                                                        <img src="Libreria/img/2016/sep/firma/fir3.jpg" class="thumbnail img-responsive" alt="img" />
                                                    </a>
                                                </figure>
                                            </di>
                                        </div>
                                    </div>
                                    <p style="padding:20px;text-align:justify;">
                                        <b>Presencia del municipio de San Lucas en la firma de convenio de colaboración interestatal de Gro y Mich. a través de Secretaria de Salud representados por los C. Doc. Carlos Aranza y Carlos de la Peña Pintos. Aprovechando la ocasion para plantearles sobre la factibilidad de rehabilitar el centro de Salud de la Cabecera Municipal y la terminación del Centro de Salud.</b>
                                    </p>
                                </div>
                            </article>
                            <article>
                                <div class="panel panel-info">
                                    <div class="panel-heading">
                                        <p><b>Banderazos de Arranque de Obra en San Jerónimo - H. Ayuntamiento de San Lucas, Mich.</b></p>
                                    </div>
                                    <time datetime="2016-09-10" pubdate="" style="color: grey; text-align: justify;">
                                        Publicado viernes, 09 de septiembre de 2016.
                                    </time>
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <figure>
                                                    <a href="Libreria/img/2016/sep/banderazo_san/fot1.jpg" target="_blank" >
                                                        <img src="Libreria/img/2016/sep/banderazo_san/fot1.jpg" class="thumbnail img-responsive" alt="img" />
                                                    </a>
                                                </figure>
                                            </div>
                                            <div class="col-md-4">
                                                <figure>
                                                    <a href="Libreria/img/2016/sep/banderazo_san/fot2.jpg" target="_blank" >
                                                        <img src="Libreria/img/2016/sep/banderazo_san/fot2.jpg" class="thumbnail img-responsive" alt="img" />
                                                    </a>
                                                </figure>
                                            </div>
                                            <div class="col-md-4">
                                                <figure>
                                                    <a href="Libreria/img/2016/sep/banderazo_san/fot3.jpg" target="_blank" >
                                                        <img src="Libreria/img/2016/sep/banderazo_san/fot3.jpg" class="thumbnail img-responsive" alt="img" />
                                                    </a>
                                                </figure>
                                            </div>
                                        </div>
                                    </div>
                                    <p style="padding:20px;text-align:justify;">
                                        <b>El día de hoy en San Jerónimo se dieron cita cabildo y equipo de trabajo para acompañar a C. Presidente Arturo Torres Aguirre ,y dar 2 banderazos de arranque de obra en dicha localidad,trabajos de pavimentacion de concreto hidraulico en calle Moctezuma y calle 18 de Marzo ,con un costo de $347,867.95 y $420,020.97 respectivamente.
                                        </b>
                                    </p>
                                </div>
                            </article>
                            <article>
                                <div class="panel panel-info">
                                    <div class="panel-heading">
                                        <p><b>Desfile segunda semana de vacunación antirrábica - H. Ayuntamiento de San Lucas, Mich.</b></p>
                                    </div>
                                    <time datetime="2016-09-10" pubdate="" style="color: grey; text-align: justify;">
                                        Publicado martes, 10 de septiembre de 2016.
                                    </time>
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <figure>
                                                    <a href="Libreria/img/2016/sep/seg_desfile/des1.jpg" target="_blank" >
                                                        <img src="Libreria/img/2016/sep/seg_desfile/des1.jpg" class="thumbnail img-responsive" alt="img" />
                                                    </a>
                                                </figure>
                                            </div>
                                            <div class="col-md-6">
                                                <figure>
                                                    <a href="Libreria/img/2016/sep/seg_desfile/des2.jpg" target="_blank" >
                                                        <img src="Libreria/img/2016/sep/seg_desfile/des2.jpg" class="thumbnail img-responsive" alt="img" />
                                                    </a>
                                                </figure>
                                            </div>
                                        </div>
                                    </div>
                                    <p style="padding:20px;text-align:justify;">
                                        <b>Centro de Salud en coordinación con el H. Ayuntamiento de San Lucas realiza desfile por segunda semana de vacunación antirrábica canina-felina que comprende del 12 al 23 de Septiembre.</b>
                                    </p>
                                </div>
                            </article>
                            <article>
                                <div class="panel panel-success">
                                    <div class="panel-heading">
                                        <p><b>Evento de Colocación de la primera piedra "Ciudad de las Mujeres" - H. Ayuntamiento de San Lucas, Mich.</b></p>
                                    </div>
                                    <time datetime="2016-09-12" pubdate="" style="color: grey; text-align: justify;">
                                        Publicado lunes, 12 de septiembre de 2016.
                                    </time>
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-md-3">
                                                <center>
                                                    <a href="Libreria/img/2016/sep/ciudad_mujer/logo.jpg" target="_blank" >
                                                        <img src="Libreria/img/2016/sep/ciudad_mujer/logo.jpg" class="thumbnail  gal_ver img-responsive" alt="foto galeria" />
                                                    </a>
                                                </center>
                                            </div>
                                            <div class="col-md-6">
                                                <a href="Libreria/img/2016/sep/ciudad_mujer/icm2.jpg" target="_blank">
                                                    <img src="Libreria/img/2016/sep/ciudad_mujer/icm2.jpg" class="thumbnail img-responsive" alt="foto galeria" />
                                                </a>
                                            </div>
                                            <div class="col-md-3">
                                                <center>
                                                    <a href="Libreria/img/2016/sep/ciudad_mujer/icm3.jpg" target="_blank" >
                                                        <img src="Libreria/img/2016/sep/ciudad_mujer/icm3.jpg" class="thumbnail gal_ver img-responsive" alt="foto galeria" />
                                                    </a>
                                                </center>
                                            </div>
                                        </div> 
                                        <p style="padding:20px;text-align:justify;">
                                                <b>En compañia de todas las mujeres que laboran en H.Ayuntamiento de San Lucas y Dif Municipal, asiste Presidente C.Arturo Torres Aguirre al evento de la colocación de la primer piedra de "Ciudad de las Mujeres" en Huetamo Mich, acto realizado por Gobernador del Estado de Michoacán Ing. Silvano Aureoles Conejo.</b>
                                            </p> 
                                    </div>
                                </div>
                            </article>
                            <article>
                                <div class="panel panel-success">
                                    <div class="panel-heading">
                                        <p><b> El 169 Aniversario de la heroica defensa del Castillo de Chapultepec - H. Ayuntamiento de San Lucas, Mich.</b></p>
                                    </div>
                                    <time datetime="2016-09-13" pubdate="" style="color: grey; text-align: justify;">
                                        Publicado martes, 13 de septiembre de 2016.
                                    </time>
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <figure>
                                                    <a href="Libreria/img/2016/sep/ninos_heroes/img1.jpg" target="_blank" >
                                                        <img src="Libreria/img/2016/sep/ninos_heroes/img1.jpg" class="thumbnail img-responsive" alt="img" />
                                                    </a>
                                                </figure>
                                            </div>
                                            <div class="col-md-4">
                                                <figure>
                                                    <a href="Libreria/img/2016/sep/ninos_heroes/img2.jpg" target="_blank" >
                                                        <img src="Libreria/img/2016/sep/ninos_heroes/img2.jpg" class="thumbnail img-responsive" alt="img" />
                                                    </a>
                                                </figure>
                                            </div>
                                            <div class="col-md-4">
                                                <figure>
                                                    <a href="Libreria/img/2016/sep/ninos_heroes/img3.jpg" target="_blank" >
                                                        <img src="Libreria/img/2016/sep/ninos_heroes/img3.jpg" class="thumbnail img-responsive" alt="img" />
                                                    </a>
                                                </figure>
                                            </div>
                                        </div>
                                    </div>
                                    <p style="padding:20px;text-align:justify;">
                                        <b>Acto cívico conmemorativo al 169 Aniversario de la heroica defensa del Castillo de Chapultepec, donde participaron instituciones educativas de diferentes niveles de la cabecera municipal.</b>
                                    </p>
                                </div>
                            </article>
                            <article>
                                <div class="panel panel-success">
                                    <div class="panel-heading">
                                        <p><b>Aplicación de Exámenes a los Adultos de Apoyo a Beca Futuro - H. Ayuntamiento de San Lucas, Mich.</b></p>
                                    </div>
                                    <time datetime="2016-09-14" pubdate="" style="color: grey; text-align: justify;">
                                        Publicado miercoles, 14 de septiembre de 2016.
                                    </time>
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-md-4"></div>
                                            <div class="col-md-4">
                                                <figure>
                                                    <a href="Libreria/img/2016/sep/examen/img1.jpg" target="_blank" >
                                                        <img src="Libreria/img/2016/sep/examen/img1.jpg" class="thumbnail gal_ver img-responsive" alt="img" />
                                                    </a>
                                                </figure>
                                            </div>
                                            <div class="col-md-4"></div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <figure>
                                                    <a href="Libreria/img/2016/sep/examen/img2.jpg" target="_blank" >
                                                        <img src="Libreria/img/2016/sep/examen/img2.jpg" class="thumbnail img-responsive" alt="img" />
                                                    </a>
                                                </figure>
                                            </div>
                                            <div class="col-md-6">
                                                <figure>
                                                    <a href="Libreria/img/2016/sep/examen/img3.jpg" target="_blank" >
                                                        <img src="Libreria/img/2016/sep/examen/img3.jpg" class="thumbnail img-responsive" alt="img" />
                                                    </a>
                                                </figure>
                                            </div>
                                        </div>
                                    </div>
                                    <p style="padding:20px;text-align:justify;">
                                        <b>Aplicación de exámenes a los adultos que apoyaron para liberar servicio comunitario de alumnos beneficiados del programa Beca Futuro en la pista la ganadera de San Lucas,coordinado por INEA e Instancia de Juventud del Municipio.</b>
                                    </p>
                                </div>
                            </article>
                            <article>
                                <div class="panel panel-success">
                                    <div class="panel-heading">
                                        <p><b>Recordando el grito de independencia 16 de Septiembre de 1810 - H. Ayuntamiento de San Lucas, Mich.</b></p>
                                    </div>
                                    <time datetime="2016-09-14" pubdate="" style="color: grey; text-align: justify;">
                                        Publicado miercoles, 14 de septiembre de 2016.
                                    </time>
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <figure>
                                                    <a href="Libreria/img/2016/sep/1810/grito.jpg" target="_blank" >
                                                        <img src="Libreria/img/2016/sep/1810/grito.jpg" class="thumbnail img-responsive" alt="img" />
                                                    </a>
                                                </figure>
                                            </div>
                                            <div class="col-md-6">
                                                <figure>
                                                    <a href="Libreria/img/2016/sep/1810/logo.jpg" target="_blank" >
                                                        <img src="Libreria/img/2016/sep/1810/logo.jpg" class="thumbnail img-responsive" alt="img" />
                                                    </a>
                                                </figure>
                                            </div>
                                            
                                        </div>
                                    </div>
                                    <p style="padding:20px;text-align:justify;">
                                        <b>Asiste con nosotros y tu toda tú familia a dar un año más el Grito de Independencia y por si fuera poco a disfrutar de los antojitos mexicanos de tierra caliente que el H. Ayuntamiento de San Lucas, ha preparado para ustedes!!!.</b>
                                    </p>
                                </div>
                            </article>
                            <article>
                                <div class="panel panel-success">
                                    <div class="panel-heading">
                                        <p><b>El 206° Aniversario del Grito de Independencia - H. Ayuntamiento de San Lucas, Mich.</b></p>
                                    </div>
                                    <time datetime="2016-09-15" pubdate="" style="color: grey; text-align: justify;">
                                        Publicado jueves, 15 de septiembre de 2016.
                                    </time>
                                    <div class="panel-body">
                                         <div class="row">
                                            <div class="col-md-1"></div>
                                            <div class="col-md-10">
                                                <figure>
                                                    <a href="Libreria/img/2016/sep/evento/img3.jpg" target="_blank" >
                                                        <img src="Libreria/img/2016/sep/evento/img3.jpg" class="thumbnail img-responsive" alt="img" />
                                                    </a>
                                                </figure>
                                                <figcaption>
                                                    <p style="padding:5px;text-align:justify;">
                                                        <b>El presidente de San Lucas, Sr. Arturo Torres Aguirre, encabezó la celebración del 206° Aniversario del Grito de Independencia, acompañado por cabildo y ciudadanos del municipio.</b>
                                                    </p>
                                                </figcaption>
                                            </div>
                                            <div class="col-md-1"></div>
                                            
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <figure>
                                                    <a href="Libreria/img/2016/sep/evento/img1.jpg" target="_blank" >
                                                        <img src="Libreria/img/2016/sep/evento/img1.jpg" class="thumbnail img-responsive" alt="img" />
                                                    </a>
                                                </figure>
                                                <figcaption>
                                                    <p style="text-align:justify;">Llevadó acabo el Grito de Independencia por el presidente el <b>C. Arturo Torres Aguirre</b>, acompañado por cabildo, trabajadores, funcionarios y publico en general.</p>
                                                </figcaption>
                                            </div>
                                            <div class="col-md-4">
                                                <figure>
                                                    <a href="Libreria/img/2016/sep/evento/img2.jpg" target="_blank" >
                                                        <img src="Libreria/img/2016/sep/evento/img2.jpg" class="thumbnail img-responsive" alt="img" />
                                                    </a>
                                                </figure>
                                                <figcaption>
                                                    <p style="text-align:justify;">El presidente de San Lucas, encabezó la celebración del 16 de septiembre de 1810 del Grito de Independencia, acompañado por cabildo y ciudadanos del municipio.</p>
                                                </figcaption>
                                            </div>
                                            <div class="col-md-4">
                                                <figure>
                                                    <a href="Libreria/img/2016/sep/img/img4.jpg" target="_blank" >
                                                        <img src="Libreria/img/2016/sep/evento/img4.jpg" class="thumbnail img-responsive" alt="img" />
                                                    </a>
                                                </figure>
                                                <figcaption>
                                                    <p style="text-align:justify;">
                                                        Se presentaron todas las candidatas que aspira ser la represetante de la reyna de las fiestas patrias de San Lucas, Mich.
                                                    </p>
                                                </figcaption>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <figure>
                                                    <a href="Libreria/img/2016/sep/evento/img5.jpg" target="_blank" >
                                                        <img src="Libreria/img/2016/sep/evento/img5.jpg" class="thumbnail img-responsive" alt="img" />
                                                    </a>
                                                </figure>
                                                <figcaption>
                                                    <p style="text-align:justify;">
                                                        Hacen presencia de diferentes bailes regionales como entre otros distintos eventos.
                                                    </p>
                                                </figcaption>
                                            </div>
                                            <div class="col-md-4">
                                                <figure>
                                                    <a href="Libreria/img/2016/sep/evento/img6.jpg" target="_blank" >
                                                        <img src="Libreria/img/2016/sep/evento/img6.jpg" class="thumbnail img-responsive" alt="img" />
                                                    </a>
                                                </figure>
                                                <figcaption>
                                                    <p style="text-align:justify;">
                                                        Se compartieron antojitos mexicanos de tierra caliente a todos los que asistieron al eventon.
                                                    </p>
                                                </figcaption>
                                            </div>
                                            <div class="col-md-4">
                                                <figure>
                                                    <a href="Libreria/img/2016/sep/evento/img7.jpg" target="_blank" >
                                                        <img src="Libreria/img/2016/sep/evento/img7.jpg" class="thumbnail img-responsive" alt="img" />
                                                    </a>
                                                </figure>
                                                <figcaption>
                                                    <p style="text-align:justify;">
                                                        Entrega de premios de las carreras que se llevan acabo en el municipio.
                                                    </p>
                                                </figcaption>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </article>
                            <article>
                                <div class="row" style="padding-left: 20px;">
                                    <div class="panel panel-success">
                                        <div class="panel-heading">
                                            <p><b>Acto conmemorativo del día 16 de Septiembre - H. Ayuntamiento de San Lucas, Mich.</b></p>
                                        </div>
                                        <time datetime="2016-09-16" pubdate="" style="color: grey; text-align: justify;">
                                            Publicado viernes, 16 de septiembre de 2016.
                                        </time>
                                        <div class="panel-body">
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <figure>
                                                        <a href="Libreria/img/2016/sep/conmemorativo/img1.jpg" target="_blank" >
                                                            <img src="Libreria/img/2016/sep/conmemorativo/img1.jpg" class="thumbnail img-responsive" alt="img" />
                                                        </a>
                                                    </figure>
                                                </div>
                                                <div class="col-md-4">
                                                    <figure>
                                                        <a href="Libreria/img/2016/sep/conmemorativo/img2.jpg" target="_blank" >
                                                            <img src="Libreria/img/2016/sep/conmemorativo/img2.jpg" class="thumbnail img-responsive" alt="img" />
                                                        </a>
                                                    </figure>
                                                </div>
                                                <div class="col-md-4">
                                                    <figure>
                                                        <a href="Libreria/img/2016/sep/conmemorativo/img2.jpg" target="_blank" >
                                                            <img src="Libreria/img/2016/sep/conmemorativo/img2.jpg" class="thumbnail img-responsive" alt="img" />
                                                        </a>
                                                    </figure>
                                                </div>
                                            </div>
                                            <p style="padding:20px;text-align:justify;">
                                                <b>H.Ayuntamiento de San Lucas,con participacion de instituciones educativas, realiza acto conmemorativo el día de hoy 16 de Septiembre,día en que México comenzo la lucha por la independencia en 1810.
                                                </b>
                                            </p>
                                        </div>
                                    </div>    
                                </div>
                            </article>
                            <article>
                                <div class="row">
                                    <div class="panel panel-success">
                                        <div class="panel-heading">
                                            <p><b>Beca para Personas Discapcitados - H. Ayuntamiento de San Lucas, Mich.</b></p>
                                        </div>
                                        <time datetime="2016-09-19" pubdate="" style="color: grey; text-align: justify;">
                                            Publicado lunes, 19 de septiembre de 2016.
                                        </time>
                                        <div class="panel-body">
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <figure>
                                                        <a href="Libreria/img/2016/sep/beca_DIF/img1.jpg" target="_blank" >
                                                            <img src="Libreria/img/2016/sep/beca_DIF/img1.jpg" class="thumbnail img-responsive" alt="img" />
                                                        </a>
                                                    </figure>
                                                </div>
                                                <div class="col-md-4">
                                                    <figure>
                                                        <a href="Libreria/img/2016/sep/beca_DIF/img2.jpg" target="_blank" >
                                                            <img src="Libreria/img/2016/sep/beca_DIF/img2.jpg" class="thumbnail img-responsive" alt="img" />
                                                        </a>
                                                    </figure>
                                                </div>
                                                <div class="col-md-4">
                                                    <figure>
                                                        <a href="Libreria/img/2016/sep/beca_DIF/img3.jpg" target="_blannk" >
                                                            <img src="Libreria/img/2016/sep/beca_DIF/img3.jpg" class="thumbnail img-responsive" alt="img" />
                                                        </a>
                                                    </figure>
                                                </div>
                                            </div>
                                            <p>
                                                <b>Entrega C. Presidente Arturo Torres Aguirre, becas a niños discapacitados,por parte de Gobierno del Estado a través de DIF Municipal.
                                                </b>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </article>
                            <article>
                                <div class="row">
                                    <div class="panel panel-success">
                                        <div class="panel-heading">
                                            <p>
                                                <b>Elección de Señorita Fiestas Patrias 2016 - H. Ayuntamiento de San Lucas, Mich.</b>
                                            </p>
                                        </div>
                                        <time datetime="2016-09-24" pubdate="" style="color: grey; text-align: justify;">
                                            Publicado sabado, 24 de septiembre de 2016.
                                        </time>
                                        <div class="panel-body">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <figure>
                                                        <a href="Libreria/img/2016/sep/reyna_fiestas/img1.jpg" target="_blank" >
                                                            <img src="Libreria/img/2016/sep/reyna_fiestas/img1.jpg" class="thumbnail img-responsive" alt="img" />
                                                        </a>
                                                    </figure>
                                                </div>
                                            </div>
                                            <p style="text-align:justify;">
                                                <b>
                                            Como parte de los festejos de las Fiestas Patrias 2016, se deliberó en certamen con participación de 5 aspirantes al título en Teatro Juan Reynoso en San Lucas Mich, en el cual se elegió a Deysi Sanchez Vazquez como Señorita Fiestas Patrias San Lucas 2016, debera encabezar estos festejos patrios, además de participar en actividades que emprende la administración que preside C. Arturo Torres Aguirre.
                                                </b>
                                            </p>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <figure>
                                                        <a href="Libreria/img/2016/sep/reyna_fiestas/img2.jpg" target="_blank" >
                                                            <img src="Libreria/img/2016/sep/reyna_fiestas/img2.jpg" class="thumbnail img-responsive" alt="img" />
                                                        </a>
                                                    </figure>
                                                </div>
                                                <div class="col-md-6">
                                                    <figure>
                                                        <a href="Libreria/img/2016/sep/reyna_fiestas/img3.jpg" target="_blank" >
                                                            <img src="Libreria/img/2016/sep/reyna_fiestas/img3.jpg" class="thumbnail img-responsive" alt="img" />
                                                        </a>
                                                    </figure>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <figure>
                                                        <a href="Libreria/img/2016/sep/reyna_fiestas/img4.jpg" target="_blank" >
                                                            <img src="Libreria/img/2016/sep/reyna_fiestas/img4.jpg" class="thumbnail img-responsive" alt="img" />
                                                        </a>
                                                    </figure>
                                                </div>
                                                <div class="col-md-4">
                                                    <figure>
                                                        <a href="Libreria/img/2016/sep/reyna_fiestas/img5.jpg" target="_blank" >
                                                            <img src="Libreria/img/2016/sep/reyna_fiestas/img5.jpg" class="thumbnail img-responsive" alt="img" />
                                                        </a>
                                                    </figure>
                                                </div>
                                                <div class="col-md-4">
                                                    <figure>
                                                        <a href="Libreria/img/2016/sep/reyna_fiestas/img6.jpg" target="_blank" >
                                                            <img src="Libreria/img/2016/sep/reyna_fiestas/img6.jpg" class="thumbnail img-responsive" alt="img" />
                                                        </a>
                                                    </figure>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </article>
                            <article>
                                <div class="panel panel-success">
                                    <div class="panel-heading">
                                        <p>
                                            <b>Segunda Capacitación del Aula Virtual con Personal de UNIVIM - H. Ayuntamiento de San Lucas, Mich.</b>
                                        </p>
                                    </div>
                                    <time datetime="2016-09-28" pubdate="" style="color: grey; text-align: justify;">
                                            Publicado miercoles, 28 de septiembre de 2016.
                                        </time>
                                    <div class="panel-body">
                                        <div class="row" >
                                            <div class="col-md-4">
                                                <figure>
                                                    <a href="Libreria/img/2016/sep/UNIVIM/IMG1.jpg" target="_blank" >
                                                        <img src="Libreria/img/2016/sep/UNIVIM/IMG1.jpg" class="thumbnail img-responsive" alt="img" />
                                                    </a>
                                                </figure>
                                            </div>
                                            <div class="col-md-4">
                                                <figure>
                                                    <a href="Libreria/img/2016/sep/UNIVIM/IMG2.jpg" target="_blank" >
                                                        <img src="Libreria/img/2016/sep/UNIVIM/IMG2.jpg" class="thumbnail img-responsive" alt="img" />
                                                    </a>
                                                </figure>
                                            </div>
                                            <div class="col-md-4">
                                                <figure>
                                                    <a href="Libreria/img/2016/sep/UNIVIM/IMG3.jpg" target="_blank" >
                                                        <img src="Libreria/img/2016/sep/UNIVIM/IMG3.jpg" class="thumbnail img-responsive" alt="img" />
                                                    </a>
                                                </figure>
                                            </div>
                                            
                                        </div>
                                        <p style="text-align:justify;">
                                            <b>Se realizó la segunda capacitación de la aula virtual con UNIVIM para los asesores asignados para unidad de extensión universitaria (UVEU) en las instalaciones de la Dirección General de CONALEP (Colegio de Educación Profesional Técnica del Estado de Michoacán)</b>
                                        </p>
                                    </div>
                                </div>
                            </article>
                            <article>
                                <div class="panel panel-success">
                                    <div class="panel-heading">
                                        <p>
                                            <b>José Maria Morelos, Personaje de Nuestra Historia Nacional - H. Ayuntamiento de San Lucas, Mich.</b>
                                        </p>
                                    </div>
                                    <time datetime="2016-09-30" pubdate="" style="color: grey; text-align: justify;">
                                            Publicado viernes, 30 de septiembre de 2016.
                                        </time>
                                    <div class="panel-body">
                                        <div class="row" >
                                            <div class="col-md-6">
                                                <figure>
                                                    <a href="Libreria/img/2016/sep/30.sep.2016/IMG1.JPG" target="_blank" >
                                                        <img src="Libreria/img/2016/sep/30.sep.2016/IMG1.JPG" class="thumbnail img-responsive" alt="img" />
                                                    </a>
                                                </figure>
                                            </div>
                                            <div class="col-md-6">
                                                <figure>
                                                    <a href="Libreria/img/2016/sep/30.sep.2016/IMG2.jpg" target="_blank" >
                                                        <img src="Libreria/img/2016/sep/30.sep.2016/IMG2.jpg" class="thumbnail img-responsive" alt="img" />
                                                    </a>
                                                </figure>
                                            </div>
                                            
                                        </div>
                                        <div class="row" >
                                            <div class="col-md-4">
                                                <figure>
                                                    <a href="Libreria/img/2016/sep/30.sep.2016/IMG3.jpg" target="_blank" >
                                                        <img src="Libreria/img/2016/sep/30.sep.2016/IMG3.jpg" class="thumbnail img-responsive" alt="img" />
                                                    </a>
                                                </figure>
                                            </div>
                                            <div class="col-md-4">
                                                <figure>
                                                    <a href="Libreria/img/2016/sep/30.sep.2016/IMG4.jpg" target="_blank" >
                                                        <img src="Libreria/img/2016/sep/30.sep.2016/IMG4.jpg" class="thumbnail img-responsive" alt="img" />
                                                    </a>
                                                </figure>
                                            </div>
                                            <div class="col-md-4">
                                                <figure>
                                                    <a href="Libreria/img/2016/sep/30.sep.2016/IMG5.jpg" target="_blank" >
                                                        <img src="Libreria/img/2016/sep/30.sep.2016/IMG5.jpg" class="thumbnail img-responsive" alt="img" />
                                                    </a>
                                                </figure>
                                            </div>
                                        </div>
                                        <p style="text-align:justify;">
                                            <b>H. Ayuntamiento de San Lucas en coordinación con instituciones educativas realiza acto cívico, en Aniversario de natalicio de José Maria, personaje emblemático dentro de la historia nacional.</b>
                                        </p>
                                    </div>
                                </div>
                            </article>
                            <article>
                                <div class="panel panel-success">
                                    <div class="panel-heading">
                                        <p>
                                            <b>Arranque de obra de construccion de techo estructural - H. Ayuntamiento de San Lucas, Mich.</b>
                                        </p>
                                    </div>
                                    <time datetime="2016-09-30" pubdate="" style="color: grey; text-align: justify;">
                                            Publicado viernes, 30 de septiembre de 2016.
                                        </time>
                                    <div class="panel-body">
                                        <div class="row" >
                                            <div class="col-md-4">
                                                <figure>
                                                    <a href="Libreria/img/2016/sep/primaria_tacupa/img1.jpg" target="_blank" >
                                                        <img src="Libreria/img/2016/sep/primaria_tacupa/img1.jpg" class="thumbnail img-responsive" alt="img" />
                                                    </a>
                                                </figure>
                                            </div>
                                            <div class="col-md-4">
                                                <figure>
                                                    <a href="Libreria/img/2016/sep/primaria_tacupa/img2.jpg" target="_blank" >
                                                        <img src="Libreria/img/2016/sep/primaria_tacupa/img2.jpg" class="thumbnail img-responsive" alt="img" />
                                                    </a>
                                                </figure>
                                            </div>
                                            <div class="col-md-4">
                                                <figure>
                                                    <a href="Libreria/img/2016/sep/primaria_tacupa/img3.jpg" target="_blank" >
                                                        <img src="Libreria/img/2016/sep/primaria_tacupa/img3.jpg" class="thumbnail img-responsive" alt="img" />
                                                    </a>
                                                </figure>
                                            </div>
                                        </div>
                                        <p style="text-align:justify;">
                                            <b>En compañia de Padres de familia y alumnos de Escuela Primaria Josè Maria Morelos de la localidad de Tacupa, el C. Arturo Torres Aguirre e integrantes de cabildo y Ayuntamiento, dieron banderazo de arranque de obra de construccion de techo estructural.</b>
                                        </p>
                                    </div>
                                </div>
                            </article>
                            <article>
                                <div class="panel panel-success">
                                    <div class="panel-heading">
                                        <p>
                                            <b>Desfile tradicional del 30 de Septimbre - H. Ayuntamiento de San Lucas, Mich.</b>
                                        </p>
                                    </div>
                                    <time datetime="2016-09-30" pubdate="" style="color: grey; text-align: justify;">
                                            Publicado viernes, 30 de septiembre de 2016.
                                        </time>
                                    <div class="panel-body">
                                        <p style="text-align:justify;">
                                            <b>Tradicional desfile conmemorativo al 251 Aniversario del Natalicio del Generalísimo José María Morelos y Pavón. con participación de instituciones educativas de San Lucas y comunidades vecinas,encabezado por el Edil C. Arturo Torres Aguirre acompañado de su esposa, la Presidenta del Sistema Municipal para el Desarrollo Integral de la Familia, Sra. Josefina Osorio,integrantes de Cabildo y personal de H. Ayuntamiento.</b>
                                        </p>
                                        <div class="row" >
                                            <div class="col-md-6">
                                                <figure>
                                                    <a href="Libreria/img/2016/sep/sept30/img.jpg" target="_blank" >
                                                        <img src="Libreria/img/2016/sep/sept30/img.jpg" class="thumbnail img-responsive" alt="img" />
                                                    </a>
                                                </figure>
                                            </div>
                                            <div class="col-md-6">
                                                <figure>
                                                    <a href="Libreria/img/2016/sep/sept30/img1.jpg" target="_blank" >
                                                        <img src="Libreria/img/2016/sep/sept30/img1.jpg" class="thumbnail img-responsive" alt="img" />
                                                    </a>
                                                </figure>
                                            </div>
                                        </div>
                                        <div class="row" >
                                            <div class="col-md-4">
                                                <figure>
                                                    <a href="Libreria/img/2016/sep/sept30/img2.jpg" target="_blank" >
                                                        <img src="Libreria/img/2016/sep/sept30/img2.jpg" class="thumbnail img-responsive" alt="img" />
                                                    </a>
                                                </figure>
                                            </div>
                                            <div class="col-md-4">
                                                <figure>
                                                    <a href="Libreria/img/2016/sep/sept30/img3.jpg" target="_blank" >
                                                        <img src="Libreria/img/2016/sep/sept30/img3.jpg" class="thumbnail img-responsive" alt="img" />
                                                    </a>
                                                </figure>
                                            </div>
                                            <div class="col-md-4">
                                                <figure>
                                                    <a href="Libreria/img/2016/sep/sept30/img4.jpg" target="_blank" >
                                                        <img src="Libreria/img/2016/sep/sept30/img4.jpg" class="thumbnail img-responsive" alt="img" />
                                                    </a>
                                                </figure>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </article>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3"><!-- Barra lateral -->
            <aside>
                <?php 
                    include "Vista/main.phtml";
                    include "Vista/submenu.phtml";
                ?>
            </aside>
        </div><!-- end BL -->
    </div>
</section>
