<section>
    <div class="row">
        <div class="col-md-9">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h1 style="font-size: xx-large;"><b>Eventos Realizados el Mes de Febrero 2017</b></h1>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            <article>
                                <div class="panel panel-success">
                                    <div class="panel-heading">
                                        <b>Bienvenida a la Cabalgata desde el Estado de México .:. H. Ayuntamiento de San Lucas, Mich.</b>
                                    </div>
                                    <time datetime="2017-02-03" style="color: grey; text-align: justify;">
                                        publicado viernes, 3 de febrero de 2017.
                                    </time>
                                    <div class="panel-body">
                                        <div  class="row">
                                            <p style="padding: 20px; text-align: justify;">
                                                <b>El Día Miércoles 1 de Febrero del año 2017, El C. Arturo Torres Aguirre dió la Bienvenida a la Cabalgata del Estado de México. Arribando más de 400 hombres de acaballo, originarios de 7 municipios del Estado de México.</b>
                                            </p>
                                            <div class="col-md-4">
                                                <figure>
                                                    <a href="Libreria/img/2017/feb/candelaria_dia_1/img1.jpg" target="_blank">
                                                        <img src="Libreria/img/2017/feb/candelaria_dia_1/img1.jpg" class="thumbnail img-responsive" alt="img" />
                                                    </a>
                                                </figure>
                                            </div>
                                            <div class="col-md-4">
                                                <figure>
                                                    <a href="Libreria/img/2017/feb/candelaria_dia_1/img2.jpg" target="_blank">
                                                        <img src="Libreria/img/2017/feb/candelaria_dia_1/img2.jpg" class="thumbnail img-responsive" alt="img" />
                                                    </a>
                                                </figure>
                                            </div>
                                            <div class="col-md-4">
                                                <figure>
                                                    <a href="Libreria/img/2017/feb/candelaria_dia_1/img3.jpg" target="_blank">
                                                        <img src="Libreria/img/2017/feb/candelaria_dia_1/img3.jpg" class="thumbnail img-responsive" alt="img" />
                                                    </a>
                                                </figure>
                                            </div>
                                        </div>
                                        <div  class="row">
                                            <div class="col-md-4">
                                                <figure>
                                                    <a href="Libreria/img/2017/feb/candelaria_dia_1/img4.jpg" target="_blank">
                                                        <img src="Libreria/img/2017/feb/candelaria_dia_1/img4.jpg" class="thumbnail img-responsive" alt="img" />
                                                    </a>
                                                </figure>
                                            </div>
                                            <div class="col-md-4">
                                                <figure>
                                                    <a href="Libreria/img/2017/feb/candelaria_dia_1/img5.jpg" target="_blank">
                                                        <img src="Libreria/img/2017/feb/candelaria_dia_1/img5.jpg" class="thumbnail img-responsive" alt="img" />
                                                    </a>
                                                </figure>
                                            </div>
                                            <div class="col-md-4">
                                                <figure>
                                                    <a href="Libreria/img/2017/feb/candelaria_dia_1/img6.jpg" target="_blank">
                                                        <img src="Libreria/img/2017/feb/candelaria_dia_1/img6.jpg" class="thumbnail img-responsive" alt="img" />
                                                    </a>
                                                </figure>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </article>
                            <article>
                                <div class="panel panel-success">
                                    <div class="panel-heading">
                                        <b>Entrega de Material y Equipos de Trabajo .:. H. Ayuntamiento de San Lucas, Mich.</b>
                                    </div>
                                    <time datetime="2017-02-03" style="color: grey; text-align: justify;">
                                        publicado viernes, 3 de febrero de 2017.
                                    </time>
                                    <div class="panel-body">
                                        <div  class="row">
                                            <p style="padding: 20px; text-align: justify;">
                                                <b>El C. Arturo Torres Aguirre entregó 10 Equipos de Radio y Material de Primeros Auxilios, Con el Objetivo de Apoyar la Labor que Realizan los Elementos de Seguridad Pública y los Elementos de Protección Civil.</b>
                                            </p>
                                            <div class="col-md-4">
                                                <figure>
                                                    <a href="Libreria/img/2017/feb/material&equipos_de_trabajo/img1.jpg" target="_blank">
                                                        <img src="Libreria/img/2017/feb/material&equipos_de_trabajo/img1.jpg" class="thumbnail img-responsive" alt="img" />
                                                    </a>
                                                </figure>
                                            </div>
                                            <div class="col-md-4">
                                                <figure>
                                                    <a href="Libreria/img/2017/feb/material&equipos_de_trabajo/img2.jpg" target="_blank">
                                                        <img src="Libreria/img/2017/feb/material&equipos_de_trabajo/img2.jpg" class="thumbnail img-responsive" alt="img" />
                                                    </a>
                                                </figure>
                                            </div>
                                            <div class="col-md-4">
                                                <figure>
                                                    <a href="Libreria/img/2017/feb/material&equipos_de_trabajo/img3.jpg" target="_blank">
                                                        <img src="Libreria/img/2017/feb/material&equipos_de_trabajo/img3.jpg" class="thumbnail img-responsive" alt="img" />
                                                    </a>
                                                </figure>
                                            </div>
                                        </div>
                                        <div  class="row">
                                            <div class="col-md-4">
                                                <figure>
                                                    <a href="Libreria/img/2017/feb/material&equipos_de_trabajo/img4.jpg" target="_blank">
                                                        <img src="Libreria/img/2017/feb/material&equipos_de_trabajo/img4.jpg" class="thumbnail img-responsive" alt="img" />
                                                    </a>
                                                </figure>
                                            </div>
                                            <div class="col-md-4">
                                                <figure>
                                                    <a href="Libreria/img/2017/feb/material&equipos_de_trabajo/img5.jpg" target="_blank">
                                                        <img src="Libreria/img/2017/feb/material&equipos_de_trabajo/img5.jpg" class="thumbnail img-responsive" alt="img" />
                                                    </a>
                                                </figure>
                                            </div>
                                            <div class="col-md-4">
                                                <figure>
                                                    <a href="Libreria/img/2017/feb/material&equipos_de_trabajo/img6.jpg" target="_blank">
                                                        <img src="Libreria/img/2017/feb/material&equipos_de_trabajo/img6.jpg" class="thumbnail img-responsive" alt="img" />
                                                    </a>
                                                </figure>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </article>
                            <article>
                                <div class="panel panel-success">
                                    <div class="panel-heading">
                                        <b>Gran Marco Conmemorativo de las Fiestas de la Candelaria (la inmaculada concepción de maría) .:. H. Ayuntamiento de San Lucas, Mich.</b>
                                    </div>
                                    <time datetime="2017-02-03" style="color: grey; text-align: justify;">
                                        publicado viernes, 3 de febrero de 2017.
                                    </time>
                                    <div class="panel-body">
                                        <div  class="row">
                                            <p style="padding: 20px; text-align: justify;">
                                                <b>Celebración de Concurso de Caballos bailadores que, de manera coordinada, el H. Ayuntamiento de San Lucas y la Asociación de los "Amigos de a Caballo", llevan a cabo en el marco conmemorativo de las fiestas de la Candelaria 2017. Donde se contó con la participación de la Mtra. Fabiola Alanis Zamano Secretaria de Igualdad Sustantiva y Equidad de Género en el Estado. También Resaltaron el evento la participación de los Presidentes Municipales; C. Daniel Basulto De nova, Presidente Municipal de Pungarabato, C. Profesora Carime Benitez Flores, Presidenta Municipal de Cutzamala, C. Abel Montufar Mendoza, Presidente Municipal de Coyuca. El concurso de caballos bailadores nos permite refrendar nuestros lazos con todos los pueblos de la Tierra Caliente de los Estados de Mich. Gro. y Mex. Las premiaciones estuvieron a cargo del Ayuntamiento Municipal. Paralelo a esta Actividad se Desarrollan eventos Culturales en el Teatro al aire libre Juan Reynoso a través de la Casa de la Cultura "Turipecuaro", a fin de generar un espacio de esparcimiento a los Peregrinos visitantes y lo más importante preservar nuestras tradiciones a través de la música y de la danza.</b>
                                            </p>
                                            <div class="col-md-3">
                                                <figure>
                                                    <a href="Libreria/img/2017/feb/2_dia_de_la_candelaria/img1.jpg" target="_blank">
                                                        <img src="Libreria/img/2017/feb/2_dia_de_la_candelaria/img1.jpg" class="thumbnail img-responsive" alt="img" />
                                                    </a>
                                                </figure>
                                            </div>
                                            <div class="col-md-3">
                                                <figure>
                                                    <a href="Libreria/img/2017/feb/2_dia_de_la_candelaria/img2.jpg" target="_blank">
                                                        <img src="Libreria/img/2017/feb/2_dia_de_la_candelaria/img2.jpg" class="thumbnail img-responsive" alt="img" />
                                                    </a>
                                                </figure>
                                            </div>
                                            <div class="col-md-3">
                                                <figure>
                                                    <a href="Libreria/img/2017/feb/2_dia_de_la_candelaria/img3.jpg" target="_blank">
                                                        <img src="Libreria/img/2017/feb/2_dia_de_la_candelaria/img3.jpg" class="thumbnail img-responsive" alt="img" />
                                                    </a>
                                                </figure>
                                            </div>
                                            <div class="col-md-3">
                                                <figure>
                                                    <a href="Libreria/img/2017/feb/2_dia_de_la_candelaria/img4.jpg" target="_blank">
                                                        <img src="Libreria/img/2017/feb/2_dia_de_la_candelaria/img4.jpg" class="thumbnail img-responsive" alt="img" />
                                                    </a>
                                                </figure>
                                            </div>
                                        </div>
                                        <div  class="row">
                                            <div class="col-md-3">
                                                <figure>
                                                    <a href="Libreria/img/2017/feb/2_dia_de_la_candelaria/img5.jpg" target="_blank">
                                                        <img src="Libreria/img/2017/feb/2_dia_de_la_candelaria/img5.jpg" class="thumbnail img-responsive" alt="img" />
                                                    </a>
                                                </figure>
                                            </div>
                                            <div class="col-md-3">
                                                <figure>
                                                    <a href="Libreria/img/2017/feb/2_dia_de_la_candelaria/img6.jpg" target="_blank">
                                                        <img src="Libreria/img/2017/feb/2_dia_de_la_candelaria/img6.jpg" class="thumbnail img-responsive" alt="img" />
                                                    </a>
                                                </figure>
                                            </div>
                                            <div class="col-md-3">
                                                <figure>
                                                    <a href="Libreria/img/2017/feb/2_dia_de_la_candelaria/img7.jpg" target="_blank">
                                                        <img src="Libreria/img/2017/feb/2_dia_de_la_candelaria/img7.jpg" class="thumbnail img-responsive" alt="img" />
                                                    </a>
                                                </figure>
                                            </div>
                                            <div class="col-md-3">
                                                <figure>
                                                    <a href="Libreria/img/2017/feb/2_dia_de_la_candelaria/img8.jpg" target="_blank">
                                                        <img src="Libreria/img/2017/feb/2_dia_de_la_candelaria/img8.jpg" class="thumbnail img-responsive" alt="img" />
                                                    </a>
                                                </figure>
                                            </div>
                                        </div>
                                        <div  class="row">
                                            <div class="col-md-3">
                                                <figure>
                                                    <a href="Libreria/img/2017/feb/2_dia_de_la_candelaria/img9.jpg" target="_blank">
                                                        <img src="Libreria/img/2017/feb/2_dia_de_la_candelaria/img9.jpg" class="thumbnail img-responsive" alt="img" />
                                                    </a>
                                                </figure>
                                            </div>
                                            <div class="col-md-3">
                                                <figure>
                                                    <a href="Libreria/img/2017/feb/2_dia_de_la_candelaria/img10.jpg" target="_blank">
                                                        <img src="Libreria/img/2017/feb/2_dia_de_la_candelaria/img10.jpg" class="thumbnail img-responsive" alt="img" />
                                                    </a>
                                                </figure>
                                            </div>
                                            <div class="col-md-3">
                                                <figure>
                                                    <a href="Libreria/img/2017/feb/2_dia_de_la_candelaria/img11.jpg" target="_blank">
                                                        <img src="Libreria/img/2017/feb/2_dia_de_la_candelaria/img11.jpg" class="thumbnail img-responsive" alt="img" />
                                                    </a>
                                                </figure>
                                            </div>
                                            <div class="col-md-3">
                                                <figure>
                                                    <a href="Libreria/img/2017/feb/2_dia_de_la_candelaria/img12.jpg" target="_blank">
                                                        <img src="Libreria/img/2017/feb/2_dia_de_la_candelaria/img12.jpg" class="thumbnail img-responsive" alt="img" />
                                                    </a>
                                                </figure>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </article>
                            <article>
                                <div class="panel panel-success">
                                    <div class="panel-heading">
                                        <b>
                                            Entrega de Apoyo a Productores de Ganado .:. H. Ayuntamiento de San Lucas, Mich.
                                        </b>
                                    </div>
                                    <time datetime="2017-02-08" style="color: grey; text-align: justify;">
                                        publicado el miércoles, 8 de febrero de 2017.
                                    </time>
                                    <div class="panel-body">
                                        <div class="row">
                                            <p style="padding: 20px; text-align: justify;">
                                                <b>El Día Martes 7 de febrero del 2017, El C. Arturo Torres Aguirre y Regidores del H. Ayuntamiento hacen entrega de 420 kg de Sales minerales, 4500 ml de desparasitante que cubre 875 cabezas de ganado y 1500 ml de Vitaminas ADE que cubre 500 cabezas de ganado, a 58 Productores del Municipio de San lucas Mich.</b>
                                            </p>
                                            <div class="col-md-4">
                                                <figure>
                                                    <a href="Libreria/img/2017/feb/atencion_ganadero/img1.jpg" target="_blank">
                                                        <img src="Libreria/img/2017/feb/atencion_ganadero/img1.jpg" class="thumbnail img-responsive" alt="img" />
                                                    </a>
                                                </figure>
                                            </div>
                                            <div class="col-md-4">
                                                <figure>
                                                    <a href="Libreria/img/2017/feb/atencion_ganadero/img2.jpg" target="_blank">
                                                        <img src="Libreria/img/2017/feb/atencion_ganadero/img2.jpg" class="thumbnail img-responsive" alt="img" />
                                                    </a>
                                                </figure>
                                            </div>
                                            <div class="col-md-4">
                                                <figure>
                                                    <a href="Libreria/img/2017/feb/atencion_ganadero/img3.jpg" target="_blank">
                                                        <img src="Libreria/img/2017/feb/atencion_ganadero/img3.jpg" class="thumbnail img-responsive" alt="img" />
                                                    </a>
                                                </figure>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <figure>
                                                    <a href="Libreria/img/2017/feb/atencion_ganadero/img4.jpg" target="_blank">
                                                        <img src="Libreria/img/2017/feb/atencion_ganadero/img4.jpg" class="thumbnail img-responsive" alt="img" />
                                                    </a>
                                                </figure>
                                            </div>
                                            <div class="col-md-4">
                                                <figure>
                                                    <a href="Libreria/img/2017/feb/atencion_ganadero/img5.jpg" target="_blank">
                                                        <img src="Libreria/img/2017/feb/atencion_ganadero/img5.jpg" class="thumbnail img-responsive" alt="img" />
                                                    </a>
                                                </figure>
                                            </div>
                                            <div class="col-md-4">
                                                <figure>
                                                    <a href="Libreria/img/2017/feb/atencion_ganadero/img6.jpg" target="_blank">
                                                        <img src="Libreria/img/2017/feb/atencion_ganadero/img6.jpg" class="thumbnail img-responsive" alt="img" />
                                                    </a>
                                                </figure>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </article>
                            <article>
                                <div class="panel panel-success">
                                    <div class="panel-heading">
                                        <b>
                                            Publicación de Información de Ley de Ingresos .:. H. Ayuntamiento de San Lucas, Mich.
                                        </b>
                                    </div>
                                    <time datetime="2017-02-13" style="color: grey; text-align: justify;">
                                        publicado el lunes, 13 de febrero de 2017.
                                    </time>
                                    <div class="panel-body">
                                        <div class="row">
                                            <p style="padding: 20px; text-align: justify;">
                                                <b>El Día Viernes 13 de febrero del 2017, Se llevó a cabo la Publicación en los Estrados del H. Ayuntamiento de San Lucas como, Información de la Ley de Ingresos, Planilla de Personal, Tabulador de Sueldos y Programa Operativo Anual de Obras Publicas (POA).</b>
                                            </p>
                                            <div class="col-md-4">
                                                <figure>
                                                    <a href="Libreria/img/2017/feb/informacion_publica/img1.jpg" target="_blank">
                                                        <img src="Libreria/img/2017/feb/informacion_publica/img1.jpg" class="thumbnail img-responsive" alt="img" />
                                                    </a>
                                                </figure>
                                            </div>
                                            <div class="col-md-4">
                                                <figure>
                                                    <a href="Libreria/img/2017/feb/informacion_publica/img2.jpg" target="_blank">
                                                        <img src="Libreria/img/2017/feb/informacion_publica/img2.jpg" class="thumbnail img-responsive" alt="img" />
                                                    </a>
                                                </figure>
                                            </div>
                                            <div class="col-md-4">
                                                <figure>
                                                    <a href="Libreria/img/2017/feb/informacion_publica/img3.jpg" target="_blank">
                                                        <img src="Libreria/img/2017/feb/informacion_publica/img3.jpg" class="thumbnail img-responsive" alt="img" />
                                                    </a>
                                                </figure>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </article>
                            <article>
                                <div class="panel panel-success">
                                    <div class="panel-heading">
                                        <b>
                                            Entrega de Material a las Instituciones Educativas .:. H. Ayuntamiento de San Lucas, Mich.
                                        </b>
                                    </div>
                                    <time datetime="2017-02-22" style="color: grey; text-align: justify;">
                                        publicado el miéroles, 22 de febrero de 2017.
                                    </time>
                                    <div class="panel-body">
                                        <div class="row">
                                            <p style="padding: 20px; text-align: justify;">
                                                <b>El Día 22 de febrero 2017. Como un Efecto Constitucional al Favor del Sector Educativo de San Lucas con la Nueva Creación de la Dirección de Educación y Salud Pública Municipal a Cargo del Profesor Santiago Díaz Pérez, El Gobierno Municipal de San Lucas Que Dirige el C. Arturo Torres Aguirre Presidente Municipal, hacen Entrega de Material a las Instituciones Educativas; Primaria José Ma. Morelos t/m San Lucas, Fray Bartolomé de las Casas San Jerónimo, Primaria Lázaro Cárdenas Querutzeo, preescolar Vasco de Quiroga San Pedrito, 20 Mesabancos, 40 Sillas, 3 Mesas para Maestros, 15 Cubetas de 19 Litros de Pintura Vinílica y 5 Cubetas de 19 Litros de Impermeabilizante. Con lo que el Propio Presidente y las Instituciones Educativas Beneficiadas Comprueban y Justifican, La justificación y la Rentabilidad Social de haber Creado esta Nueva Dirección que Atiende de Forma Directa al Sector más importante de la Sociedad como es la Educación. Todo lo Anterior de Forma Coordinada con el Gobierno del Estado a través de la Secretaria de Educación.</b>
                                            </p>
                                            <div class="col-md-4">
                                                <figure>
                                                    <a href="Libreria/img/2017/feb/sector_educativo/img1.jpg" target="_blank">
                                                        <img src="Libreria/img/2017/feb/sector_educativo/img1.jpg" class="thumbnail img-responsive" alt="img" />
                                                    </a>
                                                </figure>
                                            </div>
                                            <div class="col-md-4">
                                                <figure>
                                                    <a href="Libreria/img/2017/feb/sector_educativo/img2.jpg" target="_blank">
                                                        <img src="Libreria/img/2017/feb/sector_educativo/img2.jpg" class="thumbnail img-responsive" alt="img" />
                                                    </a>
                                                </figure>
                                            </div>
                                            <div class="col-md-4">
                                                <figure>
                                                    <a href="Libreria/img/2017/feb/sector_educativo/img3.jpg" target="_blank">
                                                        <img src="Libreria/img/2017/feb/sector_educativo/img3.jpg" class="thumbnail img-responsive" alt="img" />
                                                    </a>
                                                </figure>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </article>
                            <article>
                                <div class="panel panel-success">
                                    <div class="panel-heading">
                                        <b>
                                            Derechos de los Niños y Adolecentes, Sesión Ordinaria No. 04 .:. H. Ayuntamiento de San Lucas, Mich.
                                        </b>
                                    </div>
                                    <time datetime="2017-02-23" style="color: grey; text-align: justify;">
                                        publicado el jueves, 23 de febrero de 2017.
                                    </time>
                                    <div class="panel-body">
                                        <div class="row">
                                            <p style="padding: 20px; text-align: justify;">
                                                <b>En el Animo de hacer Efectivos los Derechos de los Niños y Adolescentes el día de Ayer 22 de Febrero del 2017 en Sesión Ordinaria No. 04 del H. Ayuntamiento Municipal de San Lucas Mich. Gestión 2015-2018 Autoriza y Acuerda la Instalación del sistema de Protección Integral de Niñas, Niños y Adolescentes del Municipio de San Lucas, Acto Seguido el C. Arturo Torres Aguirre Presidente Municipal y Presidente del Sistema, Hace la Declaratoria Oficial de Instalación del Sistema de Protección Integral de Niñas, Niños y Adolescentes del Mpio. De San Lucas; Previo a la Toma de Protesta, hace la Presentación de la C. Profra. Leticia Garcen Lopez, en Cuanto a Regidora de Educación Publica, Cultura y Turismo, Como Secretaria Ejecutiva del Propio Sistema; Quien Coordinara Con su Homolog@ en el Estado y al Interior del Municipio. Las Acciones Operativas del Citado Sistema. 
                                                Finalmente que Con la Creación de este Órgano, además de dar Cumplimiento a los Ordenamientos Legales Donde se Consagran los Derechos de los niñ@s y Adolescentes; Estaremos en situación de Implementar las Políticas Necesarias a Favor de la Niñez del Municipio.</b>
                                            </p>
                                            <div class="col-md-4">
                                                <figure>
                                                    <a href="Libreria/img/2017/feb/sesion_ordinaria_No_04/img1.jpg" target="_blank">
                                                        <img src="Libreria/img/2017/feb/sesion_ordinaria_No_04/img1.jpg" class="thumbnail img-responsive" alt="img" />
                                                    </a>
                                                </figure>
                                            </div>
                                            <div class="col-md-4">
                                                <figure>
                                                    <a href="Libreria/img/2017/feb/sesion_ordinaria_No_04/img2.jpg" target="_blank">
                                                        <img src="Libreria/img/2017/feb/sesion_ordinaria_No_04/img2.jpg" class="thumbnail img-responsive" alt="img" />
                                                    </a>
                                                </figure>
                                            </div>
                                            <div class="col-md-4">
                                                <figure>
                                                    <a href="Libreria/img/2017/feb/sesion_ordinaria_No_04/img3.jpg" target="_blank">
                                                        <img src="Libreria/img/2017/feb/sesion_ordinaria_No_04/img3.jpg" class="thumbnail img-responsive" alt="img" />
                                                    </a>
                                                </figure>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </article>
                            <article>
                                <div class="panel panel-success">
                                    <div class="panel-heading">
                                        <b>Celebración del 24 de Febrero, Mexico celebra el Día de La Bandera Nacional</b>
                                    </div>
                                    <time datetime="2017-02-27" style="color: grey; text-align: justify;">
                                        publicado el lunes, 27 de febrero de 2017.
                                    </time>
                                    <div class="panel-body">
                                        <p style="padding: 20px; text-align: justify;">
                                            <b>
                                           El día viernes 24 de febrero del 2017, El presidente municipal Arturo Torres Aguirre, entregó 25 banderas, gracias a las gestiones realizadas por el Honorable Ayuntamiento a través de la dirección de Educación y Salud a cargo del profesor Santiago Díaz Pérez, al término del desfile que se celebró con motivo del 24 de febrero, día de la Bandera. Las autoridades municipales, locales y educativas encabezaron el tradicional desfile. 
                                        </b>
                                        </p>
                                        <div class="row">
                                            <div class="col-md-3">
                                                <figure>
                                                    <a href="Libreria/img/2017/feb/24_febrero_la_bandera/img1.jpg" target="_blank">
                                                        <img src="Libreria/img/2017/feb/24_febrero_la_bandera/img1.jpg" class="thumbnail img-responsive" alt="img" />
                                                    </a>
                                                </figure>
                                            </div>
                                            <div class="col-md-3">
                                                <figure>
                                                    <a href="Libreria/img/2017/feb/24_febrero_la_bandera/img2.jpg" target="_blank">
                                                        <img src="Libreria/img/2017/feb/24_febrero_la_bandera/img2.jpg" class="thumbnail img-responsive" alt="img" />
                                                    </a>
                                                </figure>
                                            </div>
                                            <div class="col-md-3">
                                                <figure>
                                                    <a href="Libreria/img/2017/feb/24_febrero_la_bandera/img3.jpg" target="_blank">
                                                        <img src="Libreria/img/2017/feb/24_febrero_la_bandera/img3.jpg" class="thumbnail img-responsive" alt="img" />
                                                    </a>
                                                </figure>
                                            </div>
                                            <div class="col-md-3">
                                                <figure>
                                                    <a href="Libreria/img/2017/feb/24_febrero_la_bandera/img4.jpg" target="_blank">
                                                        <img src="Libreria/img/2017/feb/24_febrero_la_bandera/img4.jpg" class="thumbnail img-responsive" alt="img" />
                                                    </a>
                                                </figure>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-3">
                                                <figure>
                                                    <a href="Libreria/img/2017/feb/24_febrero_la_bandera/img5.jpg" target="_blank">
                                                        <img src="Libreria/img/2017/feb/24_febrero_la_bandera/img5.jpg" class="thumbnail img-responsive" alt="img" />
                                                    </a>
                                                </figure>
                                            </div>
                                            <div class="col-md-3">
                                                <figure>
                                                    <a href="Libreria/img/2017/feb/24_febrero_la_bandera/img6.jpg" target="_blank">
                                                        <img src="Libreria/img/2017/feb/24_febrero_la_bandera/img6.jpg" class="thumbnail img-responsive" alt="img" />
                                                    </a>
                                                </figure>
                                            </div>
                                            <div class="col-md-3">
                                                <figure>
                                                    <a href="Libreria/img/2017/feb/24_febrero_la_bandera/img7.jpg" target="_blank">
                                                        <img src="Libreria/img/2017/feb/24_febrero_la_bandera/img7.jpg" class="thumbnail img-responsive" alt="img" />
                                                    </a>
                                                </figure>
                                            </div>
                                            <div class="col-md-3">
                                                <figure>
                                                    <a href="Libreria/img/2017/feb/24_febrero_la_bandera/img8.jpg" target="_blank">
                                                        <img src="Libreria/img/2017/feb/24_febrero_la_bandera/img8.jpg" class="thumbnail img-responsive" alt="img" />
                                                    </a>
                                                </figure>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-3">
                                                <figure>
                                                    <a href="Libreria/img/2017/feb/24_febrero_la_bandera/img9.jpg" target="_blank">
                                                        <img src="Libreria/img/2017/feb/24_febrero_la_bandera/img9.jpg" class="thumbnail img-responsive" alt="img" />
                                                    </a>
                                                </figure>
                                            </div>
                                            <div class="col-md-3">
                                                <figure>
                                                    <a href="Libreria/img/2017/feb/24_febrero_la_bandera/img10.jpg" target="_blank">
                                                        <img src="Libreria/img/2017/feb/24_febrero_la_bandera/img10.jpg" class="thumbnail img-responsive" alt="img" />
                                                    </a>
                                                </figure>
                                            </div>
                                            <div class="col-md-3">
                                                <figure>
                                                    <a href="Libreria/img/2017/feb/24_febrero_la_bandera/img11.jpg" target="_blank">
                                                        <img src="Libreria/img/2017/feb/24_febrero_la_bandera/img11.jpg" class="thumbnail img-responsive" alt="img" />
                                                    </a>
                                                </figure>
                                            </div>
                                            <div class="col-md-3">
                                                <figure>
                                                    <a href="Libreria/img/2017/feb/24_febrero_la_bandera/img12.jpg" target="_blank">
                                                        <img src="Libreria/img/2017/feb/24_febrero_la_bandera/img12.jpg" class="thumbnail img-responsive" alt="img" />
                                                    </a>
                                                </figure>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </article>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3"><!-- Barra lateral -->
            <aside>
                <?php 
                    include "Vista/main.phtml";
                    include "Vista/submenu.phtml";
                ?>
            </aside>
        </div><!-- end BL -->
    </div>
</section>
