<style type="text/css">
    button, .ef{/*Clase css del boton*/
        color: blue;
    }
    .ef:hover{/*Clase de efecto del fondo y color de texto en css del boton*/
        background-color:#5cb85c;
        color: white;
    }
</style>
<section>
    <div style="text-align: center;">
        <a href="?fp=principal"><i class="fa fa-fw fa-home"></i>Home</a>
        <img src="Libreria/img/login.png" alt="Home"/><b>Artículo 36°</b>
    </div>
    <hr />
    <div class="row">
        <div class="col-md-9">
            <article>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h1 style="font-size: xx-large;">
                        <b>.:. Indicadores Artículo 36° .:.</b></h1>
                    </div>
                    <div class="panel-body">
                        <br />
                        <div style="text-align: justify; padding-top: 20px; padding-left: 100px; padding-right: 100px; padding-bottom: 20px;">
                            <a href="#demo1" class="btn btn-primary" data-toggle="collapse">
                                <b>► 1.- Leyenda</b>
                            </a>
                              <div id="demo1" class="collapse" style="padding-left: 20px;">
                                <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#net1">
                                <b>► 2018</b>
                                </button>
                                <div id="net1" class="collapse">
                                    <div style="padding-left: 20px;">
                                    <div><a onclick="alert('En construcción...');" target="_black"  data-toggle="tooltip" data-placement="top" title="2018">
                                       <button onkeypress="" type="button" style="border: none;" class="btn btn-default ef"><b>● Ir</b></button>
                                        </button>
                                    </a></div>
                                    </div>
                                </div><br>
                               <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo1a">
                                <b>► 2017</b>
                                </button>
                                <div id="demo1a" class="collapse">
                                    <div style="padding-left: 20px;">
                                    <div><a onclick="alert('En construcción...');" target="_black"  data-toggle="tooltip" data-placement="top" title="2017">
                                       <button onkeypress="" type="button" style="border: none;" class="btn btn-default ef"><b>● Ir</b></button>
                                        </button>
                                    </a></div>
                                    </div>
                                </div><br>
                                <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo1b"><b>► 2016</b></button><br>
                                <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo1c"><b>► 2015</b></button>
                            </div>
                            <hr/>
                            <a href="#demo2" class="btn btn-primary" data-toggle="collapse">
                                <b>► 2.I.a.- Plan de Desarrollo Municipal</b>
                            </a>
                            <div id="demo2" class="collapse" style="padding-left: 20px;">
                            <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#net2">
                                <b>► 2018</b>
                                </button>
                                <div id="net2" class="collapse">
                                    <div style="padding-left: 20px;">
                                    <div><a onclick="alert('En construcción...');" target="_black"  data-toggle="tooltip" data-placement="top" title="2018">
                                       <button onkeypress="" type="button" style="border: none;" class="btn btn-default ef"><b>● Ir</b></button>
                                        </button>
                                    </a></div>
                                    </div>
                                </div><br>
                                <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo2a">
                                    <b>► 2017</b>
                                </button>
                                <div id="demo2a" class="collapse">
                                    <div style="padding-left: 20px;">
                                    <div><a href="Libreria\doc\art_36\II\plan_desarrollo.pdf" target="_black"  data-toggle="tooltip" data-placement="top" title="2017" >
                                        <button onkeypress="" type="button" style="border: none;" class="btn btn-default ef">
                                            <b>● Plan de Desarrollo Municipal</b>
                                        </button>
                                    </a></div>
                                    </div>
                                </div><br>
                                <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo2b"><b>► 2016</b></button><br>
                                <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo2c"><b>► 2015</b></button>
                            </div>
                            <hr/>
                            <a href="#demo3" class="btn btn-primary" data-toggle="collapse">
                                <b>2.I.b.- Presupuesto de Egresos y las Fomulas de Distribución</b>
                            </a>
                            <div id="demo3" class="collapse" style="padding-left: 20px;">
                                <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#net3">
                                <b>► 2018</b>
                                </button>
                                <div id="net3" class="collapse">
                                    <div style="padding-left: 20px;">
                                    <div><a onclick="alert('En construcción...');" target="_black"  data-toggle="tooltip" data-placement="top" title="2018">
                                       <button onkeypress="" type="button" style="border: none;" class="btn btn-default ef"><b>● Ir</b></button>
                                        </button>
                                    </a></div>
                                    </div>
                                </div><br>
                                <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo3a"><b>► 2017</b></button>
                                <div id="demo3a" class="collapse">
                                    <div style="padding-left: 20px;">
                                    <div><a onclick="alert('En construcción...');" target="_black"  data-toggle="tooltip" data-placement="top" title="2017" >
                                        <button onkeypress="" type="button" style="border: none;" class="btn btn-default ef"><b>● Ir</b></button>
                                    </a></div>
                                    </div>
                                </div><br>
                                <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo3b"><b>► 2016</b></button><br>
                                <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo3c"><b>► 2015</b></button>
                            </div>
                            <hr/>
                            <a href="#demo4" class="btn btn-primary" data-toggle="collapse">
                                <b>3.I.c. Expropiaciones</b>
                            </a>
                            <div id="demo4" class="collapse" style="padding-left: 20px;">
                            <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#net4">
                                <b>► 2018</b>
                                </button>
                                <div id="net4" class="collapse">
                                    <div style="padding-left: 20px;">
                                    <div><a onclick="alert('En construcción...');" target="_black"  data-toggle="tooltip" data-placement="top" title="2018">
                                       <button onkeypress="" type="button" style="border: none;" class="btn btn-default ef"><b>● Ir</b></button>
                                        </button>
                                    </a></div>
                                    </div>
                                </div><br>
                                <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo4a"><b>► 2017</b></button>
                                <div id="demo4a" class="collapse">
                                    <div style="padding-left: 20px;">
                                    <div><a onclick="alert('En construcción...');" target="_black"  data-toggle="tooltip" data-placement="top" title="2017" >
                                        <button onkeypress="" type="button" style="border: none;" class="btn btn-default ef"><b>● Ir</b></button>
                                    </a></div>
                                    </div>
                                </div><br>
                                <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo4b"><b>► 2016</b></button><br>
                                <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo4c"><b>► 2015</b></button>
                            </div>
                            <hr/>
                            <a href="#demo5" class="btn btn-primary" data-toggle="collapse">
                                <b>4.I.d.1. Contribuyentes a los que se les Hubiera Cancelado o Condenado Créditos Fiscales</b>
                            </a>
                            <div id="demo5" class="collapse" style="padding-left: 20px;">
                            <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#net5">
                                <b>► 2018</b>
                                </button>
                                <div id="net5" class="collapse">
                                    <div style="padding-left: 20px;">
                                    <div><a onclick="alert('En construcción...');" target="_black"  data-toggle="tooltip" data-placement="top" title="2018">
                                       <button onkeypress="" type="button" style="border: none;" class="btn btn-default ef"><b>● Ir</b></button>
                                        </button>
                                    </a></div>
                                    </div>
                                </div><br>
                                <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo5a"><b>► 2017</b></button>
                                <div id="demo5a" class="collapse">
                                    <div style="padding-left: 20px;">
                                    <div><a onclick="alert('En construcción...');" target="_black"  data-toggle="tooltip" data-placement="top" title="2017" >
                                       
                                        <div><a href="Libreria\doc\art_36\4.I.d.1\CANCELACION-O-CONDONACION-DE-ALGUN-CREDITO-FISCAL-1erTRIM-2017.xls" target="_black"  data-toggle="tooltip" data-placement="top" title="2017" >
                                        <button onkeypress="" type="button" style="border: none;" class="btn btn-default ef">
                                            <b>● 1er. TRIMESTRE</b>
                                        </button>
                                    </a></div>

                                     <div><a href="Libreria\doc\art_36\4.I.d.1\CANCELACION-O-CONDONACION-DE-ALGUN-CREDITO-FISCAL-2doTRIM-2017.xls" target="_black"  data-toggle="tooltip" data-placement="top" title="2017" >
                                        <button onkeypress="" type="button" style="border: none;" class="btn btn-default ef">
                                            <b>● 2do. TRIMESTRE</b>
                                        </button>
                                    </a></div>

                                     <div><a href="Libreria\doc\art_36\4.I.d.1\CANCELACION-O-CONDONACION-DE-ALGUN-CREDITO-FISCAL-3erTRIM-2017.xls" target="_black"  data-toggle="tooltip" data-placement="top" title="2017" >
                                        <button onkeypress="" type="button" style="border: none;" class="btn btn-default ef">
                                            <b>● 3er. TRIMESTRE</b>
                                        </button>
                                    </a></div>


                                     <div><a href="Libreria\doc\art_36\4.I.d.1\CANCELACION-O-CONDONACION-DE-ALGUN-CREDITO-FISCAL-4toTRIM-2017.xls" target="_black"  data-toggle="tooltip" data-placement="top" title="2017" >
                                        <button onkeypress="" type="button" style="border: none;" class="btn btn-default ef">
                                            <b>● 4to. TRIMESTRE</b>
                                        </button>
                                    </a></div>

                                    </a></div>
                                    </div>
                                </div><br>
                                <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo5b"><b>► 2016</b></button>
                                <div id="demo5b" class="collapse">
                                    <div style="padding-left: 20px;">
                                    <div><a onclick="alert('En construcción...');" target="_black"  data-toggle="tooltip" data-placement="top" title="2016" >

                                 <div><a href="Libreria\doc\art_36\4.I.d.1\CANCELACION-O-CONDONACION-DE-ALGUN-CREDITO-FISCAL-1erTRIM-2016.xls" target="_black"  data-toggle="tooltip" data-placement="top" title="2016" >
                                        <button onkeypress="" type="button" style="border: none;" class="btn btn-default ef">
                                            <b>● 1er. TRIMESTRE</b>
                                        </button>
                                    </a></div>

                                     <div><a href="Libreria\doc\art_36\4.I.d.1\CANCELACION-O-CONDONACION-DE-ALGUN-CREDITO-FISCAL-2doTRIM-2016.xls" target="_black"  data-toggle="tooltip" data-placement="top" title="2016" >
                                        <button onkeypress="" type="button" style="border: none;" class="btn btn-default ef">
                                            <b>● 2do. TRIMESTRE</b>
                                        </button>
                                    </a></div>

                                    <div><a href="Libreria\doc\art_36\4.I.d.1\CANCELACION-O-CONDONACION-DE-ALGUN-CREDITO-FISCAL-3erTRIM-2016.xls" target="_black"  data-toggle="tooltip" data-placement="top" title="2016" >
                                        <button onkeypress="" type="button" style="border: none;" class="btn btn-default ef">
                                            <b>● 3er. TRIMESTRE</b>
                                        </button>
                                    </a></div>

                                    <div><a href="Libreria\doc\art_36\4.I.d.1\CANCELACION-O-CONDONACION-DE-ALGUN-CREDITO-FISCAL-4toTRIM-2016.xls" target="_black"  data-toggle="tooltip" data-placement="top" title="2016" >
                                        <button onkeypress="" type="button" style="border: none;" class="btn btn-default ef">
                                            <b>● 4to. TRIMESTRE</b>
                                        </button>
                                    </a></div>
                                    </a></div>
                                    </div>
                                    </div><br>


                                <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo5c"><b>► 2015</b></button>
                                <div id="demo5c" class="collapse">
                                    <div style="padding-left: 20px;">
                                    <div><a onclick="alert('En construcción...');" target="_black"  data-toggle="tooltip" data-placement="top" title="2015" >
                            
                                  <div><a href="Libreria\doc\art_36\4.I.d.1\CANCELACION-O-CONDONACION-DE-ALGUN-CREDITO-FISCAL-2doTRIM-2015.xls" target="_black"  data-toggle="tooltip" data-placement="top" title="2015" >
                                        <button onkeypress="" type="button" style="border: none;" class="btn btn-default ef">
                                            <b>● 2do. TRIMESTRE</b>
                                        </button>
                                    </a></div>

                                    <div><a href="Libreria\doc\art_36\4.I.d.1\CANCELACION-O-CONDONACION-DE-ALGUN-CREDITO-FISCAL-3erTRIM-2015.xls" target="_black"  data-toggle="tooltip" data-placement="top" title="2015" >
                                        <button onkeypress="" type="button" style="border: none;" class="btn btn-default ef">
                                            <b>● 3er. TRIMESTRE</b>
                                        </button>
                                    </a></div>

                                    <div><a href="Libreria\doc\art_36\4.I.d.1\CANCELACION-O-CONDONACION-DE-ALGUN-CREDITO-FISCAL-4toTRIM-2015.xls" target="_black"  data-toggle="tooltip" data-placement="top" title="2015" >
                                        <button onkeypress="" type="button" style="border: none;" class="btn btn-default ef">
                                            <b>● 4to. TRIMESTRE</b>
                                        </button>
                                    </a></div>
                                    </a></div>
                                    </div>
                                    </div><br>
                                    </div><hr/>


                            <a href="#demo6" class="btn btn-primary" data-toggle="collapse">
                                <b>5.I.d.2. Estadísticas sobre Excenciones</b>
                            </a>
                            <div id="demo6" class="collapse" style="padding-left: 20px;">
                            <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#net6">
                                <b>► 2018</b>
                                </button>
                                <div id="net6" class="collapse">
                                    <div style="padding-left: 20px;">
                                    <div><a onclick="alert('En construcción...');" target="_black"  data-toggle="tooltip" data-placement="top" title="2018">
                                       <button onkeypress="" type="button" style="border: none;" class="btn btn-default ef"><b>● Ir</b></button>
                                        </button>
                                    </a></div>
                                    </div>
                                </div><br>
                                <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo6a"><b>► 2017</b></button>
                                <div id="demo6a" class="collapse">
                                    <div style="padding-left: 20px;">
                                    <div><a onclick="alert('En construcción...');" target="_black"  data-toggle="tooltip" data-placement="top" title="2017" >
                                        
                                        <div><a href="Libreria\doc\art_36\5.I.d.2\ESTADISTICAS-SOBRE-EXCENCIONES-1erTRIM-2017.xls" target="_black"  data-toggle="tooltip" data-placement="top" title="2017" >
                                        <button onkeypress="" type="button" style="border: none;" class="btn btn-default ef">
                                            <b>● 1er. TRIMESTRE</b>
                                        </button>
                                    </a></div>

                                    <div><a href="Libreria\doc\art_36\5.I.d.2\ESTADISTICAS-SOBRE-EXCENCIONES-2doTRIM-2017.xls" target="_black"  data-toggle="tooltip" data-placement="top" title="2017" >
                                        <button onkeypress="" type="button" style="border: none;" class="btn btn-default ef">
                                            <b>● 2do. TRIMESTRE</b>
                                        </button>
                                    </a></div>

                                    <div><a href="Libreria\doc\art_36\5.I.d.2\ESTADISTICAS-SOBRE-EXCENCIONES-3erTRIM-2017.xls" target="_black"  data-toggle="tooltip" data-placement="top" title="2017" >
                                        <button onkeypress="" type="button" style="border: none;" class="btn btn-default ef">
                                            <b>● 3er. TRIMESTRE</b>
                                        </button>
                                    </a></div>

                                     <div><a href="Libreria\doc\art_36\5.I.d.2\ESTADISTICAS-SOBRE-EXCENCIONES-4toTRIM-2017.xls" target="_black"  data-toggle="tooltip" data-placement="top" title="2017" >
                                        <button onkeypress="" type="button" style="border: none;" class="btn btn-default ef">
                                            <b>● 4to. TRIMESTRE</b>
                                        </button>
                                    </a></div>

                                    </a></div>
                                    </div>
                                </div><br>
                                <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo6b"><b>► 2016</b></button>

                                <div id="demo6b" class="collapse">
                                    <div style="padding-left: 20px;">
                                    <div><a onclick="alert('En construcción...');" target="_black"  data-toggle="tooltip" data-placement="top" title="2016" >

                                 <div><a href="Libreria\doc\art_36\5.I.d.2\ESTADISTICAS-SOBRE-EXCENCIONES-1erTRIM-2016.xls" target="_black"  data-toggle="tooltip" data-placement="top" title="2016" >
                                        <button onkeypress="" type="button" style="border: none;" class="btn btn-default ef">
                                            <b>● 1er. TRIMESTRE</b>
                                        </button>
                                    </a></div>

                                     <div><a href="Libreria\doc\art_36\5.I.d.2\ESTADISTICAS-SOBRE-EXCENCIONES-2doTRIM-2016.xls" target="_black"  data-toggle="tooltip" data-placement="top" title="2016" >
                                        <button onkeypress="" type="button" style="border: none;" class="btn btn-default ef">
                                            <b>● 2do. TRIMESTRE</b>
                                        </button>
                                    </a></div>

                                     <div><a href="Libreria\doc\art_36\5.I.d.2\ESTADISTICAS-SOBRE-EXCENCIONES-3erTRIM-2016.xls" target="_black"  data-toggle="tooltip" data-placement="top" title="2016" >
                                        <button onkeypress="" type="button" style="border: none;" class="btn btn-default ef">
                                            <b>● 3er. TRIMESTRE</b>
                                        </button>
                                    </a></div>

                                     <div><a href="Libreria\doc\art_36\5.I.d.2\ESTADISTICAS-SOBRE-EXCENCIONES-4toTRIM-2016.xls" target="_black"  data-toggle="tooltip" data-placement="top" title="2016" >
                                        <button onkeypress="" type="button" style="border: none;" class="btn btn-default ef">
                                            <b>● 4to. TRIMESTRE</b>
                                        </button>
                                    </a></div>
                                    </a></div>
                                    </div>
                                    </div><br>



                                <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo6c"><b>► 2015</b></button>
                                 <div id="demo6c" class="collapse">
                                    <div style="padding-left: 20px;">
                                    <div><a onclick="alert('En construcción...');" target="_black"  data-toggle="tooltip" data-placement="top" title="2015" >
                            
                               <div><a href="Libreria\doc\art_36\5.I.d.2\ESTADISTICAS-SOBRE-EXCENCIONES-2doTRIM-2015.xls" target="_black"  data-toggle="tooltip" data-placement="top" title="2015" >
                                        <button onkeypress="" type="button" style="border: none;" class="btn btn-default ef">
                                            <b>● 2do. TRIMESTRE</b>
                                        </button>
                                    </a></div>

                                     <div><a href="Libreria\doc\art_36\5.I.d.2\ESTADISTICAS-SOBRE-EXCENCIONES-3erTRIM-2015.xls" target="_black"  data-toggle="tooltip" data-placement="top" title="2015" >
                                        <button onkeypress="" type="button" style="border: none;" class="btn btn-default ef">
                                            <b>● 3er. TRIMESTRE</b>
                                        </button>
                                    </a></div>

                                     <div><a href="Libreria\doc\art_36\5.I.d.2\ESTADISTICAS-SOBRE-EXCENCIONES-4toTRIM-2015.xls" target="_black"  data-toggle="tooltip" data-placement="top" title="2015" >
                                        <button onkeypress="" type="button" style="border: none;" class="btn btn-default ef">
                                            <b>● 4to. TRIMESTRE</b>
                                        </button>
                                    </a></div>
                                    </a></div>
                                    </div>
                                    </div><br>
                                    </div><hr/>

                            <a href="#demo7" class="btn btn-primary" data-toggle="collapse">
                                <b>6.I.e.1. Nombres de las Personas a Quienes se les Habilito para Ejercer como Corredores y Notarios Públicos</b>
                            </a>
                            <div id="demo7" class="collapse" style="padding-left: 20px;">
                                <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#net7">
                                <b>► 2018</b>
                                </button>
                                <div id="net7" class="collapse">
                                    <div style="padding-left: 20px;">
                                    <div><a onclick="alert('En construcción...');" target="_black"  data-toggle="tooltip" data-placement="top" title="2018">
                                       <button onkeypress="" type="button" style="border: none;" class="btn btn-default ef"><b>● Ir</b></button>
                                        </button>
                                    </a></div>
                                    </div>
                                </div><br>
                                <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo7a"><b>► 2017</b></button>
                                <div id="demo7a" class="collapse">
                                    <div style="padding-left: 20px;">
                                    <div><a onclick="alert('En construcción...');" target="_black"  data-toggle="tooltip" data-placement="top" title="2017" >
                                        <button onkeypress="" type="button" style="border: none;" class="btn btn-default ef"><b>● Ir</b></button>
                                    </a></div>
                                    </div>
                                </div><br>
                                <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo7b"><b>► 2016</b></button><br>
                                <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo7c"><b>► 2015</b></button>
                            </div>
                            <hr/>
                            <a href="#demo8" class="btn btn-primary" data-toggle="collapse">
                                <b>7.I.e.2. Sanciones a Corredores y Notarios Públicos</b>
                            </a>
                            <div id="demo8" class="collapse" style="padding-left: 20px;">
                            <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#net8">
                                <b>► 2018</b>
                                </button>
                                <div id="net8" class="collapse">
                                    <div style="padding-left: 20px;">
                                    <div><a onclick="alert('En construcción...');" target="_black"  data-toggle="tooltip" data-placement="top" title="2018">
                                       <button onkeypress="" type="button" style="border: none;" class="btn btn-default ef"><b>● Ir</b></button>
                                        </button>
                                    </a></div>
                                    </div>
                                </div><br>
                                <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo8a"><b>► 2017</b></button>
                                <div id="demo8a" class="collapse">
                                    <div style="padding-left: 20px;">
                                    <div><a onclick="alert('En construcción...');" target="_black"  data-toggle="tooltip" data-placement="top" title="2017" >
                                        <button onkeypress="" type="button" style="border: none;" class="btn btn-default ef"><b>● Ir</b></button>
                                    </a></div>
                                    </div>
                                </div><br>
                                <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo8b"><b>► 2016</b></button><br>
                                <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo8c"><b>► 2015</b></button>
                            </div>
                            <hr/>
                            <a href="#demo9" class="btn btn-primary" data-toggle="collapse">
                                <b>8.I.f.1.1. Planes de Desarrollo Urbano</b>
                            </a>
                            <div id="demo9" class="collapse" style="padding-left: 20px;">
                                <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#net9">
                                <b>► 2018</b>
                                </button>
                                <div id="net9" class="collapse">
                                    <div style="padding-left: 20px;">
                                    <div><a onclick="alert('En construcción...');" target="_black"  data-toggle="tooltip" data-placement="top" title="2018">
                                       <button onkeypress="" type="button" style="border: none;" class="btn btn-default ef"><b>● Ir</b></button>
                                        </button>
                                    </a></div>
                                    </div>
                                </div><br>
                                <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo9a"><b>► 2017</b></button>
                                <div id="demo9a" class="collapse">
                                    <div style="padding-left: 20px;">
                                    <div><a onclick="alert('En construcción...');" target="_black"  data-toggle="tooltip" data-placement="top" title="2017" >
                                        <button onkeypress="" type="button" style="border: none;" class="btn btn-default ef"><b>● Ir</b></button>
                                    </a></div>
                                    </div>
                                </div><br>
                                <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo9b"><b>► 2016</b></button><br>
                                <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo9c"><b>► 2015</b></button>
                            </div>
                            <hr/>
                            <a href="#demo10" class="btn btn-primary" data-toggle="collapse">
                                <b>8.I.f.1.2. Planes y Programas de Ordenamiento Territorial</b>
                            </a>
                            <div id="demo10" class="collapse" style="padding-left: 20px;">
                                <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#net10">
                                <b>► 2018</b>
                                </button>
                                <div id="net10" class="collapse">
                                    <div style="padding-left: 20px;">
                                    <div><a onclick="alert('En construcción...');" target="_black"  data-toggle="tooltip" data-placement="top" title="2018">
                                       <button onkeypress="" type="button" style="border: none;" class="btn btn-default ef"><b>● Ir</b></button>
                                        </button>
                                    </a></div>
                                    </div>
                                </div><br>
                                <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo10a"><b>► 2017</b></button>
                                <div id="demo10a" class="collapse">
                                    <div style="padding-left: 20px;">
                                    <div><a onclick="alert('En construcción...');" target="_black"  data-toggle="tooltip" data-placement="top" title="2017" >
                                        <button onkeypress="" type="button" style="border: none;" class="btn btn-default ef"><b>● Ir</b></button>
                                    </a></div>
                                    </div>
                                </div><br>
                                <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo10b"><b>► 2016</b></button><br>
                                <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo10c"><b>► 2015</b></button>
                            </div>
                            <hr/>
                            <a href="#demo11" class="btn btn-primary" data-toggle="collapse">
                                <b>8.I.f.1.3. Planes y Programas de Ordenamiento Ecológico</b>
                            </a>
                            <div id="demo11" class="collapse" style="padding-left: 20px;">
                            <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#core11">
                                    <b>► 2018</b>
                                </button>
                                <div id="core11" class="collapse">
                                    <div style="padding-left: 20px;">
                                    <div><a onclick="alert('En construcción...');" target="_black"  data-toggle="tooltip" data-placement="top" title="2018" >
                                        <button onkeypress="" type="button" style="border: none;" class="btn btn-default ef">
                                            <b>● Ir</b>
                                        </button>
                                    </a></div>
                                    </div>
                                </div><br>
                                <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo11a"><b>► TRIANUAL</b></button>
                                <div id="demo11a" class="collapse">
                                    <div style="padding-left: 20px;">
                                    <div><a onclick="alert('En construcción...');" target="_black"  data-toggle="tooltip" data-placement="top" title="2017" >
                                        
                                       <div><a href="Libreria\doc\art_36\8.I.f.1.3\PLANES-Y-PROGRAMAS-DE-ORDENAMIENTO-ECOLOGICO.xls" target="_black"  data-toggle="tooltip" data-placement="top" title="2017" >
                                        <button onkeypress="" type="button" style="border: none;" class="btn btn-default ef">
                                            <b>● TRIANUAL</b>
                                            </button>
                                    </a></div>
                                    </a></div>
                                    </div>
                                    </div><br>
                                    </div><hr/>
                                       
                          
                            <a href="#demo12" class="btn btn-primary" data-toggle="collapse">
                                <b>9.I.f.2. Tipos de Suelo</b>
                            </a>
                            <div id="demo12" class="collapse" style="padding-left: 20px;">
                                <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#net12">
                                <b>► 2018</b>
                                </button>
                                <div id="net12" class="collapse">
                                    <div style="padding-left: 20px;">
                                    <div><a onclick="alert('En construcción...');" target="_black"  data-toggle="tooltip" data-placement="top" title="2018">
                                       <button onkeypress="" type="button" style="border: none;" class="btn btn-default ef"><b>● Ir</b></button>
                                        </button>
                                    </a></div>
                                    </div>
                                </div><br>
                                <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo12a"><b>► 2017</b></button>
                                <div id="demo12a" class="collapse">
                                    <div style="padding-left: 20px;">
                                    <div><a onclick="alert('En construcción...');" target="_black"  data-toggle="tooltip" data-placement="top" title="2017" >
                                        <button onkeypress="" type="button" style="border: none;" class="btn btn-default ef"><b>● Ir</b></button>
                                    </a></div>
                                    </div>
                                </div><br>
                                <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo12b"><b>► 2016</b></button><br>
                                <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo12c"><b>► 2015</b></button>
                            </div>
                            <hr/>
                            <a href="#demo13" class="btn btn-primary" data-toggle="collapse">
                                <b>10.I.f.3.1 Licencias de Uso</b>
                            </a>
                            <div id="demo13" class="collapse" style="padding-left: 20px;">
                                <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#net13">
                                <b>► 2018</b>
                                </button>
                                <div id="net13" class="collapse">
                                    <div style="padding-left: 20px;">
                                    <div><a onclick="alert('En construcción...');" target="_black"  data-toggle="tooltip" data-placement="top" title="2018">
                                       <button onkeypress="" type="button" style="border: none;" class="btn btn-default ef"><b>● Ir</b></button>
                                        </button>
                                    </a></div>
                                    </div>
                                </div><br>
                                <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo13a"><b>► 2017</b></button>
                                <div id="demo13a" class="collapse">
                                    <div style="padding-left: 20px;">
                                    <div><a onclick="alert('En construcción...');" target="_black"  data-toggle="tooltip" data-placement="top" title="2017" >
                                        
                                       <div><a href="Libreria\doc\art_36\10.I.f.3.1\Licencia-Uso-de-Suelo-1erTRIM2017.xls" target="_black"  data-toggle="tooltip" data-placement="top" title="2017" >
                                        <button onkeypress="" type="button" style="border: none;" class="btn btn-default ef">
                                            <b>● 1er. TRIMESTRE</b>
                                        </button>
                                    </a></div>

                                      <div><a href="Libreria\doc\art_36\10.I.f.3.1\Licencia-Uso-de-Suelo-2doTRIM2017.xls" target="_black"  data-toggle="tooltip" data-placement="top" title="2017" >
                                        <button onkeypress="" type="button" style="border: none;" class="btn btn-default ef">
                                            <b>● 2do. TRIMESTRE</b>
                                        </button>
                                    </a></div>

                                      <div><a href="Libreria\doc\art_36\10.I.f.3.1\Licencia-Uso-de-Suelo-3erTRIM2017.xls" target="_black"  data-toggle="tooltip" data-placement="top" title="2017" >
                                        <button onkeypress="" type="button" style="border: none;" class="btn btn-default ef">
                                            <b>● 3er. TRIMESTRE</b>
                                        </button>
                                    </a></div>

                                    <div><a href="Libreria\doc\art_36\10.I.f.3.1\LICENCIA-USO-DE-SUELO-OCT-DIC-2017.xls" target="_black"  data-toggle="tooltip" data-placement="top" title="2017" >
                                        <button onkeypress="" type="button" style="border: none;" class="btn btn-default ef">
                                            <b>● 4to. TRIMESTRE</b>
                                        </button>
                                    </a></div>

                                    </a></div>
                                    </div>
                                </div><br>
                                <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo13b"><b>► 2016</b></button>
                                 <div id="demo13b" class="collapse">
                                    <div style="padding-left: 20px;">
                                    <div><a onclick="alert('En construcción...');" target="_black"  data-toggle="tooltip" data-placement="top" title="2016" >

                                  <div><a href="Libreria\doc\art_36\10.I.f.3.1\Licencia-Uso-de-Suelo-1erTRIM2016.xls" target="_black"  data-toggle="tooltip" data-placement="top" title="2016" >
                                        <button onkeypress="" type="button" style="border: none;" class="btn btn-default ef">
                                            <b>● 1er. TRIMESTRE</b>
                                        </button>
                                    </a></div>
                                   
                                    <div><a href="Libreria\doc\art_36\10.I.f.3.1\Licencia-Uso-de-Suelo-2doTRIM2016.xls" target="_black"  data-toggle="tooltip" data-placement="top" title="2016" >
                                        <button onkeypress="" type="button" style="border: none;" class="btn btn-default ef">
                                            <b>● 2do. TRIMESTRE</b>
                                        </button>
                                    </a></div>
                                   
                                     <div><a href="Libreria\doc\art_36\10.I.f.3.1\Licencia-Uso-de-Suelo-3erTRIM2016.xls" target="_black"  data-toggle="tooltip" data-placement="top" title="2016" >
                                        <button onkeypress="" type="button" style="border: none;" class="btn btn-default ef">
                                            <b>● 3er. TRIMESTRE</b>
                                        </button>
                                    </a></div>

                                      <div><a href="Libreria\doc\art_36\10.I.f.3.1\Licencia-Uso-de-Suelo-4toTRIM2016.xls" target="_black"  data-toggle="tooltip" data-placement="top" title="2016" >
                                        <button onkeypress="" type="button" style="border: none;" class="btn btn-default ef">
                                            <b>● 4to. TRIMESTRE</b>
                                        </button>
                                    </a></div>
                                    </a></div>
                                    </div>
                                    </div><br>
                                   
                                   
                                <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo13c"><b>► 2015</b></button>
                            
                               <div id="demo13c" class="collapse">
                                    <div style="padding-left: 20px;">
                                    <div><a onclick="alert('En construcción...');" target="_black"  data-toggle="tooltip" data-placement="top" title="2015" >  
                                
                                  <div><a href="Libreria\doc\art_36\10.I.f.3.1\Licencia-Uso-de-Suelo-2doTRIM2015.xls" target="_black"  data-toggle="tooltip" data-placement="top" title="2015" >
                                        <button onkeypress="" type="button" style="border: none;" class="btn btn-default ef">
                                            <b>● 2do. TRIMESTRE</b>
                                        </button>
                                    </a></div>

                                      <div><a href="Libreria\doc\art_36\10.I.f.3.1\Licencia-Uso-de-Suelo-3erTRIM2015.xls" target="_black"  data-toggle="tooltip" data-placement="top" title="2015" >
                                        <button onkeypress="" type="button" style="border: none;" class="btn btn-default ef">
                                            <b>● 3er. TRIMESTRE</b>
                                        </button>
                                    </a></div>

                                      <div><a href="Libreria\doc\art_36\10.I.f.3.1\Licencia-Uso-de-Suelo-4toTRIM2015.xls" target="_black"  data-toggle="tooltip" data-placement="top" title="2015" >
                                        <button onkeypress="" type="button" style="border: none;" class="btn btn-default ef">
                                            <b>● 4to. TRIMESTRE</b>
                                        </button>
                                    </a></div>
                                    </a></div>
                                    </div>
                                    </div><br>
                                    </div><hr/>


                            <a href="#demo14" class="btn btn-primary" data-toggle="collapse">
                                <b>11.I.f.3.2 Licencia de Construcción</b>
                            </a>
                            <div id="demo14" class="collapse" style="padding-left: 20px;">
                            <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#net14">
                                <b>► 2018</b>
                                </button>
                                <div id="net14" class="collapse">
                                    <div style="padding-left: 20px;">
                                    <div><a onclick="alert('En construcción...');" target="_black"  data-toggle="tooltip" data-placement="top" title="2018">
                                       <button onkeypress="" type="button" style="border: none;" class="btn btn-default ef"><b>● Ir</b></button>
                                        </button>
                                    </a></div>
                                    </div>
                                </div><br>
                                <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo14a"><b>► 2017</b></button>
                                <div id="demo14a" class="collapse">
                                    <div style="padding-left: 20px;">
                                    <div><a onclick="alert('En construcción...');" target="_black"  data-toggle="tooltip" data-placement="top" title="2017" >
                                       
                                     <div><a href="Libreria\doc\art_36\11.I.f.3.2\Licencias-de-Construccion-1erTRIM2017.xls" target="_black"  data-toggle="tooltip" data-placement="top" title="2017" >
                                        <button onkeypress="" type="button" style="border: none;" class="btn btn-default ef">
                                            <b>● 1er. TRIMESTRE</b>
                                        </button>
                                    </a></div>

                                    <div><a href="Libreria\doc\art_36\11.I.f.3.2\Licencias-de-Construccion-2doTRIM2017.xls" target="_black"  data-toggle="tooltip" data-placement="top" title="2017" >
                                        <button onkeypress="" type="button" style="border: none;" class="btn btn-default ef">
                                            <b>● 2do. TRIMESTRE</b>
                                        </button>
                                    </a></div>

                                    <div><a href="Libreria\doc\art_36\11.I.f.3.2\Licencias-de-Construccion-3erTRIM2017.xls" target="_black"  data-toggle="tooltip" data-placement="top" title="2017" >
                                        <button onkeypress="" type="button" style="border: none;" class="btn btn-default ef">
                                            <b>● 3er. TRIMESTRE</b>
                                        </button>
                                    </a></div>

                                    <div><a href="Libreria\doc\art_36\11.I.f.3.2\LICENCIAS-DE-CONSTRUCCION-OCT-DIC-2017.xls" target="_black"  data-toggle="tooltip" data-placement="top" title="2017" >
                                        <button onkeypress="" type="button" style="border: none;" class="btn btn-default ef">
                                            <b>● 4to. TRIMESTRE</b>
                                        </button>
                                    </a></div>

                                    </a></div>
                                    </div>
                                </div><br>
                                <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo14b"><b>► 2016</b></button>
                                <div id="demo14b" class="collapse">
                                    <div style="padding-left: 20px;">
                                    <div><a onclick="alert('En construcción...');" target="_black"  data-toggle="tooltip" data-placement="top" title="2016" >
                                       
                                     <div><a href="Libreria\doc\art_36\11.I.f.3.2\Licencias-de-Construccion-1erTRIM2016.xls" target="_black"  data-toggle="tooltip" data-placement="top" title="2016" >
                                        <button onkeypress="" type="button" style="border: none;" class="btn btn-default ef">
                                            <b>● 1er. TRIMESTRE</b>
                                        </button>
                                    </a></div>

                                     <div><a href="Libreria\doc\art_36\11.I.f.3.2\Licencias-de-Construccion-2doTRIM2016.xls" target="_black"  data-toggle="tooltip" data-placement="top" title="2016" >
                                        <button onkeypress="" type="button" style="border: none;" class="btn btn-default ef">
                                            <b>● 2do. TRIMESTRE</b>
                                        </button>
                                    </a></div>

                                     <div><a href="Libreria\doc\art_36\11.I.f.3.2\Licencias-de-Construccion-3erTRIM2016.xls" target="_black"  data-toggle="tooltip" data-placement="top" title="2016" >
                                        <button onkeypress="" type="button" style="border: none;" class="btn btn-default ef">
                                            <b>● 3er. TRIMESTRE</b>
                                        </button>
                                    </a></div>

                                     <div><a href="Libreria\doc\art_36\11.I.f.3.2\Licencias-de-Construccion-4toTRIM2016.xls" target="_black"  data-toggle="tooltip" data-placement="top" title="2016" >
                                        <button onkeypress="" type="button" style="border: none;" class="btn btn-default ef">
                                            <b>● 4to. TRIMESTRE</b>
                                        </button>
                                    </a></div>
                                    </a></div>
                                    </div>
                                    </div><br>



                                <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo14c"><b>► 2015</b></button>
                            
                                      <div id="demo14c" class="collapse">
                                    <div style="padding-left: 20px;">
                                    <div><a onclick="alert('En construcción...');" target="_black"  data-toggle="tooltip" data-placement="top" title="2015" >
                                       
                                     <div><a href="Libreria\doc\art_36\11.I.f.3.2\Licencias-de-Construccion-2doTRIM2015.xls" target="_black"  data-toggle="tooltip" data-placement="top" title="2015" >
                                        <button onkeypress="" type="button" style="border: none;" class="btn btn-default ef">
                                            <b>● 2do. TRIMESTRE</b>
                                        </button>
                                    </a></div>

                                    <div><a href="Libreria\doc\art_36\11.I.f.3.2\Licencias-de-Construccion-3erTRIM2015.xls" target="_black"  data-toggle="tooltip" data-placement="top" title="2015" >
                                        <button onkeypress="" type="button" style="border: none;" class="btn btn-default ef">
                                            <b>● 3er. TRIMESTRE</b>
                                        </button>
                                    </a></div>

                                    <div><a href="Libreria\doc\art_36\11.I.f.3.2\Licencias-de-Construccion-4toTRIM2015.xls" target="_black"  data-toggle="tooltip" data-placement="top" title="2015" >
                                        <button onkeypress="" type="button" style="border: none;" class="btn btn-default ef">
                                            <b>● 4to. TRIMESTRE</b>
                                        </button>
                                    </a></div>
                                    </a></div>
                                    </div>
                                    </div><br>
                                    </div><hr/>

                            <a href="#demo15" class="btn btn-primary" data-toggle="collapse">
                                <b>12.I.g. Disposiciones Administrativas</b>
                            </a>
                            <div id="demo15" class="collapse" style="padding-left: 20px;">
                                <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#net15">
                                <b>► 2018</b>
                                </button>
                                <div id="net15" class="collapse">
                                    <div style="padding-left: 20px;">
                                    <div><a onclick="alert('En construcción...');" target="_black"  data-toggle="tooltip" data-placement="top" title="2018">
                                       <button onkeypress="" type="button" style="border: none;" class="btn btn-default ef"><b>● Ir</b></button>
                                        </button>
                                    </a></div>
                                    </div>
                                </div><br>
                                <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo15a"><b>► 2017</b></button>
                                <div id="demo15a" class="collapse">
                                    <div style="padding-left: 20px;">
                                    <div><a onclick="alert('En construcción...');" target="_black"  data-toggle="tooltip" data-placement="top" title="2017" >
                                        <button onkeypress="" type="button" style="border: none;" class="btn btn-default ef"><b>● Ir</b></button>
                                    </a></div>
                                    </div>
                                </div><br>
                                <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo15b"><b>► 2016</b></button><br>
                                <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo15c"><b>► 2015</b></button>
                            </div>
                            <hr/>
                            <a href="#demo16" class="btn btn-primary" data-toggle="collapse">
                                <b>13.I.h. Origen de los Recursos</b>
                            </a>
                            <div id="demo16" class="collapse" style="padding-left: 20px;">
                                <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#net16">
                                <b>► 2018</b>
                                </button>
                                <div id="net16" class="collapse">
                                    <div style="padding-left: 20px;">
                                    <div><a onclick="alert('En construcción...');" target="_black"  data-toggle="tooltip" data-placement="top" title="2018">
                                       <button onkeypress="" type="button" style="border: none;" class="btn btn-default ef"><b>● Ir</b></button>
                                        </button>
                                    </a></div>
                                    </div>
                                </div><br>
                                <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo16a"><b>► 2017</b></button>
                                <div id="demo16a" class="collapse">
                                    <div style="padding-left: 20px;">
                                    <div><a onclick="alert('En construcción...');" target="_black"  data-toggle="tooltip" data-placement="top" title="2017" >
                                        <button onkeypress="" type="button" style="border: none;" class="btn btn-default ef"><b>● Ir</b></button>
                                    </a></div>
                                    </div>
                                </div><br>
                                <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo16b"><b>► 2016</b></button><br>
                                <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo16c"><b>► 2015</b></button>
                            </div>
                            <hr/>
                            <a href="#demo17" class="btn btn-primary" data-toggle="collapse">
                                <b>14.I.i. Glosa del Informe que se Presenta al Congreso</b>
                            </a>
                            <div id="demo17" class="collapse" style="padding-left: 20px;">
                                <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#net17">
                                <b>► 2018</b>
                                </button>
                                <div id="net17" class="collapse">
                                    <div style="padding-left: 20px;">
                                    <div><a onclick="alert('En construcción...');" target="_black"  data-toggle="tooltip" data-placement="top" title="2018">
                                       <button onkeypress="" type="button" style="border: none;" class="btn btn-default ef"><b>● Ir</b></button>
                                        </button>
                                    </a></div>
                                    </div>
                                </div><br>
                                <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo17a"><b>► 2017</b></button>
                                <div id="demo17a" class="collapse">
                                    <div style="padding-left: 20px;">
                                    <div><a onclick="alert('En construcción...');" target="_black"  data-toggle="tooltip" data-placement="top" title="2017" >
                                        <button onkeypress="" type="button" style="border: none;" class="btn btn-default ef"><b>● Ir</b></button>
                                    </a></div>
                                    </div>
                                </div><br>
                                <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo17b"><b>► 2016</b></button><br>
                                <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo17c"><b>► 2015</b></button>
                            </div>
                            <hr/>
                            <a href="#demo18" class="btn btn-primary" data-toggle="collapse">
                                <b>15.I.j. Transferencias Presupuestales Autorizadas por el Gobernador</b>
                            </a>
                            <div id="demo18" class="collapse" style="padding-left: 20px;">
                                <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#net18">
                                <b>► 2018</b>
                                </button>
                                <div id="net18" class="collapse">
                                    <div style="padding-left: 20px;">
                                    <div><a onclick="alert('En construcción...');" target="_black"  data-toggle="tooltip" data-placement="top" title="2018">
                                       <button onkeypress="" type="button" style="border: none;" class="btn btn-default ef"><b>● Ir</b></button>
                                        </button>
                                    </a></div>
                                    </div>
                                </div><br>
                                <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo18a"><b>► 2017</b></button>
                                <div id="demo18a" class="collapse">
                                    <div style="padding-left: 20px;">
                                    <div><a onclick="alert('En construcción...');" target="_black"  data-toggle="tooltip" data-placement="top" title="2017" >
                                        <button onkeypress="" type="button" style="border: none;" class="btn btn-default ef"><b>● Ir</b></button>
                                    </a></div>
                                    </div>
                                </div><br>
                                <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo18b"><b>► 2016</b></button><br>
                                <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo18c"><b>► 2015</b></button>
                            </div>
                            <hr/>
                            <a href="#demo19" class="btn btn-primary" data-toggle="collapse">
                                <b>16.I.k. Presupuesto de Egresos y Fórmulas de Distribución</b>
                            </a>
                            <div id="demo19" class="collapse" style="padding-left: 20px;">
                                <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#net19">
                                <b>► 2018</b>
                                </button>
                                <div id="net19" class="collapse">
                                    <div style="padding-left: 20px;">
                                    <div><a onclick="alert('En construcción...');" target="_black"  data-toggle="tooltip" data-placement="top" title="2018">
                                       <button onkeypress="" type="button" style="border: none;" class="btn btn-default ef"><b>● Ir</b></button>
                                        </button>
                                    </a></div>
                                    </div>
                                </div><br>
                                <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo19a"><b>► 2017</b></button>
                                <div id="demo19a" class="collapse">
                                    <div style="padding-left: 20px;">
                                    <div><a onclick="alert('En construcción...');" target="_black"  data-toggle="tooltip" data-placement="top" title="2017" >
                                        <button onkeypress="" type="button" style="border: none;" class="btn btn-default ef"><b>● Ir</b></button>
                                    </a></div>
                                    </div>
                                </div><br>
                                <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo19b"><b>► 2016</b></button><br>
                                <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo19c"><b>► 2015</b></button>
                            </div>
                            <hr/>
                            <a href="#demo20" class="btn btn-primary" data-toggle="collapse">
                                <b>17.I.l. Montos de Endeudamiento</b>
                            </a>
                            <div id="demo20" class="collapse" style="padding-left: 20px;">
                            <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#net20">
                                <b>► 2018</b>
                                </button>
                                <div id="net20" class="collapse">
                                    <div style="padding-left: 20px;">
                                    <div><a onclick="alert('En construcción...');" target="_black"  data-toggle="tooltip" data-placement="top" title="2018">
                                       <button onkeypress="" type="button" style="border: none;" class="btn btn-default ef"><b>● Ir</b></button>
                                        </button>
                                    </a></div>
                                    </div>
                                </div><br>
                                <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo20a"><b>► 2017</b></button>
                                <div id="demo20a" class="collapse">
                                    <div style="padding-left: 20px;">
                                    <div><a onclick="alert('En construcción...');" target="_black"  data-toggle="tooltip" data-placement="top" title="2017" >
                                        <button onkeypress="" type="button" style="border: none;" class="btn btn-default ef"><b>● Ir</b></button>
                                    </a></div>
                                    </div>
                                </div><br>
                                <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo20b"><b>► 2016</b></button><br>
                                <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo20c"><b>► 2015</b></button>
                            </div>
                            <hr/>
                            <a href="#demo21" class="btn btn-primary" data-toggle="collapse">
                                <b>18.II.a.1 Gacetas -18</b>
                            </a>
                            <div id="demo21" class="collapse" style="padding-left: 20px;">
                                <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#net21">
                                <b>► 2018</b>
                                </button>
                                <div id="net21" class="collapse">
                                    <div style="padding-left: 20px;">
                                    <div><a onclick="alert('En construcción...');" target="_black"  data-toggle="tooltip" data-placement="top" title="2018">
                                       <button onkeypress="" type="button" style="border: none;" class="btn btn-default ef"><b>● Ir</b></button>
                                        </button>
                                    </a></div>
                                    </div>
                                </div><br>
                                <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo21a"><b>► 2017</b></button>
                                <div id="demo21a" class="collapse">
                                    <div style="padding-left: 20px;">
                                    <div><a onclick="alert('En construcción...');" target="_black"  data-toggle="tooltip" data-placement="top" title="2017" >
                                        <button onkeypress="" type="button" style="border: none;" class="btn btn-default ef"><b>● Ir</b></button>
                                    </a></div>
                                    </div>
                                </div><br>
                                <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo21b"><b>► 2016</b></button><br>
                                <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo21c"><b>► 2015</b></button>
                            </div>
                            <hr/>
                            <a href="#demo22" class="btn btn-primary" data-toggle="collapse">
                                <b>19.II.a.2 Gacetas -19</b>
                            </a>
                            <div id="demo22" class="collapse" style="padding-left: 20px;">
                                <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#net22">
                                <b>► 2018</b>
                                </button>
                                <div id="net22" class="collapse">
                                    <div style="padding-left: 20px;">
                                    <div><a onclick="alert('En construcción...');" target="_black"  data-toggle="tooltip" data-placement="top" title="2018">
                                       <button onkeypress="" type="button" style="border: none;" class="btn btn-default ef"><b>● Ir</b></button>
                                        </button>
                                    </a></div>
                                    </div>
                                </div><br>
                                <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo22a"><b>► 2017</b></button>
                                <div id="demo22a" class="collapse">
                                    <div style="padding-left: 20px;">
                                    <div><a onclick="alert('En construcción...');" target="_black"  data-toggle="tooltip" data-placement="top" title="2017" >
                                        <button onkeypress="" type="button" style="border: none;" class="btn btn-default ef"><b>● Ir</b></button>
                                    </a></div>
                                    </div>
                                </div><br>
                                <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo22b"><b>► 2016</b></button><br>
                                <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo22c"><b>► 2015</b></button>
                            </div>
                            <hr/>
                            <a href="#demo23" class="btn btn-primary" data-toggle="collapse">
                                <b>20. Gacetas Parlamentarias</b>
                            </a>
                            <div id="demo23" class="collapse" style="padding-left: 20px;">
                                <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#net23">
                                <b>► 2018</b>
                                </button>
                                <div id="net23" class="collapse">
                                    <div style="padding-left: 20px;">
                                    <div><a onclick="alert('En construcción...');" target="_black"  data-toggle="tooltip" data-placement="top" title="2018">
                                       <button onkeypress="" type="button" style="border: none;" class="btn btn-default ef"><b>● Ir</b></button>
                                        </button>
                                    </a></div>
                                    </div>
                                </div><br>
                                <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo23a"><b>► 2017</b></button>
                                <div id="demo23a" class="collapse">
                                    <div style="padding-left: 20px;">
                                    <div><a onclick="alert('En construcción...');" target="_black"  data-toggle="tooltip" data-placement="top" title="2017" >
                                        <button onkeypress="" type="button" style="border: none;" class="btn btn-default ef"><b>● Ir</b></button>
                                    </a></div>
                                    </div>
                                </div><br>
                                <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo23b"><b>► 2016</b></button><br>
                                <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo23c"><b>► 2015</b></button>
                            </div>
                            <hr/>
                            <a href="#demo24" class="btn btn-primary" data-toggle="collapse">
                                <b>21.II.b. Sesiones de Cabildo</b>
                            </a>
                            <div id="demo24" class="collapse" style="padding-left: 20px;">
                                <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#net24">
                                <b>► 2018</b>
                                </button>
                                <div id="net24" class="collapse">
                                    <div style="padding-left: 20px;">
                                    <div><a onclick="alert('En construcción...');" target="_black"  data-toggle="tooltip" data-placement="top" title="2018">
                                       <button onkeypress="" type="button" style="border: none;" class="btn btn-default ef"><b>● Ir</b></button>
                                        </button>
                                    </a></div>
                                    </div>
                                </div><br>
                                <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo24a"><b>► 2017</b></button>
                                <div id="demo24a" class="collapse">
                                    <div style="padding-left: 20px;">
                                    <div><a onclick="alert('En construcción...');" target="_black"  data-toggle="tooltip" data-placement="top" title="2017" >
                                        <button onkeypress="" type="button" style="border: none;" class="btn btn-default ef"><b>● Ir</b></button>
                                    </a></div>
                                    </div>
                                </div><br>
                                <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo24b"><b>► 2016</b></button><br>
                                <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo24c"><b>► 2015</b></button>
                            </div>
                            <hr/>
                            <a href="#demo25" class="btn btn-primary" data-toggle="collapse">
                                <b>22.II.b.2 Calendario de Sesiones de Cabildo</b>
                            </a>
                            <div id="demo25" class="collapse" style="padding-left: 20px;">
                                <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#net25">
                                <b>► 2018</b>
                                </button>
                                <div id="net25" class="collapse">
                                    <div style="padding-left: 20px;">
                                    <div><a onclick="alert('En construcción...');" target="_black"  data-toggle="tooltip" data-placement="top" title="2018">
                                       <button onkeypress="" type="button" style="border: none;" class="btn btn-default ef"><b>● Ir</b></button>
                                        </button>
                                    </a></div>
                                    </div>
                                </div><br>
                                <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo25a"><b>► 2017</b></button>
                                <div id="demo25a" class="collapse">
                                    <div style="padding-left: 20px;">
                                    <div><a onclick="alert('En construcción...');" target="_black"  data-toggle="tooltip" data-placement="top" title="2017" >
                                        <button onkeypress="" type="button" style="border: none;" class="btn btn-default ef"><b>● Ir</b></button>
                                    </a></div>
                                    </div>
                                </div><br>
                                <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo25b"><b>► 2016</b></button><br>
                                <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo25c"><b>► 2015</b></button>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </div>
        <div class="col-md-3">
            <?php include "Vista/submenu.phtml"; ?>
        </div>
    </div>
</section>
