<section>
    <div style="text-align: center;">
        <a href="?fp=principal"><i class="fa fa-fw fa-home"></i>Home</a>
        <img src="Libreria/img/login.png" alt="Home"/><b>Transparencia</b>
    </div>
    <hr />
    <div class="row">
        <div class="col-md-9">
            <article>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h1 style="font-size: xx-large;">
                        <b>Transparencia <?php echo isset($_GET['data']) ? $_GET['data'] : "";?></b></h1>
                    </div>
                    <style>
                        .cuadro{ width: 80px; height: 80px; text-align: center;
                            background-color: lightblue;
                            border-radius: 17px 17px 17px 17px;
                            -moz-border-radius: 17px 17px 17px 17px;
                            -webkit-border-radius: 17px 17px 17px 17px;
                            border: 0px solid #000000;
                        }
                    </style>
                    <div class="panel-body">
                        <h3 style="color: #000040;">
                            Accede a toda la información pública de oficio relacionada con el Municipio.
                        </h3>
                        <br />
                        <h3 style="color: #000040;">
                            Título V CONAC (Contabilidad Gubernamental)
                        </h3>
                        <br />
                        <p>
                            Título V (LGCG): Información Financiera CONAC Título V de la Ley General de
                            Contabilidad Gubernamental.
                        </p>
                        <br />
                        <h3 style="color: #000040;">Articulo 10</h3>
                        <br />
                        <?php if(isset($_GET['data'])){?>
                        <div style="text-align: justify; padding-top: 20px; padding-left: 100px; padding-right: 100px; padding-bottom: 20px;">
                            <center>
                                <a href="?fp=fraccion1&data=<?php echo $_GET['data'];?>" >
                                    <div class="cuadro">
                                        <img src="Libreria/img/transparencia/ico_f1.png" class="img-responsive" alt="img" />
                                    </div>
                                    <b>Fracción I</b>
                                </a>
                            </center>
                            <br />
                            <p>Su marco normativo vigente, que deberá incluir leyes, códigos, reglamentos,
                                decretos de creación, manuales, lineamientos, políticas y demás disposiciones
                                aplicables en el ámbito de su competencia.
                            </p>
                            <center>
                                <a href="?fp=fraccion2&data=<?php echo $_GET['data'];?>">
                                    <div class="cuadro">
                                        <img src="Libreria/img/transparencia/ico_f2.png" class="img-responsive" alt="img" />
                                    </div>
                                <b>Fracción II</b></a>
                            </center>
                            <p>
                                Su estructura orgánica, los servicios que presta, las atribuciones por unidad
                                administrativa, así como la forma de acceder a ellos.
                            </p>
                            <center>
                                <a href="?fp=fraccion3&data=<?php echo $_GET['data'];?>">
                                    <div class="cuadro">
                                        <img src="Libreria/img/transparencia/ico_f3.png" class="img-responsive" alt="img" />
                                    </div>
                                <b>Fracción III</b></a>
                            </center>
                            <p>
                                El directorio de servidores públicos, desde el
                                nivel de jefe de departamento o sus equivalentes, hasta el titular del Sujeto Obligado,
                                incluyendo su currículo académico y laboral con nombre, domicilio oficial, número
                                telefónico oficial y en su caso dirección electrónica oficial.
                            </p>
                            <center>
                                <a href="?fp=fraccion4&data=<?php echo $_GET['data'];?>">
                                <div class="cuadro">
                                    <img src="Libreria/img/transparencia/ico_f4.png" class="img-responsive" alt="img" />
                                </div>
                                <b>Fracción IV</b></a>
                            </center>
                            <p>
                                 La remuneración mensual integral por puesto, según
                                lo establezcan las disposiciones correspondientes.
                            </p>
                            <center>
                                <a href="?fp=fraccion5&data=<?php echo $_GET['data'];?>">
                                    <div class="cuadro">
                                        <img src="Libreria/img/transparencia/ico_f5.png" class="img-responsive" alt="img" />
                                    </div>
                                    <b>Fracción V</b>
                                </a>
                            </center>
                            <p>
                                Las actas, acuerdos, minutas y demás constancias que
                                contengan las discusiones y decisiones de directivos del sujeto obligado que no tengan
                                el carácter de reservadas.
                            </p>
                            <center>
                                <a href="?fp=fraccion6&data=<?php echo $_GET['data'];?>">
                                    <div class="cuadro">
                                        <img src="Libreria/img/transparencia/ico_f6.png" class="img-responsive" alt="img" />
                                    </div>
                                    <b>Fracción VI</b>
                                </a>
                            </center>
                            <p>
                                Las opiniones, datos y fundamentos finales contenidos
                                en los expedientes administrativos que justifican el otorgamiento de permisos, concesiones
                                o licencias que la ley confiere autorizar a cualquiera de los Sujetos Obligados, así como
                                las contrataciones, licitaciones y los procesos de toda adquisición de bienes o servicios;
                            </p>
                            <center>
                                <a href="?fp=fraccion7&data=<?php echo $_GET['data'];?>">
                                    <div class="cuadro">
                                        <img src="Libreria/img/transparencia/ico_f7.png" class="img-responsive" alt="img" />
                                    </div>
                                    <b>Fracción VII</b>
                                </a>
                            </center>
                            <p>
                                Los manuales de organización y procedimientos, y en
                                general, la base legal que fundamente la actuación de los Sujetos Obligados;
                            </p>
                            <center>
                                <a href="?fp=fraccion8&data=<?php echo $_GET['data'];?>">
                                    <div class="cuadro">
                                        <img src="Libreria/img/transparencia/ico_f8.png" class="img-responsive" alt="img" />
                                    </div>
                                    <b>Fracción VIII</b>
                                </a>
                            </center>
                            <p>
                                La información sobre el presupuesto asignado, así
                                como los informes sobre su ejecución, en los términos que establezcan los presupuestos
                                de egresos de los sujetos obligados;
                            </p>
                            <center>
                                <a href="?fp=fraccion9&data=<?php echo $_GET['data'];?>">
                                    <div class="cuadro">
                                        <img src="Libreria/img/transparencia/ico_f9.jpg" class="img-responsive" alt="img" />
                                    </div>
                                    <b>Fracción IX</b>
                                </a>
                            </center>
                            <p>
                                Los montos, criterios, convocatorias y listado de
                                destinatarios sobre toda entrega de recursos públicos y subsidios, cualquiera que sea su fin;
                                asimismo, cuando la normatividad interna lo establezca, los informes que dichas personas les
                                entreguen sobre el uso y destino de dichos recursos;
                            </p>
                            <center>
                                <a href="?fp=fraccion10&data=<?php echo $_GET['data'];?>">
                                    <div class="cuadro">
                                        <img src="Libreria/img/transparencia/ico_f10.png" class="img-responsive" alt="img" />
                                    </div>
                                    <b>Fracción X</b>
                                </a>
                            </center>
                            <p>
                                Los destinatarios y el uso autorizado de toda entrega de
                                recursos públicos y subsidios, cualquiera que sea su fin;
                            </p>
                            <center>
                                <a href="?fp=fraccion11&data=<?php echo $_GET['data'];?>">
                                    <div class="cuadro">
                                        <img src="Libreria/img/transparencia/ico_f11.png" class="img-responsive" alt="img" />
                                    </div>
                                    <b>Fracción XI</b>
                                </a>
                            </center>
                            <p>
                                Los informes presentados por los partidos políticos ante
                                la autoridad estatal electoral, a partir de su recepción por la autoridad en cuestión.
                                Así como las auditorías y verificaciones que éstas ordenen, los que deberán hacerse públicos
                                al resolver el procedimiento de fiscalización respectiva. Toda persona podrá solicitar, al
                                Instituto Electoral de Michoacán, la información relativa al uso de los recursos públicos que
                                reciban los partidos políticos y las agrupaciones políticas estatales;
                            </p>
                            <center>
                                <a href="?fp=fraccion12&data=<?php echo $_GET['data'];?>">
                                    <div class="cuadro">
                                        <img src="Libreria/img/transparencia/ico_f12.png" class="img-responsive" alt="img" />
                                    </div>
                                    <b>Fracción XII</b>
                                </a>
                            </center>
                            <p>
                                El nombre, domicilio legal y dirección electrónica,
                                en su caso, de los servidores públicos encargados de gestionar y resolver las solicitudes
                                de información pública;
                            </p>
                            <center>
                                <a href="?fp=fraccion13&data=<?php echo $_GET['data'];?>">
                                    <div class="cuadro">
                                        <img src="Libreria/img/transparencia/ico_f13.jpg" class="img-responsive" alt="img" />
                                    </div>
                                    <b>Fracción XIII</b>
                                </a>
                            </center>
                            <p>
                                Las formas de participación ciudadana, contralorías
                                sociales, y demás cuerpos que participen en la toma de decisiones, ejecución y evaluación de
                                acciones por parte de los Sujetos Obligados;
                            </p>
                            <center>
                                <a href="?fp=fraccion14&data=<?php echo $_GET['data'];?>">
                                    <div class="cuadro">
                                        <img src="Libreria/img/transparencia/ico_f14.jpg" class="img-responsive" alt="img" />
                                    </div>
                                    <b>Fracción XIV</b>
                                </a>
                            </center>
                            <p>
                                Las iniciativas que se presenten ante el Congreso del
                                Estado y, en su caso, sus dictámenes;
                            </p>
                            <center>
                                <a href="?fp=fraccion15&data=<?php echo $_GET['data'];?>">
                                    <div class="cuadro">
                                        <img src="Libreria/img/transparencia/ico_f15.png" class="img-responsive" alt="img" />
                                    </div>
                                    <b>Fracción XV</b>
                                </a>
                            </center>
                            <p>
                                Los informes de gestión financiera y cuenta pública;
                            </p>
                            <center>
                                <a href="?fp=fraccion16&data=<?php echo $_GET['data'];?>">
                                    <div class="cuadro">
                                        <img src="Libreria/img/transparencia/ico_f16.jpg" class="img-responsive" alt="img" />
                                    </div>
                                    <b>Fracción XVI</b>
                                </a>
                            </center>
                            <p>
                                Las controversias entre poderes públicos, iniciadas por
                                el Congreso o cualquiera de sus integrantes;
                            </p>
                            <center>
                                <a href="?fp=fraccion17&data=<?php echo $_GET['data'];?>">
                                    <div class="cuadro">
                                        <img src="Libreria/img/transparencia/ico_f17.png" class="img-responsive" alt="img" />
                                    </div>
                                    <b>Fracción XVII</b>
                                </a>
                            </center>
                            <p>
                               El informe anual de actividades;
                            </p>
                            <center>
                                <a href="?fp=fraccion18&data=<?php echo $_GET['data'];?>">
                                    <div class="cuadro">
                                        <img src="Libreria/img/transparencia/ico_f18.jpg" class="img-responsive" alt="img" />
                                    </div>
                                    <b>Fracción XVIII</b>
                                </a>
                            </center>
                            <p>
                                El monto y la aplicación de cualquier fondo auxiliar
                                y fideicomisos que contengan recursos públicos;
                            </p>
                            <center>
                                <a href="?fp=fraccion19&data=<?php echo $_GET['data'];?>">
                                    <div class="cuadro">
                                        <img src="Libreria/img/transparencia/ico_f19.png" class="img-responsive" alt="img" />
                                    </div>
                                    <b>Fracción XIX</b>
                                </a>
                            </center>
                            <p>
                                Las convocatorias a concurso o licitación de obras,
                                adquisiciones, arrendamientos, prestación de servicios, concesiones, permisos y autorizaciones,
                                así como los resultados;
                            </p>
                            <center>
                                <a href="?fp=fraccion20&data=<?php echo $_GET['data'];?>">
                                    <div class="cuadro">
                                        <img src="Libreria/img/transparencia/ico_f20.PNG" class="img-responsive" alt="img" />
                                    </div>
                                    <b>Fracción XX</b>
                                </a>
                            </center>
                            <p>
                                La relativa al presupuesto asignado en lo general y por
                                programas, así como los informes sobre su ejecución. Esta información incluirá:
                            </p>
                            <p>
                                <ul style="padding-left: 30px;">
                                    <ol>
                                        a) Los ingresos recibidos por cualquier concepto, incluidos los donativos,
                                        señalando el nombre de los responsables de recibirlos, administrarlos y
                                        ejercerlos;
                                    </ol><br />
                                    <ol>
                                        b) El presupuesto de egresos y método para su estimación, incluida toda la
                                        información relativa a los tratamientos fiscales diferenciados o preferenciales;
                                    </ol><br />
                                    <ol>
                                        c) Las bases de cálculo de los ingresos;
                                    </ol><br />
                                    <ol>
                                        d) Aplicación de fondos auxiliares o especiales y el origen de los ingresos;
                                    </ol><br />
                                    <ol>
                                        e) Estados financieros y presupuestales, cuando así proceda;
                                    </ol><br />
                                    <ol>
                                        f) Las cantidades recibidas de manera desglosada por concepto de recursos
                                        autogenerados, y en su caso, el uso o aplicación que se les da.
                                    </ol>
                                </ul>
                            </p>
                            <center>
                                <a href="?fp=fraccion21&data=<?php echo $_GET['data'];?>">
                                    <div class="cuadro">
                                        <img src="Libreria/img/transparencia/ico_f21.jpg" class="img-responsive" alt="img" />
                                    </div>
                                    <b>Fracción XXI</b>
                                </a>
                            </center>
                            <p>
                                La información relativa a la contratación o subcontratación
                                fuera de su estructura orgánica, criterios de designación y comisión de funcionarios, costos
                                integrales de viajes, de los funcionarios y servidores públicos y de los que reciban subsidio o
                                subvención;
                            </p>
                            <center>
                                <a href="?fp=fraccion22&data=<?php echo $_GET['data'];?>">
                                    <div class="cuadro">
                                        <img src="Libreria/img/transparencia/ico_f22.jpg" class="img-responsive" alt="img" />
                                    </div>
                                    <b>Fracción XXII</b>
                                </a>
                            </center>
                            <p>
                                Los programas de gobierno destinados a apoyar el desarrollo
                                ecónomico y social deberán difundirse con oportunidad, claridad y sencillez.
                            </p>
                            <center>
                                <a href="?fp=fraccion23&data=<?php echo $_GET['data'];?>">
                                    <div class="cuadro">
                                        <img src="Libreria/img/transparencia/ico_f23.jpg" class="img-responsive" alt="img" />
                                    </div>
                                    <b>Fracción XXIII</b>
                                </a>:
                            </center>
                            <p>
                                Los gastos de comunicación social, donde se señale cuando
                                menos la fecha, monto y partida de la erogación, responsable directo de la autorización de la
                                contratación, denominación del medio de comunicación contratado, descripción del servicio contratado,
                                justificación y relación con alguna función o servicios públicos;
                            </p>
                            <center>
                                <a href="?fp=fraccion24&data=<?php echo $_GET['data'];?>">
                                    <div class="cuadro">
                                        <img src="Libreria/img/transparencia/ico_f24.png" class="img-responsive" alt="img" />
                                    </div>
                                    <b>Fracción XXIV</b>
                                </a>:
                            </center>
                            <p>
                                Los programas operativos anuales o de trabajo de cada uno de
                                los Sujetos Obligados, en el que se refleje de forma desglosada la ejecución del presupuesto
                                asignado por rubros y capítulos, para verificar el monto ejercido de forma parcial y total;
                            </p>
                            <center>
                                <a href="?fp=fraccion25&data=<?php echo $_GET['data'];?>">
                                    <div class="cuadro">
                                        <img src="Libreria/img/transparencia/ico_f25.png" class="img-responsive" alt="img" />
                                    </div>
                                    <b>Fracción XXV</b>
                                </a>
                            </center>
                            <p>
                                El contrato y gasto realizado por concepto de pago de asesorías
                                al Sujeto Obligado, donde se señale nombre de la empresa, institución o individuos, el concepto de
                                cada una de las asesorías, así como el trabajo realizado;
                            </p>
                            <center>
                                <a href="?fp=fraccion26&data=<?php echo $_GET['data'];?>">
                                    <div class="cuadro">
                                        <img src="Libreria/img/transparencia/ico_f26.png" class="img-responsive" alt="img" />
                                    </div>
                                    <b>Fracción XXVI</b>
                                </a>
                            </center>
                            <p>
                                El informe anual de la cuenta pública;
                            </p>
                            <center>
                                <a href="?fp=fraccion27&data=<?php echo $_GET['data'];?>">
                                    <div class="cuadro">
                                        <img src="Libreria/img/transparencia/ico_f27.jpg" class="img-responsive" alt="img" />
                                    </div>
                                    <b>Fracción XXVII</b>
                                </a>
                            </center>
                            <p>
                                La relación del número de recomendaciones emitidas por el
                                Instituto al Sujeto Obligado, así como el seguimiento de las mismas;
                            </p>
                            <center>
                                <a href="?fp=fraccion28&data=<?php echo $_GET['data'];?>">
                                    <div class="cuadro">
                                        <img src="Libreria/img/transparencia/ico_f28.jpg" class="img-responsive" alt="img" />
                                    </div>
                                    <b>Fracción XXVIII</b>
                                </a>
                            </center>
                            <p>
                                La relación del número de recomendaciones emitidas al Sujeto
                                Obligados por órganos protectores de Derechos Humanos, sean gubernamentales o no, nacionales o
                                internacionales;
                            </p>
                            <center>
                                <a href="?fp=fraccion29&data=<?php echo $_GET['data'];?>">
                                    <div class="cuadro">
                                        <img src="Libreria/img/transparencia/ico_f29.PNG" class="img-responsive" alt="img" />
                                    </div>
                                    <b>Fracción XXIX</b>
                                </a>
                            </center>
                            <p>
                                El inventario y las modificaciones de los bienes muebles,
                                inmuebles, incluyendo vehículos automotores, indicando la persona quien tiene el resguardo de los últimos.
                            </p>
                            <center>
                                <a href="?fp=fraccion30&data=<?php echo $_GET['data'];?>">
                                    <div class="cuadro">
                                        <img src="Libreria/img/transparencia/ico_f30.png" class="img-responsive" alt="img" />
                                    </div>
                                    <b>Fracción XXX</b>
                                </a>
                            </center>
                            <p>
                                El estado de la deuda pública del Sujeto Obligado, donde se
                                señale cuando menos responsable de la autorización, fecha de contratación, monto del crédito, tasa
                                de interés, monto total amortizable, plazo de vencimiento, institución crediticia, objeto de aplicación
                                y avance de aplicación de cada deuda contratada.
                            </p>
                        </div>
                        <?PHP }else{?>
                            <h4 style="color: red;"><b>Indicar el periodo que desa consultar, opción Submenú -> Transparencia!!</b></h4>
                        <?php } ?>
                    </div>
                </div>
            </article>
        </div>
        <div class="col-md-3">
            <?php include "Vista/submenu.phtml"; ?>
        </div>
    </div>
</section>
