<section>
    <div id="centro">
        <a href="?fp=principal"><i class="fa fa-fw fa-home"></i>Home</a>
        <img src="Libreria/img/login.png" /><b>Localidades</b>
    </div>
    <hr />
    <div class="row">
        <div class="col-md-9">
            <article>
                <div class="panel panel-default">
					<div class="panel-heading">
                        <h1 style="font-size: xx-large;"><b>Localidades</b></h1>
                    </div>
					<div class="panel-body">
                        <h2><b>San Lucas</b></h2>
                        <h3>Lista de Localidades en el Municipio de San Lucas:</h3>
                        
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                         <th colspan="4">Localidades</th>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td style="text-align: right;">
                                            <span class="badge">1</span>
                                        </td>
                                        <td style="text-align: left;">
                                            Angao (Angao de los Herrera)
                                        </td>
                                        <td style="text-align: right;">
                                            <span class="badge">38</span>
                                        </td>
                                        <td style="text-align: left;">
                                            La Huacana
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="text-align: right;">
                                            <span class="badge">2</span>
                                        </td>
                                        <td style="text-align: left;">
                                            Bonetito (El Puerto)
                                        </td>
                                        <td style="text-align: right;">
                                            <span class="badge">39</span>
                                        </td>
                                        <td style="text-align: left;">
                                            La Huizachera (El Huizachal)
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="text-align: right;">
                                            <span class="badge">3</span>
                                        </td>
                                        <td style="text-align: left;">
                                            Buena Vista
                                        </td>
                                        <td style="text-align: right;">
                                            <span class="badge">40</span>
                                        </td>
                                        <td style="text-align: left;">
                                            La Laja (La Lajita)
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="text-align: right;">
                                            <span class="badge">4</span>
                                        </td>
                                        <td style="text-align: left;">
                                            Cales Ureño
                                        </td>
                                        <td style="text-align: right;">
                                            <span class="badge">41</span>
                                        </td>
                                        <td style="text-align: left;">
                                            La Magueyera (Barrio de las Flores)
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="text-align: right;">
                                            <span class="badge">5</span>
                                        </td>
                                        <td style="text-align: left;">
                                            Capire Manzano (El Manzano)
                                        </td>
                                        <td style="text-align: right;">
                                            <span class="badge">42</span>
                                        </td>
                                        <td style="text-align: left;">
                                            La Quiringucua
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="text-align: right;">
                                            <span class="badge">6</span>
                                        </td>
                                        <td style="text-align: left;">
                                            Capire Verde
                                        </td>
                                        <td style="text-align: right;">
                                            <span class="badge">43</span>
                                        </td>
                                        <td style="text-align: left;">
                                            Las Huitzucatas (El Terrero Blanco)
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="text-align: right;">
                                            <span class="badge">7</span>
                                        </td>
                                        <td style="text-align: left;">
                                            Casa Blanca
                                        </td>
                                        <td style="text-align: right;">
                                            <span class="badge">44</span>
                                        </td>
                                        <td style="text-align: left;">
                                            Las Palmitas
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="text-align: right;">
                                            <span class="badge">8</span>
                                        </td>
                                        <td style="text-align: left;">
                                            Casas Viejas
                                        </td>
                                        <td style="text-align: right;">
                                            <span class="badge">45</span>
                                        </td>
                                        <td style="text-align: left;">
                                           Las Paredes
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="text-align: right;">
                                            <span class="badge">9</span>
                                        </td>
                                        <td style="text-align: left;">
                                            Ceiba Seca
                                        </td>
                                        <td style="text-align: right;">
                                            <span class="badge">46</span>
                                        </td>
                                        <td style="text-align: left;">
                                             Limón de Monte Grande (El Limón)
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="text-align: right;">
                                            <span class="badge">10</span>
                                        </td>
                                        <td style="text-align: left;">
                                            Ceibas Altas    
                                        </td>
                                        <td style="text-align: right;">
                                            <span class="badge">47</span>
                                        </td>
                                        <td style="text-align: left;">
                                            Los Bancos
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="text-align: right;">
                                            <span class="badge">11</span>
                                        </td>
                                        <td style="text-align: left;">
                                            Characharando
                                        </td>
                                        <td style="text-align: right;">
                                            <span class="badge">48</span>
                                        </td>
                                        <td style="text-align: left;">
                                            Los Brasiles
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="text-align: right;">
                                            <span class="badge">12</span>
                                        </td>
                                        <td style="text-align: left;">
                                           Chumbítaro
                                        </td>
                                        <td style="text-align: right;">
                                            <span class="badge">49</span>
                                        </td>
                                        <td style="text-align: left;">
                                            Los Coyotes
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="text-align: right;">
                                            <span class="badge">13</span>
                                        </td>
                                        <td style="text-align: left;">
                                            Corral Viejo
                                        </td>
                                        <td style="text-align: right;">
                                            <span class="badge">50</span>
                                        </td>
                                        <td style="text-align: left;">
                                            Los Limones y Anexos (Los Limones)
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="text-align: right;">
                                            <span class="badge">14</span>
                                        </td>
                                        <td style="text-align: left;">
                                            Cuauhtémoc (Huarichi)
                                        </td>
                                        <td style="text-align: right;">
                                            <span class="badge">51</span>
                                        </td>
                                        <td style="text-align: left;">
                                            Monte Grande
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="text-align: right;">
                                            <span class="badge">15</span>
                                        </td>
                                        <td style="text-align: left;">
                                            El Apartadero
                                        </td>
                                        <td style="text-align: right;">
                                            <span class="badge">52</span>
                                        </td>
                                        <td style="text-align: left;">
                                            Paso de Corupo (Cuizillo)
                                        
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="text-align: right;">
                                            <span class="badge">16</span>
                                        </td>
                                        <td style="text-align: left;">
                                            El Cinco de Copas
                                        </td>
                                        <td style="text-align: right;">
                                            <span class="badge">53</span>
                                        </td>
                                        <td style="text-align: left;">
                                            Paso de las Parotas
                                         
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="text-align: right;">
                                            <span class="badge">17</span>
                                        </td>
                                        <td style="text-align: left;">
                                             El Crucero
                                        </td>
                                        <td style="text-align: right;">
                                            <span class="badge">54</span>
                                        </td>
                                        <td style="text-align: left;">
                                            Pinzán Colorado
                                          
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="text-align: right;">
                                            <span class="badge">18</span>
                                        </td>
                                        <td style="text-align: left;">
                                            
                                       El Cuajilote
                                        </td>
                                        <td style="text-align: right;">
                                            <span class="badge">55</span>
                                        </td>
                                        <td style="text-align: left;">
                                            Plan de las Carreras
                                           
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="text-align: right;">
                                            <span class="badge">19</span>
                                        </td>
                                        <td style="text-align: left;">
                                            
                                        El Cueramo
                                        
                                        </td>
                                        <td style="text-align: right;">
                                            <span class="badge">56</span>
                                        </td>
                                        <td style="text-align: left;">
                                            Querutzeo (Queruseo)
                                            
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="text-align: right;">
                                            <span class="badge">20</span>
                                        </td>
                                        <td style="text-align: left;">
                                             El Cuirindal
                                          
                                        </td>
                                        <td style="text-align: right;">
                                            <span class="badge">57</span>
                                        </td>
                                        <td style="text-align: left;">
                                            Rancho el Charapo
                                             
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="text-align: right;">
                                            <span class="badge">21</span>
                                        </td>
                                        <td style="text-align: left;">
                                            El Guacasúchil
                                          
                                        </td>
                                        <td style="text-align: right;">
                                            <span class="badge">58</span>
                                        </td>
                                        <td style="text-align: left;">
                                            Rincón de San Francisco
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="text-align: right;">
                                            <span class="badge">22</span>
                                        </td>
                                        <td style="text-align: left;">
                                             El Guayabo
                                            
                                        </td>
                                        <td style="text-align: right;">
                                            <span class="badge">59</span>
                                        </td>
                                        <td style="text-align: left;">
                                            Salguero
                                               
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="text-align: right;">
                                            <span class="badge">23</span>
                                        </td>
                                        <td style="text-align: left;">
                                            El Llano
                                            
                                        </td>
                                        <td style="text-align: right;">
                                            <span class="badge">60</span>
                                        </td>
                                        <td style="text-align: left;">
                                            San Jerónimo
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="text-align: right;">
                                            <span class="badge">24</span>
                                        </td>
                                        <td style="text-align: left;">
                                             El Machuque (Plan del Reparo)
                                              
                                        </td>
                                        <td style="text-align: right;">
                                            <span class="badge">61</span>
                                        </td>
                                        <td style="text-align: left;">
                                            San Lucas
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="text-align: right;">
                                            <span class="badge">25</span>
                                        </td>
                                        <td style="text-align: left;">
                                            El Naranjo
                                               
                                        </td>
                                        <td style="text-align: right;">
                                            <span class="badge">62</span>
                                        </td>
                                        <td style="text-align: left;">
                                            San Nicolás
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="text-align: right;">
                                            <span class="badge">26</span>
                                        </td>
                                        <td style="text-align: left;">
                                            El Ojo de Agua de Urerio
                                               
                                        </td>
                                        <td style="text-align: right;">
                                            <span class="badge">63</span>
                                        </td>
                                        <td style="text-align: left;">
                                            San Pedrito
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="text-align: right;">
                                            <span class="badge">27</span>
                                        </td>
                                        <td style="text-align: left;">
                                             El Para
                                                 
                                        </td>
                                        <td style="text-align: right;">
                                            <span class="badge">64</span>
                                        </td>
                                        <td style="text-align: left;">
                                            San Pedro el Grande (San Pedro)
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="text-align: right;">
                                            <span class="badge">28</span>
                                        </td>
                                        <td style="text-align: left;">
                                            El Tamarindo
                                                
                                        </td>
                                        <td style="text-align: right;">
                                            <span class="badge">65</span>
                                        </td>
                                        <td style="text-align: left;">
                                            Santa Cruz de Villa Gómez
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="text-align: right;">
                                            <span class="badge">29</span>
                                        </td>
                                        <td style="text-align: left;">
                                            El Tule 
                                        </td>
                                        <td style="text-align: right;">
                                            <span class="badge">66</span>
                                        </td>
                                        <td style="text-align: left;">
                                            Tacupa      
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="text-align: right;">
                                            <span class="badge">30</span>
                                        </td>
                                        <td style="text-align: left;">
                                            El Voladero    
                                        </td>
                                        <td style="text-align: right;">
                                            <span class="badge">67</span>
                                        </td>
                                        <td style="text-align: left;">
                                            Tejería
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="text-align: right;">
                                            <span class="badge">31</span>
                                        </td>
                                        <td style="text-align: left;">
                                            
                                            Finca las Bertitas    
                                        </td>
                                        <td style="text-align: right;">
                                            <span class="badge">68</span>
                                        </td>
                                        <td style="text-align: left;">
                                            Terrero Prieto
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="text-align: right;">
                                            <span class="badge">32</span>
                                        </td>
                                        <td style="text-align: left;">
                                            La Angostura del Canje (La Angostura)              
                                        </td>
                                        <td style="text-align: right;">
                                            <span class="badge">69</span>
                                        </td>
                                        <td style="text-align: left;">
                                            Terrero Salado
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="text-align: right;">
                                            <span class="badge">33</span>
                                        </td>
                                        <td style="text-align: left;">
                                            La Chica
                                        </td>
                                        <td style="text-align: right;">
                                            <span class="badge">70</span>
                                        </td>
                                        <td style="text-align: left;">
                                            Tirinchicuas
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="text-align: right;">
                                            <span class="badge">34</span>
                                        </td>
                                        <td style="text-align: left;">
                                            La Estancia         
                                        </td>
                                        <td style="text-align: right;">
                                            <span class="badge">71</span>
                                        </td>
                                        <td style="text-align: left;">
                                            Tiringueo de Abajo
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="text-align: right;">
                                            <span class="badge">35</span>
                                        </td>
                                        <td style="text-align: left;">
                                            La Garra
                                        </td>
                                        <td style="text-align: right;">
                                            <span class="badge">72</span>
                                        </td>
                                        <td style="text-align: left;">
                                            Tiringueo de Arriba
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="text-align: right;">
                                            <span class="badge">36</span>
                                        </td>
                                        <td style="text-align: left;">
                                            La Hacienda
                                        </td>
                                        <td style="text-align: right;">
                                            <span class="badge">73</span>
                                        </td>
                                        <td style="text-align: left;">
                                            Urerio
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="text-align: right;">
                                            <span class="badge">37</span>
                                        </td>
                                        <td style="text-align: left;">
                                            La Herradura (La Ciénega)
                                        </td>
                                        <td style="text-align: right;">
                                            <span class="badge">74</span>
                                        </td>
                                        <td style="text-align: left;">
                                            Vicente Riva Palacio (Riva Palacio)
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
				</div>  
            </article>
        </div>
        <div class="col-md-3">
            <aside>
                <?php include "Vista/submenu.phtml"; ?>
            </aside>
        </div>   
    </div>
</section>