<section>
    <div id="centro">
        <a href="?fp=principal"><i class="fa fa-fw fa-home"></i>Home</a>
        <img src="Libreria/img/login.png" /><b>Datos Greograficos</b>
    </div>
    <hr />
    <div class="row">
        <div class="col-md-9">
            <article>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h1 style="font-size: xx-large;"><b>Datos Geograficos</b></h1>
                    </div>
                    <div class="panel-body">
                        <iframe src="Libreria\pdf\datos\datos_geograficos.pdf" 
                        style="width: 100%; height: 400px;" frameborder="0"></iframe>
                    </div>
                </div>
            </article>
        </div>
        <div class="col-md-3">
            <aside>
                <?php include "Vista/submenu.phtml"; ?>
            </aside>
        </div>
    </div>
</section>