<section>
    <div class="row">
        <div class="col-md-9">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h1 style="font-size: xx-large;"><b>Eventos Realizados el Mes de Octubre 2017</b></h1>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            <article>
                                <div class="panel panel-success">
                                    <div class="panel-heading">
                                        <b style="font-size: 20px;">Campaña de regularización de Documentos Personales .:. H. Ayuntamiento de San Lucas, Mich.</b>
                                    </div>
                                    <time datetime="2017-10-02" style="color:grey;text-align:justify;">
                                        publicado el lunes, 2 de octubre de 2017.
                                    </time>
                                    <div class="panel-body">
                                        <div class="row">
                                        <p style="padding:20px; text-align:justify; font-size: 20px;">
                                            <b>
                                                Gobierno del Estado de manera coordinada realiza a través de Secretaria de Gobierno, Dirección Estatal de Registro Civil y Ayuntamiento Municipal de San Lucas, "Campaña de regularización del Estado Civil de las personas y aclaración de actas", donde participan las oficialías de los Registro Civil de Huetamo, Purechucho, Turitzio, Santiago Conguripo, San Jerónimo, San Lucas, Riva Palacio y Santa Cruz de Villagómez, atendiendo un universo de 221 acciones en: 184 Aclaraciones de Actas, 13 registros extemporáneos y 24 Matrimonios.
                                            </b>
                                        </p>  
                                        <div class="col-lg-3">
                                            <figure>
                                                <a href="Libreria/img/2017/oct/registro_civil/img1.jpg" target="_blank">
                                                    <img src="Libreria/img/2017/oct/registro_civil/img1.jpg" class="thumbnail img-responsive" alt="img" />
                                                </a>
                                            </figure>
                                        </div>
                                        <div class="col-lg-3">
                                            <figure>
                                                <a href="Libreria/img/2017/oct/registro_civil/img2.jpg" target="_blank">
                                                    <img src="Libreria/img/2017/oct/registro_civil/img2.jpg" class="thumbnail img-responsive" alt="img" />
                                                </a>
                                            </figure>
                                        </div>
                                        <div class="col-lg-3">
                                            <figure>
                                                <a href="Libreria/img/2017/oct/registro_civil/img3.jpg" target="_blank">
                                                    <img src="Libreria/img/2017/oct/registro_civil/img3.jpg" class="thumbnail img-responsive" alt="img" />
                                                </a>
                                            </figure>
                                        </div>
                                        <div class="col-lg-3">
                                            <figure>
                                                <a href="Libreria/img/2017/oct/registro_civil/img4.jpg" target="_blank">
                                                    <img src="Libreria/img/2017/oct/registro_civil/img4.jpg" class="thumbnail img-responsive" alt="img" />
                                                </a>
                                            </figure>
                                        </div>
                                    </div>
                                    </div>
                                </div>
                            </article>
                            <article>
                                <div class="panel panel-success">
                                    <div class="panel-heading">
                                        <b style="font-size: 20px;">Rifas de Sillas de Montar a Caballo .:. H. Ayuntamiento de San Lucas, Mich.</b>
                                    </div>
                                    <time datetime="2017-10-02" style="color:grey;text-align:justify;">
                                        publicado el lunes, 2 de octubre de 2017.
                                    </time>
                                    <div class="panel-body">
                                        <div class="row">
                                        <p style="padding:20px; text-align:justify; font-size: 20px;">
                                            <b>
                                                En el marco conmemorativo de las Fiestas Patrias, previo al desfile tradicional del 252 Aniversario de natalicio del siervo de la nación, el presidente municipal C. Arturo Torres Aguirre llevó a cabo rifas de sillas de montar, espuelas y demás implementos, para los miembros de la Asociación Civil Los amigos del caballo. La que lucirán en cabalgata como parte del mismo desfile.
                                            </b>
                                        </p>  
                                        <div class="col-lg-3">
                                            <figure>
                                                <a href="Libreria/img/2017/oct/sillasdecaballeria/img1.jpg" target="_blank">
                                                    <img src="Libreria/img/2017/oct/sillasdecaballeria/img1.jpg" class="thumbnail img-responsive" alt="img" />
                                                </a>
                                            </figure>
                                        </div>
                                        <div class="col-lg-3">
                                            <figure>
                                                <a href="Libreria/img/2017/oct/sillasdecaballeria/img2.jpg" target="_blank">
                                                    <img src="Libreria/img/2017/oct/sillasdecaballeria/img2.jpg" class="thumbnail img-responsive" alt="img" />
                                                </a>
                                            </figure>
                                        </div>
                                        <div class="col-lg-3">
                                            <figure>
                                                <a href="Libreria/img/2017/oct/sillasdecaballeria/img3.jpg" target="_blank">
                                                    <img src="Libreria/img/2017/oct/sillasdecaballeria/img3.jpg" class="thumbnail img-responsive" alt="img" />
                                                </a>
                                            </figure>
                                        </div>
                                        <div class="col-lg-3">
                                            <figure>
                                                <a href="Libreria/img/2017/oct/sillasdecaballeria/img4.jpg" target="_blank">
                                                    <img src="Libreria/img/2017/oct/sillasdecaballeria/img4.jpg" class="thumbnail img-responsive" alt="img" />
                                                </a>
                                            </figure>
                                        </div>
                                    </div>
                                    </div>
                                </div>
                            </article>
                            <article>
                                <div class="panel panel-success">
                                    <div class="panel-heading">
                                        <b style="font-size: 20px;">Desfile de Aniversario de Natalicio del Siervo de la Nación .:. H. Ayuntamiento de San Lucas, Mich.</b>
                                    </div>
                                    <time datetime="2017-10-02" style="color:grey;text-align:justify;">
                                        publicado el lunes, 2 de octubre de 2017.
                                    </time>
                                    <div class="panel-body">
                                    <div class="row">
                                        <p style="padding:20px; text-align:justify; font-size: 20px;">
                                            <b>
                                                Con la participación de 32 instituciones educativas del municipio, un total de 2704 alumnos, se realizó magno desfile de 252 aniversario de natalicio del siervo de la nación, este 30 de septiembre por la tarde en la cabecera municipal de San Lucas. Como un refrendo y gratitud a la gestión que encabeza el C. Arturo Torres Aguirre presidente municipal, por ser el sector educativo la prioridad de atención y de inversión en la educación como política 2017/oct de su gobierno.
                                            </b>
                                        </p>  
                                        <div class="col-lg-4">
                                            <figure>
                                                <a href="Libreria/img/2017/oct/desfile/img1.jpg" target="_blank">
                                                    <img src="Libreria/img/2017/oct/desfile/img1.jpg" class="thumbnail img-responsive" alt="img" />
                                                </a>
                                            </figure>
                                        </div>
                                        <div class="col-lg-4">
                                            <figure>
                                                <a href="Libreria/img/2017/oct/desfile/img2.jpg" target="_blank">
                                                    <img src="Libreria/img/2017/oct/desfile/img2.jpg" class="thumbnail img-responsive" alt="img" />
                                                </a>
                                            </figure>
                                        </div>
                                        <div class="col-lg-4">
                                            <figure>
                                                <a href="Libreria/img/2017/oct/desfile/img3.jpg" target="_blank">
                                                    <img src="Libreria/img/2017/oct/desfile/img3.jpg" class="thumbnail img-responsive" alt="img" />
                                                </a>
                                            </figure>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-4">
                                            <figure>
                                                <a href="Libreria/img/2017/oct/desfile/img4.jpg" target="_blank">
                                                    <img src="Libreria/img/2017/oct/desfile/img4.jpg" class="thumbnail img-responsive" alt="img" />
                                                </a>
                                            </figure>
                                        </div>
                                        <div class="col-lg-4">
                                            <figure>
                                                <a href="Libreria/img/2017/oct/desfile/img5.jpg" target="_blank">
                                                    <img src="Libreria/img/2017/oct/desfile/img5.jpg" class="thumbnail img-responsive" alt="img" />
                                                </a>
                                            </figure>
                                        </div>
                                        <div class="col-lg-4">
                                            <figure>
                                                <a href="Libreria/img/2017/oct/desfile/img6.jpg" target="_blank">
                                                    <img src="Libreria/img/2017/oct/desfile/img6.jpg" class="thumbnail img-responsive" alt="img" />
                                                </a>
                                            </figure>
                                        </div>
                                    </div>
                                    </div>
                                </div>
                            </article>
                            <article>
                                <div class="panel panel-success">
                                    <div class="panel-heading">
                                        <b style="font-size: 20px;">Construcción de Obra en Localidad de Corral Viejo .:. H. Ayuntamiento de San Lucas, Mich.</b>
                                    </div>
                                    <time datetime="2017-10-05" style="color:grey;text-align:justify;">
                                        publicado el jueves, 5 de octubre de 2017.
                                    </time>
                                    <div class="panel-body">
                                    <div class="row">
                                        <p style="padding:20px; text-align:justify; font-size: 20px;">
                                            <b>
                                                El día miércoles, 4 de octubre de 2017., El presidente municipal de San Lucas, Mich. El C. Arturo Torres Aguirre, junto con Regidores, Sindico, Secretario, Directores y Vecinos de la localidad, se dió banderazo de arranque de Obra: Construcción de puente peatonal a base de estructura metálica en comunidad de Corral Viejo.
                                            </b>
                                        </p>  
                                        <div class="col-lg-4">
                                            <figure>
                                                <a href="Libreria/img/2017/oct/estructura/img1.jpg" target="_blank">
                                                    <img src="Libreria/img/2017/oct/estructura/img1.jpg" class="thumbnail img-responsive" alt="img" />
                                                </a>
                                            </figure>
                                        </div>
                                        <div class="col-lg-4">
                                            <figure>
                                                <a href="Libreria/img/2017/oct/estructura/img2.jpg" target="_blank">
                                                    <img src="Libreria/img/2017/oct/estructura/img2.jpg" class="thumbnail img-responsive" alt="img" />
                                                </a>
                                            </figure>
                                        </div>
                                        <div class="col-lg-4">
                                            <figure>
                                                <a href="Libreria/img/2017/oct/estructura/img3.jpg" target="_blank">
                                                    <img src="Libreria/img/2017/oct/estructura/img3.jpg" class="thumbnail img-responsive" alt="img" />
                                                </a>
                                            </figure>
                                        </div>
                                    </div>
                                    </div>
                                </div>
                            </article>
                            <article>
                                <div class="panel panel-success">
                                    <div class="panel-heading">
                                        <b style="font-size: 20px;">Jornada de Salud Bucal en Salguero .:. H. Ayuntamiento de San Lucas, Mich.</b>
                                    </div>
                                    <time datetime="2017-10-12" style="color:grey;text-align:justify;">
                                        publicado el jueves, 12 de octubre de 2017.
                                    </time>
                                    <div class="panel-body">
                                    <div class="row">
                                        <p style="padding:20px; text-align:justify; font-size: 20px;">
                                            <b>
                                                En localidad de Salguero se reunieron el Dr. Jexzael Sánchez Martinez, Director de Educación y Salud de H. Ayuntamiento de San Lucas, con objeto de organizar una jornada de salud bucal en dicha comunidad, acordándose lo siguiente: Se realizara el lunes 23 de Octubre a las 9:00 a.m. acudiendo a escuela primaria y kinder de esta localidad, para instruir sobre técnica de cepillado y aplicación de flour y cepillos dentales.
                                                A las 11:00 a.m. se realizara en casas de salud de Salguero el diagnóstico,tratamiento o referencia
                                                en caso de alguna patología dental.Dicha jornada estará dirigida a la población en
                                                general,diabéticos,hipertensos y embarazadas.
                                            </b>
                                        </p>  
                                        <div class="col-lg-2"></div>
                                        <div class="col-lg-8">
                                            <figure>
                                                <a href="Libreria/img/2017/oct/salud/img1.jpg" target="_blank">
                                                    <img src="Libreria/img/2017/oct/salud/img1.jpg" class="thumbnail img-responsive" alt="img" />
                                                </a>
                                            </figure>
                                        </div>
                                        <div class="col-lg-2"></div>
                                    </div>
                                    </div>
                                </div>
                            </article>
                            <article>
                                <div class="panel panel-success">
                                    <div class="panel-heading">
                                        <b style="font-size: 20px;">Reunión de Acuerdos de la Delegación de Diconsa .:. H. Ayuntamiento de San Lucas, Mich.</b>
                                    </div>
                                    <time datetime="2017-10-12" style="color:grey;text-align:justify;">
                                        publicado el jueves, 12 de octubre de 2017.
                                    </time>
                                    <div class="panel-body">
                                    <div class="row">
                                        <p style="padding:20px; text-align:justify; font-size: 20px;">
                                            <b>
                                                Se lleva a cabo reunión inconstitucional entre gobierno municipal a través del presidente C. Arturo Torres Aguirre y la delegación de Diconsa representada por Francisco Javier Espinoza Mujica delegado de Diconsa, a fin de crear las condiciones para el mejoramiento de la alimentación de las familias más vulnerables. En el marco de la reunión el propio delegado autoriza al municipio la instalación de 4 tiendas mas, en las localidades de Santa Cruz de Villagómez, Ceiba Seca, La Lajita,Tacupa y Cuauhtemoc. Entre otros acuerdos esta también la implementación de tiendas móviles en localidades donde no exista el programa.
                                            </b>
                                        </p>  
                                        <div class="col-lg-4">
                                            <figure>
                                                <a href="Libreria/img/2017/oct/diconsa/img1.jpg" target="_blank">
                                                    <img src="Libreria/img/2017/oct/diconsa/img1.jpg" class="thumbnail img-responsive" alt="img" />
                                                </a>
                                            </figure>
                                        </div>
                                        <div class="col-lg-4">
                                            <figure>
                                                <a href="Libreria/img/2017/oct/diconsa/img2.jpg" target="_blank">
                                                    <img src="Libreria/img/2017/oct/diconsa/img2.jpg" class="thumbnail img-responsive" alt="img" />
                                                </a>
                                            </figure>
                                        </div>
                                        <div class="col-lg-4">
                                            <figure>
                                                <a href="Libreria/img/2017/oct/diconsa/img3.jpg" target="_blank">
                                                    <img src="Libreria/img/2017/oct/diconsa/img3.jpg" class="thumbnail img-responsive" alt="img" />
                                                </a>
                                            </figure>
                                        </div>
                                    </div>
                                    </div>
                                </div>
                            </article>
                            <article>
                                <div class="panel panel-success">
                                    <div class="panel-heading">
                                        <b style="font-size: 20px;">Mejorar el Método de Aprendizaje .:. H. Ayuntamiento de San Lucas, Mich.</b>
                                    </div>
                                    <time datetime="2017-10-18" style="color:grey;text-align:justify;">
                                        publicado el miércoles, 18 de octubre de 2017.
                                    </time>
                                    <div class="panel-body">
                                    <div class="row">
                                        <p style="padding:20px; text-align:justify; font-size: 20px;">
                                            <b>
                                                A fin de crear condiciones para mejorar el proceso de aprendizaje del estudiante, y en respuesta a la petición de la comunidad el C. Arturo Torres Aguirre a través del Departamento de Educación y Salud instaló internet en la localidad de San Nicolas, en la Escuela Primaria Adolfo Lopez Mateos. 
                                            </b>
                                        </p>  
                                        <div class="col-lg-6">
                                            <figure>
                                                <a href="Libreria/img/2017/oct/internet/img1.jpg" target="_blank">
                                                    <img src="Libreria/img/2017/oct/internet/img1.jpg" class="thumbnail img-responsive" alt="img" />
                                                </a>
                                            </figure>
                                        </div>
                                        <div class="col-lg-6">
                                            <figure>
                                                <a href="Libreria/img/2017/oct/internet/img2.jpg" target="_blank">
                                                    <img src="Libreria/img/2017/oct/internet/img2.jpg" class="thumbnail img-responsive" alt="img" />
                                                </a>
                                            </figure>
                                        </div>
                                    </div>
                                    </div>
                                </div>
                            </article>
                            <article>
                                <div class="panel panel-success">
                                    <div class="panel-heading">
                                        <b style="font-size: 20px;">Aniversario Luctuoso de Lazaro Cárdenas .:. H. Ayuntamiento de San Lucas, Mich.</b>
                                    </div>
                                    <time datetime="2017-10-24" style="color:grey;text-align:justify;">
                                        publicado el martes, 24 de octubre de 2017.
                                    </time>
                                    <div class="panel-body">
                                    <div class="row">
                                        <p style="padding:20px; text-align:justify; font-size: 20px;">
                                            <b>
                                                Participación de Gobierno Municipal en Acto Cívico, en conmemorando 47 Aniversario Luctuoso de Gral. Lazaro Cárdenas del Rio.
                                            </b>
                                        </p>  
                                        <div class="col-lg-4">
                                            <figure>
                                                <a href="Libreria/img/2017/oct/conmemorando/img1.jpg" target="_blank">
                                                    <img src="Libreria/img/2017/oct/conmemorando/img1.jpg" class="thumbnail img-responsive" alt="img" />
                                                </a>
                                            </figure>
                                        </div>
                                        <div class="col-lg-4">
                                            <figure>
                                                <a href="Libreria/img/2017/oct/conmemorando/img2.jpg" target="_blank">
                                                    <img src="Libreria/img/2017/oct/conmemorando/img2.jpg" class="thumbnail img-responsive" alt="img" />
                                                </a>
                                            </figure>
                                        </div>
                                        <div class="col-lg-4">
                                            <figure>
                                                <a href="Libreria/img/2017/oct/conmemorando/img3.jpg" target="_blank">
                                                    <img src="Libreria/img/2017/oct/conmemorando/img3.jpg" class="thumbnail img-responsive" alt="img" />
                                                </a>
                                            </figure>
                                        </div>
                                    </div>
                                    </div>
                                </div>
                            </article>
                            <article>
                                <div class="panel panel-success">
                                    <div class="panel-heading">
                                        <b style="font-size: 20px;">57° Aniversario de Zona 070 de la cabecera municipal .:. H. Ayuntamiento de San Lucas, Mich.</b>
                                    </div>
                                    <time datetime="2017-10-24" style="color:grey;text-align:justify;">
                                        publicado el martes, 24 de octubre de 2017.
                                    </time>
                                    <div class="panel-body">
                                    <div class="row">
                                        <p style="padding:20px; text-align:justify; font-size: 20px;">
                                            <b>
                                                En 57 Aniversario de Zona 070 de la cabecera municipal de Sa Lucas, estuvieron presentes el C. Arturo Torres Aguirre presidente municipal del mismo San Lucas y el Lic. Octavio Ocampo Cordova presidente municipal de Tuzantla, así como las autoridades educativas de supervisiones y sectoriales de la región de Tierra Caliente.   
                                            </b>
                                        </p>  
                                        <div class="col-lg-3">
                                            <figure>
                                                <a href="Libreria/img/2017/oct/57_aniversario/img1.jpg" target="_blank">
                                                    <img src="Libreria/img/2017/oct/57_aniversario/img1.jpg" class="thumbnail img-responsive" alt="img" />
                                                </a>
                                            </figure>
                                        </div>
                                        <div class="col-lg-3">
                                            <figure>
                                                <a href="Libreria/img/2017/oct/57_aniversario/img2.jpg" target="_blank">
                                                    <img src="Libreria/img/2017/oct/57_aniversario/img2.jpg" class="thumbnail img-responsive" alt="img" />
                                                </a>
                                            </figure>
                                        </div>
                                        <div class="col-lg-3">
                                            <figure>
                                                <a href="Libreria/img/2017/oct/57_aniversario/img3.jpg" target="_blank">
                                                    <img src="Libreria/img/2017/oct/57_aniversario/img3.jpg" class="thumbnail img-responsive" alt="img" />
                                                </a>
                                            </figure>
                                        </div>
                                        <div class="col-lg-3">
                                            <figure>
                                                <a href="Libreria/img/2017/oct/57_aniversario/img4.jpg" target="_blank">
                                                    <img src="Libreria/img/2017/oct/57_aniversario/img4.jpg" class="thumbnail img-responsive" alt="img" />
                                                </a>
                                            </figure>
                                        </div>
                                    </div>
                                    </div>
                                </div>
                            </article>
                            <article>
                                <div class="panel panel-success">
                                    <div class="panel-heading">
                                        <b style="font-size: 20px;">Inicio de Jornada de Salud Bucal .:. H. Ayuntamiento de San Lucas, Mich.</b>
                                    </div>
                                    <time datetime="2017-10-24" style="color:grey;text-align:justify;">
                                        publicado el martes, 24 de octubre de 2017.
                                    </time>
                                    <div class="panel-body">
                                    <div class="row">
                                        <p style="padding:20px; text-align:justify; font-size: 20px;">
                                            <b>
                                                En presencia de alumnos y maestros de primaria de la localidad de salguero, el C. Arturo Torres Aguirre, Presidente Municipal de San Lucas, Regidores Director de Educación Salud y Doctor Jexzael Sanchez Martinez, dieron inicio a jornada de Salud Bucal. 
                                            </b>
                                        </p>  
                                        <div class="col-lg-3">
                                            <figure>
                                                <a href="Libreria/img/2017/oct/salud_bucal/img1.jpg" target="_blank">
                                                    <img src="Libreria/img/2017/oct/salud_bucal/img1.jpg" class="thumbnail img-responsive" alt="img" />
                                                </a>
                                            </figure>
                                        </div>
                                        <div class="col-lg-6">
                                            <figure>
                                                <a href="Libreria/img/2017/oct/salud_bucal/img2.jpg" target="_blank">
                                                    <img src="Libreria/img/2017/oct/salud_bucal/img2.jpg" class="thumbnail img-responsive" alt="img" />
                                                </a>
                                            </figure>
                                        </div>
                                        <div class="col-lg-3">
                                            <figure>
                                                <a href="Libreria/img/2017/oct/salud_bucal/img3.jpg" target="_blank">
                                                    <img src="Libreria/img/2017/oct/salud_bucal/img3.jpg" class="thumbnail img-responsive" alt="img" />
                                                </a>
                                            </figure>
                                        </div>
                                    </div>
                                    </div>
                                </div>
                            </article>
                            <article>
                                <div class="panel panel-success">
                                    <div class="panel-heading">
                                        <b style="font-size: 20px;">Acuerdo Realizado con Encargado y Habitantes .:. H. Ayuntamiento de San Lucas, Mich.</b>
                                    </div>
                                    <time datetime="2017-10-24" style="color:grey;text-align:justify;">
                                        publicado el martes, 24 de octubre de 2017.
                                    </time>
                                    <div class="panel-body">
                                    <div class="row">
                                        <p style="padding:20px; text-align:justify; font-size: 20px;">
                                            <b>
                                                El C. Arturo Torres Aguirre presidente municipal de San Lucas realiza acuerdo con encargado y habitantes de la localidad para rehabilitar y pavimentar en su caso algunas calles de la comunidad de Santa Cruz de Villagomez.
                                            </b>
                                        </p>  
                                        <div class="col-lg-6">
                                            <figure>
                                                <a href="Libreria/img/2017/oct/acuerdo/img1.jpg" target="_blank">
                                                    <img src="Libreria/img/2017/oct/acuerdo/img1.jpg" class="thumbnail img-responsive" alt="img" />
                                                </a>
                                            </figure>
                                        </div>
                                        <div class="col-lg-6">
                                            <figure>
                                                <a href="Libreria/img/2017/oct/acuerdo/img2.jpg" target="_blank">
                                                    <img src="Libreria/img/2017/oct/acuerdo/img2.jpg" class="thumbnail img-responsive" alt="img" />
                                                </a>
                                            </figure>
                                        </div>
                                    </div>
                                    </div>
                                </div>
                            </article>
                            <article>
                                <div class="panel panel-success">
                                    <div class="panel-heading">
                                        <b style="font-size: 20px;">Banderazo de Arranque en la Comunidad El Cuajilote .:. H. Ayuntamiento de San Lucas, Mich.</b>
                                    </div>
                                    <time datetime="2017-10-26" style="color:grey;text-align:justify;">
                                        publicado el jueves, 26 de octubre de 2017.
                                    </time>
                                    <div class="panel-body">
                                    <div class="row">
                                        <p style="padding:20px; text-align:justify; font-size: 20px;">
                                            <b>
                                                El día lunes, 23 de octubre de 2017, A mes y medio de haber dado el banderazo para la construcción de la calle 2017/oct en comunidad El Cuajilote, el C. Arturo Torres Aguirre acompañado de su cabildo el día 23 de Octubre, dio el corte de listón inaugural de la misma calle en el marco conmemorativo tradicional de la fiesta del pueblo del día de San Rafael. 
                                                Obra que fue bien recibida por todos los habitantes de la comunidad y pueblos circunvecinos toda vez que es el espacio donde llevan a cabo eventos tradicionales.Hecho que motivó a dar un mensaje de gratitud por parte de C. Alejandre Perez Avellaneda encargada del orden de la propia comunidad.
                                            </b>
                                        </p>  
                                        <div class="col-lg-4">
                                            <figure>
                                                <a href="Libreria/img/2017/oct/Cuajilote/img1.jpg" target="_blank">
                                                    <img src="Libreria/img/2017/oct/cuajilote/img1.jpg" class="thumbnail img-responsive" alt="img" />
                                                </a>
                                            </figure>
                                        </div>
                                        <div class="col-lg-4">
                                            <figure>
                                                <a href="Libreria/img/2017/oct/cuajilote/img2.jpg" target="_blank">
                                                    <img src="Libreria/img/2017/oct/cuajilote/img2.jpg" class="thumbnail img-responsive" alt="img" />
                                                </a>
                                            </figure>
                                        </div>
                                        <div class="col-lg-4">
                                            <figure>
                                                <a href="Libreria/img/2017/oct/cuajilote/img3.jpg" target="_blank">
                                                    <img src="Libreria/img/2017/oct/cuajilote/img3.jpg" class="thumbnail img-responsive" alt="img" />
                                                </a>
                                            </figure>
                                        </div>
                                    </div>
                                    </div>
                                </div>
                            </article>
                            <article>
                                <div class="panel panel-success">
                                    <div class="panel-heading">
                                        <b style="font-size: 20px;">Recoorrido de Cabalgata Morelos .:. H. Ayuntamiento de San Lucas, Mich.</b>
                                    </div>
                                    <time datetime="2017-10-26" style="color:grey;text-align:justify;">
                                        publicado el jueves, 26 de octubre de 2017.
                                    </time>
                                    <div class="panel-body">
                                    <div class="row">
                                        <p style="padding:20px; text-align:justify; font-size: 20px;">
                                            <b>
                                                El día miércoles, 25 de octubre de 2017, El C. Arturo Torres Aguirre, acompaña al acto de la vigésima tercera Cabalgata Morelos. Al llegar a las Trincheras se incorpora por primera ocasión el municipio de San Lucas con un contingente de hombres a caballo encabezando el alcalde Arturo Torres.
                                                La meta recorrida se llevó acabo de Uspio y Finalizan en Huetamo, Mich.
                                            </b>
                                        </p>  
                                        <div class="col-lg-4">
                                            <figure>
                                                <a href="Libreria/img/2017/oct/cabalgata_morelos/img1.jpg" target="_blank">
                                                    <img src="Libreria/img/2017/oct/cabalgata_morelos/img1.jpg" class="thumbnail img-responsive" alt="img" />
                                                </a>
                                            </figure>
                                        </div>
                                        <div class="col-lg-4">
                                            <figure>
                                                <a href="Libreria/img/2017/oct/cabalgata_morelos/img2.jpg" target="_blank">
                                                    <img src="Libreria/img/2017/oct/cabalgata_morelos/img2.jpg" class="thumbnail img-responsive" alt="img" />
                                                </a>
                                            </figure>
                                        </div>
                                        <div class="col-lg-4">
                                            <figure>
                                                <a href="Libreria/img/2017/oct/cabalgata_morelos/img3.jpg" target="_blank">
                                                    <img src="Libreria/img/2017/oct/cabalgata_morelos/img3.jpg" class="thumbnail img-responsive" alt="img" />
                                                </a>
                                            </figure>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-4">
                                            <figure>
                                                <a href="Libreria/img/2017/oct/cabalgata_morelos/img4.jpg" target="_blank">
                                                    <img src="Libreria/img/2017/oct/cabalgata_morelos/img4.jpg" class="thumbnail img-responsive" alt="img" />
                                                </a>
                                            </figure>
                                        </div>
                                        <div class="col-lg-4">
                                            <figure>
                                                <a href="Libreria/img/2017/oct/cabalgata_morelos/img5.jpg" target="_blank">
                                                    <img src="Libreria/img/2017/oct/cabalgata_morelos/img5.jpg" class="thumbnail img-responsive" alt="img" />
                                                </a>
                                            </figure>
                                        </div>
                                        <div class="col-lg-4">
                                            <figure>
                                                <a href="Libreria/img/2017/oct/cabalgata_morelos/img6.jpg" target="_blank">
                                                    <img src="Libreria/img/2017/oct/cabalgata_morelos/img6.jpg" class="thumbnail img-responsive" alt="img" />
                                                </a>
                                            </figure>
                                        </div>
                                    </div>
                                    </div>
                                </div>
                            </article>
                            <article>
                                <div class="panel panel-success">
                                    <div class="panel-heading">
                                        <b style="font-size: 20px;">Rehabilitación Carretera Santa Cruz - La Chica .:. H. Ayuntamiento de San Lucas, Mich.</b>
                                    </div>
                                    <time datetime="2017-10-30" style="color:grey;text-align:justify;">
                                        publicado el lunes, 30 de octubre de 2017.
                                    </time>
                                    <div class="panel-body">
                                    <div class="row">
                                        <p style="padding:20px; text-align:justify; font-size: 20px;">
                                            <b>
                                                Con el propósito de apoyar a la comunidad de la Chica, el presidente municipal de San Lucas C. Arturo Torres Aguirre, se reúne con encargada Maribel Orozco Hilario y habitantes de dicha localidad, para hacer compromiso, en la rehabilitación de carretera Santa Cruz - La Chica.
                                            </b>
                                        </p>  
                                        <div class="col-lg-4">
                                            <figure>
                                                <a href="Libreria/img/2017/oct/la_chica/img1.jpg" target="_blank">
                                                    <img src="Libreria/img/2017/oct/la_chica/img1.jpg" class="thumbnail img-responsive" alt="img" />
                                                </a>
                                            </figure>
                                        </div>
                                        <div class="col-lg-4">
                                            <figure>
                                                <a href="Libreria/img/2017/oct/la_chica/img2.jpg" target="_blank">
                                                    <img src="Libreria/img/2017/oct/la_chica/img2.jpg" class="thumbnail img-responsive" alt="img" />
                                                </a>
                                            </figure>
                                        </div>
                                        <div class="col-lg-4">
                                            <figure>
                                                <a href="Libreria/img/2017/oct/la_chica/img3.jpg" target="_blank">
                                                    <img src="Libreria/img/2017/oct/la_chica/img3.jpg" class="thumbnail img-responsive" alt="img" />
                                                </a>
                                            </figure>
                                        </div>
                                    </div>
                                    </div>
                                </div>
                            </article>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3"><!-- Barra lateral -->
            <aside>
                <?php 
                    include "Vista/main.phtml";
                    include "Vista/submenu.phtml";
                ?>
            </aside>
        </div><!-- end BL -->
    </div>
</section>
