    <p>Resultados Optenidos</p>
<script>
  (function() {
    var cx = '002874997446460536764:wqfohen7qgc';
    var gcse = document.createElement('script');
    gcse.type = 'text/javascript';
    gcse.async = true;
    gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(gcse, s);
  })();
</script>
<gcse:search></gcse:search>
<p></p>
<br />
<br />