<section>
    <div id="centro">
        <a href="?fp=principal"><i class="fa fa-fw fa-home"></i>Home</a>
        <img src="Libreria/img/login.png" alt="Home" /><b>Dependencia</b>
    </div>
    <hr />
    <div class="row">
        <div class="col-md-9">
            <article>
                <div class="panel panel-default">
					<div class="panel-heading">
                        <h1 style="font-size: xx-large;"><b>Dependencias</b></h1>
                    </div>
					<div class="panel-body">
                        <div class="col-md-3"></div><!--Space clean-->
                        <div class="col-md-6">
                            <ul class="list-group">
                				<li class="list-group-item"><span class="badge">1</span>
                                    <a onclick="alert('Se está trabajando en la construcción de la pagina');">Presidencia Municipal</a>
                                </li>
                				<li class="list-group-item"><span class="badge">2</span>
                                    <a onclick="alert('Se está trabajando en la construcción de la pagina');">Sindicatura</a>
                                </li> 
                				<li class="list-group-item"><span class="badge">3</span>
                                    <a onclick="alert('Se está trabajando en la construcción de la pagina');">Secretario Municipal</a>
                                </li>
                                <li class="list-group-item"><span class="badge">4</span>
                                    <a onclick="alert('Se está trabajando en la construcción de la pagina');">Regidores</a>
                                </li>
                                <li class="list-group-item"><span class="badge">5</span>
                                    <a onclick="alert('Se está trabajando en la construcción de la pagina');">Dif Municipal</a>
                                </li>
                                <li class="list-group-item"><span class="badge">6</span>
                                    <a onclick="alert('Se está trabajando en la construcción de la pagina');">Contraloria</a>
                                </li>
                                <li class="list-group-item"><span class="badge">7</span>
                                    <a onclick="alert('Se está trabajando en la construcción de la pagina');">Tesorera</a>
                                </li>
                                <li class="list-group-item"><span class="badge">8</span>
                                    <a onclick="alert('Se está trabajando en la construcción de la pagina');">Desarrollo Rural</a>
                                </li>
                                <li class="list-group-item"><span class="badge">9</span>
                                    <a onclick="alert('Se está trabajando en la construcción de la pagina');">Politica Social</a>
                                </li>
                                <li class="list-group-item"><span class="badge">10</span>
                                    <a onclick="alert('Se está trabajando en la construcción de la pagina');">Oficial Mayor</a>
                                </li>
                                <li class="list-group-item"><span class="badge">11</span>
                                    <a onclick="alert('Se está trabajando en la construcción de la pagina');">Obras Públicas</a>
                                </li>
                                <li class="list-group-item"><span class="badge">12</span>
                                    <a onclick="alert('Se está trabajando en la construcción de la pagina');">Salud y Educación Pública</a>
                                </li>
                                <li class="list-group-item"><span class="badge">13</span>
                                    <a onclick="alert('Se está trabajando en la construcción de la pagina');">Casa de la Cultura</a>
                                </li>
                                <li class="list-group-item"><span class="badge">14</span>
                                    <a onclick="alert('Se está trabajando en la construcción de la pagina');">Eventos Especiales</a>
                                </li>
                                <li class="list-group-item"><span class="badge">15</span>
                                    <a onclick="alert('Se está trabajando en la construcción de la pagina');">Coordinador de Ecología</a>
                                </li>
                                <li class="list-group-item"><span class="badge">16</span>
                                    <a onclick="alert('Se está trabajando en la construcción de la pagina');">Urbanismo y Servicios Municipales</a>
                                </li>
                                <li class="list-group-item"><span class="badge">17</span>
                                    <a>Atención al Migrante</a>
                                </li>
                                <li class="list-group-item"><span class="badge">18</span>
                                    <a onclick="alert('Se está trabajando en la construcción de la pagina');">Instancía de la Mujer</a>
                                </li>
                                <li class="list-group-item"><span class="badge">19</span>
                                    <a onclick="alert('Se está trabajando en la construcción de la pagina');">Comunicación Social</a>
                                </li>
                                <li class="list-group-item"><span class="badge">20</span>
                                    <a onclick="alert('Se está trabajando en la construcción de la pagina');">Fomento Deportivo</a>
                                </li>
                                <li class="list-group-item"><span class="badge">21</span>
                                    <a onclick="alert('Se está trabajando en la construcción de la pagina');">Director de Ooapas</a>
                                </li>
                                <li class="list-group-item"><span class="badge">22</span>
                                    <a onclick="alert('Se está trabajando en la construcción de la pagina');">Jefe de Reglamentos</a>
                                </li>
                			</ul>
                        </div>
                        <div class="col-md-3"></div><!--Space clean-->
                    </div>
				</div>
            </article>
        </div>
        <div class="col-md-3">
            <aside>
                <?php include "Vista/submenu.phtml"; ?>
            </aside>
        </div>
    </div>
</section>