<section>
    <div class="row">
        <div class="col-md-9">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h1 style="font-size: xx-large;"><b>Eventos Realizados el Mes de Noviembre 2016</b></h1>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            <article><!-- Art 9-->
                                <div class="panel panel-success">
                                    <div class="panel-heading">
                                        Día de Muertos, Altares en el Jardín Principal - H. Ayuntamiento de San Lucas, Mich.
                                    </div>
                                    <time datetime="2016-11-01" pubdate="" style="color: grey; text-align: justify;">
                                        Publicado martes, 01 de noviembre de 2016.
                                    </time>
                                    <div class="panel-body">
                                        <div class="row">
                                            <p style="padding: 20px; text-align: justify;">
                                                <b>
                                                    El día martes 1 de Noviembre del 2016, como ya es costumbre, en el jardín principal de San Lucas, Mich. Se llevó acabo la demostración de altares del día de muertos, en coordinación con el H. Ayuntamiento, las instituciones educativas de la cabecera municipal, personal directivo y casa de la cultura.
                                                </b>
                                            </p>
                                            <div class="col-md-1"></div>
                                            <div class="col-md-10">
                                                <figure>
                                                    <a href="Libreria/img/2016/nov/altares/img1.jpg" target="_blank" >
                                                        <img src="Libreria/img/2016/nov/altares/img1.jpg" class="thumbnail img-responsive" alt="img" />
                                                    </a>
                                                </figure>
                                            </div>
                                            <div class="col-md-1"></div>
                                        </div>
                                    </div>
                                </div>
                            </article>
                            <article><!-- Art 8-->
                                <div class="panel panel-success">
                                    <div class="panel-heading">
                                        Inauguración de Calle Principal de Monte Grande - H. Ayuntamiento de San Lucas, Mich.
                                    </div>
                                    <time datetime="2016-11-07" pubdate="" style="color: grey; text-align: justify;">
                                        Publicado lunes, 07 de noviembre de 2016.
                                    </time>
                                    <div class="panel-body">
                                        <div class="row">
                                            <p style="padding: 20px; text-align: justify;">
                                                <b>
                                                    Monte Grande, San Lucas, Mich., el día lunes 07 de Noviembre del 2016 El C. Arturo Torres Aguirre Inauguró la Calle principal en la Comunidad de Monte Grande.
                                                </b>
                                            </p>
                                            <div class="col-md-4">
                                                <figure>
                                                    <a href="Libreria/img/2016/nov/calle_principal_monte_grande/img1.jpg" target="_blank" >
                                                        <img src="Libreria/img/2016/nov/calle_principal_monte_grande/img1.jpg" class="thumbnail img-responsive" alt="img" />
                                                    </a>
                                                </figure>
                                            </div>
                                            <div class="col-md-4">
                                                <figure>
                                                    <a href="Libreria/img/2016/nov/calle_principal_monte_grande/img2.jpg" target="_blank" >
                                                        <img src="Libreria/img/2016/nov/calle_principal_monte_grande/img2.jpg" class="thumbnail img-responsive" alt="img" />
                                                    </a>
                                                </figure>
                                            </div>
                                            <div class="col-md-4">
                                                <figure>
                                                    <a href="Libreria/img/2016/nov/calle_principal_monte_grande/img3.jpg" target="_blank" >
                                                        <img src="Libreria/img/2016/nov/calle_principal_monte_grande/img3.jpg" class="thumbnail img-responsive" alt="img" />
                                                    </a>
                                                </figure>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </article>
                            <article><!-- Art 7-->
                                <div class="panel panel-success">
                                    <div class="panel-heading">
                                        Escabación de pozo profundo en las Paredes - H. Ayuntamiento de San Lucas, Mich.
                                    </div>
                                    <time datetime="2016-11-10" pubdate="" style="color: grey; text-align: justify;">
                                        Publicado jueves, 10 de noviembre de 2016.
                                    </time>
                                    <div class="panel-body">
                                        <div class="row">
                                            <p style="padding: 20px; text-align: justify;">
                                                <b>
                                                    El Dia jueves 10 de Noviembre del 2016, El C. Arturo Torres Aguirre Dio Banderazo De Arranque de Obra Para Construcción de pozo profundo en la Localidad de las paredes. La Meta es 60 Metros Lineales de profundidad, 220 personas beneficiadas.
                                                </b>
                                            </p>
                                            <div class="col-md-4">
                                                <figure>
                                                    <a href="Libreria/img/2016/nov/pozo_profundo_paredes/img1.jpg" target="_blank" >
                                                        <img src="Libreria/img/2016/nov/pozo_profundo_paredes/img1.jpg" class="thumbnail img-responsive" alt="img" />
                                                    </a>
                                                </figure>
                                            </div>
                                            <div class="col-md-4">
                                                <figure>
                                                    <a href="Libreria/img/2016/nov/pozo_profundo_paredes/img2.jpg" target="_blank" >
                                                        <img src="Libreria/img/2016/nov/pozo_profundo_paredes/img2.jpg" class="thumbnail img-responsive" alt="img" />
                                                    </a>
                                                </figure>
                                            </div>
                                            <div class="col-md-4">
                                                <figure>
                                                    <a href="Libreria/img/2016/nov/pozo_profundo_paredes/img3.jpg" target="_blank" >
                                                        <img src="Libreria/img/2016/nov/pozo_profundo_paredes/img3.jpg" class="thumbnail img-responsive" alt="img" />
                                                    </a>
                                                </figure>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </article>
                            <article><!-- Art 6-->
                                <div class="panel panel-success">
                                    <div class="panel-heading">
                                        Ampleación de red de agua potable en el Rincon de San Francisco - H. Ayuntamiento de San Lucas, Mich.
                                    </div>
                                    <time datetime="2016-11-11" pubdate="" style="color: grey; text-align: justify;">
                                        Publicado viernes, 11 de noviembre de 2016.
                                    </time>
                                    <div class="panel-body">
                                        <div class="row">
                                            <p style="padding: 20px; text-align: justify;">
                                                <b>
                                                    El día viernes 11 de noviembre del 2016, El C. Arturo Torres Aguirre dió banderazo de arranque de obra para la ampleación de red de agua potable en la localidad el Rincon de San Francisco, San Lucas, Mich. La meta son 1,400 Mts lineales, beneficiando aproximadamente 800 (Ochocientas) personas.
                                                </b>
                                            </p>
                                            <div class="col-md-4">
                                                <figure>
                                                    <a href="Libreria/img/2016/nov/agua_potable/img2.jpg" target="_blank" >
                                                        <img src="Libreria/img/2016/nov/agua_potable/img2.jpg" class="thumbnail img-responsive" alt="img" />
                                                    </a>
                                                </figure>
                                            </div>
                                            <div class="col-md-4">
                                                <figure>
                                                    <a href="Libreria/img/2016/nov/agua_potable/img1.jpg" target="_blank" >
                                                        <img src="Libreria/img/2016/nov/agua_potable/img1.jpg" class="thumbnail img-responsive" alt="img" />
                                                    </a>
                                                </figure>
                                            </div>
                                            <div class="col-md-4">
                                                <figure>
                                                    <a href="Libreria/img/2016/nov/agua_potable/img3.jpg" target="_blank" >
                                                        <img src="Libreria/img/2016/nov/agua_potable/img3.jpg" class="thumbnail img-responsive" alt="img" />
                                                    </a>
                                                </figure>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </article>
                            <article><!-- Art 5-->
                                <div class="panel panel-success">
                                    <div class="panel-heading">
                                        Entrega de Bosina y Balones para el Deporte en la Comunidad del Machuque - H. Ayuntamiento de San Lucas, Mich.
                                    </div>
                                    <time datetime="2016-11-17" pubdate="" style="color: grey; text-align: justify;">
                                        Publicado jueves, 17 de noviembre de 2016.
                                    </time>
                                    <div class="panel-body">
                                        <div class="row">
                                            <p style="padding: 20px; text-align: justify;">
                                                <b>
                                                    El día jueves 17 de noviembre del 2016, El C. Arturo Torres Aguirre hizo entrega de equipo de sonido al encargado del orden en la comunidad del Machuque, así mismo también hizo entrega de balones de futbol y voleibol, para los jovenes y niños de la misma comunidad.
                                                </b>
                                            </p>
                                            <div class="col-md-4">
                                                <figure>
                                                    <a href="Libreria/img/2016/nov/machuque/img2.jpg" target="_blank" >
                                                        <img src="Libreria/img/2016/nov/machuque/img2.jpg" class="thumbnail img-responsive" alt="img" />
                                                    </a>
                                                </figure>
                                            </div>
                                            <div class="col-md-4">
                                                <figure>
                                                    <a href="Libreria/img/2016/nov/machuque/img1.jpg" target="_blank" >
                                                        <img src="Libreria/img/2016/nov/machuque/img1.jpg" class="thumbnail img-responsive" alt="img" />
                                                    </a>
                                                </figure>
                                            </div>
                                            <div class="col-md-4">
                                                <figure>
                                                    <a href="Libreria/img/2016/nov/machuque/img3.jpg" target="_blank" >
                                                        <img src="Libreria/img/2016/nov/machuque/img3.jpg" class="thumbnail img-responsive" alt="img" />
                                                    </a>
                                                </figure>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </article>
                            <article><!-- Art 4-->
                                <div class="panel panel-success">
                                    <div class="panel-heading">
                                        Ignaguración de Techado en la Escuela Primaria Maria Morelos en la Comunidad de Tacupa - H. Ayuntamiento de San Lucas, Mich.
                                    </div>
                                    <time datetime="2016-11-18" pubdate="" style="color: grey; text-align: justify;">
                                        Publicado viernes, 18 de noviembre de 2016.
                                    </time>
                                    <div class="panel-body">
                                        <div class="row">
                                            <p style="padding: 20px; text-align: justify;">
                                                <b>
                                                    El día viernes 18 de noviembre del 2016, El C. Arturo Torres Aguirre llevó acabo la inauguración del techado en la escuela primaria Maria Morelos de la comunidad de Tacupa. En beneficio de aproximandamente 60 alumnos, entregando por parte de los alumnos de la institución un reconocimiento de agradecimiento por la construcción realizada.
                                                </b>
                                            </p>
                                            <div class="col-md-3">
                                                <figure>
                                                    <a href="Libreria/img/2016/nov/techado_tacupa/img1.jpg" target="_blank" >
                                                        <img src="Libreria/img/2016/nov/techado_tacupa/img1.jpg" class="thumbnail img-responsive" alt="img" />
                                                    </a>
                                                </figure>
                                            </div>
                                            <div class="col-md-3">
                                                <figure>
                                                    <a href="Libreria/img/2016/nov/techado_tacupa/img2.jpg" target="_blank" >
                                                        <img src="Libreria/img/2016/nov/techado_tacupa/img2.jpg" class="thumbnail img-responsive" alt="img" />
                                                    </a>
                                                </figure>
                                            </div>
                                            <div class="col-md-3">
                                                <figure>
                                                    <a href="Libreria/img/2016/nov/techado_tacupa/img3.jpg" target="_blank" >
                                                        <img src="Libreria/img/2016/nov/techado_tacupa/img3.jpg" class="thumbnail img-responsive" alt="img" />
                                                    </a>
                                                </figure>
                                            </div>
                                            <div class="col-md-3">
                                                <figure>
                                                    <a href="Libreria/img/2016/nov/techado_tacupa/img4.jpg" target="_blank" >
                                                        <img src="Libreria/img/2016/nov/techado_tacupa/img4.jpg" class="thumbnail img-responsive" alt="img" />
                                                    </a>
                                                </figure>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </article>
                            <article><!-- Art 3-->
                                <div class="panel panel-success">
                                    <div class="panel-heading">
                                        Conmemoración De la Revolución Mexicana - H. Ayuntamiento de San Lucas, Mich.
                                    </div>
                                    <time datetime="2016-11-20" pubdate="" style="color: grey; text-align: justify;">
                                        Publicado domingo, 20 de noviembre de 2016.
                                    </time>
                                    <div class="panel-body">
                                        <div class="row">
                                            <p style="padding: 20px; text-align: justify;">
                                                <b>
                                                    El día domingo 20 de noviembre del 2016, Desfile del 20 de Noviembre, un año mas de Conmemoración De la Revolución Mexicana en el Municipio de San Lucas Mich. Encabezado Por El C. Arturo Torres Aguirre, Regidores y personal del H. Ayuntamiento. Participando también varios contigentes de instituciones educativas.
                                                </b>
                                            </p>
                                            <div class="col-md-4">
                                                <figure>
                                                    <a href="Libreria/img/2016/nov/20_noviembre/img2.jpg" target="_blank" >
                                                        <img src="Libreria/img/2016/nov/20_noviembre/img2.jpg" class="thumbnail img-responsive" alt="img" />
                                                    </a>
                                                </figure>
                                            </div>
                                            <div class="col-md-4">
                                                <figure>
                                                    <a href="Libreria/img/2016/nov/20_noviembre/img1.jpg" target="_blank" >
                                                        <img src="Libreria/img/2016/nov/20_noviembre/img1.jpg" class="thumbnail img-responsive" alt="img" />
                                                    </a>
                                                </figure>
                                            </div>
                                            <div class="col-md-4">
                                                <figure>
                                                    <a href="Libreria/img/2016/nov/20_noviembre/img3.jpg" target="_blank" >
                                                        <img src="Libreria/img/2016/nov/20_noviembre/img3.jpg" class="thumbnail img-responsive" alt="img" />
                                                    </a>
                                                </figure>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </article>
                            <article><!-- Art 2-->
                                <div class="panel panel-success">
                                    <div class="panel-heading">
                                        <b>Arranque de Pavimentación en Calle Vicente Riva Palacio de la Cabecera Municipal - H. Ayuntamiento de San Lucas, Mich.</b>
                                    </div>
                                    <time datetime="2016-11-23" pubdate="" style="color: grey; text-align: justify;">
                                        Publicado miercoles, 23 de noviembre de 2016.
                                    </time>
                                    <div class="panel-body">
                                        <div class="row">
                                            <p style="padding: 20px; text-align: justify;">
                                                <b>
                                                    El Dia 23 De Noviembre El C. Arturo Torres Aguirre llevó acabo el banderazo de arranque de obra; pavimentación de concreto hidráulico, la meta 1,957 metros cuadrados, incluye guarnición y banqueta. Beneficiando aproximadamente 1,300 personas. Ubicacion; La Calle Vicente Riva Palacio En la Cabecera Municipal.
                                                </b>
                                            </p>
                                            <div class="col-md-6">
                                                <figure>
                                                    <a href="Libreria/img/2016/nov/calle_vicente_riva_palacio/img1.jpg" target="_blank" >
                                                        <img src="Libreria/img/2016/nov/calle_vicente_riva_palacio/img1.jpg" class="thumbnail img-responsive" alt="img" />
                                                    </a>
                                                </figure>
                                            </div>
                                            <div class="col-md-6">
                                                <figure>
                                                    <a href="Libreria/img/2016/nov/calle_vicente_riva_palacio/img2.jpg" target="_blank" >
                                                        <img src="Libreria/img/2016/nov/calle_vicente_riva_palacio/img2.jpg" class="thumbnail img-responsive" alt="img" />
                                                    </a>
                                                </figure>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </article>
                            <article><!-- Art 1-->
                                <div class="panel panel-success">
                                    <div class="panel-heading">
                                        <b>Arranque de Obra, Construcción de Pozo Profundo para agua potable - H. Ayuntamiento de San Lucas, Mich.</b>
                                    </div>
                                    <time datetime="2016-11-28" style="color: grey; text-align: justify;">
                                        Publicado lunes, 28 de noviembre de 2016.
                                    </time>
                                    <div class="panel-body">
                                        <div class="row">
                                            <p style="padding: 20px; text-align: justify;">
                                                <b>
                                                    El Día 28 de noviembre El C. Arturo Torres Aguirre llevó acabo el banderazo de arranque de obra "Construcción de Pozo Profundo para agua potable" en la comunidad La Quiringucua, Mich. Meta; 60 metros Lineales de Profundidad. Beneficiando Aproximadamente 100 personas.
                                                </b>
                                            </p>
                                            <div class="col-md-4">
                                                <figure>
                                                    <a href="Libreria/img/2016/nov/pozo_profundo_quiringucua/img1.jpg" target="_blank" >
                                                        <img src="Libreria/img/2016/nov/pozo_profundo_quiringucua/img1.jpg" class="thumbnail img-responsive" alt="img" />
                                                    </a>
                                                </figure>
                                            </div>
                                            <div class="col-md-4">
                                                <figure>
                                                    <a href="Libreria/img/2016/nov/pozo_profundo_quiringucua/img2.jpg" target="_blank" >
                                                        <img src="Libreria/img/2016/nov/pozo_profundo_quiringucua/img2.jpg" class="thumbnail img-responsive" alt="img" />
                                                    </a>
                                                </figure>
                                            </div>
                                            <div class="col-md-4">
                                                <figure>
                                                    <a href="Libreria/img/2016/nov/pozo_profundo_quiringucua/img3.jpg" target="_blank" >
                                                        <img src="Libreria/img/2016/nov/pozo_profundo_quiringucua/img3.jpg" class="thumbnail img-responsive" alt="img" />
                                                    </a>
                                                </figure>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </article>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3"><!-- Barra lateral -->
            <aside>
                <?php 
                    include "Vista/main.phtml";
                    include "Vista/submenu.phtml";
                ?>
            </aside>
        </div><!-- end BL -->
    </div>
</section>