<section>
    <div id="centro">
        <a href="?fp=principal"><i class="fa fa-fw fa-home"></i>Home</a>
        <img src="Libreria/img/login.png" /><b>Juventud</b>
    </div>
    <hr />
    <div class="row" style="margin-left: 1px;">
        <div class="col-md-9">
            <article>
                <div class="panel panel-default">
                    <div class="panel-heading" style="font-size: xx-large;">
                        <b>Dirección de Juventud</b><br/>
                    </div>
                    <cite><b>Lic. Oscar Apellidos</b></cite>
                    <div class="panel-body">
                        <article>
                            <div class="panel panel-info">
                                <div class="panel-heading" style="font-size: x-large;"><b>Beca Futuro</b></div>
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-md-1"></div>
                                        <div class="col-md-10">
                                            <figure>
                                                <a href="Libreria/img/principal/juventud/convocatoria.jpg" target="_blank" >
                                                    <img src="Libreria/img/principal/juventud/convocatoria.jpg" class="thumbnail img-responsive" alt="img" />
                                                </a>
                                            </figure>
                                        </div>
                                        <div class="col-md-1"></div>
                                    </div>
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
            </article>    
        </div>
        <div class="col-md-3">
            <aside>
                <?php include "Vista/submenu.phtml"; ?>
            </aside>
        </div>
    </div>
</section>