<section><!-- Seccion de Información principal -->
    <div id="centro">
        <a style="text-align: left;" href="?fp=principal"><i class="fa fa-fw fa-home"></i>Home</a>
        <img src="Libreria/img/login.png" alt="Home"/><b>Presidente Municipal</b>  
    </div>
    <hr />  
    <div class="row">
        <div class="col-md-9">
            <article>
                <div class="panel panel-default">
					<div class="panel-heading">
                        <h1><b>Presidente Municipal</b></h1>
                    </div>
					<div class="panel-body">
                        <div class="row">
                            <div class="col-md-1"></div>
                            <div class="col-md-10">
                                <p style="text-align: justify;">
                                <strong>
                                    El Presidente Municipal representa el Órgano de Ejecución de las decisiones 
                                    del Ayuntamiento y le corresponde el ejercicio y dirección de la Administración 
                                    dentro del Municipio conforme a las políticas que aquel establezca; tendrá las 
                                    facultades y obligaciones que señala
                                </strong>
                                </p>
                                <p style="text-align: justify;">
                                    <strong>
                                        La Constitución Política del Estado de Michoacán, la Ley Orgánica Municipal y 
                                        las demás leyes y reglamentos y constituye el único medio de comunicación entre 
                                        el Cabildo y las demás autoridades, los empleados municipales y el público, para 
                                        lo cual deberá:
                                    </strong>
                                </p>
                                <p style="text-align: justify;">
                                    I. Presentar cada año un informe de su ejecución y lo pondrá a consideración del Ayuntamiento.
                                </p>
                                <p style="text-align: justify;">
                                    II. Convocar y presidir las sesiones del Ayuntamiento con voz y voto de calidad en caso de empate.
                                </p>
                                <p style="text-align: justify;">
                                    III. Informar oportunamente al Ayuntamiento de la ejecución de los acuerdos tomados.
                                </p>
                                <p style="text-align: justify;">
                                    IV. Comunicar al Ejecutivo del Estado con la urgencia del caso, los fenómenos o hechos que pongan 
                                    en grave riesgo la paz y la seguridad pública dentro de su jurisdicción.
                                </p>
                                <p style="text-align: justify;">
                                    V. Firmar los acuerdos y demás resoluciones preservando lo necesario para su exacta observancia, 
                                    así como aplicar las disposiciones de este reglamento.
                                </p>
                                <p style="text-align: justify;">
                                    VI. Cumplir y hacer cumplir la Constitución Política del Estado, la Ley Orgánica Municipal, los 
                                    reglamentos y resoluciones del Ayuntamiento.
                                </p>
                                <p style="text-align: justify;">
                                    VII. Disponer la publicación y difusión de todos los Ordenamientos Jurídicos de carácter municipal 
                                    que afecten la vida de la comunidad.
                                </p>
                                <p style="text-align: justify;">
                                    VIII. Proponer al Ayuntamiento los nombramientos de Secretario, Tesorero y Contralor municipal
                                </p>
                                <p style="text-align: justify;">
                                    IX. Cerciorarse que todas las oficinas y Órganos Administrativos funcionen conduciendo sus 
                                    actividades en forma programada y con base en las políticas, prioridades y restricciones que 
                                    para el logro de los objetivos y metas de los planes de gobierno se hayan establecido.
                                </p>
                                <p style="text-align: justify;">
                                    X. Calificar y sancionar las infracciones cometidas, pudiendo delegar esta facultad en el área 
                                    que estime conveniente.
                                </p>
                                <p style="text-align: justify;">
                                    XI. Efectuar visitas a los centros de población para conocer sus problemas y carencias y acordar 
                                    con sus titulares por lo menos cada mes sobre los asuntos de su competencia.
                                </p>
                                <p style="text-align: justify;">
                                    XII. Gestionar y tramitar ante las autoridades competentes los asuntos relativos a su Municipio.</p>
                                <p style="text-align: justify;">
                                    XIII.  Crear las Juntas, Comités y Comisiones y asignar funciones que estime convenientes, cuando 
                                    así se requiera.
                                </p>
                                <p style="text-align: justify;">
                                    XIV. Cuando se considere indispensable, autorizar la creación o supresión de unidades que requiera la 
                                    Administración Pública Municipal y asignarles las funciones que crea pertinentes, así como nombrar y 
                                    remover libremente a los funcionarios y empleados Municipales, con la salvedad de observar lo dispuesto 
                                    en la Ley de los Trabajadores al Servicio del Estado y de sus Municipios, la Ley Orgánica Municipal y las 
                                    Condiciones Generales de Trabajo.
                                </p>
                                <p style="text-align: justify;">
                                    XV. Cuando así se considere necesario convenir con el Gobierno del Estado o con el Ejecutivo Federal 
                                    la prestación de servicios públicos, la ejecución de obras o la realización de cualquier otro propósito 
                                    de beneficio para el Municipio.
                                </p>
                            </div>
                            <div class="col-md-1"></div>
                        </div>
                        
                    </div>
				</div>  
            </article>
        </div>
        <div class="col-md-3">
            <aside>
                <?php include "Vista/submenu.phtml"; ?>
            </aside>
        </div>   
    </div>
</section>