<section>
    <div id="centro">
        <a style="text-align: left;" href="?fp=principal"><i class="fa fa-fw fa-home"></i>Home</a>
        <img src="Libreria/img/login.png" alt="Home" /><b>Contralora Municipal</b>
    </div>
    <hr />
    <div class="row">
        <div class="col-md-9">
            <article>
                <div class="panel panel-default">
                    <div class="panel-heading"></div>
                        <h1><b>Contraloría Municipal</b></h1>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-1"></div>
                            <div class="col-md-10">
                                <p style="text-align: justify;">
                                    <strong>
                                        A la Contraloría Municipal le corresponde le corresponde,
                                        además de las atribuciones que expresamente le señala la Ley
                                        Orgánica Municipal, el despacho de los siguientes asuntos:
                                    </strong>
                                </p>
                                <p style="text-align: justify;">
                                    I. Medir y en su caso aplicar los controles internos, medidas
                                    preventivas o correctivas, según sea el caso; para garantizar
                                    el correcto desempeño de los servidores públicos municipales y
                                    por consiguiente, el de la Administración Pública Municipal.
                                </p>
                                <p style="text-align: justify;">
                                    II. Supervisar, controlar y registrar las acciones en materia
                                    de  entrega-recepción,  declaraciones  patrimoniales  y
                                    supervisión de programas sociales, con el fin de asegurar la
                                    continuidad  de  los  asuntos  municipales;  almacenar
                                    comparativamente los datos patrimoniales de los servidores
                                    públicos e instruir acciones de solventación, determinar áreas
                                    de oportunidad y riesgo y promover acciones de responsabilidad
                                    administrativa respectivamente.
                                </p>
                                <p style="text-align: justify;">
                                    III. Revisar, verificar y evaluar las obras públicas que estén
                                    llevando a cabo de acuerdo a la normatividad vigente, con el
                                    fin de instruir acciones de solventación determinar áreas de
                                    oportunidad y riesgo y promover acciones de responsabilidad
                                    administrativa respectivamente.
                                </p>
                                <p style="text-align: justify;">
                                    IV.  Revisar,  verificar  y  evaluar  en  materia  contable,
                                    financiera, legal, operacional y de cualquier otra naturaleza
                                    a las Secretarías, Dependencias y Entidades del Municipio de
                                    Los Reyes , de acuerdo a la normatividad vigente, con el fin
                                    de instruir acciones de solventación, determinar áreas de
                                    oportunidad y riesgo y promover acciones de responsabilidad
                                    administrativa respectivamente.
                                </p>
                                <p style="text-align: justify;">
                                    V. Investigar y obtener de medios de convicción que permitan
                                    determinar responsabilidades y sanciones de los servidores
                                    públicos  municipales  derivadas  del  incumplimiento  de  las
                                    disposiciones normativas, con la finalidad de salvaguardar los
                                    principios y obligaciones que deben ser observados en el
                                    servicio público.
                                </p>
                                <p style="text-align: justify;">
                                    VI. Vigilar, controlar y evaluar acciones preventivas y de
                                    corrección  en  las  Secretarías,  Dependencias  y  Entidades
                                    Municipales.
                                </p>
                                <p style="text-align: justify;">
                                    VII. Dirigir los esfuerzos de la Contraloría a modernizar los
                                    sistemas de control y los procesos de verificación y auditoría
                                    con un mayor respaldo a la rendición de cuentas con enfoques
                                    preventivos y correctivos, que aseguren la transparencia en la
                                    información.
                                </p>
                                <p style="text-align: justify;">
                                    VIII. Implementar mecanismos de control y seguimiento que
                                    permitan evaluar a través de indicadores de resultados y metas
                                    cuantificables, los avances y logros alcanzados en el Plan
                                    Municipal de Desarrollo.
                                </p>
                                <p style="text-align: justify;">
                                    IX.  Promover  programas  de  verificación  de  servicios  para
                                    captar de manera más directa la opinión ciudadana que permita
                                    eficientar los procesos de atención al público, en todas las
                                    dependencias,  entidades  y  organismos  de  la  Administración
                                    Municipal.
                                </p>
                                <p style="text-align: justify;">
                                    X. Las demás que señalen las leyes y reglamentos o que le sean
                                    encomendadas por el Presidente Municipal o el Ayuntamiento.
                                </p>
                            </div>
                            <div class="col-md-1"></div>
                        </div>
                    </div>
            </article>
        </div>
        <div class="col-md-3">
            <aside>
                <?php include "Vista/submenu.phtml"; ?>
            </aside>
        </div>
    </div>
</section>