<section>
    <div id="centro">
        <a style="text-align: left;" href="?fp=principal"><i class="fa fa-fw fa-home"></i>Home</a>
        <img src="Libreria/img/login.png" alt="Home"/><b>Desarrollo Rural</b>
    </div>
    <hr />  
    <div class="row">
        <div class="col-md-9">
            <article>
                <div class="panel panel-default">
					<div class="panel-heading">
                        <h1><b>Desarrollo Rural</b></h1>
                    </div>
					<div class="panel-body">
                        <div class="row">
                            <div class="col-md-1"></div>
                            <div class="col-md-10">
                                <p style="text-align: justify;">
                                    <strong>
                                        A la Dirección de Desarrollo Rural le corresponde la atención
                                        de los siguientes asuntos:
                                    </strong>
                                </p>
                                <p style="text-align: justify;">
                                    I. Gestionar los “Programas de SAGARPA”: De esta manera se
                                    benefician algunos de los agricultores y ganaderos de la región.
                                </p>
                                <p style="text-align: justify;">
                                    II. Gestionar para que el “Programa de Apoyo al Campo”: pueda
                                    ser utilizado por los campesinos que cuentan con extensiones
                                    de Tierra y que desean realizar algún cultivo. Incluyendo los
                                    fertilizantes orgánicos para mejorar el cultivo.
                                </p>
                                <p style="text-align: justify;">
                                    III. Cumplir con las tareas encomendadas por el Ayuntamiento.
                                </p>
                            </div>
                            <div class="col-md-1"></div>
                        </div>
                        
                    </div>
				</div>  
            </article>
        </div>
        <div class="col-md-3">
            <aside>
                <?php include "Vista/submenu.phtml"; ?>
            </aside>
        </div>   
    </div>
</section>