<section>
    <div id="centro">
        <a style="text-align: left;" href="?fp=principal"><i class="fa fa-fw fa-home"></i>Home</a>
        <img src="Libreria/img/login.png" alt="Home"/><b>Coordinador de Atención al Migrante</b>
    </div>
    <hr />  
    <div class="row">
        <div class="col-md-9">
            <article>
                <div class="panel panel-default">
					<div class="panel-heading">
                        <h1><b>Coordinador de Atención al Migrante</b></h1>
                    </div>
					<div class="panel-body">
                        <div class="row">
                            <div class="col-md-1"></div>
                            <div class="col-md-10">
                                <p style="text-align: justify;">
                                    <strong>
                                        A la Dirección del Migrante le corresponde la atención de los siguientes asuntos:
                                    </strong>
                                </p>
                                <p style="text-align: justify;">
                                    I. Instrumentar y ejecutar las políticas de atención a migrantes mediante mecanismos e instrumentos que salvaguarden el respeto a sus derechos y a las prerrogativas reconocidas por organismos internacionales y aceptados por el Estado michoacano.
                                </p>
                                <p style="text-align: justify;">
                                    II. Fortalecer las políticas públicas a favor de los Reyenses   que emigran al exterior y acercar la atención y servicios de las instituciones estatales de manera organizada y eficaz a los lugares con mayor presencia de michoacanos en el extranjero, así como a sus familias.
                                </p>
                                <p style="text-align: justify;">
                                    III. Eficientar los servicios que ofrecemos a los migrantes, modernizar la calidad de nuestros servicios, conducirse con honradez, en la atención al migrante, participar activamente en beneficio de los migrantes familias y comunidades de origen, laborar con unidad y respeto para lograr ser más eficientes y promover el desarrollo sustentable del estado a través de los mecanismos y acciones que estén normativamente a nuestro alcance.
                                </p>
                            </div>
                            <div class="col-md-1"></div>
                        </div>
                        
                    </div>
				</div>  
            </article>
        </div>
        <div class="col-md-3">
            <aside>
                <?php include "Vista/submenu.phtml"; ?>
            </aside>
        </div>   
    </div>
</section>