<section>
    <div id="centro">
        <a style="text-align: left;" href="?fp=principal"><i class="fa fa-fw fa-home"></i>Home</a>
        <img src="Libreria/img/login.png" alt="Home"/><b>Instancia de la Mujer</b>
    </div>
    <hr />  
    <div class="row">
        <div class="col-md-9">
            <article>
                <div class="panel panel-default">
					<div class="panel-heading">
                        <h1><b>Instancia de la Mujer</b></h1>
                    </div>
					<div class="panel-body">
                        <div class="row">
                            <div class="col-md-1"></div>
                            <div class="col-md-10">
                                <p style="text-align: justify;">
                                    <strong>
                                        Al Instituto Municipal de la Mujer le corresponde la atención de los siguientes asuntos:
                                    </strong>
                                </p>
                                <p style="text-align: justify;">
                                    I. Gestionar y ejecutar todos aquellos programas que se relacionan con la equidad de genero., violencia intrafamiliar., y aquellos que sean en beneficio de las mismas.
                                </p>
                                <p style="text-align: justify;">
                                    II. Gestionar toda aquella capacitación por medio de conferencias, reuniones, cursos, talleres, en beneficio de las mujeres.
                                </p>
                                <p style="text-align: justify;">
                                    III.  Todas aquellas que sean conferidas en las demás leyes y reglamentos.
                                </p>
                            </div>
                            <div class="col-md-1"></div>
                        </div>
                        
                    </div>
				</div>  
            </article>
        </div>
        <div class="col-md-3">
            <aside>
                <?php include "Vista/submenu.phtml"; ?>
            </aside>
        </div>   
    </div>
</section>