<section>
    <div id="centro">
        <a style="text-align: left;" href="?fp=principal"><i class="fa fa-fw fa-home"></i>Home</a>
        <img src="Libreria/img/login.png" alt="Home"/><b>Seguridad Pública</b>
    </div>
    <hr />  
    <div class="row">
        <div class="col-md-9">
            <article>
                <div class="panel panel-default">
					<div class="panel-heading">
                        <h1><b>Seguridad Pública</b></h1>
                    </div>
					<div class="panel-body">
                        <div class="row">
                            <div class="col-md-1"></div>
                            <div class="col-md-10">
                                <p style="text-align: justify;">
                                    <strong>
                                        A la Dirección de Seguridad Pública, en los términos del artículo 
                                        123 fracción V, inciso H de la Constitución Política del Estado, 
                                        en relación con el artículo 85 de la Ley Orgánica Municipal y demás 
                                        relativos del propio ordenamiento, le corresponde la atención y 
                                        despacho de los siguientes asuntos:
                                    </strong>
                                </p>
                                <p style="text-align: justify;">
                                    I. Prevenir la comisión de delitos, manteniendo el orden y la tranquilidad pública.
                                </p>
                                <p style="text-align: justify;">
                                    II. Llevar a cabo las acciones pertinentes para proteger la integridad física y la 
                                    propiedad de los individuos, el orden y la seguridad del Municipio.
                                </p>
                                <p style="text-align: justify;">
                                    III. Proteger las instituciones y bienes del dominio municipal.
                                </p>
                                <p style="text-align: justify;">
                                    IV. Auxiliar a las autoridades Estatales y Federales en el cumplimiento de sus funciones, 
                                    cuando así lo soliciten por escrito.
                                </p>
                                <p style="text-align: justify;">
                                    V. Imponer multas por violaciones al Reglamento de Seguridad Pública y Bando de Policía 
                                    y Buen Gobierno, por delegación del Presidente Municipal.
                                </p>
                                <p style="text-align: justify;">
                                    VI. Vigilar la exacta aplicación del Reglamento de Seguridad Pública, proponiendo reformas 
                                    o adiciones que permitan tener actualizado el mismo.
                                </p>
                                <p style="text-align: justify;">
                                    VII. Organizar, dirigir y controlar el archivo y estadísticas de delincuencia.
                                </p>
                                <p style="text-align: justify;">
                                    VIII. Coordinar actividades con las diversas corporaciones policíacas, Instituciones y 
                                    Dependencias involucradas en la prevención de la delincuencia.
                                </p>
                                <p style="text-align: justify;">
                                    IX. Celebrar contrato de prestación de servicios para que elementos de la corporación 
                                    brinden protección a empresas comerciales en unión con el C. Presidente y Secretario Municipal.
                                </p>
                                <p style="text-align: justify;">
                                    X. Las demás que le señalen las leyes y reglamentos o que le sean encomendadas por el C. 
                                    Presidente Municipal, Síndico o Secretario del Ayuntamiento.
                                </p>
                            </div>
                            <div class="col-md-1"></div>
                        </div>
                    </div>
				</div>  
            </article>
        </div>
        <div class="col-md-3">
            <aside>
                <?php include "Vista/submenu.phtml"; ?>
            </aside>
        </div>   
    </div>
</section>