<section>
    <div id="centro">
        <a style="text-align: left;" href="?fp=principal"><i class="fa fa-fw fa-home"></i>Home</a>
        <img src="Libreria/img/login.png" alt="Home"/><b>Tesorería Municipal</b>
    </div>
    <hr />  
    <div class="row">
        <div class="col-md-9">
            <article>
                <div class="panel panel-default">
					<div class="panel-heading">
                        <h1><b>Tesorería Municipal</b></h1>
                    </div>
					<div class="panel-body">
                        <div class="row">
                            <div class="col-md-1"></div>
                            <div class="col-md-10">
                                <p style="text-align: justify;">
                                    <strong>
                                        A la Tesorería Municipal le corresponde, además de las atribuciones que Expresamente le señala la Ley Orgánica Municipal, el despacho de los siguientes asuntos:
                                    </strong>
                                </p>
                                <p style="text-align: justify;">
                                I. Elaborar y proponer al Presidente Municipal los proyectos de leyes, reglamentos y demás disposiciones que se requieran para el manejo de los asuntos tributarios del Municipio.
                                </p>
                                <p style="text-align: justify;">
                                II. Recaudar los impuestos, derechos, productos y aprovechamientos que corresponden al municipio de conformidad con la Ley de Ingresos Municipales, así como las participaciones que por ley o convenio le correspondan al Municipio en el rendimiento de impuestos Federales y Estatales.</p>
                                <p style="text-align: justify;">
                                III. Vigilar el cumplimiento de las leyes, reglamentos y demás disposiciones fiscales aplicables.</p>
                                <p style="text-align: justify;">
                                IV. Planear y proyectar los presupuestos anuales de ingresos y egresos y presentarlos al Ayuntamiento a través del Presidente Municipal.</p>
                                <p style="text-align: justify;">
                                V. Llevar al corriente el Padrón Municipal y practicar revisiones y auditorias a causantes cuando así sea procedente.</p>
                                <p style="text-align: justify;">
                                VI. Formular mensualmente el estado de origen y aplicación de los recursos municipales y presentarlos para su revisión al Síndico dentro de los diez días del mes siguiente.</p>
                                <p style="text-align: justify;">
                                VII. Ejercer a través del Departamento Jurídico y de Reglamentación la facultad económica-coactiva conforme a las leyes y reglamentos vigentes.</p>
                                <p style="text-align: justify;">
                                VIII. Vigilar que los empleados que manejan fondos del Municipio caucionen debidamente su manejo.</p>
                                <p style="text-align: justify;">
                                IX. Ejercer los egresos y efectuar los pagos de acuerdo con los programas y presupuestos aprobados.</p>
                                <p style="text-align: justify;">
                                X. Coordinar los servicios públicos del Rastro y Panteón vigilando la aplicación del reglamento interno y demás disposiciones legales que tengan aplicación.</p>
                                <p style="text-align: justify;">
                                XI. Coordinar los servicios públicos de mercados, proponiendo al Presidente Municipal los nombramientos de los Administradores y personal de los mismos.</p>
                                <p style="text-align: justify;">
                                XII. Vigilar y coordinar la recaudación y servicio público que otorga la Unidad Deportiva Municipal reportando oportunamente a la Presidencia Municipal las irregularidades o necesidades que se presenten.</p>
                                <p style="text-align: justify;">
                                XIII. Ejercer medidas de control coordinando actividades con el Secretario del Ayuntamiento y demás funcionarios que el Presidente señale para con el comercio ambulante y semifijo, llevando un censo que deberá estar constantemente actualizado, así como evitar el crecimiento anárquico del mismo.</p>
                                <p style="text-align: justify;">
                                XIV. Vigilar la aplicación estricta del Reglamento Interno de la Tesorería Municipal.</p>
                                <p style="text-align: justify;">
                                XV. Las demás que señalen las Leyes y Reglamentos o que le sean encomendadas por el Presidente Municipal o el Ayuntamiento.</p>
                            </div>
                            <div class="col-md-1"></div>
                        </div>
                        
                    </div>
				</div>  
            </article>
        </div>
        <div class="col-md-3">
            <aside>
                <?php include "Vista/submenu.phtml"; ?>
            </aside>
        </div>   
    </div>
</section>