<section>
    <div id="centro">
        <a style="text-align: left;" href="?fp=principal"><i class="fa fa-fw fa-home"></i>Home</a>
        <img src="Libreria/img/login.png" alt="Home"/><b>Dirección de Comunicación Social</b>
    </div>
    <hr />  
    <div class="row">
        <div class="col-md-9">
            <article>
                <div class="panel panel-default">
					<div class="panel-heading">
                        <h1><b>Dirección de Comunicación Social</b></h1>
                    </div>
					<div class="panel-body">
                        <div class="row">
                            <div class="col-md-1"></div>
                            <div class="col-md-10">
                                <p style="text-align: justify;">
                                    <strong>
                                        A la Dirección de Comunicación Social le corresponde la atención de los siguientes asuntos: 
                                    </strong>
                                </p>
                                <p style="text-align: justify;">
                                    I. Estar en permanente contacto con la Coordinación General de Comunicación Social del Gobierno del Estado, a efecto de participar en el desarrollo de eventos que el Gobierno Federal o del Estado realice en el Municipio.
                                </p>
                                <p style="text-align: justify;">
                                    II. Tener actualizado el registro de funcionarios en los diferentes niveles de gobierno que residan en el Municipio, en coordinación con la Secretaría Particular.
                                </p>
                                <p style="text-align: justify;">
                                    III.       Cumplir  con  las  comisiones  que  le  sean encomendadas directamente por el Presidente Municipal
                                </p>
                                <p style="text-align: justify;">
                                    IV. Coordinar actividades culturales   y promociones deportivas en las diferentes áreas del Municipio, manteniendo comunicación permanente con las auxiliares de la Administración Municipal en las diferentes localidades.
                                </p>
                                <p style="text-align: justify;">
                                    V. La elaboración y distribución entre los diferentes medios de comunicación locales, estatales o nacionales según el caso, de boletines sobre las actividades más trascendentales que realice el Ayuntamiento y/o funcionarios municipales.
                                </p>
                                <p style="text-align: justify;">
                                    VI. Mantener  cordiales    relaciones    con    los representantes de medios de comunicación en general (prensa, radio, televisión, ), proporcionándoles la información que soliciten o auxiliándoles para su obtención.
                                </p>
                                <p style="text-align: justify;">
                                    VII. Integrar un archivo de informaciones que contengan hechos relevantes para el Municipio, dando oportuna cuenta de las mismas al Presidente Municipal.
                                </p>
                                <p style="text-align: justify;">
                                    VIII.   Integrar un archivo fotográfico de actividades donde participe el Ayuntamiento y/o funcionarios municipales.
                                </p>
                                <p style="text-align: justify;">
                                    IX. Cubrir informativamente, todos los eventos donde participen integrantes del Ayuntamiento y/o funcionarios municipales invitando a los mismos a representantes de los diferentes medios de comunicación.
                                </p>
                                <p style="text-align: justify;">
                                    X. Mantener actualizada, la relación de los medios de comunicación con influencia en el Municipio y el Estado.
                                </p>
                                <p style="text-align: justify;">
                                    XI. Cumplir con las tareas encomendadas por el Ayuntamiento.
                                </p>
                            </div>
                            <div class="col-md-1"></div>
                        </div>
                        
                    </div>
				</div>  
            </article>
        </div>
        <div class="col-md-3">
            <aside>
                <?php include "Vista/submenu.phtml"; ?>
            </aside>
        </div>   
    </div>
</section>