<section>
    <div id="centro">
        <a style="text-align: left;" href="?fp=principal"><i class="fa fa-fw fa-home"></i>Home</a>
        <img src="Libreria/img/login.png" alt="Home"/><b>Oficial Mayor</b>
    </div>
    <hr />  
    <div class="row">
        <div class="col-md-9">
            <article>
                <div class="panel panel-default">
					<div class="panel-heading">
                        <h1><b>Oficial Mayor</b></h1>
                    </div>
					<div class="panel-body">
                        <div class="row">
                            <div class="col-md-1"></div>
                            <div class="col-md-10">
                                <p style="text-align: justify;">
                                    <strong>
                                        A la Oficialía Mayor del Municipio le corresponde la atención 
                                        y despacho de los siguientes asuntos:
                                    </strong>
                                </p>
                                <p style="text-align: justify;">
                                    I. Proveer a las dependencias municipales del personal que requieran 
                                    para realizar sus funciones y llevar los registros necesarios del mismo.
                                </p>
                                <p style="text-align: justify;">
                                    II. Elaborar en coordinación con la Tesorería Municipal las nóminas de pago.
                                </p>
                                <p style="text-align: justify;">
                                    III.Expedir las constancias de trabajo que le sean requeridos tanto por 
                                    el personal como por los funcionarios municipales.
                                </p>
                                <p style="text-align: justify;">
                                    IV. Coordinar los servicios de intendencia en las dependencias municipales.
                                </p>
                                <p style="text-align: justify;">
                                    V. Proveer a las dependencias de los bienes y servicios que requieran para 
                                    el desarrollo de sus actividades, previa requisición y autorización que se 
                                    obtenga del Presidente Municipal.
                                </p>
                                <p style="text-align: justify;">
                                    VI. Establecer un control detallado y estricto de los almacenes y talleres 
                                    propiedad del Municipio.
                                </p>
                                <p style="text-align: justify;">
                                    VII. Fomentar, coordinar y controlar las actividades educativas, artísticas, 
                                    culturales y deportivas que realicen en el Municipio en apoyo a la Secretaría 
                                    del Ayuntamiento.
                                </p>
                                <p style="text-align: justify;">
                                    VIII. Establecer y mantener permanentemente actualizado el inventario de bienes 
                                    muebles e inmuebles del Municipio, en coordinación con el Síndico.
                                </p>
                                <p style="text-align: justify;">
                                    IX. Para la realización de sus funciones estará bajo su dirección los siguientes 
                                    departamentos: Servicios Generales; Departamentos de Compras; Departamento de 
                                    Personal, Departamento de Mantenimiento de Vehículos; Departamento de Patrimonio; 
                                    Almacén General, Archivo Municipal y aquellos que expresamente autorice el 
                                    Ayuntamiento o el Presidente Municipal.
                                </p>
                                <p style="text-align: justify;">
                                    X. Recibir las quejas e inconformidades que tenga el público en general sobre la 
                                    administración municipal y comunicarlas al Presidente Municipal.
                                </p>
                                <p style="text-align: justify;">
                                    XI. Mantener estrecha relación con los Sindicatos de empleados municipales, 
                                    vigilando que las normas de trabajo establecidas sean acatadas por ambas partes.
                                </p>
                                <p style="text-align: justify;">
                                    XII. Las demás que le señalen las leyes y reglamentos vigentes o le sean encomendadas 
                                    por el Presidente Municipal o superiores jerárquicos.
                                </p>
                            </div>
                            <div class="col-md-1"></div>
                        </div>
                        
                    </div>
				</div>  
            </article>
        </div>
        <div class="col-md-3">
            <aside>
                <?php include "Vista/submenu.phtml"; ?>
            </aside>
        </div>   
    </div>
</section>