<section>
    <div id="centro">
        <a style="text-align: left;" href="?fp=principal"><i class="fa fa-fw fa-home"></i>Home</a>
        <img src="Libreria/img/login.png" alt="Home"/><b>Secretario</b>
    </div>
    <hr />  
    <div class="row">
        <div class="col-md-9">
            <article>
                <div class="panel panel-default">
					<div class="panel-heading">
                        <h1><b>Secretario del Ayundamiento</b></h1>
                    </div>
					<div class="panel-body">
                        <div class="row">
                            <div class="col-md-1"></div>
                            <div class="col-md-10">
                                <p style="text-align: justify;">
                                    <strong>
                                        Al Secretario del Ayuntamiento le corresponde, además de las
                                        atribuciones  que  expresamente  le  señala  la  Ley  Orgánica
                                        Municipal, el despacho de los siguientes asuntos:
                                    </strong>
                                </p>
                                <p style="text-align: justify;">
                                    I. Ejercer las atribuciones que le confiera el  Ayuntamiento
                                    como Secretario del mismo.
                                </p>
                                <p style="text-align: justify;">
                                    II. Coordinar  y  atender,  en  su  caso,  todas  aquellas
                                    actividades  que  le  sean  encomendadas  expresamente  por  el
                                    Presidente Municipal.
                                </p>
                                <p style="text-align: justify;">
                                    III. Atender  la  audiencia  del  Presidente  Municipal  por
                                    delegación de éste.
                                </p>
                                <p style="text-align: justify;">
                                    IV. Proporcionar asesoría a las dependencias municipales y
                                    tramitar todos los asuntos legales que le confieran ya sea en
                                    forma directa o por conducto del Departamento Jurídico y de
                                    Reglamentación.
                                </p>
                                <p style="text-align: justify;">
                                    V. Intervenir y ejercer la vigilancia que en materia electoral
                                    le señalen las leyes al Presidente Municipal, o los convenios
                                    que para el efecto se celebren.
                                </p>
                                <p style="text-align: justify;">
                                    VI.  Vigilar  en  auxilio  de  las  autoridades  federales  y
                                    estatales el cumplimiento de las Leyes y Reglamentos que
                                    tengan aplicación en el Municipio.
                                </p>
                                <p style="text-align: justify;">
                                    VII. Vigilar que las actividades de los particulares se
                                    desarrollen dentro de los límites de respeto a la vida
                                    privada, a la paz y a la moral pública.
                                </p>
                                <p style="text-align: justify;">
                                    VIII. Coordinarse  con  las  autoridades  competentes  en  la
                                    realización de campañas sanitarias y en aquellas actividades
                                    que  pretendan  prevenir  y  atacar  el  alcoholismo,  la
                                    prostitución y la drogadicción en el Municipio.
                                </p>
                                <p style="text-align: justify;">
                                    IX. Organizar, dirigir y controlar el Registro de Ganadería 
                                    Municipal.
                                </p>
                                <p style="text-align: justify;">
                                    X. Imponer  sanciones  por  violaciones  a  los  reglamentos
                                    vigentes en el municipio en la esfera de su competencia local
                                    siempre  y  cuando  exista  delegación  de  facultades  del
                                    Presidente Municipal, en los términos del artículo 54 fracción
                                    VIII de la Ley Orgánica Municipal.
                                </p>
                                <p style="text-align: justify;">
                                    XI. Vigilar que los Reglamentos Municipales tengan aplicación
                                    en  el  ámbito  municipal,  coordinando  las  actividades  del
                                    Departamento Jurídico y de Reglamentación.
                                </p>
                                <p style="text-align: justify;">
                                    XII. Fomentar,  coordinar  y  controlar  las  actividades
                                    educativas,  artísticas,  deportivas  y  culturales  que  se
                                    realicen en el Municipio.
                                </p>
                                <p style="text-align: justify;">
                                    XIII. Las demás que señalen las leyes y reglamentos.
                                </p>
                                <p style="text-align: justify;">
                                    XIII. Las demás que señalen las leyes y reglamentos.
                                </p>
                                <p style="text-align: justify;">
                                    <b>ARTÍCULO  48.-</b>  
                                    Para  el  cumplimiento  de  sus  funciones  el
                                    Secretario  tendrá  relación  directa  con  las  siguientes
                                    dependencias: Oficialía Mayor, Dirección de Seguridad Pública,
                                    Tesorería, Dirección del Migrante Municipal, Desarrollo Rural,
                                    Instituto Municipal de La Mujer, Dif Municipal, Informática
                                    Servicios Públicos, Urbanismo y Obras Públicas Municipales,
                                    Comunicación Social, Protección Civil y Bomberos, , Director
                                    del  Agua  Potable  y  Alcantarillado,  Administrador  Rastro
                                    Municipal,  Administrador  del  Auditorio  Municipal,
                                    Administrador de Unidad Deportiva, Administrador del Panteón,
                                    Coordinador de Parques y Jardines, Coordinador de Sedesol,
                                    Coordinador de Asuntos Indígenas Municipales, dependencias que
                                    también estarán adscritas a la Presidencia Municipal.
                                </p>
                            </div>
                            <div class="col-md-1"></div>
                        </div>
                        
                    </div>
				</div>  
            </article>
        </div>
        <div class="col-md-3">
            <aside>
                <?php include "Vista/submenu.phtml"; ?>
            </aside>
        </div>   
    </div>
</section>