<section>
    <div id="centro">
        <a style="text-align: left;" href="?fp=principal"><i class="fa fa-fw fa-home"></i>Home</a>
        <img src="Libreria/img/login.png" alt="Home"/><b>Dirección de Obras Publicas</b>
    </div>
    <hr />  
    <div class="row">
        <div class="col-md-9">
            <article>
                <div class="panel panel-default">
					<div class="panel-heading">
                        <h1><b>Dirección de Obras Publicas</b></h1>
                    </div>
					<div class="panel-body">
                        <div class="row">
                            <div class="col-md-1"></div>
                            <div class="col-md-10">
                                <p style="text-align: justify;">
                                    <strong>
                                        A la Dirección Obras Publicas Municipales, corresponde el despacho de los siguientes asuntos:
                                    </strong>
                                </p>
                                <p style="text-align: justify;">
                                    I. Formular en coordinación con las autoridades Federales y Estatales, los planes municipales.
                                </p>
                                <p style="text-align: justify;">
                                    II. Vigilar el cumplimiento y aplicación de las disposiciones legales en materia de construcción y asentamientos humanos.
                                </p>
                                <p style="text-align: justify;">
                                    III. Llevar a cabo o supervisar técnicamente los proyectos de realización y conservación de obras públicas municipales.
                                </p>
                                <p style="text-align: justify;">
                                    IV. Gestionar ante las autoridades competentes la regularización de la tenencia de la tierra e intervenir en el control de asentamientos humanos irregulares.
                                </p>
                                <p style="text-align: justify;">
                                    V. Elaborar estudios para la creación, desarrollo, reforma y mejoramiento de poblados y ciudad en atención a una mejor adaptación material y a sus necesidades colectivas.
                                </p>
                                <p style="text-align: justify;">
                                    VI. Planear, ejecutar, supervisar, controlar y mantener en condiciones de operación los servicios públicos que presta el Ayuntamiento en forma directa, descentralizada o que haya concesionado, en coordinación con las dependencias involucradas.
                                </p>
                                <p style="text-align: justify;">
                                    VII. Intervenir previo acuerdo, en los actos, contratos de construcción, instalación y reparaciones que realicen por cuenta del Gobierno Municipal y vigilar la ejecución de los mismos.
                                </p>
                                <p style="text-align: justify;">
                                    VIII. Llevar a cabo el alineamiento de predios y otorgarles el número oficial que corresponda.
                                </p>
                                <p style="text-align: justify;">
                                    IX. Aplicar las disposiciones del Reglamento Municipal del Medio Ambiente.
                                </p>
                                <p style="text-align: justify;">
                                    X. Formular el Programa de Ordenamiento Ecológico Municipal.
                                </p>
                                <p style="text-align: justify;">
                                    XI. Contratar o ejecutar, supervisar y conservar la obra pública municipal y los bienes inmuebles propiedad del Municipio.
                                </p>
                                <p style="text-align: justify;">
                                    XII. Elaborar el Programa Anual de Inversión en obra pública en coordinación y bajo los criterios establecidos por la SEPLADE, para su autorización por la instancia correspondiente.
                                </p>
                                <p style="text-align: justify;">
                                    XIII. Controlar el avance físico y financiero de las obras públicas municipales en proceso.
                                </p>
                                <p style="text-align: justify;">
                                    XIV. Garantizar la correcta aplicación de los recursos municipales destinados a la obra pública.
                                </p>
                                <p style="text-align: justify;">
                                    XV. Proponer y suscribir convenios con dependencias federales, estatales y organizaciones particulares para realizar obras públicas especiales que requiera el Municipio.
                                </p>
                                <p style="text-align: justify;">
                                    XVI. Vigilar que la obra pública que se realice con recursos federales.
                                </p>
                                <p style="text-align: justify;">
                                    XVII. Presentar a la instancia respectiva el Proyecto de Presupuesto de Egresos de la Secretaría y el Programa Operativo Anual.
                                </p>
                                <p style="text-align: justify;">
                                    XVIII. Proporcionar a la Dirección de Patrimonio la información necesaria de la obra pública para su registro e incorporación a los inmuebles, cuando así corresponda.
                                </p>
                                <p style="text-align: justify;">
                                    XIX. Elaborar los estudios, proyectos y presupuestos para construcción de edificios públicos y obras, ejecutadas directamente o a través de terceros.
                                </p>
                                <p style="text-align: justify;">
                                    XX. Formular y proponer al Secretario, en coordinación con la Dirección Operativa, el Programa Anual de Obras Públicas del Municipio, previos los estudios del caso, respetando los lineamientos de SEPLADE.
                                </p>
                                
                                <p style="text-align: justify;">
                                    XXI. Realizar investigaciones de mercado para conocer los precios unitarios, manteniéndolos actualizados.
                                </p>
                                <p style="text-align: justify;">
                                    XXII. Decidir de acuerdo al Programa Anual de Obras Públicas autorizado, la modalidad bajo la cual deberán ejecutarse y participar en los concursos o licitaciones a que se convoque, respetando las disposiciones legales y normativas en la materia.
                                </p>
                                <p style="text-align: justify;">
                                    XXIII. Proponer la celebración de convenios con las dependencias federales y estatales para la realización de obras públicas en el Municipio.
                                </p>
                                <p style="text-align: justify;">
                                    XXIV. Las demás que le señalen las Leyes y reglamentos vigentes o que le sean encomendados por el H. Ayuntamiento.
                                </p>
                            </div>
                            <div class="col-md-1"></div>
                        </div>
                        
                    </div>
				</div>  
            </article>
        </div>
        <div class="col-md-3">
            <aside>
                <?php include "Vista/submenu.phtml"; ?>
            </aside>
        </div>   
    </div>
</section>