<section><!-- Seccion de Información principal -->
    <div id="centro">
        <a style="text-align: left;" href="?fp=principal"><i class="fa fa-fw fa-home"></i>Home</a>
        <img src="Libreria/img/login.png" alt="Home"/><b>Síndico</b>  
    </div>
    <hr />  
    <div class="row">
        <div class="col-md-9">
            <article>
                <div class="panel panel-default">
					<div class="panel-heading">
                        <h1><b>Síndico</b></h1>
                    </div>
					<div class="panel-body">
                        <div class="row">
                            <div class="col-md-1"></div>
                            <div class="col-md-10">
                                <p style="text-align: justify;">
                                <strong>
                                    El Síndico es el encargado de la procuración y defensas de los
                                    intereses municipales y de representar al Ayuntamiento con
                                    todas las facultades de un mandatario general, en los asuntos
                                    y litigios en que éste fuere parte.
                                </strong>
                                </p>
                                <p style="text-align: justify;">
                                    <strong>
                                        El Síndico tendrá además las atribuciones siguientes:
                                    </strong>
                                </p>
                                <p style="text-align: justify;">
                                    I. Legalizar la propiedad de los bienes del Municipio.
                                </p>
                                <p style="text-align: justify;">
                                    II. Intervenir en la formulación del inventario general de
                                    bienes muebles e inmuebles propiedad del Municipio.
                                </p>
                                <p style="text-align: justify;">
                                    III. Inspeccionar las actividades de la Tesorería Municipal,
                                    revisar y firmar los cortes de caja,
                                    vigilando la aplicación del presupuesto.
                                </p>
                                <p style="text-align: justify;">
                                    IV. Fungir como Agente del Ministerio Público siempre y cuando
                                    no exista éste en el Municipio.
                                </p>
                                <p style="text-align: justify;">
                                    V. Asistir a las sesiones del Ayuntamiento y participar en las
                                    discusiones con voz y voto.
                                </p>
                                <p style="text-align: justify;">
                                    VI. Atender la audiencia del Presidente Municipal cuando así
                                    le sea autorizado por éste.
                                </p>
                                <p style="text-align: justify;">
                                    VII. Vigilar el uso adecuado de los servicios públicos, que el
                                    Ayuntamiento presta, supervisando los trabajos que para el
                                    efecto  realice  el  personal,  reportando  al  Presidente  las
                                    anomalías existentes para que se tomen las medidas que sean
                                    necesarias.
                                </p>
                                <p style="text-align: justify;">
                                    VIII. Vigilar  que  las  obras  de  beneficio  social  en
                                    que participe el Ayuntamiento sean realizadas  ajustándose a
                                    las normas y que los recursos asignados no sean desviados.
                                </p>
                                <p style="text-align: justify;">
                                    IX. Ejercerá funciones ejecutivas para la buena marcha de la
                                    Administración Pública y podrá autorizar por delegación de
                                    facultades  del  Presidente  Municipal  los  egresos  que  se
                                    realicen en la ejecución de
                                    servicios públicos o de obras de beneficio social.
                                </p>
                                <p style="text-align: justify;">
                                    X. Las demás que le señalen las leyes y reglamentos o que le
                                    sean encomendadas por el Ayuntamiento o Presidente Municipal.
                                </p>
                            </div>
                            <div class="col-md-1"></div>
                        </div>
                        
                    </div>
				</div>  
            </article>
        </div>
        <div class="col-md-3">
            <aside>
                <?php include "Vista/submenu.phtml"; ?>
            </aside>
        </div>   
    </div>
</section>