<section>
    <div id="centro">
        <a href="?fp=principal"><i class="fa fa-fw fa-home"></i>Home</a>
        <img src="Libreria/img/login.png" /><b>Turismo</b>
    </div>
    <hr />
    <div class="row">
        <div class="col-md-9">
            <article>
                <div class="panel panel-default">
					<div class="panel-heading">
                        <h1 style="font-size: xx-large;"><b>Turismo</b></h1>
                    </div>
					<div class="panel-body">
                        <h3><b>Santuario Diocesano de la Inmaculada Concepción de San Lucas Mich.</b></h3>
                        <figure>
                            <a href="Libreria/img/turismo/iglesia.jpg" class="thumbnail">
                                <img src="Libreria/img/turismo/iglesia.jpg" alt="img-responsive img-thumbnail" />
                                <figcaption>
                                    <b>Santuario de la Inmaculada Concepción</b>
                                </figcaption>
                            </a>
                        </figure>
                        <br />
                        <p>El Turismo es la actividad recreativa que consiste en viajar o recorrer un país o lugar por placer.</p>
                        <br />
                        <h3><b>Reseña Histórica</b></h3>
                        <br />
                        <p style="text-align: justify;">
                            Los primeros agustinos llegaron a esta región a predicar el evangelio y fue Fray Juan de Moya, en 1553, 
                            quien congregó a los indios y fundó con ellos una doctrina, como entonces se llamaba a la reunión de nuevos 
                            catecúmenos.
                            En 1765, según la relación que hace el bachiller Don Joseph Marcelino Palomino, cura y juez eclesiástico 
                            del Partido de Cutzio, el pueblo de San Lucas aparece como uno de los pueblos que integraban este partido 
                            (los otros eran Cutzio que era la cabecera, San Juan Huetamo y Purechuchu).
                            San Lucas se encontraba habitado en este tiempo por 50 familias naturales con un número de 186 feligreses. 
                            El pueblo contaba con una parroquia de adobe, tejado de zacate y medía 30 varas de largo y 9 de ancho. 
                            En 1763 un temblor afectó la construcción de la parroquia que se encontraba a punto de caer y "aunque los 
                            naturales de dicho pueblo intentaron hacer otra, su pobreza no les dio lugar".
                        </p>
                        <h3><b>Localización</b></h3>
                        <p style="text-align: justify;">
                            Se localiza al sureste del Estado, en las coordenadas 18º35' de latitud norte y 100º47' de longitud oeste, a 
                            una altura de 300 metros sobre el nivel del mar. Limita al norte con Tiquicheo, al este y sur con el Estado 
                            de Guerrero, y al oeste con Huetamo. Su distancia a la capital del Estado es de 225 kms.
                        </p>
                    </div>
				</div>
            </article>
        </div>
    <div class="col-md-3">
        <aside>
            <?php  include "Vista/submenu.phtml"; ?>
        </aside>
    </div>
    </div>
</section>