<section>
    <div class="row">
        <div class="col-md-9">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h1 style="font-size: xx-large;"><b>Eventos Realizados el Mes de Agosto 2017</b></h1>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            <article>
                                <div class="panel panel-success">
                                    <div class="panel-heading">
                                        <b>.:. Trabajar para Construir, Cumpliendo Compromisos .:. H. Ayuntamiento de San Lucas, Mich. .:.</b>
                                    </div>
                                    <time datetime="2017-08-04" style="color:grey;text-align:justify;">
                                        publicado el viernes 4 de agosto de 2017.
                                    </time>
                                    <div class="panel-body">
                                        <center>
                                            <p style="padding:20px; text-align:justify;">
                                                <b>El C. Arturo Torres Aguirre presidente municipal de San Lucas cumple compromisos, inicia construcción, concluye y entrega a la ciudadanía. Y aún hay más por trabajar.</b>
                                            </p>
                                            <br/>
                                            <video  controls="" class="img-responsive">
                                                <source src="Libreria/mov/arturo_cumple.mp4" type="video/mp4" />
                                            </video>
                                            <br />
                                        </center>
                                    </div>
                                </div>
                            </article>
                            <article>
                                <div class="panel panel-success">
                                    <div class="panel-heading">
                                        <b>.:. Segundo 2° Informe de Gobierno .:. H. Ayuntamiento de San Lucas, Mich. .:.</b>
                                    </div>
                                    <time datetime="2017-08-14" style="color:grey;text-align:justify;">
                                        publicado el lunes 14 de agosto de 2017.
                                    </time>
                                    <div class="panel-body">
                                            <p style="padding:20px; text-align:justify;"><b>
                                                El día jueves 12 de agosto de 2017, el C. Arturo Torres Aguirre Presidente Municipal, en compañía del Secretario de Salud el Dr. Elias Ibarra, cuerpo de regidores y su equipo de trabajo, rindió su 2do. Informe de Gobierno en Pista "Las Camelinas", A este importante evento asistieron alrededor de 900 personas, nos acompañaron distinguidas personalidades de municipios vecinos.</b>
                                            </p>
                                            <br/>
                                            <div class="col-lg-12">
                                                <figure>
                                                    <a href="Libreria/img/2017/ago/2_informe/img1.jpg" target="_blank">
                                                        <img src="Libreria/img/2017/ago/2_informe/img1.jpg" class="thumbnail img-responsive" alt="img" />
                                                    </a>
                                                </figure>
                                            </div>
                                            <hr/>
                                            <div class="col-lg-3">
                                                <figure>
                                                    <a href="Libreria/img/2017/ago/2_informe/img2.jpg" target="_blank">
                                                        <img src="Libreria/img/2017/ago/2_informe/img2.jpg" class="thumbnail img-responsive" alt="img" />
                                                    </a>
                                                </figure>
                                            </div>
                                            <div class="col-lg-3">
                                                <figure>
                                                    <a href="Libreria/img/2017/ago/2_informe/img3.jpg" target="_blank">
                                                        <img src="Libreria/img/2017/ago/2_informe/img3.jpg" class="thumbnail img-responsive" alt="img" />
                                                    </a>
                                                </figure>
                                            </div>
                                            <div class="col-lg-3">
                                                <figure>
                                                    <a href="Libreria/img/2017/ago/2_informe/img4.jpg" target="_blank">
                                                        <img src="Libreria/img/2017/ago/2_informe/img4.jpg" class="thumbnail img-responsive" alt="img" />
                                                    </a>
                                                </figure>
                                            </div>
                                            <div class="col-lg-3">
                                                <figure>
                                                    <a href="Libreria/img/2017/ago/2_informe/img5.jpg" target="_blank">
                                                        <img src="Libreria/img/2017/ago/2_informe/img5.jpg" class="thumbnail img-responsive" alt="img" />
                                                    </a>
                                                </figure>
                                            </div>
                                        <div class="col-lg-12">
                                        <p><b style="color: green;">.:. Presentación de Obras Construidas (videoclip) .:.</b></p>
                                        <center>
                                            <video  controls="" class="img-responsive">
                                                <source src="Libreria/mov/2_informe.mp4" type="video/mp4" />
                                            </video>
                                            <br />
                                        </center>
                                        </div>
                                    </div>
                                </div>
                            </article>
                            <article>
                                <div class="panel panel-success">
                                    <div class="panel-heading">
                                        <b>Apertura de Ciclo Escolar 2017 - 2018 .:. H. Ayuntamiento de San Lucas, Mich.</b>
                                    </div>
                                    <time datetime="2017-08-21" style="color:grey;text-align:justify;">
                                        publicado el lunes 21 de agosto de 2017.
                                    </time>
                                    <div class="panel-body">
                                        <p style="padding:20px; text-align:justify;">
                                            <b>
                                                Encabeza C. Arturo Torres Aguirre apertura de ciclo escolar 2017 - 2018 en las instalaciones de Esc. Sec. Vicente Riva Palacio en Riva Palacio, donde estuvo acompañado por autoridades educativas de la región.
                                            </b>
                                        </p>
                                        <div class="col-lg-4">
                                            <figure>
                                                <a href="Libreria/img/2017/ago/ciclo_escolar/img1.jpg" target="_blank">
                                                    <img src="Libreria/img/2017/ago/ciclo_escolar/img1.jpg" class="thumbnail img-responsive" alt="img" />
                                                </a>
                                            </figure>
                                        </div>
                                        <div class="col-lg-4">
                                            <figure>
                                                <a href="Libreria/img/2017/ago/ciclo_escolar/img2.jpg" target="_blank">
                                                    <img src="Libreria/img/2017/ago/ciclo_escolar/img2.jpg" class="thumbnail img-responsive" alt="img" />
                                                </a>
                                            </figure>
                                        </div>
                                        <div class="col-lg-4">
                                            <figure>
                                                <a href="Libreria/img/2017/ago/ciclo_escolar/img3.jpg" target="_blank">
                                                    <img src="Libreria/img/2017/ago/ciclo_escolar/img3.jpg" class="thumbnail img-responsive" alt="img" />
                                                </a>
                                            </figure>
                                        </div>
                                    </div>
                                </div>
                            </article>
                            <article>
                                <div class="panel panel-success">
                                    <div class="panel-heading">
                                        <b>Convocatoria de Celebración de Fiesta Patria 2017 .:. H. Ayuntamiento de San Lucas, Mich.</b>
                                    </div>
                                    <time datetime="2017-08-24" style="color:grey;text-align:justify;">
                                        publicado el jueves 24 de agosto de 2017.
                                    </time>
                                    <div class="panel-body">
                                        <p style="padding:20px; text-align:justify;">
                                            <b>
                                                Con el motivo de la celebración de las Fiestas Patrias 2017, el Gobierno Municipal de San Lucas a través de Dirección de Casa de la Cultura, convoca a todas aquellas jovencitas del municipio que tengan talento y el deseo de participar en el certamen de Señorita Fiestas Patrias de este año 2017.
                                            </b>
                                        </p>
                                        <div class="col-lg-2"></div>
                                        <div class="col-lg-8">
                                            <figure>
                                                <a href="Libreria/img/2017/ago/fiesta_patria/img1.jpg" target="_blank">
                                                    <img src="Libreria/img/2017/ago/fiesta_patria/img1.jpg" class="thumbnail img-responsive" alt="img" />
                                                </a>
                                            </figure>
                                        </div>
                                        <div class="col-lg-2"></div>
                                    </div>
                                </div>
                            </article>
                            <article>
                                <div class="panel panel-success">
                                    <div class="panel-heading">
                                        <b>Festejando el Día del Abuelo .:. H. Ayuntamiento de San Lucas, Mich.</b>
                                    </div>
                                    <time datetime="2017-08-28" style="color:grey;text-align:justify;">
                                        publicado el lunes 28 de agosto de 2017.
                                    </time>
                                    <div class="panel-body">
                                        <p style="padding:20px; text-align:justify;">
                                            <b>
                                                El día de lunes 28 de Agosto de 2017, el C. Arturo Torres Aguirre asiste a el festejo en Casa Hogar Purisima Concepción de Maria, realizado a adultos mayores con motivo de Día de Abuelo organizado por DIF Municipal de San Lucas.
                                            </b>
                                        </p>
                                        <div class="col-lg-3">
                                            <figure>
                                                <a href="Libreria/img/2017/ago/el_abuelo/img1.jpg" target="_blank">
                                                    <img src="Libreria/img/2017/ago/el_abuelo/img1.jpg" class="thumbnail img-responsive" alt="img" />
                                                </a>
                                            </figure>
                                        </div>
                                        <div class="col-lg-3">
                                            <figure>
                                                <a href="Libreria/img/2017/ago/el_abuelo/img2.jpg" target="_blank">
                                                    <img src="Libreria/img/2017/ago/el_abuelo/img2.jpg" class="thumbnail img-responsive" alt="img" />
                                                </a>
                                            </figure>
                                        </div>
                                        <div class="col-lg-3">
                                            <figure>
                                                <a href="Libreria/img/2017/ago/el_abuelo/img3.jpg" target="_blank">
                                                    <img src="Libreria/img/2017/ago/el_abuelo/img3.jpg" class="thumbnail img-responsive" alt="img" />
                                                </a>
                                            </figure>
                                        </div>
                                        <div class="col-lg-3">
                                            <figure>
                                                <a href="Libreria/img/2017/ago/el_abuelo/img3.jpg" target="_blank">
                                                    <img src="Libreria/img/2017/ago/el_abuelo/img3.jpg" class="thumbnail img-responsive" alt="img" />
                                                </a>
                                            </figure>
                                        </div>
                                    </div>
                                </div>
                            </article>
                            <article>
                                <div class="panel panel-success">
                                    <div class="panel-heading">
                                        <b>Entrega de Ambulancia Equipada para el Servicio de las Familias .:. H. Ayuntamiento de San Lucas, Mich.</b>
                                    </div>
                                    <time datetime="2017-08-30" style="color:grey;text-align:justify;">
                                        publicado el miércoles 30 de agosto de 2017.
                                    </time>
                                    <div class="panel-body">
                                        <p style="padding:20px; text-align:justify;">
                                            <b>
                                                El Municipio de San Lucas a través del H. Ayuntamiento Municipal, agradece al Gobierno del Estado y al Gobernador Ing. Silvano Aureoles Conejo, por la entrega de una ambulancia equipada para el servicio de las familias del municipio, 2017/agomente a las familias mas vulnerables, recurso que será usado de forma gratuita a diferentes partes de la República, así lo ha dispuesto e instruido el C. Arturo Torres Aguirre presidente municipal de San Lucas.
                                            </b>
                                        </p>
                                        <div class="col-lg-3">
                                            <figure>
                                                <a href="Libreria/img/2017/ago/ambulancia_equipada/img1.jpg" target="_blank">
                                                    <img src="Libreria/img/2017/ago/ambulancia_equipada/img1.jpg" class="thumbnail img-responsive" alt="img" />
                                                </a>
                                            </figure>
                                        </div>
                                        <div class="col-lg-3">
                                            <figure>
                                                <a href="Libreria/img/2017/ago/ambulancia_equipada/img2.jpg" target="_blank">
                                                    <img src="Libreria/img/2017/ago/ambulancia_equipada/img2.jpg" class="thumbnail img-responsive" alt="img" />
                                                </a>
                                            </figure>
                                        </div>
                                        <div class="col-lg-3">
                                            <figure>
                                                <a href="Libreria/img/2017/ago/ambulancia_equipada/img3.jpg" target="_blank">
                                                    <img src="Libreria/img/2017/ago/ambulancia_equipada/img3.jpg" class="thumbnail img-responsive" alt="img" />
                                                </a>
                                            </figure>
                                        </div>
                                        <div class="col-lg-3">
                                            <figure>
                                                <a href="Libreria/img/2017/ago/ambulancia_equipada/img4.jpg" target="_blank">
                                                    <img src="Libreria/img/2017/ago/ambulancia_equipada/img4.jpg" class="thumbnail img-responsive" alt="img" />
                                                </a>
                                            </figure>
                                        </div>
                                    </div>
                                </div>
                            </article>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3"><!-- Barra lateral -->
            <aside>
                <?php 
                    include "Vista/main.phtml";
                    include "Vista/submenu.phtml";
                ?>
            </aside>
        </div><!-- end BL -->
    </div>
</section>
