<section>
    <div id="centro">
        <a href="?fp=principal"><i class="fa fa-fw fa-home"></i>Home</a>
        <img src="Libreria/img/login.png" /><b>Videos</b>
    </div>
    <hr />
    <div class="row">
        <div class="col-md-9">
            <article>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h1 style="font-size: xx-large;"><b>Videos</b></h1>
                    </div>
                    <div class="panel-body">
                        <center>
                            <video  controls="" class="img-responsive">
                                <source src="Libreria/mov/san_lucas_mich.mp4" type="video/mp4" />
                            </video>
                            <br />
                            <br />
                            <p>
                                Video que nos muestra un poco de imagenes de la trayectoria del 
                                desarrollo y cresimiento de San Lucas, Michoacán.  
                            </p>
                        </center>
                    </div>
                </div>
            </article>
        </div>
        <div class="col-md-3">
            <aside>
                <?php include "Vista/submenu.phtml"; ?>
            </aside>
        </div>
    </div>
</section>