<section>
    <div class="row">
        <div class="col-md-9">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h1 style="font-size: xx-large;"><b>Eventos Realizados el Mes de Noviembre 2017</b></h1>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            <article>
                                <div class="panel panel-success">
                                    <div class="panel-heading">
                                        <b style="font-size: 20px;">Planeación de Proyectos Productivos .:. H. Ayuntamiento de San Lucas, Mich.</b>
                                    </div>
                                    <time datetime="2017-11-16" style="color:grey;text-align:justify;">
                                        publicado el jueves, 16 de noviembre de 2017.
                                    </time>
                                    <div class="panel-body">
                                    <div class="row">
                                        <p style="padding:20px; text-align:justify; font-size: 20px;">
                                            <b>
                                                De forma coordinada con Comisión Nacional Forestal (CONAFOR), Comisión Forestal de Michoacán (COFOM) y Gobierno Municipal de San Lucas, promueven programa "Plantaciones Forestales Comersiales" a autoridades agrarias y auxiliares del muninicipio, con el fin de planear proyectos productivos factibles y aplicar en el año 2018, y así rescatar el entorno ecológico, en selva baja de Tierra Caliente.
                                            </b>
                                        </p>  
                                        <div class="col-lg-4">
                                            <figure>
                                                <a href="Libreria/img/2017/nov/forestal/img1.jpg" target="_blank">
                                                    <img src="Libreria/img/2017/nov/forestal/img1.jpg" class="thumbnail img-responsive" alt="img" />
                                                </a>
                                            </figure>
                                        </div>
                                        <div class="col-lg-4">
                                            <figure>
                                                <a href="Libreria/img/2017/nov/forestal/img2.jpg" target="_blank">
                                                    <img src="Libreria/img/2017/nov/forestal/img2.jpg" class="thumbnail img-responsive" alt="img" />
                                                </a>
                                            </figure>
                                        </div>
                                        <div class="col-lg-4">
                                            <figure>
                                                <a href="Libreria/img/2017/nov/forestal/img3.jpg" target="_blank">
                                                    <img src="Libreria/img/2017/nov/forestal/img3.jpg" class="thumbnail img-responsive" alt="img" />
                                                </a>
                                            </figure>
                                        </div>
                                    </div>
                                    </div>
                                </div>
                            </article>
                            <article>
                                <div class="panel panel-success">
                                    <div class="panel-heading">
                                        <b style="font-size: 20px;">Banderazo a Construcción de Drenajes Sanitarios .:. H. Ayuntamiento de San Lucas, Mich.</b>
                                    </div>
                                    <time datetime="2017-11-17" style="color:grey;text-align:justify;">
                                        publicado el viernes, 17 de noviembre de 2017.
                                    </time>
                                    <div class="panel-body">
                                    <div class="row">
                                        <p style="padding:20px; text-align:justify; font-size: 20px;">
                                            <b>
                                                En localidad de Riva Palacio, el C. Arturo Torres Aguirre presidente Municipal de San Lucas en compañía de vecino, y equipo de trabajo, dio banderazo de arranque de obra: Construcción de drenajes sanitarios en calles Corrregidora, Benito Juarez, y de colonia Camelinas.
                                            </b>
                                        </p>  
                                        <div class="col-lg-4">
                                            <figure>
                                                <a href="Libreria/img/2017/nov/drenajes/img1.jpg" target="_blank">
                                                    <img src="Libreria/img/2017/nov/drenajes/img1.jpg" class="thumbnail img-responsive" alt="img" />
                                                </a>
                                            </figure>
                                        </div>
                                        <div class="col-lg-4">
                                            <figure>
                                                <a href="Libreria/img/2017/nov/drenajes/img2.jpg" target="_blank">
                                                    <img src="Libreria/img/2017/nov/drenajes/img2.jpg" class="thumbnail img-responsive" alt="img" />
                                                </a>
                                            </figure>
                                        </div>
                                        <div class="col-lg-4">
                                            <figure>
                                                <a href="Libreria/img/2017/nov/drenajes/img3.jpg" target="_blank">
                                                    <img src="Libreria/img/2017/nov/drenajes/img3.jpg" class="thumbnail img-responsive" alt="img" />
                                                </a>
                                            </figure>
                                        </div>
                                    </div>
                                    </div>
                                </div>
                            </article>
                            <article>
                                <div class="panel panel-success">
                                    <div class="panel-heading">
                                        <b style="font-size: 20px;">Banderazo de Obra a Pavimentación con Concreto .:. H. Ayuntamiento de San Lucas, Mich.</b>
                                    </div>
                                    <time datetime="2017-11-17" style="color:grey;text-align:justify;">
                                        publicado el viernes, 17 de noviembre de 2017.
                                    </time>
                                    <div class="panel-body">
                                    <div class="row">
                                        <p style="padding:20px; text-align:justify; font-size: 20px;">
                                            <b>
                                                Presidente Municipal de San Lucas el C. Arturo Torres Aguirre en compañía de equipo de trabajo de H. Ayuntamiento y pobladores de localidad La Chica dieron banderazo de arranque de obra: Pavimentación con concreto asfáltico en tramo carretero Santa Cruz- La Chica.
                                            </b>
                                        </p>  
                                        <div class="col-lg-4">
                                            <figure>
                                                <a href="Libreria/img/2017/nov/pavimentacion/img1.jpg" target="_blank">
                                                    <img src="Libreria/img/2017/nov/pavimentacion/img1.jpg" class="thumbnail img-responsive" alt="img" />
                                                </a>
                                            </figure>
                                        </div>
                                        <div class="col-lg-4">
                                            <figure>
                                                <a href="Libreria/img/2017/nov/pavimentacion/img2.jpg" target="_blank">
                                                    <img src="Libreria/img/2017/nov/pavimentacion/img2.jpg" class="thumbnail img-responsive" alt="img" />
                                                </a>
                                            </figure>
                                        </div>
                                        <div class="col-lg-4">
                                            <figure>
                                                <a href="Libreria/img/2017/nov/pavimentacion/img3.jpg" target="_blank">
                                                    <img src="Libreria/img/2017/nov/pavimentacion/img3.jpg" class="thumbnail img-responsive" alt="img" />
                                                </a>
                                            </figure>
                                        </div>
                                    </div>
                                    </div>
                                </div>
                            </article>
                            <article>
                                <div class="panel panel-success">
                                    <div class="panel-heading">
                                        <b style="font-size: 20px;">Apoyo de Construcción en escuela primaria .:. H. Ayuntamiento de San Lucas, Mich.</b>
                                    </div>
                                    <time datetime="2017-11-17" style="color:grey;text-align:justify;">
                                        publicado el viernes, 17 de noviembre de 2017.
                                    </time>
                                    <div class="panel-body">
                                    <div class="row">
                                        <p style="padding:20px; text-align:justify; font-size: 20px;">
                                            <b>
                                                En comunidad de Santa Cruz el C. Arturo Torres Aguirre, presidente Municipal de San Lucas, hizo compromiso de apoyo para construcción de techo en Primaria Miguel Hidalgo y Costilla, con grupo de docentes de dicha institución.
                                            </b>
                                        </p>  
                                        <div class="col-lg-4">
                                            <figure>
                                                <a href="Libreria/img/2017/nov/primaria/img1.jpg" target="_blank">
                                                    <img src="Libreria/img/2017/nov/primaria/img1.jpg" class="thumbnail img-responsive" alt="img" />
                                                </a>
                                            </figure>
                                        </div>
                                        <div class="col-lg-4">
                                            <figure>
                                                <a href="Libreria/img/2017/nov/primaria/img2.jpg" target="_blank">
                                                    <img src="Libreria/img/2017/nov/primaria/img2.jpg" class="thumbnail img-responsive" alt="img" />
                                                </a>
                                            </figure>
                                        </div>
                                        <div class="col-lg-4">
                                            <figure>
                                                <a href="Libreria/img/2017/nov/primaria/img3.jpg" target="_blank">
                                                    <img src="Libreria/img/2017/nov/primaria/img3.jpg" class="thumbnail img-responsive" alt="img" />
                                                </a>
                                            </figure>
                                        </div>
                                    </div>
                                    </div>
                                </div>
                            </article>
                            <article>
                                <div class="panel panel-success">
                                    <div class="panel-heading">
                                        <b style="font-size: 20px;"> .:. H. Ayuntamiento de San Lucas, Mich.</b>
                                    </div>
                                    <time datetime="2017-11-21" style="color:grey;text-align:justify;">
                                        publicado el martes, 21 de noviembre de 2017.
                                    </time>
                                    <div class="panel-body">
                                    <div class="row">
                                        <p style="padding:20px; text-align:justify; font-size: 20px;">
                                            <b>
                                                El presidente municipal de San Lucas C.Arturo Torres Aguirre asistió a presenciar y dar bienvenida: Reto Náutico del Balsas en localidad de San Pedrito.
                                            </b>
                                        </p>  
                                        <div class="col-lg-6">
                                            <figure>
                                                <a href="Libreria/img/2017/nov/nautico/img1.jpg" target="_blank">
                                                    <img src="Libreria/img/2017/nov/nautico/img1.jpg" class="thumbnail img-responsive" alt="img" />
                                                </a>
                                            </figure>
                                        </div>
                                        <div class="col-lg-6">
                                            <figure>
                                                <a href="Libreria/img/2017/nov/nautico/img2.jpg" target="_blank">
                                                    <img src="Libreria/img/2017/nov/nautico/img2.jpg" class="thumbnail img-responsive" alt="img" />
                                                </a>
                                            </figure>
                                        </div>
                                    </div>
                                    </div>
                                </div>
                            </article>
                            <article>
                                <div class="panel panel-success">
                                    <div class="panel-heading">
                                        <b style="font-size: 20px;">Tradicional Desfile Conmemorativo del 20 de noviembre .:. H. Ayuntamiento de San Lucas, Mich.</b>
                                    </div>
                                    <time datetime="2017-11-21" style="color:grey;text-align:justify;">
                                        publicado el martes, 21 de noviembre de 2017.
                                    </time>
                                    <div class="panel-body">
                                    <div class="row">
                                        <p style="padding:20px; text-align:justify; font-size: 20px;">
                                            <b>
                                                Hace acto de presencia H. Ayuntamiento Constitucional de San Lucas y DIF Municipal en el tradicional desfile conmemorativo del 20 de noviembre, presidido por el C. Arturo Torres Aguirre Presidente Municipal, con la participación de instituciones educativas en diversos contingentes.
                                            </b>
                                        </p>  
                                        <div class="col-lg-6">
                                            <figure>
                                                <a href="Libreria/img/2017/nov/20_noviembre/img1.jpg" target="_blank">
                                                    <img src="Libreria/img/2017/nov/20_noviembre/img1.jpg" class="thumbnail img-responsive" alt="img" />
                                                </a>
                                            </figure>
                                        </div>
                                        <div class="col-lg-6">
                                            <figure>
                                                <a href="Libreria/img/2017/nov/20_noviembre/img2.jpg" target="_blank">
                                                    <img src="Libreria/img/2017/nov/20_noviembre/img2.jpg" class="thumbnail img-responsive" alt="img" />
                                                </a>
                                            </figure>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <figure>
                                                <a href="Libreria/img/2017/nov/20_noviembre/img3.jpg" target="_blank">
                                                    <img src="Libreria/img/2017/nov/20_noviembre/img3.jpg" class="thumbnail img-responsive" alt="img" />
                                                </a>
                                            </figure>
                                        </div>
                                        <div class="col-lg-6">
                                            <figure>
                                                <a href="Libreria/img/2017/nov/20_noviembre/img4.jpg" target="_blank">
                                                    <img src="Libreria/img/2017/nov/20_noviembre/img4.jpg" class="thumbnail img-responsive" alt="img" />
                                                </a>
                                            </figure>
                                        </div>
                                    </div>
                                    </div>
                                </div>
                            </article>
                            <article>
                                <div class="panel panel-success">
                                    <div class="panel-heading">
                                        <b style="font-size: 20px;">Arranque de Obra Col. Corral de Toros en San Lucas .:. H. Ayuntamiento de San Lucas, Mich.</b>
                                    </div>
                                    <time datetime="2017-11-21" style="color:grey;text-align:justify;">
                                        publicado el martes, 21 de noviembre de 2017.
                                    </time>
                                    <div class="panel-body">
                                    <div class="row">
                                        <p style="padding:20px; text-align:justify; font-size: 20px;">
                                            <b>
                                                El día lunes 20 de noviembre de 2017, el C.Arturo Torres Aguirre, acompañado de vecinos beneficiados diò, Banderazo de arranque de obra: Construccion de drenaje sanitario en colonia Corral de Toros en San Lucas, Mich.
                                            </b>
                                        </p>  
                                        <div class="col-lg-6">
                                            <figure>
                                                <a href="Libreria/img/2017/nov/drenaje/img1.jpg" target="_blank">
                                                    <img src="Libreria/img/2017/nov/drenaje/img1.jpg" class="thumbnail img-responsive" alt="img" />
                                                </a>
                                            </figure>
                                        </div>
                                        <div class="col-lg-6">
                                            <figure>
                                                <a href="Libreria/img/2017/nov/drenaje/img2.jpg" target="_blank">
                                                    <img src="Libreria/img/2017/nov/drenaje/img2.jpg" class="thumbnail img-responsive" alt="img" />
                                                </a>
                                            </figure>
                                        </div>
                                    </div>
                                    </div>
                                </div>
                            </article>
                            <article>
                                <div class="panel panel-success">
                                    <div class="panel-heading">
                                        <b style="font-size: 20px;">Banderazo de Arranque de Obra en Loc. Santa Cruz .:. H. Ayuntamiento de San Lucas, Mich.</b>
                                    </div>
                                    <time datetime="2017-11-21" style="color:grey;text-align:justify;">
                                        publicado el martes, 21 de noviembre de 2017.
                                    </time>
                                    <div class="panel-body">
                                    <div class="row">
                                        <p style="padding:20px; text-align:justify; font-size: 20px;">
                                            <b>
                                                El C. Arturo Torres Aguirre dió banderazo de arranque de obra: Construcción de techo estructural en Primaria Miguel Hidalgo y Costilla en localidad de Santa Cruz de Villagomez.
                                            </b>
                                        </p>
                                        <div class="col-lg-12">
                                            <figure>
                                                <a href="Libreria/img/2017/nov/santa_cruz/img1.jpg" target="_blank">
                                                    <img src="Libreria/img/2017/nov/santa_cruz/img1.jpg" class="thumbnail img-responsive" alt="img" />
                                                </a>
                                            </figure>
                                        </div>
                                    </div>
                                    <div class="row">
                                    <div class="col-lg-6">
                                        <figure>
                                            <a href="Libreria/img/2017/nov/santa_cruz/img2.jpg" target="_blank">
                                                <img src="Libreria/img/2017/nov/santa_cruz/img2.jpg" class="thumbnail img-responsive" alt="img" />
                                            </a>
                                        </figure>
                                        </div>
                                        <div class="col-lg-6">
                                            <figure>
                                                <a href="Libreria/img/2017/nov/santa_cruz/img3.jpg" target="_blank">
                                                    <img src="Libreria/img/2017/nov/santa_cruz/img3.jpg" class="thumbnail img-responsive" alt="img" />
                                                </a>
                                            </figure>
                                        </div>
                                    </div>
                                    </div>
                                </div>
                            </article>
                            <article>
                                <div class="panel panel-success">
                                    <div class="panel-heading">
                                        <b style="font-size: 20px;">Arranque de Obra Parque Creativo.:. H. Ayuntamiento de San Lucas, Mich.</b>
                                    </div>
                                    <time datetime="2017-11-22" style="color:grey;text-align:justify;">
                                        publicado el miércoles, 22 de noviembre de 2017.
                                    </time>
                                    <div class="panel-body">
                                    <div class="row">
                                        <p style="padding:20px; text-align:justify; font-size: 20px;">
                                            <b>
                                                En localidad de Riva Palacio el C. Arturo Torres Aguirre y vecinos, dieron banderazo al arranque de obra: Construcción de parque recreativo 1era etapa en esta Tenencia.
                                            </b>
                                        </p>  
                                        <div class="col-lg-6">
                                            <figure>
                                                <a href="Libreria/img/2017/nov/parque/img1.jpg" target="_blank">
                                                    <img src="Libreria/img/2017/nov/parque/img1.jpg" class="thumbnail img-responsive" alt="img" />
                                                </a>
                                            </figure>
                                        </div>
                                        <div class="col-lg-6">
                                            <figure>
                                                <a href="Libreria/img/2017/nov/parque/img2.jpg" target="_blank">
                                                    <img src="Libreria/img/2017/nov/parque/img2.jpg" class="thumbnail img-responsive" alt="img" />
                                                </a>
                                            </figure>
                                        </div>
                                    </div>
                                    </div>
                                </div>
                            </article>
                            <article>
                                <div class="panel panel-success">
                                    <div class="panel-heading">
                                        <b style="font-size: 20px;">Entregaron de Becas a Personas con Discapacidad .:. H. Ayuntamiento de San Lucas, Mich.</b>
                                    </div>
                                    <time datetime="2017-11-22" style="color:grey;text-align:justify;">
                                        publicado el miércoles, 22 de noviembre de 2017.
                                    </time>
                                    <div class="panel-body">
                                    <div class="row">
                                        <p style="padding:20px; text-align:justify; font-size: 20px;">
                                            <b>
                                                En compañía de C. Arturo Torres Aguirre, la presidenta de DIF San Lucas C. Josefina Osorio y el representante de DIF estatal Ing. Moises Albarran Gonzalez entregaron becas a personas con discapacidad.
                                            </b>
                                        </p>
                                        <div class="col-lg-4">
                                            <figure>
                                                <a href="Libreria/img/2017/nov/discapacidad/img1.jpg" target="_blank">
                                                    <img src="Libreria/img/2017/nov/discapacidad/img1.jpg" class="thumbnail img-responsive" alt="img" />
                                                </a>
                                            </figure>
                                        </div>
                                        <div class="col-lg-4">
                                            <figure>
                                                <a href="Libreria/img/2017/nov/discapacidad/img2.jpg" target="_blank">
                                                    <img src="Libreria/img/2017/nov/discapacidad/img2.jpg" class="thumbnail img-responsive" alt="img" />
                                                </a>
                                            </figure>
                                        </div>
                                        <div class="col-lg-4">
                                            <figure>
                                                <a href="Libreria/img/2017/nov/discapacidad/img3.jpg" target="_blank">
                                                    <img src="Libreria/img/2017/nov/discapacidad/img3.jpg" class="thumbnail img-responsive" alt="img" />
                                                </a>
                                            </figure>
                                        </div>
                                    </div>
                                    </div>
                                </div>
                            </article>
                            <article>
                                <div class="panel panel-success">
                                    <div class="panel-heading">
                                        <b style="font-size: 20px;">Gestión del Proyecto de Manejo de Residuos Sólidos .:. H. Ayuntamiento de San Lucas, Mich.</b>
                                    </div>
                                    <time datetime="2017-11-22" style="color:grey;text-align:justify;">
                                        publicado el miércoles, 22 de noviembre de 2017.
                                    </time>
                                    <div class="panel-body">
                                    <div class="row">
                                        <p style="padding:20px; text-align:justify; font-size: 20px;">
                                            <b>
                                                En el marco de la gestión del proyecto de manejo de residuos sólidos de forma integral en el municipio de San Lucas, se reunieron el C. Hector Torres Camacho,y Lic. Eva Barriga representando al Centro Estatal para el Desarrollo Municipal (CEDEMUN) con el C, Arturo Torres Aguirre presidente municipal de San Lucas,promoviendo también la gestión de planta tratadora de aguas residuales.
                                            </b>
                                        </p>  
                                        <div class="col-lg-6">
                                            <figure>
                                                <a href="Libreria/img/2017/nov/cedemun/img1.jpg" target="_blank">
                                                    <img src="Libreria/img/2017/nov/cedemun/img1.jpg" class="thumbnail img-responsive" alt="img" />
                                                </a>
                                            </figure>
                                        </div>
                                        <div class="col-lg-6">
                                            <figure>
                                                <a href="Libreria/img/2017/nov/cedemun/img2.jpg" target="_blank">
                                                    <img src="Libreria/img/2017/nov/cedemun/img2.jpg" class="thumbnail img-responsive" alt="img" />
                                                </a>
                                            </figure>
                                        </div>
                                    </div>
                                    </div>
                                </div>
                            </article>
                            <article>
                                <div class="panel panel-success">
                                    <div class="panel-heading">
                                        <b style="font-size: 20px;">Inicia el Rastreo de Caminos en las Distintas Localidades del Municipio .:. H. Ayuntamiento de San Lucas, Mich.</b>
                                    </div>
                                    <time datetime="2017-11-27" style="color:grey;text-align:justify;">
                                        publicado el lunes, 27 de noviembre de 2017.
                                    </time>
                                    <div class="panel-body">
                                    <div class="row">
                                        <p style="padding:20px; text-align:justify; font-size: 20px;">
                                            <b>
                                                Con el objetivo de garantizar condiciones de accesibilidad peatonal y vehicular, el alcalde de San Lucas, C. Arturo Torres Aguirre, puso en marcha el rastreo de caminos en las distintas localidades y comunidades del municipio. Dichas acciones se realizan en coordinación con los funcionarios de la Dirección de Obras Públicas, a través del cual se han beneficiado cientos de familias de las localidades de Ceibas Altas, Corupo, Brasiles, Monte Grande, Querutzeo, El Tule, San Pedrito, La Cuchilla, Huitzucatas, San Pedro, Terrero Prieto, brecha San Lucas - salida a Cuirindichapio, El Apartadero, Ceiba Seca y La Quiringucua.
                                            </b>
                                        </p>  
                                        <div class="col-lg-3">
                                            <figure>
                                                <a href="Libreria/img/2017/nov/rastreo/img1.jpg" target="_blank">
                                                    <img src="Libreria/img/2017/nov/rastreo/img1.jpg" class="thumbnail img-responsive" alt="img" />
                                                </a>
                                            </figure>
                                        </div>
                                        <div class="col-lg-3">
                                            <figure>
                                                <a href="Libreria/img/2017/nov/rastreo/img2.jpg" target="_blank">
                                                    <img src="Libreria/img/2017/nov/rastreo/img2.jpg" class="thumbnail img-responsive" alt="img" />
                                                </a>
                                            </figure>
                                        </div>
                                        <div class="col-lg-3">
                                            <figure>
                                                <a href="Libreria/img/2017/nov/rastreo/img3.jpg" target="_blank">
                                                    <img src="Libreria/img/2017/nov/rastreo/img3.jpg" class="thumbnail img-responsive" alt="img" />
                                                </a>
                                            </figure>
                                        </div>
                                        <div class="col-lg-3">
                                            <figure>
                                                <a href="Libreria/img/2017/nov/rastreo/img4.jpg" target="_blank">
                                                    <img src="Libreria/img/2017/nov/rastreo/img4.jpg" class="thumbnail img-responsive" alt="img" />
                                                </a>
                                            </figure>
                                        </div>
                                    </div>
                                    </div>
                                </div>
                            </article>
                            <article>
                                <div class="panel panel-success">
                                    <div class="panel-heading">
                                        <b style="font-size: 20px;">Arranque de la Capacitación del Programa de Apoyo a las Mujeres .:. H. Ayuntamiento de San Lucas, Mich.</b>
                                    </div>
                                    <time datetime="2017-11-27" style="color:grey;text-align:justify;">
                                        publicado el lunes, 27 de noviembre de 2017.
                                    </time>
                                    <div class="panel-body">
                                    <div class="row">
                                        <p style="padding:20px; text-align:justify; font-size: 20px;">
                                            <b>
                                                El gobierno estatal a través de Secretaria de Igualdad Sustantiva, que encabeza la Mtra. Fabiola Alanis Samano, de manera coordinada con el C. Arturo Torres Aguirre y por medio de la dirección de Instancia de la Mujer de Ayuntamiento de San Lucas, invita al arranque de la capacitación del programa de apoyo denominada:Genero, violencia, derechos humanos, salud emocional,con motivo del día internacional de la no violencia en contra de la mujer.
                                                Misma a realizarse el día 27 de noviembre a partir de las 10:00 am en el salón de usos múltiples "Las Camelinas" en la cabecera municipal.
                                            </b>
                                        </p>  
                                        <div class="col-lg-1"></div>
                                        <div class="col-lg-10">
                                            <figure>
                                                <a href="Libreria/img/2017/nov/igualdad/img1.jpg" target="_blank">
                                                    <img src="Libreria/img/2017/nov/igualdad/img1.jpg" class="thumbnail img-responsive" alt="img" />
                                                </a>
                                            </figure>
                                        </div>
                                        <div class="col-lg-1"></div>
                                    </div>
                                    </div>
                                </div>
                            </article>
                            <article>
                                <div class="panel panel-success">
                                    <div class="panel-heading">
                                        <b style="font-size: 20px;">Mantenimiento a Vías de Transporte .:. H. Ayuntamiento de San Lucas, Mich.</b>
                                    </div>
                                    <time datetime="2017-11-27" style="color:grey;text-align:justify;">
                                        publicado el lunes, 27 de noviembre de 2017.
                                    </time>
                                    <div class="panel-body">
                                    <div class="row">
                                        <p style="padding:20px; text-align:justify; font-size: 20px;">
                                            <b>
                                                Trabajos de mantenimiento, desmonte y despeje de vías de transporte carretero en caminos de comunidades como lo es San Pedrito, San Pedro, Los Brasiles, Corupo y La Cuchilla.
                                            </b>
                                        </p>  
                                        <div class="col-lg-6">
                                            <figure>
                                                <a href="Libreria/img/2017/nov/carreteras/img1.jpg" target="_blank">
                                                    <img src="Libreria/img/2017/nov/carreteras/img1.jpg" class="thumbnail img-responsive" alt="img" />
                                                </a>
                                            </figure>
                                        </div>
                                        <div class="col-lg-6">
                                            <figure>
                                                <a href="Libreria/img/2017/nov/carreteras/img2.jpg" target="_blank">
                                                    <img src="Libreria/img/2017/nov/carreteras/img2.jpg" class="thumbnail img-responsive" alt="img" />
                                                </a>
                                            </figure>
                                        </div>
                                    </div>
                                    </div>
                                </div>
                            </article>
                            <article>
                                <div class="panel panel-success">
                                    <div class="panel-heading">
                                        <b style="font-size: 20px;">Programa de Apoyo a Instancias de Mujeres .:. H. Ayuntamiento de San Lucas, Mich.</b>
                                    </div>
                                    <time datetime="2017-11-27" style="color:grey;text-align:justify;">
                                        publicado el lunes, 27 de noviembre de 2017.
                                    </time>
                                    <div class="panel-body">
                                    <div class="row">
                                        <p style="padding:20px; text-align:justify; font-size: 20px;">
                                            <b>
                                                En el marco de arranque de campaña de la capacitación de programa a apoyo a instancias de mujeres, el Gobierno del Estado y Gobierno Municipal encabezado por el C. Arturo Torres Aguirre,coordinan campaña de atención jurídica y psicológica, con horario de 10:00 a 3:00 pm frente a H. Ayuntamiento de San Lucas,donde intervienen expertos de Secretaria de Igualdad Sustantiva y Desarrollo de las Mujeres.
                                            </b>
                                        </p>  
                                        <div class="col-lg-4">
                                            <figure>
                                                <a href="Libreria/img/2017/nov/capacitacion/img1.jpg" target="_blank">
                                                    <img src="Libreria/img/2017/nov/capacitacion/img1.jpg" class="thumbnail img-responsive" alt="img" />
                                                </a>
                                            </figure>
                                        </div>
                                        <div class="col-lg-4">
                                            <figure>
                                                <a href="Libreria/img/2017/nov/capacitacion/img2.jpg" target="_blank">
                                                    <img src="Libreria/img/2017/nov/capacitacion/img2.jpg" class="thumbnail img-responsive" alt="img" />
                                                </a>
                                            </figure>
                                        </div>
                                        <div class="col-lg-4">
                                            <figure>
                                                <a href="Libreria/img/2017/nov/capacitacion/img3.jpg" target="_blank">
                                                    <img src="Libreria/img/2017/nov/capacitacion/img3.jpg" class="thumbnail img-responsive" alt="img" />
                                                </a>
                                            </figure>
                                        </div>
                                    </div>
                                    </div>
                                </div>
                            </article>
                            <article>
                                <div class="panel panel-success">
                                    <div class="panel-heading">
                                        <b style="font-size: 20px;">Entrega de Rollos de Apoyo a Ganaderos del Municipio  .:. H. Ayuntamiento de San Lucas, Mich.</b>
                                    </div>
                                    <time datetime="2017-11-29" style="color:grey;text-align:justify;">
                                        publicado el miércoles, 29 de noviembre de 2017.
                                    </time>
                                    <div class="panel-body">
                                    <div class="row">
                                        <p style="padding:20px; text-align:justify; font-size: 20px;">
                                            <b>
                                                El Gobierno del Estado de Michoacan a través de la delegación 08 Región Huetamo, de forma coordinada con Gobierno Municipal de San Lucas por medio de Departamento de Desarrollo Rural hace entrega de rollos de alambre de púas y malla borreguera a ganaderos del municipio de San Lucas, para mejoramiento de su actividad económica.
                                            </b>
                                        </p>  
                                        <div class="col-lg-4">
                                            <figure>
                                                <a href="Libreria/img/2017/nov/economia/img1.jpg" target="_blank">
                                                    <img src="Libreria/img/2017/nov/economia/img1.jpg" class="thumbnail img-responsive" alt="img" />
                                                </a>
                                            </figure>
                                        </div>
                                        <div class="col-lg-4">
                                            <figure>
                                                <a href="Libreria/img/2017/nov/economia/img2.jpg" target="_blank">
                                                    <img src="Libreria/img/2017/nov/economia/img2.jpg" class="thumbnail img-responsive" alt="img" />
                                                </a>
                                            </figure>
                                        </div>
                                        <div class="col-lg-4">
                                            <figure>
                                                <a href="Libreria/img/2017/nov/economia/img3.jpg" target="_blank">
                                                    <img src="Libreria/img/2017/nov/economia/img3.jpg" class="thumbnail img-responsive" alt="img" />
                                                </a>
                                            </figure>
                                        </div>
                                    </div>
                                    </div>
                                </div>
                            </article>
                            <article>
                                <div class="panel panel-success">
                                    <div class="panel-heading">
                                        <b style="font-size: 20px;">Jefatura de Tenencia Santa Cruz de Villagomez .:. H. Ayuntamiento de San Lucas, Mich.</b>
                                    </div>
                                    <time datetime="2017-11-29" style="color:grey;text-align:justify;">
                                        publicado el miércoles, 29 de noviembre de 2017.
                                    </time>
                                    <div class="panel-body">
                                    <div class="row">
                                        <p style="padding:20px; text-align:justify; font-size: 20px;">
                                            <b>
                                                Participación de H.Ayuntamiento de San Lucas acompañando a los diferentes niveles educativos de la localidad,en desfile conmemorativo por el 111 Aniversario de elevacion a Jefatura de Tenencia Santa Cruz de Villagomez.
                                            </b>
                                        </p>  
                                        <div class="col-lg-4">
                                            <figure>
                                                <a href="Libreria/img/2017/nov/tenencia/img1.jpg" target="_blank">
                                                    <img src="Libreria/img/2017/nov/tenencia/img1.jpg" class="thumbnail img-responsive" alt="img" />
                                                </a>
                                            </figure>
                                        </div>
                                        <div class="col-lg-4">
                                            <figure>
                                                <a href="Libreria/img/2017/nov/tenencia/img2.jpg" target="_blank">
                                                    <img src="Libreria/img/2017/nov/tenencia/img2.jpg" class="thumbnail img-responsive" alt="img" />
                                                </a>
                                            </figure>
                                        </div>
                                        <div class="col-lg-4">
                                            <figure>
                                                <a href="Libreria/img/2017/nov/tenencia/img3.jpg" target="_blank">
                                                    <img src="Libreria/img/2017/nov/tenencia/img3.jpg" class="thumbnail img-responsive" alt="img" />
                                                </a>
                                            </figure>
                                        </div>
                                    </div>
                                    </div>
                                </div>
                            </article>
                            <article>
                                <div class="panel panel-success">
                                    <div class="panel-heading">
                                        <b style="font-size: 20px;">Atención a la Salud "Convoy" .:. H. Ayuntamiento de San Lucas, Mich.</b>
                                    </div>
                                    <time datetime="2017-11-30" style="color:grey;text-align:justify;">
                                        publicado el jueves, 30 de noviembre de 2017.
                                    </time>
                                    <div class="panel-body">
                                    <div class="row">
                                        <p style="padding:20px; text-align:justify; font-size: 20px;">
                                            <b>
                                                Para dar cumplimiento al eje estratégico de atención a la salud del municipio contemplado en el Plan Municipal 2015-2018, se acordó una agenda de atención para la operación de campaña denominada: Convoy de la Salud, del 04 al 13 de Diciembre, con la coordinación de Gobierno municipal y estatal a través de la Jurisdicción 03 de Zitacuaro,Centro de Salud de San Lucas, y DIF Municipal. 
                                                En dicha campaña se realizaran:<br/>
                                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;■ Ultrasonido mamario<br/>
                                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;■ Ultrasonido ginecólogo y obstetrico<br/>
                                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;■ Electrocardiograma<br/>
                                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;■ Radiografía de tórax<br/>
                                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;■ Densitometria<br/>
                                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;■ Estudios de laboratorio<br/>
                                                Los beneficiarios de esta campaña se coordinaran con su clínica correspondiente para una mejor atención y aprovechamiento de esta jornada de salud.
                                            </b>
                                        </p>  
                                        <div class="col-lg-6">
                                            <figure>
                                                <a href="Libreria/img/2017/nov/convoy_salud/img1.jpg" target="_blank">
                                                    <img src="Libreria/img/2017/nov/convoy_salud/img1.jpg" class="thumbnail img-responsive" alt="img" />
                                                </a>
                                            </figure>
                                        </div>
                                        <div class="col-lg-6">
                                            <figure>
                                                <a href="Libreria/img/2017/nov/convoy_salud/img2.jpg" target="_blank">
                                                    <img src="Libreria/img/2017/nov/convoy_salud/img2.jpg" class="thumbnail img-responsive" alt="img" />
                                                </a>
                                            </figure>
                                        </div>
                                    </div>
                                    </div>
                                </div>
                            </article>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3"><!-- Barra lateral -->
            <aside>
                <?php 
                    include "Vista/main.phtml";
                    include "Vista/submenu.phtml";
                ?>
            </aside>
        </div><!-- end BL -->
    </div>
</section>
