<section>
    <div id="centro">
        <a href="?fp=principal"><i class="fa fa-fw fa-home"></i>Home</a>
        <img src="Libreria/img/login.png" alt="Home" /><b>Funcionarios</b>
    </div>
    <hr />
    <div class="row">
        <div class="col-md-9">
            <article>
                <div class="panel panel-default">
					<div class="panel-heading">
                        <h1 style="font-size: xx-large;"><b>Funcionarios</b></h1>
                    </div>
					<div class="panel-body">
                        <div class="container-fluit" >
                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th style="font-size: x-large;">FUNCIONARIO</th>
                                            <th style="font-size: x-large;">CARGO</th>
                                            <th style="font-size: x-large;">CONTACTO</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr style="background: #EFEFEF;">
                                            <td>
                                                <figure>
                                                    <a href="Libreria/img/funcionarios/user_arturo.jpg" target="_blank">
                                                        <img src="Libreria/img/funcionarios/user_arturo.jpg"
                                                        class="img-responsive img-thumbnail formimg" alt="perfil user" />
                                                    </a>
                                                    <figcaption>
                                                        <b style="font-size: large;">C. Arturo Torres Aguirre</b>
                                                    </figcaption>
                                                </figure>
                                                <a "Libreria\pdf\funcionarios\lopez_bolivar.pdf" target="_blank">Ver Curriculum</a>
                                            </td>
                                            <td>
                                                <i class="fa fa-fw fa-street-view"></i>
                                                <p><a href="?fp=cargo_presidente">Presidente</a></p>
                                            </td>
                                            <td><br /><br />
                                                <p><i class="fa fa-fw fa-home"></i>Vicente Riva Palacio, San Lucas Mich.</p><br />
                                                <p><i class="fa fa-fw fa-mobile-phone"></i>(767) - 107 - 3193</p><br />
                                                <p><i class="fa fa-fw fa-envelope"></i>presidencia@transparenciasanlucas.gob.mx</p>
                                            </td>
                                        </tr>
                                        <tr style="background: #F7FBFB;">
                                            <td>
                                                <figure>
                                                    <a href="Libreria/img/funcionarios/user_bolivar.jpg" target="_blank">
                                                        <img src="Libreria/img/funcionarios/user_bolivar.jpg"
                                                        class="img-responsive img-thumbnail formimg" alt="perfil user" />
                                                    </a>
                                                    <figcaption>
                                                        <b style="font-size: large;">C. Bol&iacute;var  L&oacute;pez Renter&iacute;a</b>
                                                    </figcaption>
                                                </figure>
                                                <a href="Libreria\pdf\funcionarios\lopez_bolivar.pdf" target="_blank">Ver Curriculum</a>
                                            </td>
                                            <td>
                                                <i class="fa fa-fw fa-street-view"></i>
                                                <p><a href="?fp=cargo_sindico">S&iacute;ndico</a></p>
                                            </td>
                                            <td><br /><br />
                                                <p><i class="fa fa-fw fa-home"></i>Av. Servando Chavez, Col. Centro, San Lucas Mich.</p><br />
                                                <p><i class="fa fa-fw fa-mobile-phone"></i>(435) - 112 - 6970</p><br />
                                                <p><i class="fa fa-fw fa-envelope"></i>sindicatura@transparenciasanlucas.gob.mx</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <figure>
                                                    <a href="Libreria/img/funcionarios/user_armando.jpg" target="_blank">
                                                        <img src="Libreria/img/funcionarios/user_armando.jpg"
                                                        class="img-responsive img-thumbnail formimg" alt="perfil user" />
                                                    </a>
                                                    <figcaption>
                                                        <b style="font-size: large;">Ing. Armando Ant&uacute;nez Garc&iacute;a</b>
                                                    </figcaption>
                                                </figure>
                                                <a href="Libreria\pdf\funcionarios\antunez_armando.pdf" target="_blank" >Ver Curriculum</a>
                                            </td>
                                            <td>
                                                <i class="fa fa-fw fa-street-view"></i>
                                                <p><a href="?fp=cargo_tesoreria">Tesorer&iacute;a</a></p>
                                            </td>
                                            <td><br /><br />
                                                <p><i class="fa fa-fw fa-home"></i>Av. Miguel Hidalgo Ote. #37, Vicente Riva Palacio, San Lucas Mich.</p><br />
                                                <p><i class="fa fa-fw fa-mobile-phone"></i>(443) -129- 6677</p><br />
                                                <p><i class="fa fa-fw fa-envelope"></i>tesoreria@transparenciasanlucas.gob.mx</p>
                                            </td>
                                        </tr>
                                        
                                        <tr>
                                            <td>
                                                <figure>
                                                    <a href="Libreria/img/funcionarios/" target="_blank">
                                                        <img src="Libreria/img/funcionarios/"
                                                        class="img-responsive img-thumbnail formimg" alt="perfil user" />
                                                    </a>
                                                    <figcaption>
                                                        <b style="font-size: large;">C. Arnoldo Rodr&iacute;guez Baza</b>
                                                    </figcaption>
                                                </figure>
                                                
                                            </td>
                                            <td>
                                                <i class="fa fa-fw fa-street-view"></i>
                                                <p><a href="?fp=cargo_desarrollo_rural">Desarrollo Rural</a></p>
                                            </td>
                                            <td><br /><br />
                                                <p><i class="fa fa-fw fa-home"></i>Characharando, San lucas, Mich.</p><br />
                                                <p><i class="fa fa-fw fa-mobile-phone"></i>(767) - 112 - 3854 </p><br />
                                                <p><i class="fa fa-fw fa-envelope"></i>drsanlucas2015@hotmail.com</p>
                                            </td>
                                        </tr>
                                        <tr style="background: #F7FBFB;">
                                            <td>
                                                <figure>
                                                    <a href="Libreria/img/funcionarios/user_jorge.jpg" target="_blank" >
                                                        <img src="Libreria/img/funcionarios/user_jorge.jpg"
                                                        class="img-responsive img-thumbnail formimg" alt="perfil user" />
                                                    </a>
                                                    <figcaption>
                                                        <b style="font-size: large;">C. Jorge Ben&iacute;tez Mart&iacute;nez</b>
                                                    </figcaption>
                                                </figure>
                                                <a href="Libreria\pdf\funcionarios\benitez_jorge.pdf" target="_blank">Ver Curriculum</a>
                                            </td>
                                            <td>
                                                <i class="fa fa-fw fa-street-view"></i>
                                                <p>Jefe de Reglamentos</p>
                                            </td>
                                            <td><br /><br />
                                                <p><i class="fa fa-fw fa-home"></i>Tiringueo de Abajo, San Lucas Mich.</p><br />
                                                <p><i class="fa fa-fw fa-mobile-phone"></i>(435) - 101 - 0436</p><br />
                                                <p><i class="fa fa-fw fa-envelope"></i>NP ***</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <figure>
                                                    <a href="Libreria/img/funcionarios/user_rosa.jpg" target="_blank" >
                                                        <img src="Libreria/img/funcionarios/user_rosa.jpg"
                                                        class="img-responsive img-thumbnail formimg" alt="perfil user" />
                                                    </a>
                                                    <figcaption>
                                                        <b style="font-size: large;">Lic. Rosa Elia D&aacute;valos Santib&aacute;&ntilde;ez</b>
                                                    </figcaption>
                                                </figure>
                                                <a href="Libreria\pdf\funcionarios\davalos_rosa.pdf" target="_blank">Ver Curriculum</a>
                                            </td>
                                            <td>
                                                <i class="fa fa-fw fa-street-view"></i>
                                                <p>Directora Predial</p>
                                            </td>
                                            <td><br /><br />
                                                <p><i class="fa fa-fw fa-home"></i>Fraccionamiento S/N, Vicente Riva Palacio, San Lucas Mich.</p><br />
                                                <p><i class="fa fa-fw fa-mobile-phone"></i>(767) - 104 - 0410</p><br />
                                                <p><i class="fa fa-fw fa-envelope"></i>NP ***</p>
                                            </td>
                                        </tr>
                                        <tr style="background: #F7FBFB;">
                                            <td>
                                                <figure>
                                                    <a href="Libreria/img/funcionarios/user_maria.jpg" target="_blank" >
                                                        <img src="Libreria/img/funcionarios/user_maria.jpg"
                                                        class="img-responsive img-thumbnail formimg" alt="perfil user" />
                                                    </a>
                                                    <figcaption>
                                                        <b style="font-size: large;">Lic. Mar&iacute;a Rachel Jaimez Hern&aacute;ndez</b>
                                                    </figcaption>
                                                </figure>
                                                <a href="Libreria\pdf\funcionarios\jaimez_maria.pdf" target="_blank">Ver Curriculum</a>
                                            </td>
                                            <td>
                                                <i class="fa fa-fw fa-street-view"></i>
                                                <p><a href="?fp=cargo_contralora" >Contralora</a></p>
                                            </td>
                                            <td><br /><br />
                                                <p><i class="fa fa-fw fa-home"></i>Cuauhtemoc, San lucas Mich.</p><br />
                                                <p><i class="fa fa-fw fa-mobile-phone"></i>(435) - 678 - 3005</p><br />
                                                <p><i class="fa fa-fw fa-envelope"></i>contraloria@transparenciasanlucas.gob.mx</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <figure>
                                                    <a href="Libreria/img/funcionarios/user_yazmin.jpg" target="_blank" >
                                                        <img src="Libreria/img/funcionarios/user_yazmin.jpg"
                                                        class="img-responsive img-thumbnail formimg" alt="perfil user" />
                                                    </a>
                                                    <figcaption>
                                                        <b style="font-size: large;">Tec. Yazmin Macedo Luviano</b>
                                                    </figcaption>
                                                </figure>
                                                <a href="Libreria\pdf\funcionarios\macedo_yazmin.pdf" target="_blank">Ver Curriculum</a>
                                            </td>
                                            <td>
                                                <i class="fa fa-fw fa-street-view"></i>
                                                <p><a href="?fp=cargo_instancia_de_mujer">Instancia de la Mujer</a></p>
                                            </td>
                                            <td><br /><br />
                                                <p><i class="fa fa-fw fa-home"></i> Calle Ezequiel L&oacute;pez #160 col. El progreso, San Lucas Mich.</p><br />
                                                <p><i class="fa fa-fw fa-mobile-phone"></i>(435) - 106 - 5044</p><br />
                                                <p><i class="fa fa-fw fa-envelope"></i>instancia@transparenciasanlucas.gob.mx</p>
                                            </td>
                                        </tr>
                                        <tr style="background: #F7FBFB;">
                                            <td>
                                                <figure>
                                                    <a href="Libreria/img/funcionarios/user_santiago.jpg" target="_blank" >
                                                        <img src="Libreria/img/funcionarios/user_santiago.jpg"
                                                        class="img-responsive img-thumbnail formimg" alt="perfil user" />
                                                    </a>
                                                    <figcaption>
                                                        <b style="font-size: large;">Mtro. Santiago D&iacute;az P&eacute;rez</b>
                                                    </figcaption>
                                                </figure>
                                                <a href="Libreria\pdf\funcionarios\diaz_santiago.pdf" target="_blank">Ver Curriculum</a>
                                            </td>
                                            <td>
                                                <i class="fa fa-fw fa-street-view"></i>
                                                <p>Director de Educaci&oacute;n y Salud</p>
                                            </td>
                                            <td><br /><br />
                                                <p><i class="fa fa-fw fa-home"></i>San Jer&oacute;nimo, San Lucas Mich.</p><br />
                                                <p><i class="fa fa-fw fa-mobile-phone"></i>(435) - 678 - 3005</p><br />
                                                <p><i class="fa fa-fw fa-envelope"></i>educacion@transparenciasanlucas.gob.mx</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <figure>
                                                    <a href="Libreria/img/funcionarios/user_rolando.jpg" target="_blank" >
                                                        <img src="Libreria/img/funcionarios/user_rolando.jpg"
                                                        class="img-responsive img-thumbnail formimg" alt="perfil user" />
                                                    </a>
                                                    <figcaption>
                                                        <b style="font-size: large;">C. Rolando Carlos Santamaria</b>
                                                    </figcaption>
                                                </figure>
                                                <a href="Libreria\pdf\funcionarios\santamaria_rolando.pdf" target="_blank">Ver Curriculum</a>
                                            </td>
                                            <td>
                                                <i class="fa fa-fw fa-street-view"></i>
                                                <p><a href="?fp=cargo_seguridad_publica">Director de Seguridad P&uacute;blica</a></p>
                                            </td>
                                            <td><br /><br />
                                                <p><i class="fa fa-fw fa-home"></i>Asilo Pol&iacute;tico #2 Las Querenditas, Pungarabato Guerrero.</p><br />
                                                <p><i class="fa fa-fw fa-mobile-phone"></i>(435) - 678 - 3005</p><br />
                                                <p><i class="fa fa-fw fa-envelope"></i>seguridad@transparenciasanlucas.gob.mx</p>
                                            </td>
                                        </tr>
                                        <tr style="background: #F7FBFB;">
                                            <td>
                                                <figure>
                                                    <a href="Libreria/img/funcionarios/user_jose.jpg" target="_blank" >
                                                        <img src="Libreria/img/funcionarios/user_jose.jpg"
                                                        class="responsive img-thumbnail formimg" alt="perfil user" />
                                                    </a>
                                                    <figcaption>
                                                        <b style="font-size: large;">Tec. Jos&eacute; Luis Medel Mujica</b>
                                                    </figcaption>
                                                </figure>
                                                <a href="Libreria\pdf\funcionarios\medel_jose.pdf" target="_blank" >Ver Curriculum</a>
                                            </td>
                                            <td>
                                                <i class="fa fa-fw fa-street-view"></i>
                                                <p>Director de Casa de la Cultura</p>
                                            </td>
                                            <td><br /><br />
                                                <p><i class="fa fa-fw fa-home"></i>Call. Orizabas S/N, Col. Las Rosas, San Lucas Mich.</p><br />
                                                <p><i class="fa fa-fw fa-mobile-phone"></i>(435) - 678 - 3005</p><br />
                                                <p><i class="fa fa-fw fa-envelope"></i>casa_cultura@transparenciasanlucas.gob.mx</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <figure>
                                                    <a href="Libreria/img/funcionarios/user_avilene.jpg" target="_blank" >
                                                        <img src="Libreria/img/funcionarios/user_avilene.jpg"
                                                        class="img-responsive img-thumbnail formimg" alt="perfil user" />
                                                    </a>
                                                    <figcaption>
                                                        <b style="font-size: large;">Lic. Avilene Cisneros Nava</b>
                                                    </figcaption>
                                                </figure>
                                                <a href="Libreria\pdf\funcionarios\cisneros_avilene.pdf" target="_blank">Ver Curriculum</a>
                                            </td>
                                            <td>
                                                <i class="fa fa-fw fa-street-view"></i>
                                                <p><a href="?fp=cargo_atencion_migrante">Coordinador de Atenci&oacute;n al Migrante</a></p>
                                            </td>
                                            <td><br /><br />
                                                <p><i class="fa fa-fw fa-home"></i>Col. Centro, Servando Chávez Ote. N°. 1, San Lucas, Mich.</p><br />
                                                <p><i class="fa fa-fw fa-mobile-phone"></i>(435) - 678 - 3005</p><br />
                                                <p><i class="fa fa-fw fa-envelope"></i>atencion_migrante@transparenciasanlucas.gob.mx</p>
                                            </td>
                                        </tr>
                                         <tr>
                                            <td>
                                                <figure>
                                                    <a href="Libreria/img/funcionarios/user_karla.jpg" target="_blank" >
                                                        <img src="Libreria/img/funcionarios/user_karla.jpg"
                                                        class="img-responsive img-thumbnail formimg" alt="perfil user" />
                                                    </a>
                                                    <figcaption>
                                                        <b style="font-size: large;">Ing. Karla Yesenia Macedonio Aburto</b>
                                                    </figcaption>
                                                </figure>
                                                <a href="Libreria\pdf\funcionarios\karla.pdf" target="_blank">Ver Curriculum</a>
                                            </td>
                                            <td>
                                                <i class="fa fa-fw fa-street-view"></i>
                                                <p>Enlace de Transparencia</a></p>
                                            </td>
                                            <td><br /><br />
                                                <p><i class="fa fa-fw fa-home"></i>Call. Victoria Oriente #13, Col. centro, Riva Palacio, San Lucas, Mich.</p><br />
                                                <p><i class="fa fa-fw fa-mobile-phone"></i>(443) - 369 - 1019</p><br />
                                                <p><i class="fa fa-fw fa-envelope"></i>transparencia@transparenciasanlucas.gob.mx</p>
                                            </td>
                                        </tr>
                                        <tr style="background: #F7FBFB;">
                                            <td>
                                                <figure>
                                                    <a href="Libreria/img/funcionarios/user_gozafat.jpg" target="_blank" >
                                                        <img src="Libreria/img/funcionarios/user_gozafat.jpg"
                                                        class="responsive img-thumbnail formimg" alt="perfil user" />
                                                    </a>
                                                    <figcaption>
                                                        <b style="font-size: large;">C. Maria Gozafat Betancourt Arrieta </b>
                                                    </figcaption>
                                                </figure>
                                                <a href="Libreria\pdf\funcionarios\gozafat_betancourt.pdf" target="_blank" >Ver Curriculum</a>
                                            </td>
                                            <td>
                                                <i class="fa fa-fw fa-street-view"></i>
                                                <p><a href="?fp=cargo_oficial_mayor">Oficial Mayor</a></p>
                                            </td>
                                            <td><br /><br />
                                                <p><i class="fa fa-fw fa-home"></i>Call. Guadalupe Macario S/N, Col. el Progreso, San Lucas, Mich.</p><br />
                                                <p><i class="fa fa-fw fa-mobile-phone"></i>(767) 101 - 69 - 96</p><br />
                                                <p><i class="fa fa-fw fa-envelope"></i>oficial@transparenciasanlucas.gob.mx</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <figure>
                                                    <a href="Libreria/img/funcionarios/user_juan.jpg" target="_blank" >
                                                        <img src="Libreria/img/funcionarios/user_juan.jpg"
                                                        class="responsive img-thumbnail formimg" alt="perfil user" />
                                                    </a>
                                                    <figcaption>
                                                        <b style="font-size: large;">C. Juan Jos&eacute; Mariano Narcizo</b>
                                                    </figcaption>
                                                </figure>
                                                <a href="Libreria\pdf\funcionarios\juan_jose.pdf" target="_blank" >Ver Curriculum</a>
                                            </td>
                                            <td>
                                                <i class="fa fa-fw fa-street-view"></i>
                                                <p>Pol&iacute;tica Social</p>
                                            </td>
                                            <td><br /><br />
                                                <p><i class="fa fa-fw fa-home"></i>Calle sin nombre, S/N, Huitzachalt, San Lucas Mich.</p><br />
                                                <p><i class="fa fa-fw fa-mobile-phone"></i>(767) - 100 - 1732</p><br />
                                                <p><i class="fa fa-fw fa-envelope"></i>politica@transparenciasanlucas.gob.mx</p>
                                            </td>
                                        </tr>
                                        <tr style="background: #F7FBFB;">
                                            <td>
                                                <figure>
                                                    <a href="Libreria/img/funcionarios/user_ezequiel.jpg" target="_blank" >
                                                        <img src="Libreria/img/funcionarios/user_ezequiel.jpg"
                                                        class="img-responsive img-thumbnail formimg" alt="perfil user" />
                                                    </a>
                                                    <figcaption>
                                                        <b style="font-size: large;">MVZ. Ezequiel Cristobal Alejo</b>
                                                    </figcaption>
                                                </figure>
                                                <a href="Libreria\pdf\funcionarios\cristobal_ezequiel.pdf" target="_blank" >Ver Curriculum</a>
                                            </td>
                                            <td>
                                                <i class="fa fa-fw fa-street-view"></i>
                                                <p><a href="?fp=cargo_secretario">Secretario</a></p>
                                            </td>
                                            <td><br /><br />
                                                <p><i class="fa fa-fw fa-home"></i>Santa Cruz de Villagomez, San Lucas Mich.</p><br />
                                                <p><i class="fa fa-fw fa-mobile-phone"></i>(767) - 112 - 7751</p><br />
                                                <p><i class="fa fa-fw fa-envelope"></i>secretario@transparenciasanlucas.gob.mx</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <figure>
                                                    <a href="Libreria/img/funcionarios/user_humbertob.jpg" target="_blank" >
                                                        <img src="Libreria/img/funcionarios/user_humberto.jpg"
                                                        class="img-responsive img-thumbnail formimg" alt="perfil user" />
                                                    </a>
                                                    <figcaption>
                                                        <b style="font-size: large;">C. Humberto Borja Pineda</b>
                                                    </figcaption>
                                                </figure>
                                                <a href="Libreria\pdf\funcionarios\borja_humberto.pdf" target="_blank" >Ver Curriculum</a>
                                            </td>
                                            <td>
                                                <i class="fa fa-fw fa-street-view"></i>
                                                <p><a href="?fp=cargo_urbanismo">Urbanismo</a></p>
                                            </td>
                                            <td><br /><br />
                                                <p><i class="fa fa-fw fa-home"></i>Paso de Corupo, San Lucas Mich.</p><br />
                                                <p><i class="fa fa-fw fa-mobile-phone"></i>(435) - 103 - 3949</p><br />
                                                <p><i class="fa fa-fw fa-envelope"></i>urbanismo@transparenciasanlucas.gob.mx</p>
                                            </td>
                                        </tr>
                                        <tr style="background: #F7FBFB;">
                                            <td>
                                                <figure>
                                                    <a href="Libreria/img/funcionarios/user_humberto2.JPG" target="_blank" >
                                                        <img src="Libreria/img/funcionarios/user_humberto2.JPG"
                                                        class="img-responsive img-thumbnail formimg" alt="perfil user" />
                                                    </a>
                                                    <figcaption>
                                                        <b style="font-size: large;">C. Humberto Sandoval Luviano</b>
                                                    </figcaption>
                                                </figure>
                                                <a href="Libreria\pdf\funcionarios\sandoval_humberto.pdf" target="_blank" >Ver Curriculum</a>
                                            </td>
                                            <td>
                                                <i class="fa fa-fw fa-street-view"></i>
                                                <p>SAPAS</p>
                                            </td>
                                            <td><br /><br />
                                                <p><i class="fa fa-fw fa-home"></i>Call. San Gabriel #34, San Lucas Mich.</p><br />
                                                <p><i class="fa fa-fw fa-mobile-phone"></i>(435) - 101 - 7625</p><br />
                                                <p><i class="fa fa-fw fa-envelope"></i>sapas@transparenciasanlucas.gob.mx</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <figure>
                                                    <a href="Libreria/img/funcionarios/user_erasmo.jpg" target="_blank" >
                                                        <img src="Libreria/img/funcionarios/user_erasmo.jpg"
                                                        class="img-responsive img-thumbnail formimg" alt="perfil user" />
                                                    </a>
                                                    <figcaption>
                                                        <b style="font-size: large;">C. Erasmo Mariano Miguel</b>
                                                    </figcaption>
                                                </figure>
                                                <a href="Libreria\pdf\funcionarios\mariano_erasmo.pdf" target="_blank" >Ver Curriculum</a>
                                            </td>
                                            <td>
                                                <i class="fa fa-fw fa-street-view"></i>
                                                <p><a href="?fp=cargo_obras_publicas">Obras Públicas</a></p>
                                            </td>
                                            <td><br /><br />
                                                <p><i class="fa fa-fw fa-home"></i>Call. San Gabriel #34, San Lucas Mich.</p><br />
                                                <p><i class="fa fa-fw fa-mobile-phone"></i>(435) - 101 - 7625</p><br />
                                                <p><i class="fa fa-fw fa-envelope"></i>sapas@transparenciasanlucas.gob.mx</p>
                                            </td>
                                        </tr>

                                         <tr>
                                            <td>
                                                <figure>
                                                    <a href="Libreria/img/funcionarios/user_ines.jpg" target="_blank" >
                                                        <img src="Libreria/img/funcionarios/user_ines.jpg"
                                                        class="img-responsive img-thumbnail formimg" alt="perfil user" />
                                                    </a>
                                                    <figcaption>
                                                        <b style="font-size: large;">C. Jos&eacute; In&eacute;s Mart&iacute;nez Vega</b>
                                                    </figcaption>
                                                </figure>
                                                <a href="Libreria\pdf\funcionarios\jose_ines.pdf" target="_blank" >Ver Curriculum</a>
                                            </td>
                                            <td>
                                                <i class="fa fa-fw fa-street-view"></i>
                                                 <p>Coordinador Desarrollo Ecol&oacute;gico</p>
                                            </td>
                                            <td><br /><br />
                                                <p><i class="fa fa-fw fa-home"></i>Call. Sin nombre S/N, Tiringueo de Arriba, San Lucas, Mich.</p><br />
                                                <p><i class="fa fa-fw fa-mobile-phone"></i>(435) - 103 - 4545</p><br />
                                                <p><i class="fa fa-fw fa-envelope"></i>ecologiasl@outlook.com</p>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
				</div>
            </article>
        </div>
        <aside>
            <div class="col-md-3">
                <?php include "Vista/submenu.phtml"; ?>
            </div>
        </aside>
    </div>
</section>
