<section>
    <div id="centro">
        <a href="?fp=principal"><i class="fa fa-fw fa-home"></i>Home</a>
        <img src="Libreria/img/login.png" /><b>Liga Municipal</b>
    </div>
    <hr />
    <div class="row" style="margin-left: 1px;">
        <div class="col-md-9">
            <article>
                <div class="panel panel-default">
                    <div class="panel-heading" style="font-size: xx-large;">
                        <b>Dirección de Juventud y Deportes</b>
                        <h4><b>.:. Información de Liga Municipal de Futbol Soccer .:.</b></h4>
                        <br/>
                    </div>
                    <cite><b>Lic. Oscar Daniel Rosales Burgos</b></cite>
                    <div class="panel-body">
                        <!--<article>
                            <div class="panel panel-info">
                                <div class="panel-heading" style="font-size: x-large;">
                                    <b>.:. Resultados .:.</b>
                                </div>
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="table-responsive">
                                            <table class="table table-hover">
                                                <thead >
                                                    <tr>
                                                        <th style="font-size:large; text-align:center;color:black;" colspan="3">Jornada [ 10° ]</th>
                                                        <th style="font-size:large; text-align:center;color:black;">Fecha</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr style="background: #F7FBFB;">
                                                        <td id="td"><b>Corral Viejo</b></td>
                                                        <td id="td"><b>8 - 1</b></td>
                                                        <td id="td"><b>Pinzan Colorado</b></td>
                                                        <td id="td"><b>17 Mar 4:45 p.m.</b></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </article>-->
                        <article>
                            <div class="panel panel-info">
                                <div class="panel-heading" style="font-size: x-large;">
                                    <b>.:. Final de Ligilla de Fútbol Rapido .:.</b>
                                </div>
                                <div class="panel-body">
                                    <label style="text-align: center; color: maroon;" class="form-control">Miércoles 06 de Abril de 2017</label>
                                    <div class="panel panel-success">
                                        <div class="panel-heading" style="font-size: x-large;">
                                        <b>:-: Lugar de Premiasión :-:</b>
                                        </div>
                                        <div class="panel-body">
                                            <div class="row">
                                                <div class="table-responsive">
                                                    <table class="table table-hover">
                                                        <thead>
                                                            <tr>
                                                                <th style="font-size:large; text-align:center;color:black;">Lugar</th>
                                                                <th style="font-size:large; text-align:center;color:black;">Premio</th>
                                                                <th style="font-size:large; text-align:center;color:black;">Equipo</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr style="background: #F7FBFB;">
                                                                <td id="td"><b>1°</b></td>
                                                                <td id="td"><b>$ 2, 600.00°°</b></td>
                                                                <td id="td"><b>C. Toros</b></td>
                                                            </tr>
                                                            <tr>
                                                                <td id="td"><b>2°</b></td>
                                                                <td id="td"><b>$ 1, 700.00°°</b></td>
                                                                <td id="td"><b>C. Viejo</b></td>
                                                            </tr>
                                                            <tr style="background: #F7FBFB;">
                                                                <td id="td"><b>3°</b></td>
                                                                <td id="td"><b>$ 1, 000.00°°</b></td>
                                                                <td id="td"><b>Limones</b></td>
                                                            </tr>
                                                            <tr>
                                                                <td id="td"><b>4°</b></td>
                                                                <td id="td"><b>$ 400.00°°</b></td>
                                                                <td id="td"><b>Inter</b></td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                    <table class="table table-hover">
                                                        <thead>
                                                            <tr>
                                                                <th style="font-size:large; text-align:center;color:black;">Lugar</th>
                                                                <th style="font-size:large; text-align:center;color:black;">Nombre</th>
                                                                <th style="font-size:large; text-align:center;color:black;">Premio</th>
                                                                <th style="font-size:large; text-align:center;color:black;">Equipo</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr style="background: #F7FBFB;">
                                                                <td id="td"><b>Goleador</b></td>
                                                                <td id="td"><b>Fernando Vargas Bustos</b></td>
                                                                <td id="td"><b>$ 300.00°°</b></td>
                                                                <td id="td"><b>C. Viejo</b></td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                                </div>
                                                <hr/>
                                            <label style="text-align: center;" class="form-control">Cantidad Total: $ 6, 000.00°°</label>
                                            </div>
                                    </div>
                                    
                                    <div class="panel panel-success">
                                        <div class="panel-heading" style="font-size: x-large;">
                                        <b>:-: Entrega de Premios :-:</b>
                                        </div>
                                        <div class="panel-body">
                                            <div class="row">
                                                <div class="table-responsive">
                                                    <table class="table table-hover">
                                                        <thead>
                                                            <tr>
                                                                <th style="font-size:large; text-align:center;color:black;">Funcionario</th>
                                                                <th style="font-size:large; text-align:center;color:black;">Nombre</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr style="background: #F7FBFB;">
                                                                <td id="td"><b>Tesorera</b></td>
                                                                <td id="td"><b>Lic. Margarita Elia Olvera Huerta</b></td>
                                                            </tr>
                                                            <tr>
                                                                <td id="td"><b>Coordinador</b></td>
                                                                <td id="td"><b>C. Oscar DAniel Rosales Sánchez</b></td>
                                                            </tr>
                                                            <tr style="background: #F7FBFB;">
                                                                <td id="td"><b>Auxiliar</b></td>
                                                                <td id="td"><b>C. Sergio Alfonso Mota Sánchez</b></td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                                </div>
                                            </div>
                                    </div>
                                </div>
                            </div>
                        </article>
                        <article>
                            <div class="panel panel-info">
                                <div class="panel-heading" style="font-size: x-large;">
                                    <b>.:. Calendario .:.</b>
                                    <p style="font-family: cursive; font-size: x-small; color: red;">No Actualizada...</p>
                                </div>
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="table-responsive">
                                            <table class="table table-hover">
                                                <thead >
                                                    <tr>
                                                        <th style="font-size:large; text-align:center;color:black;">Equipos</th>
                                                        <th style="font-size:large; text-align:center;color:black;">Fecha</th>
                                                        <th style="font-size:large; text-align:center;color:black;">Lugar</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr style="background: #F7FBFB;">
                                                        <td id="td"><b>Estudiantes vs Valladolid</b></td>
                                                        <td id="td"><b>28 Vie 6:00 p.m.</b></td>
                                                        <td id="td"><b>Chumbitaro</b></td>
                                                    </tr>
                                                    <tr>
                                                        <td id="td"><b>San Jeronimo vs Corupo</b></td>
                                                        <td id="td"><b>29 Sab 6:0 p.m.</b></td>
                                                        <td id="td"><b>Riva Palacio</b></td>
                                                    </tr>
                                                    <tr style="background: #F7FBFB;">
                                                        <td id="td"><b>Playa vs Chumbitaro</b></td>
                                                        <td id="td"><b>29 Sab 6:00 p.m.</b></td>
                                                        <td id="td"><b>Dep. San Lucas</b></td>
                                                    </tr>
                                                    <tr>
                                                        <td id="td"><b>Angao vs Characo</b></td>
                                                        <td id="td"><b>30 Dom 6:00 p.m.</b></td>
                                                        <td id="td"><b>Angao</b></td>
                                                    </tr>
                                                    <tr style="background: #F7FBFB;">
                                                        <td id="td"><b>Cuauhtémoc vs Corral Viejo</b></td>
                                                        <td id="td"><b>30 Dom 6:00 p.m.</b></td>
                                                        <td id="td"><b>Cuauhtemoc</b></td>
                                                    </tr>
                                                    <tr>
                                                        <td id="td"><b>Huizachal vs Tejería</b></td>
                                                        <td id="td"><b>30 Dom 6:00 p.m.</b></td>
                                                        <td id="td"><b>Dep. Riva Palacio</b></td>
                                                    </tr>
                                                    <tr style="background: #F7FBFB;">
                                                        <td id="td"><b>Paredes vs <l style="color: red;">Real Deportivo</l></b></td>
                                                        <td id="td"><b>x *** x:xx *.*.</b></td>    
                                                        <td id="td"><b>****</b></td>
                                                    </tr>
                                                    <tr>
                                                        <td id="td"><b>Corral de Toros vs <l style="color: red;">Santa Cruz</l></b></td>
                                                        <td id="td"><b>x *** x:xx *.*.</b></td>    
                                                        <td id="td"><b>****</b></td>
                                                    </tr>
                                                    <tr style="background: #F7FBFB;">
                                                        <td id="td"><b>Pinzan vs <l style="color: red;">Riva Palacio</l></b></td>
                                                        <td id="td"><b>x *** x:xx *.*.</b></td>    
                                                        <td id="td"><b>****</b></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </article>
                        <article>
                            <div class="panel panel-info">
                                <div class="panel-heading" style="font-size: x-large;">
                                    <b>.:. Clasificación .:.</b>
                                    <p style="font-family: cursive; font-size: x-small; color: red;">No Actualizada...</p>
                                </div>
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="table-responsive">
                                            <table class="table table-hover">
                                                <thead >
                                                    <tr>
                                                        <th style="font-size:large; text-align:center;color:black;">POS</th>
                                                        <th style="font-size:large; text-align:center;color:black;">Equipo</th>
                                                        <th style="font-size:large; text-align:center;color:black;">JJ</th>
                                                        <th style="font-size:large; text-align:center;color:black;">PG</th>
                                                        <th style="font-size:large; text-align:center;color:black;">PE</th>
                                                        <th style="font-size:large; text-align:center;color:black;">PP</th>
                                                        <th style="font-size:large; text-align:center;color:black;">GF</th>
                                                        <th style="font-size:large; text-align:center;color:black;">GC</th>
                                                        <th style="font-size:large; text-align:center;color:black;">DG</th>
                                                        <th style="font-size:large; text-align:center;color:black;">PTS</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr style="background: #F7FBFB;">
                                                        <td id="td"><b>1</b></td>
                                                        <td id="td"><b>Tacupa</b></td>
                                                        <td id="td"><b>15</b></td>
                                                        <td id="td"><b>13</b></td>
                                                        <td id="td"><b>0</b></td>
                                                        <td id="td"><b>2</b></td>
                                                        <td id="td"><b>63</b></td>
                                                        <td id="td"><b>22</b></td>
                                                        <td id="td"><b>+41</b></td>
                                                        <td id="td"><b>39</b></td>
                                                    </tr>
                                                    <tr style="background: #F7FBFB;">
                                                        <td id="td"><b>2</b></td>
                                                        <td id="td"><b>Cuahtemoc</b></td>
                                                        <td id="td"><b>15</b></td>
                                                        <td id="td"><b>12</b></td>
                                                        <td id="td"><b>1</b></td>
                                                        <td id="td"><b>2</b></td>
                                                        <td id="td"><b>58</b></td>
                                                        <td id="td"><b>19</b></td>
                                                        <td id="td"><b>+39</b></td>
                                                        <td id="td"><b>37</b></td>
                                                    </tr>
                                                    <tr style="background: #F7FBFB;">
                                                        <td id="td"><b>3</b></td>
                                                        <td id="td"><b>Corral Viejo</b></td>
                                                        <td id="td"><b>15</b></td>
                                                        <td id="td"><b>11</b></td>
                                                        <td id="td"><b>1</b></td>
                                                        <td id="td"><b>3</b></td>
                                                        <td id="td"><b>42</b></td>
                                                        <td id="td"><b>18</b></td>
                                                        <td id="td"><b>+24</b></td>
                                                        <td id="td"><b>34</b></td>
                                                    </tr>
                                                    <tr style="background: #F7FBFB;">
                                                        <td id="td"><b>4</b></td>
                                                        <td id="td"><b>San Jeronimo</b></td>
                                                        <td id="td"><b>15</b></td>
                                                        <td id="td"><b>11</b></td>
                                                        <td id="td"><b>1</b></td>
                                                        <td id="td"><b>3</b></td>
                                                        <td id="td"><b>47</b></td>
                                                        <td id="td"><b>27</b></td>
                                                        <td id="td"><b>+20</b></td>
                                                        <td id="td"><b>34</b></td>
                                                    </tr>
                                                    <tr style="background: #F7FBFB;">
                                                        <td id="td"><b>5</b></td>
                                                        <td id="td"><b>Characo</b></td>
                                                        <td id="td"><b>15</b></td>
                                                        <td id="td"><b>10</b></td>
                                                        <td id="td"><b>0</b></td>
                                                        <td id="td"><b>5</b></td>
                                                        <td id="td"><b>44</b></td>
                                                        <td id="td"><b>28</b></td>
                                                        <td id="td"><b>+16</b></td>
                                                        <td id="td"><b>30</b></td>
                                                    </tr>
                                                    <tr style="background: #F7FBFB;">
                                                        <td id="td"><b>6</b></td>
                                                        <td id="td"><b>Valladolid</b></td>
                                                        <td id="td"><b>15</b></td>
                                                        <td id="td"><b>8</b></td>
                                                        <td id="td"><b>3</b></td>
                                                        <td id="td"><b>4</b></td>
                                                        <td id="td"><b>31</b></td>
                                                        <td id="td"><b>22</b></td>
                                                        <td id="td"><b>+9</b></td>
                                                        <td id="td"><b>27</b></td>
                                                    </tr>
                                                    <tr style="background: #F7FBFB;">
                                                        <td id="td"><b>7</b></td>
                                                        <td id="td"><b>Tejeria</b></td>
                                                        <td id="td"><b>15</b></td>
                                                        <td id="td"><b>7</b></td>
                                                        <td id="td"><b>4</b></td>
                                                        <td id="td"><b>4</b></td>
                                                        <td id="td"><b>39</b></td>
                                                        <td id="td"><b>28</b></td>
                                                        <td id="td"><b>+11</b></td>
                                                        <td id="td"><b>25</b></td>
                                                    </tr>
                                                    <tr style="background: #F7FBFB;">
                                                        <td id="td"><b>8</b></td>
                                                        <td id="td"><b>Corupo</b></td>
                                                        <td id="td"><b>15</b></td>
                                                        <td id="td"><b>6</b></td>
                                                        <td id="td"><b>5</b></td>
                                                        <td id="td"><b>4</b></td>
                                                        <td id="td"><b>29</b></td>
                                                        <td id="td"><b>33</b></td>
                                                        <td id="td"><b>-4</b></td>
                                                        <td id="td"><b>23</b></td>
                                                    </tr>
                                                    <tr style="background: #F7FBFB;">
                                                        <td id="td"><b>9</b></td>
                                                        <td id="td"><b>San Pedro</b></td>
                                                        <td id="td"><b>15</b></td>
                                                        <td id="td"><b>7</b></td>
                                                        <td id="td"><b>2</b></td>
                                                        <td id="td"><b>6</b></td>
                                                        <td id="td"><b>27</b></td>
                                                        <td id="td"><b>34</b></td>
                                                        <td id="td"><b>-7</b></td>
                                                        <td id="td"><b>23</b></td>
                                                    </tr>
                                                    <tr style="background: #F7FBFB;">
                                                        <td id="td"><b>10</b></td>
                                                        <td id="td"><b>Estudiantes</b></td>
                                                        <td id="td"><b>14</b></td>
                                                        <td id="td"><b>7</b></td>
                                                        <td id="td"><b>1</b></td>
                                                        <td id="td"><b>7</b></td>
                                                        <td id="td"><b>38</b></td>
                                                        <td id="td"><b>37</b></td>
                                                        <td id="td"><b>+1</b></td>
                                                        <td id="td"><b>22</b></td>
                                                    </tr>
                                                    
                                                    <tr style="background: #F7FBFB;">
                                                        <td id="td"><b>11</b></td>
                                                        <td id="td"><b>Pinzan Colorado</b></td>
                                                        <td id="td"><b>15</b></td>
                                                        <td id="td"><b>6</b></td>
                                                        <td id="td"><b>2</b></td>
                                                        <td id="td"><b>7</b></td>
                                                        <td id="td"><b>24</b></td>
                                                        <td id="td"><b>41</b></td>
                                                        <td id="td"><b>-17</b></td>
                                                        <td id="td"><b>20</b></td>
                                                    </tr>
                                                    <tr style="background: #F7FBFB;">
                                                        <td id="td"><b>12</b></td>
                                                        <td id="td"><b>Angao</b></td>
                                                        <td id="td"><b>15</b></td>
                                                        <td id="td"><b>5</b></td>
                                                        <td id="td"><b>3</b></td>
                                                        <td id="td"><b>7</b></td>
                                                        <td id="td"><b>32</b></td>
                                                        <td id="td"><b>39</b></td>
                                                        <td id="td"><b>-7</b></td>
                                                        <td id="td"><b>18</b></td>
                                                    </tr>
                                                    <tr style="background: #F7FBFB;">
                                                        <td id="td"><b>13</b></td>
                                                        <td id="td"><b>Corral de Toros</b></td>
                                                        <td id="td"><b>15</b></td>
                                                        <td id="td"><b>5</b></td>
                                                        <td id="td"><b>2</b></td>
                                                        <td id="td"><b>8</b></td>
                                                        <td id="td"><b>42</b></td>
                                                        <td id="td"><b>38</b></td>
                                                        <td id="td"><b>+4</b></td>
                                                        <td id="td"><b>17</b></td>
                                                    </tr>
                                                    <tr style="background: #F7FBFB;">
                                                        <td id="td"><b>14</b></td>
                                                        <td id="td"><b>Chumbitaro</b></td>
                                                        <td id="td"><b>15</b></td>
                                                        <td id="td"><b>5</b></td>
                                                        <td id="td"><b>1</b></td>
                                                        <td id="td"><b>9</b></td>
                                                        <td id="td"><b>20</b></td>
                                                        <td id="td"><b>29</b></td>
                                                        <td id="td"><b>-9</b></td>
                                                        <td id="td"><b>16</b></td>
                                                    </tr>
                                                    <tr style="background: #F7FBFB;">
                                                        <td id="td"><b>15</b></td>
                                                        <td id="td"><b>Huizachal</b></td>
                                                        <td id="td"><b>15</b></td>
                                                        <td id="td"><b>4</b></td>
                                                        <td id="td"><b>3</b></td>
                                                        <td id="td"><b>8</b></td>
                                                        <td id="td"><b>26</b></td>
                                                        <td id="td"><b>36</b></td>
                                                        <td id="td"><b>-10</b></td>
                                                        <td id="td"><b>15</b></td>
                                                    </tr>
                                                    <tr style="background: #F7FBFB;">
                                                        <td id="td"><b>16</b></td>
                                                        <td id="td"><b>Paredes</b></td>
                                                        <td id="td"><b>15</b></td>
                                                        <td id="td"><b>4</b></td>
                                                        <td id="td"><b>3</b></td>
                                                        <td id="td"><b>8</b></td>
                                                        <td id="td"><b>27</b></td>
                                                        <td id="td"><b>42</b></td>
                                                        <td id="td"><b>-15</b></td>
                                                        <td id="td"><b>15</b></td>
                                                    </tr>
                                                    <tr style="background: #F7FBFB;">
                                                        <td id="td"><b>17</b></td>
                                                        <td id="td"><b>Playita</b></td>
                                                        <td id="td"><b>15</b></td>
                                                        <td id="td"><b>4</b></td>
                                                        <td id="td"><b>2</b></td>
                                                        <td id="td"><b>9</b></td>
                                                        <td id="td"><b>25</b></td>
                                                        <td id="td"><b>45</b></td>
                                                        <td id="td"><b>-20</b></td>
                                                        <td id="td"><b>14</b></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </article>
                        <article>
                            <div class="panel panel-info">
                                <div class="panel-heading" style="font-size: x-large;">
                                    <b>.:. Goleo Individual .:.</b>
                                    <p style="font-family: cursive; font-size: x-small; color: red;">No Actualizada...</p>
                                </div>
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="table-responsive">
                                            <table class="table table-hover">
                                                <thead >
                                                    <tr>
                                                        <th style="font-size:large; text-align:center;color:black;">POS</th>
                                                        <th style="font-size:large; text-align:center;color:black;">Jugador</th>
                                                        <th style="font-size:large; text-align:center;color:black;">Goleo</th>
                                                        <th style="font-size:large; text-align:center;color:black;">Equipo</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr style="background: #F7FBFB;">
                                                        <td id="td"><b>1</b></td>
                                                        <td id="td"><b>Adrian Peñaloza</b></td>
                                                        <td id="td"><b>20</b></td>
                                                        <td id="td"><b>Tacupa</b></td>
                                                    </tr>
                                                    <tr style="background: #F7FBFB;">
                                                        <td id="td"><b>2</b></td>
                                                        <td id="td"><b>Blas Mojica</b></td>
                                                        <td id="td"><b>19</b></td>
                                                        <td id="td"><b>Cuauhtemoc</b></td>
                                                    </tr>
                                                    <tr style="background: #F7FBFB;">
                                                        <td id="td"><b>3</b></td>
                                                        <td id="td"><b>Vicente Luviano</b></td>
                                                        <td id="td"><b>16</b></td>
                                                        <td id="td"><b>Corral Viejo</b></td>
                                                    </tr>
                                                    <tr style="background: #F7FBFB;">
                                                        <td id="td"><b>4</b></td>
                                                        <td id="td"><b>Matusalen Jaimes</b></td>
                                                        <td id="td"><b>14</b></td>
                                                        <td id="td"><b>Characo</b></td>
                                                    </tr>
                                                    <tr style="background: #F7FBFB;">
                                                        <td id="td"><b>5</b></td>
                                                        <td id="td"><b>Stiven Gonzalez</b></td>
                                                        <td id="td"><b>14</b></td>
                                                        <td id="td"><b>Corral de Toros</b></td>
                                                    </tr>
                                                    <tr style="background: #F7FBFB;">
                                                        <td id="td"><b>6</b></td>
                                                        <td id="td"><b>Galdino Jaimes</b></td>
                                                        <td id="td"><b>10</b></td>
                                                        <td id="td"><b>Characo</b></td>
                                                    </tr>
                                                    <tr style="background: #F7FBFB;">
                                                        <td id="td"><b>7</b></td>
                                                        <td id="td"><b>Jose Flores</b></td>
                                                        <td id="td"><b>10</b></td>
                                                        <td id="td"><b>Tejeria</b></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </article>
                        <article>
                            <div class="panel panel-info">
                                <div class="panel-heading" style="font-size: x-large;">
                                    <b>.:. Goleos en Equipo .:.</b>
                                    <p style="font-family: cursive; font-size: x-small; color: red;">No Actualizada...</p>
                                </div>
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="table-responsive">
                                            <table class="table table-hover">
                                                <thead >
                                                    <tr>
                                                        <th style="font-size:large; text-align:center;color:black;">POS</th>
                                                        <th style="font-size:large; text-align:center;color:black;">Equipo</th>
                                                        <th style="font-size:large; text-align:center;color:black;">Goles</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr style="background: #F7FBFB;">
                                                        <tr style="background: #F7FBFB;">
                                                        <td id="td"><b>1</b></td>
                                                        <td id="td"><b>Tacupa</b></td>
                                                        <td id="td"><b>63</b></td>
                                                    </tr>
                                                    <tr style="background: #F7FBFB;">
                                                        <td id="td"><b>2</b></td>
                                                        <td id="td"><b>Cuauhtemoc</b></td>
                                                        <td id="td"><b>58</b></td>
                                                    </tr>
                                                    <tr style="background: #F7FBFB;">
                                                        <td id="td"><b>3</b></td>
                                                        <td id="td"><b>San Jeronimo</b></td>
                                                        <td id="td"><b>47</b></td>
                                                    </tr>
                                                    <tr style="background: #F7FBFB;">
                                                        <td id="td"><b>4</b></td>
                                                        <td id="td"><b>Corral Viejo</b></td>
                                                        <td id="td"><b>42</b></td>
                                                    </tr>
                                                    <tr style="background: #F7FBFB;">
                                                        <td id="td"><b>5</b></td>
                                                        <td id="td"><b>Corral de Toros</b></td>
                                                        <td id="td"><b>42</b></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
            </article>    
        </div>
        <div class="col-md-3">
            <aside>
                <?php include "Vista/submenu.phtml"; ?>
            </aside>
        </div>
    </div>
</section>