<section>
    <div class="row">
        <div class="col-md-9">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h1 style="font-size: xx-large;"><b>Eventos Realizados el Mes de Febrero 2017</b></h1>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            <article>
                                <div class="panel panel-success">
                                    <div class="panel-heading">
                                        <b>Rastreó y Rehabilitación de camino en Terrero Salado .:. H. Ayuntamiento de San Lucas, Mich.</b>
                                    </div>
                                    <time datetime="2017-04-10" style="color:grey;text-align:justify;">
                                        publicado el lunes 10 de abril de 2017.
                                    </time>
                                    <div class="panel-body">
                                        <p style="padding:20px; text-align:justify;">
                                            <b>
                                                El día viernes 7 de abril de 2017, Se llevó acabo el Rastreo y Rehabilitación del camino de la localidad de Terrero Salado.
                                            </b>
                                        </p>
                                        <div class="col-lg-2"></div>
                                        <div class="col-lg-8">
                                            <figure>
                                                <a href="Libreria/img/2017/abr/terrero_salado/img1.jpg" target="_blank">
                                                    <img src="Libreria/img/2017/abr/terrero_salado/img1.jpg" class="thumbnail img-responsive" alt="img" />
                                                </a>
                                            </figure>
                                        </div>
                                        <div class="col-lg-2"></div>
                                    </div>
                                </div>
                            </article>
                            <article>
                                <div class="panel panel-success">
                                    <div class="panel-heading">
                                        <b>Credito Grupal "Palabra De Mujer".:. H. Ayuntamiento de San Lucas, Mich.</b>
                                    </div>
                                    <time datetime="2017-04-11" style="color:grey;text-align:justify;">
                                        publicado el martes 11 de abril del 2017.
                                    </time>
                                    <div class="panel-body">
                                        <p style="padding:20px; text-align:justify;">
                                            <b>
                                                El día lunes 10 de Abril de 2017., Tercer desembolso de Credito Grupal "Palabra De Mujer" a grupo de Riva Palacio y San Lucas., Gestionado por el C. Arturo Torres Aguirre a través de la Dirección de la Instancia de la Mujer Entregando Alrededor de $120,000 Pesos Sin Interes Alguno.
                                            </b>
                                        </p>
                                        <div class="col-md-3">
                                            <figure>
                                                <a href="Libreria/img/2017/abr/credito_grupal/img1.jpg" target="_blank">
                                                    <img src="Libreria/img/2017/abr/credito_grupal/img1.jpg" class="thumbnail img-responsive" alt="img" />
                                                </a>
                                            </figure>
                                        </div>
                                        <div class="col-md-3">
                                            <figure>
                                                <a href="Libreria/img/2017/abr/credito_grupal/img2.jpg" target="_blank">
                                                    <img src="Libreria/img/2017/abr/credito_grupal/img2.jpg" class="thumbnail img-responsive" alt="img" />
                                                </a>
                                            </figure>
                                        </div>
                                        <div class="col-md-3">
                                            <figure>
                                                <a href="Libreria/img/2017/abr/credito_grupal/img3.jpg" target="_blank">
                                                    <img src="Libreria/img/2017/abr/credito_grupal/img3.jpg" class="thumbnail img-responsive" alt="img" />
                                                </a>
                                            </figure>
                                        </div>
                                        <div class="col-md-3">
                                            <figure>
                                                <a href="Libreria/img/2017/abr/credito_grupal/img4.jpg" target="_blank">
                                                    <img src="Libreria/img/2017/abr/credito_grupal/img4.jpg" class="thumbnail img-responsive" alt="img" />
                                                </a>
                                            </figure>
                                        </div>
                                    </div>
                                </div>
                            </article>
                            <article>
                                <div class="panel panel-success">
                                    <div class="panel-heading">
                                        <b>Ampliación y Rehabilitación de Campo de Fútbol .:. H. Ayuntamiento de San Lucas, Mich.</b>
                                    </div>
                                    <time datetime="2017-04-10" style="color:grey;text-align:justify;">
                                        publicado el miércoles 12 de abril de 2017.
                                    </time>
                                    <div class="panel-body">
                                        <p style="padding:20px; text-align:justify;">
                                            <b>
                                                El día martes 11 de Abril de 2017 a las 9:00 a.m., En Jornada de Trabajo Itinerante, el C. Arturo Torres Aguirre Presidente Municipal Acompañado de su Comuna Regidores, Regidoras y Varios Directores de la Función Pública Municipal. A partir de las 9:00 a.m. en la Comunidad del Huizachal da Banderazo a la Iniciación de Ampliación y Rehabilitación de Campo de Fútbol con un costo de $350,000.00 pesos en Beneficio de Aproximadamente 400 personas.
                                            </b>
                                        </p>
                                        <div class="col-lg-4">
                                            <figure>
                                                <a href="Libreria/img/2017/abr/comunidad_huizachal/img1.jpg" target="_blank">
                                                    <img src="Libreria/img/2017/abr/comunidad_huizachal/img1.jpg" class="thumbnail img-responsive" alt="img" />
                                                </a>
                                            </figure>
                                        </div>
                                        <div class="col-lg-4">
                                            <figure>
                                                <a href="Libreria/img/2017/abr/comunidad_huizachal/img2.jpg" target="_blank">
                                                    <img src="Libreria/img/2017/abr/comunidad_huizachal/img2.jpg" class="thumbnail img-responsive" alt="img" />
                                                </a>
                                            </figure>
                                        </div>
                                        <div class="col-lg-4">
                                            <figure>
                                                <a href="Libreria/img/2017/abr/comunidad_huizachal/img3.jpg" target="_blank">
                                                    <img src="Libreria/img/2017/abr/comunidad_huizachal/img3.jpg" class="thumbnail img-responsive" alt="img" />
                                                </a>
                                            </figure>
                                        </div>
                                    </div>
                                </div>
                            </article>
                            <article>
                                <div class="panel panel-success">
                                    <div class="panel-heading">
                                        <b>Asistencia Familiar en Vacaciones de Semana Santa .:. H. Ayuntamiento de San Lucas, Mich.</b>
                                    </div>
                                    <time datetime="2017-04-10" style="color:grey;text-align:justify;">
                                        publicado el miércoles 12 de abril de 2017.
                                    </time>
                                    <div class="panel-body">
                                        <p style="padding:20px; text-align:justify;">
                                            <b>
                                                El día martes 11 de Abril de 2017, en el Marco Conmemorativo de la Asistencia a las Familias en Estas Vacaciones de Semana Santa la Propia Comuna Acompaña al Presidente a la Instalación de un Módulo de Protección Civil en la Tenencia De Vicente Riva Palacio.
                                            </b>
                                        </p>
                                        <div class="col-lg-6">
                                            <figure>
                                                <a href="Libreria/img/2017/abr/asistencia_familiar/img1.jpg" target="_blank">
                                                    <img src="Libreria/img/2017/abr/asistencia_familiar/img1.jpg" class="thumbnail img-responsive" alt="img" />
                                                </a>
                                            </figure>
                                        </div>
                                        <div class="col-lg-6">
                                            <figure>
                                                <a href="Libreria/img/2017/abr/asistencia_familiar/img2.jpg" target="_blank">
                                                    <img src="Libreria/img/2017/abr/asistencia_familiar/img2.jpg" class="thumbnail img-responsive" alt="img" />
                                                </a>
                                            </figure>
                                        </div>
                                    </div>
                                </div>
                            </article>
                            <article>
                                <div class="panel panel-success">
                                    <div class="panel-heading">
                                        <b>Construcción del Auditorio Municipal "Las Camelinas" .:. H. Ayuntamiento de San Lucas, Mich.</b>
                                    </div>
                                    <time datetime="2017-04-10" style="color:grey;text-align:justify;">
                                        publicado el miércoles 12 de abril de 2017.
                                    </time>
                                    <div class="panel-body">
                                        <p style="padding:20px; text-align:justify;">
                                            <b>
                                                El día martes 12 de abril de 2017, Visita de Revisión de Avance de la Construcción del Auditorio para Usos Multiples "Las Camelinas"; el cual, Comenta el Propio Presidente que debe estar Terminado el dia 5 de Mayo de la Presente Anualidad.
                                            </b>
                                        </p>
                                        <div class="col-lg-4">
                                            <figure>
                                                <a href="Libreria/img/2017/abr/auditorio_municipal/img1.jpg" target="_blank">
                                                    <img src="Libreria/img/2017/abr/auditorio_municipal/img1.jpg" class="thumbnail img-responsive" alt="img" />
                                                </a>
                                            </figure>
                                        </div>
                                        <div class="col-lg-4">
                                            <figure>
                                                <a href="Libreria/img/2017/abr/auditorio_municipal/img2.jpg" target="_blank">
                                                    <img src="Libreria/img/2017/abr/auditorio_municipal/img2.jpg" class="thumbnail img-responsive" alt="img" />
                                                </a>
                                            </figure>
                                        </div>
                                        <div class="col-lg-4">
                                            <figure>
                                                <a href="Libreria/img/2017/abr/auditorio_municipal/img3.jpg" target="_blank">
                                                    <img src="Libreria/img/2017/abr/auditorio_municipal/img3.jpg" class="thumbnail img-responsive" alt="img" />
                                                </a>
                                            </figure>
                                        </div>
                                    </div>
                                </div>
                            </article>
                            <article>
                                <div class="panel panel-success">
                                    <div class="panel-heading">
                                        <b>Rehabilitación del Antiguo Centro de Salud .:. H. Ayuntamiento de San Lucas, Mich.</b>
                                    </div>
                                    <time datetime="2017-04-10" style="color:grey;text-align:justify;">
                                        publicado el miércoles 12 de abril de 2017.
                                    </time>
                                    <div class="panel-body">
                                        <p style="padding:20px; text-align:justify;">
                                            <b>
                                                El C. Arturo Torres Acompañado de la Autoridad de Salud; La Doctora Alondra Garcen Chavez Directora del Centro de Salud Realizan Visita de la Rehabilitación del Antiguo Centro de Salud; el cual, en el Termino de una Semana ya estará en Situación de uso.
                                            </b>
                                        </p>
                                        <div class="col-lg-3">
                                            <figure>
                                                <a href="Libreria/img/2017/abr/centro_de_salud/img1.jpg" target="_blank">
                                                    <img src="Libreria/img/2017/abr/centro_de_salud/img1.jpg" class="thumbnail img-responsive" alt="img" />
                                                </a>
                                            </figure>
                                        </div>
                                        <div class="col-lg-3">
                                            <figure>
                                                <a href="Libreria/img/2017/abr/centro_de_salud/img2.jpg" target="_blank">
                                                    <img src="Libreria/img/2017/abr/centro_de_salud/img2.jpg" class="thumbnail img-responsive" alt="img" />
                                                </a>
                                            </figure>
                                        </div>
                                        <div class="col-lg-3">
                                            <figure>
                                                <a href="Libreria/img/2017/abr/centro_de_salud/img3.jpg" target="_blank">
                                                    <img src="Libreria/img/2017/abr/centro_de_salud/img3.jpg" class="thumbnail img-responsive" alt="img" />
                                                </a>
                                            </figure>
                                        </div>
                                        <div class="col-lg-3">
                                            <figure>
                                                <a href="Libreria/img/2017/abr/centro_de_salud/img4.jpg" target="_blank">
                                                    <img src="Libreria/img/2017/abr/centro_de_salud/img4.jpg" class="thumbnail img-responsive" alt="img" />
                                                </a>
                                            </figure>
                                        </div>
                                    </div>
                                </div>
                            </article>
                            <article>
                                <div class="panel panel-success">
                                    <div class="panel-heading">
                                        <b>Visita del Gobernador Silvano Aureoles Conejo .:. H. Ayuntamiento de San Lucas, Mich.</b>
                                    </div>
                                    <time datetime="2017-04-19" style="color:grey;text-align:justify;">
                                        publicado el miércoles 19 de abril de 2017.
                                    </time>
                                    <div class="panel-body">
                                        <p style="padding:20px; text-align:justify;">
                                            <b>
                                                El Lunes 17 de Abril de 2017, Asistió en la Localidad de Vicente Riva Palacio del municipio San Lucas el Gobernador Silvano Aureoles Conejo, en cumplimiento a sus Compromisos con los Habitantes de esta Tenencia, Tomó Protesta e Instaló el Comite Ciudadano para el Desarrollo Integral de la Comunidad. 
                                                Traeremos Progreso y desarrollo a esta Tenencia, Garantiza Silvano Aureoles. Tambien Visitó la Casa del Sacerdote Nicolás Valencia Rivas, Con quien se Comprometió a Remodelar la Vivienda y Apoyar en la Compra del Predio para Construcción de la casa Parroquial.
                                                El Presidente Municipal el C. Arturo Torres Aguirre junto con la Jefa de Tenencia La Maestra Ofelia Santibañez Carbajal, Agradecieron al Gobernador por todo su apoyo brindado para el Desarrollo de la localidad y el Municipio.
                                            </b>
                                        </p>
                                        <div class="col-lg-3">
                                            <figure>
                                                <a href="Libreria/img/2017/abr/visita_gobernador/img1.jpg" target="_blank">
                                                    <img src="Libreria/img/2017/abr/visita_gobernador/img1.jpg" class="thumbnail img-responsive" alt="img" />
                                                </a>
                                            </figure>
                                        </div>
                                        <div class="col-lg-3">
                                            <figure>
                                                <a href="Libreria/img/2017/abr/visita_gobernador/img2.jpg" target="_blank">
                                                    <img src="Libreria/img/2017/abr/visita_gobernador/img2.jpg" class="thumbnail img-responsive" alt="img" />
                                                </a>
                                            </figure>
                                        </div>
                                        <div class="col-lg-3">
                                            <figure>
                                                <a href="Libreria/img/2017/abr/visita_gobernador/img3.jpg" target="_blank">
                                                    <img src="Libreria/img/2017/abr/visita_gobernador/img3.jpg" class="thumbnail img-responsive" alt="img" />
                                                </a>
                                            </figure>
                                        </div>
                                        <div class="col-lg-3">
                                            <figure>
                                                <a href="Libreria/img/2017/abr/visita_gobernador/img4.jpg" target="_blank">
                                                    <img src="Libreria/img/2017/abr/visita_gobernador/img4.jpg" class="thumbnail img-responsive" alt="img" />
                                                </a>
                                            </figure>
                                        </div>
                                    </div>
                                </div>
                            </article>
                            <article>
                                <div class="panel panel-success">
                                    <div class="panel-heading">
                                        <b>Construcción de un Pozo Noria .:. H. Ayuntamiento de San Lucas, Mich.</b>
                                    </div>
                                    <time datetime="2017-04-20" style="color:grey;text-align:justify;">
                                        publicado el jueves 20 de abril de 2017.
                                    </time>
                                    <div class="panel-body">
                                        <p style="padding:20px; text-align:justify;">
                                            <b>
                                                El día miércoles 19 de 2017, El C. Arturo Torres Aguirre acompañado por la regidora Nereida Estrada arribaron a la comunidad de los Brasiles, lugar donde Inician la Construcción de un Pozo Noria para abastecer de Agua a los más de 50 familias que ahí habitan.
                                            </b>
                                        </p>
                                        <div class="col-lg-2"></div>
                                        <div class="col-lg-8">
                                            <figure>
                                                <a href="Libreria/img/2017/abr/pozo_noria/img1.jpg" target="_blank">
                                                    <img src="Libreria/img/2017/abr/pozo_noria/img1.jpg" class="thumbnail img-responsive" alt="img" />
                                                </a>
                                            </figure>
                                        </div>
                                        <div class="col-lg-2"></div>
                                    </div>
                                </div>
                            </article>
                            <article>
                                <div class="panel panel-success">
                                    <div class="panel-heading">
                                        <b>Día 30 de Abril, Felicidad del día del Niño!! .:. H. Ayuntamiento de San Lucas, Mich.</b>
                                    </div>
                                    <time datetime="2017-04-20" style="color:grey;text-align:justify;">
                                        publicado el martes 2 de mayo de 2017.
                                    </time>
                                    <div class="panel-body">
                                        <p style="padding:20px; text-align:justify;">
                                            <b>
                                                El día 30 de abril de 2017, El H. Ayuntamiento Constitucional Gestión 2015 -2018 quien Dirige el C. Arturo Torres en Organización con el Dif Municipal, Regidores y Trabajadores del H. Ayuntamiento, Celebraron el Día 30 de Abril, El día del Niño, en la Cabecera Municipal y en las distintas comunidades como lo son; Salguero, Angao, Corral Viejo, Riva Palacio, La Chica, San Jeronimo, Tacupa entre otras.
                                            </b>
                                        </p>
                                        <div class="col-lg-4">
                                            <figure>
                                                <a href="Libreria/img/2017/abr/dia_del_niño/img1.jpg" target="_blank">
                                                    <img src="Libreria/img/2017/abr/dia_del_niño/img1.jpg" class="thumbnail img-responsive" alt="img" />
                                                </a>
                                            </figure>
                                        </div>
                                        <div class="col-lg-4">
                                            <figure>
                                                <a href="Libreria/img/2017/abr/dia_del_niño/img2.jpg" target="_blank">
                                                    <img src="Libreria/img/2017/abr/dia_del_niño/img2.jpg" class="thumbnail img-responsive" alt="img" />
                                                </a>
                                            </figure>
                                        </div>
                                        <div class="col-lg-4">
                                            <figure>
                                                <a href="Libreria/img/2017/abr/dia_del_niño/img3.jpg" target="_blank">
                                                    <img src="Libreria/img/2017/abr/dia_del_niño/img3.jpg" class="thumbnail img-responsive" alt="img" />
                                                </a>
                                            </figure>
                                        </div>
                                        <div class="col-lg-4">
                                            <figure>
                                                <a href="Libreria/img/2017/abr/dia_del_niño/img4.jpg" target="_blank">
                                                    <img src="Libreria/img/2017/abr/dia_del_niño/img4.jpg" class="thumbnail img-responsive" alt="img" />
                                                </a>
                                            </figure>
                                        </div>
                                        <div class="col-lg-4">
                                            <figure>
                                                <a href="Libreria/img/2017/abr/dia_del_niño/img5.jpg" target="_blank">
                                                    <img src="Libreria/img/2017/abr/dia_del_niño/img5.jpg" class="thumbnail img-responsive" alt="img" />
                                                </a>
                                            </figure>
                                        </div>
                                        <div class="col-lg-4">
                                            <figure>
                                                <a href="Libreria/img/2017/abr/dia_del_niño/img6.jpg" target="_blank">
                                                    <img src="Libreria/img/2017/abr/dia_del_niño/img6.jpg" class="thumbnail img-responsive" alt="img" />
                                                </a>
                                            </figure>
                                        </div>
                                    </div>
                                </div>
                            </article>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3"><!-- Barra lateral -->
            <aside>
                <?php 
                    include "Vista/main.phtml";
                    include "Vista/submenu.phtml";
                ?>
            </aside>
        </div><!-- end BL -->
    </div>
</section>
