<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>H. Ayuntamiento, San Lucas Michoac&aacute;n - Portal Oficial del Municipio de San Lucas Michoac&aacute;n.</title>
	<link rel="shortcut icon" type="image/x-icon" href="Libreria/img/favicon.png" />
	<link rel="stylesheet" type="text/css" href="Libreria/css/estilos.css" />
	<!--<link rel="stylesheet" href="Libreria/css/bootstrap.min.css"/>-->
  <link rel="stylesheet" href="Libreria/css/bootstrap.min.css"/>
  <script src="Libreria/js/jquery.min.js"></script>
  <script src="Libreria/js/bootstrap.min.js"></script>
  <style>
  .carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 70%;
      margin: auto;
  }
  </style>
</head>
<body >
	<div id="particles-js"></div>
    <header>
        <div class="menu">
            <div class="contenedor">
            <img src="Libreria/img/favicon.png" width="65" height="65" />
                <div class="logo"><b>H. AYUNTAMIENTO 2015 :-: 2018</b></div>
                <nav>
                    <ul>
                        <li style="navy"><a href="?fp=principal"><b>Principal</b></a></li>
                        <li><a href="?fp=historia"><b>Historia</b></a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    <div class="texto">
        <h2>Bienvenid@</h2>
        <h3>Portal Oficial del Municipio de San Lucas Michoacán.</h3>
        <br />
        <p>Trabajar para Construir</p>
    </div>
    <div class="principal contenedor">
        <article>
            <h2 class="titulo">Municipio San Lucas Michoacán.</h2>
            <p class="fecha">29 de mayo 2016</p>
  <br />
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
      <li data-target="#myCarousel" data-slide-to="3"></li>
      <li data-target="#myCarousel" data-slide-to="4"></li>
      <li data-target="#myCarousel" data-slide-to="5"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">

      <div class="item active">
        <img src="Libreria/img/index/Img1.jpg" alt="Chania" class="thumbnail img-responsive">
        <div class="carousel-caption">
          <h3>Jardin Principal</h3>
          <p></p>
        </div>
      </div>

      <div class="item">
        <img src="Libreria/img/index/Img2.jpg" alt="Chania" class="thumbnail img-responsive" >
        <div class="carousel-caption">
          <h3>Plaza de Toros</h3>
          <p></p>
        </div>
      </div>
    
      <div class="item">
        <img src="Libreria/img/index/Img3.JPG" alt="Flower" class="thumbnail img-responsive" >
        <div class="carousel-caption">
          <h3>Iglesaia de la Inmaculada Concepción</h3>
          <p></p>
        </div>
      </div>

      <div class="item">
        <img src="Libreria/img/index/Img4.jpg" alt="Flower" class="thumbnail img-responsive" >
        <div class="carousel-caption">
          <h3>Iglesaia de la Inmaculada Concepción(Parte Interior)</h3>
          <p></p>
        </div>
      </div>
  
        <div class="item">
        <img src="Libreria/img/index/Img5.jpg" alt="Flower" class="thumbnail img-responsive" >
        <div class="carousel-caption">
          <h3>Fuente</h3>
          <p></p>
        </div>
      </div>
      
      <div class="item">
        <img src="Libreria/img/index/Img6.jpg" alt="Flower" class="thumbnail img-responsive" >
        <div class="carousel-caption">
          <h3>El Salon Cristo Rey</h3>
          <p></p>
        </div>
      </div>
  
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
        </article>
    </div>
    <div class="texto">
        <p>www.transparenciasanlucas.gob.mx</p><br />
        <cite>Copyright © 2015-2018 H. Ayuntamiento San Lucas Michoacán.</cite>
    </div>
</body>
</html>